<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>

%if verification_status == 'approved':
<li class="status status-verification is-accepted">
  <span class="title status-title">${_("ID Verification Status")}</span>

  <div class="status-data">
    <span class="status-data-message">${_("Reviewed and Verified")}</span>

    <div class="status-note">
      <span class="deco-arrow"></span>

      <p>${_("Your verification status is good for one year after submission.")}</p>
    </div>
  </div>
</li>
%endif

%if verification_status == 'pending':
<li class="status status-verification is-pending">
  <span class="title status-title">${_("ID Verification Status")}</span>

  <div class="status-data">
    <span class="status-data-message">${_("Pending")}</span>

    <div class="status-note">
      <span class="deco-arrow"></span>

      <p>${_("Your verification photos have been submitted and will be reviewed shortly.")}</p>
    </div>
  </div>
</li>

%endif

%if verification_status in ['must_reverify', 'expired']:
<li class="status status-verification is-denied">
<span class="title status-title">${_("{platform_name} Verification Status").format(platform_name=settings.PLATFORM_NAME)}</span>

  <div class="status-data">
    <span class="status-data-message">${verification_msg}</span>

    <ul class="list-actions">
    <li class="action-item action-item-reverify">
      <a href="${reverse('verify_student_reverify')}" class="action action-reverify">${_("Resubmit Verification")}</a>
    </li>
    </ul>

    <div class="status-note">
      <span class="deco-arrow"></span>

      <p>${_("To receive a verified certificate, you have to submit a new photo of yourself and your government-issued photo ID before the course ends.")}</p>
    </div>
  </div>
</li>
%endif


