<%page args="course, enrollment, show_courseware_link, cert_status, show_email_settings, course_mode_info, show_refund_option" />

<%! from django.utils.translation import ugettext as _ %>
<%!
  from django.core.urlresolvers import reverse
  from courseware.courses import course_image_url, get_course_about_section
  import waffle
%>

<%namespace name='static' file='../static_content.html'/>

<li class="course-item">
  <article class="course ${enrollment.mode}">
    <%
      if waffle.flag_is_active(request, 'merge_course_tabs'):
          course_target = reverse('courseware', args=[course.id])
      else:
          course_target = reverse('info', args=[course.id])
    %>

    % if show_courseware_link:
      <a href="${course_target}" class="cover">
        <img src="${course_image_url(course)}" alt="${_('{course_number} {course_name} Cover Image').format(course_number=course.number, course_name=course.display_name_with_default) |h}" />
      </a>
    % else:
      <div class="cover">
        <img src="${course_image_url(course)}" alt="${_('{course_number} {course_name} Cover Image').format(course_number=course.number, course_name=course.display_name_with_default) | h}" />
      </div>
    % endif

    % if enrollment.mode == "verified":
      <span class="sts-enrollment">
        <span class="label">${_("Enrolled as: ")}</span>
        <img class="deco-graphic" src="${static.url('images/vcert-ribbon-s.png')}" alt="ID Verified Ribbon/Badge" />
        <span class="sts-enrollment-value">${_("ID Verified")}</span>
      </span>
    % endif

    <section class="info">
      <hgroup>
        <p class="date-block">
        % if course.has_ended():
        ${_("Course Completed - {end_date}").format(end_date=course.end_date_text)}
        % elif course.has_started():
        ${_("Course Started - {start_date}").format(start_date=course.start_date_text)}
        % else:   # hasn't started yet
        ${_("Course Starts - {start_date}").format(start_date=course.start_date_text)}
        % endif
        </p>
        <h2 class="university">${get_course_about_section(course, 'university')}</h2>
        <h3>
          % if show_courseware_link:
            <a href="${course_target}">${course.display_number_with_default | h} ${course.display_name_with_default}</a>
          % else:
            <span>${course.display_number_with_default | h} ${course.display_name_with_default}</span>
          % endif
        </h3>
      </hgroup>

      % if course.has_ended() and cert_status and not enrollment.mode == 'audit':
          <%
          if cert_status['status'] == 'generating':
              status_css_class = 'course-status-certrendering'
          elif cert_status['status'] == 'ready':
              status_css_class = 'course-status-certavailable'
          elif cert_status['status'] == 'notpassing':
              status_css_class = 'course-status-certnotavailable'
          else:
              status_css_class = 'course-status-processing'
          %>
          <div class="message message-status ${status_css_class} is-shown">

          % if cert_status['status'] == 'processing':
                <p class="message-copy">${_("Final course details are being wrapped up at this time. Your final standing will be available shortly.")}</p>
          % elif cert_status['status'] in ('generating', 'ready', 'notpassing', 'restricted'):
                <p class="message-copy">${_("Your final grade:")}
                <span class="grade-value">${"{0:.0f}%".format(float(cert_status['grade'])*100)}</span>.
                % if cert_status['status'] == 'notpassing':
                   ${_("Grade required for a certificate:")} <span class="grade-value">
                     ${"{0:.0f}%".format(float(course.lowest_passing_grade)*100)}</span>.
                % elif cert_status['status'] == 'restricted':
                    <p class="message-copy">
                    ${_("Your certificate is being held pending confirmation that the issuance of your certificate is in compliance with strict U.S. embargoes on Iran, Cuba, Syria and Sudan. If you think our system has mistakenly identified you as being connected with one of those countries, please let us know by contacting {email}.").format(email='<a class="contact-link" href="mailto:{email}">{email}</a>.'.format(email=settings.CONTACT_EMAIL))}
                    </p>
                % endif
                </p>
          % endif

          % if cert_status['show_disabled_download_button'] or cert_status['show_download_url'] or cert_status['show_survey_button']:
            <ul class="actions">
              % if cert_status['show_disabled_download_button']:
                <li class="action"><span class="disabled">
                    ${_("Your Certificate is Generating")}</span></li>
              % elif cert_status['show_download_url']:
                <li class="action">
                <a class="btn" href="${cert_status['download_url']}"
                   title="${_('This link will open/download a PDF document')}">
                   ${_("Download Your PDF Certificate")}</a></li>
              % endif

              % if cert_status['show_survey_button']:
                <li class="action"><a class="cta" href="${cert_status['survey_url']}">
                       ${_("Complete our course feedback survey")}</a></li>
              % endif
            </ul>
          % endif
          </div>

      % endif

      %if course_mode_info['show_upsell']:
        <div class="message message-upsell has-actions is-expandable is-shown">

            <div class="wrapper-tip">
              <h4 class="message-title">${_("Challenge Yourself!")}</h4>
              <p class="message-copy">${_("Take this course as an ID-verified student.")}</p>
            </div>

            <div class="wrapper-extended">
                <p class="message-copy">${_("You can still sign up for an ID verified certificate for this course. If you plan to complete the whole course, it is a great way to recognize your achievement. {a_start}Learn more about verified certificates{a_end}.").format(a_start='<a href="{}">'.format(marketing_link('WHAT_IS_VERIFIED_CERT')), a_end="</a>")}</p>

              <ul class="actions message-actions">
                <li class="action-item">
                  <a class="action action-upgrade" href="${reverse('course_modes_choose', kwargs={'course_id': course.id})}?upgrade=True">
                    <img class="deco-graphic" src="${static.url('images/vcert-ribbon-s.png')}" alt="ID Verified Ribbon/Badge">
                    <span class="wrapper-copy">
                      <span class="copy">${_("Upgrade to Verified Track")}</span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
        </div>
      %endif

      % if show_courseware_link:
        % if course.has_ended():
          <a href="${course_target}" class="enter-course archived">${_('View Archived Course')}</a>
        % else:
          <a href="${course_target}" class="enter-course">${_('View Course')}</a>
        % endif
      % endif

      <a href="#unenroll-modal" class="unenroll" rel="leanModal" data-course-id="${course.id}" data-course-number="${course.number}">${_('Unregister')}</a>



% if show_email_settings:
        <a href="#email-settings-modal" class="email-settings" rel="leanModal" data-course-id="${course.id}" data-course-number="${course.number}" data-optout="${course.id in course_optouts}">${_('Email Settings')}</a>
% endif



  </section>
</article>
</li>

<section id="unenroll-modal" class="modal unenroll-modal" aria-hidden="true">
  <div class="inner-wrapper" role="alertdialog" aria-labelledy="unenrollment-modal-title">
    <button class="close-modal">&#10005; <span class="sr">${_('Close Modal')}</span></button>

    <header>
      % if enrollment.mode != "verified":
      <h2 id="unenrollment-modal-title">${_('Are you sure you want to unregister from {course_number}?').format(course_number='<span id="unenroll_course_number"></span>')}<span class="sr">, ${_("modal open")}</span></h2>
      % elif show_refund_option:
      <h2 id="unenrollment-modal-title">${_('Are you sure you want to unregister from {course_number}?  You will be refunded for the amount paid for the verified certificate.').format(course_number='<span id="unenroll_course_number"></span>')}<span class="sr">, ${_("modal open")}</span></h2>
      % else:
      <h2 id="unenrollment-modal-title">${_('Are you sure you want to unregister from {course_number}?  The deadline for verified certificate refunds has passed, so you will not receive any money back.').format(course_number='<span id="unenroll_course_number"></span>')}<span class="sr">, ${_("modal open")}</span></h2>
      % endif
      <hr/>
    </header>

    <div id="unenroll_error" class="modal-form-error"></div>

    <form id="unenroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <input name="course_id" id="unenroll_course_id" type="hidden" />
      <input name="enrollment_action" type="hidden" value="unenroll" />
      <div class="submit">
        <input name="submit" type="submit" value="${_('Unregister')}" />
      </div>
    </form>
  </div>
</section>
