<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
## TODO replace this with something a clever deisgn person approves of
## TODO replace this with a shiny loopy thing to actually print out all courses

% if reverifications["must_reverify"] or reverifications["pending"] or reverifications["denied"] or reverifications["approved"]:
<li class="status status-verification is-accepted">
  <span class="title status-title">${_("Re-verification now open for:")}</span>

    <ul class="reverify-status-list">

    % if reverifications["must_reverify"]:
        % for item in reverifications["must_reverify"]:
            <li class="status-item is-open"><i class="icon-circle-blank"></i><span class="label">${_('Re-verify now:')}</span> <span class="course-name"><a href="${reverse('verify_student_midcourse_reverify_dash')}">${item.course_name}</span></a></li>
        % endfor
    %endif

    % if reverifications["pending"]:
        % for item in reverifications["pending"]:
            <li class="status-item is-pending"><i class="icon-circle-blank"></i><span class="label">${_('Pending:')}</span> <span class="course-name"><a href="${reverse('verify_student_midcourse_reverify_dash')}">${item.course_name}</span></a></li>
        % endfor
    %endif

    % if reverifications["denied"]:
        % for item in reverifications["denied"]:
            <li class="status-item is-denied"><i class="icon-remove-sign"></i><span class="label">${_('Denied:')}</span> <span class="course-name"><a href="${reverse('verify_student_midcourse_reverify_dash')}">${item.course_name}</span></a></li>
        % endfor
    %endif

    % if reverifications["approved"]:
        % for item in reverifications["approved"]:
            <li class="status-item is-approved"><i class="icon-ok"></i><span class="label">${_('Approved:')}</span> <span class="course-name"><a href="${reverse('verify_student_midcourse_reverify_dash')}">${item.course_name}</span></a></li>
        % endfor
    %endif
    </ul>
</li>
%endif
