.open-response-assessment-block {

  table {
    table-layout: fixed;
  }

  .open-response-assessment-msg {
    margin-bottom: 20px;
  }

  .open-response-assessment-content,
  .open-response-assessment-item
  {
    display: none;
  }

  .open-response-assessment-summary {
    td {
      border: none;
      padding: 0.5rem;
    }
  }

  .open-response-assessment-item-breadcrumbs {
    padding-bottom: 20px;
    a {
      cursor: pointer;
    }
  }

  .open-response-assessment-main-table {
    th {
      background-color: #ffffff;
      text-align: left;
      padding: 0.5rem;

      button {
        background: none;
        border: none;
        box-shadow: none;
        outline: none;
        font-size: 14px;
        padding-left: 0px;
        text-align: left;
      }

      a {
        color: #000000 !important;
      }
    }

    td {
      padding: 0.5rem;
      a {
        cursor: pointer;
      }
    }

    tbody tr:nth-child(odd) {
      background-color: #f9f9f9;
    }
  }

  %truncated-digits {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .ora-summary-title {
    color: #0079bc;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
  }

  .ora-summary-value {
    @extend %truncated-digits;
    font-size: 1.5em;
    padding-top: 0.5rem;
  }

  .backgrid {
    @extend %truncated-digits;
    .peer, .self, .staff, .waiting, .training {
      width: 80px;
    }
    .total {
      width: 140px;
    }
    .done {
      width: 170px;
    }
  }
}
