<%! from django.utils.translation import ugettext as _ %>
<section id="self_assessment_${id}" class="open-ended-child" data-ajax-url="${ajax_url}"
         data-id="${id}" data-state="${state}" data-allow_reset="${allow_reset}" data-child-type="${child_type}">
    <div class="error"></div>
    <div class="prompt">
    ${prompt}
    </div>

    <h4>${_("Response")}</h4>
    <div>
    <textarea name="answer" class="answer short-form-response" cols="70" rows="20">${previous_answer|n}</textarea>
    </div>

    <div class="open-ended-action"></div>

    <div class="rubric-wrapper">${initial_rubric}</div>

    <div class="hint-wrapper"></div>

    <div class="message-wrapper"></div>

    <div class="file-upload"></div>
    <input type="button" value="${_("Submit")}" class="submit-button" name="show"/>
</section>
