section.activation {
  @extend .wrapper;
  @include box-shadow(0 1px 0 #fff);
  @include box-sizing(border-box);
  background: #fff;
  border-top: 0;
  border: 1px solid #ccc;
  max-width: 600px;
  padding: lh();
  margin-top: lh();
}
