h1 {
  font-size:1.6em;
  margin:20px 0 10px 0;
}

h2 {
  font-size: $body-font-size;
  font-weight: bold;
  letter-spacing: 1px;
  margin:20px 0 10px 0;
  text-transform: uppercase;
}

h3 {
  
}

p {
  margin-bottom: $body-line-height;
}

#{$all-text-inputs}, textarea {
  @include box-shadow(0 -1px 0 #fff);
  @include linear-gradient(#eee, #fff);
  border: 1px solid #999;
  font: $body-font-size $body-font-family;
  padding: 4px;

  &:focus {
    border-color: $mit-red;
  }
}

input[type="submit"], input[type="button"], button {
  @extend .button;
}

