.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: $max-width;
  width: grid-width(12);
  text-align: left;
}

.button {
  @include box-shadow(inset 0 1px 0 lighten(#888, 10%), 0 0 3px #ccc);
  @include linear-gradient(lighten(#888, 5%), darken(#888, 5%));
  @include border-radius(3px);
  border: 1px solid darken(#888, 10%);
  padding: 4px 8px;
  color: #fff;
  font: bold $body-font-size $body-font-family;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;

  &:hover, &:focus {
    @include box-shadow(inset 0 1px 0 lighten(#888, 20%), 0 0 3px #ccc);
    @include linear-gradient(lighten(#888, 10%), darken(#888, 5%));
    border: 1px solid darken(#888, 20%);
  }
}
