div.course-wrapper {
  @extend .table-wrapper;

  ul, ol {
    list-style: none;
  }

  div#accordion {
    @extend .sidebar;

		div#open_close_accordion {
			position: absolute;
			right: 0px;
			width: 20px;
			height: 20px;
			background: #ccc;
			border: 1px solid black;
			right: -22px;
			top: 5px;
		}
		
    h3 {
      overflow: hidden;
      margin: 0;

      &:last-child {
        @include box-shadow(none);
      }

      &.ui-accordion-header {
        color: #000;

        a {
          font-size: $body-font-size;
          color: lighten($text-color, 10%);
        }

        &.ui-state-hover {
          border: none;
          border-bottom: 1px solid #d3d3d3;
        }

        &.ui-state-active {
          @extend .active;
        }
      }
    }

    ul.ui-accordion-content {
      @include border-radius(0);
      @include box-shadow( inset -1px 0 0 #e6e6e6);
      background: #d6d6d6;
      border: none;
      border-bottom: 1px solid #c3c3c3;
      font-size: 12px;
      margin: 0;
      overflow: hidden;

      li {
        &.active {
          font-weight: bold;
        }

        a {
          text-decoration: none;
          margin-bottom: $body-line-height;
          display: block;

          &:hover {
            color: #666;
          }

          p {
            margin-bottom: 0;

            &.subtitle {
              color: #666;
            }
          }
        }
      }
    }
  }

  section.course-content {
    @extend .content;

    ol.vert-mod {
      li {
        @extend .clearfix;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 15px 0;

        h2 {
          margin-top: 0;
          margin-bottom: 15px;
        }

        input[type="text"] {
          display: inline-block;
          margin: 8px 4px 4px 10px;
        }
      }
    }

    ol.sequence-nav {
      margin-bottom: $body-line-height;
      @extend .topbar;

      li {
        border: none;
        cursor: pointer;
        display: table-cell;
        padding: lh(.75);
        float: left;

        &.prev, &.next {
          @include box-shadow(inset 1px 0 0 lighten(#f6efd4, 5%));
          background: darken(#F6EFD4, 5%);
          border-left: 1px solid darken(#f6efd4, 20%);
          color: darken(#F6EFD4, 80%);
          float: right;
          letter-spacing: 1px;
          padding: lh(.75);
          text-transform: uppercase;

          &:hover {
            text-decoration: none;
            color: darken(#F6EFD4, 60%);
            text-decoration: none;
            background: none;
          }
        }
      }
    }
  }
}
