section.course-content {

  div.video-wrapper {
    float: left;
    width: flex-grid(6, 9);
    margin-right: flex-gutter(9);

    div.video-player {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;

      object {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      iframe#html5_player {
        border: none;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    // ul {
    //   float: left;

    //   li {
    //     margin-top: 5px;
    //     display: inline-block;
    //     cursor: pointer;
    //     border: 0;
    //     padding: 0;

    //     div {
    //       &:empty {
    //         display: none;
    //       }
    //     }
    //   }
    // }

    section.video-controls {
      @extend .clearfix;
      background: #333;
      border: 1px solid #000;
      color: #ccc;

      div#slider {
        @extend .clearfix;
        @include border-radius(0);
        @include box-shadow(inset 0 1px 0 #eee, 0 1px 0 #555);
        background: #c2c2c2;
        border: none;
        border-bottom: 1px solid #000;
        height: 22px;

        a.ui-slider-handle {
          @include border-radius(0);
          background: $mit-red url(/static/images/slider-handle.png) center center no-repeat;
          border: 0;
          border-right: 1px solid darken($mit-red, 20%);
          border-left: 1px solid darken($mit-red, 20%);
          cursor: pointer;
          height: 22px;
          margin: 0;
          top: 0;
          width: 22px;
        }
      }

      ul.vcr {
        float: left;
        margin-right: lh();

        li {
          float: left;

          a {
            @include box-shadow(1px 0 0 #555);
            border-right: 1px solid #000;
            display: block;
            cursor: pointer;
            height: 14px;
            padding: lh(.75) lh();
            text-indent: -9999px;
            width: 14px;

            &.play {
              background: url('/static/images/play-icon.png') center center no-repeat;

              &:hover {
                background-color: #444;
              }
            }

            &.pause {
              background: url('/static/images/pause-icon.png') center center no-repeat;

              &:hover {
                background-color: #444;
              }
            }
          }
        }
      }

      div#vidtime {
        float: left;
        font-weight: bold;
        line-height: 46px; //height of play pause buttons
        -webkit-font-smoothing: antialiased;
      }

      div.speeds {
        float: right;
        line-height: 46px; //height of play pause buttons
        margin-right: lh();
        -webkit-font-smoothing: antialiased;

        div#video_speeds {
          @include inline-block();
          font-weight: bold;

          span {
            cursor: pointer;

            &:hover {
              color: $mit-red;
            }
          }
        }
      }
    }
  }

  ol.subtitles {
    float: left;
    width: flex-grid(3, 9);

    li {
      margin-bottom: 0px;
      cursor: pointer;
      border: 0;
      padding: 0;
      color: #666;

      &.current {
        background-color: #f3f3f3;
        color: #333;
      }

      &:hover {
        color: $mit-red;
      }

      div {
        margin-bottom: 8px;
      }

      div:empty {
        margin-bottom: 0px;
      }
    }
  }

}
