ul.tags {
  list-style: none;
  li, a {
    position: relative;
  }
  li {
    @include border-radius(4px);
    background: #eee;
    color: #555;
    display: inline;
    font-size: 12px;
    margin-left: 15px;
    padding: 3px 10px 5px 5px;

    &:before {
     content:"";
     position:absolute;
     top:0;
     left:-11px;
     width:0;
     height:0;
     border-color:transparent #eee transparent transparent;
     border-style:solid;
     border-width:12px 12px 12px 0;
    }
  }
}
