body.askbot {
  .secondary-nav {
    margin: 0;

    nav {
      @extend .clearfix;
      @extend .topbar;
      @extend .wrapper;
      @include box-sizing(border-box);
      border: 1px solid darken(#F6EFD4, 10%);
      border-top: 0;
      margin: 0 auto;
      padding: $body-line-height;

      div {
        float: left;

        &.question-filter {
          font-size:16px;
          margin-top: 4px;
          width: grid-width(4);

          ul {
            @include border-radius(35px);
            background: darken(#F6EFD4, 20%);
            display: inline;
            margin: 0 0 0 10px;
            padding: $body-line-height/4 20px;

            li {
              display: inline-block;
              list-style: none;
              margin-right: 10px;

              &:last-child {
                margin-right: 0;
              }

              a {
                text-transform: capitalize;
                text-shadow: none;
                font-size: 14px;

                &.on {
                  font-weight: bold;
                }
              }
            }
          }
        }

        &.search-box {
          margin-left:2%;
          text-align:right;
          width: grid-width(8);
        }

      }
    }
  }

  .main-content {
    .discussion-wrapper {
      display: table;
      width: 100%;

      .discussion-content {
        @include box-sizing(border-box);
        display: table-cell;
        padding: $gw-gutter;
        vertical-align: top;
        width: grid-width(9);

        .order-sort {
          @include border-radius(35px);
          background-color: lighten(#F6EFD4, 5%) ;
          height: 30px;
          float: right;
          font-size: 16px;
          margin: 3px 0;
          padding: 0 20px;

          a {
            color: darken(#F6EFD4, 50%);

            &:before {
              content: '|';
              color: darken(#F6EFD4, 10%);
              font-size: 22px;
            }

            &:hover {
              text-decoration: none;
              color: darken(#F6EFD4, 70%);
            }
          }
        }

        .tabula-rasa {
          @include border-radius(5px);
          background-color: #f6f6f6;
          color: #888;
          margin: 10px auto;
          padding: 20px;
          text-align: center;
          width: grid-width(5);

          &:first-child {
            margin-top: 70px;
          }

          a {
            text-decoration: none;
            color: #888;
            font-weight: bold;
          }
        }
      }

      aside {
        @extend .sidebar;
        @include box-shadow(inset 1px 0 0 #f6f6f6);
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #f6f6f6;
        padding: $gw-gutter;
        width: grid-width(3);

        h2 {
          font-size: 16px;
        }

        h3 {
          border-bottom: 0;
          box-shadow: none;
        }

        input[type="text"] {
          width: 68%;
        }

        #displayTagFilterControl {
          margin-top: 10px;
        }
      }
    }
  }

  footer {
    margin: 0 auto;
    padding: 0;

    .footer-wrapper {
      @extend .clearfix;
      @extend .wrapper;
      @include box-shadow(0 1px 0 #fff);
      @include box-sizing(border-box);
      background-color: #000;
      border-top: 0;
      padding: $gw-gutter/2;
    }
  }
}
