div#fancybox-overlay {
  background: #333 !important;
}

div#fancybox-wrap {
  div#fancybox-outer {
    background: none;
    max-width: 600px;

    div.fancybox-bg {
      display: none;
      background: none;
    }

    div#fancybox-content {
      @include border-radius(3px);
      @include box-shadow(0 0 6px #000);
      @include box-sizing(border-box);
      background: #fff;
      border: none;
      padding: lh(2);
      max-width: 600px;

      h1 {
        font-size: 24px;
        margin-top: 0;
        font-family: "Oswald";
        padding-bottom: lh();
        border-bottom: 1px solid #eee;
        margin-bottom: lh();
      }

      form {
        text-align: left;

        div#enroll_error {
          padding-bottom: lh();
          color: #DF8B2C;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: bold;
        }

        ol {
          li {
            margin-bottom: lh();
            width: grid-width(6);
            float: left;

            &:nth-child(odd) {
              margin-right: $gw-gutter;
            }

            &.terms {
              float: none;
              width: auto;
              clear: both;
              padding-top: lh();
              border-top: 1px solid #eee;
            }

            &.honor-code {
              width: auto;
              float: none;
            }

            label {
              display: block;
              font-weight: bold;
            }

            #{$all-text-inputs} {
              width: 100%;
              @include box-sizing(border-box);
            }

            input[type="checkbox"] {
              margin-right: 10px;
            }
          }
        }

        input[type="button"] {
          @include button($mit-red);
          font-size: 18px;
          padding: lh(.5);
        }
      }
    }
  }
}
