body {
  background-color: #fff;
  color: #444;
  font: $body-font-size $body-font-family;

  :focus {
    outline-color: #ccc;
  }

  h1 {
    font: 800 24px $header-font-family;
  }

  li {
    margin-bottom: lh();
  }

  em {
    font-style: italic;
  }

  a {
    color: $mit-red;
    font-style: italic;
    text-decoration: none;

    &:hover, &:focus {
      color: darken($mit-red, 10%);
    }
  }

  #{$all-text-inputs}, textarea {
    @include box-shadow(0 -1px 0 #fff);
    @include linear-gradient(#eee, #fff);
    border: 1px solid #999;
    font: $body-font-size $body-font-family;
    padding: 4px;
    width: 100%;

    &:focus {
      border-color: $mit-red;
    }
  }
}

header.announcement {
  @include background-size(cover);
  background: #333;
  border-bottom: 1px solid #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;

  &.home {
    background: #e3e3e3 url("/static/images/marketing/shot-5-medium.jpg");

    @media screen and (min-width: 1200px) {
      background: #e3e3e3 url("/static/images/marketing/shot-5-large.jpg");
    }

    // @media screen and (max-width: 1199px) {
    // }

    div {
      padding: lh(10) lh() lh(3);

      //hide login link for homepage
      nav {
        h1 {
          margin-right: 0;
        }

        a.login {
          display: none;
        }
      }
    }
  }

  &.course {
    background: #e3e3e3 url("/static/images/marketing/course-bg-small.jpg");

    @media screen and (min-width: 1200px) {
      background: #e3e3e3 url("/static/images/marketing/course-bg-large.jpg");
    }

    @media screen and (max-width: 1199px) and (min-width: 700px) {
      background: #e3e3e3 url("/static/images/marketing/course-bg-medium.jpg");
    }

    div {
      padding: lh(4) lh() lh(2);
    }
  }

  div {
    @extend .wrapper;
    position: relative;

    nav {
      position: absolute;
      top: 0;
      right: lh();
      @include border-radius(0 0 3px 3px);
      background: #333;
      background: rgba(#000, .7);
      padding: lh(.5) lh();

      h1 {
        @include inline-block();
        margin-right: lh(.5);

        a {
          font: italic 800 18px $header-font-family;
          color: #fff;
          text-decoration: none;

          &:hover, &:focus {
            color: #999;
          }
        }
      }

      a.login {
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        font-style: normal;
        font-family: $header-font-family;

        &:hover, &:focus {
          color: #999;
        }
      }
    }

    section {
      @extend .clearfix;
      @include inline-block();
      background: $mit-red;
      margin-left: flex-grid(4) + flex-gutter();
      padding: lh() lh(1.5);

      h1 {
        @include inline-block();
        font-family: "Open Sans";
        font-size: 30px;
        font-weight: 800;
        line-height: 1.2em;
        margin: 0 lh() 0 0;
      }

      h2 {
        @include inline-block();
        font-family: "Open Sans";
        font-size: 24px;
        font-weight: 400;
        line-height: 1.2em;
      }

      &.course {
        section {
          width: flex-grid(4, 8);
          margin-right: flex-gutter(8);
          float: left;
          margin-left: 0;
          padding: 0;

          a {
            @extend .button;
            background-color: darken($mit-red, 20%);
            display: block;
            padding: lh(.5) lh();
            text-align: center;

            &:hover {
              background-color: darken($mit-red, 10%);
            }
          }
        }

        p {
          width: flex-grid(4, 8);
          line-height: lh();
          float: left;
        }
      }
    }
  }
}

section.index-content {
  @extend .wrapper;
  @extend .clearfix;

  section {
    @extend .clearfix;
    float: left;

    h1 {
      font-size: 24px;
      font-weight: 800;
      font-family: "Open Sans";
      margin-bottom: lh();
    }

    p {
      line-height: lh();
      margin-bottom: lh();
    }

    ul {
      margin: 0;
      // list-style: disc outside none;

      // li {
      //   list-style: disc outside none;
      // }
    }

    &.about {
      @include box-sizing(border-box);
      border-right: 1px solid #e5e5e5;
      margin-right: flex-gutter();
      padding-right: flex-gutter() / 2;
      width: flex-grid(8);

      section {
        @extend .clearfix;
        margin-bottom: lh();

        p {
          width: flex-grid(4, 8);
          float: left;

          &:nth-child(odd) {
            margin-right: flex-gutter(8);
          }
        }

        &.intro {
          section {
            margin-bottom: 0;

            &.intro-text {
              margin-right: flex-gutter(8);
              width: flex-grid(4, 8);

              p {
                margin-right: 0;
                width: auto;
                float: none;
              }
            }

            &.intro-video {
              width: flex-grid(4, 8);

              a {
                display: block;
                width: 100%;

                img {
                  width: 100%;
                }

                span {
                  display: none;
                }
              }
            }
          }
        }

        &.features {
          border-top: 1px solid #E5E5E5;
          padding-top: lh();
          margin-bottom: 0;

          h2 {
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #666;
            margin-bottom: lh();

            span {
              text-transform: none;
            }
          }

          p {
            width: auto;
            clear: both;

            strong {
              font-family: "Open sans";
              font-weight: 800;
            }

            a {
              color: $mit-red;
              text-decoration: none;
              @include transition();

              &:hover, &:focus {
                color: darken($mit-red, 15%);
              }
            }
          }

          ul {
            margin-bottom: 0;

            li {
              line-height: lh();
              width: flex-grid(4, 8);
              float: left;
              margin-bottom: lh(.5);

              &:nth-child(odd) {
                margin-right: flex-gutter(8);
              }
            }
          }
        }
      }
    }

    &.course, &.staff {
      width: flex-grid(4);

      h1 {
        font: normal $body-font-size $body-font-family;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #666;
        margin-bottom: lh();
      }

      h2 {
        font: 800 24px $header-font-family;
      }

      h3 {
        font: 400 18px $header-font-family;
      }

      a {
        @extend .button;
      }

      ul {
        list-style: none;

        li {
          img {
            float: left;
            margin-right: lh(.5);
          }
        }
      }
    }

    &.course {
      h2 {
        padding-top: lh(5);
        background: url('/static/images/marketing/circuits-bg.jpg') 0 0 no-repeat;
        @include background-size(contain);

        @media screen and (max-width: 998px) {
          background: url('/static/images/marketing/circuits-medium-bg.jpg') 0 0 no-repeat;
        }
      }
    }


    // index
    //---------------------------------------- //
    &.about-course {
      @include box-sizing(border-box);
      border-right: 1px solid #e5e5e5;
      margin-right: flex-gutter();
      padding-right: flex-gutter() / 2;
      width: flex-grid(8);

      section {
        width: flex-grid(4, 8);


        &.about-info {
          margin-right: flex-gutter(8);
        }

        &.requirements {
          clear: both;
          width: 100%;
          border-top: 1px solid #E5E5E5;
          padding-top: lh();
          margin-bottom: 0;

          p {
            float: left;
            width: flex-grid(4, 8);
            margin-right: flex-gutter(8);

            &:nth-child(odd) {
              margin-right: 0;
            }
          }
        }

        &.cta {
          width: 100%;

          a.enroll {
            @extend .button;
            padding: lh(.5) lh();
            display: block;
            text-align: center;
            font: 800 18px $header-font-family;
          }
        }
      }
    }
  }
}

section.copyright, section.tos, section.privacy-policy, section.honor-code {
  @extend .subpage;
}

footer {
  @extend .wrapper;
  @extend .clearfix;
  padding-top: 0;

  div.footer-wrapper {
    border-top: 1px solid #e5e5e5;
    padding: lh() 0;
    background: url('/static/images/marketing/mit-logo.png') right center no-repeat;

    a {
      color: #888;
      text-decoration: none;
      @include transition();

      &:hover, &:focus {
        color: #666;
      }
    }

    p {
      @include inline-block();
      margin-right: lh();
    }

    ul {
      @include inline-block();

      li {
        @include inline-block();

        &:after {
          content: ' |';
          display: inline;
          color: #ccc;
        }

        &:last-child {
          &:after {
            content: none;
          }
        }

      }
    }
  }
}
