html {
  margin-top: 0;

  body {
    color: $dark-gray;
    font: $body-font-size $body-font-family;
    text-align: center;
    margin: 0;
    background: #f3f3f3;

    div.header-wrapper {
      @include box-shadow(inset 0 1px 0 lighten($mit-red, 10%), 0 1px 1px #ccc);
      @include linear-gradient(lighten($mit-red, 5%), darken($mit-red, 5%));
      border-bottom: 1px solid darken($mit-red, 10%);

      header {
        @extend .clearfix;
        @extend .wrapper;
        @include box-sizing(border-box);
        padding: 0 $body-line-height;
        text-shadow: 0 -1px 0 darken($mit-red, 10%);

        h1 {
          border-right: 1px solid darken($mit-red, 5%);
          font-size: $body-font-size;
          font-weight: bold;
          margin: 0 $gw-gutter 0 0;
          padding: 15px $gw-gutter 15px 0;
          display: block;
          float: left;
          color: #fff;
        }

        nav {
          float: left;
          display: block;
          margin: 0;

          ul {
            @extend .clearfix;
            display: inline-block;
            padding: 15px 0;
            margin: 0;

            li {
              margin-right: $body-line-height;
              display: inline-block;
              margin-bottom: 0;

              a {
                color: #fff;

                &:hover {
                  color: rgba(#fff, .7);
                  background-color: none;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }

    section.main-content {
      @extend .clearfix;
      @extend .wrapper;
      @include box-shadow(0 1px 0 #fff);
      @include box-sizing(border-box);
      background: #fff;
      border-top: 0;
      border: 1px solid #ccc;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  footer {
    @extend .clearfix;
    @extend .wrapper;
    @include box-sizing(border-box);
    color: #777;
    margin-top: $body-line-height;
    padding: 0 $body-line-height;

    p {
      float: left;

      a {
        color: #444;
      }
    }

    ul {
      float: right;

      li {
        display: inline-block;
        margin-right: 20px;

        a {
          color: #444;
        }
      }
    }
  }
}
