html {
  margin-top: 0;

  body {
    color: $dark-gray;
    font: $body-font-size $body-font-family;
    text-align: center;
    margin: 0;
    background: #f4f4f4; //#f3f1e5

    div.header-wrapper {
      // @include linear-gradient(lighten($mit-red, 5%), darken($mit-red, 5%));
      @include box-shadow(inset 0 -1px 2px darken($mit-red, 10%));
      background: $mit-red;
      border-bottom: 1px solid #fff;

      header {
        @extend .clearfix;
        @extend .wrapper;
        @include box-sizing(border-box);
        padding: 0 $body-line-height;

        h1 {
          border-right: 1px solid darken($mit-red, 5%);
          color: #000;
          display: block;
          float: left;
          font-size: 20px;
          font-weight: 800;
          margin: 0 lh() 0 0;
          padding: 17px lh() 14px 0;
          text-shadow: 0 1px 0 lighten($mit-red, 10%);
          line-height: lh();
        }

        nav {
          float: left;
          display: block;
          margin: 0;
          padding: 0;
          text-shadow: 0 -1px 0 darken($mit-red, 10%);
          -webkit-font-smoothing: antialiased;

          h2 {
            float: left;
            margin: 0 lh() 0 0;
            padding: 19px lh() 9px 0;
            line-height: lh();
            border-right: 1px solid darken($mit-red, 5%);

            a {
              color: #fff;
              text-decoration: none;

              &:hover {
                color: rgba(#fff, .7);
              }
            }
          }

          ul {
            @extend .clearfix;
            display: inline-block;
            padding: 19px 0 9px;
            margin: 0;

            li {
              margin-right: lh();
              display: inline-block;
              margin-bottom: 0;
              line-height: lh();

              a {
                color: #fff;
                text-decoration: none;

                &:hover {
                  color: rgba(#fff, .7);
                  background-color: none;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }

    section.main-content {
      @extend .clearfix;
      @extend .wrapper;
      @include box-sizing(border-box);
      @include border-radius(4px);
      overflow: hidden;
      background: #fff;
      border-bottom: 1px solid #bbb;

      @media screen and (min-width: 1400px) {
        // @include border-radius(3px);
        @include box-shadow(0 0 4px #dfdfdf);
        border: 1px solid #bbb;
        margin-top: lh(.5);
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  footer {
    @extend .clearfix;
    @extend .wrapper;
    @include box-sizing(border-box);
    color: #777;
    margin-top: $body-line-height;
    padding: 0 $body-line-height;

    p {
      float: left;

      a {
        color: #444;

        &:link, &:visited {
          color: #444;
        }

        &:hover, &:focus {
          color: #000;
        }
      }
    }

    ul {
      float: right;

      li {
        display: inline-block;
        margin-right: 20px;

        a {
          color: #444;

        &:link, &:visited {
          color: #444;
        }

        &:hover, &:focus {
          color: #000;
        }
        }
      }
    }
  }
}
