div.profile-wrapper {
  @extend .table-wrapper;

  section.user-info {
    @extend .sidebar;
    padding: lh();

    ul {
      list-style: none;

      li {
        margin-bottom: lh(.5);
      }
    }

    div #change_password_pop {
      border-top: 1px;
    }
  }

  section.course-info {
    @extend .content;

    ol {
      list-style: none;
    }

    ul {
      list-style: none;

      li {
        display: inline-block;
        padding-right: 1em;
      }
    }
  }
}
