div.book-wrapper {
  @extend .table-wrapper;

  ul#booknav {
    @extend .sidebar;
    @include box-sizing(border-box);
    padding: lh();

    li {
      ul {
        background: none;
      }
    }
  }

  section.book {
    @extend .content;

    nav {
      @extend .topbar;
      @extend .clearfix;

      ul {
        @extend .clearfix;

        li {
          &.last {
            float: left;
            display: block;

            a {
              @include box-shadow(inset -1px 0 0 lighten(#f6efd4, 5%));
              border-right: 1px solid darken(#f6efd4, 20%);
              border-left: 0;
            }
          }

          &.next {
            display: block;
            float: right;
          }
        }
      }
    }

    section.page {
      img {
        border: 1px solid $border-color;
        max-width: 100%;
        min-width: 100%;
      }
    }
  }
}
