// discussion - main app styling
// ====================
// TO-DO: determine whether these new top level styles should be moved to a general threads view file

// ====================

// general thread layout
body.discussion, .discussion-module {

  // post layout
  .discussion-post {
    padding: ($baseline*2) ($baseline*2) $baseline ($baseline*2);
    border-radius: 3px 3px 0 0;
    background-color: $white;
    box-shadow: 0 1px 3px $shadow;

    .post-header {
      display: inline-block;
      width: flex-grid(8,12);
    }

    // layout styling for thread-actions
    .post-actions-list {
      display: inline-block;
      width: flex-grid(4,12);
      vertical-align: top;
      float: right;
    }

    .post-body {
    }
  }

  // response layout
  .discussion-response {

    .response-header {
      display: inline-block;
      width: flex-grid(8,12);
    }

    .response-actions-list {
      display: inline-block;
      width: flex-grid(4,12);
      vertical-align: top;
    }
  }

  // comments layout
  .comments {
    @extend %ui-no-list;
    border-radius: 0 0 3px 3px;
    background: $gray-l6;
    box-shadow: 0 1px 3px -1px $shadow inset;

    > li {
      border-top: 1px solid $gray-l4;
      padding: ($baseline/2) $baseline;
    }


    blockquote {
      background: $gray-l4;
      border-radius: 3px;
      padding: ($baseline/4) ($baseline/2);
      font-size: 14px;
    }

    .response-body {
      display: inline-block;
      margin-bottom: ($baseline/2);
      width: flex-grid(10,12);
      font-size: 13px;

      p + p {
        margin-top: 12px;
      }
    }

    .comment-actions-list {
      display: inline-block;
      width: flex-grid(2,12);
      vertical-align: top;
    }

    //TO-DO : clean up posted-details styling, currently reused by responses and comments
    .posted-details {
      margin-top: 0;
    }
  }
}


// UI: primary post area

// UI: responses

// UI: comments


// TO-DO: clean up styles below this list, expect to treat these styles as an extension of shame.scss for the time being.

body.discussion {

  .course-tabs .right {
    float: right;

    .new-post-btn {
      @include blue-button;
      margin-right: 4px;
    }

    .new-post-icon {
      margin: 8px 7px 0 0;
      font-size: 13px;
      color: $white;
    }
  }

  .thread-title {
    display: block;
    margin-bottom: $baseline;
    color: #333;
    font-weight: 700;
    font-size: 21px;
  }
}

.container .discussion-body {
  @include clearfix;
  display: block;
  border: none;
  background: transparent;
  box-shadow: none;
  line-height: 1.4;

  .bottom-post-status {
    padding: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #ccc;
    text-align: center;
  }

  .discussion-column {
    float: right;
    @include box-sizing(border-box);
    width: 68%;
    max-width: 800px;
    min-height: 500px;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  }

  .blank-slate {

    padding: 40px 40px 10px;

    section {
      border-bottom: 1px solid #ccc;
    }

    .label {
      display: block;
      font-size: 12px;
    }

    .label-settings {
      padding-top: $baseline;
      padding-bottom: $baseline/2;
    }
  }

  .discussion-article {
    position: relative;
    min-height: 500px;
    background-image: url(../images/bg-texture.png);
    background: $blue-l4;

    a {
      word-wrap: break-word;
    }

    h1 {
      margin-bottom: ($baseline/2);
      font-size: 28px;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 1.2;
    }

    .posted-details {
      font-size: 12px;
      font-style: italic;
      color: #888;

      .username {
        display: block;
        font-size: 16px;
        font-weight: 700;
      }

      .timeago, .top-post-status {
        color: inherit;
        font-style: italic;
      }
    }

    .post-context{
      margin-top: $baseline;
      font-size: 12px;
      color: #888;
    }

    p + p {
      margin-top: $baseline;
    }
  }

  .discussion-post header,
  .responses li header {
    margin-bottom: $baseline;
  }

  .responses {
    &:empty {
      display: none;
    }

    list-style: none;
    margin-top: $baseline;
    padding: 0px ($baseline*2);

    > li {
      @include animation(fadeIn .3s);
      position: relative;
      margin: 0 -10px 30px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      box-shadow: 0 0 1px $shadow;

      &.staff {
        padding-top: 38px;
        border-color: #009fe2;
      }

      &.community-ta{
        padding-top: 38px;
        border-color: $forum-color-community-ta;
      }

      .staff-banner {
        padding: 1px 5px;
        @include box-sizing(border-box);
        border-radius: 3px;
        background: #009fe2;
        font-size: 9px;
        font-weight: 700;
        color: $white;
        text-transform: uppercase;
        vertical-align: top;
        display: inline-block;
        margin: 3px ($baseline/2);

      }

      .community-ta-banner{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 14px;
        padding: 1px 5px;
        @include box-sizing(border-box);
        border-radius: 2px 2px 0 0;
        background: $forum-color-community-ta;
        font-size: 9px;
        font-weight: 700;
        color: $white;
        text-transform: uppercase;
      }

      &.loading {
        height: 0;
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
      }
    }

    .discussion-response {
      @include box-sizing(border-box);
      border-radius: 3px 3px 0 0;
      padding: $baseline $baseline ($baseline/2);
      background-color: $white;
    }

    .posted-by {
      font-weight: 700;
    }
  }

  .add-response-btn {
    display: inline-block;
    margin-top: $baseline;
    text-align: left;
    font-size: 14px;
    color: $link-color;

    &:hover {
      cursor: pointer;
      color: $link-hover;
    }

    .add-response-btn-text {
      padding-left: ($baseline/5);
      color: $link-color;

      &:hover {
        color :$link-hover;
      }
    }
  }

  blockquote {
    background: $gray-l5;
    border-radius: 3px;
    padding: ($baseline/4) ($baseline/2);
    font-size: 14px;
  }

  .posted-details {
    font-size: 11px;
  }

  .staff-label {
    margin-left: ($baseline/4);
    padding: 0 ($baseline/5);
    border-radius: 2px;
    background: #009FE2;
    font-size: 9px;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-transform: uppercase;
  }

  .community-ta-label{
    margin-left: ($baseline/10);
    padding: 0 ($baseline/5);
    border-radius: 2px;
    background: $forum-color-community-ta;
    font-size: 9px;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-transform: uppercase;
  }

  .main-article.new {
    display: none;
    padding: ($baseline*2.5);
  }

  .wmd-button-bar {
    border: none;
  }

  .wmd-input {
    @include discussion-wmd-input;
  }

  .wmd-preview-container {
    @include discussion-wmd-preview-container;
  }

  .wmd-preview-label {
    @include discussion-wmd-preview-label;
  }

  .wmd-preview {
    @include discussion-wmd-preview;
  }

  .reply-post-control {
    margin-top: $baseline;
  }

  .discussion-submit-post {
    @include blue-button;
    float: left;
  }

  .wmd-button {
    width: 15px;
  }
}

// ====================

// inline discussion module and profile thread styling
.discussion-module {
  @extend .discussion-body;
  position: relative;
  margin: $baseline 0;
  padding: $baseline;
  background: #f6f6f6 !important;
  border-radius: 3px;

  header {
    .anonymous{
      font-size: 15px;
    }
  }

  div.add-response.post-extended-content {
    margin-top: $baseline;
    margin-bottom: $baseline;

    button.add-response-btn {
      @include white-button;
      @include linear-gradient(top, $white 35%, #ebebeb);
      position: relative;
      padding-left: ($baseline*1.5);
      width: 100%;
      box-shadow: 0 1px 1px $shadow-l1;
      text-align: left;

      &:hover, &:focus {
        @include linear-gradient(top, $white 35%, #ddd);
      }

      span.add-response-btn-text {
        padding-left: 4px;
      }
    }
  }

  .loading-animation {
    background-image: url(../images/spinner-on-grey.gif);
  }

  .discussion-show {
    position: relative;
    top: 3px;
    font-size: 14px;
    text-align: center;

    &.shown {
      .show-hide-discussion-icon {
        background-position: 0 0;
      }
    }

    .show-hide-discussion-icon {
      display: inline-block;
      position: relative;
      top: 5px;
      margin-right: 6px;
      width: 21px;
      height: 19px;
      background: url(../images/show-hide-discussion-icon.png) no-repeat;
      background-position: -21px 0;
    }
  }

  .new-post-btn {
    display: inline-block;
    float: right;
  }

  section.discussion {
    margin-top: ($baseline*1.5);

    .threads {
      margin-top: $baseline;
    }

    .discussion-thread {
      padding: 0;
      margin-bottom: $baseline;
      @include transition(all .25s linear 0s);

      p {
        margin-bottom: 0;
      }

      .discussion-article {
        @include transition(all .2s linear 0s);
        border: 1px solid #ddd;
        border-radius: 3px;
        min-height: 0;
        background: $white;
        padding: 0;
        box-shadow: 0 1px 0 $shadow;
        @include transition(all .2s linear 0s);

        .thread-wrapper {
          position: relative;
          overflow-x: hidden;
          overflow-y: auto;
          max-height: 600px;

          .group-visibility-label {
            font-weight: 400;
            margin-bottom: ($baseline*0.5);
          }

          .discussion-post {
            @include clearfix;

            .inline-comment-count {
              position: relative;
              z-index: 100;
              float: right;
              display: block;
              height: 27px;
              margin-top: 6px;
              margin-right: 8px;
              padding: 0 8px;
              border-radius: 5px;
              font-size: 12px;
              font-weight: 400;
              line-height: 25px;
              color: #888;
            }

            header {
              padding-bottom: 0;
              margin-bottom: ($baseline*.75);

              .posted-details {
                margin-top: ($baseline/5);

                .username {
                  display: inline;
                  font-size: 14px;
                  font-weight: 700;
                }
              }

              h1 {
                font-size: 19px;
                font-weight: 700;
                margin-bottom: 0px !important; // Override courseware CSS
              }

              h4 {
                font-size: 16px;
              }
            }

            .post-body {
              font-size: 14px;
              clear: both;
            }
          }

          .responses {
            header {
              padding-bottom: 0;
              margin-bottom: 15px;

              .posted-by {
                float: left;
                margin-right: 5px;
                font-size: 16px;
              }
            }

            .response-body {
              margin-bottom: 0.2em;
              font-size: 14px;
            }
          }

          .discussion-reply-new {
            .wmd-input {
              height: 120px;
            }
          }

          // Content that is hidden by default in the inline view
          .post-extended-content{
            display: none;
          }
        }

        .post-tools {
          box-shadow: 0 1px 1px $shadow inset;
          background: #f6f6f6;

          &:hover {
            background: #fcfcfc;

            .icon {
              color: $link-hover;
            }
          }

          a {
            display: block;
            padding: ($baseline*0.25) $baseline;
            font-size: 12px;
            line-height: 30px;

            .icon {
              color: $link-color;
              margin-right: ($baseline*0.25);
            }
          }
        }
      }
    }
  }

  .new-post-article {
    display: none;
    margin-top: $baseline;

    .inner-wrapper {
      max-width: 1180px;
      min-width: 760px;
      margin: auto;
    }

    .thread-title {
      display: block;
      margin-bottom: $baseline;
      font-size: 21px;
      color: #333;
      font-weight: 700;
    }
  }

  .new-post-btn {
    @include blue-button;
    display: inline-block;
    font-size: 13px;
    margin-right: 4px;
  }

  .new-post-icon {
    display: block;
    float: left;
    width: 16px;
    height: 17px;
    margin: 8px 7px 0 0;
    font-size: 13px;
    padding-right: $baseline/2;
    color: $white;
  }

  section.pagination {
    margin-top: 30px;

    nav.discussion-paginator {
      float: right;

      ol {
        li {
          list-style: none;
          display: inline-block;
          padding-right: 0.5em;
          a {
            @include white-button;
          }
          &.current-page span {
            display: inline-block;
            height: 35px;
            padding: 0 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 13px;
            font-weight: 700;
            line-height: 32px;
            color: #333;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
          }
        }
      }
    }
  }
}

.discussion-user-threads {
  @extend .discussion-module;

  .discussion-post {
    padding-bottom: $baseline !important;
  }
}

// ====================

// post pagination
.response-count {
  display: inline-block;
  margin-top: $baseline;
  padding: 0 ($baseline*1.5);
  color: $gray;
  font-size: 14px;
}

.response-pagination {
  visibility: visible;
  padding: ($baseline/2) ($baseline*1.5);
  background-color: $gray-l6;
  box-shadow: 0 1px 1px $gray-l4 inset, 0 -1px 1px $gray-l4 inset;

  &:empty {
    visibility: hidden;
  }

  .response-display-count {
    display: block;
    padding: ($baseline/2) 0;
    color: $gray;
    font-size: 14px;
  }

  .load-response-button {
    @include white-button;
    @include linear-gradient(top, $white 35%, #ebebeb);
    position: relative;
    margin: ($baseline/2) 0;
    border: 1px solid #b2b2b2;
    width: 100%;
    box-shadow: 0 1px 1px $shadow-l1;
    text-align: left;
    font-weight: normal;

    span.add-response-btn-text {
      padding-left: 4px;
    }
  }
}

// ====================

// post metadata - cohorts
.group-visibility-label {
    font-size: 12px;
    color:#000;
    font-style: italic;
    background-color: $white;
  }
