<div id="url" style="display: none">${verify_url}</div>
<style media="print">
    @page {
        margin: 0;
        padding: 0;  
    }
    #container img{
        width: 250mm;
        height: 180mm;
    }
</style>
<!-- <script type="text/javascript" src="/static/common/js/vendor/jquery.js"></script> -->
<script src="/static/normal-theme/js/certificates/qrcode.js"></script>
<script type="text/javascript">
    if (document.getElementById("action-print-view") != null){
        $('#action-print-view').click(function(){
            window.print();
         });

        $('#action-download-view').click(function(){
            var imgUrl = document.querySelector('#container img').src;
            // 如果浏览器支持msSaveOrOpenBlob方法（也就是使用IE浏览器的时候），那么调用该方法去下载图片
            if (window.navigator.msSaveOrOpenBlob) {
                var bstr = atob(imgUrl.split(',')[1])
                var n = bstr.length
                var u8arr = new Uint8Array(n)
                while (n--) {
                u8arr[n] = bstr.charCodeAt(n)
            }
            var blob = new Blob([u8arr])
            window.navigator.msSaveOrOpenBlob(blob, 'certificates' + '.' + 'png')
            } else {
                const a = document.createElement('a')
                a.href = imgUrl
                a.setAttribute('download', 'certificates.png')
                a.click()
            }
        })
    }
</script>

