<div id="url" style="display: none">${verify_url}</div>
<style media="print">
        @page {
            margin: 0mm;    
        }  
</style>
<!-- <script type="text/javascript" src="/static/common/js/vendor/jquery.js"></script> -->
<script src="/static/normal-theme/js/certificates/qrcode.js"></script>
<script type="text/javascript">
    if (document.getElementById("action-print-view") != null){
        document.getElementById("action-print-view").addEventListener("click", printView);
        function printView(event) {
           event.preventDefault();
           window.print();
        }
        document.getElementById("action-download-view").addEventListener("click", function(){
            var aLink = document.createElement('a')
            aLink.download = 'certificates.png'
            var url = document.querySelector('#container img').src;
            aLink.href = url 
            aLink.dispatchEvent(new MouseEvent('click', {}))
        });
    }
</script>

