<div id="url" style="display: none">${verify_url}</div>
<style media="print">
        @page {
            margin: 0mm;    
        }  
</style>
<script type="text/javascript" src="/static/common/js/vendor/jquery.js"></script>
<script src="/static/normal-theme/js/certificates/qrcode.js"></script>
<script type="text/javascript">
    if (document.getElementById("action-print-view") != null){
        document.getElementById("action-print-view").addEventListener("click", printView);
        function printView(event) {
           event.preventDefault();
           window.print();
        }
    }

    //二维码扫码
    var code = document.getElementById("code");
    var url = $.trim($('#url').text());
    url = location.protocol+ '//' + location.host + url;   
    var data = {    
        text: url,
        width: 78,
        height: 78,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    }
    var qrcode = new QRCode("code", data);

    $("#code div .code-url").text(url);
</script>

