<%inherit file="../main.html" />
<%!
from django.utils.translation import ugettext as _
%>

<%block name="title">
    <title>${_(u"EliteMBA")}</title>
</%block>

<div class="validate">
  <img src="/static/certificates/images/validate.png">
  <div class="right"><span></span><span>${_(u"Trustworthy Certificate")}</span></div>
  <div class="validate-dec-line">
    <div> </div>
    <div> </div>
    <div> </div>
  </div>
  <ul class="validate-dec">
    <li>
      <span>${_(u"Certificated Learner")}</span>
      <span>${learner}</span>
    </li>
    <li>
      <span>${_(u"Certificate No.")}</span>
      <span>${verify_id}</span>
    </li>
    <li>
      <span>${_(u"所属机构")}</span>
      <span>${org}</span>
    </li>
    <li>
      <span>${_(u"Course Name")}</span>
      <span>${name}</span>
    </li>
    <li>
      <span>${_(u"Learning Time")}</span>
      <span>${start_date}-${end_date}</span>
    </li>
    <li>
      <span>${_(u"Learning Type")}</span>
      <span>${mode}</span>
    </li>
    <li>
      <span>${_(u"Certificate Issuing Date")}</span>
      <span>${issue_date}</span>
    </li>
    <li>
      <span>${_(u"Electronic Certificate")}</span>
      <span><a href="${cert_web_url}">${_(u"View")}</a></span>
    </li>
  </ul>
</div>
