<%inherit file="../main.html" />
<%!
from django.utils.translation import ugettext as _
from django.utils.translation import pgettext
%>
<%namespace name='static' file='/static_content.html'/>

<%block name="title">
    <title>${_(u"EliteMBA")}</title>
</%block>

<div class="validate">
  <img src="/static/certificates/images/validate.png">
  <div class="right"><span></span><span>${_(u"Trustworthy Certificate")}</span></div>
  <div class="validate-dec-line">
    <div> </div>
    <div> </div>
    <div> </div>
  </div>
  <ul class="validate-dec">
    <li>
      <span>${_(u"Certificated Learner")}</span>
      <span>${learner}</span>
    </li>
    <li>
      <span>${_(u"Certificate No.")}</span>
      <span>${verify_id}</span>
    </li>
    <li>
      <span>${_(u"Affiliation")}</span>
      <span>${org}</span>
    </li>
    <li>
      <span>${_(u"Course Name")}</span>
      <span>${name}</span>
    </li>
    <li>
      <span>${_(u"Learning Time")}</span>
      <span>
        <span class="localized_datetime"
              data-format="shortDate"
              data-language="${LANGUAGE_CODE}"
              data-datetime="${start_date}">
        </span>
        -
        <span class="localized_datetime"
              data-format="shortDate"
              data-language="${LANGUAGE_CODE}"
              data-datetime="${end_date}">
        </span>
      </span>
    </li>
    <li>
      <span>${_(u"Learning Type")}</span>
      <span>${mode}</span>
    </li>
    <li>
      <span>${_(u"Certificate Issuing Date")}</span>
      <span class="localized_datetime"
            data-format="shortDate"
            data-language="${LANGUAGE_CODE}"
            data-datetime="${issue_date}">
      </span>
    </li>
    <li>
      <span>${_(u"Electronic Certificate")}</span>
      <span><a href="${cert_web_url}">${pgettext("Certificate", "View")}</a></span>
    </li>
  </ul>
</div>

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>
