html {
  margin-top: 0;

  body {
    color: $dark-gray;
    font: $body-font-size $body-font-family;
    text-align: center;
    margin: 0;
    background: #f4f4f4; //#f3f1e5

    section.main-content {
      @extend .clearfix;
      @extend .wrapper;
      @include box-sizing(border-box);
      overflow: hidden;
      background: #fff;
      border-bottom: 1px solid #bbb;
      margin-top: 3px;
        @include box-shadow(0 0 4px #dfdfdf);
        border: 1px solid #bbb;

      @media screen and (min-width: 1400px) {
        @include border-radius(4px);
        margin-top: lh(.5);
      }
    }
  }
}
