## mako
<%page expression_filter="h"/>

<%! main_css = "style-main-v2" %>

<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%def name="online_help_token()"><% return "courseware" %></%def>
<%def name="course_name()">
<% return _("{course_number} Courseware").format(course_number=course.display_number_with_default) %>
</%def>

<%!
import json
from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import HTML
from openedx.features.course_experience import course_home_page_title
%>

<%block name="bodyclass">course</%block>

<%block name="pagetitle">${course_name()}</%block>

<%include file="../courseware/course_navigation.html" args="active_page='learner_analytics'" />

<%block name="content">
<div class="course-view page-content-container" id="course-container">
    <header class="page-header has-secondary learner-analytics-header">
        ## TODO: LEARNER-3854: Clean-up after Learner Analytics test.
        ##   May not need/want breadcrumbs?  Can maybe kill course_url and course_home_page_title
        ##   from the context?
        ## Breadcrumb navigation
        <div class="page-header-main">
            <h2 class="title"><span class="fa ${'fa-unlock-alt' if has_access else 'fa-lock'} lock-icon" aria-hidden="true"></span> ${_('My Stats (Beta)')}</h2>
        </div>
    </header>
    <div class="page-content learner-analytics-dashboard-wrapper">
        <div class="learner-analytics-dashboard">
            % if has_access:
                ${static.renderReact(
                  component="LearnerAnalyticsDashboard",
                  id="react-learner-analytics-dashboard",
                  props={
                    'schedule': assignment_schedule,
                    'schedule_raw': assignment_schedule_raw,
                    'grading_policy': grading_policy,
                    'grades': assignment_grades,
                    'discussion_info': discussion_info,
                    'weekly_active_users': weekly_active_users,
                    'week_streak': week_streak,
                    'profile_images': profile_image_urls,
                    'passing_grade': passing_grade,
                    'percent_grade': percent_grade,
                  }
                )}
            % else:
                ## TODO: LEARNER-3854: Clean-up after Learner Analytics test.
                ##   If we move forward with this, the upsell information should
                ##   be added here.
                Page is not available.
            % endif
        </div>
    </div>
</div>
</%block>
<%namespace name='static' file='../static_content.html'/>
