<!DOCTYPE html>
<!--[if lte IE 8]>         <html class="no-js lte-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Example</title>

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/example.css">
  </head>

  <body>
    <h1>Sassy Maps In Action</h1>

    <!-- JavaScript goes in the footer! -->
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':8001/livereload.js?snipver=1"></' + 'script>')
    </script>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':8002/target/target-script-min.js"></' + 'script>')
    </script>
  </body>
</html>