.result-header{
	text-align: center;
	word-wrap: normal;
	padding-top: 175px;
}

.snippet{
	color: #666666;
	font-family: "Open Sans", "Arial";
	font-weight: 300;
	height: 300px;
	width: 400px;
	text-align: justify;
}

.pagination{
	position: relative;
	margin-top: 200px;
	margin-left: 10%;
}


.result-thumbnail{
    width: 400px;
    margin-bottom: -400px;
    margin-right: -150px;
}

.result-container{
    width: 900px;
}

.result-snippets{
    float: left;
}