@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700");

.xmodule_display.xmodule_WordCloudBlock .input-cloud {
    margin: calc((var(--baseline) / 4));
}

.xmodule_display.xmodule_WordCloudBlock .result_cloud_section {
    display: none;
    width: 0px;
    height: 0px;
}

.xmodule_display.xmodule_WordCloudBlock .result_cloud_section.active {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 1em;
}

.xmodule_display.xmodule_WordCloudBlock .result_cloud_section.active h3 {
    font-size: 100%;
}

.xmodule_display.xmodule_WordCloudBlock .your_words {
    font-size: 0.85em;
    display: block;
}
