.msg {

  &.inline {
    @extend %t-copy-sub2;
    display: inline-block;
    margin: 0 0 0 $baseline;
    padding: 0;
  }

  &.error {
    @extend %t-copy-sub2;
    color: $error-red;
  }
}

.cohort-management {

  .has-option-unavailable { // Given to <selects> that have some options that are unavailable

    .option-unavailable { // Allows granular styling (i.e., red) for those unavailable options
      background: $red-l5;
      color: $error-red;
    }
  }

  .has-other { // Given to groups which have an 'other' input that appears when needed
    display: inline-block;

    label {
      display: inline-block;
    }

    .input-group-other {
      display: none;

      &.is-visible {
        display: inline;
        position: relative;
        overflow: auto;
        width: 100%;
        height: auto;
        margin: 0 0 0 $baseline;
        padding: inherit;
        border: inherit;
        clip: auto;
      }
    }
  }

  .cohort-management-nav {
    margin-bottom: $baseline;

    .action-create {
      margin-top: $baseline;
    }
  }

  .cohort-management-settings {
    @include clearfix();
    background: $gray-l5;

    .group-header-title {
      padding: $baseline;
      margin-bottom: 0;
      border-bottom: 1px solid $gray-l3;
      text-transform: none;
      letter-spacing: normal;
    }

    .cohort-management-group-setup {
      padding: $baseline;

      .cohort-management-group-text {
        display: inline-block;
        width: flex-grid(9);
      }

      .cohort-management-group-actions {
        display: inline-block;
        width: flex-grid(3);
        vertical-align: top;

        .float-right {
          float: right;
        }
      }
    }

    .cohort-management-details {
      border-top: ($baseline/5) solid $gray-l4;
      background: $white;

      .cohort-details-name {
        @extend %t-action1;
        display: block;
        width: 100%;
        padding: ($baseline/2);
        margin-bottom: ($baseline*2);
      }

      .cohort-section-header {
        margin-top: ($baseline*1.5);
        padding: $baseline 0 ($baseline/2) 0;
      }

      .cohort-section-header > .form-fields {
        padding-bottom: $baseline;
      }
    }
  }

  .form-actions:last-child {
    margin-top: $baseline;

    .action-primary {
      @include idashbutton($blue);
      padding: 7px $baseline;
      text-shadow: none;
    }
  }

  .wrapper-tabs { // This applies to the tab-like interface that toggles between the student management and the group settings
    @extend %ui-no-list;
    @extend %ui-depth1;
    position: relative;
    top: ($baseline/5);
    padding: 0 $baseline;

    .tab {
      position: relative;
      display: inline-block;

      a {
        display: inline-block;
        padding: $baseline;
      }

      &.is-selected { // Active or selected tabs (<li>) get this class. Also useful for aria stuff if ever implemented in the future.

        a {
          padding-bottom: ($baseline+($baseline/5));
          border-style: solid;
          border-width: ($baseline/5) ($baseline/5) 0 ($baseline/5);
          border-color: $gray-l4;
          background: $white;
          color: inherit;
          cursor: default;
        }
      }
    }
  }
}