.email-editor {
  border: 1px solid #c8c8c8;
}

.xmodule_edit {
  ul {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    list-style: none;
  }

  a {
    line-height: (16*1.48) + px;
    line-height: 1.48rem;
  }
}

.submit-email-action {
  margin-top: 10px;
  line-height: 1.3;

  ul { 
    margin-top: 0;
    margin-bottom: 10px;
  }
}

