@mixin idashbutton ($color) {
  @include button(simple, $color);
  @extend .button-reset;
  font-size: em(13);

  margin-bottom: 1em;
  line-height: 1.3em;
  padding: 8px 17px 8px 17px;
}

.instructor-dashboard-wrapper-2 {
  // @extend .table-wrapper;
  // display: table;
  position: relative;

  .olddash-button-wrapper {
    position: absolute;
    top: 17px;
    right: 15px;
    font-size: 11pt;
  }

  section.instructor-dashboard-content-2 {
    @extend .content;
    padding: 40px;
    width: 100%;
    // position: relative;

    // .has-event-handler-for-click {
    //   border: 1px solid blue;
    // }

    .request-response-error {
      color: $error-red;
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .slickgrid {
      font-family: verdana,arial,sans-serif;
      font-size:11px;
      color:#333333;
      margin-left: 1px;

      .slick-header-column {
        // height: 100%;
      }

      .slick-cell {
        white-space: normal;
        word-wrap: break-word;
        border: 1px dotted silver;
        border-collapse: collapse;
      }
    }

    h1 {
      @extend .top-header;
      border-bottom: 0;
      padding-bottom: 0;
    }

    input[type="button"] {
      @include idashbutton(#eee);

      &.molly-guard {
        @include idashbutton($red)
      }
    }

    .instructor_dash_glob_info {
      text-align: right;
      position: absolute;
      top: 46px;
      right: 50px;
    }

    .instructor-nav {
      a {
        margin-right: 1.2em;
      }

      .active-section {
        color: #551A8B;
      }

      border-bottom: 1px solid #C8C8C8;
      padding-bottom: 1em;
    }

    section.idash-section {
      // background-color: #0f0;
      display: none;

      &.active-section {
        // background-color: #ff0;
        display: block;
      }

      .basic-data {
        padding: 6px;
      }
    }
  }
}


.instructor-dashboard-wrapper-2 section.idash-section#course_info {
  .course-errors-wrapper {
    margin-top: 2em;

    h2 {
      color: #D60000;
    }

    &.open {
      .toggle-wrapper {
        .triangle {
          background-image: url('/static/images/bullet-open.png');
        }
      }
      .course-errors-visibility-wrapper {
        display: block;
      }
    }

    .toggle-wrapper {
      width: 300px;
      cursor: pointer;
      div {
        float:left;
      }

      h2 {
        float: left;
      }

      .triangle {
        width: 20px;
        height: 20px;
        float: left;
        background-image: url('/static/images/bullet-closed.png');
        background-repeat: no-repeat;
        background-position: 8px 6px;
      }
    }

    .course-errors-visibility-wrapper {
      display: none;
      clear: both;

      .course-error {
        margin-bottom: 1em;
        margin-left: 0.5em;

        code {
          &.course-error-first {
            color: #111;
          }

          &.course-error-second {
            color: #111;
          }
        }
      }
    }
  }
}


.instructor-dashboard-wrapper-2 section.idash-section#membership {
  .vert-left {
    float: left;
    width: 47%;
  }

  .vert-right {
    float: right;
    width: 47%;
  }

  select {
    margin-bottom: 1em;
  }

  .batch-enrollment {
    textarea {
      margin-top: 0.2em;
      margin-bottom: 1em;

      height: 100px;
      width: 500px;
    }

    input {
      margin-right: 5px;
    }

    .request-res-section {
      margin-top: 1.5em;

      h3 {
        color: #646464;
      }

      ul {
        padding: 0;
        margin: 0;
        margin-top: 0.5em;
        line-height: 1.5em;
        list-style-type: none;
        li {
        }
      }
    }
  }

  .auth-list-container {
    display: none;
    margin-bottom: 1.5em;

    &.active {
      display: block;
    }

    .auth-list-table {
      .slickgrid {
        height: 250px;
      }
    }

    .auth-list-add {
      margin-top: 0.5em;
    }
  }
}


.instructor-dashboard-wrapper-2 section.idash-section#student_admin > {
  .progress-link-wrapper {
    margin-top: 0.7em;
  }

  // .task-history-single-table { .slickgrid
  //   max-height: 500px;
  // } }

  // .running-tasks-table { .slickgrid {
  //   max-height: 500px;
  // } }

  .task-history-all-table    {
    margin-top: 1em;
    // height: 300px;
    // overflow-y: scroll;
  }
  .task-history-single-table {
    margin-top: 1em;
    // height: 300px;
    // overflow-y: scroll;
  }
  .running-tasks-table {
    margin-top: 1em;
    // height: 500px;
    // overflow-y: scroll;
  }
}


.instructor-dashboard-wrapper-2 section.idash-section#data_download {
  input {
    // display: block;
    margin-bottom: 1em;
    line-height: 1.3em;
  }

  .data-display {
    .data-display-table {
      .slickgrid {
        height: 400px;
      }
    }
  }
}


.instructor-dashboard-wrapper-2 section.idash-section#analytics {
  .distribution-display {
    margin-top: 1.2em;

    .distribution-display-graph {
      .year-of-birth {
        width: 750px;
        height: 250px;
      }
    }

    .distribution-display-table {
      .slickgrid {
        height: 400px;
      }
    }
  }
}
