//
// Variables

// Colors
$gray-lighter:          #f3f3f3;
$gray-light:            #a9a8a9;
$gray-dark:             #3b3c3d;
$red:                   #fb3449;
$teal:                  #00afaa;
$orange:                #ff9a56;
$blue-border-color:     #ff8b3d;
$blue:                  #61b4e4;
$blue-dark:             #00335c;
$blue-border-color:     #4baae0;

// Font
$base-font:             14px;

// Height
$navbar-height:         50px;
$navbar-height-lg:      60px;

// Media
$screen-xxs:            480px;
$screen-xs-max:         767px;
$screen-sm-min:         768px;
$screen-sm-max:         991px;
$screen-md-min:         992px;
$screen-md-max:         1199px;
$screen-lg-min:         1200px;
