## mako

<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<div class="wrapper-header-global">
    <header class="header-global" aria-labelledby="header-global-title" role="banner">
        <h1 class="header-global-title" id="header-global-title">
            <span class="app-logo">App Logo Here!</span>
        </h1>

        <nav class="nav-app" role="navigation" aria-label="Main Navigation">
            <a class="nav-app-item" href="#">Navigation Link</a>
            <a class="nav-app-item" href="#">Navigation Link</a>
        </nav>

        <nav class="nav-user" role="navigation" aria-label="Account Navigation">
            User Navigation/Status
        </nav>

        <nav class="nav-app-actions" role="navigation" aria-label="Account Navigation">
            <a class="nav-app-item action action-login" href="/login">Login</a>
            <a class="nav-app-item action action-register" href="/register">Register</a>
        </nav>
    </header>
</div>
