div#wiki_panel {
  @extend .sidebar;
  overflow: auto;

  input[type="button"] {
    @extend h3;
    @include transition();
    color: lighten($text-color, 10%);
    font-size: $body-font-size;
    margin: 0  !important;
    padding: 7px lh();
    text-align: left;
    width: 100%;

    &:hover {
      @include box-shadow(0 1px 0 #fff);
      background: #efefef;
    }
  }

  ul {
    li {
      &.search {
        @include box-shadow(0 1px 0 #eee);
        border-bottom: 1px solid #d3d3d3;
        padding: 7px lh();

        label {
          display: none;
        }
      }

      &.create-article {
        h3 {
          a {
            padding: 7px lh();
          }
        }
      }
    }
  }

  div#wiki_create_form {
    @extend .clearfix;
    padding: 15px;
    background: #d6d6d6;
    border-bottom: 1px solid #bbb;

    input[type="text"] {
      margin-bottom: 6px;
      display: block;
      width: 100%;
      @include box-sizing(border-box);
    }

    ul {
      list-style: none;

      li {
        float: left;

        &#cancel {
          float: right;
          margin-top: 10px;
        }
      }
    }
  }
}
