# see: https://appsembler.atlassian.net/wiki/spaces/ED/pages/2227503161/CODEOWNERS
# note: this conflicts with edX's upstream CODEOWNERS file, to resolve the conflict ignore all upstream changes.


# default code owner
* @omarithawi

# default set of reviewers
* @omarithawi @melvinsoft @thraxil @shadinaif
