# This does not cover all the code in edx-platform but it's a good start.

# Core
common/djangoapps/student/
common/djangoapps/third_party_auth/
lms/djangoapps/course_api/blocks
lms/djangoapps/courseware/
lms/djangoapps/grades/
lms/djangoapps/instructor/
lms/djangoapps/instructor_task/
lms/djangoapps/mobile_api/
openedx/core/djangoapps/heartbeat/
openedx/core/djangoapps/oauth_dispatch
openedx/core/djangoapps/user_api/
openedx/core/djangoapps/user_authn/
openedx/features/course_experience/
xmodule/

# Core Extensions
lms/djangoapps/discussion/
lms/djangoapps/edxnotes

# Analytics
common/djangoapps/track/                   @edx/edx-data-engineering

# Credentials
lms/djangoapps/certificates/               @edx/platform-credentials

# Discovery
common/djangoapps/course_modes/            @edx/platform-discovery
common/djangoapps/enrollment/              @edx/platform-discovery
lms/djangoapps/commerce/                   @edx/rev-team
lms/djangoapps/experiments/                @edx/rev-team
lms/djangoapps/learner_dashboard/          @edx/platform-discovery
lms/djangoapps/learner_home/               @edx/content-aurora
openedx/features/content_type_gating/      @edx/rev-team
openedx/features/course_duration_limits/   @edx/rev-team
openedx/features/discounts/                @edx/rev-team
