<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.urls import reverse
from django.utils.translation import gettext as _

from openedx.core.djangolib.markup import HTML, Text

%>
<div class="studio-view maintenance-form">
    <div class="form-create">
        <div class="announcement-container">
            % for announcement in announcement_list:
                <div class="announcement-item">
                    <div class="announcement-content">
                        ## xss-lint: disable=mako-invalid-html-filter
                        ${announcement.content | n}
                    </div>

                    <div class="actions-list">
                        <span>
                          % if announcement.active:
                            Active <span class="icon fa fa-check-square-o" aria-hidden="true" />
                          % else:
                            Inactive <span class="icon fa fa-square-o" aria-hidden="true" />
                          % endif
                        </span>
                        <a class="action-item announcement-edit"
                          href="${ reverse('maintenance:announcement_edit', kwargs={'pk': announcement.pk}) }">
                            <button class="btn-default">Edit</button>
                        </a>
                        <a class="action-item announcement-delete"
                          href="${ reverse('maintenance:announcement_delete', kwargs={'pk': announcement.pk}) }">
                            <button class="btn-default">Delete</button>
                        </a>
                    </div>
                </div>
            % endfor
        </div>
        <div class="actions">
            <a href="${ reverse('maintenance:announcement_create') }">
                <button class="action action-primary">${_('Create New')}</button>
            </a>
            % if is_paginated:
                  % if page_obj.has_previous():
                  <a href="${ reverse('maintenance:announcement_index', kwargs={'page': page_obj.previous_page_number()}) }">
                    <button class="action action-secondary">${_('previous')}</button>
                  </a>
                  % endif

                  % if page_obj.has_next():
                  <a href="${ reverse('maintenance:announcement_index', kwargs={'page':  page_obj.next_page_number()}) }">
                    <button class="action action-secondary">${_('next')}</button>
                  </a>
                  % endif
            % endif
        </div>
    </div>
</div>
