<%page expression_filter="h"/>
<%inherit file="../base.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
  from django.conf import settings
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%block name="headerblock">
<div class="wrapper-header wrapper" id="view-top">
  <header class="primary" role="banner">
    <div class="wrapper wrapper-l">
      <h1 class="branding">
          <a href="/"><img src="${static.url("images/studio-logo.png")}" alt="${settings.STUDIO_NAME}" /></a>
      </h1>
      <h2 class="info-course">
        <a class="course-link" href="${reverse('maintenance:maintenance')}">
          <span>${_("Maintenance Dashboard")}</span>
        </a>
      </h2>
      <%block name="commandtitle"></%block>
    </div>
    <div class="wrapper wrapper-r">
      <nav class="nav-account nav-is-signedin nav-dd ui-right" aria-label="${_('Account')}">
        <h2 class="sr">${_("Account Navigation")}</h2>
        <ol>
          <li class="nav-item nav-account-help">
            <h3 class="title"><span class="label"><a href="${get_online_help_info(online_help_token)['doc_url']}" title="${_('Contextual Online Help')}" target="_blank">${_("Help")}</a></span></h3>
          </li>
          <li class="nav-item nav-account-user">
            <h3 class="title"><span class="label"><span class="label-prefix sr">${_("Currently signed in as:")}</span><span class="account-username" title="${ user.username }">${ user.username }</span></span> <i class="icon fa fa-caret-down ui-toggle-dd"></i></h3>

            <div class="wrapper wrapper-nav-sub">
              <div class="nav-sub">
                <ul>
                  <li class="nav-item nav-account-dashboard">
                    <a href="/">${_("{studio_name} Home").format(studio_name=settings.STUDIO_SHORT_NAME)}</a>
                  </li>
                  <li class="nav-item nav-account-signout">
                    <a class="action action-signout" href="${reverse('logout')}">${_("Sign Out")}</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ol>
      </nav>
    </div>
  </header>
</div>
</%block>
