<%inherit file="base.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%block name="title">${_("Maintenance Dashboard")}</%block>
<%block name="content">
<div class="wrapper-content wrapper">
    <section class="container command-list">
        <ul>
        % for item in commands:
            <li><a href='${commands[item]["url"]}'>${unicode(commands[item]["name"])}</a>${unicode(commands[item]["description"])}</li>
        % endfor
        </ul>
    </section>
</div>
</%block>