<%page expression_filter="h"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangolib.js_utils import js_escaped_string
%>
<%namespace name='static' file='../static_content.html'/>

<%inherit file="../main.html" />

<%block name="js_extra">
<%static:require_module module_name="support/js/certificates_factory" class_name="CertificatesFactory">
    new CertificatesFactory({
        userFilter: '${ user_filter  | n, js_escaped_string}',
        courseFilter: '${course_filter  | n, js_escaped_string}'
    });
</%static:require_module>
</%block>

<%block name="pagetitle">
${_("Student Support")}
</%block>

<%block name="content">
<section class="container outside-app">
  <h1>${_("Student Support: Certificates")}</h1>
  <div class="certificates-content"></div>
</section>
</%block>
