## mako
<%page expression_filter="h"/>
<%!
import six
from django.urls import reverse
from django.utils.translation import gettext as _
%>
<%namespace name='static' file='../static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">
${_("Student Support")}
</%block>

<%block name="content">
<section class="container outside-app">
  <h1>${_("Student Support")}</h1>
  <ul>
    % for url in urls:
    <li><a href="${url["url"]}">${six.text_type(url["name"])}</a>: ${six.text_type(url["description"])}</li>
    % endfor
  </ul>
</section>
</%block>
