// variables
$blue: #4788C7;
$green:#40A24D;
$red:#D8353E;

$primary: #4788C7;

$border:#b6dcfe;
$border-gray: #f5f7fa;
$font: #656D78;
$title: #2E313C;
$note: #AAB2BD;
$placeholder: #ccd1d9;
$border-radius: 3px;

$bgColor:#f5f7fa;


$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,"Helvetica Neue", Helvetica,Tahoma，Arial, "PingFang SC", "Hiragino Sans GB", 
"Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei",SimHei，sans-serif;

// Initialize the Open edX Bootstrap theme
// @import 'edx-bootstrap/sass/open-edx/theme';

