<%page expression_filter="h"/>
<%!
from openedx.core.djangolib.markup import HTML, Text
from django.utils.translation import ugettext as _
%>
<%inherit file="base.html" />
<%block name="title">
${Text(_("{studio_name} Server Error")).format(
  studio_name=Text(settings.STUDIO_SHORT_NAME)
)}
</%block>
<%block name="bodyclass">view-util util-500</%block>

<%block name="content">
<div class="wrapper-content wrapper">
  <section class="content">
    <header>
      <h1 class="title title-1">
        ${Text(_(u"The {em_start}{studio_name}{em_end} servers encountered an error")).format(
          em_start=HTML('<em>'),
          em_end=HTML('</em>'),
          studio_name=Text(settings.STUDIO_SHORT_NAME),
        )}
      </h1>
    </header>
    <article class="content-primary" role="main">
      <p>
        ${Text(_("An error occurred in {studio_name} and the page could not be loaded. Please try again in a few moments.")).format(
          studio_name=Text(settings.STUDIO_SHORT_NAME),
        )}
        ${_("We've logged the error and our staff is currently working to resolve this error as soon as possible.")}
        )}
      </p>
    </article>
  </section>
</div>
</%block>
