<%! from django.utils.translation import ugettext as _ %>
<%inherit file="base.html" />

<%block name="content">
<section class="tos">
<div>
  <h1>${_("Activation Invalid")}</h1>

  <p>${_('Something went wrong. Check to make sure the URL you went to was correct -- e-mail programs will sometimes split it into two lines. If you still have issues, e-mail us to let us know what happened at {email}.').format(email='<a href="mailto:bugs@mitx.mit.edu">bugs@mitx.mit.edu</a>')}</p>

  <p>${_('Or you can go back to the {link_start}home page{link_end}.').format(
          link_start='<a href="/">', link_end='</a>')}</p>
</div>
</section>
</%block>
