<div class="wrapper wrapper-component-editor">
	<div class="component-editor">
  		<div class="component-edit-header">
  			<span class="component-name"><em>Editing:</em> Name of Component</span>
  			<!--should this be a menubar/menu/tabbar instead of list? -->
  	  		<ul class="nav-edit-modes">
  	  			<li id="editor-mode" class="mode" aria-controls="editor-tab" aria-selected="true" role="tab" tabindex="0">
  	  				<a href="#" class="active-mode is-set">Editor</a>
	  			</li>
	  			<li id="settings-mode" class="mode" aria-controls="settings-tab" aria-selected="false" role="tab" tabindex="-1">
	  				<a href="#" class="inactive-mode">Compiler </a>
	  			</li>
	  			<li id="settings-mode" class="mode" aria-controls="settings-tab" aria-selected="false" role="tab" tabindex="-1">
	  				<a href="#" class="active-mode">Settings </a>
	  			</li>
	  		</ul>
		</div> <!-- Editor Header -->

		<div class="component-edit-modes">
			<div class="module-editor wrapper-comp-editor" id="editor-tab">
				<!--${editor}-->
				<!-- no longer are settings imported from metadata-edit.hmtl, ideally? -->
			</div> <!-- Editor Wrapper-->
			<div class="wrapper-comp-settings" id="settings-tab">
				<ul class="list-input settings-list">
			  		<!--% for type in sorted(something.keys()):-->
			  		
			  		<!--is-set class applied when user sets value-->

					<li class="field comp-setting-entry">
			  			<div class="wrapper-comp-setting">
				  			<label class="label setting-label" for="setting-accept_file_upload">Accept File Upload</label>
				  			<select class="input setting-input" id="setting-accept_file_upload" name="Accept File Upload">
				  				<!--% for all in available options -->
								<option value="True">True</option>
								<option value="False" selected>False</option>
							</select> 
							<button class="action setting-clear inactive" type="button" name="setting-clear" value="Clear" data-tooltip="Clear">
				  				<i class="ss-icon ss-symbolicons-block undo">&#x21A9;</i>
				  			</button>
			  			</div>
			  			<span class="tip setting-help">If disabled, students cannot upload images to be graded with this problem.</span>
			  		</li>

			  		<li class="field comp-setting-entry">
			  			<div class="wrapper-comp-setting">
				  			<label class="label setting-label" for="setting-skip_spelling_checks">Basic Quality Filter</label>
				  			<select class="input setting-input" id="setting-skip_spelling_checks" name="Basic Quality Filter">
				  				<!--% for all in available options -->
								<option value="True" selected>True</option>
								<option value="False">False</option>
							</select> 
							<button class="action setting-clear inactive" type="button" name="setting-clear" value="Clear" data-tooltip="Clear">
				  				<i class="ss-icon ss-symbolicons-block undo">&#x21A9;</i>
				  			</button>
			  			</div>
			  			<span class="tip setting-help">If enabled, submissions with poor spelling, short length, or poor grammar won't be peer reviewed.</span>
			  		</li>

			  		<li class="field comp-setting-entry">
			  			<div class="wrapper-comp-setting">
				  			<label class="label setting-label" for="setting-discussion_category">Discussion Area</label>
				  			<input class="input setting-input" type="text" id="setting-discussion_category" value="Defined by Course Template"/> 
				  			<!--button clickable if is-set -->
				  			<button class="action setting-clear inactive" type="button" name="setting-clear" value="Clear" data-tooltip="Clear">
				  				<i class="ss-icon ss-symbolicons-block undo">&#x21A9;</i>
				  			</button>
				  		</div>
			  			<span class="tip setting-help">This value specifies the discussion are where this component lives, organized in the left pane of the discussion forum for your course. </span>
			  		</li>

			  		<li class="field comp-setting-entry">
			  			<div class="wrapper-comp-setting">
				  			<label class="label setting-label" for="setting-display_name">Display Name</label>
				  			<input class="input setting-input" type="text" id="setting-display_name" placeholder="Unnamed Component"/> 
				  			<!--button clickable if is-set -->
				  			<button class="action setting-clear inactive" type="button" name="setting-clear" value="Clear" data-tooltip="Clear">
				  				<i class="ss-icon ss-symbolicons-block undo">&#x21A9;</i>
				  			</button>
				  		</div>
			  			<span class="tip setting-help">This value defines the name of this component, and is shown to students as a tooltip. </span>
			  		</li>

			  		<li class="field comp-setting-entry">
			  			<div class="wrapper-comp-setting">
				  			<label class="label setting-label" for="setting-is_graded">Graded</label>
				  			<select class="input setting-input" id="setting-is_graded" name="Graded">
				  				<!--% for all in available options -->
								<option value="True">True</option>
								<option value="False" selected>False</option>
							</select> 
							<button class="action setting-clear inactive" type="button" name="setting-clear" value="Clear" data-tooltip="Clear">
				  				<i class="ss-icon ss-symbolicons-block undo">&#x21A9;</i>
				  			</button>
			  			</div>
			  			<span class="tip setting-help">If disabled, this problem will not be graded.</span>
			  		</li>

					<li class="field comp-setting-entry">
			  			<div class="wrapper-comp-setting">
				  			<label class="label setting-label" for="setting-weight">Problem Weight</label>
				  			<input class="input setting-input" type="number" id="setting-weight" placeholder="Not set"/> 
				  			<!--button clickable if is-set -->
				  			<button class="action setting-clear inactive" type="button" name="setting-clear" value="Clear" data-tooltip="Clear">
				  				<i class="ss-icon ss-symbolicons-block undo">&#x21A9;</i>
				  			</button>
				  		</div>
			  			<span class="tip setting-help">This value ....needs helpstring....</span>
			  		</li>

			  		<li class="field comp-setting-entry">
			  			<div class="wrapper-comp-setting">
				  			<label class="label setting-label" for="setting-rerandomize">Randomization</label>
				  			<select class="input setting-input" id="setting-rerandomize" name="Randomization">
				  				<!--% for all in available options -->
								<option value="always" selected>Always</option>
								<!--in case value already defaulted --> 
								<option value="onreset">On Reset</option>
								<option value="never">Never</option>
								<option value="per_student">Per Student</option>
							</select> 
							<button class="action setting-clear inactive" type="button" name="setting-clear" value="Clear" data-tooltip="Clear">
				  				<i class="ss-icon ss-symbolicons-block undo">&#x21A9;</i>
				  			</button>
			  			</div>
			  			<span class="tip setting-help">Choose from a few different ways to incorporate randomization into this problem.</span>
			  		</li>

			  		<li class="field comp-setting-entry">
			  			<div class="wrapper-comp-setting">
				  			<label class="label setting-label" for="setting-showanswer">Show Answer</label>
				  			<select class="input setting-input" id="setting-showanswer" name="Show Answer">
				  				<!--% for all in available options -->
								<option value="never">Never</option>
								<option value="closed" selected>Closed</option>
								<option value="attempted">Attempted</option>
								<option value="answered" Answered>Closed</option>
								<option value="always">Always</option>
							</select> 
							<button class="action setting-clear inactive" type="button" name="setting-clear" value="Clear" data-tooltip="Clear">
				  				<i class="ss-icon ss-symbolicons-block undo">&#x21A9;</i>
				  			</button>
			  			</div>
			  			<span class="tip setting-help">Choose from a few different options to define whether students interact with the problem's answer. (info icon here) You can define this for every problem in a course.</span>
			  		</li>

			  		<li class="field comp-setting-entry">
			  			<div class="wrapper-comp-setting">
				  			<label class="label setting-label" for="setting-sort_key">Sort Order Key</label>
				  			<input class="input setting-input" type="text" id="setting-sort_key" placeholder="Not set"/> 
				  			<!--button clickable if is-set -->
				  			<button class="action setting-clear inactive" type="button" name="setting-clear" value="Clear" data-tooltip="Clear">
				  				<i class="ss-icon ss-symbolicons-block undo">&#x21A9;</i>
				  			</button>
				  		</div>
			  			<span class="tip setting-help">You can specify the order of discussion areas in the discussion dropdown menu. Their order is alphabetical, but uses the sort key value instead of their name.</span>
			  		</li>

			  		<li class="field comp-setting-entry">
			  			<div class="wrapper-comp-setting">
				  			<label class="label setting-label" for="setting-discussion_target">Subcategory (RENAME?)</label>
				  			<input class="input setting-input" type="text" id="setting-discussion_target" value="Week 1 - Defined by Course Template"/> 
				  			<!--button clickable if is-set -->
				  			<button class="action setting-clear inactive" type="button" name="setting-clear" value="Clear" data-tooltip="Clear">
				  				<i class="ss-icon ss-symbolicons-block undo">&#x21A9;</i>
				  			</button>
				  		</div>
			  			<span class="tip setting-help">Specify a subcategory name for this discussion. This name appears in the left pane of the discussion forum for your course.</span>
			  		</li>


			  		
			  	</ul>
			  </div> <!-- Settings Wrapper-->
		</div>
		<div class="row module-actions">
	  		<a href="#" class="save-button">Save</a>
	  		<a href="#" class="cancel-button">Cancel</a>	  	
		</div> <!-- Module Actions-->
  </div>
</div>

<div class="component-actions">
  <a href="#" class="edit-button standard"><span class="edit-icon"></span>Edit</a>
  <a href="#" class="delete-button standard"><span class="delete-icon"></span>Delete</a>  
</div>
<a data-tooltip="Drag to reorder" href="#" class="drag-handle"></a>
${preview}

