<%inherit file="base.html" />
<%def name="online_help_token()"><% return "outline" %></%def>
<%!
import logging
from util.date_utils import get_default_time_display
from django.utils.translation import ugettext as _
from contentstore.utils import reverse_usage_url
%>
<%block name="title">${_("Coupons")}</%block>
<%block name="bodyclass">is-signedin course view-outline</%block>
<%namespace name='static' file='static_content.html'/>
<%namespace name="units" file="widgets/units.html" />
<%block name="content">
<div class="wrapper-mast wrapper">
  <header class="mast has-actions">
    <h1 class="page-header">${_("Coupons List")}</h1>
    <nav class="nav-actions">
      <h3 class="sr">${_("Page Actions")}</h3>
      <ul>
        <li class="nav-item">
          <a href="#" class="button new-button new-coupon-button"><i class="icon-plus icon-inline"></i>
            ${_("Add Coupon")}</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
<div class="wrapper-content wrapper">
<section class="content">
<section>

</section>
</section>
</div>
</%block>
