<%page expression_filter="h"/>
<%inherit file="base.html" />
<%def name="online_help_token()"><% return "develop_course" %></%def>
<%!
import logging
import six
from six.moves.urllib.parse import quote

from cms.djangoapps.contentstore.config.waffle_utils import should_show_checklists_quality
from common.djangoapps.util.date_utils import get_default_time_display
from django.utils.translation import gettext as _
from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
from openedx.core.djangolib.markup import HTML, Text
from django.urls import reverse
%>
<%block name="title">${_("Course Outline")}</%block>
<%block name="bodyclass">is-signedin course view-outline</%block>

<%namespace name='static' file='static_content.html'/>

<%block name="requirejs">
    require(["js/factories/outline"], function (OutlineFactory) {
        OutlineFactory(
            ${course_structure | n, dump_js_escaped_json},
            ${initial_state | n, dump_js_escaped_json}
        );
    });
</%block>

<%block name="header_extras">
<link rel="stylesheet" type="text/css" href="${static.url('js/vendor/timepicker/jquery.timepicker.css')}" />
% for template_name in ['course-outline', 'xblock-string-field-editor', 'basic-modal', 'modal-button', 'course-outline-modal', 'due-date-editor', 'self-paced-due-date-editor', 'release-date-editor', 'grading-editor', 'publish-editor', 'staff-lock-editor', 'unit-access-editor', 'discussion-editor', 'content-visibility-editor', 'verification-access-editor', 'timed-examination-preference-editor', 'access-editor', 'settings-modal-tabs', 'show-correctness-editor', 'highlights-editor', 'highlights-enable-editor', 'course-highlights-enable']:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="js/${template_name}.underscore" />
</script>
% endfor
<%static:optional_include_mako file="course_outline_header_extras_post.html" />

% if not settings.STUDIO_FRONTEND_CONTAINER_URL:
<link rel="stylesheet" type="text/css" href="${static.url('common/css/vendor/common.min.css')}" />
<link rel="stylesheet" type="text/css" href="${static.url('common/css/vendor/courseOutlineHealthCheck.min.css')}" />
% endif
</%block>

<%block name="page_alert">
  %if notification_dismiss_url is not None:
  <div class="wrapper wrapper-alert wrapper-alert-announcement is-shown">
    <div class="alert announcement has-actions">
      <span class="feedback-symbol fa fa-bullhorn" aria-hidden="true"></span>

      <div class="copy">
        <h2 class="title title-3">${_("This course was created as a re-run. Some manual configuration is needed.")}</h2>

        <p>${_("No course content is currently visible, and no learners are enrolled. Be sure to review and reset all dates, including the Course Start Date; set up the course team; review course updates and other assets for dated material; and seed the discussions and wiki.")}</p>
      </div>

      <ul class="nav-actions">
        <li class="action action-dismiss">
          <a href="#" class="button dismiss-button" data-dismiss-link='${notification_dismiss_url}'>
            <span class="icon fa fa-times-circle" aria-hidden="true"></span>
            <span class="button-copy">${_("Dismiss")}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  %endif

    %if deprecated_blocks_info.get('blocks') or deprecated_blocks_info.get('deprecated_enabled_block_types'):
      <div class="wrapper wrapper-alert wrapper-alert-error is-shown">
        <div class="alert announcement">
          <span class="feedback-symbol fa fa-warning" aria-hidden="true"></span><span class="sr">${_("Warning")}</span>

          <div class="copy">
            <h2 class="title title-3 warning-heading-text">${_("This course uses features that are no longer supported.")}</h2>

            %if deprecated_blocks_info.get('blocks'):
              <div class="components-list">
                <p class="components-list-heading-text">${_("You must delete or replace the following components.")}</p>
                  <nav class="nav-related" aria-label="${_('Unsupported Components')}">
                    <ul>
                      % for component_parent_url, component_display_name in deprecated_blocks_info['blocks']:
                          <li class="nav-item">
                                % if component_display_name:
                                    <a href="${component_parent_url}">${component_display_name}</a>
                                % else:
                                    <a href="${component_parent_url}">${_("Deprecated Component")}</a>
                                % endif
                          </li>
                      % endfor
                    </ul>
                  </nav>
              </div>
            %endif

            % if deprecated_blocks_info.get('deprecated_enabled_block_types'):
              <div class="advance-modules-list">
                <p class="advance-modules-remove-text">
                  ${Text(_("To avoid errors, {platform_name} strongly recommends that you remove unsupported features from the course advanced settings. To do this, go to the {link_start}Advanced Settings page{link_end}, locate the \"Advanced Module List\" setting, and then delete the following modules from the list.")).format(
                    platform_name=static.get_platform_name(),
                    link_start=HTML('<a href="{advance_settings_url}">').format(advance_settings_url=deprecated_blocks_info['advance_settings_url']),
                    link_end=HTML("</a>")
                  )}
                </p>
                <nav class="nav-related" aria-label="${_('Unsupported Advance Modules')}">
                  <ul>
                    % for block_type in deprecated_blocks_info['deprecated_enabled_block_types']:
                      <li class="nav-item">${block_type}</li>
                    % endfor
                  </ul>
                </nav>
              </div>
            % endif
          </div>
        </div>
      </div>
    %endif

  %if proctoring_errors:
    <div class="wrapper wrapper-alert wrapper-alert-error is-shown">
      <div class="alert announcement has-actions">
        <span class="feedback-symbol fa fa-warning" aria-hidden="true"></span>

        <div class="exam-settings-alert copy">
          <h2 class="title title-3">${_("This course has proctored exam settings that are incomplete or invalid.")}</h2>
          <p>
            % if mfe_proctored_exam_settings_url:
              <% url_encoded_course_id = quote(six.text_type(context_course.id).encode('utf-8'), safe='') %>
              ${Text(_("To update these settings go to the {link_start}Proctored Exam Settings page{link_end}.")).format(
                link_start=HTML('<a href="${mfe_proctored_exam_settings_url}">').format(
                        mfe_proctored_exam_settings_url=mfe_proctored_exam_settings_url
                ),
                link_end=HTML("</a>")
              )}
            % else:
              ${Text(_("To update these settings go to the {link_start}Advanced Settings page{link_end}.")).format(
                link_start=HTML('<a href="{advance_settings_url}">').format(advance_settings_url=advance_settings_url),
                link_end=HTML("</a>")
              )}
            % endif
          </p>
          <div class="errors-list">
            <nav class="nav-related" aria-label="${_('Proctoring Settings Errors')}">
              <ul>
                % for error in proctoring_errors:
                  <li class="nav-item">
                    <h3 class="title title-4">${error.get('model', {}).get('display_name')}</h3>
                    <p>${error.get('message')}</p>
                  </li>
                % endfor
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  %endif

</%block>

<%block name="content">
<div class="wrapper-mast wrapper">
    <header class="mast has-actions has-subtitle">
        <h1 class="page-header">
            <small class="subtitle">${_("Content")}</small>
            <span class="sr">&gt; </span>${_("Course Outline")}
        </h1>

        <nav class="nav-actions" aria-label="${_('Page Actions')}">
            <h3 class="sr">${_("Page Actions")}</h3>
            <ul>
                <li class="nav-item">
                    <a href="#" class="button button-new" data-category="chapter" data-parent="${context_course.location}" data-default-name="${_('Section')}" title="${_('Click to add a new section')}">
                        <span class="icon fa fa-plus" aria-hidden="true"></span>${_('New Section')}
                    </a>
                </li>
                %if reindex_link:
                    <li class="nav-item">
                        <a href="${reindex_link}" class="button button-reindex" data-category="reindex" title="${_('Reindex current course')}">
                            <span class="icon-arrow-right" aria-hidden="true"></span>${_('Reindex')}
                        </a>
                    </li>
                %endif
                <li class="nav-item">
                    <a href="#" class="button button-toggle button-toggle-expand-collapse collapse-all is-hidden">
                        <span class="collapse-all"><span class="icon fa fa-arrow-up" aria-hidden="true"></span> <span class="label">${_("Collapse All Sections")}</span></span>
                        <span class="expand-all"><span class="icon fa fa-arrow-down" aria-hidden="true"></span> <span class="label">${_("Expand All Sections")}</span></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="${lms_link}" rel="external" class="button view-button view-live-button"
                       title="${_('Click to open the courseware in the LMS in a new tab')}">${_("View Live")}</a>
                </li>
                <!-- <li class="nav-item">
                  <a id="myBtn" rel="external" class="button view-button view-live-button"
                     title="${_('Click to add/view meeting link')}">${_("Live Class")}</a>
              </li> -->
              <li class="nav-item">
                <a id="enroll_users_btn" rel="external" class="button view-button view-live-button"
                   title="${_('Click to add/view meeting link')}">${_("Enroll Students")}</a>
            </li>
            </ul>
        </nav>
    </header>
</div>
<div id="myModal" class="modal-meeting">

  <!-- Modal content -->
  <div class="modal-content-meeting">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Create Live Class</h2>
    </div>

    <div class="modal-body">
      <table style="text-align: center;">
        <tr>
          <td style="width:30%">
            <p for="meeting-topic">Topic</p>
            <input type="text" id="meeting-topic" name="meeting-topic">
          </td>
          <td style="width:30%">
            <p for="meeting-date">Date</p>
            <input type="date" id="meeting-date" name="meeting-date">
            </td>
        </tr>
        <tr>

          <td style="width:30%">
            <p for="meeting-start-time">Start Time</p>
            <input type="time" id="meeting-start-time" name="meeting-start-time">
          </td>
          <td style="width:30%">
            <p for="meeting-end-time">End Time</p>
            <input type="time" id="meeting-end-time" name="meeting-end-time">
            </div>
          </td>
        </tr>
        <!-- <tr style="margin-top: 10px;">
          <td style="width:70%;text-align: center;">
            <button id="generate" class="button" style="background-color: #005800;;color: #fff;border-radius: 6px;border-color: #fff;
            padding: 5px;">Generate</button>
          </td>
        </tr> -->
      </table>
      <div style="margin-top:10px;text-align:center;width: 100%;">
        <button id="generate" class="button" style="background-color: #005800;;color: #fff;border-radius: 6px;border-color: #fff;
            padding: 5px;">Generate Link</button>
      </div>
      <div style="margin-top:10px">
        Live Classes
      </div>
      <div style="margin-top:10px">
      <div id="output" class="out">

      </div>
    </div>
    </div>

  </div>

</div>
<div id="myModal1" class="modal-meeting1">
  <div class="modal-content-meeting">
  <div class="modal-header">
    <span class="close1">&times;</span>
    <h2>Enroll Students</h2>
  </div>
  <div class="modal-body">
    <table style="text-align: center;width: 100%;">
      <tr>
        <td style="width:70%">
          <!-- <p for="enroll-student">Name</p> -->
          <input  style="width: 100%;" type="text" id="enroll-student" name="meeting-topic" placeholder="Enter student username...">
        </td>
        <td style="width:30%">
          <div style="margin-top:10px;text-align:center;width: 100%;">
            <button id="add-student" class="button" style="background-color: #005800;;color: #fff;border-radius: 6px;border-color: #fff;
                padding: 5px;">Add Student</button>
          </div>
        </td>
      </tr>
      </table>
      <div style="margin-top:10px">
        Enrolled Students
      </div>
      <div style="margin-top:10px">
      <div id="output-students" class="out-student">

      </div>
    </div>
    </div>
  </div>

</div>
<div class="wrapper-content wrapper">
    <section class="content">
        <article class="content-primary" role="main">
            <div class="course-status">
                ## set width dynamically depending upon whether course has a start date to ensure spacing looks good
                % if course_release_date == 'Set Date':
                    <div style="width: 40%" class="status-studio-frontend">
                % else:
                    <div style="width: 50%" class="status-studio-frontend">
                % endif
                    <%static:studiofrontend entry="courseOutlineHealthCheck">
                        <%
                            course_key = context_course.id
                        %>
                        {
                            "lang": "${language_code | n, js_escaped_string}",
                            "course": {
                                "id": "${context_course.id | n, js_escaped_string}",
                                "name": "${context_course.display_name_with_default | n, js_escaped_string}",
                                "course_release_date": "${course_release_date | n, js_escaped_string}",
                                "is_course_self_paced": ${context_course.self_paced | n, dump_js_escaped_json},
                                "url_name": "${context_course.location.name | n, js_escaped_string}",
                                "org": "${context_course.location.org | n, js_escaped_string}",
                                "num": "${context_course.location.course | n, js_escaped_string}",
                                "display_course_number": "${context_course.display_coursenumber | n, js_escaped_string}",
                                "revision": "${context_course.location.revision | n, js_escaped_string}"
                            },
                            "help_tokens": {
                                "files": "${get_online_help_info(online_help_token())['doc_url'] | n, js_escaped_string}"
                            },
                            "enable_quality": ${should_show_checklists_quality(context_course.id) | n, dump_js_escaped_json},
                            "links": {
                                "settings": ${reverse('settings_handler', kwargs={'course_key_string': six.text_type(course_key)})| n, dump_js_escaped_json}
                            }
                        }
                    </%static:studiofrontend>
                </div>
                <div class="status-highlights-enabled"></div>
            </div>
            <div class="wrapper-dnd"
              % if getattr(context_course, 'language'):
                lang="${context_course.language}"
              % endif
            >
                <%
                course_locator = context_course.location
                %>
                <h2 class="sr">${_("Course Outline")}</h2>
                <article class="outline outline-complex outline-course" data-locator="${course_locator}" data-course-key="${course_locator.course_key}">
                </article>
            </div>
            <div class="ui-loading">
                <p><span class="spin"><span class="icon fa fa-refresh" aria-hidden="true"></span></span> <span class="copy">${_("Loading")}</span></p>
            </div>
        </article>
        <aside class="content-supplementary" role="complementary">
            <div class="bit">
                <h3 class="title-3">${_("Creating your course organization")}</h3>
                <p>${_("You add sections, subsections, and units directly in the outline.")}</p>
                <p>${_("Create a section, then add subsections and units. Open a unit to add course components.")}</p>
            </div>
            <div class="bit">
                <h3 class="title-3">${_("Reorganizing your course")}</h3>
                <p>${_("Drag sections, subsections, and units to new locations in the outline.")}</p>
                <div class="external-help">
                    <a href="${get_online_help_info('outline')['doc_url']}" rel="noopener" target="_blank" class="button external-help-button">${_("Learn more about the course outline")}</a>
                </div>
            </div>
            <div class="bit">
                <h3 class="title-3">${_("Setting release dates and grading policies")}</h3>
                <p>${_("Select the Configure icon for a section or subsection to set its release date. When you configure a subsection, you can also set the grading policy and due date.")}</p>
                <div class="external-help">
                    <a href="${get_online_help_info('grading')['doc_url']}" rel="noopener" target="_blank" class="button external-help-button">${_("Learn more about grading policy settings")}</a>
                </div>
            </div>
            <div class="bit">
                <h3 class="title-3">${_("Changing the content learners see")}</h3>
                <p>${_("To publish draft content, select the Publish icon for a section, subsection, or unit.")}</p>
                <p>${Text(_("To make a section, subsection, or unit unavailable to learners, select the Configure icon for that level, then select the appropriate {em_start}Hide{em_end} option. Grades for hidden sections, subsections, and units are not included in grade calculations.")).format(em_start=HTML("<strong>"), em_end=HTML("</strong>"))}</p>
                <p>${Text(_("To hide the content of a subsection from learners after the subsection due date has passed, select the Configure icon for a subsection, then select {em_start}Hide content after due date{em_end}. Grades for the subsection remain included in grade calculations.")).format(em_start=HTML("<strong>"), em_end=HTML("</strong>"))}</p>
                <div class="external-help">
                    <a href="${get_online_help_info('visibility')['doc_url']}" rel="noopener" target="_blank" class="button external-help-button">${_("Learn more about content visibility settings")}</a>
                </div>
            </div>

        </aside>
    </section>
</div>
<script>
  var modal = document.getElementById("myModal");
  // var btn = document.getElementById("liveclass_btn");
  var modal1 = document.getElementById("myModal1");
  var btn1 = document.getElementById("enroll_users_btn");
  // var span = document.getElementsByClassName("close")[0];
  var span1 = document.getElementsByClassName("close1")[0];
  var token = '';
  csrftoken()

  // btn.onclick = function() {
  //   modal.style.display = "block";
  //   getRooms();
  //   modal1.style.display = "none";
  // }
  btn1.onclick = function() {
    modal1.style.display = "block";
    getStudents();
    // modal.style.display = "none";


  }


  // span.onclick = function() {
  //   modal.style.display = "none";
  //   //modal1.style.display = "none";
  // }
  span1.onclick = function() {
   // modal.style.display = "none"
    modal1.style.display = "none";
  }

  window.onclick = function(event) {
    // if (event.target == modal) {
    //   modal.style.display = "none";
    //  // modal1.style.display = "none";
    // }
    if (event.target == modal1) {
      //modal.style.display = "none";
      modal1.style.display = "none";
    }
  }
function reply_click()
{
    removeElement();
    createRoom();
}
function enroll_click()
{
  student = document.getElementById('enroll-student').value
  if(student!="")
  {
  removeElementStudents()
  enroll_student()
  }
  else
  {
    alert("Enter username")
  }
}
function enroll_student()
{
  url=window.location.href;
  str_data = url.split('/')
  student = document.getElementById('enroll-student').value
   student_data = {
    "user":student,
    "course_details":{
        "course_id":str_data[str_data.length-1]
    }
}
  fetch("http://studio.launchpadlearning.ca/user/enrollment", {
      method: "POST",
      headers: {
      'Content-Type': 'application/json',
      'authorization':'Basic ZWR4OmVkeA==',
      'X-CSRFToken':token

    },
      body: JSON.stringify(student_data)
    }).then(function(res){ return res.json(); })
    .then(function(data){
    if(data.message==undefined)
    {

    }
    else
    {
      alert(data.message)
    }
    getStudents()

    })

}
document.getElementById('generate').onclick = reply_click;
document.getElementById('add-student').onclick = enroll_click;
//getRooms();
function removeElement() {
    var elem = document.getElementById("output");
    elem.innerHTML = '';
}
function removeElementStudents() {
    var elem = document.getElementById("output-students");
    elem.innerHTML = '';
}
function login()
{

          let formData = new FormData();
formData.append("email","edx@example.com");
formData.append( "password","edx123456");
  fetch('http://studio.launchpadlearning.ca/api/user/v1/account/login_session/', {
    body: formData,
           method: "POST"


})
    .then( res => res.json() )
    .then(response => {
    //  alert(JSON.stringify(response))
      csrftoken()
    })
}
function csrftoken()
{
  fetch('http://studio.launchpadlearning.ca/csrf/api/v1/token', {headers: {
          'Content-Type': 'application/json',
        }},)
    .then( res => res.json() )
    .then(response => {
       token = response.csrfToken;
       getStudents()
    })
}

function getStudents()
{
  url=window.location.href;
  str_data = url.split('/')

   fetch("http://studio.launchpadlearning.ca/course/enroll/course/detail/"+encodeURIComponent(str_data[str_data.length-1]),
  // fetch("http://studio.launchpadlearning.ca/user/enrollment?course_id="+encodeURIComponent(str_data[str_data.length-1]),
       )
    .then( res => res.json() )
    .then(response => {


     // alert(JSON.stringify(response))
     var output = document.getElementById('output-students');
      for(let i=0;i<response.results.length;i++)
      {
        var parent = document.createElement("div");
        if(!document.getElementById('timedrpact'+i))
        {
          var ele = document.createElement("div");
          ele.setAttribute("id","timedrpact"+i);
          ele.setAttribute("class","inner-student");
          ele.innerHTML=response.results[i]['user']['username']
          parent.appendChild(ele);
          output.appendChild(parent);
        }
      }


    })
    .catch(error => console.error('Error:', error));

}

function createRoom()
{
    url=window.location.href;
    str_data = url.split('+')
    data_length = str_data.length-1
    topic = str_data[1]+'0f0f'+document.getElementById('meeting-topic').value
    date = document.getElementById('meeting-date').value
    var unix = Math.round(+new Date()/1000);
    start_time = document.getElementById('meeting-start-time').value
    end_time = document.getElementById('meeting-end-time').value
    let data = {"properties":{"room_name":topic}}
    var datetime_start = new Date(date+' '+start_time);
    var datetime_end= new Date(date+' '+end_time);
    const start_unix = Math.floor(datetime_start.getTime() / 1000);
    const end_unix = Math.floor(datetime_end.getTime() / 1000);
    let crt_room = {"name": topic,
    "privacy": "private",
    "properties" : {
      "start_audio_off":true,
      "start_video_off":true,
       nbf:start_unix,
       exp:end_unix
      }}
      fetch("http://api.daily.co/v1/rooms/", {
      method: "POST",
      headers: {'Content-Type': 'application/json', 'Authorization': 'Bearer a471ccb8f1587c7a95c5fdd63556391cf898fd210a997ae6635b2915b585dc10'},
      body: JSON.stringify(crt_room)
    }).then(function(res){ return res.json(); })
    .then(function(data){
      getRooms()
      updateLiveClass(data)


})
}
function updateLiveClass(meetingResponse)
{

  url=window.location.href;
  str_data = url.split('+')
  str_data1= url.split('/')
  data_length = str_data.length-1
    topic = str_data[1]+'0f0f'+document.getElementById('meeting-topic').value
    date = document.getElementById('meeting-date').value
  var datetime_start = new Date(date+' '+start_time);
    var datetime_end= new Date(date+' '+end_time);
    var unix = Math.round(+new Date()/1000);
    start_time = document.getElementById('meeting-start-time').value
    end_time = document.getElementById('meeting-end-time').value
    const start_unix = Math.floor(datetime_start.getTime() / 1000);
    const end_unix = Math.floor(datetime_end.getTime() / 1000);
  data = {
    course_id:str_data1[str_data1.length-1],
    room_id:meetingResponse.id,
    room_name:meetingResponse.name,
    topic_name:topic,
    meeting_date:date,
    meeting_start_time:start_time,
    meeting_end_time:end_time,
    client_token:"xydsdjxkksdasdsadkhas1223msd",
    meeting_link:meetingResponse.url


  };
  //alert(JSON.stringify(data))
  post_url = "http://student.launchpadlearning.ca/api/enrollment/v1/enrollment/"+encodeURIComponent(str_data1[str_data1.length-1])+"/live_classes";

  fetch(post_url, {
      method: "POST",
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify(data)
    }).then(function(res){ return res.json(); })
    .then(function(data){
})

}
function getRooms(){
    fetch('http://api.daily.co/v1/rooms?limit=50', {headers: {
          'Content-Type': 'application/json',
          'Authorization': 'Bearer a471ccb8f1587c7a95c5fdd63556391cf898fd210a997ae6635b2915b585dc10',
        }},)
    .then( res => res.json() )
    .then(response => {
      url=window.location.href;
      str_data = url.split('+')
      topic = str_data[1]
      //alert(JSON.stringify(response))
      var output = document.getElementById('output');
      for(let i=0;i<response.data.length;i++)
        {
          let tmp_name = response.data[i]["name"];
          let conv_name = tmp_name.split('0f0f');
          var parent = document.createElement("div");
            if(conv_name[0]==topic)
            {
              //alert(conv_name)
                var ele = document.createElement("div");
                ele.setAttribute("id","timedrpact"+i);
                ele.setAttribute("class","inner");
                ele.innerHTML=conv_name[1];
                parent.appendChild(ele);
                var ele1= document.createElement("a");
                ele1.setAttribute("id","timedrpact1"+i);
                ele1.setAttribute("class","button inner-link");
                ele1.setAttribute("href",response.data[i]["url"]);
                ele1.setAttribute("target",'_black');
                ele1.innerHTML='Start';
                parent.appendChild(ele1);
                // var ele2 = document.createElement("div");
                // ele2.setAttribute("id",'inner-link-delete'+i);
                // ele2.setAttribute("class","btn inner-link-delete");
                // ele2.innerHTML='Delete';
                // parent.appendChild(ele2);
                output.appendChild(parent);

            }



        }
    })
    .catch(error => console.error('Error:', error));
}
  </script>
</%block>


