<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%block name="bodyclass">error</%block>

<%block name="content">
  <div class="error-prompt">
    <h2 class="description">
      ${_("We're having trouble rendering your component.")}
      </h2>
    % if message:
    <p class="description">
      ${_("Error message:")}
      </p>
      <span text-align="center" width="60%">
    <pre class="description">
      ${message | h}
      </pre>
  </span>
    % endif
  </div>
</%block>
