<%! from django.utils.translation import ugettext as _ %>

<%inherit file="base.html" />

<%block name="title">${_("My Courses")}</%block>
<%block name="bodyclass">is-signedin index dashboard</%block>

<%block name="header_extras">
  <script type="text/template" id="new-course-template">
    <section class="new-course">
      <article>
        <form class="create-course course-info">
          <div class="wrap-error">
          <div id="course_creation_error" name="course_creation_error" class="message message-status message-status error" role="alert">
          <p>Please correct the highlighted fields below.</p>
          </div>
          </div>

          <fieldset>
            <legend class="sr">${_("Required Information to Create a New Course")}</legend>

            <h3 class="title">${_("Create a New Course")}</h3>

            <ol class="list-input">
              <li class="field field-inline text required" id="field-course-name">
                <label for="new-course-name">${_("Course Name")}</label>
                <input class="new-course-name" id="new-course-name" type="text" name="new-course-name" aria-required="true" placeholder="${_('e.g. Introduction to Computer Science')}" />
                <span class="tip tip-stacked">${_("The public display name for your course - ")}<strong>${_("Note: This cannot be changed")}</strong></span>
              </li>
              <li class="field field-inline text required" id="field-organization">
                <label for="new-course-org">${_("Organization")}</label>
                <input class="new-course-org" id="new-course-org" type="text" name="new-course-org" aria-required="true" placeholder="${_('e.g. MITX or IMF')}" />
                <span class="tip tip-stacked">${_("The name of the organization sponsoring the course  - ")}<strong>${_("Note: No spaces or special characters are allowed")}</strong></span>
              </li>

              <li class="field field-inline text required" id="field-course-number">
                <label for="new-course-number">${_("Course Number")}</label>
                <input class="new-course-number" id="new-course-number" type="text" name="new-course-number" aria-required="true" placeholder="${_('e.g. CS101')}" />
                <span class="tip tip-stacked">${_("The unique number that identifies your course within your organization")}</span>
              </li>

              <li class="field field-inline text required" id="field-course-run">
                <label for="new-course-run">${_("Course Run")}</label>
                <input class="new-course-run" id="new-course-run" type="text" name="new-course-run" aria-required="true"placeholder="${_('e.g. 2013_Spring')}" />
                <span class="tip tip-stacked">${_("The term in which your course will run")} - <strong>${_("Note: No spaces or special characters are allowed")}</strong></span>
              </li>
            </ol>

          </fieldset>

          <div class="actions">
            <input type="submit" value="${_('Save')}" class="action action-primary new-course-save" />
            <input type="button" value="${_('Cancel')}" class="action action-secondary action-cancel new-course-cancel" />
          </div>

        </form>
      </article>
    </section>
  </script>
</%block>

<%block name="content">
  <div class="wrapper-mast wrapper">
    <header class="mast has-actions">
      <h1 class="page-header">${_("My Courses")}</h1>

      % if user.is_active:
      <nav class="nav-actions">
        <h3 class="sr">${_("Page Actions")}</h3>
        <ul>
          <li class="nav-item">
            % if not disable_course_creation:
              <a href="#" class="button new-button new-course-button"><i class="icon-plus"></i> ${_("New Course")}</a>
	    % elif settings.MITX_FEATURES.get('STAFF_EMAIL',''):
	      <a href="mailto:${settings.MITX_FEATURES.get('STAFF_EMAIL','')}">${_("Email staff to create course")}</a>
            % endif
          </li>
        </ul>
      </nav>
      % endif
    </header>
  </div>

  <div class="wrapper-content wrapper">
    <section class="content">
      <div class="introduction">
        <p class="copy">
          <strong>${_("Welcome, %(name)s") % dict(name= user.username)}</strong>.
          ${_("Here are all of the courses you are currently authoring in Studio:")}</p>
      </div>
    </section>
  </div>

  <div class="main-wrapper">
    <div class="inner-wrapper">
      <article class="my-classes">
        % if user.is_active:
        <ul class="class-list">
          %for course, url, lms_link in sorted(courses, key=lambda s: s[0].lower() if s[0] is not None else ''):
          <li>
            <a class="class-link" href="${url}" class="class-name">
              <span class="class-name">${course}</span>
            </a>
            <a href="${lms_link}" rel="external" class="button view-button view-live-button">${_("View Live")}</a>
          </li>
            %endfor
        </ul>
        % else:
          <div class='warn-msg'>
            <p>
            ${_("In order to start authoring courses using edX Studio, please click on the activation link in your email.")}
            </p>
          </div>
        % endif
      </article>
    </div>
  </div>
</%block>
