<%page expression_filter="h"/>
<%inherit file="base.html" />
<%def name="online_help_token()">
<%
if is_unit_page:
    return "unit"
else:
    return "container"
%>
</%def>
<%!
from django.urls import reverse
from django.utils.translation import gettext as _

from cms.djangoapps.contentstore.helpers import xblock_studio_url, xblock_type_display_name
from openedx.core.djangolib.js_utils import (
    dump_js_escaped_json, js_escaped_string
)
from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="title">${xblock.display_name_with_default} ${xblock_type_display_name(xblock)}</%block>
<%block name="bodyclass">is-signedin course container view-container</%block>

<%namespace name='static' file='static_content.html'/>

<%block name="header_extras">
% for template_name in templates:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="js/${template_name}.underscore" />
</script>
% endfor
<script type="text/template" id="image-modal-tpl">
    <%static:include path="common/templates/image-modal.underscore" />
</script>
<link rel="stylesheet" type="text/css" href="${static.url('js/vendor/timepicker/jquery.timepicker.css')}" />
% if not settings.STUDIO_FRONTEND_CONTAINER_URL:
    <link rel="stylesheet" type="text/css" href="${static.url('common/css/vendor/common.min.css')}" />
    <link rel="stylesheet" type="text/css" href="${static.url('common/css/vendor/editImageModal.min.css')}" />
% endif
</%block>

<%block name="page_bundle">
    <%static:webpack entry="js/factories/container">
        ContainerFactory(
            ${component_templates | n, dump_js_escaped_json},
            ${xblock_info | n, dump_js_escaped_json},
            "${action | n, js_escaped_string}",
            {
                isUnitPage: ${is_unit_page | n, dump_js_escaped_json},
                canEdit: true,
                outlineURL: "${outline_url | n, js_escaped_string}",
                clipboardData: ${user_clipboard | n, dump_js_escaped_json},
            }
        );
        
    </%static:webpack>
</%block>

<%block name="content">

<script type="text/javascript">
    window.STUDIO_FRONTEND_IN_CONTEXT_IMAGE_SELECTION = true;
</script>

<div class="wrapper-content wrapper">
    <div class="inner-wrapper">
        <section class="content-area">

            <article class="content-primary">
                <div class="container-message wrapper-message"></div>
                <%
                    assets_url = reverse('assets_handler', kwargs={'course_key_string': str(xblock_locator.course_key)})
                %>
                <section class="wrapper-xblock level-page is-hidden studio-xblock-wrapper" data-locator="${xblock_locator}" data-course-key="${xblock_locator.course_key}" data-course-assets="${assets_url}">
                </section>
                <div class="xblock-studio_view xblock-studio_view-rapid_response_xblock xblock_asides-v1 wrapper-comp-plugins" data-init="RapidResponseAsideStudioInit" data-runtime-class="StudioRuntime" data-runtime-version="1" data-block-type="rapid_response_xblock" data-usage-id="aside-usage-v2:block-v1$:MIT-Arbisoft+CS101+2023-R1+type@problem+block@9ae8a4a60fdc4d05940e3caf297d44e0::rapid_response_xblock" data-request-token="1df72f76a3d911ee936b0242ac12000d">  
                    <div class="rapid-response-block" data-enabled="True"> 
                    <div class="rapid-response-content"></div>  
                    <script type="text/template" id="rapid-response-toggle-tmpl">
                        <label>
                          <input type="checkbox" class="rapid-enabled-toggle"/>
                          Enable problem for rapid-response
                        </label>
                      </script>
                            </div>	</div>
                <div class="ui-loading">
                    <p><span class="spin"><span class="icon fa fa-refresh" aria-hidden="true"></span></span> <span class="copy">${_("Loading")}</span></p>
                </div>
            </article>
            
        </section>
    </div>

   </div>
</%block>
