<!-- NOTE not used currently but retained b/c it's yet-to-be-wired functionality -->
<%inherit file="base.html" />
<%block name="title">Schedule and details</%block>
<%block name="bodyclass">is-signedin course settings</%block>


<%namespace name='static' file='static_content.html'/>
<%!
from contentstore import utils
%>


<%block name="jsextra">
  <script type="text/javascript" src="${static.url('js/template_loader.js')}"></script>
  <script type="text/javascript" src="${static.url('js/models/course_relative.js')}"></script>
  <script type="text/javascript" src="${static.url('js/views/validating_view.js')}"></script>

  <script type="text/javascript">
    $(document).ready(function(){
    });

  </script>
</%block>

<%block name="content">
  <!-- -->
  <div class="main-wrapper">
    <div class="inner-wrapper">
      <h1>Settings</h1>
      <article class="settings-overview">
        <div class="settings-page-section main-column">

          <section class="settings-faculty">
            <h2 class="title">Faculty</h2>

            <section class="settings-faculty-members">
              <header>
                <h3>Faculty Members</h3>
                <span class="detail">Individuals instructing and help with this course</span>
              </header>

              <div class="row">
                <div class="field enum">
                  <ul class="input-list course-faculty-list">
                    <li class="input input-existing multi course-faculty-list-item">
                      <div class="row row-col2">
                        <label for="course-faculty-1-firstname">Faculty First Name:</label>
                        <div class="field">
                          <input type="text" class="long" id="course-faculty-1-firstname">
                        </div>
                      </div>

                      <div class="row row-col2">
                        <label for="course-faculty-1-lastname">Faculty Last Name:</label>
                        <div class="field">
                          <input type="text" class="long" id="course-faculty-1-lastname">
                        </div>
                      </div>

                      <div class="row row-col2">
                        <label for="course-faculty-1-photo">Faculty Photo</label>
                        <div class="field">
                          <div class="input input-existing">
                            <div class="current current-faculty-1-photo">
                              <a href="#" class="remove-item remove-faculty-photo remove-video-data"><span class="delete-icon"></span> Delete Faculty Photo</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <label for="course-faculty-1-bio">Faculty Bio:</label>
                        <div class="field">
                          <textarea class="long tall edit-box tinymce" id="course-faculty-1-bio"></textarea>
                          <span class="tip tip-stacked">A brief description of your education, experience, and expertise</span>
                        </div>
                      </div>

                      <a href="#" class="remove-item remove-faculty-data"><span class="delete-icon"></span> Delete Faculty Member</a>
                    </li>

                    <li class="input multi course-faculty-list-item">
                      <div class="row row-col2">
                        <label for="course-faculty-2-firstname">Faculty First Name:</label>
                        <div class="field">
                          <input type="text" class="long" id="course-faculty-2-firstname">
                        </div>
                      </div>

                      <div class="row row-col2">
                        <label for="course-faculty-2-lastname">Faculty Last Name:</label>
                        <div class="field">
                          <input type="text" class="long" id="course-faculty-2-lastname">
                        </div>
                      </div>

                      <div class="row row-col2">
                        <label for="course-faculty-2-photo">Faculty Photo</label>
                        <div class="field">
                          <div class="input">
                            <a href="#" class="new-item new-faculty-photo add-faculty-photo-data" id="course-faculty-2-photo">
                              <span class="upload-icon"></span>Upload Faculty Photo
                            </a>
                            <span class="tip tip-inline">Max size: 30KB</span>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <label for="course-faculty-2-bio">Faculty Bio:</label>
                        <div class="field">
                          <div clas="input">
                            <textarea class="long tall edit-box tinymce" id="course-faculty-2-bio"></textarea>
                            <span class="tip tip-stacked">A brief description of your education, experience, and expertise</span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <a href="#" class="new-item new-course-faculty-item add-faculty-data">
                    <span class="plus-icon"></span>New Faculty Member
                  </a>
                </div>
              </div>
            </section>

          </section><!-- .settings-staff -->

          <section class="settings-problems">
            <h2 class="title">Problems</h2>

            <section class="settings-problems-general">
              <header>
                <h3>General Settings</h3>
                <span class="detail">Course-wide settings for all problems</span>
              </header>

              <div class="row row-col2">
                <h4 class="label">Problem Randomization:</h4>

                <div class="field">
                  <div class="input input-radio">
                    <input checked="checked" type="radio" name="course-problems-general-randomization" id="course-problems-general-randomization-always" value="Always">

                    <div class="copy">
                      <label for="course-problems-general-randomization-always">Always</label>
                    <span class="tip tip-stacked"><strong>randomize all</strong> problems</span>
                  </div>
                  </div>

                  <div class="input input-radio">
                    <input type="radio" name="course-problems-general-randomization" id="course-problems-general-randomization-never" value="Never">

                    <div class="copy">
                      <label for="course-problems-general-randomization-never">Never</label>
                    <span class="tip tip-stacked"><strong>do not randomize</strong> problems</span>
                  </div>
                  </div>

                  <div class="input input-radio">
                    <input type="radio" name="course-problems-general-randomization" id="course-problems-general-randomization-perstudent" value="Per Student">

                    <div class="copy">
                      <label for="course-problems-general-randomization-perstudent">Per Student</label>
                      <span class="tip tip-stacked">randomize problems <strong>per student</strong></span>
                  </div>
                  </div>
                </div>
              </div>

              <div class="row row-col2">
                <h4 class="label">Show Answers:</h4>

                <div class="field">
                  <div class="input input-radio">
                    <input checked="checked" type="radio" name="course-problems-general-showanswer" id="course-problems-general-showanswer-always" value="Always">

                    <div class="copy">
                      <label for="course-problems-general-showanswer-always">Always</label>
                      <span class="tip tip-stacked">Answers will be shown after the number of attempts has been met</span>
                  </div>
                  </div>

                  <div class="input input-radio">
                    <input type="radio" name="course-problems-general-showanswer" id="course-problems-general-showanswer-never" value="Never">

                    <div class="copy">
                      <label for="course-problems-general-showanswer-never">Never</label>
                      <span class="tip tip-stacked">Answers will never be shown, regardless of attempts</span>
                  </div>
                  </div>
                </div>
              </div>

              <div class="row row-col2">
                <label for="pcourse-roblems-general-attempts">Number of Attempts  <br /> Allowed on Problems: </label>

                <div class="field">
                  <div class="input">
                    <input type="text" class="short" id="course-problems-general-attempts" placeholder="0 or higher" value="0">
                    <span class="tip tip-stacked">Students will this have this number of chances to answer a problem. To set infinite atttempts, use "0"</span>
                  </div>
                </div>
              </div>
            </section><!-- .settings-problems-general -->

            <section class="settings-problems-assignment-1 settings-extras">
              <header>
                <h3>[Assignment Type Name]</h3>
              </header>

              <div class="row row-col2">
                <h4 class="label">Problem Randomization:</h4>

                <div class="field">
                  <div class="input input-radio">
                    <input checked="checked" type="radio" name="course-problems-assignment-1-randomization" id="course-problems-assignment-1-randomization-always" value="Always">

                    <div class="copy">
                      <label for="course-problems-assignment-1-randomization-always">Always</label>
                    <span class="tip tip-stacked"><strong>randomize all</strong> problems</span>
                  </div>
                  </div>

                  <div class="input input-radio">
                    <input type="radio" name="course-problems-assignment-1-randomization" id="course-problems-assignment-1-randomization-never" value="Never">

                    <div class="copy">
                      <label for="course-problems-assignment-1-randomization-never">Never</label>
                    <span class="tip tip-stacked"><strong>do not randomize</strong> problems</span>
                  </div>
                </div>

                  <div class="input input-radio">
                    <input type="radio" name="course-problems-assignment-1-randomization" id="course-problems-assignment-1-randomization-perstudent" value="Per Student">

                    <div class="copy">
                      <label for="course-problems-assignment-1-randomization-perstudent">Per Student</label>
                      <span class="tip tip-stacked">randomize problems <strong>per student</strong></span>
                  </div>
                  </div>
                </div>
              </div>

              <div class="row row-col2">
                <h4 class="label">Show Answers:</h4>

                <div class="field">
                  <div class="input input-radio">
                    <input checked="checked" type="radio" name="course-problems-assignment-1-showanswer" id="course-problems-assignment-1-showanswer-always" value="Always">

                    <div class="copy">
                      <label for="course-problems-assignment-1-showanswer-always">Always</label>
                      <span class="tip tip-stacked">Answers will be shown after the number of attempts has been met</span>
                  </div>
                </div>

                  <div class="input input-radio">
                    <input type="radio" name="course-problems-assignment-1-showanswer" id="course-problems-assignment-1-showanswer-never" value="Never">

                    <div class="copy">
                      <label for="pcourse-roblems-assignment-1-showanswer-never">Never</label>
                      <span class="tip tip-stacked">Answers will never be shown, regardless of attempts</span>
                  </div>
                  </div>
                </div>
              </div>

              <div class="row row-col2">
                <label for="course-problems-assignment-1-attempts">Number of Attempts <br /> Allowed on Problems: </label>

                <div class="field">
                  <div class="input">
                    <input type="text" class="short" id="course-problems-assignment-1-attempts" placeholder="0 or higher" value="0">
                    <span class="tip tip-stacked">Students will this have this number of chances to answer a problem. To set infinite atttempts, use "0"</span>
                  </div>
                </div>
              </div>
            </section><!-- .settings-problems-assignment-1 -->
          </section><!-- .settings-problems -->

          <section class="settings-discussions">
            <h2 class="title">Discussions</h2>

            <section class="settings-discussions-general">
              <header>
                <h3>General Settings</h3>
                <span class="detail">Course-wide settings for online discussion</span>
              </header>

              <div class="row row-col2">
                <h4 class="label">Anonymous Discussions:</h4>

                <div class="field">
                  <div class="input input-radio">
                    <input type="radio" name="course-discussions-anonymous" id="course-discussions-anonymous-allow" value="Allow">

                    <div class="copy">
                      <label for="course-discussions-anonymous-allow">Allow</label>
                    <span class="tip tip-stacked">Students and faculty <strong>will be able to post anonymously</strong></span>
                  </div>
                  </div>

                  <div class="input input-radio">
                    <input checked="checked" type="radio" name="course-discussions-anonymous" id="course-discussions-anonymous-dontallow" value="Do Not Allow">

                    <div class="copy">
                      <label for="course-discussions-anonymous-dontallow">Do not allow</label>
                    <span class="tip tip-stacked"><strong>Posting anonymously is not allowed</strong>. Any previous anonymous posts <strong>will be reverted to non-anonymous</strong></span>
                  </div>
                </div>
                </div>
              </div>

              <div class="row row-col2">
                <h4 class="label">Anonymous Discussions:</h4>

                <div class="field">
                  <div class="input input-radio">
                    <input checked="checked" type="radio" name="course-discussions-anonymous" id="course-discussions-anonymous-allow" value="Allow">

                    <div class="copy">
                      <label for="course-discussions-anonymous-allow">Allow</label>
                      <span class="tip tip-stacked">Students and faculty <strong>will be able to post anonymously</strong></span>
                    </div>
                  </div>

                  <div class="input input-radio">
                    <input disabled="disabled" type="radio" name="course-discussions-anonymous" id="course-discussions-anonymous-dontallow" value="Do Not Allow">

                    <div class="copy">
                      <label for="course-discussions-anonymous-dontallow">Do not allow</label>
                      <span class="tip tip-stacked">This option is disabled since there are previous discussions that are anonymous.</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row row-col2">
                <h4 class="label">Discussion Categories</h4>

                <div class="field enum">
                  <ul class="input-list course-discussions-categories-list sortable">
                    <li class="input input-existing input-default course-discussions-categories-list-item sortable-item">
                      <div class="group">
                        <label for="course-discussions-categories-1-name">Category Name: </label>
                        <input type="text" class="course-discussions-categories-name" id="course-discussions-categories-1-name" placeholder="" value="General" disabled="disabled">
                      </div>

                      <a href="#" class="drag-handle"></a>
                    </li>

                    <li class="input input-existing input-default course-discussions-categories-list-item sortable-item">
                      <div class="group">
                        <label for="course-discussions-categories-2-name">Category Name: </label>
                        <input type="text" class="course-discussions-categories-name" id="course-discussions-categories-2-name" placeholder="" value="Feedback" disabled="disabled">
                      </div>

                      <a href="#" class="drag-handle"></a>
                    </li>

                    <li class="input input-existing input-default course-discussions-categories-list-item sortable-item">
                      <div class="group">
                        <label for="course-discussions-categories-3-name">Category Name: </label>
                        <input type="text" class="course-discussions-categories-name" id="course-discussions-categories-3-name" placeholder="" value="Troubleshooting" disabled="disabled">
                      </div>

                      <a href="#" class="drag-handle"></a>
                    </li>

                    <li class="input input-existing course-discussions-categories-list-item sortable-item">
                      <div class="group">
                        <label for="course-discussions-categories-4-name">Category Name: </label>
                        <input type="text" class="course-discussions-categories-name" id="course-discussions-categories-4-name" placeholder="" value="Study Groups">

                        <a href="#" class="remove-item remove-course-discussions-categories-data"><span class="delete-icon"></span> Delete Category</a>
                      </div>

                      <a href="#" class="drag-handle"></a>
                    </li>

                    <li class="input input-existing course-discussions-categories-list-item sortable-item">
                      <div class="group">
                        <label for="course-discussions-categories-5-name">Category Name: </label>
                        <input type="text" class="course-discussions-categories-name" id="course-discussions-categories-5-name" placeholder="" value="Lectures">
                      </div>

                      <a href="#" class="remove-item remove-course-discussions-categories-data"><span class="delete-icon"></span> Delete Category</a>

                      <a href="#" class="drag-handle"></a>
                    </li>

                    <li class="input input-existing course-discussions-categories-list-item sortable-item">
                      <div class="group">
                        <label for="course-discussions-categories-6-name">Category Name: </label>
                        <input type="text" class="course-discussions-categories-name" id="course-discussions-categories-6-name" placeholder="" value="Labs">
                      </div>

                      <a href="#" class="remove-item remove-course-discussions-categories-data"><span class="delete-icon"></span> Delete Category</a>

                      <a href="#" class="drag-handle"></a>
                    </li>

                    <li class="input input-existing course-discussions-categories-list-item sortable-item">
                      <div class="group">
                        <label for="course-discussions-categories-6-name">Category Name: </label>
                        <input type="text" class="course-discussions-categories-name" id="course-discussions-categories-6-name" placeholder="" value="">
                      </div>

                      <a href="#" class="remove-item remove-course-discussions-categories-data"><span class="delete-icon"></span> Delete Category</a>

                      <a href="#" class="drag-handle"></a>
                    </li>
                  </ul>

                  <a href="#" class="new-item new-course-discussions-categories-item add-categories-data">
                    <span class="plus-icon"></span>New Discussion Category
                  </a>
                </div>
              </div>
            </section><!-- .settings-discussions-general -->
          </section><!-- .settings-discussions -->
        </div>
      </article>
    </div>
  </div>
  <footer></footer>
</%block>
