<%inherit file="base.html" />
<%! from django.core.urlresolvers import reverse %>
<%block name="title">Static Pages</%block>
<%block name="bodyclass">static-pages</%block>

<%block name="content">
<div class="main-wrapper">
  <div class="inner-wrapper">
    <h1>Static Pages</h1>
    <div class="page-actions">
      
    </div>
    <article class="static-page-overview">
      <a href="#" class="new-static-page-button wip-box"><span class="plus-icon"></span> New Static Page</a>
      <ul class="static-page-list">
        <li class="static-page-item">
          <a href="#" class="page-name">Course Info</a>
          <div class="item-actions">
            <a href="#" class="edit-button wip"><span class="delete-icon"></span></a>
            <a href="#" class="drag-handle wip"></a>
          </div>
        </li>
        <li class="static-page-item">
          <a href="#" class="page-name">Textbook</a>
          <div class="item-actions">
            <a href="#" class="edit-button wip"><span class="delete-icon"></span></a>
            <a href="#" class="drag-handle wip"></a>
          </div>
        </li>
        <li class="static-page-item">
          <a href="#" class="page-name">Syllabus</a>
          <div class="item-actions">
            <a href="#" class="edit-button wip"><span class="delete-icon"></span></a>
            <a href="#" class="drag-handle wip"></a>
          </div>
        </li>
      </ul>
    </article>
  </div>
</div>
</%block>