<%! from django.utils.translation import ugettext as _ %>
% if xblock.location != xblock_context['root_xblock'].location:
  % if xblock.has_children:
<section class="wrapper-xblock level-nesting" data-locator="${locator}" data-display-name="${xblock.display_name_with_default | h}" data-category="${xblock.category | h}">
  % else:
<section class="wrapper-xblock level-element" data-locator="${locator}" data-display-name="${xblock.display_name_with_default | h}" data-category="${xblock.category | h}">
  % endif
% endif
    <header class="xblock-header">
        <div class="header-details">
            ${xblock.display_name_with_default | h}
        </div>
        <div class="header-actions">
            <ul class="actions-list">
                % if not xblock_context['read_only']:
                <li class="action-item action-edit">
                    <a href="#" class="edit-button action-button">
                        <i class="icon-edit"></i>
                        <span class="action-button-text">${_("Edit")}</span>
                    </a>
                </li>
                % endif
            </ul>
        </div>
    </header>
    <article class="xblock-render">
${content}
    </article>
% if xblock.location != xblock_context['root_xblock'].location:
</section>
% endif
