<%!
from django.utils.translation import ugettext as _
from contentstore.views.helpers import xblock_studio_url
from contentstore.utils import is_visible_to_specific_content_groups
from openedx.core.lib.js_utils import escape_json_dumps
%>
<%
xblock_url = xblock_studio_url(xblock)
show_inline = xblock.has_children and not xblock_url
section_class = "level-nesting" if show_inline else "level-element"
collapsible_class = "is-collapsible" if xblock.has_children else ""
label = xblock.display_name_with_default or xblock.scope_ids.block_type
messages = xblock.validate().to_json()
%>

<%namespace name='static' file='static_content.html'/>

<%block name="header_extras">
<script type="text/template" id="xblock-validation-messages-tpl">
    <%static:include path="js/xblock-validation-messages.underscore" />
</script>
</%block>

<script>
    require(["jquery", "js/factories/xblock_validation"], function($, XBlockValidationFactory) {
        XBlockValidationFactory(
            ${escape_json_dumps(messages) | n},
            $.parseJSON("${bool(xblock_url)}".toLowerCase()),  // xblock_url will be None or a string
            $.parseJSON("${bool(is_root)}".toLowerCase()),  // is_root will be None or a boolean
            $('div.xblock-validation-messages[data-locator="${xblock.location | h}"]')
        );
    });
</script>

% if not is_root:
    % if is_reorderable:
    <li class="studio-xblock-wrapper is-draggable" data-locator="${xblock.location | h}" data-course-key="${xblock.location.course_key | h}">
    % else:
    <div class="studio-xblock-wrapper" data-locator="${xblock.location | h}" data-course-key="${xblock.location.course_key | h}">
    % endif

    <section class="wrapper-xblock ${section_class} ${collapsible_class}
    % if is_visible_to_specific_content_groups(xblock):
        has-group-visibility-set
    % endif
    ">
% endif

<header class="xblock-header xblock-header-${xblock.category}">
    <div class="xblock-header-primary
    % if not show_preview:
        is-collapsed
    % endif
    ">
        <div class="header-details">
            % if show_inline:
            <a href="#" data-tooltip="${_('Expand or Collapse')}" class="action expand-collapse collapse">
                <i class="icon fa fa-caret-down ui-toggle-expansion"></i>
                <span class="sr">${_('Expand or Collapse')}</span>
            </a>
            % endif
            <span class="xblock-display-name">${label | h}</span>
        </div>
        <div class="header-actions">
            <ul class="actions-list">
                % if not is_root:
                    % if can_edit:
                        % if not show_inline:
                            <li class="action-item action-edit">
                                <a href="#" class="edit-button action-button">
                                    <i class="icon fa fa-pencil"></i>
                                    <span class="action-button-text">${_("Edit")}</span>
                                </a>
                            </li>
                            % if can_edit_visibility:
                                <li class="action-item action-visibility">
                                    <a href="#" data-tooltip="${_("Visibility Settings")}" class="visibility-button action-button">
                                        <i class="icon fa fa-eye" aria-hidden="true"></i>
                                        <span class="sr">${_("Visibility")}</span>
                                    </a>
                                </li>
                            % endif
                            % if can_add:
                                <li class="action-item action-duplicate">
                                    <a href="#" data-tooltip="${_("Duplicate")}" class="duplicate-button action-button">
                                    <i class="icon fa fa-copy"></i>
                                    <span class="sr">${_("Duplicate")}</span>
                                    </a>
                                </li>
                            % endif
                        % endif
                        % if can_add:
                            <!-- If we can add, we can delete. -->
                            <li class="action-item action-delete">
                                <a href="#" data-tooltip="${_("Delete")}" class="delete-button action-button">
                                <i class="icon fa fa-trash-o"></i>
                                <span class="sr">${_("Delete")}</span>
                                </a>
                            </li>
                        % endif
                        % if is_reorderable:
                            <li class="action-item action-drag">
                                <span data-tooltip="${_('Drag to reorder')}" class="drag-handle action"></span>
                            </li>
                        % endif
                    % elif not show_inline:
                        <li class="action-item action-edit action-edit-view-only">
                            <a href="#" class="edit-button action-button">
                                <span class="action-button-text">${_("Details")}</span>
                            </a>
                        </li>
                    % endif
                % endif
            </ul>
        </div>
    </div>
    % if not is_root:
        <div class="wrapper-xblock-message xblock-validation-messages" data-locator="${xblock.location | h}"/>
        % if xblock_url:
        <div class="xblock-header-secondary">
            <div class="meta-info">${_('This block contains multiple components.')}</div>
            <ul class="actions-list">
                <li class="action-item action-view">
                    <a href="${xblock_url}" class="action-button">
                        ## Translators: this is a verb describing the action of viewing more details
                        <span class="action-button-text">${_('View')}</span>
                        <i class="icon fa fa-arrow-right"></i>
                    </a>
                </li>
            </ul>
        </div>
        % endif
    % endif
 </header>

% if is_root:
    <div class="wrapper-xblock-message xblock-validation-messages" data-locator="${xblock.location | h}"/>
% endif

% if show_preview:
    % if is_root or not xblock_url:
        <article class="xblock-render">
        ${content}
        </article>
        <footer class="location-footer">
            <div class="location-container">
                <label class="location-label">
                    <span class="location-label-text">${_('Location:')}</span>
                    <input class="location-value" type="text" value="${ xblock.location }" disabled />
                </label>
            </div>
        </footer>
    % else:
        <div class="xblock-message-area">
        ${content}
        </div>
    % endif
 % endif   

% if not is_root:
    </section>
    % if is_reorderable:
        </li>
    % else:
        </div>
    % endif
% endif
