<%inherit file="base.html" />

<%block name="title">Textbooks</%block>
<%block name="bodyclass">is-signedin course textbooks</%block>

<%block name="content">
  <div class="wrapper-mast wrapper">
    <header class="mast has-actions has-subtitle">
      <h1 class="page-header">
        <small class="subtitle">Course Content</small>
        <span class="sr">&gt; </span>Textbooks
      </h1>

      <nav class="nav-actions">
        <h3 class="sr">Page Actions</h3>
        <ul>
          <li class="nav-item">
            <a href="#" class="button upload-button new-button"><i class="ss-icon ss-symbolicons-standard icon icon-create">&#xEB40;</i> New Textbook</a>
          </li>
        </ul>
      </nav>
    </header>
  </div>

  <div class="main-wrapper">
    <div class="inner-wrapper">
      Textbooks are happy. Textbooks are cool. This is the filler text
      explaining why you should use a feature as happy and as cool as textbooks.
      If you use textbooks, you will make friends and influence people. You will
      lose weight and people will compliment you on your appearance. Children
      around the world will sing praises to your name, and celebrities will
      recongize you as a totally hip and groovy person. If you don't use textbooks,
      your life will be forever incomplete, and you will die alone and unloved.
      Make the right choice. Upload your first textbook now.
    </div>
  </div>
</%block>
