<%inherit file="base.html" />
<%! from django.core.urlresolvers import reverse %>
<%block name="title">CMS Unit</%block>
<%block name="content">
  <div class="main-wrapper">
    <div class="inner-wrapper">
      <article class="unit-body window">
        <nav class="breadcrumbs">
          <ul>
            <li><a href="#">Week 2</a></li>
            <li><a href="#">Linearity and Superposition</a></li>
            <li><span class="current-page">${unit_name}</span></li>
          </ul>
        </nav>
        <ol class="components">
          % for id in components:
          <li class="component" data-id="${id}"/>
          % endfor
          <li class="new-component-item">
            <a href="#" class="new-component-button">
              <span class="plus-icon"></span>New Component
            </a>
            <div class="new-component">
              <h5>Select Component Type</h5>
              <ul class="new-component-type">
                % for type in sorted(component_templates.keys()):
                <li>
                  <a href="#" data-type="${type}">
                    <span class="large-template-icon large-${type}-icon"></span>
                    <span class="name">${type}</span>
                  </a>
                </li>
                % endfor
              </ul>
              <a href="#" class="cancel-button">Cancel</a>
            </div>
            % for type, templates in sorted(component_templates.items()):
            <div class="new-component-templates new-component-${type}">
              <ul class="new-component-template">
                % for name, location in templates:
                <li>
                  <a href="#" data-location="${location}">
                    <span class="name">${name}</span>
                  </a>
                </li>
                % endfor
              </ul>
              <a href="#" class="cancel-button">Cancel</a>
            </div>
            % endfor
          </li>
        </ol>
      </article>

      <div class="sidebar">
        <div class="unit-properties window">
          <h4>Properties</h4>
          <div class="window-contents">
            <div class="row"><label>Display Name:</label><input type="text" value="${unit_name}" /></div>
            <div class="row">
              <label>State:</label>
              <div class="visibility-options">
                <span class="option checked"><input type="radio" name="visibility" id="visibility-hidden" checked /><label for="visibility-hidden">Draft</label></span>
                <span class="option"><input type="radio" name="visibility" id="visibility-visible" /><label for="visibility-visible">Final</label></span>
              </div>
            </div>
            <div class="row">
              <a href="#" class="save-button">Save</a>
            </div>
          </div>
        </div>
        <div class="unit-history window collapsed">
          <h4><a href="#" class="expand-collapse-icon expand"></a>History</h4>
          <div class="window-contents">
            <ol>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="history-modal">
    <div class="modal-body">
      <h2>S3V2: Properties of Linearity</h2>
      <div class="video-unit"><img src="images/video-module.png"></div>
      <p><span class="textbook-icon"></span>More information given in the text.</p>
      <p><span class="slides-icon"></span>Lecture Slides Handout [Clean] [Annotated]</p>
    </div>
    <div class="modal-actions">
      <a href="#" class="revert-button">Revert to this version</a>
      <a href="#" class="close-button">Close</a>
    </div>
  </div>

  <div class="modal-cover"></div>
</%block>
