<section id="unit-wrapper" class="${type}">
  <header>
    <h1 class="editable">${name}</h1>
    <p>Unit type: ${type}</p>
    <!-- <div class="actions"> -->
    <!--   <a href="#" class="cancel">Cancel</a> -->
    <!--   <a href="#" class="save-update">Save &amp; Update</a> -->
    <!-- </div> -->
  </header>
  <section>
    ${contents}
  </section>
  <section>
    <div class="actions">
      <a href="" class="save-update">Save &amp; Update</a>
      <a href="#" class="cancel">Cancel</a>
    </div>
  </section>
</section>
