<%inherit file="base.html" />
<%! from django.core.urlresolvers import reverse %>
<%block name="title">CMS Courseware Overview</%block>

<%namespace name="units" file="widgets/units.html" />


<%block name="content">
  <div class="main-wrapper">
    <div class="inner-wrapper">
      <h1>Courseware</h1>
      <div class="page-actions">
        <input type="text" class="courseware-unit-search-input search wip-box" placeholder="search units" />
      </div>
      <article class="courseware-overview">
        <a href="#" class="new-courseware-section-button wip-box"><span class="plus-icon"></span> New Section</a>
        % for section in sections:
        <section class="courseware-section branch">
          <header>
            <a href="#" class="expand-collapse-icon collapse"></a>
            <div class="item-details">
              <h3>${section.display_name}</h3>
              <h4><strong>Unscheduled:</strong> <a href="#">click here to set</a></h4>
            </div>
            <div class="item-actions">
              <a href="#" class="edit-button wip"><span class="delete-icon"></span></a>
              <a href="#" class="drag-handle wip"></a>
            </div>
          </header>
          <div class="unit-list">
            <div class="list-header">
              <a href="#" class="new-subsection-item wip-box">
                <span class="new-folder-icon"></span>New Subsection
              </a>
            </div>
            <ol>
              % for subsection in section.get_children():
              <li class="branch collapsed">
                <div class="section-item">
                  <div>
                    <a href="#" class="expand-collapse-icon expand"></a>
                    <a href="${reverse('edit_subsection', args=[subsection.location])}">
                      <span class="folder-icon"></span>
                      <span class="subsection-name"><span class="subsection-name-value">${subsection.display_name}</span></span>
                    </a>
                  </div>
                  <div class="item-actions">
                    <a href="#" class="delete-button wip"><span class="delete-icon"></span></a>                    
                    <a href="#" class="drag-handle wip"></a>
                  </div>
                </div>
    ${units.enum_units(subsection)}
              </li>
              % endfor
            </ol>
          </div>
        </section>
        % endfor
      </article>
    </div>
    <%include file="widgets/upload_assets.html"/>
  </div>
  <footer></footer>
</%block>
