.course-info {
  .container {
    margin-bottom: 60px;
  }

  header.course-profile {
    background: rgb(240,240,240);
    @include background-image(linear-gradient(-90deg, rgb(230,230,230), rgb(245,245,245)));
    @include box-shadow(0 1px 80px 0 rgba(0,0,0, 0.5));
    border-bottom: 1px solid rgb(200,200,200);
    @include box-shadow(inset 0 1px 5px 0 rgba(0,0,0, 0.1));
    overflow: hidden;
    width: 100%;

    .intro-inner-wrapper {
      @include clearfix;
      margin: 0 auto;
      max-width: 1200px;
      padding: 40px 0px 40px;
      position: relative;
      width: flex-grid(12);

      &::before {
        @include background-image(radial-gradient(50% 50%, ellipse closest-side, rgba(#fff, 1), rgba(#fff, 0)));
        content: "";
        display: block;
        height: 200%;
        left: 0px;
        position: absolute;
        top: 80px;
        width: flex-grid(8);
        z-index: 1;
      }

      .intro {
        @include clearfix;
        float: left;
        margin-right: flex-gutter();
        position: relative;
        width: flex-grid(8);
        z-index: 2;

        > hgroup {
          //@include inline-block;
          //padding: 0 30px;
          position: relative;

          hr {
            @include background-image(linear-gradient(180deg, rgba(200,200,200, 0) 0%,
                                                              rgba(200,200,200, 1) 50%,
                                                              rgba(200,200,200, 1)));
            border: none;
            height: 1px;
            margin: 10px 0;
            position: relative;

            &::after {
              @include background-image(linear-gradient(180deg, rgba(255,255,255, 0) 0%,
                                                                rgba(255,255,255, 0.6) 50%,
                                                                rgba(255,255,255, 0.6)));
              bottom: -1px;
              content: "";
              display: block;
              height: 1px;
              position: absolute;
              width: 100%;
            }
          }

          h1 {
            font: bold 2.8rem/3.2rem $sans-serif;
            margin-bottom: 0px;
            text-shadow: 0 1px rgba(255,255,255, 0.6);
            //text-align: center;

            span {
              color: $lighter-base-font-color;
              display: none;
              font: 300 1.2rem/3rem $sans-serif;
            }
          }

          h2 {
            //text-align: center;

            a {
              color: $lighter-base-font-color;
              font: italic bold 1.4rem/1.6rem $sans-serif;
              text-shadow: 0 1px rgba(255,255,255, 0.6);

              &:hover {
                color: $blue;
              }
            }
          }
        }
      }

      .actions {
        float: left;
        padding-top: 5px;
        position: relative;
        width: flex-grid(4);
        z-index: 2;

        a.register {
          @include button(shiny, $blue);
          @include box-sizing(border-box);
          @include border-radius(3px);
          display: block;
          font: italic 1.2rem/1.6rem $serif;
          margin-bottom: 10px;
          padding: 10px 0px;
          text-transform: uppercase;
          text-align: center;
          width: flex-grid(12);
        }

        .social-sharing {
          background: rgb(230,230,230);
          height: 40px;
        }
      }
    }
  }

  .container {
    @include clearfix;

    nav {
      border-bottom: 1px solid rgb(220,220,220);
      @include box-sizing(border-box);
      @include clearfix;
      margin-bottom: 40px;
      //text-align: center;
      width: flex-grid(12);

      &::after {
        @extend .faded-hr-divider;
        content: "";
        display: none;
      }

      a {
        color: $lighter-base-font-color;
        @include inline-block;
        font: normal 1.2rem/1.6rem $sans-serif;
        padding: 30px 20px;
        text-align: center;

        &:hover, &.active {
          background: rgb(240,240,240);
          color: $base-font-color;
        }
      }
    }

    h2 {
      color: $lighter-base-font-color;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    h3 {
      color: $base-font-color;
      font-weight: 300;
      font-family: $sans-serif;
      margin-bottom: 10px;
    }
  }

  .details {
    float: left;
    margin-right: flex-gutter();
    width: flex-grid(8);

    .inner-wrapper {
      //padding: 0 60px;

      > section {

        &::after {
          @extend .faded-hr-divider;
          content: "";
          display: none;
          margin-top: 60px;
        }
        margin-bottom: 60px;


        p + h2 {
          margin-top: 40px;
        }
      }
    }

    .course-staff {
      .teacher {
        margin-bottom: 30px;

        &::after {
          @extend .faded-hr-divider;
          content: "";
          display: block;
          margin-top: 30px;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }

        .teacher-image {
          background: rgb(255,255,255);
          border: 1px solid rgb(200,200,200);
          float: left;
          margin: 0 15px 15px 0;
          padding: 1px;
        }
      }
    }
  }

  .course-sidebar {
    @include box-sizing(border-box);
    float: left;
    padding-top: 40px;
    width: flex-grid(4);

    h3 {
      color: $lighter-base-font-color;
      font-family: $serif;
      font-weight: 300;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    > section {
      border: 1px solid rgb(220,220,220);
      @include border-radius(4px);
      background: rgb(245,245,245);
      margin-bottom: 20px;
      padding: 15px;

      &.dates {
        p {
          border-bottom: 1px solid rgb(220,220,220);
          margin-bottom: 15px;
          margin-top: 0px;
          padding-bottom: 5px;

          &:last-child {
            border: none;
            margin: 0;
            padding: 0;
          }

          > span {
            margin-left: 20px;
          }
        }
      }
    }

    .media {
      border: 1px solid rgb(200,200,200);
      @include box-sizing(border-box);
      margin-bottom: 20px;
      padding: 1px;
      width: flex-grid(12);

      .hero {
        height: 180px;
        overflow: hidden;

        img {
          min-width: 100%;
        }
      }
    }
  }
}
