$baseline : 0px;
$pink : #faa;
$dark-gray: #aaa;

@import "discussion/wmd_editor";
@import "discussion/new_post";
@import "discussion/thread_list";
@import "discussion/post_list";
@import "discussion/discussion_article";
@import "discussion/blank_slate";

body.discussion{
  .button,
  .button:hover,
  .button:active
  {
    text-shadow: none;
    background-image: none;
    letter-spacing: 0;
    box-shadow: none;
  }

  textarea,
  input[type="text"]{
    box-shadow: none;
    font: normal 14px sans-serif;
  }
  textarea,
  input[type="text"]{
    transition:none;
    -webkit-transition:none;
    -moz-transition: none;
  }

  .sub-nav{
    margin-left: 0;
  }
}

.container .discussion-body {
  display: block;
  line-height: 1.4;
  background: transparent;
  box-shadow: none;
  border: none;
  .columns{
    padding: 0px;
  }
  .row {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  } 

  .bottom-post-status {
    padding: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #ccc;
    text-align: center;
  }


  .discussion-post header,
  .responses li header {
/*    margin-bottom: $baseline;*/
  }



  .responses {
    list-style: none;
/*    margin-top: $baseline;*/
/*    padding: 0px $baseline*2;*/

    > li {
      position: relative;
      margin: 0 -10px 30px;
/*      padding: 26px 30px $baseline;*/
      border-radius: 3px;
      border: 1px solid #b2b2b2;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
/*      @include animation(fadeIn .3s);*/

      &.staff {
        padding-top: 38px;
        border-color: #009fe2;
      }

      &.community-ta{
        padding-top: 38px;
        border-color: #449944;
      }

      .staff-banner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 14px;
        padding: 1px 5px;
        border-radius: 2px 2px 0 0;
        background: #009fe2;
        font-size: 9px;
        font-weight: 700;
        color:#fff;
        text-transform: uppercase;
      }

      .community-ta-banner{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 14px;
        padding: 1px 5px;
        border-radius: 2px 2px 0 0;
        background: #449944;
        font-size: 9px;
        font-weight: 700;
        text-transform: uppercase;
      }


      &.loading {
        height: 0;
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
      }
    }

    .posted-by {
      font-weight: 700;
    }
  }

  div.add-response {
/*    margin-top: $baseline;*/
    padding: 0px 30px;

    button.add-response-btn {
      position: relative;
      padding: 0px 30px;
      border: 1px solid #b2b2b2;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
      font-size: 13px;
      text-align: left;
/*      @include animation(fadeIn .3s);*/
      width: 100%;

      span.add-response-btn-text {
        padding-left: 4px;
      }
    }
  }

  .vote-btn {
    position: relative;
    z-index: 100;
    float: right;
    display: block;
    height: 27px;
    padding: 0 8px;
    border-radius: 5px;
    border: 1px solid #b2b2b2;
/*    @include linear-gradient(top, #fff 35%, #ebebeb);*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    color: #333;

    .plus-icon {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 8px 6px 0 0;
      background: url(/static/images/vote-plus-icon.png) no-repeat;
      font-size: 18px;
      text-indent: -9999px;
      color: #17b429;
      overflow: hidden;
    }

    &.is-cast {
      border-color: #379a42;
      background: #3db84b;
/*      @include linear-gradient(top, #50cc5e, #3db84b);*/
      color:#fff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
      box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 1px 2px rgba(0, 0, 0, .2);

      .plus-icon {
        background-position: 0 -10px;
        color: #336a39;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
      }
    }
  }

  .endorse-btn {
    display: block;
    float: right;
    width: 27px;
    height: 27px;
/*    margin-right: $baseline/2;*/
    border-radius: 27px;
    border: 1px solid #a0a0a0;
/*    @include linear-gradient(top, #fff 35%, #ebebeb);*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);

    .check-icon {
      display: block;
      width: 13px;
      height: 12px;
      margin: 8px auto;
      background: url(/static/images/endorse-icon.png) no-repeat;
    }

    &.is-endorsed {
      border: 1px solid #4697c1;
/*      @include linear-gradient(top, #6dccf1, #38a8e5);*/
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, .4) inset;

      .check-icon {
        background-position: 0 -12px;
      }
    }
  }

  blockquote {
    background: #f6f6f6;
    border-radius: 3px;
/*    padding: 5px $baseline/2;*/
    font-size: 14px;
  }

  .comments {
    list-style: none;
/*    margin-top: $baseline;*/
    padding: 0;
    border-top: 1px solid #ddd;

    > li {
      background: #f6f6f6;
      border-bottom: 1px solid #ddd;
/*      padding: ($baseline/2) $baseline;*/
    }

    blockquote {
      background: #e6e6e6;
      border-radius: 3px;
/*      padding: 5px $baseline/2;*/
      font-size: 14px;
    }

    .comment-form {
      background: #eee;

      .comment-form-input {
/*        padding: 5px $baseline/2;*/
        background-color: #fff;
        fonr-size: 14px;
      }

      .discussion-submit-comment {
        float: left;
        margin-top: 8px;
      }

      .wmd-input {
        height: 40px;
      }

      .discussion-errors {
        margin: 0px;
      }
    }

    .response-body {
      font-size: 13px;
/*      margin-bottom: $baseline/2;*/

      p + p {
        margin-top: 12px;
      }
    }

    .posted-details {
      font-size: 11px;
    }

    .staff-label {
      margin-left: 2px;
      padding: 0 4px;
      border-radius: 2px;
      background: #009FE2;
      font-size: 9px;
      font-weight: 700;
      font-style: normal;
      color: white;
      text-transform: uppercase;
    }
  }

  .community-ta-label{
    margin-left: 2px;
    padding: 0 4px;
    border-radius: 2px;
    background: #449944;
    font-size: 9px;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-transform: uppercase;
  }

  .comment-form {
    padding: 8px $baseline;

    .wmd-input {
/*      @include transition(all .2s linear 0s);*/
    }

    .wmd-button {
      background: transparent;

      span {
        background-image: url(/static/images/wmd-buttons-transparent.png);
      }
    }
  }

  .comment-form-input {
    width: 100%;
    height: 31px;
/*    padding: 0 $baseline/2;*/
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1) inset;
/*    @include transition(border-color .1s linear 0s);*/

    &:focus {
      border-color: #4697c1;
    }
  }

  .moderator-actions {
    margin: 0;
/*    margin-top: $baseline;*/
    padding: 0;

    li {
      float: left;
      margin-right: 8px;
      list-style: none;
    }

    a {
      display: block;
      height: 26px;
      padding: 0 12px;
      border-radius: 3px;
      border: 1px solid #b2b2b2;
/*      @include linear-gradient(top, #fff 35%, #ebebeb);*/
      font-size: 13px;
      line-height: 24px;
      color: #737373;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

      .delete-icon {
        display: block;
        float: left;
        width: 10px;
        height: 10px;
        margin: 8px 4px 0 0;
        background: url(/static/images/moderator-delete-icon.png) no-repeat;
      }

      .edit-icon {
        display: block;
        float: left;
        width: 10px;
        height: 10px;
        margin: 7px 4px 0 0;
        background: url(/static/images/moderator-edit-icon.png) no-repeat;
      }
    }
  }

  .main-article.new {
    display: none;
    padding: 50px;
  }

  .new-post-form {
/*    margin-top: $baseline;*/
  }

  .new-post-form .submit {
    float: left;
    margin-top: $baseline/2;
    padding-bottom: 2px;
  }

  .new-post-form .options {
    float: right;
    margin-top: $baseline;
    font-size: 14px;

    label {
      margin-left: 4px;
    }
  }





  .discussion-reply-new {
    padding: 0.5*$baseline 30px $baseline;
/*    @include transition(opacity .2s linear 0s);*/

    h4 {
      font-size: 16px;
      font-weight: 700;
    }
  }

  .wmd-button-bar {
    border: none;
  }

  .wmd-input {
    @include discussion-wmd-input;
  }

  .wmd-preview-container {
    @include discussion-wmd-preview-container;
  }

  .wmd-preview-label {
    @include discussion-wmd-preview-label;
  }

  .wmd-preview {
    @include discussion-wmd-preview;
  }

  .reply-post-control {
    margin-top: $baseline;
  }

  .discussion-submit-post {
    float: left;
  }

  .wmd-button {
    width: 15px;
  }
}



.global-discussion-actions {
  height: 60px;
/*  @include linear-gradient(top, #ebebeb, #d9d9d9);*/
  border-radius: 0 3px 0 0;
  border-bottom: 1px solid #bcbcbc;
}



.discussion-module {
  @extend .discussion-body;
  position: relative;
  margin: $baseline 0;
  padding: $baseline;
  background: #f6f6f6 !important;
  border-radius: 3px;

  header {
    .anonymous{
      font-size: 15px;
    }
  }

  .responses {
/*    margin-top: $baseline*2;*/

    > li {
      padding: 26px 30px $baseline !important;
    }
  }

  div.add-response.post-extended-content {
    margin-top: $baseline;
    margin-bottom: 20px; 

    button.add-response-btn {
      position: relative;
      border: 1px solid #b2b2b2;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
      font-size: 13px;
      text-align: left;
/*      @include animation(fadeIn .3s);*/
      width: 100%; 
      padding-left: 30px;

      span.add-response-btn-text {
        padding-left: 4px;
      }
    }
  }

  .loading-animation {
    background-image: url(/static/images/spinner-on-grey.gif);
  }

  .discussion-show {
    position: relative;
    top: 3px;
    font-size: 14px;
    text-align: center;

    &.shown {
      .show-hide-discussion-icon {
        background-position: 0 0;
      }
    }

    .show-hide-discussion-icon {
      display: inline-block;
      position: relative;
      top: 5px;
      margin-right: 6px;
      width: 21px;
      height: 19px;
      background: url(/static/images/show-hide-discussion-icon.png) no-repeat;
      background-position: -21px 0;
    }
  }

  section.discussion {
    margin-top: 30px;

    .threads {
      margin-top: $baseline;
    }

    /* Course content p has a default margin-bottom of 1.416em, this is just to reset that */
    .discussion-thread {
      padding: 0;
/*      @include transition(all .25s linear 0s);*/

      .dogear {
        display: none;
      }

      &.expanded {
        padding: $baseline 0;

        .dogear{

        display: block;
        }

        .discussion-article {
          border: 1px solid #b2b2b2;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
          border-radius: 3px;
        }
      }

      p {
        margin-bottom: 0em;
      }

      .discussion-article {
        border: 1px solid #ddd;
        border-bottom-width: 0;
        min-height: 0;
        padding: $baseline/2 $baseline/2 15px $baseline/2;
        box-shadow: 0 1px 0 #ddd;
/*        @include transition(all .2s linear 0s);*/

        .discussion-post {
          padding: 12px 30px 0px;

          .inline-comment-count {
            position: relative;
            z-index: 100;
            float: right;
            display: block;
            height: 27px;
            margin-top: 6px;
            margin-right: 8px;
            padding: 0 8px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 400;
            line-height: 25px;
            color: #888;
          }

          header {
            padding-bottom: 0;
            margin-bottom: 15px;

            .posted-details {
              margin-top: 4px;

              .username {
                display: inline;
                font-size: 14px;
                font-weight: 700;
              }
            }

            h3 {
              font-size: 19px;
              font-weight: 700;
              margin-bottom: 0px;
            }

            h4 {
              font-size: 16px;
            }
          }

          .post-body {
            font-size: 14px;
            clear: both;
          }
        }

        .post-tools {
          margin-left: $baseline;
          margin-top: 5px;

          a {
            display: block;
            font-size: 12px;
            line-height: 30px;

            &.expand-post:before {
              content: '▾ ';
            }

            &.collapse-post:before {
              content: '▴ ';
            }

            &.collapse-post {
              display: none;
            }
          }
        }

        .responses {
          margin-top: $baseline/2;

          header {
            padding-bottom: 0;
            margin-bottom: 15px;

            .posted-by {
              float: left;
              margin-right: 5px;
              font-size: 16px;
            }
          }

          .response-body {
            margin-bottom: 0.2em;
            font-size: 14px;
          }
        }

        .discussion-reply-new {
          .wmd-input {
            height: 120px;
          }
        }

        // Content that is hidden by default in the inline view
        .post-extended-content{
          display: none;
        }
      }
    }
  }


  .moderator-actions {
    padding-left: 0 !important;
  }

  section.pagination {
    margin-top: 30px;

    nav.discussion-paginator {
      float: right;

      ol {
        li {
          list-style: none;
          display: inline-block;
          padding-right: 0.5em;
          a {
          }
        }

        li.current-page{
          height: 35px;
          padding: 0 15px;
          border: 1px solid #ccc;
          border-radius: 3px;
          font-size: 13px;
          font-weight: 700;
          line-height: 32px;
          color: #333;
          text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
  .edit-post-form {
    width: 100%;
    margin-bottom: $baseline;

    .form-row {
      margin-top: $baseline;
    }

    .post-cancel {
      float: left;
      margin: $baseline/2 0 0 15px;
    }

    .post-update {
      float: left;
      height: 37px;
      margin-top: $baseline/2;
      padding-bottom: 2px;

      &:hover, &:focus {
        border-color: #222;
      }
    }

    .edit-post-title {
      width: 100%;
      height: 40px;
      padding: 0 $baseline/2;
      border-radius: 3px;
      border: 1px solid #aaa;
      font-size: 16px;
      color: #333;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    }
  }

}

.discussion-user-threads {
  @extend .discussion-module
}

.group-visibility-label {
    font-size: 12px;
    color:#000;
    font-style: italic;
  }

.discussion-pin {
      font-size: 12px;
      float:right;
      padding-right: 5px;
      font-style: italic;
      margin-right: $baseline/2;
      opacity: 0.8;

      &.admin-pin {
        cursor: pointer;

        &:hover, &:focus {
/*          @include transition(opacity .2s linear 0s);*/
          opacity: 1.0;
        }
      }
    }

.discussion-pin-inline {
      font-size: 12px;
      float:right;
      font-style: italic;
      position: relative;
      right:-20px;
      top:-13px;
      margin-right:35px;
      margin-top:13px;
      opacity: 1.0;
    }

.notpinned .icon {
  display: block;
  float: left;
  margin: 3px;
  width: 10px;
  height: 14px;
  padding-right: 3px;
  color: #333;
}

.pinned .icon {
  display: block;
  float: left;
  margin: 3px;
  width: 10px;
  height: 14px;
  padding-right: 3px;
  color: $pink;
}

.pinned span {
  color: $pink;
  font-style: italic;
}

.notpinned span {
  color: #333;
  font-style: italic;
}

.pinned-false
{
display:none;
}

.discussion-flag-abuse, .discussion-delete-comment, .discussion-edit-comment {
  font-size: 12px;
  float:right;
  margin-left: $baseline/2;
  font-style: italic;
  cursor:pointer;
  color: $dark-gray;
  opacity: 0.8;

  &:hover, &:focus {
/*    @include transition(opacity .2s linear 0s);*/
    opacity: 1.0;
  }

  .flag-label {
    font-style: italic;
    margin-left: $baseline/4;
  }
}

.flagged * {
  color: $pink;
}

.response-count {
  margin-top: $baseline;
  padding: 0px 3*$baseline;
}

.response-pagination {
  padding: 0px 1.5*$baseline;

  .response-display-count {
    display: block;
    padding: 0.5*$baseline 1.5*$baseline;
  }

  .load-response-button {
    display: block;
    position: relative;
    padding: 0px 1.5*$baseline;
    margin: $baseline/2 0px;
    border: 1px solid #b2b2b2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
    font-size: 13px;
    text-align: left;
/*    @include animation(fadeIn .3s);*/
    width: 100%;
  }
}




