$comment_margin_left: 30px;
$discussion_title_size: 1.6em;
$comment_title_size: 1.0em;
$post_font_size: 0.9em;
$comment_info_size: 0.75em;
$comment_font_size: 0.8em;
$discussion_input_width: 100%;

$tag_background_color: #e7ecdd;
$tag_border_color: #babdb3;
$tag_text_color: #5b614f;



@mixin discussion-font {
  font-family: inherit;
}

@mixin discussion-clickable {
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.discussion {
  .discussion-non-content {
    margin-left: flex-gutter();
  }

  //TITLE
  .discussion-title {
    @include discussion-font;
    @include discussion-clickable;
    display: inline-block;
    font-size: $discussion_title_size;
    font-weight: bold;
    margin-bottom: flex-gutter(6);
  }

  .discussion-title-wrapper {
    .discussion-watch-discussion, .discussion-unwatch-discussion {
      @include discussion-font;
      display: none;
      font-size: $comment_info_size;
      margin-left: 5px;
    }
  }

  //SORTING
  .discussion-sort {
    float: right;
    font-size: 0.8em;
    margin-top: -36px;

    .discussion-label {
      display: block;
      float: left;
      padding: 0 14px;
      line-height: 34px;
    }

    .discussion-sort-link {
      display: block;
      float: left;
      padding: 0 14px;
      line-height: 34px;

      &:hover {
        color: #1C71DD;
        text-decoration: none;
      }
    }

    .discussion-sort-link.sorted {
      color: #000;
      border-bottom: 2px solid #000;
    }
  }

  //SEARCH
  .search-wrapper-inline {
    display: inline-block;
    margin-bottom: 6%;
    margin-top: 3%;
    width: 80%;
  }

  .search-wrapper {
    height: 100px;
  }

  .discussion-search-form {
    display: inline-block;
    margin-bottom: 1%;
    width: flex-grid(12);

    .discussion-link {
      @include button;
      color: white;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      margin-left: 1%;
      padding-top: 9px;
      text-decoration: none;
    }

    .discussion-search-text {
      @include discussion-font;
    }

    .search-input {
      float: left;
      font: inherit;
      font-style: normal;
      // width: 72%;
      width: flex-grid(8);
      margin-left: flex-grid(1);
    }
  }

  .search-within {
    display: block;
    margin-bottom: 3%;
  }

  .discussion-search-within-board {
    font: inherit;
    font-size: $post_font_size;
    font-style: normal;
  }

  //BASIC BUTTON STYLES
  .control-button {
    @include button;
    @include discussion-font;
    background-color: #959595;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #959595),color-stop(100%, #7B7B7B));
    background-image: -webkit-linear-gradient(top, #959595,#7B7B7B);
    background-image: -moz-linear-gradient(top, #959595,#7B7B7B);
    background-image: -ms-linear-gradient(top, #959595,#7B7B7B);
    background-image: -o-linear-gradient(top, #959595,#7B7B7B);
    background-image: linear-gradient(top, #959595,#7B7B7B);
    border: 1px solid #6F6F6F;
    -webkit-box-shadow: inset 0 1px 0 #A2A2A2,0 0 3px #CCC;
    -moz-box-shadow: inset 0 1px 0 #a2a2a2,0 0 3px #ccc;
    box-shadow: inset 0 1px 0 #A2A2A2,0 0 3px #CCC;
    color: white;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    margin-bottom: 3%;
    padding-top: 9px;
    width: inherit;
    text-decoration: none;
    text-shadow: none;

    &:hover {
      background-color: #A2A2A2;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A2A2A2),color-stop(100%, #7B7B7B));
      background-image: -webkit-linear-gradient(top, #A2A2A2,#7B7B7B);
      background-image: -moz-linear-gradient(top, #A2A2A2,#7B7B7B);
      background-image: -ms-linear-gradient(top, #A2A2A2,#7B7B7B);
      background-image: -o-linear-gradient(top, #A2A2A2,#7B7B7B);
      background-image: linear-gradient(top, #A2A2A2,#7B7B7B);
      border: 1px solid #555;
      -webkit-box-shadow: inset 0 1px 0 #BBB,0 0 3px #CCC;
      -moz-box-shadow: inset 0 1px 0 #bbb,0 0 3px #ccc;
      box-shadow: inset 0 1px 0 #BBB,0 0 3px #CCC;
    }
  }

  //FOLLOW BUTTON
  .follow-wrapper {
    display: inline;
  }

  //VOTES
  .discussion-votes {
    float: left;
    width: 60px;
    margin-top: 18px;
    text-align: center;

    .discussion-vote {      
      display: block;      
      width: 50px;
      height: 17px;
      margin: auto;
      background: url(../images/vote-arrows.png) no-repeat;
      font-size: 15px;
      font-weight: bold;
      color: black;
      @include hide-text;
      @include transition(all, 0, easeOut);
    }

    .discussion-vote-up {
      margin-bottom: 5px;
      background-position: -50px -3px;      

      &:hover {
        background-position: -50px -5px;
        @include transition-duration(0.05s);
      }

      &.voted {
        background-position: 0 -3px;
        color: #1C71DD;
        @include transition-duration(0);
      }
    }

    .discussion-vote-down {
      margin-top: 7px;
      background-position: -50px -30px;

      &:hover {
        background-position: -50px -28px;
        @include transition-duration(0.05s);
      }

      &.voted {
        background-position: 0 -30px;
        color: #1C71DD;
        @include transition-duration(0);
      }
    }   

    .discussion-vote-count {
      @include discussion-font;
      font-size: $post_font_size;
    }

    .discussion-votes-point {
      font-size: 1.1em;
      font-weight: bold;
      color: #9a9a9a;
    }
  }
  //CREATE NEW AND EDIT POSTS
  .discussion-right-wrapper {
    min-height: 40px;
    // width: flex-grid(11);
    margin: 24px 0 24px 68px;
  }

  .new-post-form, .discussion-thread-edit {
    .title-input, .body-input {
      display: block !important;
      font: inherit;
      font-style: normal;
      width: $discussion_input_width !important;
    }

    .discussion-errors {
      color: #8F0E0E;
      display: block;
      margin-left: -5%;
    }

    .new-post-body {
      margin-top: flex-gutter();
    }

    .tagsinput {
      background: #FAFAFA;
      border: 1px solid #C8C8C8;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6), inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6), inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6), inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-top: flex-gutter();
      vertical-align: top;
      -webkit-font-smoothing: antialiased;
    }
  }

  .discussion-content-edit, .discussion-reply-new, .new-post-form {
    margin: 10px 0 10px 0;

    .new-post-control {
      margin-left: 80%;
      margin-top: 1%;
    }

    .reply-post-control {
      margin-left: 73%;
    }

    .edit-post-control {
      margin-left: 79%;
      margin-top: 1%;
    }

    .control-button {
      @include button;
      @include discussion-font;
      color: white;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      margin-left: 5%;
      padding-top: 9px;
      text-decoration: none;
      width: inherit;
    }
  }

  .new-post-form {
    margin: 10px 0 40px 0;
  }

  .discussion-reply-new {
    .discussion-auto-watch {
      margin-left: 2%;
    }
  }

  //THREAD STYLES
  .thread {
    //display: none;

    .thread-title {
      @include discussion-font;
      @include discussion-clickable;
      display: block;
      margin-bottom: $body-line-height;
      font-size: $comment_title_size;
      font-weight: bold;
      line-height: 1.4em;
    }

    .thread-body, .content-body {
      @include discussion-font;
      font-size: $post_font_size;
      margin-bottom: 4px;
      margin-top: 3px;

      p {
        @include discussion-font;
      }
    }

    .thread-tags {
      display: inline-block;

      .thread-tag {
        @include discussion-font;
        background: $tag_background_color;
        border: 1px solid $tag_border_color;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        color: $tag_text_color;
        float: left;
        font-size: 13px;
        margin: 5px 7px 5px 0;
        padding: 5px 7px;
        text-decoration: none;

        &:hover {
          border-color: #7b8761;
          color: #2f381c;
        }
      }
    }

    .info {
      @include discussion-font;
      color: gray;
      font-size: $comment_info_size;
      font-style: italic;
      margin-top: 2%;

      a:hover {
        text-decoration: none;
        color: #1C71DD;
      }

      .comment-time {
        display: inline;
        float: right;
      }

      .comment-count {        
        display: inline;
        margin-right: 20px;
      }

      .discussion-actions {        
        display: inline;
        margin: 0;
        padding: 0;

        li {
          display: inline;
          margin-right: 20px;
        }
      }

      .discussion-link {
        @include discussion-font;
        color: #1d9dd9;
        display: inline;

        &.discussion-unfollow-thread {
          color: #dea03e;
        }
      }
    }

    .discussion-content {
      border-top: lightgray 1px solid;
      overflow: hidden;
      // padding: 1.5% 0;

      .discussion-reply-new {
        @include discussion-font;
        margin-left: 68px;

        .reply-body {
          @include discussion-font;
          display: block;
          font-size: $post_font_size;
          margin-top: 10px;
          width: 95%;
        }
      }
    }

    //COMMENT STYLES
    .comments {
      //display: none;
      // margin-left: $comment_margin_left;
      // margin-left: flex-grid(1);
      margin-left: 68px;
      overflow: hidden;

      .discussion-votes {
        margin-top: 8px;
      }

      .discussion-right-wrapper {
        margin: 10px 0 10px 68px;
      }

      .comment {
        .comment-body, .content-body {
          @include discussion-font;
          color: black;
          display: block;
          font-size: $comment_font_size;
          margin-top: 3px;
        }

        &.endorsed {
          > .discussion-content {
            background-color: #fcfcea;
          }
        }
      }
    }
  }

  //PAGES
  .discussion-paginator {
    font-size: $post_font_size;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;

    div {
      display: inline-block;
      font-weight: bold;
      margin: 0 5px;

      a {
        background: #EEE;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        color: black;
        font-weight: normal;
        padding: 4px 10px;
        text-decoration: none;

        &:hover {
          background: #DDD;
        }
      }
    }
  }

  &.inline-discussion {
    .discussion-new-post-inline {
      textarea {

      }
    }
  }
}

//EDITOR STYLES

.wmd-panel
{
  width: 100%;
  min-width: 500px;
}

.wmd-button-bar 
{
  width: 100%;
  background-color: Silver; 
}

.wmd-input {
  height: 150px;
  width: 100%;
  background-color: #e9e9e9;
  border: 1px solid #c8c8c8;
  font-family: Monaco, 'Lucida Console', monospace;
  font-style: normal;
  font-size: 12px;
  @include border-radius(3px 3px 0 0);
  @include box-shadow(none);
}

.wmd-preview {
  position: relative;
  font-family: $sans-serif;
  padding: 25px 20px 10px 20px;
  box-sizing: border-box;
  border: 1px solid #c8c8c8;
  border-top-width: 0;
  @include border-radius(0 0 3px 3px);

  &:before {
    content: 'PREVIEW';
    position: absolute;
    top: 3px;
    left: 5px;
    font-size: 11px;
    color: #bbb;
  }
  

  p {
    font-family: $sans-serif;
  }
  background-color: #fafafa;
}

.wmd-button-row {
  position: relative; 
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 0px;  
  height: 20px;
}

.wmd-spacer
{
  width: 1px; 
  height: 20px; 
  margin-left: 14px;
  
  position: absolute;
  background-color: Silver;
  display: inline-block; 
  list-style: none;
}

.wmd-button {
  width: 20px;
  height: 20px;
  padding-left: 2px;
  padding-right: 3px;
  position: absolute;
  display: inline-block;
  list-style: none;
  cursor: pointer;
}

.wmd-button > span {
  background-image: url('/static/images/wmd-buttons.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.wmd-spacer1
{
  left: 50px;
}
.wmd-spacer2
{
  left: 175px;
}
.wmd-spacer3
{
  left: 300px;
}

.wmd-prompt-background
{
  background-color: Black;
}

.wmd-prompt-dialog
{
  border: 1px solid #999999;
  background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
  font-size: 0.8em;
  font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
  border: 1px solid #999999;
  color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
  border: 1px solid #888888;
  font-family: trebuchet MS, helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}
