.find-courses {
  header.search-intro {
    background: rgb(240,240,240);
    border-bottom: 1px solid rgb(200,200,200);
    @include box-shadow(inset 0 1px 5px 0 rgba(0,0,0, 0.1));
    width: 100%;

    .inner-wrapper {
      height: 120px;
      margin: 0 auto;
      max-width: 1200px;
      overflow: hidden;
      padding: 40px 0px 30px;
      position: relative;
      width: flex-grid(12);

      &::before {
        @include background-image(radial-gradient(50% 50%, circle closest-side, rgba(255,255,255, 1) 0%, rgba(255,255,255, 0) 100%));
        bottom: -300px;
        content: "";
        display: block;
        height: 600px;
        margin: 0 auto;
        position: absolute;
        width: 100%;
        z-index: 1;
      }

      img {
        display: block;
        margin: 0 auto;
        position: relative;
        width: 100px;
        z-index: 2;
      }

      h1 {
        color: $lighter-base-font-color;
        font: normal 1.2rem/1.8rem $serif;
        letter-spacing: 1px;
        position: relative;
        text-transform: uppercase;
        text-align: center;
        z-index: 2;
      }
    }
  }
}
