@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&family=Roboto:wght@400;500&display=swap');

:root {
    --color-active: #007ae6;
    --color-active-light: #f2f9ff;
    --color-hover: #025dae;
    --background-color-hover: #eef7ff;
    --color-white: #ffffff;
    --background-content: #fafbfb;
    --color-stroke: #d7d7d7;
    --color-disable: #c5c5c5;
    --color-text-inactive: #7b7b7b;
    --color-text-default: #2c3744;
    --color-notification-critical: #d82c0d;
    --color-warning: #ffb934;
    --color-warning-light: #fffcf5;
    --color-success: #5aa447;
    --color-success-light: #f2ffee;
    --background-selected: #f1f2f3;
    --color-subdued: #576f8a;
    --color-subdued-light: rgba(87, 111, 138, 0.05);
    --border-radius: 6px;

    --color-critical: #d82c0d;
    --color-critical-light: #fff1f1;
    --color-leaf: #06aaa5;
    --color-leaf-light: #faffff;
}

.funix-btn {
    height: 2.375rem !important;
    padding: 0 1.25rem !important;
    line-height: 2.375rem !important;
    border-radius: 4px !important;
    display: inline-block !important;
    font-weight: 500;
}

.funix-btn-primary {
    color: white !important;
    background: var(--color-active) !important;
    border: 1px solid var(--color-active) !important;

    &:hover {
        background: var(--color-hover) !important;
        border: 1px solid var(--color-hover) !important;

    }

    &:disabled {
        background: var(--color-disable) !important;
        border: 1px solid var(--color-disable) !important;
        pointer-events: none
    }
}

.funix-btn-secondary {
    color: var(--color-active) !important;
    background: white !important;
    border: 1px solid var(--color-active) !important;

    &:hover {
        color: var(--color-hover) !important;
        border: 1px solid var(--color-hover) !important;
    }

    &:disabled {
        color: var(--color-text-inactive) !important;
        border: 1px solid var(--color-text-inactive) !important;
        pointer-events: none
    }
}