@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&family=Roboto:wght@400;500&display=swap');

:root {
    --color-active: #007ae6;
    --color-active-light: #f2f9ff;
    --color-hover: #025dae;
    --background-color-hover: #eef7ff;
    --color-white: #ffffff;
    --background-content: #fafbfb;
    --color-stroke: #d7d7d7;
    --color-disable: #c5c5c5;
    --color-text-inactive: #7b7b7b;
    --color-text-default: #2c3744;
    --color-notification-critical: #d82c0d;
    --color-warning: #ffb934;
    --color-warning-light: #fffcf5;
    --color-success: #5aa447;
    --color-success-light: #f2ffee;
    --background-selected: #f1f2f3;
    --color-subdued: #576f8a;
    --color-subdued-light: rgba(87, 111, 138, 0.05);
    --border-radius: 6px;

    --color-critical: #d82c0d;
    --color-critical-light: #fff1f1;
    --color-leaf: #06aaa5;
    --color-leaf-light: #faffff;


}

html,
body {
    font-size: 16px;
}

html,
button,
input,
select,
textarea,
form#wiki_revision .CodeMirror {
    font-family: 'Roboto', sans-serif;
}

*,
.xmodule_display.xmodule_HtmlBlock * {
    font-family: 'Roboto', sans-serif;
    color: var(--color-text-default);
}

.xmodule_display.xmodule_HtmlBlock h1,
.xmodule_display.xmodule_HtmlBlock h2,
.xmodule_display.xmodule_HtmlBlock h3,
.xmodule_display.xmodule_HtmlBlock h4,
.xmodule_display.xmodule_HtmlBlock h5,
.xmodule_display.xmodule_HtmlBlock h6,
.xmodule_display.xmodule_HtmlBlock strong,
.xmodule_display.xmodule_HtmlBlock i,
.xmodule_display.xmodule_HtmlBlock a,
.xmodule_display.xmodule_HtmlBlock p {
    line-height: 1.5;
}


strong span,
b span,
.xmodule_display.xmodule_HtmlBlock strong span,
.xmodule_display.xmodule_HtmlBlock b span {
    font-weight: 500;
}

h1,
.course-wrapper .course-content h1,
.course-wrapper .courseware-results-wrapper h1,
.xmodule_display.xmodule_HtmlBlock h1 {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Roboto Serif', sans-serif;
    color: var(--color-text-default);
    font: 500 2rem 'Roboto Serif', sans-serif;
    margin-bottom: 2rem;
    line-height: 1.5;
}

h2,
.xmodule_display.xmodule_HtmlBlock h2,
.xblock .xblock h2,
.hd-2,
.xblock .xblock h2 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: var(--color-text-default);
    font: 500 1.5rem 'Roboto', sans-serif;
    margin: 0 0 2rem 0;
    line-height: 1.5;
}

h3,
.xmodule_display.xmodule_HtmlBlock h3 {
    font-size: 1.25rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: var(--color-text-default);
    font: 500 1.25rem 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0 0 .5rem 0;
}

h4,
.xmodule_display.xmodule_HtmlBlock h4 {
    font-size: 1.125rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: var(--color-text-default);
    font: 500 1.125rem 'Roboto', sans-serif;
    line-height: 1.5;
}

p,
.xmodule_display.xmodule_HtmlBlock p {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: var(--color-text-default);
    font: 400 1rem 'Roboto', sans-serif;
    margin-bottom: 1rem;
    line-height: 1.5;
}

span,
i,
.xmodule_display.xmodule_HtmlBlock i,
.xmodule_display.xmodule_HtmlBlock span {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    font: inherit;
    margin-bottom: 0;
    line-height: inherit;
}

a,
.xmodule_display.xmodule_HtmlBlock a:link,
.xmodule_display.xmodule_HtmlBlock a:visited,
.xmodule_display.xmodule_HtmlBlock a:active,
.xmodule_display.xmodule_HtmlBlock a:focus,
.xmodule_display.xmodule_HtmlBlock a * {
    font-weight: inherit;
    color: var(--color-active);
    text-decoration: underline;
    font-size: inherit;
    font-family: inherit;
    font: inherit;
    cursor: pointer;
}

a:hover,
a:hover:not(.btn),
a:focus:not(.btn),
.xmodule_display.xmodule_HtmlBlock a:hover,
.xmodule_display.xmodule_HtmlBlock a:hover * {
    color: var(--color-hover);
}


ul,
.course-wrapper .course-content .vert-mod>div ul,
.course-wrapper .courseware-results-wrapper .vert-mod>div ul,
.xmodule_display.xmodule_HtmlBlock ul {
    padding: 0 0 0 32px;
    margin-bottom: 1rem;
    margin-top: 0;
    list-style-type: disc;
}

ul ul,
ul,
.course-wrapper .course-content .vert-mod>div ul ul,
.course-wrapper .courseware-results-wrapper .vert-mod>div ul ul,
.xmodule_display.xmodule_HtmlBlock ul ul {
    list-style-type: circle;
    margin-bottom: 0;
}

.course-wrapper .course-content ul li,
.course-wrapper .courseware-results-wrapper ul li {
    margin-bottom: 0.375rem;
}

.course-wrapper .course-content ul li:last-child,
.course-wrapper .courseware-results-wrapper ul li:last-child {
    margin-bottom: 0;
}


.xmodule_display.xmodule_HtmlBlock p+p,
.xmodule_display.xmodule_HtmlBlock ul+p,
.xmodule_display.xmodule_HtmlBlock ol+p {
    margin-top: 0;
}

.xmodule_display.xmodule_HtmlBlock p+h2,
.xmodule_display.xmodule_HtmlBlock ul+h2,
.xmodule_display.xmodule_HtmlBlock ol+h2 {
    margin-top: 1rem;
}

// image 
img,
.xmodule_display.xmodule_HtmlBlock img {
    display: block;
    border: 1px solid var(--color-stroke);
    border-radius: var(--border-radius);
    overflow: hidden;
    max-width: 100%;
    margin: .5rem auto 1rem;
    box-sizing: border-box;
    height: auto;
}

// table 
table,
.xmodule_display.xmodule_HtmlBlock table {
    box-sizing: border-box;
    width: 100%;
}

tr:nth-child(odd),
.xmodule_display.xmodule_HtmlBlock table tr:nth-child(odd) {
    background: #f6f6f7;
    border: none;

}

tr:nth-child(even),
.xmodule_display.xmodule_HtmlBlock table tr:nth-child(even) {
    background: white;
    border: none;
}

th,
.xmodule_display.xmodule_HtmlBlock table th {
    background: #e6e6e8;
}

td,
th,
.xmodule_display.xmodule_HtmlBlock table td,
.xmodule_display.xmodule_HtmlBlock table th {
    border-right: 1px solid var(--color-stroke);
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

td:last-child,
th:last-child,
.xmodule_display.xmodule_HtmlBlock table td:last-child,
.xmodule_display.xmodule_HtmlBlock table th:last-child {
    border-right: 1px solid transparent;
}

td:last-child,
th:last-child,
.xmodule_display.xmodule_HtmlBlock table tr:last-child td {
    border-bottom: 1px solid var(--color-stroke);
}

// details - summary
details,
.xmodule_display.xmodule_HtmlBlock details {
    margin-bottom: 1rem;
    padding: 0 1rem;
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: .2s;
    max-height: none;

    * {
        line-height: 1.5 !important;
    }

    // -- auto subdued --
    background: var(--color-subdued-light);
    border-left: 2px solid var(--color-subdued);

    >summary {
        color: var(--color-subdued);
    }

    // ---

    >summary {
        list-style: none;
        line-height: 1.5;
        font: 500 1rem 'Roboto', sans-serif !important;
        margin: 0 -1rem !important;
        cursor: pointer;
        padding: .75rem 1rem .75rem 1rem;
        position: relative;

        &::-webkit-details-marker {
            display: none;
        }

        &::after {
            position: absolute;
            display: block;
            content: '';
            width: .5rem;
            height: .5rem;
            border-right: 2px solid var(--color-text-default);
            border-bottom: 2px solid var(--color-text-default);
            right: 1rem;
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
            transition: .2s;
        }
    }

    &[open] {
        >summary {

            &::after {
                transform: translateY(-50%) rotate(45deg);
            }
        }
    }


    &.details-primary {
        background: var(--color-active-light);
        border-left: 2px solid var(--color-active);

        >summary {
            color: var(--color-active);
        }
    }

    &.details-subdued {
        background: var(--color-subdued-light);
        border-left: 2px solid var(--color-subdued);

        >summary {
            color: var(--color-subdued);
        }
    }

    &.details-success {
        background: var(--color-success-light);
        border-left: 2px solid var(--color-success);

        >summary {
            color: var(--color-success);
        }
    }

    &.details-warning {
        background: var(--color-warning-light);
        border-left: 2px solid var(--color-warning);

        >summary {
            color: var(--color-warning);
        }
    }

    &.details-critical {
        background: var(--color-critical-light);
        border-left: 2px solid var(--color-critical);

        >summary {
            color: var(--color-critical);
        }
    }

    &.details-leaf {
        background: var(--color-leaf-light);
        border-left: 2px solid var(--color-leaf);

        >summary {
            color: var(--color-leaf);
        }
    }
}

// =================== components ========================== 
// =================== info box ========================== 
.informa {
    border-radius: var(--border-radius);
    overflow: hidden;
    padding: .75rem 1rem;
    margin-bottom: 1rem;

    >p {
        font: 500 1rem 'Roboto', sans-serif !important;
        margin-bottom: 0 !important;
    }

    >div {
        margin: 0;
        padding: 0;

        p {
            font: 400 1rem 'Roboto', sans-serif;
            color: var(--text-color-default);
            line-height: 1.5;
        }

        p,
        ul {
            &:last-child {
                margin-bottom: 0;
            }
        }

        i,
        span,
        a {
            font-size: inherit;
            color: inherit;
            font-weight: inherit;
            font-family: inherit;
        }

        a {
            color: var(--color-active);
            font-weight: 500;
            text-decoration: underline;

            &:hover {
                color: var(--color-hover);
            }
        }
    }

    // -- auto subdued --
    >p {
        color: var(--color-subdued);
    }

    border-left: 2px solid var(--color-subdued);
    background: var(--color-subdued-light);

    // ----

    &.informa-primary {
        >p {
            color: var(--color-active);
        }

        border-left: 2px solid var(--color-active);
        background: var(--color-active-light);
    }

    &.informa-warning {
        >p {
            color: var(--color-warning);
        }

        border-left: 2px solid var(--color-warning);
        background: var(--color-warning-light);
    }

    &.informa-success {
        >p {
            color: var(--color-success);
        }

        border-left: 2px solid var(--color-success);
        background: var(--color-success-light);
    }

    &.informa-critical {
        >p {
            color: var(--color-critical);
        }

        border-left: 2px solid var(--color-critical);
        background: var(--color-critical-light);
    }

    &.informa-subdued {
        >p {
            color: var(--color-subdued);
        }

        border-left: 2px solid var(--color-subdued);
        background: var(--color-subdued-light);
    }

    &.informa-leaf {
        >p {
            color: var(--color-leaf);
        }

        border-left: 2px solid var(--color-leaf);
        background: var(--color-leaf-light);
    }
}