footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 40px;
  width: flex-grid(12);

  &.fixed-bottom {
    bottom: 0px;
    max-width: 100%;
    position: absolute;
  }

  nav {
    border-top: 1px solid rgb(200,200,200);
    @include box-sizing(border-box);
    @include clearfix;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px 0;
    width: flex-grid(12);

    .copyright {
      float: left;
      padding-top: 2px;

      a.logo {
        @include box-sizing(border-box);
        @include inline-block;
        float: left;
        height: 100%;
        margin-right: 14px;
        margin-top: 1px;
        padding-right: 15px;
        position: relative;
        vertical-align: middle;

        &::after {
          @extend .faded-vertical-divider;
          content: "";
          display: block;
          height: 30px;
          right: 0px;
          position: absolute;
          top: -2px;
          width: 1px;
        }

        img {
          position: relative;
          z-index: 2;
        }
      }

      p {
        color: $lighter-base-font-color;
        font: normal 1.2rem/1.6rem $serif;
        @include inline-block;
        margin: 0 auto;
        padding-top: 4px;
        text-align: center;
        vertical-align: middle;

        a {
          color: $lighter-base-font-color;
          font: normal 1.2rem/1.6rem $serif;
          margin-left: 5px;
          text-decoration: underline;
        }
      }
    }

    ol {
      float: right;
      font-size: 0em;

      li {
        //border-right: 1px solid rgb(200,200,200);
        @include inline-block;
        list-style: none;
        padding: 0px 15px;
        position: relative;
        vertical-align: middle;

        &::after {
          @extend .faded-vertical-divider;
          content: "";
          display: block;
          height: 30px;
          right: 0px;
          position: absolute;
          top: -5px;
          width: 1px;
        }

        a:link, a:visited {
          color: $lighter-base-font-color;
          font: normal 1.2rem/1.6rem $serif;
          padding: 6px 0px;
        }

        &.social {
          border: none;
          margin: 0 0 0 5px;
          padding: 0;

          &::after {
            display: none;
          }

          a {
            padding: 0 0 0 10px;
            @include transition(all, 0.1s, linear);
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
