// LMS-specific variables

<<<<<<< HEAD
=======
@import '_builtin-block-variables';

>>>>>>> 139b4167b37b49d2d69cccdbd19d8ccef40d3374
$text-width-readability-max: 1080px;

// LMS-only colors
$audit-mode-color: rgb(74, 74, 74) !default;
$honor-mode-color: theme-color("primary") !default;
$verified-mode-color: theme-color("purchase") !default;
$professional-certificate-color: #9a1f60 !default;
