{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE >= 11"
          ]
        },
        "modules": "commonjs"
      }
    ]
  ]
}
