*
!.tx
!cms
!common
!docs
!lms
!openedx
!pavelib
!requirements
!scripts
!static
!themes
!vendor_extra
!.babelrc
!.coveragerc
!.eslintignore
!.eslintrc.json
!.npmrc
!Makefile
!manage.py
!package.json
!pavement.py
!pylintrc
!pylintrc_tweaks
!pytest.ini
!README.rst
!setup.cfg
!setup.py
!webpack.config.js
