*
!.docker/config
!.docker/node_modules
!.docker/wheelhouse
!.tx
!cms
!common
!conf
!docs
!lms
!openedx
!pavelib
!requirements/edx
!screenshots
!scripts
!themes
!vendor_extra
!.babelrc
!.coveragerc
!.eslintignore
!.eslintrc.json
!.npmrc
!Makefile
!manage.py
!package.json
!pavement.py
!pylintrc
!pylintrc_tweaks
!README.rst
!setup.cfg
!setup.py
!webpack.config.js
