*.pyc
*~
*.scssc
*.swp
*.orig
*.DS_Store
*.mo
:2e_*
:2e#
.AppleDouble
database.sqlite
requirements/private.txt
lms/envs/private.py
cms/envs/private.py
courseware/static/js/mathjax/*
flushdb.sh
build
.coverage
coverage.xml
cover/
log/
reports/
/src/
\#*\#
*.egg-info
Gemfile.lock
.env/
conf/locale/en/LC_MESSAGES/*.po
!messages.po
lms/static/sass/*.css
lms/static/sass/application.scss
lms/static/sass/course.scss
cms/static/sass/*.css
lms/lib/comment_client/python
nosetests.xml
cover_html/
.idea/
.redcar/
chromedriver.log
/nbproject
ghostdriver.log
node_modules
.pip_download_cache/
.prereqs_cache
autodeploy.properties
.ws_migrations_complete
