django==1.4.3
pip
numpy==1.6.2
scipy==0.11.0
Markdown==2.2.1
pygments==1.5
lxml==3.0.1
boto==2.6.0
mako==0.7.3
python-memcached==1.48
python-openid==2.2.5
path.py
django_debug_toolbar
fs==0.4.0
beautifulsoup==3.2.1
beautifulsoup4==4.1.3
feedparser==5.1.3
requests==0.14.2
http://sympy.googlecode.com/files/sympy-0.7.1.tar.gz
newrelic==1.8.0.13
glob2==0.3
pymongo==2.4.1
django_nose
nosexcover==1.0.7
rednose==0.3.3
GitPython==0.3.2.RC1
django-override-settings==1.2
mock==0.8.0
PyYAML==3.10
South==0.7.6
pytz==2012h
django-celery==3.0.11
django-countries==1.5
django-kombu==0.9.4
django-followit==0.0.3
django-jasmine==0.3.2
django-keyedcache==1.4-6
django-mako==0.1.5pre
django-masquerade==0.1.6
django-openid-auth==0.4
django-robots==0.9.1
django-ses==0.4.1
django-storages==1.1.5
django-threaded-multihost==1.4-1
django-sekizai==0.6.1
django-mptt==0.5.5
sorl-thumbnail==11.12
networkx==1.7
pygraphviz==1.1
-r repo-requirements.txt
pil==1.1.7
nltk==2.0.4
django-debug-toolbar-mongo
dogstatsd-python==0.2.1
# Taking out MySQL-python for now because it requires mysql to be installed, so breaks updates on content folks' envs.
# MySQL-python
sphinx==1.1.3
factory_boy
Shapely==1.2.16
ipython==0.13.1

