.eliteu-join{  
  width: 100%;
  height: 322px;
  background: url('/static/images/abouts/join_us.png') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
.eliteu-join-img{   
  width: 238px;
  height: 238px;
  border-radius: 50%;
  background: url('/static/images/abouts/join_us_dec.png') no-repeat center center;
  background-size: cover;
  margin: 0 auto;
  margin-top: 42px;
}
.join-wrapper{
    padding: 0 10px;
}
.join-dec{   
    box-sizing: border-box;
    max-width: 750px;
    height: auto;
    padding: 25px 50px;
    box-shadow: 0px 0px 2px 0px $border;
    margin: 0 auto;
    border-radius: 3px;   
    margin-top: 38px;
    background: #fff;
}

.join-dec h1{ 
    text-align: center;
    font-size: 20px;
    color: $title;
    line-height: 2;
    margin-bottom: 10px;
}
.join-dec p{ 
    margin-top: 0;
    font-size: 14px;
    color: $font;
    line-height: 20px;
    margin-bottom: 15px;
}

@media screen and (max-width:576px){
    .join-dec{
        padding: 25px 20px;
    }
}