// +Imports
// ====================
@import '../base/grid-settings';
@import 'neat/neat'; // lib - Neat

.program-card{
  @include span-columns(12);  
  border: 1px solid $border-color-l3;
  box-sizing: border-box;
  padding: $baseline;
  margin-bottom: $baseline;
  position: relative;
  display: inline;
  .card-link{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 0;
    z-index: 1;
    opacity: 0.5;
    &:hover,
    &:focus{
      opacity: 1;
    }
    .banner-image-container{
      position: relative;
      overflow: hidden;
      height: 116px;
      .banner-image{
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 0;
        transform: translate(-50%, 0);
        min-height: 100%;
      }
    }
  }
  .text-section{
    margin-top: 106px;
    .meta-info{
      @include outer-container;
      margin-bottom: $baseline*0.25;
      font-size: em(12);
      color: $gray;
      .organization{
        @include span-columns(6);
        white-space: nowrap;
        overflow: hidden;
      }
      .category{
        @include span-columns(6);
        text-align: right;
        .category-text{
            @include float(right);
        }
        .xseries-icon{
          @include float(right);
          @include margin-right($baseline*0.25);
          background: url('#{$static-path}/images/icon-sm-xseries-black.png') no-repeat;
          background-color: transparent;
          background-size: 100%;
          width: ($baseline*0.7);
          height: ($baseline*0.7);
        }
      }
    }
    .title{
      font-size: em(24);
      color: $gray-l1;
      margin-bottom: 10px;
      line-height: 1.2;
    }
  }
}

@include media($bp-small) {
  .program-card{
    @include omega(n);
    @include span-columns(4);
    .card-link{
      .banner-image-container{
        height: 166px;
      }
    }
    .text-section{
      margin-top: 156px;
    }
  }
}


@include media($bp-medium) {
  .program-card{
    @include omega(n);
    @include span-columns(8);
    .card-link{
      .banner-image-container{
        height: 242px;
      }
    }
    .text-section{
      margin-top: 232px;
    }
  }
}



@include media($bp-large) {
  .program-card{
    @include omega(2n);
    @include span-columns(6);
    .card-link{
      .banner-image-container{
        height: 116px;
      }
    }
    .text-section{
      margin-top: 106px;
    }
  }
}

@include media($bp-huge) {
  .program-card{
    @include omega(2n);
    @include span-columns(6);
    .card-link{
      .banner-image-container{
        height: 145px;
      }
    }
    .text-section{
      margin-top: 135px;
    }
  }
}

