// lms - elements - system feedback
// ====================

// messages

// UI : message
.wrapper-msg {
  display: block;
  background: $notify-banner-bg-1;
  padding: $baseline ($baseline*1.5);

  // basic object
  .msg {
    @include clearfix();
    max-width: grid-width(12);
    min-width: 760px;
    width: flex-grid(12);
    margin: 0 auto;
  }

  .msg-content,
  .msg-icon {
    display: inline-block;
    vertical-align: middle;
  }

  .msg-content {

    .title {
      @extend %t-title5;
      @extend %t-weight4;
      margin-bottom: ($baseline/4);
      color: inherit;
      text-transform: none;
      letter-spacing: 0;
    }

    .copy {
      @extend %t-copy-sub1;
      color: inherit;

      p { // nasty reset
        @extend %t-copy-sub1;
        color: inherit;
      }
    }
  }

  .has-actions {

    .msg-content {
      width: flex-grid(10,12);
    }

    .nav-actions,
    .msg-actions {
      width: flex-grid(2,12);
      display: inline-block;
      vertical-align: middle;
      text-align: right;

      .action-primary {
        @extend %btn-primary-green;
      }
    }
  }

  .is-dismissable {

    .msg-content {
      width: flex-grid(11,12);
    }

    .action-dismiss {
      width: flex-grid(1,12);
      display: inline-block;
      vertical-align: top;
      text-align: right;

      .button-dismiss {  //ugly reset on button element
        @extend %t-icon4;
        background: none;
        box-shadow: none;
        border: none;
        text-shadow: none;
        color: inherit;

        &:hover, &:focus {
          color: $action-primary-bg;
        }
      }
    }
  }

  // object variations
  &.urgency-high {
    background: $notify-banner-bg-1;

    .msg {
      color: $white;
    }
  }

  &.urgency-mid {
    background: $notify-banner-bg-2;

    .msg {
      color: $white;
    }
  }

  &.urgency-low {
    background: $notify-banner-bg-3;

    .msg {
      color: $black;
    }
  }

  &.alert {
    border-top: 3px solid $alert-color;
  }

  &.error {
    border-top: 3px solid $error-color;
  }

  &.warning {
    border-top: 3px solid $warning-color;
  }

  &.success {
    border-top: 3px solid $success-color;
  }
}


// prompts

// notifications

// alerts
