hktml, body {
  background: rgb(250,250,250);
  font-family: $sans-serif;
  font-size: 1em;
  font-style: normal;
  line-height: 1em;
  //-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  color: $base-font-color;
  font: normal 1.2em/1.2em $serif;
  margin: 0px;
}

h1 {
  color: $base-font-color;
  font: normal 2em/1.4em $sans-serif;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  //text-transform: uppercase;
}

h2 {
  color: $lighter-base-font-color;
  font: normal 1.2em/1.2em $serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

p + h2, ul + h2, ol + h2 {
  margin-top: 40px;
}

p {
  color: $base-font-color;
  font: normal 1em/1.6em $serif;
  margin: 0px;
}

span {
  font: normal 1em/1.6em $sans-serif;
}
/* Fix for CodeMirror: prevent top-level span from affecting deeply-embedded span in CodeMirror */
.CodeMirror span {
  font: inherit;
}

p + p, ul + p, ol + p {
  margin-top: 20px;
}

p {
  a:link, a:visited {
    color: $blue;
    font: normal 1em/1em $serif;
    text-decoration: none;
    @include transition(all, 0.1s, linear);

    &:hover {
      color: $blue;
      text-decoration: underline;
    }
  }
}

a:link, a:visited {
  color: $blue;
  font: normal 1em/1em $sans-serif;
  text-decoration: none;
  @include transition(all, 0.1s, linear);

  &:hover {
    text-decoration: underline;
  }
}

.content-wrapper {
  background: rgb(255,255,255);
  margin: 0 auto 0;
  width: flex-grid(12);
}

.container {
  @include clearfix;
  margin: 0 auto 0;
  padding: 0px 30px;
  max-width: grid-width(12);
  min-width: 760px;
}

span.edx {
  text-transform: none;
  font: inherit;
}

.static-container {
  @include clearfix;
  margin: 0 auto 0;
  max-width: 1200px;
  padding: 60px 0px 120px;
  width: flex-grid(12);

  .inner-wrapper {
    margin: 0 auto 0;
    width: flex-grid(10);
  }

  ol, ul {
    list-style: disc;

    li {
      color: $base-font-color;
      font: normal 1em/1.4em $serif;
      margin: 0px;
    }
  }

  h1 {
    margin-bottom: 30px;
  }

  h1 + hr {
    margin-bottom: 60px;
  }

  p + h2, ul + h2, ol + h2 {
    margin-top: 40px;
  }

  ul + p, ol + p {
    margin-top: 20px;
  }
}
