// html {
//   overflow-y: scroll;
// }

html, body {
  background: $body-bg;
  font-style: normal;
  font-size: 1em;
  font-family: $sans-serif;
  line-height: 1em;
  //-webkit-font-smoothing: antialiased
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  color: $base-font-color;
  font: normal 1.2em/1.2em $serif;
}

h1 {
  margin-bottom: 30px;
  color: $base-font-color;
  text-align: center;
  letter-spacing: 1px;
  font: normal 2em/1.4em $sans-serif;
  //text-transform: uppercase
}

h2 {
  margin-bottom: 15px;
  color: $lighter-base-font-color;
  text-transform: uppercase;
  letter-spacing: 1px;
  font: normal 1.2em/1.2em $serif;
  -webkit-font-smoothing: antialiased;
}

p + h2, ul + h2, ol + h2 {
  margin-top: 40px;
}

p {
  margin: 0px;
  color: $base-font-color;
  font: normal 1em/1.6em $serif;
}

span {
  color: $base-font-color;
  font: normal 1em/1.6em $sans-serif;
}

/* Fix for CodeMirror: prevent top-level span from affecting deeply-embedded span in CodeMirror */
.CodeMirror span {
  font: inherit;
}

p + p, ul + p, ol + p {
  margin-top: 20px;
}

p {
  a:link, a:visited {
    @include transition(all, 0.1s, linear);
    color: $link-color;
    text-decoration: none;
    font: normal 1em/1em $serif;

    &:hover {
      color: $link-color;
      text-decoration: underline;
    }
  }
}

a:link, a:visited {
  @include transition(all, 0.1s, linear);
  color: $link-color;
  text-decoration: none;
  font: normal 1em/1em $sans-serif;

  &:hover {
    text-decoration: underline;
  }
}

.content-wrapper {
  margin: 0 auto;
  padding-bottom: ($baseline*2);
  width: flex-grid(12);
  background: $content-wrapper-bg;
}

.container {
  @include clearfix;
  margin: 0 auto 0;
  padding: 0px 30px;
  min-width: 760px;
  max-width: grid-width(12);
  width: flex-grid(12);
}

span.edx {
  text-transform: none;
  font: inherit;
}

.static-container {
  @include clearfix;
  margin: 0 auto 0;
  padding: 60px 0px 120px;
  max-width: 1200px;
  width: flex-grid(12);

  .inner-wrapper {
    margin: 0 auto 0;
    width: flex-grid(10);
  }

  ol, ul {
    list-style: disc;

    li {
      margin: 0px;
      color: $base-font-color;
      font: normal 1em/1.4em $serif;
    }
  }

  h1 {
    margin-bottom: 30px;
  }

  h1 + hr {
    margin-bottom: 60px;
  }

  p + h2, ul + h2, ol + h2 {
    margin-top: 40px;
  }

  ul + p, ol + p {
    margin-top: 20px;
  }
}

.loading-animation {
  position: absolute;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  background: url(../images/spinner.gif) no-repeat;
}

mark {
  padding: 0 3px;
  border-radius: 2px;
  background-color: #f7e9a8;
  color: #333;
}

.site-status {
  @include linear-gradient(top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .0));
  display: none;
  padding: 10px;
  background-color: $site-status-color;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .3) inset;
  font-size: 14px;

  .white-error-icon {
    position: relative;
    top: -4px;
    display: block;
    float: left;
    margin-right: 15px;
    width: 27px;
    height: 24px;
    background: url(../images/large-white-error-icon.png) no-repeat;
  }

  .inner-wrapper {
    margin: auto;
    min-width: 760px;
    max-width: 1180px;
  }

  p {
    color: #fff;
    line-height: 1.3;
  }
}

.ie-banner {
  @include border-radius(0 0 3px 3px);
  display: none;
  margin: auto;
  padding: 5px 20px 8px;
  min-width: 720px;
  max-width: 1140px;
  background: #f4f4e0;
  color: #3c3c3c;
  text-align: center;
  font-size: 13px;

  strong {
    font-weight: 700;
  }
}

.sr {
  @include text-sr();
}

.help-tab {
  @include transform(rotate(-90deg));
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 99;

  a:link, a:visited {
    @include border-radius(0px 0px 10px 10px);
    display: inline-block;
    padding: 6px 22px 11px;
    border: 1px solid #ccc;
    border-top-style: none;
    background: transparentize(#fff, 0.25);
    color: transparentize(#333, 0.25);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: #1D9DD9;
      color: #fff;
    }
  }
  @include transform-origin(0 0);
}

.help-buttons {
  padding: 10px 50px;

  a:link, a:visited {
    display: block;
    padding: 15px 0px;
    border: 1px solid #ccc;
    background: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &#feedback_link_problem {
      @include border-radius(10px 10px 0px 0px);
      border-bottom-style: none;
    }

    &#feedback_link_question {
      @include border-radius(0px 0px 10px 10px);
      border-top-style: none;
    }

    &:hover {
      background: #1D9DD9;
      color: #fff;
    }
  }
}

#feedback_form textarea[name="details"] {
  height: 150px;
}
