@function em($pxval, $base: 16) {
  @return #{$pxval / $base}em;
}

// Line-height
@function lh($amount: 1) {
  @return $body-line-height * $amount;
}

// image-replacement hidden text
@mixin text-hide() {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

// hidden elems - screenreaders
@mixin text-sr() {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

@mixin vertically-and-horizontally-centered ( $height, $width ) {
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -$width / 2;
  min-width: $width;
  min-height: $height;
  //margin-top: -$height / 2;
}

// sunsetted, but still used mixins
@mixin hide-text(){
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}


//-----------------
//  Theme Mixin Styles
//-----------------
@mixin login_register_h1_style { }

@mixin footer_references_style { }