nav.course-material {
  @include clearfix;
  margin: 0px auto 0px;
  padding: 0px;
  width: 100%;
  border-bottom: none;

  .inner-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: flex-grid(12);
  }

  ol.course-tabs {
    @include border-top-radius(4px);
    margin-left: 10px;
    padding: 28px 0 10px 0;

    li {
      float: left;
      margin-right: 6px;
      list-style: none;

      a {
        display: block;
        padding: 10px 13px 12px;
        border-radius: 3px;
        color: #555;
        text-align: center;
        text-decoration: none;
        // text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
        font-weight: bold;
        font-size: 14px;

        &:hover {
          background: rgba(255, 255, 255, .6);
          color: #333;
        }

        &.active {
          @include linear-gradient(top, rgba(0, 0, 0, .4), rgba(0, 0, 0, .25));
          @include box-shadow(0 1px 0 rgba(255, 255, 255, .5), 0 1px 1px rgba(0, 0, 0, .3) inset);
          // background: rgba(0, 0, 0, .2);
          background-color: transparent;
          color: #fff;
          text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
        }
      }
    }
    @include clearfix;
  }
  @include box-sizing(border-box);
}

.course-content {
  margin-top: 30px;

  .courseware {
    min-height: 300px;
  }
}

header.global.slim {
  @include box-shadow(0 1px 2px rgba(0, 0, 0, .1));
  padding: 5px 0 10px 0;
  height: auto;
  border-bottom: 1px solid $outer-border-color;
  background: $header-bg;

  .guest .secondary {
    margin-right: 0;
  }

  .guest .secondary a {
    display: none;

    &#login {
      @include background-image(linear-gradient(-90deg, lighten($link-color, 8%), lighten($link-color, 5%) 50%, $link-color 50%, darken($link-color, 10%) 100%));
      @include border-radius(3px);
      @include box-shadow(0 1px 0 0 rgba(255,255,255, 0.6));
      @include inline-block;
      display: block;
      display: inline-block;
      margin: 4px;
      padding: 6px 12px 8px;
      border: 1px solid transparent;
      border-color: darken($link-color, 10%);
      color: #fff;
      vertical-align: middle;
      text-decoration: none;
      text-transform: none;
      text-shadow: 0 -1px rgba(0, 0, 0, 0.6);
      letter-spacing: 0;
      font-weight: bold;
      font-size: 14px;
      font-family: $sans-serif;
      line-height: 1em;

      &:hover, &.active {
        @include background-image(linear-gradient(-90deg, $link-color, $link-color 50%, $link-color 50%, $link-color 100%));
      }
      @include box-sizing(border-box);
    }
  }

  nav {
    padding-top: 5px;
  }

  h1.logo {
    margin: 0 10px 0 13px;
    padding-right: 20px;

    &:before {
      @extend .faded-vertical-divider;
      position: absolute;
      top: 0;
      right: 3px;
      display: block;
      width: 1px;
      height: 35px;
      content: "";
    }

    &:after {
      @extend .faded-vertical-divider-light;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 1px;
      height: 35px;
      content: "";
    }

    img {
      height: 30px;
    }
  }

  .nav-global {
    display: none;
  }

  h2 {
    display: block;
    float: left;
    overflow: hidden;
    margin-top: 9px;
    margin-bottom: 0;
    width: 700px;
    color: #777;
    text-transform: none;
    text-overflow: ellipsis;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    letter-spacing: 0;
    font-weight: 600;
    font-size: 0.9em;

    .provider {
      font: inherit;
      font-weight: bold;
    }
  }

  a#signup {
    position: relative;
    margin-top: 3px;
    padding: 6px 12px 8px;
    text-transform: none;
    letter-spacing: 0;
    font-weight: bold;
    font-size: 14px;
  }
}
