p.unauth-warning {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: $black;
  color: $white;
}
p.unauth-warning a {
  font-weight: bold;
  padding: 5px;
  background-color: $white;
  border-radius: 5px;
}

nav.course-material {
  @include clearfix;
  @include box-sizing(border-box);
  border-bottom: none;
  margin: 0px auto 0px;
  padding: 0px;
  width: 100%;

  .inner-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: flex-grid(12);
  }

  ol.course-tabs {
    @include border-top-radius(4px);
    @include clearfix;
    padding: 28px 0 10px 0;
    margin-left: 10px;

    li {
      float: left;
      list-style: none;
      margin-right: 6px;

      &.prominent {
        margin-right: 16px;
        background: rgba(255, 255, 255, .5);
        border-radius: 3px;
      }

      &.prominent + li {
          padding-left: 15px;
          border-left: 1px solid #333;
      }

      a {
        border-radius: 3px;
        color: #555;
        display: block;
        text-align: center;
        padding: 10px 13px 12px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        // text-shadow: 0 1px 0 rgba(0, 0, 0, .4);

        &:hover, &:focus {
          color: #333;
          background: rgba(255, 255, 255, .6);
        }

        &.active {
          // background: rgba(0, 0, 0, .2);
          @include linear-gradient(top, rgba(0, 0, 0, .4), rgba(0, 0, 0, .25));
          background-color: transparent;
          box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 1px rgba(0, 0, 0, .3) inset;
          color: #fff;
          text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
        }
      }
    }
  }
}

.course-content {
  margin-top: 30px;

  .courseware {
    min-height: 300px;
  }
}

header.global.slim {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  height: auto;
  padding: 5px 0 10px 0;
  border-bottom: 1px solid $outer-border-color;
  background: $header-bg;

  .guest .secondary {
    margin-right: 0;
  }

  .guest .secondary a {
    display: none;

    &#login {
      display: block;
      @include background-image(linear-gradient(-90deg, lighten($link-color, 8%), lighten($link-color, 5%) 50%, $link-color 50%, darken($link-color, 10%) 100%));
      border: 1px solid transparent;
      border-color: darken($link-color, 10%);
      border-radius: 3px;
      @include box-sizing(border-box);
      box-shadow: 0 1px 0 0 rgba(255,255,255, 0.6);
      color: #fff;
      display: inline-block;
      font-family: $sans-serif;
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
      letter-spacing: 0;
      line-height: 1em;
      margin: 4px;
      padding: 6px 12px 8px;
      text-decoration: none;
      text-transform: none;
      text-shadow: 0 -1px rgba(0, 0, 0, 0.6);
      vertical-align: middle;

      &:hover, &:active, &:focus {
        @include background-image(linear-gradient(-90deg, $link-color, $link-color 50%, $link-color 50%, $link-color 100%));
      }
    }
  }

  nav {
    padding-top: 5px;
  }

  h1.logo {
    margin: 0 10px 0 13px;
    padding-right: 20px;

    &:before {
      @extend %faded-vertical-divider;
      content: "";
      display: block;
      height: 35px;
      position: absolute;
      right: 3px;
      top: 0;
      width: 1px;
    }

    &:after {
      @extend %faded-vertical-divider-light;
      content: "";
      display: block;
      height: 35px;
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
    }

    img {
      height: 30px;
    }
  }

  .nav-global {
    display: none;
  }

  h2 {
    display: block;
    width: 700px;
    float: left;
    font-size: 0.9em;
    font-weight: 600;
    color: $lighter-base-font-color;
    letter-spacing: 0;
    margin-top: 9px;
    margin-bottom: 0;
    text-transform: none;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .provider {
      font: inherit;
      font-weight: bold;
    }
  }

  a#signup {
    position: relative;
    margin-top: 3px;
    padding: 6px 12px 8px;
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
  }
}
