nav.course-material {
  @include clearfix;
  margin: 0px auto 0px;
  padding: 0px;
  width: 100%;
  background: none;

  .inner-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: flex-grid(12);
  }

  ol.course-tabs {
    @include border-top-radius(4px);
    padding: 10px 0 0 0;

    li {
      float: left;
      list-style: none;

      a {
        display: block;
        padding: 8px 13px 12px;
        color: darken($lighter-base-font-color, 20%);
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px rgb(255,255,255);
        font-weight: 400;
        font-size: 14px;

        &:hover {
          color: $base-font-color;
        }

        &.active {
          color: $blue;
        }
      }
    }
    @include clearfix;
  }
  @include box-sizing(border-box);
}

.course-content {
  margin-top: 30px;

  .courseware {
    min-height: 300px;
  }
}
