nav.course-material {
  @include clearfix;
  @include box-sizing(border-box);
  border-bottom: none;
  margin: 0px auto 0px;
  padding: 0px;
  width: 100%;

  .inner-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: flex-grid(12);
  }

  ol.course-tabs {
    @include border-top-radius(4px);
    @include clearfix;
    padding: 28px 0 10px 0;
    margin-left: 10px;

    li {
      float: left;
      list-style: none;
      margin-right: 6px;

      a {
        border-radius: 3px;
        color: #555;
        display: block;
        text-align: center;
        padding: 10px 13px 12px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        // text-shadow: 0 1px 0 rgba(0, 0, 0, .4);

        &:hover {
          color: #333;
          background: rgba(255, 255, 255, .6);
        }

        &.active {
          @include linear-gradient(top, rgba(0, 0, 0, .4), rgba(0, 0, 0, .25));
          background-color: transparent;
          @include box-shadow(0 1px 0 rgba(255, 255, 255, .5), 0 1px 1px rgba(0, 0, 0, .3) inset);
          color: #fff;
          text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
        }
      }
    }
  }
}

.course-content {
  margin-top: 30px;

  .courseware {
    min-height: 300px;
  }
}

header.global.slim {
  border-bottom: 1px solid $outer-border-color;
  @include box-shadow(0 1px 2px rgba(0, 0, 0, .1));
  height: 50px;
  @include linear-gradient(top, #fff, #eee);

  .guest .secondary {
    margin-right: 0;
  }

  .guest .secondary a {
    display: none;

    &#login {
      display: block;
      @include background-image(linear-gradient(-90deg, lighten($blue, 8%), lighten($blue, 5%) 50%, $blue 50%, darken($blue, 10%) 100%));
      border: 1px solid transparent;
      border-color: darken($blue, 10%);
      @include border-radius(3px);
      @include box-sizing(border-box);
      @include box-shadow(0 1px 0 0 rgba(255,255,255, 0.6));
      color: #fff;
      display: inline-block;
      font-family: $sans-serif;
      font-size: 14px;
      font-weight: bold;
      @include inline-block;
      letter-spacing: 0;
      line-height: 1em;
      margin: 4px;
      padding: 6px 12px 8px;
      text-decoration: none;
      text-transform: none;
      text-shadow: 0 -1px rgba(0, 0, 0, 0.6);
      vertical-align: middle;

      &:hover, &.active {
        @include background-image(linear-gradient(-90deg, $blue, $blue 50%, $blue 50%, $blue 100%));
      }
    }
  }

  nav {
    padding-top: 5px;
  }

  h1.logo {    
    margin-left: 13px;
    margin-right: 20px;
    padding-right: 20px;

    &::before {
      @extend .faded-vertical-divider;
      content: "";
      display: block;
      height: 40px;
      position: absolute;
      right: 3px;
      top: 0;
      width: 1px;
    }

    &::after {
      @extend .faded-vertical-divider-light;
      content: "";
      display: block;
      height: 40px;
      position: absolute;
      right: 0px;
      top: 0;
      width: 1px;
    }
  }

  .find-courses-button {
    display: none;
  }

  h2 {
    display: block;
    width: 700px;
    float: left;
    font-size: 0.9em;
    font-weight: 600;
    color: #777;
    letter-spacing: 0;
    margin-top: 9px;
    text-transform: none;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .provider {
      font: inherit;
      font-weight: bold;
    }
  }

  a#signup {
    position: relative;
    margin-top: 3px;
    padding: 6px 12px 8px;
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
  }
}
