<%! from django.core.urlresolvers import reverse %>
<%inherit file="../../main.html" />

<%namespace name='static' file='../../static_content.html'/>

<%block name="title"><title>Cengage Learning To Provide Book Content</title></%block>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section class="pressrelease">
  <section class="container">
    <h1>Cengage Learning to Provide Book Content and Pedagogy through edX's Not-for-Profit Interactive Study Via the Web</h1>
    <hr class="horizontal-divider">

    <article>
      <h2>Students taking HarvardX's &ldquo;PHW207x: Health in Numbers&rdquo; on edX</h2>
      <h2>to get access to Principles of Biostatistics, 2nd Edition</h2>

      <p><strong>CAMBRIDGE, MA &mdash; October 17, 2012 &mdash;</strong> <a href="https://www.edx.org/">EdX</a>, the not-for-profit online learning venture founded by Harvard University and the Massachusetts Institute of Technology (MIT), today announced its collaboration with <a href="http://www.cengage.com/us/">Cengage</a><a href="http://www.cengage.com/us/"> Learning</a>, a leading educational content, software and services company, to provide licensed content to edX students at no cost.</p>

      <p>Students who enroll in edX's course <a href="https://www.edx.org/courses/HarvardX/PH207x/2012_Fall/about">PHW207x: Health in Numbers </a>, taught by Professor Marcello Pagano of Harvard's School of Public Health, will have access to an online version of the course textbook, <a href="http://www.cengage.com/search/productOverview.do?Ntt=Principles+of+Biostatistics%7C%7C1294593750742656302174876073224090273&amp;N=16&amp;Ntk=all%7C%7CP_EPI">Principles of Biostatistics, 2nd Edition</a>, written by Marcello Pagano and Kimberlee Gauvreau and published by Cengage Learning. Cengage Learning’s instructional design services will also work with edX to migrate the print pedagogy from the textbook into the on-line course, creating the best scope and sequence for effective student learning.</p>

      <figure>
        <img src="${static.url('images/press/cengage_book_327x400.jpg')}" />
      </figure>

      <p>&ldquo;edX students worldwide will benefit from both Professor Pagano's in-class lectures and his classic Cengage Learning textbook in biostatics,&rdquo; said Anant Agarwal, President of edX. &ldquo;We are very grateful for Cengage's commitment to helping edX learners throughout the world.&rdquo;</p>

      <p> &ldquo;We're pleased to collaborate with edX and its mission to improve worldwide access to higher education,&rdquo; said William Rieders, Executive Vice President, Global Strategy &amp; Business Development for Cengage Learning. &ldquo;Through this collaboration, edX and Cengage Learning are able to bring the best content, services, and delivery to students worldwide.&rdquo; </p>

      <p>PHW207x: Health in Numbers, which began on October 15th, is the online adaptation of material from the Harvard School of Public Health's classes in epidemiology and biostatistics. Taught by Professor Pagano and Earl Francis Cook, Professor of Epidemiology at the Harvard School of Public Health (HSPH) and at the Harvard Medical School, PHW207x teaches students the principles of biostatistics and epidemiology used for public health and clinical research.</p>

      <p>Through edX, the &ldquo;X Universities&rdquo; &mdash; which now includes UC Berkeley and The University of Texas System in addition to founding institutions Harvard and MIT &mdash; will provide interactive education wherever there is access to the Internet and will enhance teaching and learning through research about how students learn, and how technologies can facilitate effective teaching both on-campus and online. EdX plans to add other &ldquo;X Universities&rdquo; from around the world to the edX platform in the coming months. </p>

        <h2>About edX</h2>

        <p><a href="https://www.edx.org/">edX</a> is a not-for-profit enterprise of its founding partners Harvard University and the Massachusetts Institute of Technology that features learning designed specifically for interactive study via the web. Based on a long history of collaboration and their shared educational missions the founders are creating a new online-learning experience. Anant Agarwal, former Director of MIT's Computer Science and Artificial Intelligence Laboratory, serves as the first president of edX. Along with offering online courses, the institutions will use edX to research how students learn and how technology can transform learning&mdash;both on-campus and worldwide. EdX is based in Cambridge, Massachusetts and is governed by MIT and Harvard.</p>

        <h2>About Cengage Learning</h2>

        <p>Cengage Learning is a leading provider of innovative teaching, learning and research solutions for the academic, professional and library markets worldwide. The company's products and services are designed to foster academic excellence and professional development, increase student engagement, improve learning outcomes and deliver authoritative information to people whenever and wherever they need it. Through the company's unique position within both the library and academic markets, Cengage Learning is providing integrated learning solutions that bridge from the library to the classroom. Cengage Learning’s brands include Brooks/Cole, Course Technology, Delmar, Gale, Heinle, National Geographic Learning, South-Western and Wadsworth, among others. Cengage Learning is headquartered in Stamford, CT. For more information on Cengage Learning please visit <a href="http://www.cengage.com/">www.cengage.com</a>.&nbsp;<strong></strong></p>

      <section class="contact">
        <p><strong>Contact:</strong> Dan O&rsquo;Connell</p>
        <p><strong>P:</strong> 617-480-6585; </p>
        <p><strong>E:</strong> oconnell@edx.org</p>
      </section>

      <section class="footer">
        <hr class="horizontal-divider">
        <div class="logo"></div>
        <h3 class="date">10 - 18 - 2012</h3>
        <div class="social-sharing">
        <hr class="horizontal-divider">
          <p>Share with friends and family:</p>
          <a href="http://twitter.com/intent/tweet?text=Cengage+to+Provide+Book+Content+to+edX
:+http://www.edx.org/press/cengage-to-provide-book-content" class="share">
            <img src="${static.url('images/social/twitter-sharing.png')}">
          </a>
        </a>
        <a href="mailto:?subject=Cengage%20Learning%20to%20Provide%20Book%20Content%20and%20Pedagogy%20through%20edX's%20Not-for-Profit%20Interactive%20Study%20Via%20the%20Web…http://www.edx.org/press/cengage-to-provide-book-content" class="share">
          <img src="${static.url('images/social/email-sharing.png')}">
        </a>
        <div class="fb-like" data-href="http://edx.org/press/cengage-to-provide-book-content" data-send="true" data-width="450" data-show-faces="true"></div>
      </div>

      </section>
    </article>
  </section>
</section>
