<%! from django.core.urlresolvers import reverse %>
<%inherit file="../../main.html" />

<%namespace name='static' file='../../static_content.html'/>

<%block name="title"><title>edX Expands Internationally and Doubles its Institutional Membership with the Addition of Six New Schools</title></%block>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section class="pressrelease">
  <section class="container">
    <h1>edX Expands Internationally and Doubles its Institutional Membership with the Addition of Six New Schools</h1>
    <hr class="horizontal-divider">
      <article>
    <h2>edX welcomes The Australian National University, Delft University of Technology, École Polytechnique Fédérale de Lausanne, McGill University, Rice University and University of Toronto to its X University Consortium of the world’s leading higher education institutions</h2>

        <p><strong>CAMBRIDGE, MA  &ndash; Feb. 20, 2013 &ndash;</strong>
<a href="https://www.edx.org/">EdX</a>, the not-for-profit online learning enterprise founded by Harvard University and the Massachusetts Institute of Technology (MIT), announced today the international expansion of its X University Consortium with the addition of six new global higher education institutions. The Australian National University (ANU), Delft University of Technology in the Netherlands, École Polytechnique Fédérale de Lausanne (EPFL) in Switzerland, McGill University and the University of Toronto in Canada, and Rice University in the United States are joining the Consortium and will use the edX platform to deliver the next generation of online and blended courses. This international expansion enables edX to better achieve its mission of providing world-class courses to everyone, everywhere, and is the natural next step to continue serving the large international student body already using edX on a daily basis.
</p>

<p>While MOOCs, or massive open online courses, have typically focused on offering a variety of online courses inexpensively or for free, edX's vision is much larger. EdX is building an open source educational platform and a network of the world's top universities to improve education both online and on campus while conducting research on how students learn. To date, edX has more than 700,000 individuals on its platform, who account for more than 900,000 course enrollments. The addition of these new higher education institutions stretching from North America to Europe to the Asia Pacific will double the number of X University Consortium members and add a rich variety of new courses to edX’s offerings:
</p>

<ul>
  <li>The Australian National University, a celebrated place of intensive research, education and policy engagement, will provide a series of <a href="https://www.edx.org/university_profile/ANUx">ANUx</a> courses to the open source platform including Astrophysics taught by Nobel Laureate and Professor of Astrophysics Brian Schmidt and his colleague Dr. Paul Francis, and Engaging India, taught by Dr. McComas Taylor and Dr. Peter Friedlander.</li>

  <li>Delft University of Technology, the largest and oldest technological university in the Netherlands, will provide a series of <a href="https://www.edx.org/university_profile/DelftX">DelftX</a> courses under Creative Commons license, including Introduction to Aerospace Engineering by Professor Jacco Hoekstra, Solar Energy by Dr. Arno Smets, and Water Treatment Engineering by Professor Jules van Lier.</li>

  <li>École Polytechnique Fédérale de Lausanne, one of the most famous institutions of science and technology in Europe, will provide a series of <a href="https://www.edx.org/university_profile/EPFLx">EPFLx</a> courses specially tailored to fit the edX format, originating from its five schools -- Engineering, Life Sciences, Informatics and Communication, Architecture and Basic Sciences.</li>

  <li>McGill University, one of Canada's best-known institutions of higher learning and one of the leading universities in the world, will provide a series of <a href="https://www.edx.org/university_profile/McGillX">McGillX</a> courses in areas ranging from science and the humanities to public policy issues.</li>

  <li>Rice University, in Houston, Texas, is consistently ranked among the nation's top 20 universities by U.S. News & World Report. Rice has highly respected schools of Architecture, Business, Continuing Studies, Engineering, Humanities, Music, Natural Sciences and Social Sciences and is home to the Baker Institute for Public Policy. Rice's Smalley Institute for Nanoscale Science and Technology was the world’s first nanotechnology center when it opened in 1991. Rice will initially provide four <a href="https://www.edx.org/university_profile/RiceX">RiceX</a> courses and investigate ways to integrate its learning analytics tools from OpenStax Tutor to enable students and instructors to track their progress in real time.</li>

  <li>University of Toronto, one of the most respected and influential institutions of higher education and advanced research in the world, will provide a series of <a href="https://www.edx.org/university_profile/TorontoX">TorontoX</a> courses including Terrestrial Energy System by Professor Bryan Kanrey, Behavioral Economics by Professor Dilip Soman, The Logic of Business: Building Blocks for Organizational Design by Professor Mihnea Moldoveanu, and Bioinformatic Methods by Professor Nicholas Provart.</li>
</ul> 

  <p>“We have had an international student community from the very beginning, and bringing these leading universities, from North America and Europe and the Asia Pacific into the edX organization will help us meet the tremendous demand we are experiencing,” said Anant Agarwal, President of edX. “Each of these schools was carefully selected for the distinct expertise they bring to our growing family of edX institutions. We remain committed to growing edX to meet the needs of the world while maintaining a superior learning experience for all.”</p>

  <p>Courses offered by institutions on the edX platform provide the same rigor as on-campus classes but are designed to take advantage of the unique features and benefits of online learning environments, including game-like experiences, instant feedback and cutting-edge virtual laboratories. Through edX, the new X Universities will provide interactive education experiences for students around the world. All that is required of edX students is access to the Internet and a desire to learn. By breaking down the barriers of location and cost and enabling the global exchange of information and ideas, edX is changing the foundations of both teaching and learning.</p>

<p>The new member institutions will join founding universities MIT and Harvard, as well as the University of California, Berkeley, the University of Texas System, Wellesley College and Georgetown University in the X University Consortium. ANUx, DelftX, EPFLx, McGillX, RiceX and TorontoX will offer courses on edX beginning in late 2013. All of the courses will be hosted on edX’s open source platform at www.edx.org.
</p>

<h2>About edX</h2>

<p><a href="https://www.edx.org/">EdX</a> is a not-for-profit enterprise of its founding partners <a href="http://www.harvard.edu">Harvard University</a> and the <a href="http://www.mit.edu">Massachusetts Institute of Technology</a> focused on transforming online and on-campus learning through groundbreaking methodologies, game-like experiences and cutting-edge research. EdX provides inspirational and transformative knowledge to students of all ages, social status, and income who form worldwide communities of learners. EdX uses its open source technology to transcend physical and social borders. We’re focused on people, not profit. EdX is based in Cambridge, Massachusetts in the USA.</p>


      <section class="contact">
        <p><strong>Media Contact:</strong></p>
        <p>Dan O'Connell</p>
        <p>oconnell@edx.org</p>
        <p>(617) 480-6585</p>
      </section>

      <section class="footer">
        <hr class="horizontal-divider">
        <div class="logo"></div><h3 class="date">02 - 20 - 2013</h3>
        <div class="social-sharing">
        <hr class="horizontal-divider">
          <p>Share with friends and family:</p>
          <a href="http://twitter.com/intent/tweet?text=:edX+expands+internationally+http://www.edx.org/press/edx-expands-internationally" class="share">
            <img src="${static.url('images/social/twitter-sharing.png')}">
          </a>
        </a>
        <a href="mailto:?subject=edX%20expands%20internationally…http://edx.org/press/edx-expands-internationally" class="share">
          <img src="${static.url('images/social/email-sharing.png')}">
        </a>
        <div class="fb-like" data-href="http://edx.org/press/edx-expands-internationally" data-send="true" data-width="450" data-show-faces="true"></div>
      </div>
      </section>
    </article>
  </section>
</section>
