<%! from django.core.urlresolvers import reverse %>
<%inherit file="../../main.html" />

<%namespace name='static' file='../../static_content.html'/>

<%block name="title"><title>Stanford University to Collaborate with edX on Development of Non-Profit Open Source edX Platform</title></%block>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section class="pressrelease">
  <section class="container">
    <h1>Stanford University to Collaborate with edX on Development of Non-Profit Open Source edX Platform</h1>
    <hr class="horizontal-divider">
      <article>
    <h2>edX Learning Platform to be open source and available on June 1</h2>

        <p><strong>CAMBRIDGE, MA and STANFORD, CA &ndash; April 3, 2013 &ndash;</strong>

Stanford University and <a href="https://www.edx.org">edX</a>, the not-for-profit online learning enterprise founded by Harvard University and the Massachusetts Institute of Technology (MIT), today announced their collaboration to advance the development of edX’s open source learning platform and provide free and open online learning tools for institutions around the world.</p>

<p>As part of this announcement, edX will release the source code for its entire online learning platform on June 1, 2013. In support of that move, Stanford will integrate features of its existing Class2Go platform into the edX platform, use the integration as an internal platform for online coursework for on-campus and distance learners, and work collaboratively with edX and other institutions to further develop the edX platform.</p>

<p>“This collaboration brings together two leaders in online education in a common effort to ensure that the world’s universities have the strongest possible not-for-profit, open source platform available to them,” said John Mitchell, vice provost for online learning at Stanford University. “A not-for-profit, open source platform will help universities experiment with different ways to produce and share content, fostering continued innovation through a vibrant community of contributors.”</p>

<p>EdX and Stanford will collaborate along with others around the globe on the ongoing development and refinement of the edX online learning platform.  As of June 1, developers everywhere will be able to freely access the source code of the edX learning platform, including code for its Learning Management System (LMS); Studio, a course authoring tool; xBlock, an application programming interface (API) for integrating third-party learning objects; and machine grading API’s.  EdX will support and nurture the community of developers contributing to the enhancement of the edX platform by providing a rich environment for developer collaboration as well as technical and process guidelines to facilitate developer contributions.</p>

<p>“It has been our vision to offer our platform as open source since edX’s founding by Harvard and MIT,” stated Anant Agarwal, president of edX.  “We are now realizing that vision, and I am pleased to welcome Stanford University, one of the world’s leading institutions of higher education, to further this global open source solution.  I want to acknowledge the key role played by our X Consortium member UC Berkeley, which was instrumental in fostering this collaboration. We believe the edX platform—the Linux of learning—will benefit from all the world’s institutions and communities.”</p>

<p>EdX is pursuing an open source vision to enhance access to higher education for the entire world.  One of the chief benefits of massive open online courses (MOOCs) is that they bring together a tremendously diverse student body to learn with and from each other.  EdX has chosen to extend that perspective to its learning platform as well, knowing that drawing upon the global community of developers is an effective route to both transform and deliver the world’s best and most accessible online and blended learning experience.</p>

<p>MOOCs and innovative online teaching approaches on college campuses, such as the “flipped classroom,” use web environments that support interactive video, online discussion, social/cohort interaction, assessment and other functions.  Open source online learning platforms will allow universities to develop their own delivery methods, partner with other universities and institutions as they choose, collect data, and control branding of their educational material. Further developing online opportunities through open source technology is a key objective of the partnership between edX and Stanford.</p>

<p>Stanford will continue to provide a range of platforms for its instructors to choose from in hosting their online coursework, including continued partnerships with Coursera and other providers. The university will focus its ongoing platform development efforts on the new platform, combining key features from the Class2Go open source platform with the open source edX code base.</p>

<p>The edX learning platform source code, as well as platform developments from Stanford, edX and other contributors, will be available on June 1, 2013 and can be accessed from the edX Platform Repository located at <a href="https://github.com/edX">https://github.com/edX</a>.</p>
 

<h2>About edX</h2>

<p><a href="https://www.edx.org/">EdX</a> is a not-for-profit enterprise of its founding partners <a href="http://www.harvard.edu">Harvard University</a> and the <a href="http://www.mit.edu">Massachusetts Institute of Technology</a> focused on transforming online and on-campus learning through groundbreaking methodologies, game-like experiences and cutting-edge research. EdX provides inspirational and transformative knowledge to students of all ages, social status, and income who form worldwide communities of learners. EdX uses its open source technology to transcend physical and social borders. We’re focused on people, not profit. EdX is based in Cambridge, Massachusetts in the USA.</p>

<h2>About Stanford University</h2>

<p>
<a href="http://www.stanford.edu">Stanford University</a> is engaged in a variety of efforts to develop online learning – experimenting with coursework for both on-campus and off-campus students, researching key questions around what a digital environment means for teaching and learning, and pursuing platform development.  More information on Stanford’s online learning activities is available at <a href="http://online.stanford.edu">http://online.stanford.edu</a>


      <section class="contact">
        <p><strong>Media Contact:</strong></p>
        <p>Dan O'Connell</p>
        <p>oconnell@edx.org</p>
        <p>(617) 480-6585</p>
      </section>

<section class="contact">
<p>Brad Hayward</p>
<p>bhayward@stanford.edu</p>
<p>650-724-0199</p>
</section>

<section class="contact">
<p>Lisa Lapin</p>
<p>lapin@stanford.edu</p>
<p>650-725-8396</p>
</section>


      <section class="footer">
        <hr class="horizontal-divider">
        <div class="logo"></div><h3 class="date">DATE: 04 - 03 - 2013</h3>
        <div class="social-sharing">
        <hr class="horizontal-divider">
          <p>Share with friends and family:</p>
          <a href="http://twitter.com/intent/tweet?text=:Stanford+to+work+with+edX+http://www.edx.org/press/stanford-to-work-with-edx" class="share">
            <img src="${static.url('images/social/twitter-sharing.png')}">
          </a>
        </a>
        <a href="mailto:?subject=Stanford%20to%20work%20with%20EdX…http://edx.org/press/stanford-to-work-with-edx" class="share">
          <img src="${static.url('images/social/email-sharing.png')}">
        </a>
        <div class="fb-like" data-href="http://edx.org/press/stanford-to-work-with-edx" data-send="true" data-width="450" data-show-faces="true"></div>
      </div>
      </section>
    </article>
  </section>
</section>
