<%! from django.core.urlresolvers import reverse %>
<%inherit file="../../main.html" />

<%namespace name='static' file='../../static_content.html'/>

<%block name="title"><title>The University of Texas System joins edX</title></%block>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section class="pressrelease">
  <section class="container">
    <h1>The University of Texas System joins edX</h1>
    <hr class="horizontal-divider">
      <article>
        <h2>The University of Texas System joins Harvard, MIT and UC Berkeley in not-for-profit online learning collaborative </h2>

        <p><strong>CAMBRIDGE, MA/AUSTIN, TX &ndash; October 15, 2012</strong> &mdash; edX, the online non-profit learning initiative founded by Harvard University (Harvard) and the Massachusetts Institute of Technology (MIT) and launched in May, announced today the addition of The University of Texas (UT) System to its platform.  The UT System, one of the largest public university systems in the United States with nine academic universities and six health institutions, will collaborate with edX to expand the group of participating &ldquo;X Universities&rdquo; – universities offering their courses on the edX platform. </p>

        <p>The UT System includes the University of Texas at Austin, ranked 25th in the 2012-2013 Times Higher Education World University Rankings, UT Southwestern Medical Center, home to one of the nation's top 25 medical schools, and UT MD Anderson Cancer Center, the nation's No. 1-ranked cancer center. The system's institutions serve 212,000 students and employ 19,000 faculty members.</p>

        <p>Through edX, the &ldquo;X Universities&rdquo; provide online interactive education wherever there is access to the Internet, with a goal to enhance teaching and learning through research about how students learn, and how technologies can facilitate effective teaching both on campus and online. The University of California, Berkeley (UC Berkeley) joined edX in July 2012. edX plans to add other &ldquo;X Universities&rdquo; from around the world to the edX platform in the coming months. </p>

        <p>Francisco G. Cigarroa, Chancellor of The University of Texas System announced the partnership following a unanimous vote of approval by the UT System's Board of Regents on Monday.</p>

        <p>&ldquo;New technologies are positively impacting how professors teach and how course content is delivered,&rdquo; Chancellor Cigarroa said. &ldquo;The University of Texas System will help lead this revolution and fundamentally alter the direction of online education. We are excited about this partnership with edX and honored to be in the company of such exceptional institutions as MIT, Harvard and Berkeley. The mission of edX aligns perfectly with that of the UT System and keeps the learner as its central focus.&rdquo;</p>

        <p>The University of Texas System plans to offer at least four courses on edX within the next year.</p>

        <p>In addition to serving a global community of online students, the UT System plans to redesign general education courses and traditional entry-level courses that are too often made up of several hundred students. Through its Institute for Transformational Learning, the UT System plans to give students more options by offering courses that are customized to student needs. For example, the UT System plans to offer courses that use a combination of technology and face-to-face interaction, courses that allow students to manage their own time by accelerating through sections they have already mastered or spending more time on areas they find challenging, and fully online courses so students are not limited by their location.</p>

        <p>&ldquo;As Texas' flagship university, UT Austin is committed not only to embracing breakthroughs in education, but helping create them,&rdquo; said William Powers, Jr., President of UT Austin. &ldquo;We're proud to be partnering with these top peer universities on edX.&rdquo;</p>

        <p>As part of a bold and innovative plan, the UT System also plans to offer courses through edX that will allow students to earn college credits toward a degree. &ldquo;Our goal through our partnership with edX is to better meet the learning needs of a wide range of students, raise graduation rates and cut the cost of higher education, all while maintaining our commitment to education of the highest quality,&rdquo; said Gene Powell, chairman of the UT System Board of Regents. </p>

        <p>The UT System brings a large and diverse student body to the edX family. Its six health institutions offer a unique opportunity to provide groundbreaking health and medical courses via edX in the near future. The UT System also brings special expertise in analytics – assessing student learning, online course design and creating interactive learning environments.</p>

        <p>edX courses are designed to provide students with a wealth of innovative resources, including interactive laboratories, virtual reality environments and access to online tutors and tutorials. Students who take UT System courses through edX won't work in isolation, but will have the opportunity to participate in online forums, network with instructors and fellow students and take part in exciting collaborative projects. &ldquo;We are excited that The University of Texas System is joining edX's efforts to revolutionize learning,&rdquo; said Anant Agarwal, President of edX. &ldquo;The institutions within The University of Texas System bring a wide range of expertise to the edX mission, and with them edX is now positioned to continue to increase our offering of high-quality, online courses.&rdquo;</p>

        <p>edX was created by Harvard and MIT in May, with each university committing to contribute $30 million toward the online partnership.</p>

        <p>&ldquo;Today's announcement is another important step toward our shared objectives of expanding access to high quality educational content while enhancing teaching and learning online and in the classroom,&rdquo; said Harvard President Drew Faust.  &ldquo;The addition of The University of Texas System to the edX platform will allow us to deepen our understanding of  learning, develop new approaches to teaching that build on that knowledge, and strengthen both the on-campus and online learning experience.&rdquo;

        <p>&ldquo;At MIT, we are energetically exploring the ways that online instruction can help us reimagine our campus residential education even as it allows us to reach an unprecedented number of learners around the world,&rdquo; said MIT President L. Rafael Reif. &ldquo;It is thrilling to be joined by The University of Texas System in the pursuit of that dual goal.&rdquo;</p>

        <p>The edX classes to be offered by the UT System will be announced soon and will join other new edX courses planned for Spring, Summer and Fall 2013.  As with all edX courses, online learners who obtain a passing grade in the UT System courses will receive a certificate of mastery.  edX will also offer the option of proctored examinations for the UT System courses.</p>


        <h2>About edX</h2>

        <p>edX is a not-for-profit enterprise of its founding partners Harvard University and the Massachusetts Institute of Technology that features learning designed specifically for interactive study via the web. Based on a long history of collaboration and their shared educational missions the founders are creating a new online-learning experience. Anant Agarwal, former Director of MIT's Computer Science and Artificial Intelligence Laboratory, serves as the first president of edX. Along with offering online courses, the institutions will use edX to research how students learn and how technology can transform learning—both on-campus and worldwide.  edX is based in Cambridge, Massachusetts and is governed by MIT and Harvard.</p>

        <h2>About Harvard University</h2>

        <p>Harvard University is devoted to excellence in teaching, learning and research, and to developing leaders in many disciplines who make a difference globally.  Harvard Faculty are engaged with teaching and research to push the boundaries of human knowledge. The University has twelve degree-granting Schools in addition to the Radcliffe Institute for Advanced Study.</p>

        <p>Established in 1636, Harvard is the oldest institution of higher education in the United States. The University, which is based in Cambridge and Boston, Massachusetts, has an enrollment of over 20,000 degree candidates, including undergraduate, graduate and professional students. Harvard has more than 360,000 alumni around the world.</p>

        <h2>About MIT</h2>
        <p>The Massachusetts Institute of Technology — a coeducational, privately endowed research university founded in 1861 — is dedicated to advancing knowledge and educating students in science, technology and other areas of scholarship that will best serve the nation and the world in the 21st century. The Institute has close to 1,000 faculty and 10,000 undergraduate and graduate students. It is organized into five Schools: Architecture and Urban Planning; Engineering; Humanities, Arts, and Social Sciences; Sloan School of Management; and Science.</p>

        <p>MIT's commitment to innovation has led to a host of scientific breakthroughs and technological advances. Achievements of the Institute's faculty and graduates have included the first chemical synthesis of penicillin and vitamin A, the development of inertial guidance systems, modern technologies for artificial limbs and the magnetic core memory that made possible the development of digital computers. Seventy-eight alumni, faculty, researchers and staff have won Nobel Prizes.</p>

        <p>Current areas of research and education include neuroscience and the study of the brain and mind, bioengineering, cancer, energy, the environment and sustainable development, information sciences and technology, new media, financial technology and entrepreneurship.</p>

        <h2>About the University of California, Berkeley</h2>

        <p>The University of California, Berkeley is the world's premier public university with a mission to excel in teaching, research and public service. This longstanding mission has led to the university's distinguished record of Nobel-level scholarship, constant innovation, a concern for the betterment of our world, and consistently high rankings of its schools and departments. The campus offers superior, high value education for extraordinarily talented students from all walks of life; operational excellence and a commitment to the competitiveness and prosperity of California and the nation. </p>

        <p>The University of California was chartered in 1868 and its flagship campus in Berkeley, on San Francisco Bay, was envisioned as a &ldquo;City of Learning.&rdquo; Today, there are more than 1,500 fulltime and 500 part-time faculty members dispersed among more than 130 academic departments and more than 80 interdisciplinary research units. Twenty-two Nobel Prizes have been garnered by faculty and 28 by UC Berkeley alumni. There are 9 Nobel Laureates, 32 MacArthur Fellows, and 4 Pulitzer Prize winners among the current faculty.</p>

        <h2>About The University of Texas System</h2>

        <p>Educating students, providing care for patients, conducting groundbreaking research and serving the needs of Texans and the nation for more than 130 years, The University of Texas System is one of the largest public university systems in the United States, with nine academic universities and six health science centers. Student enrollment exceeded 215,000 in the 2011 academic year. The UT System confers more than one-third of the state's undergraduate degrees and educates nearly three-fourths of the state's health care professionals annually. The UT System has an annual operating budget of $13.1 billion (FY 2012) including $2.3 billion in sponsored programs funded by federal, state, local and private sources. With roughly 87,000 employees, the UT System is one of the largest employers in the state. www.utsystem.edu</p>

      <section class="contact">
        <p><strong>edX Contact: </strong>Dan O’Connell</p>
        <p>oconnell@edx.org</p>
        <p>617-480-6585</p>
        <br/>
        <p><strong>UT System Contact: </strong>Jenny LaCoste-Caputo</p>
        <p>jcaputo@utsystem.edu</p>
        <p>512-499-4361</p>
      </section>

      <section class="footer">
        <hr class="horizontal-divider">
        <div class="logo"></div><h3 class="date">10 - 15 - 2012</h3>
        <div class="social-sharing">
        <hr class="horizontal-divider">
          <p>Share with friends and family:</p>
          <a href="http://twitter.com/intent/tweet?text=The+University+of+Texas+System+joins+Harvard,+MIT+and+UC+Berkeley+in+not-for-profit+online+learning+collaborative:+http://www.edx.org/press/ut-joins-edx" class="share">
            <img src="${static.url('images/social/twitter-sharing.png')}">
          </a>
        </a>
        <a href="mailto:?subject=The%20University%20of%20Texas%20System%20joins%20Harvard,%20MIT%20and%20UC%20Berkeley%20in%20not-for-profit%20online%20learning%20collaborative.…http://edx.org/press/ut-joins-edx" class="share">
          <img src="${static.url('images/social/email-sharing.png')}">
        </a>
        <div class="fb-like" data-href="http://edx.org/press/ut-joins-edx" data-send="true" data-width="450" data-show-faces="true"></div>
      </div>

      </section>
    </article>
  </section>
</section>
