// First purchase offer banner
.first-purchase-offer-banner {
  background-color: #DEE3F1;
  font-size: 16px;
  border-radius: 7px;
  padding: 20px;
  margin: 20px auto;

  .first-purchase-offer-banner-bold {
      font-weight: bold;
      color: #23419F;
  }

}
