$mint-green: #92c9d3;
$slices: #386f77, #1abc9c, $mint-green, #397d1c, #a39d3d, #0a5aaa;
$table-border: rgba(155, 155, 155, 0.2);
$font-color: #636c72;
$heading-color: #292b2c;
$grouping-background: #f5f5f5;
$grouping-border: #d8d8d8;
$trophy-gold: #f39c12;

.content-wrapper {
  .learner-analytics-header {
    border-bottom: none;

    .title {
      margin-bottom: 0;
      font-size: 1.75em;
      font-weight: 600;
    }

    .lock-icon {
      margin-right: 5px;
    }
  }

  .page-content.learner-analytics-dashboard-wrapper {
    flex-direction: column;
    background: #fff;
  }
}

.learner-analytics-dashboard {
  .sidebar {
    position: relative;

    &.week-streak {
      &::before {
        content: '';
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: {
          image: url('#{$static-path}/images/learner_analytics_dashboard/streak-768x517.jpg');
          position: center;
          repeat: no-repeat;
          size: cover;
        }
      }

      &::after {
        content: '';
        width: 151px;
        height: 192px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: {
          image: url('#{$static-path}/images/learner_analytics_dashboard/streak-trophy.png');
          repeat: no-repeat;
          position: bottom right;
        }
      }
    }
  }

  .analytics-group {
    background: $grouping-background;
    border: 1px solid $grouping-border;
    padding: 20px 20px 120px;
    margin: 20px 0 40px;

    &:last-of-type {
      margin-bottom: 20px;
    }

    .group-heading {
      color: $heading-color;
      font-size: 1.5em;
    }

    .section-heading {
      color: $heading-color;
      font: {
        size: 1em;
        weight: bold;
      }
    }
  }

  .grading-weight-wrapper {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid $table-border;
    margin-bottom: 25px;

    .chart-wrapper {
      width: 90px;
      height: 90px;
      margin-bottom: 20px;

      .slice-1 {
        fill: nth($slices, 1);
      }

      .slice-2 {
        fill: nth($slices, 2);
      }

      .slice-3 {
        fill: nth($slices, 3);
      }

      .slice-4 {
        fill: nth($slices, 4);
      }

      .slice-5 {
        fill: nth($slices, 5);
      }

      .slice-6 {
        fill: nth($slices, 6);
      }
    }
  }

  .legend {
    .legend-list {
      list-style: none;
      padding: 0;
      margin: 0 0 20px 20px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    .legend-item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 10px;
      font-size: 0.875em;

      .color-swatch {
        width: 20px;
        height: 20px;
        border-radius: 3px;
        margin-right: 10px;

        &.swatch-1 {
          background-color: nth($slices, 1);
        }

        &.swatch-2 {
          background-color: nth($slices, 2);
        }

        &.swatch-3 {
          background-color: nth($slices, 3);
        }

        &.swatch-4 {
          background-color: nth($slices, 4);
        }

        &.swatch-5 {
          background-color: nth($slices, 5);
        }

        &.swatch-6 {
          background-color: nth($slices, 6);
        }
      }

      .label,
      .percentage {
        color: $font-color;
      }

      .label {
        margin-right: 30px;
      }

      .percentage {
        margin-left: auto;
      }
    }
  }

  .graded-assessments-wrapper {
    .grade-table {
      width: 100%;
      margin-bottom: 30px;
      font-size: 0.875em;

      th {
        font-weight: bold;

        &:nth-of-type(3) {
          width: 80px;
        }
      }

      th,
      td {
        border: none;
        color: $font-color;

        &:nth-of-type(2),
        &:nth-of-type(3) {
          text-align: right;
        }

        &:nth-of-type(3) {
          background: rgba(255, 193, 7, 0.15);
          color: #000;
          font-weight: bold;
        }
      }

      .totals {
        font-size: 18px;
        border-color: $table-border;

        .footer-label {
          color: black;
        }
      }
    }

    .footnote {
      font-size: 0.875em;
      color: $font-color;
    }

    .table-head {
      border-bottom: 2px solid $table-border;
    }

    .type-group {
      border-bottom: 1px solid $table-border;

      &:last-of-type {
        border-bottom-width: 2px;
      }
    }
  }

  .due-dates {
    border-bottom: 1px solid $table-border;
    padding-bottom: 30px;
    margin-bottom: 30px;

    .date-list {
      list-style: none;
      padding: 0;
      margin: 0;

      .date-item {
        display: flex;
        justify-content: space-between;
        color: $font-color;
      }
    }
  }

  .week-streak-wrapper {
    color: $font-color;

    .streak-icon-wrapper {
      margin: 10px 0;
    }

    .fa-trophy {
      color: $trophy-gold;
      font-size: 21px;
      margin-right: 5px;
    }

    .section-heading {
      margin-bottom: 0;
    }

    .streak-encouragement {
      margin-bottom: 5px;
    }

    .streak-criteria {
      margin-bottom: 20px;
    }
  }

  .active-users-wrapper {
    .fa-user {
      border: 2px solid $mint-green;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      text-align: center;
      position: relative;

      &::after {
        content: '';
        height: 2px;
        width: 12px;
        position: absolute;
        background-color: $mint-green;
        left: 6px;
        bottom: 0;
      }
    }


    .label {
      color: $font-color;
    }
  }

  .discussions-wrapper {
    display: flex;
    flex-flow: column wrap;

    .group-heading {
      width: 100%;
    }

    .post-counts {
      border-top: 1px solid $table-border;
    }
  }

  .count-icon {
    color: $mint-green;
    font-size: 24px;
  }

  .user-count {
    font-size: 1.5em;
    margin-left: 10px;
  }

  .count-chart {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    padding-left: 70px;

    .chart-bar {
      height: 10px;
      border-radius: 2px;
      background: $mint-green;
    }

    .chart-icon {
      width: 50px;
      height: 50px;
      background: $mint-green;
      border-radius: 50%;
      text-align: center;
      font-size: 24px;
      padding-top: 13px;
      color: white;
      position: absolute;
      left: 0;
      top: 0;
    }

    &:first-of-type {
      .chart-bar,
      .chart-icon {
        background: $trophy-gold;
      }
    }

    .chart-display {
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;

      .user-count {
        margin-top: -10px;
        font-weight: 600;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .sidebar {
      &.week-streak {
        &::before {
          background-image: url('#{$static-path}/images/learner_analytics_dashboard/streak-1140x768.jpg');
        }
      }
    }

    .analytics-group {
      &:first-of-type {
        background: {
          image: url('#{$static-path}/images/learner_analytics_dashboard/analytics-grading.png');
          repeat: no-repeat;
          position: top right;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .discussions-wrapper {
      flex-direction: row;

      .comparison-charts {
        border-right: 1px solid $table-border;
        width: 50%;
      }

      .post-counts {
        border: none;
        width: 50%;
        padding-left: 20px;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .sidebar {
      &.week-streak {
        &::before {
          background-image: url('#{$static-path}/images/learner_analytics_dashboard/streak-768x517.jpg');
        }
      }
    }

    .learner-analytics-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;

      .main-block {
        width: calc(100% - 390px);
      }

      .sidebar {
        width: 360px;
        margin-left: 30px;
      }
    }
  }
}
