// ------------------------------
// edX Pattern Library: Variables

// About: Sass partial for defining variables used throughout the applications.

// #UNITS:          Basic units of measurement
// #GRID:           Grid and layout variables
// #COLORS:         Base, palette and theme color definitions + application
// #TYPOGRAPHY:     Font definitions and scales
// #DEPTH:          Event timing variables
// #TIMING:         Event timing variables
// #APPLICATIONS:   Applying configuration


// ----------------------------
// #UNITS
// ----------------------------
$em-base: 16; // deliberately sets bourbon-based em-base (http://bourbon.io/docs/#em-base)


// ----------------------------
// #GRID
// ----------------------------
// grid - baseline
$baseline:                   20 !default;
$baseline-vertical:          ($baseline*2) !default;
$baseline-horizontal:        $baseline !default;

// grid - dimensions
$grid-max-width:             rem(1170) !default;
$grid-column-count:          12 !default;
$grid-gutter-width:          (1/3) !default;  // set to fraction to be proportional to fluid column widths (see - http://susydocs.oddbird.net/en/latest/settings/#gutters)
$grid-container-position:    center !default;
$grid-gutter-position:       after !default;
$grid-manual-gutter-position: inside !default;
$grid-column-width:          false !default;  // set to false for fluid columns by default (see - http://susydocs.oddbird.net/en/latest/settings/#column-width)
$grid-debug-color:           rgba(203, 89, 141, 0.33) !default;
$grid-debug-color-alt:       rgba(0, 121, 188, 0.33) !default;

// grid - breakpoints
$bp-screen-sm:                320px !default;
$bp-screen-md:                768px !default;
$bp-screen-lg:                1024px !default;
$bp-screen-xl:               1280px !default;


// ----------------------------
// #COLORS
// ----------------------------
// color: config
$transparent:               rgba(0, 0, 0, 0);

$gray:                      rgb(167, 164, 164);
$gray-cool:                 rgb(158, 177, 185);
$red:                       rgb(178, 6, 16);
$yellow:                    rgb(253, 188, 86);
$green:                     rgb(37, 184, 90);
$blue:                      rgb(0, 121, 188);
$pink:                      rgb(203, 89, 141);

// colors: brand
$brand-primary:             $blue !default;
$brand-primary-accent:      rgb(14, 166, 236) !default;
$brand-secondary:           $pink !default;
$brand-secondary-accent:    rgb(242, 108, 170) !default;

// colors: utilities
$success: $green !default;
$warning: $yellow !default;
$error: $red !default;

// colors: palettes
$palettes: (
    primary: (
        base:       $brand-primary,
        light:      tint($brand-primary, 30%),
        x-light:    tint($brand-primary, 70%),
        dark:       shade($brand-primary, 30%),
        x-dark:     shade($brand-primary, 55%),
        accent:     $brand-primary-accent,
        x-accent:   saturate($brand-primary-accent, 25%)
    ),
    secondary: (
        base:       $brand-secondary,
        light:      tint($brand-secondary, 30%),
        x-light:    tint($brand-secondary, 70%),
        dark:       shade($brand-secondary, 30%),
        x-dark:     shade($brand-secondary, 55%),
        accent:     $brand-secondary-accent
    ),
    grayscale: (
        base:       $gray,
        light:      tint($gray, 50%),
        x-light:    tint($gray, 75%),
        xx-light:   tint($gray, 85%),
        white:      tint($gray, 97%),
        white-t:    tint($gray, 100%),
        dark:       shade($gray, 40%),
        x-dark:     shade($gray, 60%),
        black:      shade($gray, 90%),
        black-t:    shade($gray, 100%),
        trans:      transparentize($gray, 0.50),
        x-trans:    transparentize($gray, 0.75),
        xx-trans:   transparentize($gray, 0.95)
    ),
    grayscale-cool: (
        base:       $gray-cool,
        light:      tint($gray-cool, 50%),
        x-light:    tint($gray-cool, 75%),
        xx-light:   tint($gray-cool, 85%),
        dark:       shade($gray-cool, 50%),
        x-dark:     shade($gray-cool, 75%),
        trans:      transparentize($gray-cool, 0.50),
        x-trans:    transparentize($gray-cool, 0.75),
        xx-trans:   transparentize($gray-cool, 0.95)
    ),
    success: (
        base:       $success,
        light:      tint($success, 33%),
        dark:       shade($success, 33%),
        trans:      transparentize($success, 0.50),
        x-trans:    transparentize($success, 0.75),
        xx-trans:   transparentize($success, 0.95)
    ),
    error: (
        base:       $error,
        light:      tint($error, 33%),
        dark:       shade($error, 33%),
        trans:      transparentize($error, 0.50),
        x-trans:    transparentize($error, 0.75),
        xx-trans:   transparentize($error, 0.95)
    ),
    warning: (
        base:       $warning,
        light:      tint($warning, 33%),
        dark:       shade($warning, 33%),
        trans:      transparentize($warning, 0.50),
        x-trans:    transparentize($warning, 0.75),
        xx-trans:   transparentize($warning, 0.95)
    ),
);

// shadows
// using black-t because using a gray looks weird when it appears over black
$shadow: transparentize(palette(grayscale, black-t), .5);


// ----------------------------
// #TYPOGRAPHY
// ----------------------------

$font-path: '../fonts' !default;

// typography: config
@include font-face(
    'Open Sans',
    '#{$font-path}/OpenSans/OpenSans-Light-webfont',
    300,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '#{$font-path}/OpenSans/OpenSans-LightItalic-webfont',
    300,
    italic,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '#{$font-path}/OpenSans/OpenSans-Regular-webfont',
    400,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '#{$font-path}/OpenSans/OpenSans-Italic-webfont',
    400,
    italic,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '#{$font-path}/OpenSans/OpenSans-Semibold-webfont',
    600,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '#{$font-path}/OpenSans/OpenSans-SemiboldItalic-webfont',
    600,
    italic,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '#{$font-path}/OpenSans/OpenSans-Bold-webfont',
    700,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '#{$font-path}/OpenSans/OpenSans-BoldItalic-webfont',
    700,
    italic,
    $file-formats: woff woff2 ttf
);

// typography: config - stacks
$font-family-sans-serif: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-monospace: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace !default;

// typography: sizes
$font-sizes: (
    xxxx-large:     38,
    xxx-large:      28,
    xx-large:       24,
    x-large:        21,
    large:          18,
    base:           16,
    small:          14,
    x-small:        12,
    xx-small:       11,
    xxx-small:      10,
);

// typography: line-height
$line-heights: (
    xxx-large:      1.40,
    xx-large:       1.40,
    x-large:        1.50,
    large:          1.60,
    base:           1.5,
    small:          1.60,
    x-small:        1.5,
    none:           0
);

// typography: weights
$font-weights: (
    normal:         400,
    light:          300,
    x-light:        200,
    semi-bold:      600,
    bold:           700
);

// typography: letter-spacing
$letter-spacing: (
    normal:         0,
    xx-tight:       -3,
    x-tight:        -2,
    tight:          -.095,
    loose:          .5,
    x-loose:        1,
    xx-loose:       2
);


// ----------------------------
// #DEPTH
// ----------------------------
$z-depths: (
    base:           1,
    mid-back:       -10,
    back:           -100,
    very-back:      -1000,
    mid-front:      10,
    front:          100,
    very-front:     1000
);

$spacing-vertical: (
    base:       $baseline-vertical,
    mid-small:  ($baseline-vertical*0.75),
    small:      ($baseline-vertical/2),
    x-small:    ($baseline-vertical/4),
    xx-small:   ($baseline-vertical/8),
    mid-large:  ($baseline-vertical*1.5),
    large:      ($baseline-vertical*2),
    x-large:    ($baseline-vertical*4)
);

$spacing-horizontal: (
    base:       $baseline-horizontal,
    mid-small:  ($baseline-horizontal*0.75),
    small:      ($baseline-horizontal/2),
    x-small:    ($baseline-horizontal/4),
    xx-small:   ($baseline-horizontal/8),
    mid-large:  ($baseline-horizontal*1.5),
    large:      ($baseline-horizontal*2),
    x-large:    ($baseline-horizontal*4)
);


// ----------------------------
// #TIMING
// ----------------------------
$timing: (
    base:       0.75s,
    slow:       1s,
    x-slow:     1.5s,
    fast:       0.5s,
    x-fast:     0.25s,
    xx-fast:    0.125s
);


// ----------------------------
// #FORMS
// ----------------------------
// form inputs: heights
// values are "rows" which maps to line-height
// primarily used in textareas
$input-height: (
    short:          5,
    base:           10,
    tall:           15
);

// form inputs: widths
$input-width: (
    short:          150,
    base:           300,
    wide:           450,
    block:          null // value here is irrelevant but required. Null is easy to understand.
);


// ----------------------------
// #APPLICATIONS
// ----------------------------
// base component settings
$component-focus-color: inherit !default;
$component-focus-bg: palette(primary, x-light) !default;
$component-active-color: palette(grayscale, white) !default;
$component-active-bg: palette(primary, base) !default;

// base text settings
$text-base-font-family: $font-family-sans-serif !default;
$text-base-color: palette(grayscale, x-dark) !default;
$text-base-font-weight: font-weight(normal) !default;
$text-base-focus-color: palette(grayscale, black-t) !default;

$text-emphasized-color: palette(grayscale, black-t) !default;
$text-emphasized-font-weight: font-weight(normal) !default;

$text-de-emphasized-color: palette(grayscale, dark) !default;
$text-de-emphasized-font-weight: font-weight(normal) !default;

// links
$link-color: palette(primary, dark) !default;
$link-focus-color: palette(primary, base) !default;
$link-visited-color: palette(primary, dark) !default;

// headings
$headings-font-weight-normal: font-weight(normal) !default;
$headings-font-weight-bold: font-weight(semi-bold) !default;
$headings-font-weight-x-bold: font-weight(bold) !default;

$headings-base-font-family: $font-family-sans-serif !default;
$headings-base-font-weight: $headings-font-weight-normal !default;
$headings-base-color: palette(grayscale, x-dark) !default;

$headings-emphasized-font-family: $font-family-sans-serif !default;
$headings-emphasized-color: palette(grayscale, black-t) !default;

$headings-de-emphasized-font-family: $font-family-sans-serif !default;
$headings-de-emphasized-color: palette(grayscale, dark) !default;

// buttons
$buttons-border-style: solid !default;
$buttons-border-size: 1px !default;
$buttons-elevated-shadow: 3px !default;
$buttons-border-radius: 3px !default;
$buttons-font-weight: font-weight(semi-bold) !default;

// forms
$label-color: $text-base-color !default;
$label-color-active: palette(grayscale, x-dark) !default;

$input-placeholder-text: palette(grayscale-cool, light) !default;

$input-background-default: palette(grayscale, white) !default;
$input-background-default-focus: $input-background-default !default;
$input-check-radio-background-default: palette(grayscale-cool, x-light) !default;
$input-check-radio-background-checked: palette(primary, base) !default;
$input-border-default: palette(grayscale, x-light) !default;
$input-border-default-focus: palette(primary, accent) !default;
$input-control-color: palette(primary, base) !default;
$input-text-default: palette(grayscale-cool, x-dark) !default;
$input-text-default-hover: palette(grayscale-cool, x-dark) !default;

$input-background-disabled: palette(grayscale-cool, x-light) !default;
$input-border-disabled: palette(grayscale-cool, light) !default;
$input-text-disabled: palette(grayscale-cool, light) !default;

$input-alt-background: $transparent !default;
$input-alt-border-focus: palette(grayscale, x-dark) !default;

$input-slider-track-default: palette(grayscale, x-light) !default;
$input-slider-border-default: $input-slider-track-default !default;
$input-slider-border-default-radius: $buttons-border-radius !default;
$input-slider-handle-default: palette(primary, light) !default;
$input-slider-handle-default-hover: palette(primary, base) !default;
$input-slider-default-focus: palette(primary, accent) !default;
$input-slider-default-hover: palette(primary, x-accent) !default;
$input-slider-track-disabled: palette(grayscale, x-light) !default;
$input-slider-disabled-border: $input-slider-track-disabled !default;
$input-slider-handle-disabled: palette(grayscale, base) !default;
$input-slider-disabled-focus: palette(grayscale, light) !default;

$input-progress-track: palette(grayscale, x-light) !default;
$input-progress-border: $input-progress-track !default;
$input-progress-border-radius: $buttons-border-radius !default;
$input-progress-track-done: palette(primary, accent) !default;

$field-tip-color: palette(grayscale-cool, dark) !default;
$field-required-indicator-color: $label-color !default;

// tables
$table-cell-padding: spacing-vertical(small) spacing-horizontal(small) !default;
$table-condensed-cell-padding: spacing-vertical(x-small) spacing-horizontal(x-small) !default;
$table-bg: palette(grayscale, white) !default;
$table-accent-bg: palette(primary, accent) !default;
$table-focus-bg: $component-focus-bg !default;
$table-active-bg: $component-active-bg !default;
$table-border-color: palette(grayscale, x-light) !default;
