<%!
from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='../static_content.html'/>

<%inherit file="../main.html" />
<%block name="bodyclass">register verification-process step-requirements</%block>

<%block name="pagetitle">
  ${_("Re-Verify for {course_name}").format(course_name=course_name)}
</%block>

<%block name="header_extras">
    % for template_name in ["incourse_reverify", "webcam_photo", "image_input", "error"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="verify_student/${template_name}.underscore" />
        </script>
    % endfor
</%block>
<%block name="js_extra">
  <script src="${static.url('js/vendor/underscore-min.js')}"></script>
  <script src="${static.url('js/vendor/underscore.string.min.js')}"></script>
  <script src="${static.url('js/vendor/backbone-min.js')}"></script>
  <script src="${static.url('js/src/tooltip_manager.js')}"></script>
  <%static:js group='incourse_reverify'/>
</%block>

<%block name="content">
## Top-level wrapper for errors
## JavaScript views may append to this wrapper
<div id="error-container" style="display: none;"></div>

<div class="container">
  <section class="wrapper carousel">
  ## Container for the reverification view.
  ## The Backbone view renders itself into this <div>.
  ## The server can pass information to the Backbone view
  ## by including the information as "data-*" attributes
  ## of this </div>.
    <div id="incourse-reverify-container"
    class="incourse-reverify"
    data-course-key='${course_key}'
    data-platform-name='${platform_name}'
    data-usage-id='${usage_id}'
    data-capture-sound='${capture_sound}'
  ></div>
  </section>
</div>
</%block>
