<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%inherit file="../main.html" />

<%block name="bodyclass">register verification select-track</%block>

<%block name="js_extra">
  <script type="text/javascript">

$(document).ready(function() {

  $( ".more" ).slideUp();

  $( ".expand" ).click(function(e) {
      e.preventDefault();
      $(this).next().slideToggle();
  });



});
  </script>
</%block>

<%block name="content">
<div class="container">
  <section class="wrapper">

  <header class="page-header header-white">
    <h2 class="title header-white-title">You are registering for [coursename] (ID Verified)</h2>
  </header>

    <h3 class="title">Select your track:</h3>

    <div class="select">
      <div class="block block-audit">
        <div class="wrap-copy">
          <h4 class="title">Audit This Course</h4>
          <p>Sign up to audit this course for free and track your own progress.</p>
        </div>

        <div class="wrap-action">
          <p class="m-btn-primary">
            <a href="">Select Audit</a>
          </p>
        </div>
      </div>

<div class="divider"><p>or</p></div>

    <div class="select">
      <div class="block block-cert">
        <h4 class="title">Certificate of Achievement</h4>
        <span class="ribbon"></span>
        <p>Sign up as a verified student and work toward a Certificate of Achievement.</p>

        <form>
        <dl>
          <dt>
            Select your contribution for this course:
          </dt>
          <dd>
            <ul class="pay-options">
              <li>
                <input type="radio" id="contribution-25" name="contribution"> <label for="contribution-25">$25 USD</label>
              </li>
              <li>
                <input type="radio" id="contribution-50" name="contribution"> <label for="contribution-50">$50 USD</label>
              </li>
              <li>
                <input type="radio" id="contribution-100" name="contribution"> <label for="contribution-100">$100 USD</label>
              </li>
              <li class="other1">
                <input type="radio" id="contribution-other" name="contribution"> <label for="contribution-other">$<span class="sr">Other</span></label>
              </li>
              <li class="other2">
                <label for="contribution-other-amt"><span class="sr">Other Amount</span> </label> <input type="text" size="5" name="contribution-other-amt" id="contribution-other-amt">
              </li>
            </ul>
          </dd>
        </dl>

        <p class="tip tip-input expand">
          <a href="">Why do I have to pay? What if I don't meet all the requirements?</a>
        </p>

        <div class="more">
          <dl class="faq">
            <dt>Why do I have to pay?</dt>
              <dd>Your payment helps cover the costs of verification. As a non-profit, edX keeps these costs as low as possible, Your payment will also help edX with our mission to provide quality education to anyone.</dd>
            <dt>What if I can't afford it?</dt>
              <dd>If you cannot afford the minimum payment, you can always work towards a free Honor Code Certificate of Achievement for this course.
              <!--Enter $0 above and explain why you would like the fee waived below. Then click Select Certificate button to move on to the next step.
                <dl>
                  <dt><label class="sr" for="explain">Explain your situation:</label></dt>
                    <dd><p>Tell us why you need help paying for this course in 180 characters or more.</p>
                    <textarea name="explain" rows="5" cols="50"></textarea>

                    </dd>
                  </dl>
              -->

              </dd>

            <dt>I'd like to pay more than the minimum.  Is my contribution tax deductible?</dt>
              <dd>Please check with your tax advisor to determine whether your contribution is tax deductible.</dd>

            <dt>What if I don't meet all of the requirements for financial assistance but I still want to work toward a certificate?</dt>
              <dd>If you don't have a webcam, credit or debit card or acceptable ID, you can opt to simply audit this course, or select to work towards a free Honor Code Certificate of Achievement for this course by checking the box below. Then click the Select Certificate button to complete registration. We won't ask you to verify your identity.
                <p><input type="checkbox" name="honor-code"> <label for="honor-code">Select Honor Code Certificate</label></p>
              </dd>
          </dl>
        </div>



        </form>
        <hr />

          <p class="tip">
            <a href="">What is an ID Verified Certificate?</a>
          </p>

          <p class="m-btn-primary green">
            <a href="${reverse('verify_student_show_requirements')}">Select Certificate</a>
          </p>
      </div>

      <div class="tips">
        <p>
          To register for a Verified Certificate of Achievement option, you will need a webcam, a credit or debit card, and an ID. <a href="">View requirements</a>
        </p>
      </div>

    </div>


<p class="tip"><i class="icon-question-sign"></i> Have questions? <a href="">Check out our FAQs.</a></p>
<p class="tip">Not the course you wanted? <a href="">Return to our course listings</a>.</p>


</section>
</div>

</%block>
