<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%inherit file="../main.html" />
<%block name="bodyclass">register verification requirements</%block>

<%block name="content">
<div class="container">
  <section class="wrapper">

    <header class="page-header header-white">
      <h2 class="title header-white-title">You are registering for ${course_id} (ID Verified)</h2>
    </header>


    <section class="progress">
      <header class="section-head">
        <h3 class="sr">Your Progress</h3>
      </header>
      <!--<span class="progress-line"></span><span class="progress-line-done"></span>-->
      <ol>
        <li class="progress-step current" id="progress-step0"><span class="sr">Current Step: </span> <span class="mini number"></span> Intro</li>
        <li class="progress-step" id="progress-step1"><span class="number">1</span> Take Photo</li>
        <li class="progress-step" id="progress-step2"> <span class="number">2</span> Take ID Photo</li>
        <li class="progress-step" id="progress-step3"> <span class="number">3</span> Confirm Submission</li>
        <li class="progress-step" id="progress-step4"> <span class="number">4</span> Make Payment</li>
        <li class="progress-step" id="progress-step5"><span class="number"><i class="icon-ok"></i></span> Confirmation</li>
      </ol>
    </section>

    <section class="reqs-section">
      <header class="section-head">
        <h3 class="title">What You Will Need to Register</h3>
      </header>

      <p>There are a few things you will need to register as an ID verified student:</p>
      <div class="reqs">
        <div class="req1 req">
          <h4>Identification</h4>
          <div class="placeholder-art"><i class="icon-credit-card"></i></div>
          <p>A photo identification document <span class="tip">a drivers license, passport, student ID, or other ID with your name and picture on it</span></p>
        </div>

        <div class="req2 req">
        <h4>Webcam</h4>
          <div class="placeholder-art"><i class="icon-facetime-video"></i></div>
          <p>A webcam and a modern browser <span class="tip">Firefox, Chrome, or Opera</span></p>
        </div>

        <div class="req3 req">
          <h4>Credit or Debit Card</h4>
          <div class="placeholder-art"><i class="icon-credit-card"></i></div>
          <p>A major credit or debit card <span class="tip">Visa, Master Card, Maestro, Amex, Discover, JCB with Discover logo, Diners Club</span></p>
        </div>
      </div>

      <div class="next-step">
        <p class="m-btn-primary"><a href="${reverse('verify_student_verify') + '?course_id=' + course_id}">Go to Step 1: Take my Photo</a></p>
        <p class="tip">Change your mind? <a href="">You can always Audit.</a></p>
      </div>
    </section>


    <section class="support">
      <p class="tip">Missing something? <a href="">You can always Audit the course</a>.</p>
      <p class="tip">More questions? <a rel="external" href="">Check out our FAQs.</a></p>
    </section>

  </section>

</div>
</%block>
