# This requirements.txt file is meant to pull in other requirements.txt files so that
# dependency monitoring tools like gemnasium.com can easily process them.

# These tools should be updated to use requirements/edx/development.txt
# instead, as that is now a comprehensive collection of all dependencies
# used to run, test, or develop LMS and Studio.  Then this file can be
# safely deleted.

-r ../edx/development.txt
