# This requirements.txt file is meant to pull in other requirements.txt files so that
# dependency monitoring tools like gemnasium.com can easily process them.

# Requirements for code sandboxes
-r ../edx-sandbox/base.txt
-r ../edx-sandbox/local.txt
-r ../edx-sandbox/post.txt

