// skip navigation
.nav-skip,
.transcript-skip {
  @include left(0);
  font-size: font-size(small);
  display: inline-block;
  position: absolute;
  top: -($baseline*30);
  overflow: hidden;
  background: $white;
  border-bottom: 1px solid $gray-l4;
  padding: ($baseline*0.75) ($baseline/2);

  &:focus,
  &:active {
    position: relative;
    top: auto;
    width: auto;
    height: auto;
    margin: 0;
  }
}
