.dropbtn {
    margin: 0 8px;
    padding-right: 15px;
    border-bottom: 2px solid #cfcccc;
    cursor: pointer;
}

.xblocks-dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.xblocks-dropdown-menu a:hover {background-color: #f1f1f1}

.show {display:block;}