{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
  </head>
  <body>
    <p>{% blocktrans with name=student_name %}
      Dear {{student_name}},
    {% endblocktrans %}</p>

    <p>{% blocktrans with name=course_name %} 
    We've partnered with LinkedIn and now you can put your certificates on 
    your LinkedIn profile.  Just use the links below.
    {% endblocktrans %}</p>

    {% for cert in certificates %}
    <p>
      <b>{{cert.course_name}}</b>:
      <a href="{{cert.url|safe}}">
        <span>in<span>
        {% blocktrans %}Add to profile{% endblocktrans %}
      </a>
    </p>
    {% endfor %}
  </body>
</html>
