@import 'lms/static/sass/partials/base/variables';

$action-primary-fg: $extraDarkGrey;
$action-primary-bg: $white;
$action-primary-focused-bg: $lightGrey;
$link-color: $extraDarkGrey ;

$body-background-color: $white;
$x-dark: #34383a;
$light: #d2d0d0;
$dark: #6b6969;
