// ------------------------------
// Open edX Certificates: Reset

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  @extend %t-copy-base;
}

[class^="wrapper-"] {
  @extend %wrapper !optional;
  padding: 0;
}

.sr, hr.divider {
  @extend %ui-text-sr;
}

.wrapper-view {
  background: $bg-view;
}

[class^="content-"]{

  a {
    @extend %link-copy;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  @extend %t-weight1;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}


abbr[title] {
  border-bottom: none;
  text-decoration: none;
  cursor: help;
}

strong {
  @extend %t-weight3;
}

//  reset: lists
.list-actions,
.list-docs,
.list-steps,
.list-controls,
.list-fields,
.list-help,
.nav-wizard,
.list-tips,
.field-group {
  @extend %ui-no-list;
}
