.program-list-wrapper {
  @include make-row();

  max-width: 73.125rem;
  margin: 0 auto;

  @include media-breakpoint-up(sm) {
    padding: $baseline;
  }
}

.program-cards-container {
  @include grid-container();
  @include make-col(12);

  padding: 0 8px;

  @include media-breakpoint-up(sm) {
    @include make-col(9);
  }
}

.sidebar {
  @include make-col(12);
  @include float(right);

  margin-bottom: $baseline;
  padding: 0 8px;

  @include media-breakpoint-up(sm) {
    @include make-col(3);
  }

  .aside {
    padding: $baseline;
    margin-bottom: $baseline;
    box-sizing: border-box;
    border: 1px solid $gray-500;
  }

  .program-advertise {
    clear: both;

    .new-programs-btn {
      width: 100%;
      text-align: center;
      padding: 10px;
      white-space: normal;
      border-color: theme-color("primary");
      color: theme-color("primary");
      font-weight: 600;

      &:hover,
      &:active,
      &:focus {
        background: theme-color("primary");
        color: $white;
      }
    }

    .advertise-message {
      font-size: 0.75rem;
      color: $gray-dark;
      margin-bottom: $baseline;
    }
  }
}

.empty-programs-message {
  @include make-col(12);

  background: $gray-light4;
  border: 3px solid $gray-light3;
  padding: ($baseline*2) 0;
  text-align: center;
  margin-bottom: 20px;

  .hd-3 {
    color: $black;
    margin-bottom: $baseline;
  }
}
