// lms - views - shopping cart
// ====================

.notification {
  padding: 30px 30px 0 30px;
}

.error_msg {
  margin: 20px;
  padding: 5px;
  color: $red;
  border: 1px solid $red;

}
.cart-errors{
  background: #FFEEF5;color:#B72667;text-align: center;padding: 10px 0px;
  font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;font-size: 15px;
  border-bottom: 1px solid #B72667;
  margin-bottom: 20px;
  display: none;
}
.cart-list {
  padding: 30px;
  margin-top: 40px;
  border-radius: 3px;
  border: 1px solid $border-color-1;
  background-color: $action-primary-fg;

  > h2 {
    font-size: 1.5em;
    color: $base-font-color;
  }
  
  .cart-table {
    width: 100%;
    tr:nth-child(even){
        background-color: #f8f8f8;
        border-bottom: 1px solid #f3f3f3;
      }
    tr.always-gray{
      background: #eee !important;
      border-top: 2px solid #FFFFFF;
    }
    tr.always-white{
      background: #fff !important;
      td{
        padding: 30px 0px 10px;
      }
    }
    tr{
        td.cart-total{
            padding: 10px 0;
            span{
                display: inline-block;
                margin-right: 15px;
                margin-left: 15px;
                font-weight: bold;
              }
        }

    }
    .cart-headings {
      height: 35px;
      border-bottom: 1px solid #BEBEBE;

      th {
        text-align: left;
        border-bottom: 1px solid $border-color-1;
        
        &.qty {
          width: 100px;
        }
        &.u-pr {
          width: 70px;
        }
        &.prc {
          width: 150px;
        }
        &.cur {
          width: 100px;
          text-align: center;
        }
        &.dsc{
          width: 640px;
          padding-right: 50px;
          text-align: left;
        }
      }
    }
    
    .cart-items {
      td {
        padding: 10px 0px;
        position: relative;
        line-height: normal;
        span.old-price{
          position: relative;
          text-decoration: line-through;
          color: red;
          font-size: 12px;
          top: -1px;
          margin-left: 3px;
        }
      }
      td:nth-child(3){
        text-align: center;
      }
      td:last-child{
        width: 50px;
        text-align: center;
      }
      td:nth-child(1){
         line-height: 22px;
         text-align: left;
         padding-right: 20px;
      }
    }
    
    .cart-totals {
      td {
        &.cart-total-cost {
          font-size: 1.25em;
          font-weight: bold;
          padding: 10px 25px;
        }

      }
    }
  }
  
  table.order-receipt {
    width: 100%;
    
    .order-number {
      font-weight: bold;
    }
    .order-date {
      text-align: right;
    }
    .items-ordered {
      padding-top: 50px;
    }

    tr {
    }

    th {
      text-align: left;
      padding: 25px 0 15px 0;
      
      &.qty {
        width: 50px;
      }
      &.u-pr {
        width: 100px;
      }
      &.pri {
        width: 125px;
      }
      &.curr {
        width: 75px;
      }
    }
    tr.order-item {
      td {
        padding-bottom: 10px;
        span.old-price{
          text-decoration: line-through !important;
        }
      }
    }
  }
}
.confirm-enrollment {
  .title {
    font-size:24px;
    border-bottom:1px solid #f2f2f2;
    text-align: left;
    line-height:70px;
  }
  .course-image {
    display: inline-block;
    width: 223px;
    margin-right: 10px;
    vertical-align: top;
  }
  .enrollment-details {
    margin-bottom: 20px;
    display: inline-block;
    width: calc(100% - 237px);
    .sub-title {
      font-size: 18px;
      text-transform: uppercase;
      color: #9b9b93;
    }
    .course-date-label {
      float: right;
      color: #9b9b93;
    }
    .course-dates {
      float: right;
      font-size: 18px;
    }
    .course-title {
      h1 {
        color: #4a4a46;
        font-size: 26px;
        text-align: left;
        font-weight: 600;
      }
    }
    .enrollment-text {
      color: #4A4A46;
      font-family: 'Open Sans',Verdana,Geneva,sans;
      line-height: normal;
      a {
        font-family: 'Open Sans',Verdana,Geneva,sans;
      }
    }
  }
  a.contact-support-bg-color {
    background-color: #9b9b9b;
    background-image: linear-gradient(#9b9b9b, #9b9b9b);
    border: 16px solid #9b9b9b;
    box-shadow: 0 1px 0 0 #9b9b9b inset;
    text-shadow: 0 1px 0 #9b9b9b;
  }
  a.course-link-bg-color {
    background-color: #00A1E5;
    background-image: linear-gradient(#00A1E5, #00A1E5);
    border: 16px solid #00A1E5;
    box-shadow: 0 1px 0 0 #00A1E5 inset;
    text-shadow: 0 1px 0 #00A1E5;
  }

  a.link-button {
    text-transform: none;
    width: 250px;
    background-clip: padding-box;
    float: right;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    padding: 6px 18px;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
  }
  input[type="submit"] {
    text-transform: none;
    width: 450px;
    height: 70px;
    background-clip: padding-box;
    background-color: #00a1e5;
    background-image: linear-gradient(#00A1E5,#00A1E5);
    float: right;
    border: 1px solid #00A1E5;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #00A1E5 inset;
    color: #FFFFFF;
    display: inline-block;
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #00A1E5;
    font-size: 24px;
  }
}