// lms - views - shopping cart
// ====================

.notification {
  padding: 30px 30px 0 30px;
}

.error_msg {
  margin: 20px;
  padding: 5px;
  color: $red;
  border: 1px solid $red;

}

.cart-list {
  padding: 30px;
  margin-top: 40px;
  border-radius: 3px;
  border: 1px solid $border-color-1;
  background-color: $action-primary-fg;
  
  > h2 {
    font-size: 1.5em;
    color: $base-font-color;
  }
  
  .cart-table {
    width: 100%;
    
    .cart-headings {
      height: 35px;
      
      th {
        text-align: left;
        padding-left: 5px;
        border-bottom: 1px solid $border-color-1;
        
        &.qty {
          width: 100px;
        }
        &.u-pr {
          width: 100px;
        }
        &.prc {
          width: 150px;
        }
        &.cur {
          width: 100px;
        }
      }
    }
    
    .cart-items {
      td {
        padding: 10px 25px;
      }
    }
    
    .cart-totals {
      td {
        &.cart-total-cost {
          font-size: 1.25em;
          font-weight: bold;
          padding: 10px 25px;
        }
      }
    }
  }
  
  table.order-receipt {
    width: 100%;
    
    .order-number {
      font-weight: bold;
    }
    .order-date {
      text-align: right;
    }
    .items-ordered {
      padding-top: 50px;
    }
    
    tr {
      
    }
    
    th {
      text-align: left;
      padding: 25px 0 15px 0;
      
      &.qty {
        width: 50px;
      }
      &.u-pr {
        width: 100px;
      }
      &.pri {
        width: 125px;
      }
      &.curr {
        width: 75px;
      }
    }
    tr.order-item {
      td {
        padding-bottom: 10px;
      }
    }
  }
}