.instructor-dashboard-wrapper-2 {
  .file-download-link a.report-link {
    display:inline-block;
    width: 100%;
    box-sizing: border-box;
    padding-right: 200px;
  }
}

.instructor-dashboard-wrapper-2 section.idash-section#data_download {
  .reports-download-container {
    .delete-report, .graph-forums {
      position: absolute;
      top: 0;
      padding-bottom: 25px;
      color: $blue;
      cursor: pointer;

      i {
        padding-right: 5px;
      }
    }
    .delete-report {
      right: 0;
      margin-right: 10px;
    }
    .graph-forums{
      right: 85px;
    }
  }
  .report-downloads-graph-block {
    width:100%;
  }
  .report-downloads-graph-title {
    text-align:center;
    margin: 0 auto;
  }
  .report-downloads-graph {
    width:100%;
    margin-left: auto ;
    margin-right: auto ;
    font: 10px sans-serif;
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .bar {
      fill: steelblue;
    }
    .x.axis path {
      display: none;
    }
  }
}
