<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<style>
    .window-wrap .content-wrapper{
        padding: 0;
    }
</style>
<%block name="pagetitle">${_(u"About Us")}</%block>

<div class="about-banner">
    <div class="about-banner-title"></div>
</div>

<div class="about-dec">   
    <div class="about-dec-box">
        <div>  
            <div class="about-dec-write">
                <h2>${_(u"EliteMBA")}</h2>
                <p>${_(u"EliteMBA (www.EliteMBA.cn) is a sub-brand of Guangdong Elite International Education & Technology Co., Ltd. focusing on the development of MBA online classroom.")}</p>
                <p>${_(u"EliteMBA teams up with senior professors and experts in business management academics at home and abroad to design and produce high quality and knowledgeable systematic online courses. At the same time, we select and introduce high-quality foreign educational content to provide learners with a localized learning experience created by EliteMBA.")}</p>
                <p>${_(u"It is the common pursuit of educators to transfer knowledge to more learners as much as possible. EliteMBA expects to provide educators with more effective means of transmission and increase the reach of knowledge. Here, we would like to offer sincere invitations to experts and professors, and look forward to creating and introducing more high-quality curriculum resources, so that knowledge can generate more value in a diverse world. ")}</p>
                <p>${_(u"For course cooperation, please contact: ")}<a href="mailto:course@elitemba.cn">course@elitemba.cn</a>${_(u".")}</p>
            </div>
            <div class="about-dec-img">
                <img src="/static/images/abouts/about_dec_left.png" />
            </div>
        </div>
        <div> 
            <div class="about-dec-write01">
                <h2>${_(u"Education should guide and shape a society, not follow it")}</h2>
                <p>${_(u"Mr. Cai Yuanpei said that education should guide the society, rather than follow it. Elite Education abandons the ideas of upholding the pursuit of society, and advocates learners' self-achievement and their ambition in leading the society. EliteMBA courses advocate, instead of the rote of knowledge input, the motivation for pursuing wisdom and solving practical problems.")}</p>
            </div>
            <div class="about-dec-img01">
                <img src="/static/images/abouts/about_dec_right.png" />
            </div>
        </div>
    </div>
</div>

<div class="about-footer">
    <div class="about-footer-message">
        <h3>${_(u"Our Mission")}</h3>
        <p>${_(u"Providing individuals, organizations with the knowledge, technology and platform for lifelong learning.")}</p>
        <h3>${_(u"Our Vision")}</h3>
        <p>${_(u"To become a reputable brand of digital education in China.")}</p>
    </div>
</div>
<script>
  var pic = document.getElementsByTagName('html')[0].lang == 'en' ? "/static/images/abouts/about_dec_left_en.png" : "/static/images/abouts/about_dec_left.png";
  $('.about-dec-img img').attr('src', pic)
</script>