<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_(u"Contact Us")}</%block>
<style>
.window-wrap .content-wrapper{
    padding: 0;
    padding-bottom: 10px;
}
</style>
<div class="eliteu-contact">
    <div class="eliteu-contact-img"></div>
</div>

<div class="contact-dec">

    <ul>
        <li class="first">
            <div><strong>${_(u"Elite Education")}</strong></div>
            <p>${_(u"Address: Room 1005, CITIC Plaza, No. 233 Tianhe North Road, Tianhe District, Guangzhou, China")}</p>
            <p>${_(u"Telephone: 400-931-8118 (Monday to Friday at 9:00-18:00)")}</p>
        </li>
        <li class="first">
            <div><strong>${_(u"Human Resources and Recruitment")}</strong></div>
            <p>hr@eliteu.cn</p>
            
        </li>
        <li>
            <div><strong>${_(u"Feedback and Technical Support")}</strong></div>
            <p>support@eliteu.cn</p>
        </li>
        <li>
            <div><strong>${_(u"Course-Related")}</strong></div>
            <p>course@eliteu.cn</p>
        </li>
        <li>
            <div><strong>${_(u"Media Communication")}</strong></div>
            <p>media@eliteu.cn</p>
        </li>
        <li>
            <div><strong>${_(u"Business Cooperation")}</strong></div>
            <p>partner@eliteu.cn</p>
        </li>
        <li>
            <div><strong>${_(u"General Information")}</strong></div>
            <p>info@eliteu.cn</p>
        </li>
        <li>
            <div><strong>${_(u"System Bugs")}</strong></div>
            <p>bug@eliteu.cn</p>
        </li>
    </ul>
    
</div>