<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>
<style>
.window-wrap .content-wrapper{
    padding: 0;
    padding-bottom: 10px;
}
</style>
<div class="eliteu-contact">
    <div class="eliteu-contact-img"></div>
</div>

<div class="contact-dec">

    <ul>
        <li class="first">
            <div><strong>英荔教育</strong></div>
            <p>地址：广州市天河区天河北路233号中信广场写字楼1005室</p>
            <p>电话：400-931-8118（周一至周五9：00 - 18：00）</p>
        </li>
        <li class="first">
            <div><strong>人力资源及招聘</strong></div>
            <p>hr@eliteu.cn</p>
            
        </li>
        <li>
            <div><strong>建议及技术支持</strong></div>
            <p>support@eliteu.cn</p>
        </li>
        <li>
            <div><strong>课程相关</strong></div>
            <p>course@eliteu.cn</p>
        </li>
        <li>
            <div><strong>媒体交流</strong></div>
            <p>media@eliteu.cn</p>
        </li>
        <li>
            <div><strong>商务合作</strong></div>
            <p>partner@eliteu.cn</p>
        </li>
        <li>
            <div><strong>综合资讯</strong></div>
            <p>info@eliteu.cn</p>
        </li>
        <li>
            <div><strong>系统漏洞</strong></div>
            <p>bug@eliteu.cn</p>
        </li>
    </ul>
    
</div>