<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("join-us")}</%block>
<div class="eliteu-join">
    <div class="eliteu-join-img"></div>
</div>

<div class="join-wrapper">
    <div class="join-dec">
        <h1>成为更有价值的自己</h1>
        <p>英荔关注员工发展，重视交流的力量。作为一个整体，我们不断学习，相互启发，在工作中不断发现行业灵感，大开眼界。在这里，工作是享受与拼搏的有机结合。</p>
        <p>职位信息整理中，我们将尽快发布，敬请期待。当然，这并不意味着我们愿意错过任何一位未来的成员，欢迎直接邮件联系<a>hr@eliteu.cn</a></p>
    </div>
</div>
