<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_(u"Manual")}</%block>
<div class="manu-container">
<div class="manual-tabs"></div>
<div class="manual-content"></div>
</div>
<script>
    var data_m = [
        {
        title: '如何了解课程?',
        answer: '点击课程进入详情页，观看课程简介视频，浏览课程简介、导师简介及课程大纲等。'
        },{
        title: '如何加入会员？', 
        answer: '进入“会员资格”页，选择适合您的学习时长及支付方式，支付成功后便可在会员期限内享受所有课程的学习权益。',
        },{
        title: '如何查看已购买的会员期限？', 
        answer: '进入“会员资格”页，可查看会员已开通时间及剩余时间。',
        },{
        title: '会员如何选课？', 
        answer: '进入“发现课程”页，直接选择或通过搜索关键字的方式选择您感兴趣的课程，点击“VIP会员免费选修此课程”，即为选课成功。',
        },{
        title: '非会员如何购买单课？', 
        answer: '进入“发现课程”页，直接选择或通过搜索关键字的方式选择您感兴趣的课程，点击“选修此课程”，支付成功后即可开始学习该门课程。',
        },{
        title: '如何开始学习？', 
        answer: '点击网页右上角个人头像进入“课程面板-查看课程”，可浏览课程简介；点击“开始学习课程”，可观看课程视频，提交课后习题。',
        },{
        title: '如何参与课程讨论？', 
        answer: '进入“课程面板-查看课程”页，点击“讨论”，可以查看讨论帖、参与讨论及接收讨论帖更新。',
        },{
        title: '如何查看和下载课程讲义？', 
        answer: '进入“课程面板-查看课程”页，在右侧找到“课程讲义”，可查看讲义内容并下载。',
        }
    ];
    var tab = '';
    var content = '';
    var active = 0;
    for (var i = 0; i < data_m.length; i++){
        tab = tab + '<div class="manual-tab" onclick="showBlock(' + i + ')">' + data_m[i].title + '</div>';
        content = content + '<div class="manual-block" style="display:none"><p class="ques-title">' + data_m[i].title + '</p>' + '<p class="ques-answer">' + data_m[i].answer + '</p></div>';
    }
    $('.manual-tabs')[0].innerHTML = tab;
    $('.manual-content')[0].innerHTML = content;
    $('.manual-block')[active].style.display = 'block';
    $('.manual-tab')[active].classList.add('manual-tab-active');

    function showBlock(index){
        $('.manual-tab')[active].classList.remove('manual-tab-active');
        $('.manual-block')[active].style.display = 'none';

        $('.manual-tab')[index].classList.add('manual-tab-active');
        $('.manual-block')[index].style.display = 'block';
        
        active = index;
        
        // var height = $('.manual-block')[index].offsetTop + 40;
        // $('html, body').animate({ scrollTop: height + 'px'}, 500)
    }
    /*
    window.onscroll = function(){
        var height = document.documentElement.scrollTop;
        if (height > 60) {
            $('.manual-tabs')[0].classList.add('manual-tabs-fixed');
        } else {
            $('.manual-tabs')[0].classList.remove('manual-tabs-fixed');
        }
    }
    */
</script>

