<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("User Agreement")}</%block>

<div class="user-agreement-box"> 
  <h3>${_(u"用户协议")}</h3>
  <h4>${_(u"一、服务条款")}</h4>
  <p>${_(u"英荔教育（www.elitemba.cn）的产品及服务由广东英荔国际教育科技有限公司（以下简称“英荔”或“我们”）提供。本使用协议（以下简称“使用协议”）适用于英荔的网站、在计算机/手机/平板电脑或其它设备上使用的英荔的应用程序和其它产品及服务。使用协议的内容可由英荔不定期修改、变更。一旦变动产生，我们将随即于使用协议上公布并更新生效日期。修改后的使用协议一旦公布即有效代替原来的使用协议。您应定期查看以了解更新后的服务条款，若您继续使用我们的服务即构成您对本服务条款及其任何更新版本的同意。此外，当英荔用户使用英荔特殊服务（包括但不限于除网站基本服务外的其他具时效性的市场活动服务）时，英荔用户应遵守英荔随时公布的与该服务相关的指引和规则。前述所有的指引和规则，均构成本使用协议的一部分。")}</p>
  <p>${_(u"您在使用英荔提供的各项服务之前，应仔细阅读本使用协议。如您不同意本使用协议及/或随时对其的修改，请立即停止使用英荔所提供的全部服务；您一旦使用英荔服务，即视为已了解并完全同意本使用协议各项内容，包括英荔对使用协议随时所做的任何修改，并成为英荔用户（以下简称“用户”）。")}</p>
  <h4>${_(u"二、服务说明")}</h4>
  <p>${_(u"英荔目前向用户提供英荔自主制作的一系列课程服务（包括但不限于课程视频、测验题目、考试、课程资料、笔记以及助教服务）。除非本使用协议另有其它明示规定，英荔增加或强化此服务的任何新功能，包括所推出的新产品，均受到本使用协议之规范。用户了解并同意，本服务仅依其当前所呈现的状况提供，对于任何用户信息或个人化设定之时效、删除、传递错误、未予储存或其它任何问题，英荔均不承担任何责任。英荔保留不经事先通知因维修保养、升级或其它目的而暂停本服务任何部分的权利。")}</p>
  <h4>${_(u"三、遵守法律")}</h4>
  <p>${_(u"用户同意遵守中华人民共和国相关法律法规的所有规定，并对以任何方式通过本人的账号和密码使用本服务的任何行为及其结果承担全部责任。如用户的行为违反国家法律和法规的任何规定，有可能构成犯罪的，将被追究刑事责任，并由用户承担全部法律责任。")}</p>
  <p>${_(u"同时如果英荔有理由认为用户的任何行为，包括但不限于用户的任何言论和其它行为违反或可能违反国家法律和法规的任何规定，英荔可在任何时候不经任何事先通知终止向用户提供服务。")}</p>
    <h4>${_(u"四、用户的注册义务")}</h4>
  <p>${_(u"为能使用本服务，用户同意以下事项：依本服务提示填写正确的注册账号（邮箱地址及/或手机号）、密码，并确保今后更新的登录账号、头像等资料的有效性和合法性。若用户提供任何违法、不道德或英荔认为不适合在本网站上展示的资料；或者英荔有理由怀疑用户的资料属于程序或恶意操作，英荔有权暂停或终止用户的帐号，并拒绝用户于现在和未来使用本服务之全部或任何部分。")}</p>
  <p>${_(u"英荔无须对任何用户的任何登记资料承担任何责任，包括但不限于鉴别、核实任何登记资料的真实性、正确性、完整性、适用性及/或是否为最新资料的责任。")}</p>
  <h4>${_(u"五、用户帐号、密码及安全")}</h4>
  <p>${_(u"完成本服务的注册程序并成功注册之后，用户可使用其邮箱地址及或手机号码和密码，登录到用户在英荔的帐号（以下简称“帐号”）。用户须承担保障自己帐号安全的责任。")}</p>
  <p>${_(u"用户应对所有使用的密码及帐号的活动负全部责任。用户同意：")}</p>
  <p>${_(u"1.  用户的英荔帐号遭到未获授权的使用，或者发生其它任何安全问题时，用户将立即通知英荔；")}</p>
  <p>${_(u"2.  如果用户未保管好自己的帐号和密码，因此而产生的任何损失或损害，英荔无法也不承担任何责任；")}</p>
  <p>${_(u"3.  每个用户都要对其帐号中的所有行为和事件负全责。如果用户未保管好自己的帐号和密码而对用户、英荔或第三方造成的损害，用户将负全部责任。")}</p>
  <h4>${_(u"六、英荔隐私权政策")}</h4>
  <p>${_(u"用户提供的登记资料及英荔保留的有关用户的若干其它资料将受到中国有关隐私的法律和本公司《隐私政策》之规范。")}</p>
  <h4>${_(u"七、提供者之责任")}</h4>
  <p>${_(u"根据有关法律法规，英荔在此郑重提醒用户注意，任何经由本服务而发布、上传的文字、资讯、资料、照片、图形、视讯、信息或其它资料（以下简称“内容 ”），无论系公开还是私下传送，均由内容提供者承担责任。英荔仅为用户提供内容存储空间，无法控制经由本服务传送之内容，因此不保证内容的正确性、完整性或品质。用户已预知使用本服务时，可能会接触到令人不快、不适当或令人厌恶之内容。在任何情况下，英荔均不为任何内容负责，但英荔有权依法停止传输任何前述内容并采取相应行动，包括但不限于暂停用户使用本服务的全部或部分，保存有关记录，并向有关机关报告。")}</p>

  <h4>${_(u"八、用户行为")}</h4>
  <p>${_(u"用户同意将不会利用本服务进行任何违法或不正当的活动，包括但不限于下列行为∶")}</p>
  <p>${_(u"1.  发布或以其它方式传送含有下列内容之一的信息：")}</p>
  <p>${_(u"反对宪法所确定的基本原则的；")}</p>
  <p>${_(u"危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；")}</p>
  <p>${_(u"损害国家荣誉和利益的；")}</p>
  <p>${_(u"煽动民族仇恨、民族歧视、破坏民族团结的；")}</p>
  <p>${_(u"破坏国家宗教政策，宣扬邪教和封建迷信的；")}</p>
  <p>${_(u"散布谣言，扰乱社会秩序，破坏社会稳定的；")}</p>
  <p>${_(u"散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；")}</p>
  <p>${_(u"侮辱或者诽谤他人，侵害他人合法权利的；")}</p>
  <p>${_(u"含有虚假、诈骗、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；")}</p>
  <p>${_(u"含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；")}</p>
  <p>${_(u"含有英荔认为不适合在英荔展示的内容；")}</p>
  <p>${_(u"2.  以任何方式危害他人的合法权益；")}</p>
  <p>${_(u"3.  冒充其他任何人或机构，或以虚伪不实的方式陈述或谎称与任何人或机构有关；")}</p>
  <p>${_(u"4.  将依据任何法律或合约或法定关系（例如由于雇佣关系和依据保密合约所得知或揭露之内部资料、专属及机密资料）知悉但无权传送之任何内容加以发布、发送电子邮件或以其它方式传送；")}</p>
  <p>${_(u"5.  将侵害他人著作权、专利权、商标权、商业秘密、或其它专属权利（以下简称“专属权利”）之内容加以发布或以其它方式传送；")}</p>
  <p>${_(u"6.  将任何广告信函、促销资料、“垃圾邮件”、“滥发信件”、“连锁信件”、“直销”或其它任何形式的劝诱资料加以发布、发送或以其它方式传送；")}</p>
  <p>${_(u"7.  将设计目的在于干扰、破坏或限制任何计算机软件、硬件或通讯设备功能之计算机病毒（包括但不限于木马程序、蠕虫、定时炸弹、删除蝇（以下简称“病毒”）或其它计算机代码、档案和程序之任何资料，加以发布、发送或以其它方式传送；")}</p>
  <p>${_(u"8.  干扰或破坏本服务或与本服务相连线之服务器和网络，或违反任何关于本服务连线网络之规定、程序、政策或规范；")}</p>
  <p>${_(u"9.  跟踪、人肉搜索或以其它方式骚扰他人；")}</p>
  <p>${_(u"10.  故意或非故意地违反任何适用的当地、国家法律，以及任何具有法律效力的规则；")}</p>
  <p>${_(u"11.  未经合法授权而截获、篡改、收集、储存或删除他人个人信息、站内邮件或其它数据资料，或将获知的此类资料用于任何非法或不正当目的。")}</p>
  <p>${_(u"用户已认可英荔未对用户的使用行为进行全面控制，用户使用任何内容时，包括依赖前述内容之正确性、完整性或实用性时，用户同意将自行加以判断并承担所有风险，而不依赖于英荔。但英荔依其自行之考虑，可拒绝和删除经由本服务提供之违反本条款的或其它引起英荔异议的任何内容。")}</p>
  <p>${_(u"用户了解并同意，英荔依据法律法规要求、基于诚信或出于以下目的，可能对部分内容加以保存或揭露：")}</p>
  <p>${_(u"1.  遵守法律程序；")}</p>
  <p>${_(u"2.  执行本使用协议；")}</p>
  <p>${_(u"3.  回应任何第三人提出的权利主张；")}</p>
  <p>${_(u"4.  保护英荔、其用户及公众之权利、财产或个人安全；")}</p>
  <p>${_(u"5.  其它英荔认为有必要的情况。")}</p>
  <h4>${_(u"九、国际使用之特别警告")}</h4>
  <p>${_(u"用户已了解国际互联网的无国界性，同意遵守当地所有关于网上行为及内容之法律法规。用户特别同意遵守有关从中国或用户所在国家或地区输出信息之传输的所有适用法律法规。")}</p>
  <h4>${_(u"十、在英荔发布的公开信息")}</h4>
  <p>${_(u"1.  在本使用协议中，“本服务公开使用区域”系指一般公众可以使用的区域；")}</p>
  <p>${_(u"2.  用户在英荔上传或发布的内容，用户应保证其为著作权人或已取得合法授权，并且该内容不会侵犯任何第三方的合法权益，用户同意授予英荔所有前述内容在全球范围内的免费、不可撤销的、永久的、可再许可或转让的独家使用权许可，据该许可英荔将有权以展示、推广及其他不为我国法律所禁止的方式使用前述内容。")}</p>
  <h4>${_(u"十一、赔偿")}</h4>
  <p>${_(u"由于用户通过本服务提供、发布或传送之内容、用户与本服务连线、用户违反本使用协议、或用户侵害他人任何权利因而衍生或导致任何第三人提出任何索赔或请求，包括合理的律师费，用户同意赔偿英荔及其子公司、关联企业、高级职员、代理人、品牌共有人或其它合作伙伴及员工，并使其免受损害， 并承担由此引发的全部法律责任。")}</p>
  <h4>${_(u"十二、关于使用")}</h4>
  <p>${_(u"用户同意不对本服务任何部分或本服务之使用或获得，进行复制、拷贝、出售、转售或用于任何其它商业目的。")}</p>
  <h4>${_(u"十三、关于储存")}</h4>
  <p>${_(u"通过本服务发布或传送之任何信息、通讯资料和其它内容，如被删除或未予储存，用户同意英荔毋须承担任何责任。")}</p>
  <h4>${_(u"十四、服务之修改")}</h4>
  <p>${_(u"英荔有权于任何时间暂时或永久修改或终止本服务（或其任何部分），且无论通知与否。用户同意对于本服务所作的任何修改、暂停或终止，英荔对用户和任何第三人均无需承担任何责任。")}</p>
  <h4>${_(u"十五、终止服务")}</h4>
  <p>${_(u"用户同意英荔基于其自行之考虑，因任何理由（包含但不限于长期对账号无任何操作，或英荔认为用户已经违反本使用协议的文字及精神）终止用户的帐号或本服务之使用（或服务之任何部分），并将用户在本服务内任何内容加以移除并删除。用户同意依本使用协议任何规定提供之本服务，无需进行事先通知即可中断或终止，用户承认并同意，英荔可立即关闭或删除用户的帐号及用户帐号中所有相关信息及文件，及/或禁止继续使用前述文件或本服务。此外，用户同意若本服务之使用被中断或终止或用户的帐号及相关信息和文件被关闭或删除，英荔对用户或任何第三人均不承担任何责任。")}</p>
  <h4>${_(u"十六、与广告商及其他第三方进行交易")}</h4>
  <p>${_(u"用户通过本网站与广告商及其他第三方进行任何形式的通讯或商业往来，或参与促销活动，包含相关商品或服务之付款及交付，以及达成的其它任何相关条款、条件、保证或声明，完全为用户与广告商及其他第三方之间之行为。用户因前述任何交易或前述广告商及其他第三方而遭受的任何性质的损失或损害，英荔对此不负任何法律责任。")}</p>
  <h4>${_(u"十七、英荔之专属权利")}</h4>
  <p>${_(u"用户也了解并同意，经由本服务或广告商向用户呈现之赞助广告或信息所包含之内容，亦受到著作权、商标权、服务商标、专利权或其它专属权利之法律保护。未经英荔或广告商明示授权，用户不得修改、出租、出借、出售、散布本服务或软件之任何部份或全部，或据以制作衍生著作，或使用擅自修改后的软件，包括但不限于为了未经授权而使用本服务之目的。英荔仅授予用户个人、不可移转及非专属之使用权，使用户得于单机计算机使用其软件之目的码，但用户不得（并不得允许任何第三人）复制、修改、创作衍生著作、进行还原工程、反向组译，或以其它方式发现原始码，或出售、转让、再授权或提供软件设定担保，或以其它方式移转软件之任何权利。用户同意将通过由英荔所提供的界面而非任何其它途径使用本服务。")}</p>
  <h4>${_(u"十八、担保与保证")}</h4>
  <p>${_(u"用户明确了解并同意∶")}</p>
  <p>${_(u"1.  本使用协议的任何规定不会免除英荔对造成用户人身伤害的、或因故意或重大过失造成用户财产损失的任何责任；")}</p>
  <p>${_(u"2.  使用该服务是由用户自担风险。该服务是在“现状”和“现有”的基础上提供的。英荔不提供任何明示或暗示的担保或保证，包括但不限于商业适销性，针对特定用途的适用性和不侵犯他人权利等;")}</p>
  <p>${_(u"3.  任何第三方在本服务中所作之声明或行为；")}</p>
  <p>${_(u"4.  与本服务相关的其它事宜，但本使用协议有明确规定的除外；")}</p>
  <p>${_(u"5.  第三方以任何方式发布或投递欺诈性信息，或诱导用户受到经济损失，英荔不承担任何责任。")}</p>
  <h4>${_(u"十九、英荔商标信息")}</h4>
  <p>${_(u"英荔教育、英荔以及其它英荔注册商标、标志及产品、服务名称，均为英荔公司之商标（以下简称“英荔标记”）。未经英荔事先书面同意，用户同意不将英荔标记以任何方式展示或使用或作其它处理，或表示用户有权展示、使用或另行处理英荔标记。")}</p>
  <h4>${_(u"二十、用户专属权利")}</h4>
  <p>${_(u"英荔尊重他人知识产权，呼吁用户也要同样尊重知识产权。")}</p>
  <p>${_(u"英荔之服务与资料是基于“现状”提供，而且英荔明确地表示拒绝对于“服务”、“资料”或“产品”给予任何明示或暗示之保证，包括但不限于，为商业使用或适合于特定目的之保证。英荔对于因“服务”、“资料”或“产品”所产生之任何直接、间接、附带的或因此而导致之衍生性损失概不负责。")}</p>
  <p>${_(u"如果用户对他人的知识产权造成了侵害，英荔将依国家法律法规的规定，或在适当的情形下，将依其服务条款或其相关规范性规定，删除特定内容或以至终止用户对账号的使用。")}</p>
  <p>${_(u"英荔尊重他人的任何权利（包括知识产权），同时也要求我们的使用者也尊重他人之权利。英荔在适当情况下，可自行决定终止侵害或违反他人权利之使用者的帐号。")}</p>
  <p>${_(u"若用户认为自己的作品著作权遭到侵害或用户的知识产权被侵犯，根据《信息网络传播权保护条例》的规定，用户需及时向英荔联系并提供详实的举证材料。或请到中华人民共和国国家版权局下载《要求删除或断开链接侵权网络内容的通知》（下称“删除通知”）的示范格式，如果用户不明白“删除通知”的内容，请登录中华人民共和国国家版权局查看《要求删除或断开链接侵权网络内容的通知》填写说明。")}</p>
  <h4>${_(u"二十一、一般条款")}</h4>
  <p>${_(u"1.  本使用协议和隐私政策及免责声明构成用户与英荔之全部协议，并规范用户对于本服务之使用行为。在用户使用相关服务、使用第三方提供的内容或软件时，亦应遵从所适用之附加条款及条件；")}</p>
  <p>${_(u"2.  本使用协议及用户与英荔之关系，均受到中华人民共和国法律管辖。用户与英荔就本服务、本使用协议或其它有关事项发生的争议，应首先友好协商解决，协商不成时应提请中国国际经济贸易仲裁委员会仲裁，仲裁裁决是终局性的，对双方均有约束力；")}</p>
  <p>${_(u"3.  英荔未行使或执行本使用协议任何权利或规定，不构成对前述权利或权利之放弃；")}</p>
  <p>${_(u"4.  倘本使用协议之任何规定因与中华人民共和国法律抵触而无效，用户依然同意应依照法律，努力使该规定所反映之当事人意向具备效力，且本使用协议其它规定仍应具有完整的效力；")}</p>
  <p>${_(u"5.  本使用协议之标题仅供方便而设，不具任何法律或契约效果；")}</p>
  <p>${_(u"6.  英荔对本使用协议享有最终解释权。")}</p>
  <p>${_(u"请用户在发现任何违反本服务协议以及其他任何单项服务的服务条款、英荔各类公告之情形时，通知英荔。")}</p>
  <p>${_(u"协议生效日期：2018年11月30日")}</p>

</div>
