-r ../../../requirements/edx/base.txt

git+https://github.com/edx/XBlock.git#egg=XBlock
git+https://github.com/edx/django-rest-framework-oauth.git@f0b503fda8c254a38f97fef802ded4f5fe367f7a#egg=djangorestframework_oauth-master
sphinxcontrib-napoleon==0.2.6
