<%! from django.utils.translation import ugettext as _ %>
<%inherit file="base.html" />
<%namespace name='static' file='../static_content.html'/>

<%block name="title"><title>${_("EPFLx")}</title></%block>

<%block name="university_header">
  <header class="search" style="background: url('/static/images/university/epfl/epfl-cover.jpg')">
    <div class="inner-wrapper university-search">
      <hgroup>
        <div class="logo">
           <img src="${static.url('images/university/epfl/epfl.png')}" />
        </div>
        <h1>${_("EPFLx")}</h1>
      </hgroup>
    </div>
  </header>

</%block>

<%block name="university_description">

<p>${_("EPFL is the Swiss Federal Institute of Technology in Lausanne. The past decade has seen EPFL ascend to the very top of European institutions of science and technology: it is ranked #1 in Europe in the field of engineering by the Times Higher Education (based on publications and citations), Leiden Rankings, and the Academic Ranking of World Universities.")}</p>

<p>${_("EPFL's main campus brings together 12,600 students, faculty, researchers, and staff in a high-energy, dynamic learning and research environment. It directs the Human Brain Project, an undertaking to simulate the entire human brain using supercomputers, in order to gain new insights into how it operates and to better diagnose brain disorders. The university is building Solar Impulse, a long-range solar-powered plane that aims to be the first piloted fixed-wing aircraft to circumnavigate the Earth using only solar power. EPFL was part of the Alinghi project, developing advanced racing boats that won the America's Cup multiple times. The university operates, for education and research purposes, a Tokamak nuclear fusion reactor. EPFL also houses the Musee Bolo museum and hosts several music festivals, including Balelec, that draws over 15,000 guests every year.")}</p>

<p>${_("EPFL is a major force in entrepreneurship, with 2012 bringing in $100M in funding for ten EPFL startups. Both young spin-offs (like Typesafe and Pix4D) and companies that have long grown past the startup stage (like Logitech) actively transfer the results of EPFL's scientific innovation to industry.")}</p>

</%block>

${parent.body()}
