<%inherit file="base.html" />
<%namespace name='static' file='../static_content.html'/>

<%block name="title"><title>RiceX</title></%block>

<%block name="university_header">
  <header class="search" style="background: url('/static/images/university/rice/rice-cover.jpg')">
    <div class="inner-wrapper university-search">
      <hgroup>
        <div class="logo">
           <img src="${static.url('images/university/rice/rice.png')}" />
        </div>
        <h1>RiceX</h1>
      </hgroup>
    </div>
  </header>

</%block>

<%block name="university_description">
    <p>Located on a 300-acre forested campus in Houston, Rice University is consistently ranked among the nation's top 20 universities by U.S. News & World Report. Rice has highly respected schools of Architecture, Business, Continuing Studies, Engineering, Humanities, Music, Natural Sciences and Social Sciences and is home to the Baker Institute for Public Policy. With 3,708 undergraduates and 2,374 graduate students, Rice's undergraduate student-to-faculty ratio is 6-to-1. Its residential college system builds close-knit communities and lifelong friendships, just one reason why Rice has been ranked No. 1 for best quality of life multiple times by the Princeton Review and No. 2 for "best value" among private universities by Kiplinger's Personal Finance.</p>
</%block>

${parent.body()}
