<%! from django.utils.translation import ugettext as _ %>
<%inherit file="base.html" />
<%namespace name='static' file='../static_content.html'/>

<%block name="title"><title>${_("SCHOOLX")}</title></%block>

<%block name="university_header">
  <header class="search" style="background: url('/static/images/university/SCHOOL/IMAGE.jpg')">
    <div class="inner-wrapper university-search">
      <hgroup>
        <div class="logo">
           <img src="${static.url('images/university/SCHOOL/IMAGE.png')}" />
        </div>
        <h1>${_("SCHOOLX")}</h1>
      </hgroup>
    </div>
  </header>

</%block>

<%block name="university_description">
<p></p>
</%block>

${parent.body()}
