<%inherit file="base.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
    from django.core.urlresolvers import reverse
%>

<%block name="title"><title>UTx</title></%block>

<%block name="university_header">
  <header class="search" style="background: url('/static/images/university/ut/ut-cover_2025x550.jpg')">
    <div class="inner-wrapper university-search">
      <hgroup>
        <div class="logo">
           <img src="${static.url('images/university/ut/ut-standalone_187x80.png')}" />
        </div>
        <h1>UTx</h1>
      </hgroup>
    </div>
  </header>

</%block>

<%block name="university_description">
    <p>Educating students, providing care for patients, conducting groundbreaking research and serving the needs of Texans and the nation for more than 130 years, The University of Texas System is one of the largest public university systems in the United States, with nine academic universities and six health science centers. Student enrollment exceeded 215,000 in the 2011 academic year. The UT System confers more than one-third of the state’s undergraduate degrees and educates nearly three-fourths of the state’s health care professionals annually. The UT System has an annual operating budget of $13.1 billion (FY 2012) including $2.3 billion in sponsored programs funded by federal, state, local and private sources. With roughly 87,000 employees, the UT System is one of the largest employers in the state.</p>
    <p>Find out about <a href="${reverse('university_profile', args=['UTAustinX'])}">The University of Texas at Austin</a>.</p>
</%block>

${parent.body()}
