## mako
<%!
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%block name="title"><title>${_('Terms of Service')}</title></%block>

<section class="static-container tos">
    <h2>${_('Terms of Service')}</h2>

    <p>${_('Put your Terms of Service here!')}</p>

    <h2 id="privacy">${_('Privacy Policy')}</h2>

    <p>${_('Put your Privacy Policy here!')}</p>

    <h2 id="honor">${_('Honor Code')}</h2>

    <p>${_('Put your Honor Code here!')}</p>

    <h2 id="copyright">${_('Copyright')}</h2>

    <p>${_('Put your Copyright Text here!')}</p>
</section>

<script>
    $(document).ready(function() {
        var print_tos = '<input type="button" value="Print Terms of Service" class="print">';
        $('#content section.tos').prepend(print_tos).append(print_tos);
        $('#content section.tos input.print').click(function() {
            window.print();
            return false;
        });
    });
</script>
