## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>
<%!
from openedx.core.djangolib.js_utils import (
    dump_js_escaped_json, js_escaped_string
)
%>

<div class="program-list-wrapper grid-container">
    <div class="program-list-container col-12 col-lg-9">
        <div class="js-program-list-header pb-3"></div>
        <div class="program-cards-container col"></div>
    </div>
    <div class="sidebar col-12 col-lg-3"></div>
</div>

<%block name="js_extra">
<%static:webpack entry="ProgramListFactory">
ProgramListFactory({
    marketingUrl: '${marketing_url | n, js_escaped_string}',
    programsData: ${programs | n, dump_js_escaped_json},
    userProgress: ${progress | n, dump_js_escaped_json}
});
</%static:webpack>
</%block>
