<%inherit file="/main.html" />
<%block name="bodyclass">lms view-badges</%block>
<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
  <%static:css group='course'/>
</%block>

<%
    from django.core.urlresolvers import reverse
    from django.utils.translation import ugettext as _
    from xmodule.util.date_utils import get_default_time_display
%>

<%block name="title">
<% from django.utils.translation import ugettext as _ %>
<title>${_('{course_number} Badges').format(course_number=course.number)}</title>
</%block>

<%block name="js_extra">
% if badges_success:
  <script type="text/javascript" src="http://beta.openbadges.org/issuer.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    var start_info_button = function() {
        $('.mozilla_info').hide();
    };
    start_info_button();
    $('.mozilla_export').click(function() {
      OpenBadges.issue(${badge_collection.get_badge_urls()}, function(e,s) {});
    });
    var flip_info_button = function() {
      if (!$(this).parent().find('.mozilla_info').is(":visible")) {
        $('.mozilla_info').hide('blind', 100);
        $(this).parent().find('.mozilla_info').show('blind', 100).animate({queue: false});
      } else {
        $('.mozilla_info').hide('blind', 100);
      }
    };
    $('.toggle_mozilla').click(flip_info_button);
  });
  </script>
%endif
</%block>


<%include file="/courseware/course_navigation.html" args="active_page=''" />

<section class="container">
  <div class="profile-wrapper">

    <section class="course-info">
      <header>
        <h1>${_('Badges for {course_name}').format(course_name='<i>'+course.display_name+'</i>')}</h1>
      </header>

      %if not badges_success:
        <p>Error with fetching badges: ${badge_error_message}</p>
      %else:
        %if not len(badge_collection.get_badges()) > 0:
         <p>${_('No badges to display.')}</p>
        %else:
        <ol class="chapters">
          %if len(badge_collection.get_earned_badges()) > 0:
          <li>
            <h2>${_("Earned")}</h2>
            <ol class="sections">
              <% first = True %>

              %for earned_badge in badge_collection.get_earned_badges():
                <% badgeclass = earned_badge.badgeclass %>
                %if first:
                  <% first = False %>
                %else:
                  <hr class="badge_separator"/>
                %endif

                <li>
                  <img src="${earned_badge.image}" class="badge_image" />
                  <p>
                    <div class="fakelink toggle_mozilla" title="${_("Export Badges to Mozilla Backpack")}">
                      <!--This image is a modified version of the images at http://openbadges.org/insignia/-->
                      <img class="share_icon" src="/static/images/badges/open_badges.png" />
                    </div>
                    <a title="${_("Share")}" href="https://plus.google.com/share?url=${badgeclass.criteria}">
                      <img class="share_icon" src="/static/images/badges/social_googleplus.png" />
                    </a>
                    <a title="${_("Tweet")}" href="https://twitter.com/intent/tweet?text=I earned the %22${badgeclass.name}%22 badge in ${course.number} on %23edX!&url=${badgeclass.criteria}">
                      <img class="share_icon" src="/static/images/badges/social_twitter.png" />
                    </a>
                    <a title="${_("Share")}" href="https://www.facebook.com/dialog/feed?app_id=202824819884271&link=${badgeclass.criteria}&picture=${earned_badge.image}&name=${badgeclass.name}&description=${badgeclass.description}&redirect_uri=http://www.edx.org/">
                      <img class="share_icon" src="/static/images/badges/social_facebook.png" />
                    </a>
                  </p>
                  <div class="badge_detail">
                    <h3>${badgeclass.name}</h3>
                    <p>
                      <b>${badgeclass.description}</b><br />
                      ${_('awarded on {date} by {issuer}').format(
                        date='<b>'+earned_badge.issued_on+'</b>',
                        issuer="<a href=\"" + earned_badge.issuer.url + "\">" + earned_badge.issuer.name + "</a>")
                      }
                      <br />
                      <i>
                      ${_('{number} people have this badge.').format(number=badgeclass.number_awarded)}
                      </i>
                    </p>
                    <div class="mozilla_info">
                      <hr/>
                      <p>
                        <input type='button' class='mozilla_export' value='${_('Export')}' />
                        ${_('Exporting these badges to {link_begin}Mozilla Backpack{link_end}? When signing in with Mozilla Persona, make sure to use your <b>{email}</b> email address.').format(email=student.email, link_begin="<a href=\"http://beta.openbadges.org\">", link_end="</a>")}
                      </p>
                    </div>
                  </div>
                </li>
              %endfor
            </ol>
          </li>
          %endif
          %if len(badge_collection.get_unlockable_badges()) > 0:
          <li>
            <h2>${_('Unlockable')}</h2>
            <ol class="sections">
              <% first = True %>

              %for badge in badge_collection.get_unlockable_badges():
                <% badgeclass = badge.badgeclass %>

                %if first:
                  <% first = False %>
                %else:
                  <hr class="badge_separator"/>
                %endif

                <li>
                  <img src="${badgeclass.image}" class="unlockable badge_image" />
                  <div class="badge_detail">
                    <p>
                    <b>${badgeclass.description} </b><br />
                    <i>
                    %if num is not None:
                      ${_('{number} people have this badge.').format(number=badgeclass.number_awarded)}
                    %endif
                    </i>
                    </p>
                  </div>
                </li>
              %endfor
            </ol>
          </li>
          %endif
        </ol>
        <a href="http://openbadges.org/" class="openbadges_logo"><img src="/static/images/badges/openbadges_insignia_weissue.png" /></a>
        %endif
      %endif

    </section>
  </div>
</section>
