<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="title"><title>${_("Courses")}</title></%block>

<section class="find-courses">
  <header class="search">
    <div class="inner-wrapper main-search">
      <hgroup>
        <div class="logo">
          % if self.stanford_theme_enabled():
            <img src="${static.url('themes/stanford/images/seal.png')}" alt="Stanford Seal Logo" />
          % else:
            <img src="${static.url('images/edx_bw.png')}" alt="Black and White edX Logo" />
          % endif
        </div>
        % if self.stanford_theme_enabled():
          <h2>${_("Explore free courses from Stanford University.")}</h2>
        % else:
          <h2>${_("Explore free courses from leading universities.")}</h2>
        % endif
      </hgroup>
    </div>
  </header>

  <section class="container">
    ## I'm removing this for now since we aren't using it for the fall.
    ## <%include file="course_filter.html" />
    <section class="courses">
      <ul class="courses-listing">
        %for course in courses:
        <li class="courses-listing-item">
          <%include file="../course.html" args="course=course" />
        </li>
        %endfor
      </ul>
    </section>
  </section>
</section>
