<div class="date-summary-container">
    <div class="date-summary date-summary-${css_class}">
        % if title:
          <h3 class="heading">${title}</h3>
        % endif
        % if date:
          <h4 class="date">${date}</h4>
        % endif
        % if description:
          <p class="description">${description}</p>
        % endif
        % if link and link_text:
          <span class="date-summary-link">
              <a href="${link}">${link_text} <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </span>
        % endif
    </div>
</div>
