<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/main.html" />
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%block name="js_extra">
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.stack.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.symbol.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/jquery.csvToTable.js')}"></script>
  <script type="text/javascript" src="//datatables.net/download/build/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="${static.url('js/jquery.gradebook.js')}"></script>
</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>

  <style type="text/css">
.dataTables_length {
width: 40%;
float: left;
}
.dataTables_filter {
width: 50%;
float: right;
text-align: right;
}
.dataTables_info {
width: 60%;
float: left;
}
.dataTables_paginate {
float: right;
text-align: right;
}
  </style>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#CSVTable').CSVToTable('https://edu.olimpiada.ru/edx/${course.id.replace('/','_')}.csv',
        {
          tableClass: 'grade-table'
          }).bind("loadComplete",function() { 
            $('#CSVTable table').dataTable({
        "sScrollY": "600px",
        "sScrollX": "100%",
        "bScrollCollapse": true,
        "oLanguage": {
            "sLengthMenu": "${_("Display _MENU_ records per page")}",
            "sZeroRecords": "${_("Nothing found - sorry")}",
            "sInfo": "${_("Showing _START_ to _END_ of _TOTAL_ records")}",
            "sInfoEmpty": "${_("Showing 0 to 0 of 0 records")}",
            "sInfoFiltered": "${_("(filtered from _MAX_ total records)")}",	
            "sSearch": "${_("Search students")}:",
            "oPaginate": {
                 "sNext": "${_("Next page")}",
                 "sPrevious": "${_("Previous page")}"
      }     }             });
      });;

    });


function win2unicode(str) {
   var charmap   = unescape(
      "%u0402%u0403%u201A%u0453%u201E%u2026%u2020%u2021%u20AC%u2030%u0409%u2039%u040A%u040C%u040B%u040F"+
      "%u0452%u2018%u2019%u201C%u201D%u2022%u2013%u2014%u0000%u2122%u0459%u203A%u045A%u045C%u045B%u045F"+
      "%u00A0%u040E%u045E%u0408%u00A4%u0490%u00A6%u00A7%u0401%u00A9%u0404%u00AB%u00AC%u00AD%u00AE%u0407"+
      "%u00B0%u00B1%u0406%u0456%u0491%u00B5%u00B6%u00B7%u0451%u2116%u0454%u00BB%u0458%u0405%u0455%u0457")
   var code2char = function(code) {
               if(code >= 0xC0 && code <= 0xFF) return String.fromCharCode(code - 0xC0 + 0x0410)
               if(code >= 0x80 && code <= 0xBF) return charmap.charAt(code - 0x80)
               return String.fromCharCode(code)
            }
   var res = ""
   for(var i = 0; i < str.length; i++) res = res + code2char(str.charCodeAt(i))
   return res
}

  </script>

</%block>

<%include file="/courseware/course_navigation.html" args="active_page=''" />

<section class="container">
<div class="wrapper">
  <section class="content">
    <h1>${_("Grade summary")}</h1>
    Таблица обновляется ежедневно в 5:00 (GMT+4)<br>
    <a class="sr" href='https://edu.olimpiada.ru/edx/${course.id.replace('/','_')}.csv'> Таблица в CSV формате (кодировка UTF-8) </a><br>
    <a href='https://edu.olimpiada.ru/edx/${course.id.replace('/','_')}.xls'> Таблица в CSV формате (разделитель табуляция, кодировка win1251) </a><br>

    <div id="CSVTable" class="grades>
    </div>
  </section>
</div>
</section>


