<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/main.html" />
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%block name="js_extra">
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.stack.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.symbol.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/jquery.csvToTable.js')}"></script>
  <script type="text/javascript" src="//datatables.net/download/build/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="${static.url('js/jquery.gradebook.js')}"></script>
</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>

  <style type="text/css">
.dataTables_length {
width: 40%;
float: left;
}
.dataTables_filter {
width: 50%;
float: right;
text-align: right;
}
.dataTables_info {
width: 60%;
float: left;
}
.dataTables_paginate {
float: right;
text-align: right;
}
  </style>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#CSVTable').CSVToTable('https://edu.olimpiada.ru/edx/${course.id.replace('/','_')}.csv',
        {
          tableClass: 'grade-table'
          }).bind("loadComplete",function() { 
            $('#CSVTable table').dataTable({
        "sScrollY": "600px",
        "sScrollX": "100%",
        "bScrollCollapse": true,
        "oLanguage": {
            "sLengthMenu": "${_("Display _MENU_ records per page")}",
            "sZeroRecords": "${_("Nothing found - sorry")}",
            "sInfo": "${_("Showing _START_ to _END_ of _TOTAL_ records")}",
            "sInfoEmpty": "${_("Showing 0 to 0 of 0 records")}",
            "sInfoFiltered": "${_("(filtered from _MAX_ total records)")}",	
            "sSearch": "${_("Search students")}:",
            "oPaginate": {
                 "sNext": "${_("Next page")}",
                 "sPrevious": "${_("Previous page")}"
      }     }             });
      });;
    });
  </script>

</%block>

<%include file="/courseware/course_navigation.html" args="active_page=''" />

<section class="container">
<div class="wrapper">
  <section class="content">
    <h1>${_("Grade summary")}</h1>
    Таблица обновляется ежедневно в 5:00 (GMT+4)<br>
    <a href='https://edu.olimpiada.ru/edx/${course.id.replace('/','_')}.csv'> Таблица в CSV формате (кодировка UTF-8) </a><br>

    <div id="CSVTable" class="grades>
    </div>
  </section>
</div>
</section>


