<%page expression_filter="h"/>
<%inherit file="../main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from datetime import datetime
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<%namespace name='static' file='../static_content.html'/>

<%static:css group='style-main-v2'/>

<%block name="js_extra">
<script type="text/javascript" src="${static.url('js/vendor/slick.min.js')}"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $(".course-slider-xs").html();
        addSlider();
    });

    $(window).resize(function () {
        addSlider();
    });

    //custom function showing current slide
    var $status = $('.pagingInfo');
    var $slickElement = $('.course-slider-xs');

    $slickElement.on('init reInit afterChange', function (event, slick, currentSlide, nextSlide) {
        //currentSlide is undefined on init -- set it to 0 in this case (currentSlide is 0 based)
        var i = (currentSlide ? currentSlide : 0) + 1;
        $status.text(i + ' of ' + slick.slideCount);
    });

    function addSlider() {
        var isMobileResolution = $(window).width() <= 767,
                sliderExists = $('.course-slider-xs').hasClass("slick-slider");
        $(".course-card").toggleClass("slidable", isMobileResolution);
        if (isMobileResolution) {    //Second condition will avoid the multiple calls from resize
            if (!sliderExists) {
                $(".course-slider-xs").slick({
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                });
            }
        } else {
            $(".course-slider-xs").html();
        }
    }

    //faq
    $("ul.faq-links-list li.item").click(function(){
        if ($(this).find(".answer").hasClass('hidden')) {
            $(this).find(".answer").removeClass("hidden");
        } else {
            $(this).find(".answer").addClass("hidden");
        }
    });

    //pagination
    var page = 0,
        size = 4,
        total = parseInt($(".instructor-size").text()),
        max_pages = Math.ceil(total / size) - 1;

    var paginate = function(page, size){
        var start = size * page,
            end = (start + size - 1) > total ? total - 1 : (start + size - 1);
        $(".profile-item-desktop").each(function(index, item){
            if (index >= start && index <= end){
                $(item).css('display', 'block');
            } else {
                $(item).css('display', 'none');
            }
        });
        $(".pagination-start").text(start + 1);
        $(".pagination-end").text(end + 1);
    }

    paginate(page, size);

    $("#pagination-next").click(function(){
        if (page == max_pages){
            return false;
        }
        if (page + 1 == max_pages){
             $(this).removeClass("active");
        }
        page = page + 1;
        paginate(page, size);
        $("#pagination-previous").addClass("active");
        return false;
    });

     $("#pagination-previous").click(function(){
        if (page == 0){
            return false;
        }
        if (page - 1 == 0){
            $(this).removeClass("active");
        }
        page = page - 1;
        paginate(page, size);
        $("#pagination-next").addClass("active");
        return false;
    });


    // Listen for click events on element tagged with the 'register' class
    // Submit the hidden enrolllment form, and include information about which
    // purchasing workflow is being executed (based on which button is clicked)
    $(".register").click(function(event) {
      var purchase_workflow = "single";
      if (event.currentTarget.id.includes("bulk")) {
        purchase_workflow = "bulk";
      }
      var event_target_input = $("<input>")
               .attr("type", "hidden")
               .attr("id", "purchase_workflow")
               .attr("name", "purchase_workflow").val(purchase_workflow);
      //var enroll_form = $("#class_enroll_form");
        var enroll_form = $(this).parent().siblings(".enroll-form:eq(0)").find(".class_enroll_form");
      enroll_form.append($(event_target_input));
      enroll_form.submit();
      event.preventDefault();
    });

    ## making the conditional around this entire JS block for sanity
    %if settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
      <%
        perms_error = _('The currently logged-in user account does not have permission to enroll in this course. '
                        'You may need to {start_logout_tag}log out{end_tag} then try the enroll button again. '
                        'Please visit the {start_help_tag}help page{end_tag} for a possible solution.').format(
                          start_help_tag="<a href='{url}'>".format(url=marketing_link('FAQ')), end_tag='</a>',
                          start_logout_tag="<a href='{url}'>".format(url=reverse('logout'))
                          )
      %>
    $('.class_enroll_form').on('ajax:complete', function(event, xhr) {
      if(xhr.status == 200) {
        location.href = "${reverse('dashboard')}";
      } else if (xhr.status == 403) {
          var course_id = $(this).find("#course_id").val();
          location.href = "${reverse('course-specific-register', args=[course_id])}?course_id=" + course_id + "&enrollment_action=enroll";
      } else if (xhr.status == 400) { //This means the user did not have permission
        $('#register_error').html("${perms_error}").css("display", "block");
      } else {
        $('#register_error').html(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.")}")
        ).css("display", "block");
      }
    });

    %else:
    $('.class_enroll_form').on('ajax:complete', function(event, xhr) {
      if(xhr.status == 200) {
        if (xhr.responseText == "") {
          location.href = "${reverse('dashboard')}";
        }
        else {
          location.href = xhr.responseText;
        }
      } else if (xhr.status == 403) {
          // If the form submission receives a Forbidden response, the user is not currently authenticated
          // Include the purchase workflow context along with the regular user registration location information
          var course_id = $(this).find("#course_id").val();
          var purchase_workflow = "&purchase_workflow=" + $("input#purchase_workflow").val();
          location.href = "${reverse('register_user')}?course_id=" + course_id + "&enrollment_action=enroll" + purchase_workflow;
      } else {
        $('#register_error').html(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.")}")
        ).css("display", "block");
      }
    });

    %endif


</script>

<script type="text/javascript">
    $(function () {
        $("#accordion-group").accordion({
            header: "> .accordion-item > .accordion-head",
            collapsible: true,
            heightStyle: "content"
        });
    });
</script>
</%block>

<div id="program-details-page">

        <div class="main-banner">
            <div class="grid-manual">
                <div class="row">
                    <div class="col col-12 md-col-8 lg-col-9">
                        <div class="org-logo">
                            <img src="https://www.edx.org/sites/default/files/school/image/logo/iimb-200x101.png" alt="Indian Institute of Management, Bangalore Logo">
                        </div>
                        <h1 class="banner-title">${program['title']}</h1>
                        <p class="banner-description">${program['subtitle']}</p>
                        <button type="button" class="btn-brand hidden-sm">Start the ${program['type']['name']} Program</button>
                    </div>
                    <div class="col col-12 md-col-4 lg-col-3" id="course-trailer">
                        <a href="#!" class="trailer-link visible-sm">
                            <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                            <span>View Course Trailer</span>
                        </a>
                        <div class="hidden-sm">
                            <a href="#!" class="btn-play">
                                <img src="${static.url('images/programs/btn-play.png')}" alt="Play"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-manual data-table">
            <div class="row">
                <div class="col col-12 md-col-7 lg-col-8 left-col">
                    <ul class="list-divided program-desc-tbl">
                        <li class="item">
                            <span>
                                <span class="fa fa-book fa-lg" aria-hidden="true"></span>
                                Number of Courses
                            </span>
                            <a href="#courses">${len(program['courses'])} courses in program</a>
                        </li>
                        <li class="item">
                            <span>
                                <span class="fa fa-clock-o fa-lg" aria-hidden="true"></span>
                                Average Length
                            </span>
                            <span>${program['weeks_to_complete']} weeks per course</span>
                        </li>
                        <li class="item">
                            <span>
                                <span class="fa fa-tachometer fa-lg" aria-hidden="true"></span>
                                Effort
                            </span>
                            <span>${program['min_hours_effort_per_week']}-${program['max_hours_effort_per_week']} hours per week, per course</span>
                        </li>
                        <li class="item">
                            <span>
                                <span class="fa fa-tag fa-lg" aria-hidden="true"></span>
                                Price (USD)
                            </span>
                            <span>$300 per course, <br class="visible-sm"/> $1200 for entire program</span>
                        </li>
                    </ul>
                    <div id="accordion-group">
                        <div class="accordion-item">
                            <div class="accordion-head">Overview</div>
                            <div class="accordion-content">
                                <p>
                                    ${program['overview']}
                                </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-head">Job Outlook</div>
                            <div class="accordion-content">

                                <ul class="list-bulleted list-disc no-indent">
                                    % for item in program['job_outlook_items']:
                                        <li>${item}</li>
                                    % endfor
                                </ul>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-head">What You'll Learn</div>
                            <div class="accordion-content">
                                <ul class="list-bulleted list-disc no-indent">
                                    % for item in program['expected_learning_items']:
                                        <li>${item}</li>
                                    % endfor
                                </ul>
                            </div>
                        </div>
                        <div class="accordion-item instructors-mobile-list">
                            <div class="accordion-head">Instructors</div>
                            <div class="accordion-content">
                                <div class="instructor-profiles">
                                    %for instructor in program['staff']:
                                        <div class="profile-item">
                                            <div class="avatar">
                                                <div class="img-holder">
                                                    <img src="${static.url(instructor['profile_image_url'])}" alt="${instructor['given_name']}"/>
                                                </div>
                                            </div>
                                            <div class="details">
                                                <div class="name">${instructor['given_name']}</div>
                                                <div class="dept">${instructor['position']['organization_name']}</div>
                                            </div>
                                        </div>
                                    %endfor
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-head">${program['type']['faq']['question']}</div>
                            <div class="accordion-content">
                                <p>${program['type']['faq']['answer']}</p>
                                <div class="vertical-icon-list">
                                    <div class="list-item">
                                        <div class="icon-container">
                                            <img src="${static.url('images/programs/img-1.png')}"/>
                                        </div>
                                        <small>Choose Your Program</small>
                                    </div>
                                    <div class="list-item">
                                        <div class="icon-container">
                                            <img src="${static.url('images/programs/img-2.png')}"/>
                                        </div>
                                        <small>Learn Great Things at Your Own Place</small>
                                    </div>
                                    <div class="list-item">
                                        <div class="icon-container">
                                            <img src="${static.url('images/programs/img-3.png')}"/>
                                        </div>
                                        <small>Earn a valuable Credntial</small>
                                    </div>
                                    <div class="list-item">
                                        <div class="icon-container">
                                            <img src="${static.url('images/programs/img-4.png')}"/>
                                        </div>
                                        <small>Advance Your Career</small>
                                    </div>
                                    <div class="list-item">
                                        <div class="icon-container">
                                            <img src="${static.url('images/programs/img-5.png')}"/>
                                        </div>
                                        <small>Or Purchase a Full Master's Degree</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-head">FAQ</div>
                            <div class="accordion-content">
                                <ul class="list-unstyled faq-links-list">
                                    %for item in program['faq']:
                                        <li class="item">
                                            <a href="#!">${item['question']}</a>
                                            <div class="answer hidden">${item['answer']}</div>
                                        </li>
                                    %endfor
                                </ul>
                            </div>
                        </div>
                    </div>
                    <blockquote class="program-quote visible-sm">
                        <div class="quote">
                            <span class="pull-right hidden-sm">
                                <img src="${static.url('images/programs/quote-logo.png')}" width="90" height="90"/>
                            </span>
                            <span>
                                ${program['individual_endorsements'][0]['quote']}
                            </span>
                            <img class="visible-sm pull-left" src="${static.url('images/programs/quote-logo.png')}" width="40" height="40"/>
                            <span class="writer">
                                ${program['individual_endorsements'][0]['endorser']['given_name']},
                                ${program['individual_endorsements'][0]['endorser']['position']['title']}
                            </span>
                        </div>
                    </blockquote>
                </div>

                <div class="col col-12 md-col-5 lg-col-4 right-col hidden-sm">

                    <h2 class="instructors-title">Meet the Instructors <span>(${len(program['staff'])})</span></h2>
                    <div class="instructor-profiles">
                        %for instructor in program['staff']:
                            <div class="profile-item profile-item-desktop">
                                <div class="avatar">
                                    <div class="img-holder">
                                        <img src="${static.url(instructor['profile_image_url'])}" alt="${instructor['given_name']}"/>
                                    </div>
                                </div>
                                <div class="details">
                                    <div class="name">${instructor['given_name']}</div>
                                    <div class="dept">${instructor['position']['organization_name']}</div>
                                </div>
                            </div>
                        %endfor

                        <div class="pagination hidden-xs">
                            <div class="pages"><span class="pagination-start"></span>-<span class="pagination-end"></span> of <span class="instructor-size">${len(program['staff'])}</span></div>
                            <div class="controls">
                                <a href="#" id="pagination-next" class="active"><span class="fa fa-chevron-down active"></span></a>
                                <a href="#" id="pagination-previous"><span class="fa fa-chevron-up"></span></a>
                            </div>
                        </div>
                    </div>
                    <blockquote class="program-quote">
                        <div class="quote">
                            <span class="pull-right hidden-sm">
                                <img src="${static.url('images/programs/quote-logo.png')}" width="90" height="90"/>
                            </span>
                            <span>
                               ${program['individual_endorsements'][0]['quote']}
                            </span>
                            <img class="visible-sm pull-left" src="${static.url('images/programs/quote-logo.png')}" width="40" height="40"/>
                            <span class="writer">
                                ${program['individual_endorsements'][0]['endorser']['given_name']},
                                ${program['individual_endorsements'][0]['endorser']['position']['title']}
                            </span>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="container courses-in-program" id="courses">
            <h3 class="hd">Courses in the ${program['type']['name']}</h3>
            <div class="course-slider-xs">
                %for course in program['courses']:
                    <div class="course-card">
                        <div class="tbl-view">
                            <div class="tbl-col col-full-sm">
                                <h4 class="hd title">
                                    <a href="/courses/${course['course_runs'][0]['key']}/about"> ${course['title']}</a>
                                    <small>
                                        <span>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            Starts ${datetime.strptime(course['course_runs'][0]['start'], '%Y-%m-%dT%H:%M:%SZ').strftime('%B %-d, %Y')}
                                        </span>

                                        %if course['course_runs'][0]['pacing_type'] == "instructor_paced":
                                            <span>Instructor - Paced</span>
                                        %else:
                                            <span>Self - Paced</span>
                                        %endif
                                    </small>

                                </h4>
                                <p class="copy-meta">
                                   ${course['course_runs'][0]['short_description']}
                                </p>
                            </div>
                            <div class="tbl-col col-full-sm">
                                <%include file="_enroll_button.html" />
                            </div>

                             ## Need to put this hidden form on the page so that the registration button works.
                             ## Since it's no harm to display a hidden form, we display it with the most permissive conditional
                             ## which is when the student is not registered.
                             <div class="enroll-form" style="display: none;">
                                <form class="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
                                  <fieldset class="enroll_fieldset">
                                    <legend class="sr">${_("Enroll")}</legend>
                                    <input name="course_id" id="course_id" type="hidden" value="${course['course_runs'][0]['key'] | h}">
                                    <input name="enrollment_action" id="enrollment_action" type="hidden" value="enroll">
                                  </fieldset>
                                  <div class="submit">
                                    <input name="submit" type="submit" value="${_('enroll')}">
                                  </div>
                                </form>
                             </div>

                        </div>
                    </div>
                %endfor

            </div>
            <span class="pagingInfo"></span>
        </div>

    </div> <!-- Program Details Page end -->

