<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>

<%namespace name="progress_graph" file="/courseware/progress_graph.js"/>

<%block name="title"><title>${_("{course_number} Progress").format(course_number=course.display_number_with_default) | h}</title></%block>

<%!
    from django.core.urlresolvers import reverse
%>

<%! from util.date_utils import get_time_display %>

<%block name="js_extra">
<script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.js')}"></script>
<script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.stack.js')}"></script>
<script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.symbol.js')}"></script>
<script>
${progress_graph.body(grade_summary, course.grade_cutoffs, "grade-detail-graph", not course.no_grade, not course.no_grade)}
</script>
</%block>

<%include file="/courseware/course_navigation.html" args="active_page='progress'" />

<%
    category_weights = {}
    for section in grade_summary['grade_breakdown']:
      category_weights[section['category']] = section['weight']
%>

<section class="container">
  <div class="profile-wrapper">

    <section class="course-info">
      <header>
      <h1>${_("Course Progress for Student '{username}' ({email})").format(username=student.username, email=student.email)}</h1>
      </header>

      %if not course.disable_progress_graph:
        <div id="grade-detail-graph" aria-hidden="true"></div>
      %endif

      <ol class="chapters">
        %for chapter in courseware_summary:
        %if not chapter['display_name'] == "hidden":
        <li>
        <%
          chapter_total = 0
          chapter_earned = 0
        %>
          <h2>${ chapter['display_name'] }</h2>

          <ol class="sections">
            %for section in chapter['sections']:
            <li>
              <%
              earned = section['section_total'].earned
              total = section['section_total'].possible
              percentageString = "{0:.0%}".format( float(earned)/total) if earned > 0 and total > 0 else ""
              if section['graded'] and len(section['format']) > 0:
                chapter_earned += section['section_total'].earned * category_weights.get(section['format'], 0.0)
                chapter_total += section['section_total'].earned / (section['section_total'].possible + 0.0001) * category_weights.get(section['format'], 0.0)
              %>

              <h3><a href="${reverse('courseware_section', kwargs=dict(course_id=course.id, chapter=chapter['url_name'], section=section['url_name']))}">
                ${ section['display_name'] }
                %if total > 0 or earned > 0:
                  <span class="sr">
                    ${_("{earned:.3n} of {total:.3n} possible points").format( earned = float(earned), total = float(total) )}
                  </span></a>
                %endif
                %if total > 0 or earned > 0:
                  <span> ${"({0:.3n}/{1:.3n}) {2}".format( float(earned), float(total), percentageString )}</span>
                %endif
              </h3>
              <p>
                ${section['format']}

                %if section.get('due') is not None:
                  <%
                      formatted_string = get_time_display(section['due'], course.due_date_display_format)
                      due_date = '' if len(formatted_string)==0 else _(u'due {date}').format(date=formatted_string)
                  %>
                  <em>
                  ${due_date}
                  </em>
                %endif
              </p>

              <section class="scores">
                %if len(section['scores']) > 0:
                  <h3> ${ _("Problem Scores: ") if section['graded'] else _("Practice Scores: ")} </h3>
                  <ol>
                    %for score in section['scores']:
                    <li>${"{0:.3n}/{1:.3n}".format(float(score.earned),float(score.possible))}</li>
                    %endfor
                  </ol>
                %else:
                  <h3 class="no-scores"> ${_("No problem scores in this section")} </h3>
                %endif
              </section>


            </li> <!--End section-->
            %endfor
            %if chapter_total > 0 and course.new_progress:
            <%
            chapter_percentageString = "{0:.0%}".format( float(chapter_total)) if chapter_earned > 0 and chapter_total > 0 else ""
            %>
            <li>
              <h3>${_("Total for ")}<a href="#">
                ${ chapter['display_name'] }
                %if chapter_total > 0 or chapter_earned > 0:
                  <span class="sr">
                    ${_("{earned:.3n} of {total:.3n} possible points").format( earned = float(chapter_earned), total = float(chapter_total) )}
                  </span></a>
                %endif
                %if chapter_total > 0 or chapter_earned > 0:
                  <span> ${"{0}".format( chapter_percentageString )}</span>
                %endif
              </h3>
            </li>
            %endif
          </ol> <!--End sections-->
        </li> <!--End chapter-->
        %endif
        %endfor
      </ol> <!--End chapters-->

    </section>
  </div>
</section>
