## mako



<%page expression_filter="h"/>
<%!
from openedx.core.djangolib.markup import HTML
%>

<%inherit file="/main.html" />
<%block name="bodyclass">view-in-course view-statictab ${course.css_class or ''}</%block>
<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
${HTML(fragment.head_html())}
</%block>
<%block name="js_extra">

<%include file="/mathjax_include.html" args="disable_fast_preview=True"/>
${HTML(fragment.foot_html())}
</%block>


<%block name="pagetitle">${tab['name']} | ${course.display_number_with_default | h}</%block>

<%include file="/courseware/course_navigation.html" args="active_page=active_page" />

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container">
      <div class="static_tab_wrapper">
        ${HTML(fragment.body_html())}
      </div>
    </section>
</main>
