# .coveragerc for lms
[run]
data_file = reports/lms/.coverage
source = lms,common/djangoapps
omit = lms/envs/*, common/djangoapps/terrain/*, common/djangoapps/*/migrations/*

[report]
ignore_errors = True

[html]
title = LMS Python Test Coverage Report
directory = reports/lms/cover

[xml]
output = reports/lms/coverage.xml
