section.course-content {
  .dullify {
    opacity: .4;
    @include transition();

    &:hover {
      opacity: 1;
    }
  }

  div.video {
    padding: 6px lh();
    margin: 0 (-(lh()));
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    background: #f3f3f3;
    display: block;
  }

  div.video-subtitles {
    display: table;
    @include clearfix();

    div.tc-wrapper {
      display: table-cell;
      width: 100%;
    }

    div.video-wrapper {
      float: left;
      width: flex-grid(6, 9);
      margin-right: flex-gutter(9);

      div.video-player {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;

        object {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        iframe#html5_player {
          border: none;
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      section.video-controls {
        @extend .clearfix;
        background: #333;
        position: relative;
        border: 1px solid #000;
        border-top: 0;
        color: #ccc;

        &:hover {
          ul, div {
            opacity: 1;
          }
        }

        div#slider {
          @extend .clearfix;
          @include border-radius(0);
          @include box-shadow(inset 0 1px 0 #eee, 0 1px 0 #555);
          background: #c2c2c2;
          border: none;
          border-top: 1px solid #000;
          border-bottom: 1px solid #000;
          height: 7px;
          @include transition(height 2.0s ease-in-out);

          div.ui-widget-header {
            background: #777;
            @include box-shadow(inset 0 1px 0 #999);
          }

          .ui-tooltip.qtip .ui-tooltip-content {
            background: $mit-red;
            border: 1px solid darken($mit-red, 20%);
            @include border-radius(2px);
            @include box-shadow(inset 0 1px 0 lighten($mit-red, 10%));
            color: #fff;
            font: bold 12px $body-font-family;
            margin-bottom: 6px;
            padding: 4px;
            text-align: center;
            -webkit-font-smoothing: antialiased;
            text-shadow: 0 -1px 0 darken($mit-red, 10%);
            overflow: visible;

            &::after {
              content: " ";
              width: 7px;
              height: 7px;
              display: block;
              position: absolute;
              bottom: -5px;
              left: 50%;
              margin-left: -3px;
              @include transform(rotate(45deg));
              background: $mit-red;
              border-right: 1px solid darken($mit-red, 20%);
              border-bottom: 1px solid darken($mit-red, 20%);
            }
          }

          a.ui-slider-handle {
            @include border-radius(15px);
            @include box-shadow(inset 0 1px 0 lighten($mit-red, 10%));
            background: $mit-red url(/static/images/slider-handle.png) center center no-repeat;
            border: 1px solid darken($mit-red, 20%);
            cursor: pointer;
            height: 15px;
            margin-left: -7px;
            top: -4px;
            width: 15px;
            @include transition(height 2.0s ease-in-out, width 2.0s ease-in-out);
            @include background-size(50%);

            &:focus, &:hover {
              background-color: lighten($mit-red, 10%);
              outline: none;
            }
          }

          &:hover {
            height: 14px;
            margin-top: -7px;

            a.ui-slider-handle {
              @include border-radius(20px);
              height: 20px;
              margin-left: -10px;
              top: -4px;
              width: 20px;
            }
          }
        }

        ul.vcr {
          float: left;
          margin-right: lh();
          @extend .dullify;

          li {
            float: left;
            margin-bottom: 0;

            a {
              @include box-shadow(1px 0 0 #555);
              border-bottom: none;
              border-right: 1px solid #000;
              display: block;
              cursor: pointer;
              height: 14px;
              padding: lh(.75);
              text-indent: -9999px;
              width: 14px;
              @include transition();

              &.play {
                background: url('/static/images/play-icon.png') center center no-repeat;

                &:hover {
                  background-color: #444;
                }
              }

              &.pause {
                background: url('/static/images/pause-icon.png') center center no-repeat;

                &:hover {
                  background-color: #444;
                }
              }

            }

            div#vidtime {
              padding-left: lh(.75);
              font-weight: bold;
              line-height: 46px; //height of play pause buttons
              -webkit-font-smoothing: antialiased;
            }
          }
        }

        div.secondary-controls {
          float: right;
          @extend .dullify;

          div.speeds {
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            @include box-shadow(1px 0 0 #555, inset 1px 0 0 #555);
            float: left;
            line-height: 0;
            padding-right: lh(.25);
            margin-right: 0;
            @include transition();
            cursor: pointer;
            -webkit-font-smoothing: antialiased;

            h3 {
              float: left;
              padding: 0 lh(.25) 0 lh(.5);
              font-weight: normal;
              text-transform: uppercase;
              font-size: 12px;
              letter-spacing: 1px;
              color: #999;
              line-height: 46px; //height of play pause buttons
            }

            p.active {
              @include inline-block();
              padding: 0 lh(.5) 0 0;
              margin-bottom: 0;
              font-weight: bold;
              display: none;
            }

            // fix for now
            ol#video_speeds {
              @include inline-block();

              li {
                float: left;
                color: #fff;
                cursor: pointer;
                padding: 0 lh(.25);
                line-height: 46px; //height of play pause buttons

                &.active {
                  font-weight: bold;
                }

                &:last-child {
                  border-bottom: 0;
                  margin-top: 0;
                  @include box-shadow(none);
                }

                &:hover {
                  background-color: #444;
                }
              }
            }

            &:hover {
              opacity: 1;
            }
          }

          a.add-fullscreen {
            float: left;
            display: block;
            padding: 0 lh(.5);
            margin-left: 0;
            line-height: 46px; //height of play pause buttons
            color: #797979;
            @include transition();
            border-right: 1px solid #000;
            @include box-shadow(1px 0 0 #555, inset 1px 0 0 #555);

            &:hover {
              color: #fff;
              text-decoration: none;
              background-color: #444;
            }
          }

          a.hide-subtitles {
            float: left;
            display: block;
            padding: 0 lh(.5);
            margin-left: 0;
            color: #797979;
            line-height: 46px; //height of play pause buttons
            width: 30px;
            text-indent: -9999px;
            font-weight: 800;
            background: url('/static/images/cc.png') center no-repeat;
            -webkit-font-smoothing: antialiased;
            @include transition();
            opacity: 1;
            position: relative;

            &:after {
              text-indent: 0;
              position: absolute;
              top: 0;
              right: -40px;
              content: "turn off";
              display: block;
              width: 70px;
              opacity: 0;
              visibility: hidden;
              @include transition();
            }

            &:hover {
              color: #fff;
              text-decoration: none;
              background-color: #444;
              padding-right: 80px;
              background-position: 11px center;

              &:after {
                right: 0;
                opacity: 1;
                visibility: visible;
              }
            }

            &.off {
              opacity: .7;

              &:after {
                content: "turn on";
              }
            }
          }
        }
      }
    }

    ol.subtitles {
      float: left;
      width: flex-grid(3, 9);
      padding-top: 10px;
      max-height: 460px;
      overflow: hidden;

      li {
        border: 0;
        color: #666;
        cursor: pointer;
        margin-bottom: 0px;
        padding: 0;
        @include transition(all, .5s, ease-in);

        &.current {
          color: #333;
          font-weight: 700;
        }

        &:hover {
          color: $mit-red;
        }

        div {
          margin-bottom: 8px;
        }

        div:empty {
          margin-bottom: 0px;
        }
      }
    }

    &.closed {
      @extend .trans;

      div.video-wrapper {
        width: flex-grid(9,9);
      }

      ol.subtitles {
        width: 0px;
        height: 0;
      }
    }

    &.fullscreen {
      background: rgba(#000, .95);
      border: 0;
      padding: 0;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      max-height: 100%;
      z-index: 999;

      div.tc-wrapper {
        padding: 20px;
        vertical-align: middle;
        min-height: 100%;
        overflow: hidden;
      }

      ol.subtitles {
        li {
          color: #aaa;

          &.current {
            color: #fff;
          }
        }
      }
    }
  }
}

div.course-wrapper.closed section.course-content div.video-subtitles {
  ol.subtitles {
    max-height: 577px;
  }
}
