.wrapper-account-settings{
    background: unset;
}
.wrapper-account-settings .wrapper-header{
    max-width: 1200px;
    border: none;
    height: auto;
}
.wrapper-account-settings .account-settings-container {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
}
.wrapper-account-settings .wrapper-header .header-title{
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 16px;
    color: #2e313c;
}
.account-settings-sections .account-nav{
    padding: 12px 22px;
    border-bottom: 1px solid  #f5f7fa;
}
.account-settings-sections .account-nav .account-nav-link.active{
    color: #346ca3;
}
.account-settings-sections .account-nav .account-nav-link{
    background: #fff;
    border: none;
    font-size: 14px;
}
.account-settings-sections .account-nav {
    .account-nav-link:active,.account-nav-link:hover,.account-nav-link:focus{
        color: $primary;
        background: #fff;
        box-shadow: none;
        border: none;
        outline: none;
    }

} 
.account-settings-sections{
    box-shadow: 0px 1px 4px 0px $border;
    border-radius: 3px;
    border: none;
    background: #fff;
    .tab-header{
        padding: 12px 22px;
        border-bottom: solid 1px #f5f7fa;
    }
}
.account-settings-sections .section{
    margin: 0 22px;
}
.account-settings-sections .section-header{
    font-size: 14px;
    color: $title;
    padding-top: 22px;
}
.account-settings-header-subtitle{
    color: $note;
}
.account-settings-sections .section .account-settings-header-subtitle, .account-settings-sections .section .account-settings-header-subtitle-warning{
    color: $note;
}
.account-settings-sections .section {
    #account-deletion-container{
        padding-bottom: 20px;
        .account-settings-header-subtitle{
            color: $font;
            font-size: 14px;
            margin-top: 14px;
        }
        .account-settings-header-subtitle-warning{
            font-size: 14px;
            color: #fa7f2b;
            margin-top: 14px;
            strong{
                font-weight: 400;
            }
        }
        .account-deletion-details .btn-outline-primary{
            @extend %btn-my-primary;
            padding: 0 60px !important;
        }
        .paragon__alert-danger{
            background-color: rgba(255, 228, 209, 0.64);
            border-radius: 3px;
            border: solid 1px rgba(250, 127, 43, 0.33);
            .icon-wrapper{
                color: #fa7f2b;
            }
            p{
                line-height: normal;
                color: #fa7f2b;
            }
        }
    }
}
.account-settings-sections .section .account-settings-section-body .u-field{
    padding: 10px 0;
    border: none;
}
.account-settings-sections .section .account-settings-section-body .u-field .field .field-label{
    font-size: 14px;
    margin-bottom: 15px;
}
.account-settings-sections .section .account-settings-section-body .u-field .field{
    margin-bottom: 0;
}
.account-settings-sections .section .account-settings-section-body .u-field-readonly .u-field-value{
    font-size: 14px;
    color: $note;
    padding: 0;
    line-height: 22px;
}
.account-settings-sections .section .account-settings-section-body .u-field .field .field-input{
    height: 34px;
}
.account-settings-sections .u-field-message-help-password{
    background-color: #b6dcfe;
	border-radius: 2px;
    border: solid 0px #4788c7;
    font-size: 14px;
    /* font-weight: normal; */
    /* font-stretch: normal; */
    /* letter-spacing: 0.1px; */
    color: #346ca3;
}
.account-settings-sections .u-field-value.field select{
    box-sizing: border-box;
    height: 34px;
}
.account-settings-sections .section .account-settings-section-body .u-field.u-field-dropdown .u-field-value, .account-settings-sections .section .account-settings-section-body .u-field.editable-never .account-settings-sections .section .account-settings-section-body .u-field.mode-display .u-field-value{
    margin-bottom: 0;
}
.account-settings-sections .section .account-settings-section-body .u-field.u-field-dropdown .u-field-value .u-field-title, .account-settings-sections .section .account-settings-section-body .u-field.editable-never .account-settings-sections .section .account-settings-section-body .u-field.mode-display .u-field-value .u-field-title{
    margin-bottom: 15px;
}


.account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link{
    background-color: #b6dcfe;
	border-radius: 2px;
    border: solid 1px #4788c7;
    font-size: 14px;
    color: #346ca3;
    padding: 7.5px 14px;
    font-weight: normal;
}
.account-settings-sections .section .account-settings-section-body .u-field .field [disabled].u-field-link{
    border: solid 1px #ccd1d9;
    background:  #f5f7fa;
    color: #ccd1d9;
}
.account-settings-sections .section .account-settings-section-body .u-field .field select{
    padding: 0 30px 0 15px;
}

.account-settings-sections .u-field-message-help{
    color: $font;
}
#accountsTabSections-tabpanel{
    .u-field-title.field-label{
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }
}

.account-settings-sections #accountsTabSections-tabpanel .section .account-settings-section-body .u-field{
    width: 32%;
    margin-right: 2%;
    &:last-child{
        margin-right: 0;
    }
}
@media screen and (max-width:991px){
    .wrapper-account-settings .wrapper-header .header-title{
        padding-left: 22px;
    }
}
@media screen and (max-width:770px){
    #orders-tab{
        padding: 10px 15px;
    }
    .wrapper-account-settings .wrapper-header .header-title{
        padding-left: 22px;
    }
    .account-settings-sections #accountsTabSections-tabpanel .section .account-settings-section-body .u-field{
        width: 100%;
        margin-right: 0;
    }
    .account-settings-sections #ordersTabSections-tabpanel .section .account-settings-section-body .u-field-order-link{
        position: absolute;
        bottom: 12px;
        right: 40px;
    }
    .account-settings-sections #ordersTabSections-tabpanel .u-field-order{
        padding-bottom: 50px;
        flex-wrap: wrap;
    }
    .u-field-order-lines{
        padding-top: 10px;
    }
}

.account-settings-sections #accountsTabSections-tabpanel .u-field-value.field{
    margin: 0;
    box-shadow: 0px 1px 4px 0px #b6dcfe;
    background-color: rgba(182, 220, 254, 0.1);
    text-align: center;
    padding: 35px 30px;
    .u-field-social-help{
        color: $font;
        font-size: 14px;
        min-height: 70px;
        display: inline-block;
        padding: 0;
        line-height: 1.5em;
    }
    .u-field-link{
        color: #346ca3;
        text-align: center;
    }
   
}
.account-settings-sections .section .account-settings-section-body .u-field .social-field-linked{
    .u-field-link{
        &:focus,&:hover,&:active{
            background-color: #b6dcfe;
            border-radius: 2px;
            border: solid 1px #4788c7;
        }
    }
}
.account-settings-sections #accountsTabSections-tabpanel{
    .social-field-unlinked {
        padding: 35px 30px;
        .u-field-link{
            background-color: #ffffff;
            border-radius: 3px;
            border: solid 1px #4788c7;
        }
    }
}
#accountsTabSections-tabpanel .section-header{
    padding-top: 22px;
    color: #2e313c;
}
.account-settings-sections #ordersTabSections-tabpanel  span.u-field-order-link{
    z-index: 1000;
    position: absolute;
    right: 40px;
    cursor: pointer;
    a.u-field-link {
        @extend %btn-my-primary;
        height: 34px;
        line-height: 34px;
        box-sizing: content-box;
        padding: 8px 15px;
        width: 100%;
    }
}
.account-settings-sections #ordersTabSections-tabpanel .section .account-settings-section-body .u-field .u-field-order span{
    padding: 0 20px;
    color: #2e313c;
}

.account-settings-sections #ordersTabSections-tabpanel .section .account-settings-section-body .u-field .u-field-order .u-field-order-lines span{
    padding: 0 20px;
    color: #656d78
}
.account-settings-sections #ordersTabSections-tabpanel .section .account-settings-section-body .u-field .u-field-order-lines .u-field-order-number{
    padding: 10px 20px 20px 20px;
}

.account-settings-sections #ordersTabSections-tabpanel .section .account-settings-section-body .u-field.u-field-order-orderId{
    border: none;
    padding-bottom: 18px;
}
 .account-settings-sections #ordersTabSections-tabpanel .section .account-settings-section-body .u-field{
    border: solid 1px #e6e9ed;
    padding: 0;
    font-size: 14px;
    border-radius: 4px;
}
.account-settings-sections #ordersTabSections-tabpanel .u-field-order{
    position: relative;
    // padding: 12px 0 0 0;
}
.account-settings-sections #ordersTabSections-tabpanel .section{
    padding-bottom: 20px;
}
.account-settings-sections .section .account-settings-section-body .u-field .field select ~ .icon-caret-down::after{

    content: '';
    display: none;
    height: 20px;
    width: 20px;
    bottom: 8px;
    border: none;
    background-size: 300px;
    background-image: url("/static/normal-theme/images/iconfont.png");
    background-position: -200px -120px;
    transform: scale(0.5); 
}
.account-settings-sections #about-tab{
    padding-left: 0;
}
.account-settings-sections #aboutTabSections-tabpanel{
    .phone-number,.change-phone-btn{
        padding-top: 7px;
        display: inline-block;
    }
}
.account-settings-sections #aboutTabSections-tabpanel .section .account-settings-section-body .u-field .u-field-message{
    padding-top: 34px;
}
.account-settings-sections #aboutTabSections-tabpanel .section .account-settings-section-body .u-field.u-field-dropdown .u-field-value .u-field-title, .account-settings-sections .section .account-settings-section-body .u-field.editable-never .account-settings-sections .section .account-settings-section-body .u-field.mode-display .u-field-value .u-field-title{
    font-size: 14px;
    line-height: 1;
}

.account-settings-sections #accountsTabSections-tabpanel .section .account-settings-section-body .u-field .u-field-message{
    width: 100%;
    margin: 0;
    padding: 0;
    .u-field-message-notification{
        width: 100%;
        // height: 30px;
        padding: 0;
        margin: 0;
        text-align: center;
        padding-top: 15px;
        display: inline-block;
    }
}
.account-settings-sections .section .account-deletion-details .paragon__modal-open .paragon__btn:not(.cancel-btn){
    @extend %btn-my-primary;
    // padding: 11px 14px;
}
.account-settings-sections .section .account-deletion-details .paragon__modal-open [disabled].paragon__btn:not(.cancel-btn){
    border: solid 1px #ccd1d9;
    background:  #f5f7fa;
    color: #ccd1d9;

}
.account-settings-sections .section .account-deletion-details .modal-alert .alert-content .alert-title{
    color: #fa7f2b;
    font-size: 16px;
    font-weight: normal;
}
.account-settings-sections .section .account-deletion-details .paragon__modal-open .next-steps{
    font-weight: normal;
    color: #656d78;
    font-size: 14px;
}
.account-settings-sections .section .account-deletion-details .paragon__modal-open .paragon__modal-title{
    font-size: 16px;
    color: #2e313c;
    font-weight: normal;
}
.delete-confirmation-wrapper .paragon__modal-open:focus .paragon__modal-dialog{
    box-shadow: none;
}
.paragon__modal-open,.paragon__modal-dialog:focus{
    outline: none;
    box-shadow: none;
}
.paragon__modal-dialog{
    box-shadow: 0px 3px 6px 0px 
		rgba(46, 49, 60, 0.41);
}
.paragon__form-group{
    #label-asInput1{
       color: #2e313c;
       font-size: 14px;  
    }
    #asInput1{
        background-color: #ffffff;
        border-radius: 2px;
        border: solid 1px #e6e9ed;
        outline: none;
        box-shadow: none;
        &:focus{
            box-shadow: 0px 1px 2px 0px 
                #b6dcfe;
            border-radius: 2px;
            border: solid 1px #4788c7;

        }
    }
    #error-asInput1{
        color: #d8353e;
        font-size: 14px;
    }
}
.paragon__modal-body .paragon__alert-warning{
    background-color: #fffaf6;
	box-shadow: 0px 1px 4px 0px 
		#ffe4d1;
	border-radius: 3px;
    border: solid 1px #ffe4d1;
    padding-top: 24px;
    padding-bottom: 24px;
    
    #delete-confirmation-body-warning-icon{
        color: #fa7f2b;  
    }
    p{
       font-size: 14px;
       color: #656d78; 
       padding-top: 20px;
       line-height: 1.5em;
       margin: 0;
       font-weight: normal;
    }
}
.u-field-message-notification .fa-check{
    vertical-align: sub;
}
.u-field .message-success{
    vertical-align: sub;
}
.account-settings-sections #aboutTabSections-tabpanel .section .account-settings-section-body .u-field .u-field-message .u-field-message-notification{
    padding: 38px 0 0 80px;
}
@media screen and (max-width:991px){
    .account-settings-sections #aboutTabSections-tabpanel .section .account-settings-section-body .u-field .u-field-message .u-field-message-notification{
        padding: 38px 0 0 0;
    }
}