{% extends "main_django.html" %}
{% load compressed %}{% load sekizai_tags i18n %}{% load url from future %}

{% block title %}<title>{% block pagetitle %}{% endblock %} | edX Wiki</title>{% endblock %}

{% block headextra %}
  {% compressed_css 'course' %}
  <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
{% endblock %}


{% block body %}
  {% if course %}
    {% include "course_navigation.html" with active_page_context="wiki" %}
  {% endif %}

  <section class="container wiki">

    {% block wiki_body %}
      
      {% block wiki_breadcrumbs %}{% endblock %}

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      
      {% block wiki_contents %}{% endblock %}
      
    {% endblock %}

  </section>

{% endblock %}
