## mako
<%inherit file="mako_base.html"/>

<%!
  from django.core.urlresolvers import reverse
  from mitxmako.templatetag_helpers import django_template_include, render_inclusion
  from wiki.templatetags.wiki_tags import wiki_form
%>

<%block name="title"><title>Add new article</title></%block>

<%block name="wiki_contents">
${django_template_include("wiki/includes/editormedia.html", context)}
<h1 class="page-header">Add new article</h1>

<form method="POST" class="form-horizontal">
  ${ render_inclusion(wiki_form, 'wiki/includes/form.html', True, django_context,  create_form ) }
  <div class="form-actions">
      <a href="${reverse('wiki:get', kwargs={'path' : parent_urlpath.path})}" class="btn btn-large">
        <span class="icon-circle-arrow-left"></span>
        Go back
      </a>
      <button type="submit" name="save_changes" class="btn btn-primary btn-large">
        <span class="icon-plus"></span>
        Create article
      </button>
  </div>  
</form>
</%block>
