## mako
<%inherit file="../main.html"/>
<%namespace name='static' file='../static_content.html'/>

<%block name="headextra">
  <%static:css group='course'/>
  
  <%block name="wiki_headextra" />
  
</%block>

<%block name="bodyextra">

## %if course:
##   <%include file="../course_navigation.html" args="active_page='wiki'" />
## %endif

  <div class="container" style="margin-top: 60px;">
  <%doc>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  </%doc>
    
    <%block name="wiki_breadcrumbs" />
    <%block name="wiki_contents" />
      
    <div style="padding: 50px 0;">
    <footer>
      <hr />
      <a href="https://github.com/benjaoming/django-wiki" class="pull-right"><img src="{{ STATIC_URL }}wiki/img/github_icon.png" /></a>
      <p>Powered by <a href="http://www.django-wiki.org">django-wiki</a>, an open source application under the <a href="http://www.gnu.org/licenses/quick-guide-gplv3.html">GPLv3</a> license. Let knowledge be the cure.</p>
      <div style="clear: both"></div>
    </footer>
    </div>

  </div> <!-- /container -->

</%block>
