.container.about {
  padding: 20px 30px 120px;

  > nav {
    margin-bottom: 80px;
    width: flex-grid(12);
    text-align: center;

    &::after {
      @extend .faded-hr-divider;
      display: block;
      content: "";
    }

    a {
      @include inline-block;
      @include transition(all, 0.15s, linear);
      margin: 0px 15px;
      padding: 20px 10px;
      border-bottom: 3px solid transparent;
      color: $lighter-base-font-color;
      text-transform: lowercase;
      letter-spacing: 1px;
      font-style: italic;
      font-family: $serif;

      &:hover, &.active {
        border-color: rgb(200,200,200);
        color: $base-font-color;
        text-decoration: none;
      }
    }
  }

  .vision {
    h1 + hr {
      margin-bottom: 80px;
    }

    .our-mission {
      @include clearfix;
      margin: 0 auto 100px;
      padding-bottom: 40px;
      border-bottom: 1px solid rgb(220,220,220);

      .logo {
        @include box-sizing(border-box);
        float: left;
        margin-right: flex-gutter();
        width: flex-grid(3);
        height: 115px;
        border-right: 1px solid rgb(200,200,200);
        text-align: center;

        > img {
          @include inline-block;
          margin-top: 26px;
          max-height: 60px;
        }
      }

      h2.mission-quote {
        @include box-sizing(border-box);
        float: right;
        margin: 0px;
        padding: 5px 0px 5px 20px;
        width: flex-grid(9);
        text-transform: none;
        font-style: italic;
        line-height: 1.4;
      }
    }

    .message {
      @include clearfix;
      position: relative;
      margin-bottom: 80px;
      padding-bottom: 80px;
      border-bottom: 1px solid rgb(220,220,220);

      hr {
        position: absolute;
        bottom: 0px;
        display: none;
        margin: 0px;
        width: 100%;
      }

      h2 {
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(200,200,200);
      }

      .photo {
        @include box-sizing(border-box);
        margin-top: 37px;
        padding: 1px;
        width: flex-grid(3);
        border: 1px solid rgb(210,210,210);
        background: rgb(255,255,255);

        img {
          display: block;
          width: 100%;
          background: rgb(245,245,245);
        }
      }

      > article {
        @include box-sizing(border-box);
        float: left;
        padding-left: 20px;
        width: flex-grid(9);
      }

      &.left {
        .photo {
          float: left;
          margin-right: flex-gutter();
        }
      }

      &.right {
        .photo {
          float: right;
          margin-left: flex-gutter();
        }
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }

    .partners {
      @include clearfix;

      > article {
        float: left;
        width: flex-grid(6);

        &:first-child {
          margin-right: flex-gutter();
        }
      }
    }
  }


  .faq {
    @include clearfix;

    nav.categories {
      @include box-sizing(border-box);
      float: left;
      margin-left: flex-gutter();
      padding: 20px;
      width: flex-grid(3);
      border: 1px solid rgb(220,220,220);

      a {
        display: block;
        margin: 0px -20px;
        padding: 12px 0px 12px 20px;
        text-align: left;
        letter-spacing: 1px;

        &:hover {
          background: rgb(245,245,245);
          text-decoration: none;
        }
      }
    }

    .responses {
      float: left;
      width: flex-grid(9);

      .category {
        padding-top: 40px;

        &:first-child {
          padding-top: 0px;
        }

        > h2 {
          margin-bottom: 40px;
          padding-bottom: 20px;
          border-bottom: 1px solid rgb(220,220,220);
        }
      }

      .response {
        margin-bottom: 40px;

        h3 {
          margin-bottom: 15px;
          font-weight: 700;
          font-family: $sans-serif;
        }
      }
    }
  }

  .press {
    .press-story {
      @include clearfix;
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid rgb(220,220,220);

      &:last-child {
        margin: 0px;
        padding: 0px;
        border: none;
      }

      .article-cover {
        @include box-sizing(border-box);
        float: left;
        overflow: hidden;
        margin-right: flex-gutter();
        width: flex-grid(2);
        height: 140px;
        border: 1px solid rgb(120,120,120);
        background: rgb(255,255,255);

        img {
          display: block;
          //min-height: 100%;
          //width: 100%
        }
      }

      .press-info {
        float: left;
        width: flex-grid(10);

        header {
          margin-bottom: 10px;

          h3 {
            margin-bottom: 5px;
            font-weight: 700;
            font-family: $sans-serif;
          }

          span.post-date {
            margin-right: 10px;
            color: $lighter-base-font-color;
          }
        }
      }
    }
  }

  .contact {
    @include clearfix;
    margin: 0 auto;

    .photo {
      @include box-sizing(border-box);
      float: left;
      padding: 1px;
      width: flex-grid(3);
      border: 1px solid rgb(210,210,210);
      background: rgb(255,255,255);

      img {
        max-width: 100%;
      }
    }

    .contacts {
      @include box-sizing(border-box);
      float: left;
      padding-left: 40px;
      width: flex-grid(9);

      ul {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
          margin-bottom: 10px;
        }
      }
    }
  }
}
