.course-info {
  .container {
    padding-bottom: 120px;
  }

  header.course-profile {
    @include background-image(url($homepage-bg-image));
    @include box-shadow(inset 0 1px 5px 0 rgba(0,0,0, 0.1));
    position: relative;
    overflow: hidden;
    margin-top: $header_image_margin;
    padding-top: 150px;
    width: 100%;
    height: 280px;
    border-bottom: 1px solid $border-color-3;
    background: $course-profile-bg;
    background-size: cover;

    .intro-inner-wrapper {
      @include box-shadow(0 4px 25px 0 rgba(0,0,0, 0.5));
      @include box-sizing(border-box);
      position: relative;
      z-index: 2;
      margin: 0 auto;
      min-width: 760px;
      max-width: 1200px;
      border: 1px solid $border-color-3;
      background: $course-header-bg;

      > div.table {
        display: table;
        width: 100%;
      }
      .intro {
        @include box-sizing(border-box);
        @include clearfix;
        position: relative;
        z-index: 2;
        display: table-cell;
        padding: 20px 20px;
        width: flex-grid(8) + flex-gutter();
        vertical-align: middle;

        > hgroup {
          @include box-shadow(0 1px 0 0 rgba(255,255,255, 0.6));
          margin-bottom: 20px;
          padding-bottom: 20px;
          width: 100%;
          border-bottom: 1px solid $border-color-2;

          h1 {
            @include inline-block;
            margin: 0;
            color: $base-font-color;
            text-align: left;
            text-shadow: 0 1px rgba(255,255,255, 0.6);
            letter-spacing: 0px;
            font-weight: normal;

            a {
              margin-left: 15px;
              color: $lighter-base-font-color;
              text-transform: none;
              text-shadow: 0 1px rgba(255,255,255, 0.6);
              letter-spacing: 0px;
              font: italic 800 0.6em/1em $sans-serif;

              &:hover {
                color: $link-color;
              }
            }
          }

          h2 {
            @include inline-block;
            margin: 0;

            a {
              color: $lighter-base-font-color;
              text-transform: none;
              text-shadow: 0 1px rgba(255,255,255, 0.6);
              letter-spacing: 0px;
              font: italic 800 1em/1em $sans-serif;

              &:hover {
                color: $link-color;
              }
            }
          }
        }

        .main-cta {
          @include clearfix;
          float: left;
          margin-right: flex-gutter();
          width: flex-grid(12);

          > a.find-courses, a.register {
            @include button(shiny, $button-color);
            @include box-sizing(border-box);
            display: block;
            padding: 10px 0px;
            width: flex-grid(6);
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            font: normal 1.2rem/1.6rem $sans-serif;

            &:hover {
              color: rgb(255,255,255);
            }
            @include border-radius(3px);
          }

          a {
            &:hover, &:visited {
              text-decoration: none;
            }
          }

          strong {
            @include button(shiny, $button-color);
            @include box-sizing(border-box);
            display: block;
            float: left;
            padding: 10px 0px;
            width: flex-grid(3, 8);
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            font: normal 1.2rem/1.6rem $sans-serif;

            &:hover {
              color: rgb(255,255,255);
            }
            @include border-radius(3px);
          }

          span.register {
            @include box-sizing(border-box);
            display: block;
            float: left;
            margin: 1px flex-gutter(8) 0 0;
            padding: 10px 0px 8px;
            width: flex-grid(5, 8);
            border: 1px solid darken($button-archive-color, 50%);
            background: $button-archive-color;
            color: darken($button-archive-color, 50%);
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            @include transition();
          }

          #register_error {
            display: none;
            margin-top: 5px;
            padding: 12px;
            border: 1px solid rgb(202, 17, 17);
            background: $error-red;
            color: rgb(143, 14, 14);
          }
          @include transition(all, 0.15s, linear);
        }
      }

      .media {
        @include box-sizing(border-box);
        position: relative;
        z-index: 2;
        display: table-cell;
        padding: 20px;
        width: flex-grid(4);
        background: transparent;

        .hero {
          position: relative;
          overflow: hidden;
          height: 100%;
          border: 1px solid $border-color-3;

          .play-intro {
            @include background-image(linear-gradient(-90deg, rgba(0,0,0, 0.65), rgba(0,0,0, 0.75)));
            @include border-radius(4px);
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -40px;
            margin-left: -40px;
            width: 80px;
            height: 80px;
            border: 2px solid rgba(255,255,255, 0.8);

            &::after {
              position: absolute;
              top: 50%;
              left: 50%;
              display: block;
              margin-top: -16px;
              margin-left: -11px;
              color: rgba(255,255,255, 0.8);
              content: "\25B6";
              text-shadow: 0 -1px rgba(0,0,0, 0.8);
              font: normal 2em/1em $sans-serif;
            }
            @include box-shadow(0 1px 12px 0 rgba(0,0,0, 0.4));
          }

          img {
            display: block;
            width: 100%;
          }
        }

        &:hover {
          text-decoration: none;

          .play-intro {
            @include background-image(linear-gradient(-90deg, rgba(0,0,0, 0.75), rgba(0,0,0, 0.8)));
            @include box-shadow(0 1px 12px 0 rgba(0,0,0, 0.5));
            border-color: rgba(255,255,255, 0.9);

            &::after {
              color: rgba(255,255,255, 1);
            }
          }
        }
      }
      @include clearfix;
    }
    @include box-shadow(0 1px 80px 0 rgba(0,0,0, 0.5));
  }

  .container {
    @include clearfix;

    nav {
      @include box-sizing(border-box);
      @include clearfix;
      margin: 40px 0;
      width: flex-grid(12);
      border-bottom: 1px solid $border-color-2;

      &::after {
        @extend .faded-hr-divider;
        display: none;
        content: "";
      }

      a {
        @include inline-block;
        margin: 0 15px;
        padding: 0px 5px 15px;
        border-bottom: 3px solid transparent;
        color: $lighter-base-font-color;
        text-align: center;
        text-transform: lowercase;
        letter-spacing: 1px;

        &:first-child {
          margin-left: 0px;
        }

        &:hover, &.active {
          border-color: $border-color-2;
          color: $base-font-color;
          text-decoration: none;
        }
      }
    }
  }

  .details {
    float: left;
    margin-right: flex-gutter();
    width: flex-grid(8);

    .inner-wrapper {
      > section {
        margin-bottom: 40px;
      }

      .course-staff {

        .teacher {
          @include clearfix;
          margin-bottom: 40px;

          h3 {
            margin-bottom: 15px;
            color: $base-font-color;
            text-transform: none;
            font-weight: 700;
            font-family: $sans-serif;
          }

          .teacher-image {
            float: left;
            overflow: hidden;
            margin: 0 15px 0px 0;
            padding: 1px;
            width: 115px;
            height: 115px;
            border: 1px solid $border-color-2;
            background: rgb(255,255,255);

            img {
              display: block;
              min-height: 100%;
              max-width: 100%;
            }
          }
        }
      }

      .prerequisites, .syllabus {
        ul {
          li {
            font: normal 1em/1.6em $serif;
          }
          ul {
            margin: 5px 0px 10px;
          }
        }
      }

      .faq {
        @include clearfix;

        .responses {
          float: left;
        }

        .response {
          margin-bottom: 40px;

          h3 {
            margin-bottom: 15px;
            font-weight: 700;
            font-family: $sans-serif;
          }
        }
      }
    }
  }

  .course-sidebar {
    @include box-sizing(border-box);
    float: left;
    width: flex-grid(4);

    > section {
      @include box-shadow(inset 0 0 3px 0 rgba(0,0,0, 0.15));
      border: 1px solid $border-color-2;

      &.course-summary {
        margin-bottom: 220px;
        padding: 16px 20px 30px;
        border-top: none;
      }

      &.additional-resources {
        padding: 30px;

        .opencourseware {
          margin-bottom: 20px;
          width: 266px;
          height: 31px;
          background: url('../images/opencourseware.png') 0 0 no-repeat;
          text-indent: -9999px;
        }

        ul {
          margin-bottom: 0;
          padding-left: 0;
        }

        li {
          padding-left: 29px;
          background: url('../images/link-icon.png') left center no-repeat;
          list-style: none;
        }
      }
    }

    header {
      position: relative;
      margin-bottom: 30px;
      padding-bottom: 16px;
      text-align: center;

      &::after {
        @extend .faded-hr-divider;
        position: absolute;
        bottom: 0px;
        z-index: 1;
        display: block;
        width: 100%;
        height: 1px;
        content: "";
      }

      a.university-name {
        @include inline-block;
        margin-right: 15px;
        padding-right: 15px;
        border-right: 1px solid $border-color-2;
        color: $base-font-color;
        letter-spacing: 0px;
        font-weight: 800;
        font-style: italic;
        font-family: $sans-serif;

        &:hover {
          color: $lighter-base-font-color;
        }
      }

      .social-sharing {
        @include box-sizing(border-box);
        position: relative;
        z-index: 2;
        float: left;

        float: none;
        width: flex-grid(12);
        height: 44px;
        text-align: center;

        &:hover {
          .sharing-message {
            top: 56px;
            opacity: 1.0;
          }
        }

        .sharing-message {
          @include background-image(linear-gradient(-90deg, rgba(0,0,0, 0.9) 0%,
                                                            rgba(0,0,0, 0.7) 100%));
          @include border-radius(4px);
          @include box-sizing(border-box);
          position: absolute;
          top: 65px;
          left: 50%;
          float: right;
          margin-left: -110px;
          padding: 6px 10px;
          width: 220px;
          border: 1px solid rgba(0,0,0, 0.5);
          color: rgb(255,255,255);
          text-align: center;
          font-style: italic;
          font-size: 0.9em;
          font-family: $serif;
          opacity: 0;

          &:hover {
            opacity: 0;
          }
          @include box-shadow(0 4px 25px 0 rgba(0,0,0, 0.5));
          @include transition(all, 0.15s, ease-out);
        }

        .share {
          @include inline-block;
          margin-right: 10px;
          width: 44px;
          height: 44px;
          opacity: 0.5;

          &:hover {
            opacity: 1.0;
          }

          img {
            width: 100%;
          }

          &:last-child {
            margin-right: 0px;
          }
          @include transition(all, 0.15s, linear);
        }
      }

      h1 {
        margin-bottom: 0;
        color: #999;
        letter-spacing: 0;
        font: 1em $serif;
      }
    }

    .important-dates {
      margin: 0px;
      padding: 0px 10px;
      list-style: none;

      li {
        @include clearfix;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px dotted $border-color-2;

        &.prerequisites {
          margin: 0 -10px 0;
          padding: 10px;
          border: 1px solid $border-color-2;

          p {
            margin-right: 10px;
          }
        }

        &:hover {
          .icon {
            opacity: 1.0;
          }
        }

        p {
          float: left;
          color: $lighter-base-font-color;
          font-family: $sans-serif;
        }

        .icon {
          @include transition(all, 0.15s, linear);
          float: left;
          margin: 2px 10px 0 0;
          width: 19px;
          height: 19px;
          background-size: cover;
          opacity: 0.6;

          &.start {
            @include background-image(url('../images/portal-icons/calendar-icon.png'));
          }

          &.end {
            @include background-image(url('../images/portal-icons/calendar-icon.png'));
          }

          &.length {
            @include background-image(url('../images/portal-icons/chart-icon.png'));
          }

          &.course-number {
            @include background-image(url('../images/portal-icons/course-info-icon.png'));
          }

          &.effort {
            @include background-image(url('../images/portal-icons/pencil-icon.png'));
          }

          &.prereq {
            @include background-image(url('../images/portal-icons/prerec-icon.png'));
          }
        }

        span {
          float: right;
          font-weight: 700;
        }
      }
    }
  }
}
