.find-courses, .university-profile {
  padding-bottom: 60px;
  background: $course-profile-bg;

  header.search {
    @include background-image(url($homepage-bg-image));
    @include box-shadow(inset 0 -1px 8px 0 rgba(0,0,0, 0.2), inset 0 1px 12px 0 rgba(0,0,0, 0.3));
    margin-top: $header_image_margin;
    width: 100%;
    height: 430px;
    border-bottom: 1px solid $border-color-3;
    background: $course-profile-bg;
    background-position: center top !important;
    background-size: cover;

    .inner-wrapper {
      position: relative;
      margin: 0 auto;
      padding-top: 200px;
      min-width: 760px;
      max-width: 1200px;
      width: flex-grid(12);
      height: 120px;
      text-align: center;

      > hgroup {
        @include box-shadow(0 4px 25px 0 rgba(0,0,0, 0.5));
        position: relative;
        z-index: 2;
        padding: 20px 30px;
        border: 1px solid $border-color-3;
        background: #FFF;
        background: $course-header-bg;
      }

      &.main-search, &.university-search {
        text-align: center;

        hgroup {
          @include inline-block;
        }

        .logo {
          @include inline-block;
          position: relative;
          margin-right: 30px;
          padding-right: 30px;
          height: 80px;
          vertical-align: middle;

          &::after {
            @extend .faded-vertical-divider;
            position: absolute;
            top: 0px;
            right: 0px;
            display: block;
            height: 80px;
            content: "";
          }

          img {
            height: 100%;
          }
        }

        h1 {
          color: $base-font-color;
          text-transform: none;
          letter-spacing: 0px;
          font-weight: 800;
          font-style: italic;
          font-family: $sans-serif;
        }

        h1, h2 {
          @include inline-block;
          margin-bottom: 0px;
          vertical-align: middle;
          text-shadow: 0 1px rgba(255,255,255, 0.8);
          letter-spacing: 1px;
        }
      }
    }
  }

  section.message {
    @include clearfix;
    @include columns(2 20px);
    margin-top: 20px;
    padding-top: 60px;
    border-top: 1px solid $border-color-2;
  }
}
