$blue: #5597dd;
$lightGrey: #edf1f5;
$mediumGrey: #ced2db;
$darkGrey: #8891a1;
$extraDarkGrey: #3d4043;
$paleYellow: #fffcf1;

@mixin button {
  @include box-shadow(0 1px 0 rgba(255, 255, 255, .3) inset, 0 0 0 rgba(0, 0, 0, 0));
  display: inline-block;
  padding: 4px 20px 6px;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 700;
  font-size: 14px;
  font-family: $sans-serif;

  &.disabled {
    border: 1px solid $lightGrey !important;
    border-radius: 3px !important;
    background: $lightGrey !important;
    color: $darkGrey !important;
    cursor: none;
    pointer-events: none;
    &:hover {
      box-shadow: 0 0 0 0 !important;
    }
  }

  &:hover {
    @include box-shadow(0 1px 0 rgba(255, 255, 255, .3) inset, 0 1px 1px rgba(0, 0, 0, .15));
    text-decoration: none;
  }
  @include transition(background-color .15s, box-shadow .15s);
}

@mixin blue-button {
  @include button;
  @include linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
  border: 1px solid #437fbf;
  border-radius: 3px;
  background-color: $blue;
  color: #fff;

  &:hover {
    background-color: #62aaf5;
    color: #fff;
  }
}

@mixin grey-button {
  @include button;
  @include linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
  @include box-shadow(0 1px 0 rgba(255, 255, 255, .3) inset);
  border: 1px solid $darkGrey;
  border-radius: 3px;
  background-color: #d1dae3;
  color: #6d788b;

  &:hover {
    background-color: #d9e3ee;
    color: #6d788b;
  }
}

.edge-landing {  
  border-top: 5px solid $blue;

  header {
    @include clearfix;
    border-bottom: 3px solid $blue;
    background: $extraDarkGrey;
  }

  a:hover {
    text-decoration: none;
  }

  .main-wrapper {
    margin: auto;
    width: 942px;

    .content {
      @include box-shadow(0 1px 2px rgba(0, 0, 0, .1));
      padding: 40px 60px 36px;
      border: 1px solid $darkGrey;
      border-radius: 3px;
      background: #fff;
      @include clearfix;
    }

    .log-in-form {
      float: left;
      margin-right: 50px;
      padding-right: 49px;
      width: 470px;
      border-right: 1px solid $lightGrey;

      .row {
        margin-bottom: 20px;
        border-bottom: none;
      }

      label {
        font-weight: 700;
        font-style: normal;
        font-size: 13px;
        font-family: $sans-serif;
      }

      input {
        width: 100%;
        height: 43px;
        font-weight: 300;
        font-style: normal;
        font-size: 21px;
        font-family: $sans-serif;
      }

      .log-in-submit-button {
        @include blue-button;
        padding: 8px 20px 10px;
        width: 130px;
        text-shadow: none;
        font-size: 16px;
      }

      .forgot-button {
        margin-left: 10px;
        font-size: 12px;
        line-height: 41px;
      }
    }

    .sign-up {
      float: left;
      width: 250px;

      .register-button {
        @include grey-button;
        margin-top: 20px;
        padding: 10px 20px 12px;
      }
    }

    h2 {
      margin-bottom: 30px;
      color: #3c3c3c;
      text-transform: none;
      letter-spacing: 0;
      font-weight: 300;
      font-size: 24px;
      font-family: $sans-serif;
    }

    h3 {
      margin-bottom: 30px;
      color: #3c3c3c;
      font-weight: 300;
      font-size: 24px;
      font-family: $sans-serif;
    }

    p {
      font-family: $sans-serif;
    }
  }

  .edx-edge-logo-large {
    display: block;
    overflow: hidden;
    margin: 150px auto 50px;
    width: 263px;
    height: 72px;
    background: url(../images/edge-logo-large.png) no-repeat;
    text-indent: -9999px;
  }

  #signup-modal {
    padding: 0;
    border: none;
    background: none;

    .inner-wrapper {
      border-radius: 3px;
    }
  }

  #register {
    font-family: $sans-serif;

    * {
      color: #3c3c3c;
      text-transform: none;
      letter-spacing: 0;
      font-style: normal;
      font-family: $sans-serif;
    }

    header {
      margin-bottom: 15px;
      padding-top: 13px;
      border: none;
      background: none;
    }

    h2 {
      font-size: 21px;
    }

    label {
      font-weight: 700;
      font-size: 13px;
    }

    input[type="email"],
    input[type="text"],
    input[type="password"] {
      margin-bottom: 15px;
      height: 40px;
      font-weight: 400;
      font-size: 13px;
    }

    input[type="submit"] {
      @include blue-button;
      display: block;
      color: #fff;
      text-shadow: none;
    }

    textarea {
      height: 50px;
      font-weight: 400;
      font-size: 13px;
    }

    .input-group {
      margin-bottom: 20px;
      padding: 0;
    }

    .terms-of-service {
      margin-bottom: 5px;
    }

    .honor-code {
      margin-bottom: 20px;
    }

    .login-extra {
      display: none;
    }

    .modal-form-error {
      color: #fff;
      font-size: 14px;
    }
  }
}