section.outside-app {
  @extend .container;
  @include text-align(left);
  padding: ($baseline*4) 0;

  h1 {
    @extend h2;
    margin-bottom: ($baseline*2);
  }

  p, ul, form {
    max-width: 600px;
    margin: 0 auto;
    font: normal 1em/1.6em $serif;
  }

  li {
    margin-top: 12px;
  }
}
