.password-reset {
  @include border-radius(4px);
  @include box-sizing(border-box);
  margin: 120px auto 0;
  padding: 0px 40px 40px;
  width: flex-grid(5);
  border: 1px solid rgb(200,200,200);
  background: rgb(245,245,245);

  header {
    position: relative;
    z-index: 2;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 28px 20px 0px;

    &::before {
      @include background-image(radial-gradient(50% 50%, circle closest-side, rgba(255,255,255, 0.8) 0%, rgba(255,255,255, 0) 100%));
      position: absolute;
      top: -140px;
      left: 0px;
      z-index: 1;
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 400px;
      content: "";
    }

    hr {
      @extend .faded-hr-divider-light;
      position: relative;
      z-index: 2;
      margin: 0px;
      border: none;

      &::after {
        @extend .faded-hr-divider;
        position: absolute;
        top: -1px;
        bottom: 0px;
        display: block;
        content: "";
      }
    }

    h2 {
      position: relative;
      z-index: 2;
      text-align: center;
      text-shadow: 0 1px rgba(255,255,255, 0.4);
    }
  }

  > p {
    margin-bottom: 20px;
  }

  form {
    position: relative;
    z-index: 2;
    margin-bottom: 12px;

    label {
      display: none;
    }

    input[type="checkbox"] {
      margin-right: 5px;
    }

    input[type="email"],
    input[type="text"],
    input[type="password"] {
      display: block;
      margin-bottom: 20px;
      width: 100%;
      height: 45px;
      border: 1px solid red !important;
      background: rgb(255,255,255);
    }

    .submit {
      padding-top: 10px;

      input[type="submit"] {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 45px;
      }
    }
  }
  @include box-shadow(0 5px 50px 0 rgba(0,0,0, 0.3));
}
