// Pearson VUE Test Center Registration
// =====

.testcenter-register {
	@include clearfix;
	padding: 60px 0px 120px;

	// reset - horrible, but necessary
	p, a, h1, h2, h3, h4, h5, h6 {
		font-family: $sans-serif !important;
	}

	// basic layout
	.introduction {
		width: flex-grid(12);
	}

	.message-status-registration {
		width: flex-grid(12);
	}

	.content, aside {
		@include box-sizing(border-box);
	}

	.content {
		float: left;
		margin-right: flex-gutter();
		width: flex-grid(8);
	}

	aside {
		float: left;
		margin: 0;
		width: flex-grid(4);
	}

	// introduction
	.introduction {

		header {
			
			h2 {
				margin: 0;
				color: $lighter-base-font-color;
				font-size: 16px;
				font-family: $sans-serif;
			}

			h1 {
				text-align: left;
				font-size: 34px;
				font-family: $sans-serif;
			}			
		}
	}

	// content
	.content {
		background: rgb(255,255,255);
	}

	// form
	.form-fields-primary, .form-fields-secondary {
		@include box-shadow(0 1px 2px 0 rgba(0,0,0, 0.1));
		border-bottom: 1px solid rgba(0,0,0,0.25);
	}

	form {
		@include border-radius(3px);
		border: 1px solid rgb(216, 223, 230);

		.instructions, .note {
			margin: 0;
			padding: ($baseline*1.5) ($baseline*1.5) 0 ($baseline*1.5);
			color: tint($base-font-color, 20%);
			font-size: 14px;

			strong {
				font-weight: normal;
			}

			.title, .indicator {
				color: $base-font-color;
				font-weight: 700;
			}
		}

		fieldset {
			padding: ($baseline*1.5);
			border-bottom: 1px solid rgba(216, 223, 230, 0.50);
		}

		.form-actions {
			@include clearfix();
			padding: ($baseline*1.5);

			button[type="submit"] {
				@include button(simple, $blue);
				@include border-radius(3px);
				display: block;
				padding: ($baseline*0.75) $baseline;
				text-align: center;
				letter-spacing: 0;
				font: bold 15px/1.6rem $sans-serif;


				&:disabled {
					opacity: 0.3;
				}
				@include box-sizing(border-box);
			}

			.action-primary {
				float: left;
				margin-right: flex-gutter(2);
				width: flex-grid(5,8);
			}

			.action-secondary {
				display: block;
				float: left;
				margin-top: $baseline;
				padding: ($baseline/4);
				width: flex-grid(2,8);
				text-align: right;
				text-transform: uppercase;
				font-size: 13px;
			}

			&.error {

			}
		}

		.list-input {
			margin: 0;
			padding: 0;
			list-style: none;

			.field {
				margin: 0 0 $baseline 0;
				padding: 0 0 $baseline 0;
				border-bottom: 1px dotted rgba(216, 223, 230, 0.5);

				&:last-child {
					margin-bottom: 0;
					padding-bottom: 0;
					border: none;
				}

				&.disabled, &.submitted {
					color: rgba(0,0,0,.25);

					label {
						cursor: text;

						&:after {
							margin-left: ($baseline/4);
						}
					}

					textarea, input {
						background: rgb(255,255,255);
						color: rgba(0,0,0,.25);
					}
				}

				&.disabled {
					label:after {
						color: rgba(0,0,0,.35);
						content: "(Disabled Currently)";
					}
				}

				&.submitted {

					label:after {
						content: "(Previously Submitted and Not Editable)";
					}

					.value {
						@include border-radius(3px);
						padding: $baseline ($baseline*0.75);
						border: 1px solid #C8C8C8;
						background: #FAFAFA;
					}
				}

				&.error {

					label {
						color: $red;
					}

					input, textarea {
						border-color: tint($red,50%);
					}
				}

				&.required {

					label {
						font-weight: bold;
					}

					label:after {
						margin-left: ($baseline/4);
						content: "*";
					}
				}

				label, input, textarea {
					display: block;
					font-style: normal;
					font-family: $sans-serif;
				}

				label {
					@include transition(color, 0.15s, ease-in-out);
					margin: 0 0 ($baseline/4) 0;

					&.is-focused {
						color: $blue;
					}
				}

				input, textarea {
					padding: ($baseline/2);
					width: 100%;
					height: 100%;					

					&.long {
						width: 100%;
					}

					&.short {
						width: 25%;
					}
				}

				textarea.long {
					height: ($baseline*5);
				}
			}

			.field-group {
				@include clearfix();
				margin: 0 0 $baseline 0;
				padding: 0 0 $baseline 0;
				border-bottom: 1px dotted rgba(216, 223, 230, 0.5);

				.field {
					display: block;
					float: left;
					margin: 0 $baseline ($baseline/2) 0;
					padding-bottom: 0;
					border-bottom: none;

					input, textarea {
						width: 100%;
					}
				}

				&.addresses {

					.field {
						width: 45%;
					}
				}

				&.postal-2 {
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: none;

				}

				&.phoneinfo {

				}
			}
		}

		&.disabled {

			> .instructions {
				display: none;
			}

			.field {
				opacity: 0.6;

				.label, label {
					cursor: auto;
				}
			}

			.form-actions {
				display: none;
			}
		}
		@include box-shadow(0 1px 2px 0 rgba(0,0,0, 0.2));
	}

	// form - specifics
	.form-fields-secondary {
		display: none;

		&.is-shown {
			display: block;
		}

		&.disabled {

			fieldset {
				opacity: 0.5;
			}
		}
	}

	.form-fields-secondary-visibility {
		display: block;
		margin: 0;
		padding: $baseline ($baseline*1.5) 0 ($baseline*1.5);
		font-size: 13px;

		&.is-hidden {
			display: none;
		}
	}


	// aside
	aside {
		padding-left: $baseline;

		.message-status {
			@include border-radius(3px);
			margin: 0 0 ($baseline*2) 0;
			padding: 0;
			border: 1px solid #ccc;
			background: tint($yellow,90%);

			> * {
				padding: $baseline;
			}

			p {
				margin: 0 0 ($baseline/4) 0;
				padding: 0;
				font-size: 13px;
			}

			.label, .value {
				display: block;
			}

			h3, h4, h5 {
				font-family: $sans-serif;
			}

			h3 {
				padding-bottom: ($baseline*0.75);
				border-bottom: 1px solid tint(rgb(0,0,0), 90%);
			}

			h4 {
				margin-bottom: ($baseline/4);
			}

			.status-list {
				margin: 0;
				padding: $baseline;
				list-style: none;

				> .item {
					@include clearfix();
					margin: 0 0 ($baseline*0.75) 0;
					padding: 0 0 ($baseline/2) 0;
					border-bottom: 1px solid tint(rgb(0,0,0), 95%);

					&:last-child {
						margin-bottom: 0;
						padding-bottom: 0;
						border-bottom: none;
					}

					.title {
						position: relative;
						margin-bottom: ($baseline/4);
						font-weight: bold;
						font-size: 14px;

						&:after {
							position: absolute;
							top: 0;
							right: $baseline;
							margin-left: $baseline;
							content: "not started";
							text-transform: uppercase;
							font-weight: normal;
							font-size: 11px;
							opacity: 0.5;
						}
					}

					.details, .item, .instructions {
						@include transition(opacity, 0.10s, ease-in-out);
						font-size: 13px;
						opacity: 0.65;
					}

					&:before {
						@include border-radius($baseline);
						position: relative;
						top: 3px;
						display: block;
						float: left;
						margin: 0 ($baseline/2) 0 0;
						width: ($baseline/2);
						height: ($baseline/2);
						background: $dark-gray;
						content: "";
					}

					// specific states
					&.status-processed {

						&:before {
							background: green;
						}

						.title:after {
							color: green;
							content: "processed";
						}

						&.status-registration {
							.exam-link {
								font-weight: 600 !important;
							}
						}
					}

					&.status-pending {

						&:before {
							border: 1px dotted gray;
							background: transparent;
						}

						.title:after {
							color: gray;
							content: "pending";
						}
					}

					&.status-rejected {

						&:before {
							background: $red;
						}

						.title:after {
							color: red;
							content: "rejected";
						}

						.call-link {
							font-weight: bold;
						}
					}

					&.status-initial {

						&:before {
							border: 1px dotted gray;
							background: transparent;
						}

						.title:after {
							color: gray;
						}
					}

					&:hover {

						.details, .item, .instructions {
							opacity: 1.0;
						}
					}
				}

				// sub menus
				.accommodations-list, .error-list {
					margin: ($baseline/2) 0;
					padding: 0;
					list-style: none;
					font-size: 13px;

					.item {
						margin: 0 0 ($baseline/4) 0;
						padding: 0;
					}
				}
			}

			// actions
			.contact-link {
				font-weight: 600;
			}

			.actions {
				@include box-shadow(inset 0 1px 1px 0px rgba(0,0,0,0.2));
				padding-top: ($baseline*0.75);
				border-top: 1px solid tint(rgb(0,0,0), 90%);
				background: tint($yellow,70%);
				font-size: 14px;

				.title {
					font-size: 14px;
				}

				.label, .value {
					display: inline-block;					
				}

				.label {
					margin-right: ($baseline/4);
				}

				.value {
					font-weight: bold;
				}

				.message-copy {
					font-size: 13px;
				}

				.exam-button {
				  @include button(simple, $pink);
				  display: block;
				  margin: ($baseline/2) 0 0 0;
				  padding: ($baseline/2) $baseline;
				  font-weight: bold;
				  font-size: 13px;

				  &:hover {
				    text-decoration: none;
				  }
				}
			}

			.registration-number {

				.label {
					text-transform: none;
					letter-spacing: 0;
				}

				
			}

			.registration-processed {

				.message-copy {
					margin: 0 0 ($baseline/2) 0;
				}
			}
		}

		> .details {
			margin: 0 0 $baseline 0;
			padding: 0 $baseline $baseline $baseline;
			border-bottom: 1px solid rgba(216, 223, 230, 0.5);
			font-size: 14px;
			font-family: $sans-serif;

			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
				border: none;
			}

			h4 {
				margin: 0 0 ($baseline/2) 0;
				color: #ccc;
				text-transform: uppercase;
				letter-spacing: 0.5px;
				font-size: 14px;
				font-family: $sans-serif;
			}

			.label, .value {
				display: inline-block;
			}

			.label {
				margin-right: ($baseline/2);
				color: rgba(0,0,0,.65);
			}

			.value {
				color: rgb(0,0,0);
				font-weight: 600;
			}
		}

		.details-course {

		}

		.details-registration {

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					margin: 0 0 ($baseline/4) 0;
				}
			}
		}
	}

	// status messages
	.message {
		@include border-radius(3px);
		display: none;
		margin: $baseline 0;
		padding: ($baseline/2) $baseline;

		&.is-shown {
			display: block;
		}

		.message-copy {
			font-size: 14px;
		}

		// registration status
		&.message-flash {
			@include border-radius(3px);
			position: relative;
			margin: 0 0 ($baseline*2) 0;
			padding-top: ($baseline*0.75);
			border: 1px solid #ccc;
			background: tint($yellow,70%);
			font-size: 14px;

			.message-title, .message-copy {
			}

			.message-title {
				margin: 0 0 ($baseline/4) 0;
				font-weight: bold;
				font-size: 16px;
			}

			.message-copy {
				font-size: 14px;
			}

			.contact-button {
				@include button(simple, $blue);
			}

			.exam-button {
			  @include button(simple, $pink);
			}

			.button {
				position: absolute;
				top: ($baseline/4);
				right: $baseline;
				margin: ($baseline/2) 0 0 0;
				padding: ($baseline/2) $baseline;
				letter-spacing: 0;
				font-weight: bold;
				font-size: 13px;

				&:hover {
				  text-decoration: none;
				}
			}

			&.message-action {

				.message-title, .message-copy {
					width: 65%;
				}
			}
		}

		// submission error
		&.submission-error {
			@include box-sizing(border-box);
			float: left;
			width: flex-grid(8,8);
			border: 1px solid tint($red,85%);
			background: tint($red,95%);
			font-size: 14px;

			#submission-error-heading {
				margin-bottom: ($baseline/2);
				padding-bottom: ($baseline/2);
				border-bottom: 1px solid tint($red, 85%);
				font-weight: bold;
			}

			.field-name, .field-error {
				display: inline-block;
			}

			.field-name {
				margin-right: ($baseline/4);
			}

			.field-error {
				color: tint($red, 55%);
			}

			p {
				color: $red;
			}

			ul {
				margin: 0 0 ($baseline/2) 0;
				padding: 0;
				list-style: none;

				li {
					margin-bottom: ($baseline/2);
					padding: 0;

					span {
						color: $red;
					}

					a {
						color: $red;
						text-decoration: none;

						&:hover, &:active {
							text-decoration: underline;
						}
					}
				}
			}
		}

		// submission success
		&.submission-saved {
			border: 1px solid tint($blue,85%);
			background: tint($blue,95%);

			.message-copy {
				color: $blue;
			}
		}

		// specific - registration closed
		&.registration-closed {
			@include border-bottom-radius(0);
			margin-top: 0;
			padding: $baseline;
			border-bottom: 1px solid $light-gray;
			background: tint($light-gray,50%);

			.message-title {
				font-weight: bold;
			}

			.message-copy {

			}
		}
	}

	.is-shown {
		display: block;
	}

	// hidden
	.is-hidden {
		display: none;
	}
}