<%page expression_filter="h"/>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
%>
<%block name="pagetitle">${_("Harvard ManageMentor")}</%block>
<style>
  body{
    overflow: hidden;
  }
  .window-wrap .content-wrapper{
    padding: 0;
  }
  .my-footer{
    display: none;
  }
</style>
<iframe style="width: 100%; height: 100%; border: none; position: absolute;" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" src="${ reverse('elitemba:hmm_entry') }"></iframe>

