$default-border-color: #ccc;

.suggestions {
  border: 1px solid $default-border-color;
  border-radius: 4px;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  overflow-y: auto;
  padding-left: 0;
}

.suggestions li {
  padding: 0.5rem;
}

$input-background-color: #000000;
$input-text-color: #ffffff;

.suggestion-active,
.suggestions li:hover {
  background-color: $input-background-color;
  color: $input-text-color;
  cursor: pointer;
}

$li-border-color: #999;

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid $li-border-color;
}
