// Styles for individual answers

div.answer-controls {
  @include box-sizing(border-box);
  display: inline-block;
  margin: 0 0 15px;
  padding-left: flex-grid(1.1);
  width: 100%;


  div.answer-count {
    display: inline-block;
    float: left;

    h1 {
      margin-bottom: 0;
      font-size: em(24);
      font-weight: 100;
    }
  }

  div.answer-sort {
    float: right;
    margin-left: flex-gutter();

    nav {
      float: right;
      margin-top: 10px;

      a {
        &.on span{
          font-weight: bold;
        }

        &:before {
          content: '|';
          color: #ccc;
          font-size: 16px;
        }
      }
    }
  }
}

div.answer-block {
  @extend div.question-header;
  border-top: #ddd 1px solid;
  display: inline-block;
  float: left;
  padding-top: 20px;
  width: 100%;

  img.answer-img-accept {
    margin: 10px 0px 10px 11px;
  }

  div.answer-container {
    @extend div.question-container;

    div.answer-content {
      @extend div.question-content;

      div.answer-body {
        @extend div.question-body;
      }
    }
  }

  div.meta-bar {
    div.answer-actions {
      @extend div.question-actions;
    }
  }

  div.answered-by-owner {
    p {
      font-style: italic;
      color: #656565;
    }

    div.comments-container {
      color: #555;
    }
  }

  div.accepted-answer {
    p {
      color:#000;
    }
  }

  div.deleted {
    p {
      color: $pink;
    }
  }

  img.answer-img-accept {
    opacity: 0.7;
  }
}

div.paginator {
  @extend div.answer-block;
  text-align: center;
  padding: 20px 0;

  span {
    @include border-radius(3px);
    background: #eee;
    margin: 0 5px;
    padding: 4px 10px;

    &.curr {
      background: none;
      color: $pink;
      font-weight: bold;
    }

    &.next, &.prev {
      @extend .light-button;
    }

    a {
      color: #555;
      text-decoration: none;
      border-bottom: none;
    }
  }
}

div.answer-own {
  border-top: 1px solid #eee;
  overflow:hidden;
  padding-left: flex-grid(1.2);
  padding-top: 10px;
}

div.answer-actions {
  margin: 0;
  padding:8px 0 8px 8px;
  text-align: right;
  border-top: 1px solid #efefef;

  span.sep {
    color: $border-color;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    @extend a:link;
    font-size: em(14);
  }
}

