// Generic layout styles for the discussion forums
body.askbot {
  section.container {
    div.discussion-wrapper {
      @extend .table-wrapper;

      div.discussion-content {
        @include box-sizing(border-box);
        display: table-cell;
        min-width: 650px;
        padding: lh();
        vertical-align: top;
        width: flex-grid(9) + flex-gutter();

        a.tabula-rasa, .tabula-rasa{
          @extend .light-button;
          @include border-radius(5px);
          display: block;
          margin: 10px auto;
          padding: 20px;
          text-align: center;
          width: flex-grid(5);
          text-decoration: none;
          color: #888;
          font-weight: bold;

          &:first-child {
            margin-top: 70px;
          }

          &:last-child {
            margin-bottom: 70px;
          }

        }
      }
    }
  }

}

// Autocomplete
.acInput {
  width: 200px;
}
.acResults {
  background-color: #fff;
  border: 1px solid #ababab;
  overflow: hidden;
  padding: 0px;
  @include box-shadow(0 2px 2px #bbb);

  ul {
    list-style-position: outside;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {
    cursor: pointer;
    display: block;
    font: menu;
    margin: 0px;
    overflow: hidden;
    padding: 5px 10px;
    text-align: left;
    border-top: 1px solid #eee;
    width: 100%;
  }
}

.acLoading {
  background : url('../default/media/images/indicator.gif') right center no-repeat;
}

.acSelect {
  background-color: $mit-red;
  color: #fff;
}
