// Style for the user profile view

body.user-profile-page {

  section.questions {
    h1 {
     margin: 0;
    }
  }

  ul.sub-info {
    margin-top: lh();
    list-style: none;
    padding: 0;

    > li {
      display: table-cell;
      padding: (flex-gutter(9)/2);
      border-right: 1px dashed #efefef;
      @include box-sizing(border-box);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: 0;
        padding-right: 0;
      }

      &.votes-badges {
        width: flex-grid(2,9);

        p {
          margin-top: 15px;
        }

      }

      &.answer-list {
        width: flex-grid(4, 9);
      }

      &.tags-list {
        width: flex-grid(3,9);
      }

      h2 {
        margin-bottom: 30px;
        margin-top: 0;
      }

      span.tag-number {
        display: none;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      &.user-stats-table {
        list-style: none;

        li {
          padding: 10px 0 15px;
          border-top: 1px solid #eee;
        }
      }

      &.vote-buttons {
        list-style: none;
        margin-bottom: 30px;

        li {
          background-position: 10px -10px;
          background-repeat: no-repeat;
          display: inline-block;
          padding: 2px 10px 2px 40px;
          margin-bottom: lh(.5);
          border: 1px solid lighten($border-color, 10%);

          &.up {
            background-image: url(../images/askbot/vote-arrow-up.png);
            margin-right: 6px;
          }

          &.down {
            background-image: url(../images/askbot/vote-arrow-down.png);
          }
        }
      }

      &.badges {
        @include inline-block();
        padding: 0;
        margin: 0;

        a {
          background-color: #e3e3e3;
          border: 0;
          @include border-radius(4px);
          color: #292309;
          display: block;
          font-size: 12px;
          padding: 10px;
          margin-bottom: 10px;
          text-shadow: 0 1px 0 #fff;
          text-transform: uppercase;
          text-decoration: none;

          &:hover {
            background-color: #cdcdcd;
          }
        }
      }
    }
  }
}
