<div class="status-elements">
    <section id="combined-open-ended-status" class="combined-open-ended-status">
        %for i in xrange(0,len(status_list)):
            <%status=status_list[i]%>
            %if status['current']:
                <div class="statusitem statusitem-current" data-status-number="${i}">
            %else:
                <div class="statusitem" data-status-number="${i}">
            %endif
                    ${status['human_task']}

            </div>
            %if i<len(status_list)-1:
                <i class="icon-caret-right"></i>
            %endif
        %endfor
    </section>
</div>
