{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="../../../">Home</a> &rsaquo;
    <a href="../../">Api_Admin</a> &rsaquo;
    Catalogs
</div>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
    {% block innercontent %}
        <ul class="object-tools">
            <li>
                <a class="addlink" href="add/">Add Catalog</a>
            </li>
        </ul>
        <table cellspacing="0" style="margin-top: 20px;">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>
            {% for catalog in catalogs %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>&nbsp;</td>
                    <td>
                        <a href="{{catalog.id}}">{{catalog.name}}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endblock %}
{% endblock %}
