.xseries-icon {
  background: url('#{$static-path}/images/programs/xseries-icon.svg') no-repeat;
}

.micromasters-icon {
  margin-top: $baseline * 0.05;
  background: url('#{$static-path}/images/programs/micromasters-icon.svg') no-repeat;
}

.certificate-body {
  // Use the ampersand to reference parent selectors.
  .certificate-icon & {
    @include float(left);
    @include margin-right($baseline*0.4);

    margin-top: ($baseline/10);
    width: 23px;
    height: 20px;
    padding: 2px;
    background-color: $white;
    border-style: solid;
    border-width: 2px;
  }

  .green-icon & {
    fill: palette(success, text);
    border-color: palette(success, text);
  }

  .blue-icon & {
    fill: palette(primary, dark);
    border-color: palette(primary, dark);
  }
}
