## mako
<%! from django.core.urlresolvers import reverse %>

<li class="${"active" if selected_tab == "view" else ""}">
  <a href="${reverse('wiki:get', kwargs={'article_id' : article.id, 'path' : urlpath.path})}">
    <span class="icon-home"></span>
    View
  </a>
</li>

%if article.can_write(user):
  <li class="${"active" if selected_tab == "edit" else ""}">
    <a href="${reverse('wiki:edit', kwargs={'article_id' : article.id, 'path' : urlpath.path})}">
      <span class="icon-edit"></span>
      Edit
    </a>
  </li>
%endif

<li class="${"active" if selected_tab == "history" else ""}">
  <a href="${reverse('wiki:history', kwargs={'article_id' : article.id, 'path' : urlpath.path})}">
    <span class="icon-time"></span>
    Changes
  </a>
</li>

%for plugin in article_tabs:
  %if hasattr(plugin, "article_tab"):
    <li class="${"active" if selected_tab == plugin.slug else ""}">
      <a href="${reverse('wiki:plugin', kwargs={'slug' : plugin.slug, 'article_id' : article.id, 'path' : urlpath.path}) }">
        <span class="${plugin.article_tab[1]}"></span>
        ${plugin.article_tab[0]}
      </a>
    </li>
  %endif
%endfor


<%doc>
The settings link has been disabled because the notifications app hasn't been integrated yet and those are the only useful settings.

%if not user.is_anonymous():
<li class="${"active" if selected_tab == "settings" else ""}">
  <a href="${reverse('wiki:settings', kwargs={'article_id' : article.id, 'path' : urlpath.path})}">
    <span class="icon-wrench"></span>
    Settings
  </a>
</li>
%endif
</%doc>


