## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from wiki.core.permissions import can_change_permissions
%>

<li class="${"active" if selected_tab == "view" else ""}">
  <a href="${reverse('wiki:get', kwargs={'article_id' : article.id, 'path' : urlpath.path})}">
    <span class="icon-home icon"></span>
    View
  </a>
</li>

%if article.can_write(user):
  <li class="${"active" if selected_tab == "edit" else ""}">
    <a href="${reverse('wiki:edit', kwargs={'article_id' : article.id, 'path' : urlpath.path})}">
      <span class="icon-edit icon"></span>
      Edit
    </a>
  </li>
%endif

<li class="${"active" if selected_tab == "history" else ""}">
  <a href="${reverse('wiki:history', kwargs={'article_id' : article.id, 'path' : urlpath.path})}">
    <span class="icon-changes icon"></span>
    Changes
  </a>
</li>

%for plugin in article_tabs:
  %if hasattr(plugin, "article_tab"):
    <li class="${"active" if selected_tab == plugin.slug else ""}">
      <a href="${reverse('wiki:plugin', kwargs={'slug' : plugin.slug, 'article_id' : article.id, 'path' : urlpath.path}) }">
        <span class="${plugin.article_tab[1]} icon"></span>
        ${plugin.article_tab[0]}
      </a>
    </li>
  %endif
%endfor


<%doc>
${_("This should be enabled for all non-anonymous users once the notifications app has been integrated and styled.")}
</%doc>

%if can_change_permissions(article,user):
<li class="${"active" if selected_tab == "settings" else ""}">
  <a href="${reverse('wiki:settings', kwargs={'article_id' : article.id, 'path' : urlpath.path})}">
    <span class="icon-settings icon"></span>
    ${_("Settings")}
  </a>
</li>
%endif



