<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/main.html" />

<%block name="pagetitle">${_("Please Wait")}</%block>

<%block name="js_extra">
    <script src="${static.url('js/vendor/backbone-min.js')}"></script>
    <%static:js group='utility'/>
</%block>

<%block name="headextra">

    <script>
        (function (require, define) {
            'use strict';
            define("js/student_account/views/finish_auth_factory",
                [
                    'jquery', 'underscore', 'backbone',
                    'js/student_account/views/FinishAuthView'
                ],
                function ($, _, Backbone, FinishAuthView) {
                    return function() {
                        var view = new FinishAuthView({});
                        view.render();
                    };
                }
            );

            require(["js/student_account/views/finish_auth_factory"],
                function (factory) {
                    factory();
                }
            );

        }).call(this, require || RequireJS.require, define || RequireJS.define);
    </script>

</%block>

<div class="finish-auth">
    <div class="finish-auth-inner">
        <h1>${_('Please wait')}</h1>

        <div class="loading-animation"></div>
    </div>
</div>

## This overwrites the "footer" block declared in main.html
## with an empty block, effectively hiding the footer.
<%block name="footer"/>
