// studio - elements - global footer
// ====================

.wrapper-footer {
  position: relative;
  margin: 0 0 $baseline 0;
  padding: $baseline;
  width: 100%;

  footer.primary {
    @extend .t-copy-sub2;
    margin: 0 auto;
    min-width: $fg-min-width;
    max-width: $fg-max-width;
    width: flex-grid(12);
    color: $gray-l1;

    .colophon {
      float: left;
      margin-right: flex-gutter(2);
      width: flex-grid(4, 12);
    }

    a {
      color: $gray;

      &:hover, &:active {
        color: $gray-d2;
      }
    }

    .nav-peripheral {
      float: right;
      width: flex-grid(6, 12);
      text-align: right;

      .nav-item {
        display: inline-block;
        margin-right: ($baseline/2);

        &:last-child {
          margin-right: 0;
        }

        a {
          @include border-radius(2px);
          padding: ($baseline/2) ($baseline*0.75);
          background: transparent;

          [class^="icon-"] {
            @include transition(top .25s ease-in-out .25s);
            display: inline-block;
            margin-right: ($baseline/4);
            color: $gray-l1;
            vertical-align: middle;
            @include font-size(15);
          }

          &:hover, &:active {
            color: $gray-d2;

            [class^="icon-"] {
              color: $gray-d2;
            }
          }

          &.is-active {
            color: $gray-d2;
          }
        }
      }
    }
    @include clearfix();
  }
}
