// studio - elements - typography
// ====================

// headings/titles
.t-title-1, .t-title-2, .t-title-3, .t-title-4, .t-title-5, .t-title-5 {
  color: $gray-d3;
}

.t-title-1 {
  @include font-size(36);
}

.t-title-2 {
  @include font-size(24);
  font-weight: 600;
}

.t-title-3 {
  @include font-size(16);
  font-weight: 600;
}

.t-title-4 {

}

.t-title-5 {

}

// ====================

// copy
.t-copy-base {
  @include font-size(16);
}

.t-copy-lead1 {
  @include font-size(18);
}

.t-copy-lead2 {
  @include font-size(20);
}

.t-copy-sub1 {
  @include font-size(14);
}

.t-copy-sub2 {
  @include font-size(13);
}

.t-copy-sub3 {
  @include font-size(12);
}

// ====================

// actions/labels
.t-action1 {
  @include font-size(14);
  font-weight: 600;
}

.t-action2 {
  @include font-size(13);
  font-weight: 600;
  text-transform: uppercase;
}

.t-action3 {
  @include font-size(13);
}

.t-action4 {
  @include font-size(12);
}

// ====================

// misc
.t-icon {
  line-height: 0;
}