.video-thumbnail-small{
  width: 1.5em;
  height: 1.5em;
}

.video-thumbnail-label{
  position: relative;
  top: -.375em;
  font-size: 1em;
  vertical-align: middle;
  line-height: 1.5em;
}

a.bl{
  background-image: url('http://web.mit.edu/colemanc/www/bookmarklet/images/film3Small.png');
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 20px;
  padding-left: 20px;
  color: transparent;
}

.bookMarklet-answer{
  border: 1px solid #c8c8c8;
}

.bookMarklet-answer img{
  vertical-align: bottom;
}

#bookMarklet-overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#bl {
  display: none;
  background-color: #FFF;
  padding: 10px;
  width: 800px;
  border-radius: 4px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(221, 221, 221);
  color: rgb(34, 34, 34);
  font-family: 'Open Sans', Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 16px;
  box-shadow: rgb(0, 0, 0) 0px 0px 20px 0px;
}

#bl #bl-player {
  width: 544px;
  height: 415px;
}

.bl-top{
  width: 100%;
  float: none;
}

.bl-vid{
  width: 70%;
  float: left;
  overflow: hidden;
  border-top-left-radius: 3px;
}

.bl-controls{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  float: right;
}

.bl-bottom{
  width: 100%;
  clear: both;
}

.bl-instructions{
  padding: 10px;
}
.bl-title h1{
  color: rgb(60, 60, 60);
  font-family: 'Open Sans', Verdana, Geneva, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 33.59375px;
}

.bl-title{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(227, 227, 227);
  margin: 10px;
}

.bl-instructions {
  margin-bottom: 5px;
}

.bl-input {
  margin: auto;
}

 .bl-input input{
  width: 100px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;

  
}

.bl-data{
  font-family: 'Open Sans', Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 16px;
  border-color: rgb(200, 200, 200);
  border-style: solid;
  border-width: 1px;
  height: 35px;
}


.bl-incorrect{
  border-color: rgb(255, 0, 0);
}

.bl-button{
  -webkit-appearance: none;
  -webkit-background-clip: padding-box;
  -webkit-border-image: none;
  -webkit-box-align: center;
  -webkit-box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;
  -webkit-font-smoothing: antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-writing-mode: horizontal-tb;
  background-clip: padding-box;
  background-color: rgb(238, 238, 238);
  background-image: -webkit-linear-gradient(top, rgb(238, 238, 238), rgb(210, 210, 210));
  box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', Verdana, Geneva, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-shadow: rgb(248, 248, 248) 0px 1px 0px;
  text-transform: none;
  vertical-align: top;
  white-space: pre;
  width: 78px;
  word-spacing: 0px;
  writing-mode: lr-tb;
  border-color: rgb(202, 202, 202);
  border-radius: 3px;
  height: 40px;
}

#bl-vid #bl-playerV {
  width: 577px;
  height: 330px;
  border: none;
}

#bl-vid{
  background-origin: padding-box;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.901961);
  color: rgb(34, 34, 34);
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 15px 80px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 0px 15px 80px 15px;
  width: 600px;
  padding: 10px;
  display: none;
}

.bl-vid-wrap{
  box-shadow: rgb(0, 0, 0) 0px 0px 20px 0px;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  background-origin: padding-box;
  background-clip: border-box;
  border-color: rgba(0, 0, 0, 0.901961);
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
}