body {
  min-width: 980px;
}

body, h1, h2, h3, h4, h5, h6, p, p a:link, p a:visited, a, label {
  text-align: left;
  font-family: $sans-serif;
}

table {
  table-layout: fixed;
}

.container {
  padding: lh(2);

  > div {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}

form {
  label {
    display: block;
  }
}

img {
  max-width: 100%;
}

::selection, ::-moz-selection, ::-webkit-selection {
  background:#444;
  color:#fff;
}
