body {
  min-width: 980px;
  background: #f7f7f7;
}

body, h1, h2, h3, h4, h5, h6, p, p a:link, p a:visited, a {
  text-align: left;
  font-family: $sans-serif;
}

table {
  table-layout: fixed;
}

.content-wrapper {
  background: none;
  border: none;
}

.container {
  padding: 1.4em lh(2);

  > div {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}

form {
  label {
    display: block;
  }
}

::selection, ::-moz-selection, ::-webkit-selection {
  background:#444;
  color:#fff;
}
