// lms - course - layout
// ====================

// Table of Contents 
// * +Basic Page Content
// * +Primary Content
// * +Supplementary Content

// +Basic Page Content
// ==================== 


// +Primary Content
// ==================== 
%content-primary {
	@include float(left);
	@include margin-right(flex-gutter());
	width: flex-grid(9,12);
	box-shadow: none;
	border: 0;
	background-color: $white;
}

// +Supplementary Content
// ==================== 
%content-supplementary {
	@include float(left);
	width: flex-grid(3,12);
}