## mako
<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
    %>

    <%block name="headextra">
        <link rel="stylesheet" type="text/css" href="${static.url('css/slick.css')}"/>
        <link rel="stylesheet" type="text/css" href="${static.url('css/flipclock.css')}"/>
        </%block>

    <%block name="js_extra">
        <script type="text/javascript" src="${static.url('js/flipclock.min.js')}"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $(".more-about-btn").removeClass("hidden");
                if (getParameterByName('next')) {
                    $('#login').trigger("click");
                }
                $(".hero-static").css("display", "table");

                var exam_starts_in = (new Date('2017-02-25 15:00:00') - new Date()) / 1000;
                var clock = $('.clock').FlipClock(exam_starts_in, {
                clockFace: 'DailyCounter',
                countdown: true
            });

            });
        </script>
        <%include file="about_site.html" />
        <script type="text/javascript" src="${static.url('js/slick.min.js')}"></script>
        </%block>

    <section class="home">
        <div class="hero-static">
            <div class="brand-logo">
                <img src="${static.url('images/logo-white.png')}" alt="" />
                <div class="timer">
                    <p>Test Starts in</p>
                    <div class="clock"></div>
                    <p><a href="/login" class="btn btn-brand btn-success">Enroll Now</a></p>
                </div>
            </div>
        </div>
        <%include file="${courses_list}" />

    </section>

    % if show_homepage_promo_video:
    <section id="video-modal" class="modal modal-custom custom-video-modal">
        <div class="inner-wrapper">
            <iframe title="YouTube Video" width="640" height="360"
                    src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </section>
    % endif

    % if show_signup_immediately is not UNDEFINED:
    ## NOTE: This won't work in production, because anonymous views are cached, so it will
    ## show either with or without this extra js for 3 minutes at a time.
    <script type="text/javascript">
        $(window).load(function () {
            $('#signup_action').trigger("click");
        });
    </script>
    % endif
