<%namespace name='static' file='../static_content.html'/>
 <%!
 from django.utils.translation import ugettext as _
 from django.core.urlresolvers import reverse
 from courseware.courses import get_course_about_section
 from django.conf import settings
 from edxmako.shortcuts import marketing_link
 from openedx.core.lib.courses import course_image_url
 %>
 
 <%inherit file="../main.html" />
 
 <%block name="pagetitle">${course.display_name_with_default_escaped}</%block>

<section class="course-info" xmlns="http://www.w3.org/1999/html">
  <header class="hero-main grid-manual hero-video">
    <div class="grid-container">
      <div class="row">
        <div class="col col-12 sm-col-12 md-col-4 lg-col-4 xl-col-4 video">
          <div class="video-data">
            <a href="#"><img src="${static.url('images/vid-img.jpg')}" alt=""></a>
          </div>
        </div>
        <div class="col col-12 sm-col-12 md-col-8 lg-col-8 xl-col-8 description">
          <div class="data">
            <h1>Enterpreneural Negotitiaons: <span>The Ours Way</span></h1>
            <p>Learn negeotiation techniques to help you join community of succesful enterpreneurs.</p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="course-detail">
    <div class="grid-manual grid-container">
      <div class="inner-container">
        <div class="row">
          <div class="col col-12 sm-col-12 md-col-4">
            Available:
            <span>Jan.12, 2016 - Feb.23, 2016</span>
          </div>
          <div class="col col-12 sm-col-12 md-col-2">
            Language:
            <span>English</span>
          </div>
          <div class="col col-12 sm-col-12 md-col-3">
            Price:
            <span>$495 USD</span>
          </div>
          <div class="col col-12 sm-col-12 md-col-3">
            <a href="#" class="btn-block btn-success btn-large btn-enroll">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="description-container">
        <div class="row">
          <div class="col col-12 sm-col-12 md-col-4 pull-right extras">
            <h3>Sponsored by:</h3>
            <div class="sponsored-logo"><img src="http://placehold.it/190x60" alt="Home Page" /></div>
            <h3>Share this course:</h3>
            <ul class="social-icons">
              <li>
                <div class="icon">
                  <a href="#"><i class="fa fa-facebook-official"></i></a>
                </div>
              </li>
              <li>
                <div class="icon">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
              </li>
              <li>
                <div class="icon">
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </li>
              <li>
                <div class="icon">
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>
              </li>
              <li>
                <div class="icon">
                  <a href="#"><i class="fa fa-envelope-o"></i></a>
                </div>
              </li>
            </ul>
            <div class="course-features">

                <div class="row">
                  <div class="col col-6">Course Number:</div>
                  <div class="col col-6">IOTx</div>
                </div>
                <div class="row">
                  <div class="col col-6">Language:</div>
                  <div class="col col-6">English</div>
                </div>
                <div class="row">
                  <div class="col col-6">Level:</div>
                  <div class="col col-6">Introductory</div>
                </div>
                <div class="row">
                  <div class="col col-6">Effort Level:</div>
                  <div class="col col-6">Self-Paced</div>
                </div>
                <div class="row">
                  <div class="col col-6">Price:</div>
                  <div class="col col-6">$495 USD</div>
                </div>
            </div>
          </div>
          <div class="col col-12 sm-col-12 md-col-8">

            <h2> Course Description</h2>
            <div class="expandable">
              <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
              Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
              Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>

              <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
              Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
              Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>

              <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
              Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
              Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
            </div>

            <h2> What you'll learn</h2>
            <div class="expandable">
              <ul class="list-bulleted">
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
              </ul>
            </div>
          </div>
          </div>

<h2>Responsive Accordion to Tabs</h2>


<ul id="nav">
  <li><a href="">Item 1</a>
    <section>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
    </section>
  </li>
  <li><a href="">Item 2</a>
    <section>
      <p>Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices. Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus pharetra sed. Praesent bibendum lacus quis metus condimentum ac accumsan orci vulputate. Aenean fringilla massa vitae metus facilisis congue. Morbi placerat eros ac sapien semper pulvinar. Vestibulum facilisis, ligula a molestie venenatis, metus justo ullamcorper ipsum, congue aliquet dolor tortor eu neque. Sed imperdiet, nibh ut vestibulum tempor, nibh dui volutpat lacus, vel gravida magna justo sit amet quam. Quisque tincidunt ligula at nisl imperdiet sagittis. Morbi rutrum tempor arcu, non ultrices sem semper a. Aliquam quis sem mi.</p>
     </section>
  </li>
  <li><a href="">Item 3</a>
    <section>
      <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>
    </section>
  </li>
  <li><a href="">Item 4</a>
    <section>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus turpis enim, auctor eget placerat eget, aliquam ut sapien.</p>
    </section>
  </li>
</ul>






        <div class="row instructors">
          <div class="col col-12"><h2>Instructors</h2></div>
          <div class="col col-12 sm-col-12 md-col-6 lg-col-4">
            <div class="thumbnail"><img src="${static.url('images/user-thumbnail.png')}" alt="Instructor Image"></div>
            <p>Lorem Ipsem <span>Lorem Ipsem</span></p>
          </div>
          <div class="col col-12 sm-col-12 md-col-6 lg-col-4">
           <div class="thumbnail"><img src="${static.url('images/user-thumbnail.png')}" alt="Instructor Image"></div>
            <p>Lorem Ipsem <span>Lorem Ipsem</span></p>
          </div>
          <div class="col col-12 sm-col-12 md-col-6 lg-col-4">
            <div class="thumbnail"><img src="${static.url('images/user-thumbnail.png')}" alt="Instructor Image"></div>
            <p>Lorem Ipsem <span>Lorem Ipsem</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
 </section>



<script>

  $(document).ready(function () {

    $('#nav').children('li').first().children('a').addClass('active')
        .next().addClass('is-open').show();

    $('#nav').on('click', 'li > a', function() {

      if (!$(this).hasClass('active')) {

        $('#nav .is-open').removeClass('is-open').hide();
        $(this).next().toggleClass('is-open').toggle();

        $('#nav').find('.active').removeClass('active');
        $(this).addClass('active');
      } else {
        $('#nav .is-open').removeClass('is-open').hide();
        $(this).removeClass('active');
      }
   });


    $('a[href=""]').click(function (event) { // where href are blank
   event.preventDefault();
});
});




  </script>
