## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<section class="home">
  <header class="hero-catalog hero-small hero">
    <div class="tint-dark">
      <div class="grid-container grid-manual">
        <div class="row">
          <div class="col col-10 sm-col-10 md-col-10 lg-col-8 xl-col-6 text-tint">
            <p>Lorem ipsum dolor sit amet, sea te quaeque suscipiantur.</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="courses-section">
    <div class="courses-container">
      <div class="highlighted-courses">
        <section class="courses">
          <div class="grid-manual">

            <div class="row">
              <div class="col col-12 text-center">
                <h2>
                  <span> ${_('Lorem ipsum dolor sit amet.')}</span>
                </h2>
              </div>
            </div>

            <div class="row course-list">
              %for course in courses:
              <div class="col col-12 sm-col-12 md-col-4 lg-col-4">
                <div class="courses-listing-item">
                  <%include file="../course.html" args="course=course"/>
                </div>
              </div>
              %endfor
            </div>

          </div>
        </section>
      </div>
    </div>
  </section>
</section>
