$color-active: #007ae6;
$color-active-light: #f2f9ff;
$color-hover: #025dae;

$background-color-hover: #eef7ff;
$background-content: #fafbfb;
$background-selected: #f1f2f3;

$color-white: #ffffff;
$color-stroke: #d7d7d7;

$color-disable: #c5c5c5;
$color-text-inactive: #7b7b7b;
$color-text-default: #2c3744;

$color-warning: #ffb934;
$color-warning-light: #fffcf5;

$color-success: #5aa447;
$color-success-light: #f2ffee;

$color-subdued: #576f8a;
$color-subdued-light: rgba(87, 111, 138, 0.05);

$color-critical: #d82c0d;
$color-critical-light: #fff1f1;

$color-leaf: #06aaa5;
$color-leaf-light: #faffff;

$spacing-1: 1.5rem;
$spacing-2: 3rem;

$border-radius: 6px;

$fw-medium: 500;
$fw-normal: 400;

$font-family-default: "Roboto", sans-serif;

$fz-h1: 33px;
$fz-h2: 27px;
$fz-h3: 21px;
$fz-h4: 19px;
$fz-h5: 16px;
$fz-h6: 13px;
$fz-p: 1rem;

// Bootstrap Breakpoints
$breakpoint-mobile: 395px;
$breakpoint-tablet-vs: 648px;
$breakpoint-tablet-sm: 746px;
$breakpoint-tablet-md: 992px;
$breakpoint-tablet-lg: 1133px;
$breakpoint-desktop: 1440px;

$padding-mobile: 36px;
$padding-tablet-sm: 56px;
$padding-tablet-lg: 88px;
$padding-desktop: 80px;

$footer-height: 148px;
$header-height: 58px;