## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from lms.djangoapps.ccx.overrides import get_current_ccx

# App that handles subdomain specific branding
from branding import api as branding_api
%>

<h1 class="hd logo-header">
  <div class="logo">
    <a href="${marketing_link('ROOT')}">
      <%block name="navigation_logo">
      <img src="${branding_api.get_logo_url(is_secure)}" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}"/>
      </%block>
    </a>
  </div>
</h1>
