<%! from django.utils.translation import ugettext as _ %>
<%! import json %>
<%! from student.models import anonymous_id_for_user %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/main.html" />

<%block name="pagetitle">${_("Notes")}</%block>
<%block name="headextra">
    <%static:css group='style-course'/>
</%block>

<%include file="/courseware/course_navigation.html" args="active_page='edxnotes'" />
<div class="edx-notes-page-wrapper">
    <header>
        <div class="page-title">
            <h1>${_('Notes')}</h1>
            <small>${_("Highlights and personal notes you've made within the course")}</small>
        </div>
    % if notes:
        <form method="GET" action="${search_endpoint}" class="is-hidden search-box">
            <input name="text" id="search-field" required placeholder="${_('Search Notes for...')}" />
            <button type="submit">${_('Search')}</button>
        </form>
    % endif
    </header>
    <nav class="edx-notes-page-views is-hidden">
        <h4>${_('View notes by:')}</h4>
    </nav>
    <div class="container">
        <div class="course-info">
            <div class="inline-error is-hidden"></div>
        % if notes:
            <div class="ui-loading">
                <p><span class="spin"><i class="icon-refresh"></i></span> <span class="copy">${_("Loading...")}</span></p>
            </div>
        % else:
            <section class="no-content">${_('You do not have any notes within the course.')}</section>
        % endif
        </div>
    </div>
</div>

## Include Underscore templates
<%block name="header_extras">
% for template_name in ["recent-activity-item", "tab-item"]:
<script type="text/template" id="${template_name}-tpl">
  <%static:include path="edxnotes/${template_name}.underscore" />
</script>
% endfor
</%block>
<%block name="js_extra">
% if notes:
<script type="text/javascript">
    (function (require) {
        require(['js/edxnotes/views/page_factory'], function (NotesFactory) {
            var pageView = new NotesFactory({
                notesList: ${notes},
                debugMode: ${debug},
                user: '${anonymous_id_for_user(user, None)}',
                courseId: '${course.id}'
            });
        });
    }).call(this, require || RequireJS.require);
</script>
% endif
</%block>
