<%! import json %>
<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%page args="course"/>

<%
  edxnotes_visibility = course.edxnotes_visibility
  edxnotes_visibility_url = reverse("edxnotes_visibility", kwargs={"course_id": course.id})
%>
<div class="wrapper-utility edx-notes-visibility">
  <div class="edx-notes-visibility-error error"></div>
  <a href="#" class="utility-control action-toggle-notes is-disabled" role="button" aria-pressed="">
    % if edxnotes_visibility:
      <i class="icon-pencil"></i> <span class="utility-control-label sr">${_("Hide notes")}</span>
    % else:
      <i class="icon-pencil"></i> <span class="utility-control-label sr">${_("Show notes")}</span>
    % endif
  </a>
</div>
<script type="text/javascript">
  (function (require) {
      require(['js/edxnotes/views/toggle_notes_factory'], function(ToggleNotesFactory) {
          ToggleNotesFactory(${json.dumps(edxnotes_visibility)}, '${edxnotes_visibility_url}');
      });
  }).call(this, require || RequireJS.require);
</script>
