//// Notifications
// Upgrade

$notification-highlight-border-color: $uxpl-green-base !default;
$notification-background: rgb(255, 255, 255) !default;

.home {
  @include clearfix();

  max-width: map-get($container-max-widths, xl);
  margin: 0 auto;
  padding: $baseline $baseline ($baseline/2) $baseline;

  .page-header-main {
    display: inline-block;
    width: flex-grid(8, 12);
    margin: 0;

    .page-title {
      margin-bottom: 5px;
      color: $dark-gray1;
      text-transform: none;
    }

    .page-subtitle {
      color: $dark-gray1;
      font-size: 14px;
      text-transform: none;
    }
  }

  .page-header-secondary {
    @include float(right);

    display: inline-block;
    margin: ($baseline/2);
    padding: ($baseline/2) ($baseline*0.75);
    background-color: $blue;
    border-radius: 2px;

    .last-accessed-link {
      @extend %t-title6;

      color: $very-light-text;
    }
  }
}
