.open-ended-problems,
.combined-notifications {
    padding: ($baseline*2);

    .problem-list {
        table-layout: auto;
        margin-top: ($baseline/2);
        width: 70%;

        td, th {
            padding: 7px;
        }
    }

    .notification-container {
        margin: ($baseline*1.5) 0;
    }

    .notification {
        @include clearfix();
        margin: ($baseline/2);
        width: 30%;
        display: inline-block;
        vertical-align: top;

        .notification-link {
            display:block;
            height: 9em;
            padding: ($baseline/2);
            border: 1px solid black;
            text-align: center;
            
            p {
                font-size: 0.9em;
                text-align: center;
            }
        }

        .notification-title {
            text-transform: uppercase;
            background: $blue;
            color: white;
            padding: ($baseline/4) 0;
            font-size: 1.1em;
        }

        .notification-link:hover,
        .notification-link:focus {
            background-color: #eee;
        }

        .notification-description {
            padding-top:5%;
        }

        .alert-message {
            
            img {
                vertical-align: baseline;
            }
        }
    }

}
