div.syllabus {

  padding: 2em 2.5em;

  text-align: center;

  h1 {
    @extend .top-header
  }

  .notes {
    margin: 0px auto 20px;
  }

  table {
    table-layout: auto;
    text-align: left;

    margin: 10px 0;

    thead {
      font-weight: bold;
      border-bottom: 1px solid black;
    }

    tr.first {
      td {
        padding-top: 15px;
      }
    } 

    td {
      border: none;
      padding: 5px 10px;
      vertical-align: middle;
      font-size: 1em;
      line-height: auto;

      &.day, &.due, &.slides, &.assignment {
        white-space: nowrap;
      }

      &.no_class {
        text-align: center;
      }

      &.important {
        color: red;
      }

      &.week_separator {
        padding: 0px;
        
        hr {
          margin: 10px;
        }
      }
    }
  }
}
