div.book-wrapper {
  @extend .table-wrapper;

  #open_close_accordion {
    display: none;
  }

  section.book-sidebar {
    @extend .sidebar;
    @extend .tran;
    @include box-sizing(border-box);
    padding: 10px 0;
    border-radius: 3px 0 0 3px;
    border-right: 1px solid #ccc;

    ul#booknav {
      font-size: em(14);

      .chapter-number {
        
      }

      .chapter {
        float: left;
        width: 87%;
        line-height: 1.4em;
      }

      .page-number {
        float: right;
        width: 12%;
        font-size: .8em;
        line-height: 2.1em;
        text-align: right;
        color: #9a9a9a;
        opacity: 0;
        @include transition(opacity .15s);
      }

      li {
        background: none;
        border-bottom: 0;
        padding-left: lh();       

        a {
          padding: 0;
          @include clearfix;

          &:hover {
            background-color: transparent;

            .page-number {
              opacity: 1;
            }
          }
        }

        div.hitarea {
          background-image: url('../images/treeview-default.gif');
          
          position: relative;
          top: 4px;

          &:hover {
            filter: alpha(opacity=60);
            opacity: 0.6;
          }
        }

        ul {
          background: none;
          margin-top: lh(.25);
          padding-top: lh(.25);

          li {
            padding-bottom: 10px;
          }
        }
      }

      > li {
        padding: 5px 6px;
        margin: 0 16px 5px 25px;
      }
    }
  }

  section.book {
    @extend .content;

    nav {
      @extend .clearfix;

      a {
        @extend .block-link;
        padding: 0 lh();
      }

      ul {
        @extend .clearfix;

        li {
          position: absolute;
          height: 100%;
          width: flex-grid(2, 8);

          a {
            background-color: rgba(#000, .7);
            background-position: center;
            background-repeat: no-repeat;
            @include box-sizing(border-box);
            display: table;
            height: 100%;
            opacity: 0;
            filter: alpha(opacity=0);
            text-indent: -9999px;
            @include transition;
            vertical-align: middle;
            width: 100%;

            &:hover {
              opacity: 1;
              filter: alpha(opacity=100);
            }
          }

          &.last {
            left: 0;

            a {
              background-image: url('../images/textbook/textbook-left.png');
            }
          }

          &.next {
            right: 0;

            a {
              background-image: url('../images/textbook/textbook-right.png');
            }
          }

        }
      }

      &.bottom-nav {
        border-bottom: 0;
        margin-bottom: -(lh());
        margin-top: lh();
      }
    }

    section.page {
      border: 1px solid $border-color;
      position: relative;
      text-align: center;

      img {
        max-width: 100%;
      }
    }
  }

  &.closed {
    section.book-sidebar {
      width: flex-grid(.6);

      header#open_close_accordion {
        padding: 0;

        a {
          background-image: url('../images/slide-right-icon.png');
        }

        h2 {
          padding: 0;
          visibility: hidden;
          width: 10px;
        }
      }

      ul#booknav {
        max-height: 100px;
        overflow: hidden;
        padding: 0;
        visibility: hidden;
        width: 10px;
      }
    }

    section.course-content {
      width: flex-grid(11.5) + flex-gutter();
    }
  }
}
