div.book-wrapper {
  @extend .table-wrapper;

  section.book-sidebar {
    @extend .sidebar;
    @extend .tran;
    @include box-sizing(border-box);

    ul#booknav {
      font-size: 12px;

      a {
        color: #000;

        &:hover {
          color: #666;
        }
      }

      li {
        background: none;
        padding-left: 30px;

        div.hitarea {
          background-image: url('../images/treeview-default.gif');
          margin-left: -22px;
          position: relative;
          top: 4px;

          &:hover {
            filter: alpha(opacity=60);
            opacity: 0.6;
          }
        }

        ul {
          background: none;
        }
      }

      > li {
        border-bottom: 1px solid #d3d3d3;
        @include box-shadow(0 1px 0 #eee);
        padding: 7px 7px 7px 30px;
      }
    }
  }

  section.book {
    @extend .content;

    nav {
      @extend .topbar;
      @extend .clearfix;

      a {
        @extend .block-link;
        padding: 0 lh();
      }

      ul {
        @extend .clearfix;

        li {

          &.last {
            display: block;
            float: left;

            a {
              border-left: 0;
              border-right: 1px solid darken(#f6efd4, 20%);
              @include box-shadow(inset -1px 0 0 lighten(#f6efd4, 5%));
            }
          }

          &.next {
            display: block;
            float: right;
          }

          &:hover {
            background: none;
          }
        }
      }

      &.bottom-nav {
        border-bottom: 0;
        border-top: 1px solid #EDDFAA;
        margin-bottom: -(lh());
        margin-top: lh();
      }
    }

    section.page {
      text-align: center;

      img {
        border: 1px solid $border-color;
        max-width: 100%;
      }
    }
  }

  &.closed {
    section.book-sidebar {
      width: flex-grid(.6);

      header#open_close_accordion {
        padding: 0;

        a {
          background-image: url('../images/slide-right-icon.png');
        }

        h2 {
          padding: 0;
          visibility: hidden;
          width: 10px;
        }
      }

      ul#booknav {
        max-height: 100px;
        overflow: hidden;
        padding: 0;
        visibility: hidden;
        width: 10px;
      }
    }

    section.course-content {
      width: flex-grid(11.5) + flex-gutter();
    }
  }
}
