// edX theme: LMS Footer
// ====================

.region-footer {
  border: 1px solid #f1f1f1;
  padding-top: 16px;
  background: none;
  background-color: #fcfcfc;
  .container {
    background: none !important;
    max-width: 1180px !important;
    padding: 15px 20px;
    width: calc(100% - 40px) !important;
  }
}
.region-footer-columns {
  padding: 0!important;
  background: none;
  border: none;

  > .region-container-inner {
    width: 100%;
    margin: auto;
    border: none;
    background: none;
  }

  .region-footer-first {
    width: 100% ;
    float: none ;

    .region-inner {
      padding-right: 10px;
    }

    nav {
      margin-bottom: 1em;
    }
  }
  h2{
      color: #3f4041;
      font-size: 13px;
      font-weight: 600;
      border-bottom: none;
    }
  ul.menu{
    padding: 0px;
    margin-top: 1em;
    li{
      list-style: none none;
      color: #8a8c8f;
      font-size: 14px;
      float: none !important;
      padding-top: 3px !important;
      span{font-size: 0px; color: #fcfcfc;}
      a{
        font-size: 14px;
        color: #009ee7;
        font-family: "Open Sans",Arial,Helvetica,sans-serif;
        line-height: 24px;
        span{font-size: 14px; font-weight: semibold;}
        &.edx-bold{font-weight: 600;}
        i{
          font-size: 24px;
          width: 25px;
          display: inline-block;
          margin-right: 10px;
          font-family: FontAwesome;
        }
      }
    }
  }
  ul.menu li a.fa{
    line-height: 42px;
  }
  p.copyright{
     color: #8a8c8f !important;
  }

  .region-footer-second {
    width: 100% ;
    float: none ;
    nav {
      margin-bottom: 1em;
      width: 100%;
      float: none;
      padding-right: 0px;
      padding-left: 0px;
      border-left: none;
      border-right: none;
      margin-top: 30px;
      }
    .nav{
      clear: none;
    }

    section.block-menu-social{
      width: 100%;
      padding: 0px;
      margin-top: 30px;
    }
  }

  .block-disclosure {
    p{
      font-size: 14px;
      font-weight: normal;
      line-height: 21px;
      color: #3d3e3f;
      padding-right: 20px;
        img{
          display: block;
          padding: 15px 0px;
        }

    }

  }

  .block-menu-business a {
    color: #565656;

    &:hover {
      color: #2F73BC;
    }
  }

  .block-menu-social {
    a {
      border: 0;
    }

    ul.menu li {
      margin: 0;
      padding: 0;
      float: right;

      .menu_icon {
        display: block;
        background-position: center top !important;
        overflow: hidden;
        text-indent: -9999px;
        width: 45px;
        margin: 0;
        padding: 0 !important;
      }
    }

    li {
      margin: 0;
      padding: 0;
      float: right;
    }
  }

  .block-menu-supplement {

    ul.menu li {
      margin: 0;
      padding: 0;
      float: right;

      a:hover {
        border-bottom: 1px dotted #2F73BC;
      }

      span.separator {
        padding: 0 10px;
      }
    }

    .block-menu-supplement li {
      margin: 0;
      padding: 0;
      float: right;

      a:hover {
        border-bottom: 1px dotted #2F73BC;
      }

      span.separator {
        padding: 0 10px;
      }
    }
  }
}

// LMS: footer
// ====================
.wrapper-footer {
  box-shadow: 0 -1px 5px 0 rgba(0,0,0, 0.1);
  border-top: 1px solid tint($m-gray,50%);
  padding: 25px ($baseline/2) ($baseline*1.5) ($baseline/2);
  background: $footer-bg;

  footer {
    @include clearfix();
    max-width: grid-width(12);
    min-width: 760px;
    width: flex-grid(12);
    margin: 0 auto;

    p, ol, ul {
      font-family: $sans-serif;
    }

    a {
      @include transition(link-color 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s);

      &:link, &:visited, &:hover, &:focus, &:active {
        border-bottom: none;
        color: $link-color;
        text-decoration: none !important;
        font-family: $sans-serif;
      }

      &:hover, &:focus, &:active {
        border-bottom: 1px dotted $link-color;
        color: $link-color;
      }
    }

    // colophon
    .colophon {
      margin-right: flex-gutter();
      width: flex-grid(8,12);
      float: left;

      .nav-colophon {
        @include clearfix();
        margin: $footer_margin;

        li {
          float: left;
          margin-right: ($baseline*0.75);

          a {
            color: tint($black, 20%);

            &:hover, &:focus, &:active {
              color: $link-color;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .colophon-about {
        @include clearfix();

        img {
          width: 68px;
          height: 34px;
          margin-right: 0;
          float: left;
        }

        p {
          float: left;
          width: flex-grid(6,8);
          margin-left: $baseline;
          padding-left: $baseline;
          font-size: em(13);
          background: transparent url(/static/images/bg-footer-divider.jpg) 0 0 no-repeat;
        }
      }
    }

    // references
    .references {
      margin: -10px 0 0 0;
      width: flex-grid(4,12);
      display: inline-block;
    }

    .wrapper-logo {
      margin: ($baseline*.75) 0;

      a {
        display: inline-block;

        &:hover {
          border-bottom: 0;
        }
      }
    }

    .copyright {
      margin: -2px 0 8px 0;
      font-size: em(11);
      color: $gray-l2;
      text-align: left;
    }

    .nav-legal {
      @include clearfix();
      text-align: left;

      li {
        display: inline-block;
        font-size: em(11);

        a {
          display: block;
        }
      }

      .nav-legal-01 a {

        &:after {
          margin-left: 5px;
          content: "-";
        }
      }
    }

    .nav-social {
      margin: 0;
      text-align: right;

      li {
        display: inline-block;

        &:last-child {
          margin-right: 0;
        }

        a {
          display: block;

          &:hover, &:focus, &:active {
            border: none;
          }
        }

        img {
          display: block;
        }
      }
    }

    // platform Open edX logo and link
    .powered-by {
      width: flex-grid(3,12);
      display: inline-block;
      vertical-align: bottom;
      text-align: right;

      a {
        display: inline-block;

        &:hover {
          border-bottom: none;
        }
      }
    }
  }

  // edx theme overrides
  &.edx-footer {

    footer {

      .copyright {
        text-align: right;
      }

      .nav-legal {
        text-align: right;
      }
    }
  }
}

// marketing site design syncing
.view-register, .view-login, .view-passwordreset {

  .wrapper-footer footer {
    width: 960px;

    .colophon-about img {
      margin-top: ($baseline*1.5);
    }
  }
}
