.ui-tooltip.qtip .ui-tooltip-content {
  background: rgba($pink, .8);
  border: 0;
  color: $white;
  font: bold 12px $body-font-family;
  margin-bottom: 6px;
  margin-right: 0;
  overflow: visible;
  padding: 4px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
