.container.unsubscribe {
  padding: ($baseline*3) 0 ($baseline*6);

  h1 {
    margin-bottom: $baseline;
    padding: ($baseline/2);

    @extend %success-message-colors;
  }

  h1 + hr {
    margin-bottom: ($baseline*1.5);
  }

  .message {
    background: rgb(252, 252, 252);
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0 3px 20px 0 $shadow;
    border-radius: 4px;
    margin: 0 auto;
    padding: ($baseline*2);
    width: flex-grid(6);
  }
}


.container.unsubscribe-bulk-email {
  max-width: 400px;
  min-width: 320px;
  margin: 0 auto;
  padding: ($baseline*3) 15px ($baseline*6);

  h1 {
    @include text-align(left);

    font-size: 30px;
  }

  .button {
    background-color: #23419f;
    border-color: #23419f;
    border: 2px solid;
    border-radius: 25px;
    text-align: center;
    width: 100%;
  }
}
