footer {
  @extend .wrapper;
  @extend .clearfix;
  padding-top: 0;

  div.footer-wrapper {
    border-top: 1px solid #e5e5e5;
    padding: lh() 0;
    background: url('/static/images/marketing/mit-logo.png') right center no-repeat;

    @media screen and (max-width: 780px) {
      background-position: left bottom;
      padding-bottom: lh(3);
    }

    a {
      color: #888;
      text-decoration: none;
      @include transition();

      &:hover, &:focus {
        color: #666;
      }
    }

    p {
      @include inline-block();
      margin-right: lh();
    }

    ul {
      @include inline-block();

      @media screen and (max-width: 780px) {
        margin-top: lh();
      }

      li {
        @include inline-block();
        margin-bottom: 0;

        &:after {
          content: ' |';
          display: inline;
          color: #ccc;
        }

        &:last-child {
          &:after {
            content: none;
          }
        }

      }

      &.social {
        float: right;
        margin-right: 60px;
        position: relative;
        top: -5px;

        @media screen and (max-width: 780px) {
          float: none;
        }

        li {
          float: left;
          margin-right: lh(.5);

          &:after {
            content: none;
            display: none;
          }

          a {
            display: block;
            height: 29px;
            width: 28px;
            text-indent: -9999px;

            &:hover {
              opacity: .8;
            }
          }

          &.twitter a {
            background: url('/static/images/marketing/twitter.png') 0 0 no-repeat;
          }

          &.facebook a {
            background: url('/static/images/marketing/facebook.png') 0 0 no-repeat;
          }

          &.linkedin a {
            background: url('/static/images/marketing/linkedin.png') 0 0 no-repeat;
          }
        }
      }
    }
  }
}
