#main {
    width: 100%;
    height: 100%;

    section.find-courses {
        padding: 0;
        background-color: #fff;

        section.courses-container {
            padding: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 1440px;

            div.courses {
                padding: 0;
                width: 100%;
                height: 100%;

                ul.courses-list {
                    display: grid !important;
                    gap: 24px;
                    padding: 0 !important;
                    width: 100%; /* Explicit width */
                    grid-auto-rows: auto; /* Added */

                    li.courses-listing-item {
                        box-sizing: border-box;
                        margin-left: 24px !important;
                        margin: 0 !important;
                        display: grid;
                        grid-template-rows: auto auto 1fr;
                        border: 0px !important;
                        border-radius: 4px !important;
                        width: 100%;
                        box-shadow: 2px 8px 8px 0px rgba(44, 55, 68, 0.04), 2px 20px 24px 0px rgba(44, 55, 68, 0.10) !important;
                        
                        article.course {
                            margin: 0;
                            border: 0px !important;
                            border-radius: 4px !important;

                            section.course-info {
                                height: 88px;

                                h2.course-name {
                                    span.course-title {
                                        margin: 0 !important;
                                        padding: 16px;
                                        margin-top: 15px;
                                        height: 88px !important;
                                        overflow: hidden;
                                        color: var(--Text-Default, #2c3744);
                                        font-feature-settings: "clig" off, "liga" off;

                                        /* Unit text/Header 4 */
                                        font-family: Roboto;
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: 150%; /* 27px */
                                    }

                                    span.course-code,
                                    span.course-organization {
                                        display: none;
                                    }
                                }

                                div.course-date {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.learn-more {
    color:  #FFF;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Unit text/Paragraph 1 Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}

.courses-container .course .course-image .cover-image {
    height: 12.5rem !important;
}

@media only screen and (min-width: $breakpoint-desktop) {
    .courses-listing-item {
        grid-template-columns: repeat(auto-fill, minmax(215px, -1fr)); 


    }
}

@media only screen and (min-width: $breakpoint-tablet-lg) and (max-width: $breakpoint-desktop) {
    .courses-listing-item {
         grid-template-columns: repeat(auto-fill, minmax(215px, 1fr)); 

    }
}

@media only screen and (min-width: $breakpoint-tablet-md) and (max-width: $breakpoint-tablet-lg) {
    .courses-listing-item {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 

    }
}

@media only screen and (min-width: $breakpoint-tablet-sm) and (max-width: $breakpoint-tablet-md) {
    .courses-listing-item {
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));

    }
}

@media only screen and (min-width: $breakpoint-tablet-vs) and (max-width: $breakpoint-tablet-sm) {
    .courses-listing-item {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 

    }
}


@media only screen and (max-width: $breakpoint-mobile) {
    .courses-listing-item {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}
