
#main > section > section > div.courses > ul {
    display: flex;
    flex-wrap: wrap;
}

#main > section > section > div.courses {
    width: 100%;
}

#main > section > section > div.courses > ul > li > article > a > section.course-info {
    height: 100px;
}

#main > section > section > div.courses > ul > li > article > a > section > h2 > span.course-title {
    margin-top: 15px;
}

#main > section > section > div.courses > ul > li > article > a > section > div.course-date {
    display:none;
    
}

@media only screen and (min-width : 1224px) {
/* Styles */
  


#main > section > section > div.courses > ul > li {
    width: 22% !important;
    box-sizing: border-box;
    margin-left:20px !important;
}
}

@media only screen and (min-width : 1024px) and (max-width : 1224px) {
/* Styles */
    #main > section > section > div.courses > ul > li {
    width: 30% !important;
    box-sizing: border-box;
    margin-left:20px !important;
}
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
/* Styles */
    #main > section > section > div.courses > ul > li {
    width: 45% !important;
    box-sizing: border-box;
    margin-left:20px !important;
}
}


#main > section > section > div.courses > ul > li > article > a > section > h2 > span.course-code,
#main > section > section > div.courses > ul > li > article > a > section > h2 > span.course-organization {
    display: none;
}



