:focus {
  outline-color: #ccc;
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: #000;
  }
}

h1 {
  font-size:1.6em;
  margin:20px 0 10px 0;
}

h2 {
  font-size: $body-font-size;
  font-weight: bold;
  letter-spacing: 1px;
  margin:20px 0 10px 0;
  text-transform: uppercase;
}

p {
  margin-bottom: $body-line-height;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

#{$all-text-inputs}, textarea {
  @include box-shadow(0 -1px 0 #fff);
  @include linear-gradient(#eee, #fff);
  border: 1px solid #999;
  font: $body-font-size $body-font-family;
  padding: 4px;

  &:focus {
    border-color: $mit-red;
  }
}

a {
  color: $mit-red;

  &:link {
    color: $mit-red;
  }

  &:visited {
    color: darken($mit-red, 10%);
  }

  &:link, &:visited {
    text-decoration:none;
  }

  p &, li > &, .inline {
    border-bottom: 1px solid #bbb;
    font-style: italic;
  }

  &:hover, &:focus {
    color: #000;
  }
}

input[type="submit"], input[type="button"], button {
  @extend .button;
}

