# .coveragerc for common/lib/xmodule
[run]
data_file = reports/common/lib/xmodule/.coverage
source = common/lib/xmodule

[report]
ignore_errors = True
exclude_lines =
    pragma: no cover
    raise NotImplementedError

[html]
title = XModule Python Test Coverage Report
directory = reports/common/lib/xmodule/cover

[xml]
output = reports/common/lib/xmodule/coverage.xml
