[run]
data_file = reports/bok_choy/.coverage
source = lms, cms, common/djangoapps, common/lib
omit = lms/envs/*, cms/envs/*, common/djangoapps/terrain/*, common/djangoapps/*/migrations/*, openedx/core/djangoapps/*/migrations/*, */test*, */management/*, */urls*, */wsgi*, lms/djangoapps/*/migrations/*, cms/djangoapps/*/migrations/*
parallel = True

[report]
ignore_errors = True

[html]
title = Bok Choy Test Coverage Report
directory = reports/bok_choy/cover

[xml]
output = reports/bok_choy/acceptance_coverage.xml
