/*
 * In pursuit of decoupling the built-in XBlocks from edx-platform's Sass build
 * and ensuring comprehensive theming support in the extracted XBlocks,
 * we need to expose Sass variables as CSS variables.
 *
 * Ticket/Issue: https://github.com/openedx/edx-platform/issues/35173
 */
@import 'bourbon/bourbon';
@import 'lms/theme/variables';
@import 'lms/theme/variables-v1';
@import 'lms/static/sass/discussion/utilities/_variables-bootstrap.scss';
@import 'cms/static/sass/partials/cms/theme/_variables';
@import 'cms/static/sass/partials/cms/theme/_variables-v1';
@import 'bootstrap/scss/variables';
@import 'vendor/bi-app/bi-app-ltr';
@import 'edx-pattern-library-shims/base/_variables.scss';

:root {
    --action-primary-active-bg: $action-primary-active-bg;
    --actions-dropdown-width: $actions-dropdown-width;
    --actions-dropdown-offset: $actions-dropdown-offset;
    --base-font-size: $base-font-size;
    --base-line-height: $base-line-height;
    --baseline: $baseline;
    --black: $black;
    --black-t2: $black-t2;
    --blue: $blue;
    --blue-d1: $blue-d1;
    --blue-d2: $blue-d2;
    --blue-d4: $blue-d4;
    --blue-s1: $blue-s1;
    --body-color: $body-color;
    --border-color: $border-color;
    --border-color-4:$border-color-4;
    --bp-screen-lg: $bp-screen-lg;
    --btn-brand-focus-background: $btn-brand-focus-background;
    --correct: $correct;
    --comment-image-dimension: $comment-image-dimension;
    --container-max-widths-xl: map-get($container-max-widths, xl);
    --danger: $danger;
    --darkGrey: $darkGrey;
    --error-color: $error-color;
    --error-color-dark: darken($error-color, 11%);
    --error-color-light: lighten($error-color, 25%);
    --font-bold: $font-bold;
    --font-family-sans-serif: $font-family-sans-serif;
    --forum-color-active-thread: $forum-color-active-thread;
    --forum-color-hover: $forum-color-hover;
    --forum-color-active-text: $forum-color-active-text;
    --forum-color-background: $forum-color-background;
    --forum-x-large-font-size: $forum-x-large-font-size;
    --forum-color-copy-light: $forum-color-copy-light;
    --forum-large-font-size: $forum-large-font-size;
    --forum-border-radius: $forum-border-radius;
    --forum-base-font-size: $forum-base-font-size;
    --forum-small-font-size: $forum-small-font-size;
    --forum-color-border: $forum-color-border;
    --forum-color-background-light: $forum-color-background-light;
    --forum-color-editor-preview-label: $forum-color-editor-preview-label;
    --forum-color-following: $forum-color-following;
    --forum-color-error: $forum-color-error;
    --forum-color-pinned: $forum-color-pinned;
    --forum-color-reported: $forum-color-reported;
    --forum-color-closed: $forum-color-closed;
    --forum-color-staff: $forum-color-staff;
    --forum-color-community-ta: $forum-color-community-ta;
    --forum-color-response-count: $forum-color-response-count;
    --forum-color-read-post: $forum-color-read-post;
    --forum-color-hover-thread: $forum-color-hover-thread;
    --forum-color-reading-thread: $forum-color-reading-thread;
    --forum-color-never-read-post: $forum-color-never-read-post;
    --forum-color-navigation-bar: $forum-color-navigation-bar;
    --forum-color-primary: $forum-color-primary;
    --general-color-accent: $general-color-accent;
    --green: $green;
    --gray: $gray;
    --gray-300: $gray-300;
    --gray-d1: $gray-d1;
    --gray-l2: $gray-l2;
    --gray-l3: $gray-l3;
    --gray-l4: $gray-l4;
    --gray-l6: $gray-l6;
    --icon-correct: url($static-path + '/images/correct-icon.png');
    --icon-incorrect: url($static-path + '/images/incorrect-icon.png');
    --icon-info: url($static-path + '/images/info-icon.png');
    --icon-partially-correct: url($static-path + '/images/partially-correct-icon.png');
    --icon-spinner: url($static-path + '/images/spinner.gif');
    --icon-unanswered: url($static-path + '/images/unanswered-icon.png');
    --incorrect: $incorrect;
    --lightGrey: $lightGrey;
    --lighter-base-font-color: $lighter-base-font-color;
    --link-color: $link-color;
    --line-height-base:$line-height-base;
    --medium-font-size: $medium-font-size;
    --pink:$pink;
    --partially-correct: $partially-correct;
    --primary: $primary;
    --post-image-dimension: $post-image-dimension;
    --response-image-dimension: $response-image-dimension;
    --shadow: $shadow;
    --shadow-l1: $shadow-l1;
    --sidebar-color: $sidebar-color;
    --small-font-size: $small-font-size;
    --submitted: $submitted;
    --success: $success;
    --serif:$serif;
    --tmg-f2: $tmg-f2;
    --tmg-s2: $tmg-s2;
    --transparent: $transparent;
    --uxpl-gray-background: $uxpl-gray-background;
    --uxpl-gray-base: $uxpl-gray-base;
    --uxpl-gray-dark: $uxpl-gray-dark;
    --very-light-text: $very-light-text;
    --warning: $warning;
    --warning-color: $warning-color;
    --warning-color-accent: $warning-color-accent;
    --white: $white;
    --yellow: $yellow;
}
