// font-sizing
@function em($pxval, $base: 16) {
  @return #{$pxval / $base}em;
}

@mixin font-size($sizeValue: 1.6){
  font-size: $sizeValue + px;
  font-size: ($sizeValue/10) + rem;
}

// line-height
@function lh($amount: 1) {
  @return $body-line-height * $amount;
}

// image-replacement hidden text
@mixin text-hide() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

// hidden elems - screenreaders
@mixin text-sr() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// vertical and horizontal centering
@mixin vertically-and-horizontally-centered ($height, $width) {
  left: 50%;
  margin-left: -$width / 2;
  //margin-top: -$height / 2;
  min-height: $height;
  min-width: $width;
  position: absolute;
  top: 150px;
}

// sizing
@mixin size($width: $baseline, $height: $baseline) {
  height: $height;
  width: $width;
}

@mixin square($size: $baseline) {
  @include size($size);
}

// placeholder styling
@mixin placeholder($color) {
  :-moz-placeholder {
    color: $color;
  }
  ::-webkit-input-placeholder {
    color: $color;
  }
  :-ms-input-placeholder {  
     color: $color; 
  }
}