
<head>
	${css_link("../static/css/search.css")}
</head>

<div class="searchwrapper">
	<form action="/search" method="get">
		<span>
		<div class="searchbox-wrapper">
			% if old_query:
			<input type="text" class="searchbox" name="s" value="${old_query}" />
			% else:
			<input type="text" class="searchbox" name="s" value="" />
			% endif
			<div class="searchbox_submit">
				<input type="submit" value="" />
			</div>
		</div>
		<div class="content-select">
			% if previous_content == "transcript":
				<input type="radio" class="content" name="content" value="transcript" checked>Videos
				<input type="radio" class="content" name="content" value="problem">Problems
				<input type="radio" class="content" name="content" value="pdf">PDFs
			% elif previous_content == "problem":
				<input type="radio" class="content" name="content" value="transcript">Videos
				<input type="radio" class="content" name="content" value="problem" checked>Problems
				<input type="radio" class="content" name="content" value="pdf">PDFs
			% else:
				<input type="radio" class="content" name="content" value="transcript">Videos
				<input type="radio" class="content" name="content" value="problem">Problems
				<input type="radio" class="content" name="content" value="pdf" checked>PDFs
			% endif
		</div>
	</span>
	</form>
</div>

<%def name="css_link(path, media='')">
	<link rel="stylesheet" type="text/css" href="${path|h}" media="${media}"></link>
</%def>
