<head>
</head>

<div class="search-wrapper">
	<span>
        <form id="query-box" class="auto-submit" action="search" method="get">
    		<div class="searchbox-wrapper">
    			% if old_query:
    			<input type="text" id="searchbox" class="searchbox parameter" name="s" value="${old_query}" onkeydown="searchHandle(event, false)"/>
    			% else:
    			<input type="text" id="searchbox" class="searchbox parameter" name="s" value="" onkeydown="searchHandle(event, false)"/>
    			% endif
    		</div>
        </form>
	</span>
</div>

<%def name="css_link(path, media='')">
	<link rel="stylesheet" type="text/css" href="${path|h}" media="${media}"></link>
</%def>

<%def name="js_link(path)">
    <script type="text/javascript" src="${path|h}"></script>
</%def>