<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="title"><title>Jobs</title></%block>

<section class="container jobs">
  <h1>Do You Want to Change the Future of Education?</h1>

  <hr class="horizontal-divider"/>

  <section class="message">
    <div class="inner-wrapper">
      <div class="photo">
        <img src="${static.url('images/jobs.jpeg')}">
      </div>
      <header>
      <h2>Our mission is to transform learning.</h2>

      <blockquote>
        <p>&ldquo;EdX represents a unique opportunity to improve education on our campuses through online learning, while simultaneously creating a bold new educational path for millions of learners worldwide.&rdquo;</p>
        <cite>&mdash;Rafael Reif, MIT President </cite>
      </blockquote>

      <blockquote>
        <p>&ldquo;EdX gives Harvard and MIT an unprecedented opportunity to dramatically extend our collective reach by conducting groundbreaking research into effective education and by extending online access to quality higher education.&rdquo;</p>
        <cite>&mdash;Drew Faust, Harvard President</cite>
      </blockquote>
      </header>
    </div>
  </section>

  <hr class="horizontal-divider"/>

  <section class="jobs-wrapper">
    <section class="jobs-listing">

      <article id="" class="job">
        <div class="inner-wrapper">
          <h3>EdX is looking to add new talent to our team! </h3>
          <p align="center"><em>Our mission is to give a world-class education to everyone, everywhere, regardless of gender, income or social status</em></p>
          <p>Today, EdX.org, a not-for-profit provides hundreds of thousands of people from around the globe with access to free education.&nbsp; We offer amazing quality classes by the best professors from the best schools. We enable our members to uncover a new passion that will transform their lives and their communities.</p>
          <p>Around the world-from coast to coast, in over 192 countries, people are making the decision to take one or several of our courses. As we continue to grow our operations, we are looking for talented, passionate people with great ideas to join the edX team. We aim to create an environment that is supportive, diverse, and as fun as our brand. If you're results-oriented, dedicated, and ready to contribute to an unparalleled member experience for our community, we really want you to apply.</p>
          <p>As part of the edX team, you&rsquo;ll receive:</p>
          <ul>
            <li>Competitive compensation</li>
            <li>Generous benefits package</li>
            <li>Free lunch every day</li>
            <li>A great working experience where everyone cares</li>
          </ul>
          <p>While we appreciate every applicant's interest, only those under consideration will be contacted. We regret that phone calls will not be accepted.</p>
        </div>
      </article>

      <article id="instructional-designer" class="job">
        <div class="inner-wrapper">
        <h3><strong>INSTRUCTIONAL DESIGNER</strong> &mdash; CONTRACT OPPORTUNITY</h3>
        <p>The Instructional Designer will work collaboratively with the edX content and engineering teams to plan, develop and deliver highly engaging and media rich online courses. The Instructional Designer will be a flexible thinker, able to determine and apply sound pedagogical strategies to unique situations and a diverse set of academic disciplines.</p>
        <p><strong>Responsibilities:</strong></p>
        <ul>
          <li>Work with the video production team, product managers and course staff on the implementation of instructional design approaches in the development of media and other course materials.</li>
          <li>Based on course staff and faculty input, articulate learning objectives and align them to design strategies and assessments.</li>
          <li>Develop flipped classroom instructional strategies in coordination with community college faculty. </li>
          <li>Produce clear and instructionally effective copy, instructional text, and audio and video scripts</li>
          <li>Identify and deploy instructional design best practices for edX course staff and faculty as needed.</li>
          <li>Create course communication style guides. Train and coach teaching staff on best practices for communication and discussion management.</li>
          <li>Serve as a liaison to instructional design teams based at X universities.</li>
          <li>Consult on peer review processes to be used by learners in selected courses.</li>
          <li>Ability to apply game-based learning theory and design into selected courses as appropriate.</li>
          <li>Use learning analytics and metrics to inform course design and revision process.</li>
          <li>Collaborate with key research and learning sciences stakeholders at edX and partner institutions for the development of best practices for MOOC teaching and learning and course design.</li>
          <li>Support the development of pilot courses and modules used for sponsored research initiatives.</li>
        </ul>
        <p><strong>Qualifications:</strong></p>
        <ul>
          <li>Master's Degree in Educational Technology, Instructional Design or related field. Experience in higher education with additional experience in a start-up or research environment preferable.</li>
          <li>Excellent interpersonal and communication (written and verbal), project management, problem-solving and time management skills. The ability to be flexible with projects and to work on multiple courses essential. Ability to meet deadlines and manage expectations of constituents.</li>
          <li>Capacity to develop new and relevant technology skills. Experience using game theory design and learning analytics to inform instructional design decisions and strategy.</li>
          <li>Technical Skills:  Video and screencasting experience. LMS Platform experience, xml, HTML, CSS, Adobe Design Suite, Camtasia or Captivate experience. Experience with web 2.0 collaboration tools.</li>
        </ul>
        <p>Eligible candidates will be invited to respond to an Instructional Design task based on current or future edX course development needs.</p>
        <p>If you are interested in this position, please send an email to <a href="mailto:jobs@edx.org">jobs@edx.org</a>.</p>
        </div>
      </article>

      <article id="member-services-manager" class="job">
        <div class="inner-wrapper">
        <h3><strong>MEMBER SERVICES MANAGER </strong></h3>
          <p>The edX Member Services Manager is responsible for both defining support best practices and directly supporting edX members by handling or routing issues that come in from our websites, email and social media tools.&nbsp; We are looking for a passionate person to help us define and own this experience. While this is a Manager level position, we see this candidate quickly moving through the ranks, leading a larger team of employees over time. This staff member will be running our fast growth support organization.</p>
          <p><strong>Responsibilities:</strong></p>
          <ul>
            <li>Define and rollout leading technology, best practices and policies to support a growing team of member care representatives.</li>
            <li>Provide reports and visibility into member care metrics.</li>
            <li>Identify a staffing plan that mirrors growth and work to grow the team with passionate, member-first focused staff.</li>
            <li>Manage member services staff to predefined service levels. </li>
            <li>Resolve issues according to edX policies; escalates non-routine issues.</li>
            <li>Educate members on edX policies and getting started</li>
            <li>May assist new members with edX procedures and processing registration issues.</li>
            <li>Provides timely follow-up and resolution to issues.</li>
            <li>A passion for doing the right thing - at edX the member is always our top priority<br>
            </li>
          </ul>
          <p><strong>Qualifications:</strong></p>
          <ul>
            <li>5-8 years in a call center or support team management</li>
            <li>Exemplary customer service skills</li>
            <li>Experience in creating and rolling out support/service best practices </li>
            <li>Solid computer skills &ndash; must be fluent with desktop applications and have a basic understanding of web technologies (i.e. basic HTML)</li>
            <li>Problem solving - the individual identifies and resolves problems in a timely manner, gathers and analyzes information skillfully and maintains confidentiality.</li>
            <li>Interpersonal skills - the individual maintains confidentiality, remains open to others' ideas and exhibits willingness to try new things.</li>
            <li>Oral communication - the individual speaks clearly and persuasively in positive or negative situations and demonstrates group presentation skills.</li>
            <li>Written communication &ndash; the individual edits work for spelling and grammar, presents numerical data effectively and is able to read and interpret written information.</li>
            <li>Adaptability - the individual adapts to changes in the work environment, manages competing demands and is able to deal with frequent change, delays or unexpected events.</li>
            <li>Dependability - the individual is consistently at work and on time, follows instructions, responds to management direction and solicits feedback to improve performance.</li>
            <li>College degree</li>
          </ul>
          <p>If you are interested in this position, please send an email to <a href="mailto:jobs@edx.org">jobs@edx.org</a>.</p>
        </div>
      </article>

      <article id="director_of_pr_and_communications" class="job">
        <div class="inner-wrapper">
          <h3><strong>DIRECTOR OF PR AND COMMUNICATIONS</strong></h3>
          <p>The edX Director of PR & Communications is responsible for creating and executing all PR strategy and providing company-wide leadership to help create and refine the edX core messages and identity as the revolutionary global leader in both on-campus and worldwide education. The Director will design and direct a communications program that conveys cohesive and compelling information about edX's mission, activities, personnel and products while establishing a distinct identity for edX as the leader in online education for both students and learning institutions.</p>
          <p><strong>Responsibilities:</strong></p>
          <ul>
            <li>Develop and execute goals and strategy for a comprehensive external and internal communications program focused on driving student engagement around courses and institutional adoption of the edX learning platform.</li>
            <li>Work with media, either directly or through our agency of record, to establish edX as the industry leader in global learning.</li>
            <li>Work with key influencers including government officials on a global scale to ensure the edX mission, content and tools are embraced and supported worldwide.</li>
            <li>Work with marketing colleagues to co-develop and/or monitor and evaluate the content and delivery of all communications messages and collateral.</li>
            <li>Initiate and/or plan thought leadership events developed to heighten target-audience awareness; participate in meetings and trade shows</li>
            <li>Conduct periodic research to determine communications benchmarks</li>
            <li>Inform employees about edX's vision, values, policies, and strategies to enable them to perform their jobs efficiently and drive morale.</li>
            <li>Work with and manage existing communications team to effectively meet strategic goals.</li>
          </ul>
          <p><strong>Qualifications:</strong></p>
          <ul>
            <li>Ten years of experience in PR and communications</li>
            <li>Ability to work creatively and provide company-wide leadership in a fast-paced, dynamic start-up environment required</li>
            <li>Adaptability - the individual adapts to changes in the work environment, manages competing demands and is able to deal with frequent change, delays or unexpected events.</li>
            <li>Experience in working in successful consumer-focused startups preferred</li>
            <li>PR agency experience in setting strategy for complex multichannel, multinational organizations a plus.</li>
            <li>Extensive writing experience and simply amazing oral, written, and interpersonal communications skills</li>
            <li>B.A./B.S. in communications or related field</li>
          </ul>
          <p>If you are interested in this position, please send an email to <a href="mailto:jobs@edx.org">jobs@edx.org</a>.</p>
        </div>
      <article>

    </section>

    <section class="jobs-sidebar">
      <h2>Positions</h2>
      <nav>
        <a href="#instructional-designer">Instructional Designer</a>
        <a href="#member-services-manager">Member Services Manager</a>
        <a href="#director_of_pr_and_communications">Director of PR & Communications</a>
      </nav>
      <h2>How to Apply</h2>
      <p>E-mail your resume, coverletter and any other materials to <a href="mailto:jobs@edx.org">jobs@edx.org</a></p>
      <h2>Our Location</h2>
      <p>11 Cambridge Center <br>
      Cambridge, MA 02142</p>
    </section>
  </section>
</section>
