<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="title"><title>Jobs</title></%block>

<section class="container jobs">
  <h1>Do You Want to Change the Future of Education?</h1>
  <hr class="horizontal-divider">

  <section class="message">
    <div class="inner-wrapper">
      <div class="photo">
        <img src="${static.url('images/jobs.jpeg')}">
      </div>
      <header>
      <h2>Our mission is to transform learning.</h2>

      <blockquote>
        <p>&ldquo;EdX represents a unique opportunity to improve education on our campuses through online learning, while simultaneously creating a bold new educational path for millions of learners worldwide.&rdquo;</p>
        <cite>&mdash;Rafael Reif, MIT President </cite>
      </blockquote>

      <blockquote>
        <p>&ldquo;EdX gives Harvard and MIT an unprecedented opportunity to dramatically extend our collective reach by conducting groundbreaking research into effective education and by extending online access to quality higher education.&rdquo;</p>
        <cite>&mdash;Drew Faust, Harvard President</cite>
      </blockquote>
      </header>
    </div>
  </section>
  <hr class="horizontal-divider">
  <section class="jobs-wrapper">
    <section class="jobs-listing">
      <article id="" class="job">
        <div class="inner-wrapper">
          <h3>We're hiring! </h3>
          <p>Are you passionate? Want to help change the world? Good, you've found the right company! We're growing and our team needs the best and brightest in creating the next evolution in interactive online education.</p>
          <h4>Want to apply to edX?</h4>
          <p>Send your resume and cover letter to <a href="mailto:jobs@edx.org">jobs@edx.org</a>.</p>
          <p><em>Note:</em> We'll review each and every resume but please note you may not get a response due to the volume of inquiries.</p>
      </article>
    </section>
    <section class="jobs-sidebar">
      <!-- <h2>Positions</h2> -->
      <!-- <nav> -->
      <!--   <a href="#content-engineer">EdX Content Engineer</a> -->
      <!-- </nav> -->
      <h2>How to Apply</h2>
      <p>E-mail your resume, coverletter and any other materials to <a href="mailto:jobs@edx.org">jobs@edx.org</a></p>
      <h2>Our Location</h2>
      <p>11 Cambridge Center <br>
      Cambridge, MA 02142</p>
    </section>
  </section>
</section>
