<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="title"><title>Jobs</title></%block>

<section class="container jobs">
  <h1>Do You Want to Change the Future of Education?</h1>

  <hr class="horizontal-divider"/>

  <section class="message">
    <div class="inner-wrapper">
      <div class="photo">
        <img src="${static.url('images/jobs.jpeg')}">
      </div>
      <header>
      <h2>Our mission is to transform learning.</h2>

      <blockquote>
        <p>&ldquo;EdX represents a unique opportunity to improve education on our campuses through online learning, while simultaneously creating a bold new educational path for millions of learners worldwide.&rdquo;</p>
        <cite>&mdash;Rafael Reif, MIT President </cite>
      </blockquote>

      <blockquote>
        <p>&ldquo;EdX gives Harvard and MIT an unprecedented opportunity to dramatically extend our collective reach by conducting groundbreaking research into effective education and by extending online access to quality higher education.&rdquo;</p>
        <cite>&mdash;Drew Faust, Harvard President</cite>
      </blockquote>
      </header>
    </div>
  </section>

  <hr class="horizontal-divider"/>

  <section class="jobs-wrapper">
    <section class="jobs-listing">

      <article id="" class="job">
        <div class="inner-wrapper">
          <h3>EdX is looking to add new talent to our team! </h3>
          <p align="center"><em>Our mission is to give a world-class education to everyone, everywhere, regardless of gender, income or social status</em></p>
          <p>Today, EdX.org, a not-for-profit provides hundreds of thousands of people from around the globe with access free education.&nbsp; We offer amazing quality classes by the best professors from the best schools. We enable our members to uncover a new passion that will transform their lives and their communities.</p>
          <p>Around the world-from coast to coast, in over 192 countries, people are making the decision to take one or several of our courses. As we continue to grow our operations, we are looking for talented, passionate people with great ideas to join the edX team. We aim to create an environment that is supportive, diverse, and as fun as our brand. If you're results-oriented, dedicated, and ready to contribute to an unparalleled member experience for our community, we really want you to apply.</p>
          <p>As part of the edX team, you&rsquo;ll receive:</p>
          <ul>
            <li>Competitive compensation</li>
            <li>Generous benefits package</li>
            <li>Free lunch every day</li>
            <li>A great working experience where everyone cares</li>
          </ul>
          <p>While we appreciate every applicant's interest, only those under consideration will be contacted. We regret that phone calls will not be accepted.</p>
        </div>
      </article>

      <article id="member-services-manager" class="job">
        <div class="inner-wrapper"> <h3><strong>MEMBER SERVICES MANAGER </strong></h3>
          <p>The edX Member Services Manager is responsible for both defining support best practices and directly supporting edX members by handling or routing issues that come in from our websites, email and social media tools.&nbsp; We are looking for a passionate person to help us define and own this experience. While this is a Manager level position, we see this candidate quickly moving through the ranks, leading a larger team of employees over time. This staff member will be running our fast growth support organization.</p>
          <p><strong>Responsibilities:</strong></p>
          <ul>
            <li>Define and rollout leading technology, best practices and policies to support a growing team of member care representatives.</li>
            <li>Provide reports and visibility into member care metrics.</li>
            <li>Identify a staffing plan that mirrors growth and work to grow the team with passionate, member-first focused staff.</li>
            <li>Manage member services staff to predefined service levels. </li>
            <li>Resolve issues according to edX policies; escalates non-routine issues.</li>
            <li>Educate members on edX policies and getting started</li>
            <li>May assist new members with edX procedures and processing registration issues.</li>
            <li>Provides timely follow-up and resolution to issues.</li>
            <li>A passion for doing the right thing - at edX the member is always our top priority<br>
            </li>
          </ul>
          <p><strong>Qualifications:</strong></p>
          <ul>
            <li>5-8 years in a call center or support team management </li>
            <li>Exemplary customer service skills</li>
            <li>Experience in creating and rolling out support/service best practices </li>
            <li>Solid computer skills &ndash; must be fluent with desktop applications and have a basic understanding of web technologies (i.e. basic HTML)</li>
            <li>Problem solving - the individual identifies and resolves problems in a timely manner, gathers and analyzes information skillfully and maintains confidentiality.</li>
            <li>Interpersonal skills - the individual maintains confidentiality, remains open to others' ideas and exhibits willingness to try new things.</li>
            <li>Oral communication - the individual speaks clearly and persuasively in positive or negative situations and demonstrates group presentation skills.</li>
            <li>Written communication &ndash; the individual edits work for spelling and grammar, presents numerical data effectively and is able to read and interpret written information.</li>
            <li>Adaptability - the individual adapts to changes in the work environment, manages competing demands and is able to deal with frequent change, delays or unexpected events.</li>
            <li>Dependability - the individual is consistently at work and on time, follows instructions, responds to management direction and solicits feedback to improve performance.</li>
            <li>College degree</li>
          </ul>
          <p>If you are interested in this position, please send an email to <a href="mailto:jobs@edx.org">jobs@edx.org</a>.</p>
        </div>
      </article>

      <article id="member-services-associate" class="job">
        <div class="inner-wrapper">
          <h3><strong>MEMBER SERVICES ASSOCIATE </strong></h3>
          <p>The edX Member Services Associate is responsible for providing customer service and support to edX customers by handling or routing issues that come in from our websites, email and social media tools.  </p>
          <p><strong>Responsibilities:</strong></p>
          <ul>
            <li>Resolves issues according to edX policies; escalates non-routine issues.</li>
            <li>Educates members on edX policies and getting started</li>
            <li>May assist new members with edX procedures and processing registration issues.</li>
            <li>Provides timely follow-up and resolution to issues.</li>
            <li>May specialize in specific area of operation or handle more complex issues.</li>
            <li>A passion for doing the right thing - at edX the member is always our top priority.<br>
            </li>
          </ul>
          <p><strong>Qualifications:</strong></p>
          <ul>
            <li>1-3 years prior experience in customer service role.</li>
            <li>Excellent customer service skills.</li>
            <li>Problem solving-the individual identifies and resolves problems in a timely manner, gathers and analyzes information skillfully and maintains confidentiality.</li>
            <li>Interpersonal skills-the individual maintains confidentiality, remains open to others' ideas and exhibits willingness to try new things.</li>
            <li>Oral communication-the individual speaks clearly and persuasively in positive or negative situations and demonstrates group presentation skills.</li>
            <li>Written communication-the individual edits work for spelling and grammar, presents numerical data effectively and is able to read and interpret written information.</li>
            <li>Adaptability-the individual adapts to changes in the work environment, manages competing demands and is able to deal with frequent change, delays or unexpected events.</li>
            <li>Dependability-the individual is consistently at work and on time, follows instructions, responds to management direction and solicits feedback to improve performance.</li>
            <li>College degree preferred.</li>
            <li>Basic computer skills.</li>
          </ul>
          <p>If you are interested in this position, please send an email to <a href="mailto:jobs@edx.org">jobs@edx.org</a>.</p>
        </div>
      <article>
    </section>

    <section class="jobs-sidebar">
      <h2>Positions</h2>
      <nav>
        <a href="#member-services-manager">Member Services Manager</a>
        <a href="#member-services-associate">Member Services Associate</a>
      </nav>
      <h2>How to Apply</h2>
      <p>E-mail your resume, coverletter and any other materials to <a href="mailto:jobs@edx.org">jobs@edx.org</a></p>
      <h2>Our Location</h2>
      <p>11 Cambridge Center <br>
      Cambridge, MA 02142</p>
    </section>
  </section>
</section>
