<%! from django.core.urlresolvers import reverse %>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="title"><title>Privacy Policy</title></%block>

<section class="static-container privacy-policy">
  <h1>Privacy Policy</h1>
  <hr class="horizontal-divider">

  <div class="inner-wrapper">
    <h2>Confidentiality &amp; Security of Personally Identifiable Information</h2>
    <p>We care about the confidentiality and security of your personal information. We will use commercially reasonable efforts to keep your Personally Identifiable Information private and will not share it with third parties, except as set forth in this Privacy Policy. However, no method of transmitting or storing electronic data is ever completely secure, and we cannot guarantee that such information will never be accessed, used or released in a manner that is inconsistent with this policy.</p>
    <p>This Privacy Policy only applies to information that we collect through the Site and does not apply to information that we may collect from you in other ways (for example, this policy does not apply to information that you may provide to us over the phone, by fax or through conventional mail). In addition, please note your educational records are protected by the Family Educational Rights and Privacy Act ("FERPA") to the extent FERPA applies.</p>

    <h2>Usernames and Postings</h2>
    <p>Comments or other information posted by you to our forums, wikis or other areas of the Site designed for public communications may be viewed and downloaded by others who visit the Site. For this reason, we encourage you to use an anonymous username, and to not post any personally identifiable information to those forums (or other public areas).</p>

    <h2>What You Consent to by Using Our Site</h2>
    <p>By submitting any Personally Identifiable Information to us, you consent and agree that such Personally Identifiable Information may be collected, used and disclosed in accordance with the Privacy Policy and our Terms of Service (“TOS”) and as permitted or required by law, and that such Personally Identifiable Information may be transferred to, processed in and stored in the United States. If you do not agree with these terms, then please do not provide any Personally Identifiable Information to us. As used herein, ‘Personally Identifiable Information’ means any information about yourself that you may provide to us, including, but not limited to, your name, contact information, gender and date of birth. If you refuse, or if you choose not to provide us with any required Personally Identifiable Information, we may not be able to provide you with the services that can be offered on our Site.</p>

    <h2>Information We Collect and How We Use It</h2>
    <p>We collect information, including Personally Identifiable Information, when you sign up for a User Account, participate in online courses, send us email messages and/or participate in our public forums. We collect information about student performance and patterns of learning. We track information indicating, among other things, which pages of our Site were visited, the order in which they were visited, when they were visited and which hyperlinks and other user interface controls were used.</p>

    <p>We may log the IP address, operating system and browser software used by each user of the Site, and we may be able to determine from an IP address a user's Internet Service Provider and the geographic location of his or her point of connectivity. Various web analysis tools are used to collect this information. Some of the information is collected through cookies (a small text file placed on your computer). You should be able to control how and whether cookies will be accepted by your web browser. Most browsers offer instructions on how to reset the browser to reject cookies in the "Help" section of the toolbar. If you reject our cookies, many functions and conveniences of this Site may not work properly.</p>

    <p>Among other things, we may use the information that you provide (including your Personally Identifiable Information) in connection with the following:</p>
    <ul>
      <li>To help us improve edX offerings, both individually (e.g. by course staff when working with a student) and in aggregate, and to individualize the experience and to evaluate the access and use of the Site and the impact of edX on the worldwide educational community. </li>
      <li>For purposes of scientific research, particularly, for example, in the areas of cognitive science and education. </li>
      <li>For the purpose for which you specifically provided the personal information, for example, to respond to a specific inquiry or provide you the specific course and/or services you select.</li>
      <li>To track both individual and aggregate attendance, progress and completion of an online course, and to analyze statistics on student performance and how students learn.</li>
      <li>To monitor and detect violations of the Honor Code, the Terms of Service, as well as other misuses and potential misuses of the site. </li>
      <li>To publish information gathered about edX access, use, impact and student performance but only as non-personally identifiable data.</li>
      <li>To send you updates about online courses offered by edX or other events or to send you email messages about Site maintenance or updates.</li>
      <li>To archive this information and/or use it for future communications with you.</li>
      <li>As otherwise described to you at the point of collection.</li>
    </ul>

    <p>In addition to the above situations where your information may be shared with others, there is also the possibility that edX will affiliate with other educational institutions and/or that edX will become a (or part of a) nonprofit entity separate from MIT, Harvard University and UC Berkeley. In those events, the other educational institutions and/or separate entity will have access to the information you provide, to the extent permitted by FERPA.</p>

    <h2>Sharing with Third Parties</h2>
    <p>We may share the information we collect with third parties as follows:</p>
    <ul>
      <li>With service providers or contractors that perform certain functions on our behalf, including processing information that you provide to us on the Site, operating the Site or portions of it or in connection with other aspects of edX services. These service providers and contractors will be obligated to keep your information confidential.</li>
      <li>With all users and other visitors to the Site, to the extent that you submit post comments or other information to a portion of the Site designed for public communications. As provided in the Terms of Service, we may provide those postings to students in future offerings of the course, either within the context of the forums, the courseware or otherwise, for marketing purposes, or in any other way. If we do use your postings, we will use them without your real name and e-mail (except with explicit permission), but we may use your username. </li>
      <li>To connect you to other users of the Site. For instance, we may recommend specific study partners or connect potential student mentees and mentors. In such cases, we may use all information collected to determine who to connect you to, but we will only connect you by username, and not disclose your real name or e-mail address to your contact. </li>
      <li>To respond to subpoenas, court orders, or other legal process, in response to a request for cooperation from law enforcement or another government agency, to investigate, prevent or take action regarding illegal activities, suspected fraud, or to enforce our user agreement or privacy policy, or to protect our rights or the rights of others.</li>
      <li>As otherwise described to you at the point of collection or pursuant to your consent. For example, from time to time, we may ask your permission to use your Personally Identifiable Information in other ways. In the future, edX may have an alumni association, resume book, etc. We may offer services where it is possible to verify edX credentials. </li>
      <li>For integration with third party services. Videos and other content may be hosted on YouTube and other web sites not controlled by edX. We may provide links and other integration with social networks and other sites. Those web sites are guided by their own privacy policies. </li>
    </ul>

    <h2>Personalization and Pedagogical Improvements</h2>
    <p>Our goal is to provide current and future visitors with the best possible educational experience. To further this goal, we sometimes present different users with different versions of course materials and software. We do this to personalize the experience to the individual learner (assess the learner's level of ability and learning style, and present materials best suited to the learner), to evaluate the effectiveness of our course materials, to improve our understanding of the learning process and to otherwise improve the effectiveness of our offerings. We may publish or otherwise publicize results from this process, but only as non-personally-identifiable data.</p>

    <h2>Changing Our Privacy Policy</h2>
    <p>Please note that we review our privacy practices from time to time, and that these practices are subject to change. We will publish notice of any such modifications online on this page for a reasonable period of time following such modifications, and by changing the effective date of this Privacy Policy. By continuing to access the Site after such changes have been posted, you signify your agreement to be bound by them. Be sure to return to this page periodically to ensure familiarity with the most current version of this Privacy Policy.</p>

    <h2>Privacy Concerns</h2>
    <p>If you have privacy concerns, or have disclosed data you would prefer to keep private, please contact us at <a href="mailto:privacy@edx.org">privacy@edx.org</a>.</p>

    <p><strong>Effective Date:</strong> February 6, 2012</p>
  </div>
</section>
