<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="../main.html" />

<main id="main" aria-label="Content" tabindex="-1">
    <section class="outside-app">
      <h1>
        ${Text(_("Currently the {platform_name} servers are down")).format(
            platform_name=HTML(u"<em>{}</em>").format(Text(settings.PLATFORM_NAME))
        )}
      </h1>
      <p>
        ${Text(_("Our staff is currently working to get the site back up as soon as possible. "
        "Please email us at {tech_support_email} to report any problems or downtime.")).format(
            tech_support_email=HTML('<a href="mailto:{0}">{0}</a>').format(Text(settings.TECH_SUPPORT_EMAIL))
        )}</p>
    </section>
</main>
