<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<section class="outside-app">
  <h1>
    ${_("Currently the {platform_name} servers are overloaded").format(
        platform_name=u"<em>{}</em>".format(platform_name=settings.PLATFORM_NAME)
    )}
  </h1>
  <p>
    ${_("Our staff is currently working to get the site back up as soon as possible. "
    "Please email us at {tech_support_email} to report any problems or downtime.").format(
        tech_support_email=u"<a href=\"mailto:{0}\">{0}</a>".format(tech_support_email=settings.TECH_SUPPORT_EMAIL)
    )}
  </p>
</section>
