section.course-index {
  @extend .sidebar;
  @extend .tran;

  header {
    max-height: 47px;

    h2 {
      white-space: nowrap;
    }
  }

  div#accordion {
    h3 {
      @include border-radius(0);
      border-top: 1px solid lighten($border-color, 10%);
      font-size: em(16, 18);
      margin: 0;
      overflow: hidden;

      &:first-child {
        border: none;
      }

      &:hover {
        color: #666;
        background: #f6f6f6;
      }

      &.ui-state-hover {
        a {
          color: #666;
        }
      }

      &.ui-accordion-header {
        border-bottom: none;
        color: #000;

        a {
          @include border-radius(0);
          @include box-shadow(none);
        }

        &.ui-state-active {
          @extend .active;
          border-bottom: none;

          &:hover {
            background: none;
          }
        }

        span.ui-icon {
          background-image: url("/static/images/ui-icons_222222_256x240.png");
          opacity: .3;
        }
      }
    }

    ul.ui-accordion-content {
      background: transparent;
      border: none;
      @include border-radius(0);
      font-size: em(14, 18);
      margin: 0;
      padding: 1em 1.5em;

      li {
        border-bottom: 0;
        @include border-radius(0);
        margin-bottom: lh(.5);

        a {
          background: transparent;
          border: 1px solid transparent;
          @include border-radius(4px);
          display: block;
          padding: 5px 36px 5px 10px;
          position: relative;
          text-decoration: none;

          p {
            font-weight: bold;
            font-family: $sans-serif;
            margin-bottom: 0;

            span.subtitle {
              color: #666;
              font-weight: normal;
              display: block;
            }
          }

          &:after {
            background: transparent;
            border-right: 1px solid rgb(180,180,180);
            border-top: 1px solid rgb(180,180,180);
            content: "";
            display: block;
            height: 12px;
            margin-top: -6px;
            opacity: 0;
            position: absolute;
            right: 30px;
            top: 50%;
            @include transform(rotate(45deg));
            width: 12px;
          }

          &:hover {
            @include background-image(linear-gradient(-90deg, rgba(245,245,245, 0.4), rgba(230,230,230, 0.4)));
            border-color: rgb(200,200,200);

            &:after {
              opacity: 1;
              right: 15px;
              @include transition();
            }

            > a p {
              color: #333;
            }
          }

          &:active {
            @include box-shadow(inset 0 1px 14px 0 rgba(0,0,0, 0.1));

            &:after {
              opacity: 1;
              right: 15px;
            }
          }
        }

        &.active {
          font-weight: bold;

          > a {
            border-color: rgb(200,200,200);

            &:after {
              opacity: 1;
              right: 15px;
            }

            p {
              color: #333;
            }
          }

          span.subtitle {
            font-weight: normal;
          }
        }
      }
    }
  }
}
