<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

<section class="courses-container">
  <section class="highlighted-courses">

    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <section class="courses">

        <div class="grid-manual">
          <div class="row">
            <div class="col col-8 pre-4">
              <h2> An Online Gateway to Knowledge </h2>
            </div>
          </div>

          <div class="row">
            <div class="col col-3 pre-1">
              <div class="courses-listing-item pre-3">
                <img src="${static.url('images/students.png')}" alt="" style="margin-left: 1%;"/>
                <p >Students with diverse personel, business and academic background from the US and around the world</p>
              </div>
            </div>

            <div class="col col-3">
              <div class="courses-listing-item pre-3">
                <img src="${static.url('images/faculty.png')}" alt="" />
                <p >Faculty who have made the significant contribution to their fields and - in some cases invented them</p>
              </div>
            </div>

            <div class="col col-3">
              <div class="courses-listing-item pre-3">
                <img src="${static.url('images/courses.png')}" alt="" />
                <p >Courses representing world-class educational experience delivered through innovative content design</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-7 pre-5">
              <a href="#" class="btn-neutral">View all</a>
            </div>
          </div>

        </div>
      </section>
    % endif

  </section>
</section>
