## mako
<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>

<%block name="headextra">
<link rel="stylesheet" type="text/css" href="${static.url('css/slick.css')}"/>
</%block>

<%block name="js_extra">
<script type="text/javascript">
  $(window).load(function () {
    $(".more-about-btn").removeClass("hidden");
    if (getParameterByName('next')) {
      $('#login').trigger("click");
    }
  })
</script>
<%include file="about_site.html" />
<script type="text/javascript" src="${static.url('js/slick.min.js')}"></script>
</%block>

<section class="home">
  <header class="hero-main hero">
    <div class="tint-dark">
      <div class="grid-container grid-manual">
        <div class="row">
          <div class="col col-10 sm-col-10 md-col-10 lg-col-8 xl-col-6 text-tint">
            <p>Lorem ipsum dolor sit amet, ad mea dictas audiam, nec id graecis explicari hasnain</p>
            % if show_homepage_promo_video:
              <a href="#video-modal" class="btn-neutral btn-large" rel="leanModal">Watch video <i class="fa fa-play"></i></a>
            % endif
          </div>
        </div>
      </div>
    </div>
  </header>

  <%include file="${courses_list}" />

  <section class="about-section">
    <div class="about-container"></div>
  </section>
</section>

% if show_homepage_promo_video:
<section id="video-modal" class="modal modal-custom custom-video-modal">
  <div class="inner-wrapper">
    <iframe title="YouTube Video" width="640" height="360"
            src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0"
            allowfullscreen></iframe>
  </div>
</section>
% endif

% if show_signup_immediately is not UNDEFINED:
## NOTE: This won't work in production, because anonymous views are cached, so it will
## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function () {
    $('#signup_action').trigger("click");
  });
</script>
% endif
