<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/main.html" />
<%block name="bodyclass">${course.css_class}</%block>
<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
<%static:css group='course'/>
</%block>

<%block name="title"><title>${_("{course_number} Combined Notifications").format(course_number=course.number)}</title></%block>

<%include file="/courseware/course_navigation.html" args="active_page='open_ended'" />


<section class="container">
    <div class="combined-notifications" data-ajax_url="${ajax_url}">
        <div class="error-container">${error_text}</div>
        <h1>${_("Open Ended Console")}</h1>
        <h2>${_("Instructions")}</h2>
        <p>${_("Here are items that could potentially need your attention.")}</p>
        % if success:
            % if len(notification_list) == 0:
            <div class="message-container">
              ${_("No items require attention at the moment.")}
            </div>
            %else:
            <div class="notification-container">
                %for notification in notification_list:
                 % if notification['alert']:
                    <div class="notification alert">
                % else:
                    <div class="notification">
                % endif
                    <a href="${notification['url']}" class="notification-link">
                        <div class="notification-title">${notification['name']}</div>
                        %if notification['alert']:
                        <p class="alert-message"><img src="/static/images/grading_notification.png" /> ${notification['alert_message']}</p>
                        %endif
                    <div class="notification-description">
                        <p>${notification['description']}</p>
                    </div>
                    </a>
                </div>
                %endfor
            </div>
            %endif
        %endif
    </div>
</section>
