<%block name="main">
<%! from django.utils.translation import ugettext as _ %>

<div id="field-label" style="display:none">${field}</div>

<h1> ${field_label} </h1>
${_('Switch to <a id="switch-fields" other-field="{other_field}">{other_field_label}</a>'.format(
    other_field=other_field,
    other_field_label=other_field_label
))}

<p style="color:red"> ${error} </p>

% for definition_id in all_hints:
    <h2> ${_('Problem:')} ${id_to_name[definition_id]} </h2>
    % for answer, hint_dict in all_hints[definition_id]:
        % if len(hint_dict) > 0:
            <h4> ${_('Answer:')} ${answer} </h4><div style="background-color:#EEEEEE">
        % endif
        % for pk, hint in hint_dict.items():
            <p data-problem="${definition_id}" data-pk="${pk}" data-answer="${answer}">
                <input class="hint-select" type="checkbox"/> ${hint[0]}
                <br /> 
                ${_('Votes:')} <input type="text" class="votes" value="${str(hint[1])}" style="font-size:12px; height:20px; width:50px"></input>
                <br /><br />
            </p>
        % endfor
        % if len(hint_dict) > 0:
            </div><br />
        % endif
    % endfor        

    <h4> ${_('Add a hint to this problem')} </h4>
    <h4> ${_('Answer:')} </h4>
    <input type="text" class="submit-hint-answer" data-problem="${definition_id}"/>
    ${_('(Be sure to format your answer in the same way as the other answers you see here.)')}
    <br /> 
    ${_('Hint:')} <br />
    <textarea cols="50" style="height:200px" class="submit-hint-text" data-problem="${definition_id}"></textarea>
    <br />
    <button class="submit-new-hint" data-problem="${definition_id}"> ${_('Submit')} </button>
    <br />
% endfor

<p style="color:red"> ${error} </p>
<button id="hint-delete"> ${_('Delete selected')} </button> <button id="update-votes"> ${_('Update votes')} </button>

% if field == 'mod_queue':
    <button id="approve"> ${_('Approve selected')} </button>
% endif

</%block>