# .coveragerc for cms
[run]
data_file = reports/cms/.coverage
source = cms,common/djangoapps
omit = cms/envs/*, cms/manage.py, common/djangoapps/terrain/*, common/djangoapps/*/migrations/*

[report]
ignore_errors = True

[html]
title = CMS Python Test Coverage Report
directory = reports/cms/cover

[xml]
output = reports/cms/coverage.xml
