# .coveragerc for common/lib/capa
[run]
data_file = reports/common/lib/capa/.coverage
source = common/lib/capa

[report]
ignore_errors = True

[html]
title = Capa Python Test Coverage Report
directory = reports/common/lib/capa/cover

[xml]
output = reports/common/lib/capa/coverage.xml
