# .coveragerc for common/lib/capa
[run]
data_file = common/lib/capa/.coverage

[report]
ignore_errors = True

[html]
directory = reports/common/lib/capa/cover

[xml]
output = reports/common/lib/capa/coverage.xml
