<%! from django.utils.translation import ugettext as _ %>
<%! import django_comment_client.helpers as helpers %>

% if recent_active_threads:
  <article class="discussion-sidebar-following sidebar-module">
    <header>
      <h4>${_("Following")}</h4>
      <!--<a href="#" class="sidebar-view-all">view all &rsaquo;</a>-->
    </header>
    <ol class="discussion-sidebar-following-list">
      % for thread in recent_active_threads:
        <li><a href="${helpers.permalink(thread) | h}"><span class="sidebar-following-name">${thread['title'] | h}</span> <span class="sidebar-vote-count">${thread['votes']['point'] | h}</span></a></li>
      % endfor
    <ol>
  </article>
% endif
