Recent active posts that you are following

<div class="recent-active-posts">
<a class="recent-active-post" href="javascript:void(0)">Sapiente officiis debitis repellendus eligendi aliquid natus saepe.</a>
<a class="recent-active-post" href="javascript:void(0)">Sapiente officiis debitis repellendus eligendi aliquid natus saepe.</a>
<a class="recent-active-post" href="javascript:void(0)">Sapiente officiis debitis repellendus eligendi aliquid natus saepe.</a>
<a class="recent-active-post" href="javascript:void(0)">Sapiente officiis debitis repellendus eligendi aliquid natus saepe.</a>
<a class="recent-active-post" href="javascript:void(0)">Sapiente officiis debitis repellendus eligendi aliquid natus saepe.</a>
<a class="recent-active-post" href="javascript:void(0)">Sapiente officiis debitis repellendus eligendi aliquid natus saepe.</a>
</div>
