<%namespace name="renderer" file="_thread.html"/>

<section class="discussion">
  <a class="discussion-title" href="javascript:void(0)">Discussion</a>
  ${renderer.render_thread(course_id, thread, show_comments=True)}
</section>

<%!
  def escape_quotes(text):
    return text.replace('\"', '\\\"').replace("\'", "\\\'")
%>

<script type="text/javascript">
  var $$user_info = JSON.parse('${user_info | escape_quotes}');
  var $$course_id = "${course_id}";
  if (typeof $$annotated_content_info === undefined || $$annotated_content_info === null) {
    var $$annotated_content_info = {};
  }
  $$annotated_content_info = $.extend($$annotated_content_info, JSON.parse("${annotated_content_info | escape_quotes}"));
</script>
