<%! import django_comment_client.helpers as helpers %>

% if trending_tags:
  <article class="discussion-sidebar-tags sidebar-module">
      <header>
        <h4>Recent Tags</h4>
      </header>
      <ol class="discussion-sidebar-tags-list">
        % for tag, count in trending_tags:
          <li><a href="${helpers.url_for_tags(course.id, tag) | h}" class="thread-tag">${tag | h}</a><span class="sidebar-tag-count">&times;${count | h}</span></li>
        % endfor
      <ol>
  </article>
% endif
