<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%block name="bodyclass">discussion</%block>
<%block name="pagetitle">${_("Discussion - {course_number}").format(course_number=course.display_number_with_default) | h}</%block>
<%block name="nav_skip">#discussion-container</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>

<%block name="js_extra">
<%include file="/discussion/_js_body_dependencies.html" />
<%static:js group='discussion'/>
</%block>

<%include file="_discussion_course_navigation.html" args="active_page='discussion'" />

<%include file="/discussion/_discussion_course.html" />
