<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%block name="bodyclass">discussion</%block>
<%block name="title"><title>Discussion – MITx 6.002x</title></%block>

<%block name="headextra">
<%static:css group='course'/>
<%include file="_js_head_dependencies.html" />
</%block>

<%block name="js_extra">
<%include file="_js_body_dependencies.html" />
<%static:js group='discussion'/>
</%block>

<%include file="../courseware/course_navigation.html" args="active_page='discussion'" />

<section class="container">
  <div class="course-wrapper">
    <section aria-label="Course Navigation" class="course-index">
      <nav>
        
        <article class="sidebar-module discussion-sidebar">
          <a href="#" class="sidebar-new-post-button">New Post</a>
        </article>

        <%include file="_recent_active_posts.html" />

        <%include file="_trending_tags.html" />
        
      </nav>
    </section>

    <section class="course-content">
      ${content}
    </section>
  </div>
</section>
