section.help.main-content {
  padding: lh();

  h1 {
    border-bottom: 1px solid #ddd;
    margin-bottom: lh();
    margin-top: 0;
    padding-bottom: lh();
  }

  p {
    max-width: 700px;
  }

  h2 {
    margin-top: 0;
  }

  section.self-help {
    float: left;
    margin-bottom: lh();
    margin-right: flex-gutter();
    width: flex-grid(6);

    ul {
      margin-left: flex-gutter(6);

      li {
        margin-bottom: lh(.5);
      }
    }
  }

  section.help-email {
    float: left;
    width: flex-grid(6);

    dl {
      display: block;
      margin-bottom: lh();

      dd {
        margin-bottom: lh();
      }

      dt {
        clear: left;
        float: left;
        font-weight: bold;
        width: flex-grid(2, 6);
      }
    }
  }
}
