<%! from django.utils.translation import ugettext as _ %>

<div class="batch-enrollment" style="float:left;width:50%">
  <form method="POST" action="ccx_invite">
  <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
  <h2 tabindex="0"> ${_("Batch Enrollment")} </h2>
  <p>
    <label id="label-student-ids" for="student-ids">
      ${_("Enter email addresses and/or usernames separated by new lines or commas.")}
      ${_("You will not get notification for emails that bounce, so please double-check spelling.")} </label>
    <textarea rows="6" name="student-ids" aria-describedby="label-student-ids" placeholder="${_("Email Addresses/Usernames")}" spellcheck="false"></textarea>
  </p>

  <div class="enroll-option">
    <input type="checkbox" name="auto-enroll" aria-describedby="label-auto-enroll" value="Auto-Enroll" checked="yes">
    <label style="display:inline" id="label-auto-enroll" for="auto-enroll">${_("Auto Enroll")}</label>
    <div class="hint auto-enroll-hint">
      <span class="hint-caret"></span>
      <p>
	${_("If this option is <em>checked</em>, users who have not yet registered for {platform_name} will be automatically enrolled.").format(platform_name=settings.PLATFORM_NAME)}
	${_("If this option is left <em>unchecked</em>, users who have not yet registered for {platform_name} will not be enrolled, but will be allowed to enroll once they make an account.").format(platform_name=settings.PLATFORM_NAME)}
	<br /><br />
	${_("Checking this box has no effect if 'Unenroll' is selected.")}
      </p>
    </div>
  </div>

  <div class="enroll-option">
    <input type="checkbox" name="email-students" aria-describedby="label-email-students" value="Notify-students-by-email" checked="yes">
    <label style="display:inline" id="label-email-students" for="email-students">${_("Notify users by email")}</label>
    <div class="hint email-students-hint">
      <span class="hint-caret"></span>
      <p>
	${_("If this option is <em>checked</em>, users will receive an email notification.")}
      </p>
    </div>
  </div>

  <div>
    <input type="submit" name="enrollment-button" class="enrollment-button" value="${_("Enroll")}">
    <input type="submit" name="enrollment-button" class="enrollment-button" value="${_("Unenroll")}">
  </div>
  <div class="request-response"></div>
  <div class="request-response-error"></div>
  </form>
</div>

<div class="member-lists-management" style="float:left;width:50%">
  <form method="POST" action="ccx_manage_student">
  <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
  <div class="auth-list-container active">
    <div class="member-list-widget">
      <div class="member-list">
        <h2 tabindex="0"> ${_("Student List Management")}</h2>
        <table>
          <thead>
            <tr>
              <td class="label">Username</td>
              <td class="label">Email</td>
              <td class="label">Revoke access</td>
            </tr>
          </thead>
          <tbody>
            %for member in ccx_members:
            <tr>
              <td tabindex="0">${member.student}</td>
              <td tabindex="0">${member.student.email}</td>
              <td><div class="revoke" tabindex="0"><i class="icon-remove-sign"></i> Revoke access</div></td>
            </tr>
            %endfor
          </tbody>
        </table>
      </div>
      <div class="bottom-bar">
        <input name="student-id" class="add-field" placeholder="Enter username or email" type="text">
        <input name="student-action" class="add" value="Add Student" type="button">
      </div>
    </div>
  </div>
  </form>
</div> 
