<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%block name="jsextra">
  <script src="${static.url('xmodule_js/common_static/js/vendor/jquery.event.drag-2.2.js')}"></script>
  <script src="${static.url('js/vendor/slick.core.js')}"></script>
  <script src="${static.url('js/vendor/slick.grid.js')}"></script>
  <%static:js group='ccx'/>
</%block>

<section>
  <h2>${_('Student Grades')}</h2>
  <p>
    <a href="${gradebook_url}">${_('View gradebook')}</a>
  </p>
  <br/>
  <div id="ccx_grade_book_download">
    <p>
      <a href="#" data-endpoint="${grades_csv_url}" id="ccx-calculate-grades-csv">
        ${_("Generate Grade Report")}
      </a>
    </p>
    <br/>
    <div class="msg msg-confirm copy"></div>
    <div class="msg msg-error copy"></div>
    <br/>

    ## Translators: a table of URL links to report files appears after this sentence.
    <p>${_("<b>Note</b>: To keep student data secure, you cannot save or email these links for direct access. Copies of links expire within 5 minutes.")}</p><br>
    <br/>
    <div class="report-downloads-table" id="ccx_report-downloads-table" data-endpoint="${list_ready_downloads}"></div>
  </div>
</section>
<script>
$(function() {
  var view = new edx.ccx.grade_book_download.GradeBookDownloadView({
    el: $('#ccx_grade_book_download')
  });
  view.render();
});
</script>
