<section>
    <p>Hello {{first_name}},</p>
    <br/>
    <p>Just to let you know that the Gen+ Support team have received your message. Someone will be in touch soon to get this sorted for you - hang tight!</p>
    <p>We're going to get to this as quick as we can, but if you need an update then email: <a href="mailto:{{contact_email}}">{{contact_email}}</a></p>
    <section>
        <p>Your Name: {{full_name}}</p>
        <p>Your School: <strong>{{school}}</strong></p>
        <p>Time and Date sent: {{date_time}}</p>
        <p>Message: <strong>{{message}}</strong></p>
    </section>
    <br/>
    <p>The Gen+ Support Team</p>
</section>
