<article class="asset-library widget">
  <table>
    <thead>
      <tr>
        <th class="thumb-col"></th>
        <th class="name-col">Name</th>
        <th class="date-col">Date Added</th>
        <th class="embed-col">Embed</th>
      </tr>
    </thead>
    <tbody id="asset_table_body">
      <tr data-id="id">
        <td class="thumb-col">
          <div class="thumb">            
            <img src="/">
          </div>
        </td>
        <td class="name-col">
          <a href="#" class="filename">asset name</a>
          <div class="embeddable-xml"></div>
        </td>
        <td class="date-col">
          date
        </td>
        <td class="embed-col">
          <input type="text" class="embeddable-xml-input" value='<img src="#"/>'>
        </td>
      </tr>
    </tbody>
  </table>
  <nav class="pagination wip-box">
    Page: 
    <ol class="pages">
      <li>1</li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
    </ol>
    <a href="#" class="next">»</a>
  </nav>
</article>