<%! from django.utils.translation import ugettext as _ %>
<div class="wrapper-comp-editor" id="editor-tab">
    <section class="editor">
  % if tabs.items():
      <ul class="editor-tabs">
        <li><a href="#advanced" class="tab current" data-tab="advanced">${_("HTML")}</a></li>
    % for tab_name, tab_content in tabs.items():
        <li><a href="#tab-${loop.index}" class="tab">${tab_name}</a></li>
    % endfor
      </ul>
      <div class="tabs-wrapper">
  % else:
    <div>
  % endif
        <div class="component-tab" id="advanced">
          <textarea class="edit-box">${data | h}</textarea>
        </div>
       % for tab_name, tab_content in tabs.items():
        <div class="wrapper-comp-${tab_name.lower() | entity} component-edit-tab component-tab is-inactive" id="tab-${loop.index}">
            <%include file="${tab_content}"/>
        </div>
        % endfor
      </div>
    </section>
</div>

<%include file="metadata-edit.html" />
