## Language-selection widget for the footer.
##
## Requires settings.LANGUAGE_COOKIE.
<%page expression_filter="h"/>
<%!
  from babel import Locale
  from django.conf import settings
  from django.utils.translation import ugettext as _

  from openedx.core.djangoapps.lang_pref import COOKIE_DURATION
  from openedx.core.djangoapps.lang_pref.api import released_languages
  from openedx.core.djangolib.js_utils import js_escaped_string

  # Make sure LANGUAGE_COOKIE is present.
  if not settings.LANGUAGE_COOKIE:
      raise ValueError('settings.LANGUAGE_COOKIE is required to use footer-language-selector.')
%>
<%namespace name='static' file='../static_content.html'/>

<div class="select-component footer-language-selector">

    ##<label for="footer-language-select">
    ##    <span class="icon fa fa-globe" aria-hidden="true"></span>
    ##    <span class="sr">${_("Choose Language")}</span>
    ##</label>
    <select id="footer-language-select" name="language" onchange="footerLanguageSelector.handleSelection(this)">
        % for language in sorted(released_languages(), key=lambda x: x.code):
            <% language_name = Locale.parse(language.code.replace('_', '-'), sep='-').language_name %>
            % if language.code == LANGUAGE_CODE:
                <option value="${language.code}" imagesrc="${static.url('images/country-icons/{}.png'.format(language.code))}" selected="selected">${language_name}</option>
            % else:
                <option value="${language.code}" imagesrc="${static.url('images/country-icons/{}.png'.format(language.code))}">${language_name}</option>
            % endif
        % endfor
    </select>
</div>

<script type="text/javascript">

    class selectComponent {

        constructor () {
            let wrapper;
            /* Look for any elements with the class "footer-language-selector": */
            wrapper = document.querySelector(".footer-language-selector");

            let selElmnt = this.selectEl = wrapper.querySelector('select');
            /* For each element, create a new DIV that will act as the selected item: */
            let dropdown = this.dropdown = document.createElement("div");
            dropdown.setAttribute("class", "select-selected");
            let icon = document.createElement("img");
            let span = document.createElement("span");
            dropdown.appendChild(icon);
            dropdown.appendChild(span);
            let selectedItem = selElmnt.children[selElmnt.selectedIndex];
            span.innerText = selectedItem.innerText;
            icon.src = selectedItem.getAttribute('imageSrc');
            wrapper.appendChild(dropdown);

            /* For each element, create a new DIV that will contain the option list: */
            let panel = this.panel = document.createElement("ul");
            panel.setAttribute("class", "select-items select-hide");
            let selectedIndex = this.selectEl.selectedIndex;

            for (let j = 0; j < selElmnt.length; j++) {
                /* For each option in the original select element,
                create a new DIV that will act as an option item: */
                let item = document.createElement("li");
                let img = document.createElement("img");
                let span = document.createElement("span");
                item.appendChild(img);
                item.appendChild(span);
                const option = selElmnt.options[j];
                span.innerText = option.innerHTML;
                img.src = option.getAttribute('imagesrc');

                if (j == selectedIndex){
                    item.classList.add('same-as-selected');
                }

                item.addEventListener("click", this.selectItem.bind(this));
                panel.appendChild(item);
            }
            wrapper.appendChild(panel);

            dropdown.addEventListener("click", this.togglePanel.bind(this));
            document.querySelector('body:not(.select-component)').addEventListener("click", this.closePanel.bind(this));
        }

        togglePanel(e) {
            /* When the select box is clicked, close any other select boxes,
            and open/close the current select box: */
            e && e.stopPropagation();
            this.closeAllSelect(this.dropdown);
            this.dropdown.nextSibling.classList.toggle("select-hide");
            this.dropdown.classList.toggle("select-arrow-active");
        }

        closePanel() {
            this.closeAllSelect(this.dropdown);
            this.dropdown.nextSibling.classList.add("select-hide");
            this.dropdown.classList.remove("select-arrow-active");
        }

        selectItem (e) {
            /* When an item is clicked, update the original select box,
            and the selected item: */
            let span = this.dropdown.querySelector('span');
            let icon = this.dropdown.querySelector('img');

            let li = e.currentTarget;
            let liSpan = li.querySelector('span');
            let liIcon = li.querySelector('img');

            span.innerText = liSpan.innerText;
            icon.setAttribute('src', liIcon.getAttribute('src'));

            //this.panel.querySelector('li').classList.remove('same-as-selected');
            this.panel.querySelectorAll('li').forEach(li=> li.classList.remove('same-as-selected'))
            li.classList.add('same-as-selected');
            this.togglePanel();
            this.selectEl.selectedIndex = this.getIndex(li);
            footerLanguageSelector.handleSelection(this.selectEl);
        }

        closeAllSelect(elmnt) {
            /* A function that will close all select boxes in the document,
            except the current select box: */
            let panel, dropdown, arrNo = [];
            panel = document.getElementsByClassName("select-items");
            dropdown = document.getElementsByClassName("select-selected");
            for (let i = 0; i < dropdown.length; i++) {
                if (elmnt == dropdown[i]) {
                    arrNo.push(i)
                } else {
                    dropdown[i].classList.remove("select-arrow-active");
                }
            }
            for (let i = 0; i < panel.length; i++) {
                if (arrNo.indexOf(i)) {
                    x[i].classList.add("select-hide");
                }
            }
        }

        getIndex(liRef) {
            let nodes = Array.prototype.slice.call( this.panel.children );
            return nodes.indexOf( liRef );
        }
    }

    window.onload = new selectComponent();

    window.footerLanguageSelector = {
        ##
        ## Set the language cookie using the same settings as
        ## https://github.com/edx/edx-platform/blob/master/openedx/core/djangoapps/lang_pref/views.py#L26
        ## and
        ## https://github.com/edx/edx-platform/blob/master/openedx/core/djangoapps/lang_pref/middleware.py#63
        ## Then refresh the page so that the language negotiation middleware can read it and re-render everything
        ## in the selected language.
        ##
        ## NOTE: For logged-in users, the LMS language negotiation middleware should persist the selected language
        ## preference to the user's profile. This effect may be delayed on pages that do not use the LMS language
        ## selection middleware.
        ##
        handleSelection: function($select) {
            this.setLanguageCookie($select.value, this.refreshPage);
        },

        setLanguageCookie: function(value, callback) {
            var cookie = '${settings.LANGUAGE_COOKIE | n, js_escaped_string}=' + value + ';path=/';

            <% session_cookie_domain = static.get_value('SESSION_COOKIE_DOMAIN', settings.SESSION_COOKIE_DOMAIN) %>
            % if session_cookie_domain:
                cookie += ';domain=${session_cookie_domain | n, js_escaped_string}';
            % endif
            % if COOKIE_DURATION:
                cookie += ';max-age=${COOKIE_DURATION | n, js_escaped_string}';
            % endif

            document.cookie = cookie;

            callback();
        },

        refreshPage: function() {
            window.location.reload();
        }
    };
</script>
