  <script type="text/template" id="simple-editor-cheatsheet">
    <article class="simple-editor-cheatsheet">
      <div class="cheatsheet-wrapper">
        <div class="row">
          <h6>Multiple Choice</h6>
          <div class="col sample">
            <img src="/static/img/choice-example.png" />
          </div>
          <div class="col">
            <pre><code>( ) red
( ) green
(x) blue</code></pre>
          </div>
        </div>
        <div class="row">
          <h6>Multiple Check</h6>
          <div class="col sample">
            <img src="/static/img/multi-example.png" />
          </div>
          <div class="col">
            <pre><code>[ ] earth
[ ] wind
[x] water</code></pre>
          </div>
        </div>
        <div class="row">
          <h6>String Response</h6>
          <div class="col sample">
            <img src="/static/img/string-example.png" />
          </div>
          <div class="col">
            <pre><code>= dog</code></pre>
          </div>
        </div>
        <div class="row">
          <h6>Numerical Response</h6>
          <div class="col sample">
            <img src="/static/img/number-example.png" />
          </div>
          <div class="col">
            <pre><code>= 3.14 +- 2%</code></pre>
          </div>
        </div>
        <div class="row">
          <h6>Option Response</h6>
          <div class="col sample">
            <img src="/static/img/select-example.png" />
          </div>
          <div class="col">
            <pre><code>[[wrong, (right)]]</code></pre>
          </div>
        </div>
      </div>
    </article>
  </script>


  <script type="text/template" id="problem-editor">
    <div class="problem-editor editor">
      <div class="row">
        <div class="editor-bar">
          <ul class="format-buttons">
            <li><a href="#" class="multiple-choice-button" data-tooltip="Multiple Choice"><span class="problem-editor-icon multiple-choice"></span></a></li>
            <li><a href="#" class="checks-button" data-tooltip="Check Multiple"><span class="problem-editor-icon checks"></span></a></li>
            <li><a href="#" class="string-button" data-tooltip="String Response"><span class="problem-editor-icon string"></span></a></li>
            <li><a href="#" class="number-button" data-tooltip="Numerical Response"><span class="problem-editor-icon number"></span></a></li>
            <li><a href="#" class="dropdown-button" data-tooltip="Dropdown"><span class="problem-editor-icon dropdown"></span></a></li>
          </ul>
          <ul class="editor-tabs">
            <li><a href="#" class="simple-tab tab current" data-tab="simple">Simple</a></li>
            <li><a href="#" class="xml-tab tab" data-tab="xml">XML</a></li>
            <li><a href="#" class="cheatsheet-toggle" data-tooltip="Toggle Cheatsheet">?</a></li>
          </ul>
        </div>
        <textarea class="edit-box"></textarea>
        <textarea class="xml-box"></textarea>
      </div>
      <div class="row">
        <div class="problem-settings">
          <div class="row">
            <label>Show Answer:</label>
            <select>
              <option>attempted</option>
              <option>always</option>
              <option>never</option>
              <option>closed</option>
            </select>
          </div>
          <div class="row">
            <label>Rerandomize:</label>
            <select>
              <option>always</option>
              <option>never</option>
              <option>per_student</option>
            </select>
          </div>
        </div>
        <a href="#" class="problem-settings-button"><span class="settings-icon"></span><span class="button-label">Show Advanced Settings</span></a>
      </div>
      <div class="row">
        <a href="#" class="save-button">Save</a><a href="#" class="cancel-button">Cancel</a>
      </div>
    </div>    
  </script>

  <script type="text/template" id="problem-preview">
    <section class="xmodule_display xmodule_CapaModule" data-type="Problem">
      <section id="problem_i4x-Giannattasio-313-problem-9e62f3fb1fa14ba6a671b3de73c02eab" class="problems-wrapper" data-problem-id="i4x://Giannattasio/313/problem/9e62f3fb1fa14ba6a671b3de73c02eab" data-url="/preview/modx/0/i4x://Giannattasio/313/problem/9e62f3fb1fa14ba6a671b3de73c02eab">

        <section class="problem"></section>

        <section class="action">
          <input type="hidden" name="problem_id" value="Option Response">
          <input class="check Check" type="button" value="Check">
          <input class="show" type="button" value="Show Answer">
        </section>
      </section>
    </section>
  </script>