<section class="problem-new">
  <header>
    <a href="#" class="cancel">Cancel</a>
    <a href="#" class="save-update">Save &amp; Update</a>
  </header>

  <section>
    <header>
    <h1 class="editable">New Problem</h1>

      <section class="status-settings">
        <ul>
          <li><a href="#" class="current">Scrap</a></li>
          <li><a href="#">Draft</a></li>
          <li><a href="#">Proofed</a></li>
          <li><a href="#">Published</a></li>
        </ul>
        <a href="#" class="settings">Settings</a>

        <select name="" id="">
          <option>Global</option>
        </select>
      </section>
      <section class="meta">
        <div>
          <h2>Tags:</h2>
          <p class="editable">Click to edit</p>
        </div>

        <div>
          <h2>Goal</h2>
          <p class="editable">Click to edit</p>
        </div>
      </section>
    </header>

    <section>
      <textarea name="" id= rows="8" cols="40"></textarea>
      <div class="preview">
      </div>
    </section>

    <section class="notes">
      <h2>Add notes</h2>
      <textarea name="" id= rows="8" cols="40"></textarea>
      <input type="submit" name="" id="" value="post" />
    </section>

    <a href="" class="save-update">Save &amp; Update</a>
  </section>
</section>
