<%! from django.core.urlresolvers import reverse %>
% if user.is_authenticated():
<div class="wrapper-sock wrapper">
  <section class="sock">
    <header>
      <h2 class="title"><i class="ss-icon ss-symbolicons-block icon-help">&#xEE11;</i> Studio Support</h2>
    </header>
    
    <div class="support">
      <h3 class="sr title">Studio Support</h3>
      
      <div class="copy">
         <p>Need help getting started with Studio? Want to know how to manage a particular part of your course using Studio? Take advantage of our documentation, help forums, as well as our edX101 introduction course for course authors.</p>
      </div>
      
    <ul class="list-actions">
      <li class="action-item">
        <a href="" class="action action-primary"><i class="ss-icon ss-symbolicons-block icon-download">&#xEB02;</i> Download Studio Documentation</a>
        <span class="tip">How to use Studio to build your course</span>
      </li>
      <li class="action-item">
        <a href="" class="action action-primary"><i class="ss-icon ss-symbolicons-block icon-enroll">&#x1F393;</i> Studio Help Center</a>
        <span class="tip"><i class="ss-icon ss-symbolicons-block icon-help">&#xEE11;</i> Studio Help Center</span>
      </li>
      <li class="action-item">
        <a href="" class="action action-primary"><i class="ss-icon ss-symbolicons-block icon-enroll">&#x1F393;</i> Enroll in edX101</a>
        <span class="tip">How to use Studio to build your course</span>
      </li>
    </ul>
    </div>
    
    <div class="feedback">
      <h3 class="sr title">Share Feedback on Studio</h3>
      
      <div class="copy">
         <p>Have questions or thoughts about using Studio? We're here to help and listen to feedback you want to share.</p>
      </div>
      
      <ul class="list-actions">
        <li class="action-item">
          <a href="" class="action action-primary"><i class="ss-icon ss-symbolicons-block icon-feedback">&#xE398;</i> Share Studio Feedback</a>
        </li>
      </ul>
    </div>
  </section>
</div>
% endif