<%! from django.core.urlresolvers import reverse %>
<%! from contentstore.utils import compute_unit_state %>

<!--
This def will enumerate through a passed in subsection and list all of the units
-->
<%def name="enum_units(subsection, actions=True, selected=None, sortable=True, subsection_units=None)">
<ol ${'class="sortable-unit-list"' if sortable else ''}>
  <%
    if subsection_units is None:
      subsection_units = subsection.get_children()
  %>
  % for unit in subsection_units:
  <li class="leaf unit" data-id="${unit.location}" data-parent-id="${subsection.location.url()}">
    <%
      unit_state = compute_unit_state(unit)
      if unit.location == selected:
        selected_class = 'editing'
      else:
        selected_class = ''
    %>
    <div class="section-item unit-drag-handle ${selected_class}">
      <a href="${reverse('edit_unit', args=[unit.location])}" class="${unit_state}-item">
        <span class="${unit.scope_ids.block_type}-icon"></span>
        <span class="unit-name">${unit.display_name_with_default}</span>
      </a>
      % if actions:
      <div class="item-actions">
	<a href="#" data-tooltip="Delete this unit" class="delete-button" data-id="${unit.location}"><span class="delete-icon"></span></a>
      </div>
      % endif
    </div>
  </li>
  % endfor
  <li>
    <a href="#" class="new-unit-item" data-category="${new_unit_category}" data-parent="${subsection.location}">
      <span class="new-unit-icon"></span>New Unit
    </a>
  </li>
</ol>
</%def>



