<section class="week-new">
  <header>
    <h1>Week 6</h1>

    <section class="goals">
      <header>
        <h2>Weeks goals:</h2>
        <p><a href="#">+</a></p>
      </header>

      <ul>
        <li>
          <h3>Create new goal</h2>
          <p>Goals are overarching themes for the week</p>
        </li>
      </ul>
    </section>
  </header>

  <section class="filters disabled">
    <ul>
      <li>
        <label for="">Sort by</label>
        <select>
          <option value="">Recently Modified</option>
        </select>
      </li>

      <li>
        <label for="">Display</label>
        <select>
          <option value="">All content</option>
        </select>
      </li>
      <li>
        <select>
          <option value="">Internal Only</option>
        </select>
      </li>

      <li class="advanced">
        <a href="#">Advanced filters</a>
      </li>

      <li>
        <form>
          <input type="search" name="" id="" value="" />
        </form>
      </li>
    </ul>
  </section>

  <section class="content">

    <section class="weeks-content">
      <header>
        <h2>Weeks Content</h2>
      </header>
    </section>

    <section class="scratch-pad">
      <header>
        <h2>Scratch pad</h2>
      </header>

      <ul>
        <li class="new-module">
          <%include file="new-module.html"/>
        </li>
      </ul>
    </section>
  </section>

  <section class="new-bar">
    <ul>
      <li>
        <a href="#">Existing content</a>
      </li>
      <li>
        <a href="#">New Video</a>
      </li>
      <li>
        <a href="#">New Problem</a>
      </li>
      <li>
        <a href="#">New Lab</a>
      </li>
    </ul>
  </section>
</section>
