#coursenav {
	background-color:#031634;
	padding: 4px 8px 8px 0px;
	margin:  4px 8px 8px 0px;
        width: 100%;
	text-align: right;
}

#left_nav {
    border: 0; 
    padding: 0; 
    margin: 0;
    float: left;
    width: 276;
}

#hide_acc {
    min-height:600;
}

#mainblock {
    border: 0; 
    padding: 0; 
    margin: 0;
    width: 200;
    min-height:600px;
    margin-left: 276px;
    margin-right: 0px;
}


#bodyContent {
    width: 100%;
}

.bordered { border: 1px solid #AAAAAA; } 

.seq_problem_visited    {     background-color: #ccccaa;}
.seq_video_visited      {     background-color: #ccaacc;}
.seq_video_visited      {     background-color: #cccaac;}
.seq_html_visited       {     background-color: #caaccc;}
.seq_tab_visited        {     background-color: #aacccc;}
.seq_vertical_visited   {     background-color: #acaccc;}
.seq_sequential_visited {     background-color: #cacacc;}
.seq_problem_visited    {     background-color: #ccacac;}
.seq_schematic_visited  {     background-color: #cccaca;}

.seq_problem_inactive    {     background-color: #aaaa99;}
.seq_video_inactive      {     background-color: #aa99aa;}
.seq_video_inactive      {     background-color: #aaa99a;}
.seq_html_inactive       {     background-color: #a99aaa;}
.seq_tab_inactive        {     background-color: #99aaaa;}
.seq_vertical_inactive   {     background-color: #9a9aab;}
.seq_sequential_inactive {     background-color: #a9a9aa;}
.seq_problem_inactive    {     background-color: #aa9a9a;}
.seq_schematic_inactive  {     background-color: #aaa9a9;}

.seq_active { background-color: red;}