<ul>
{{#notifications}}
{{#post_reply}}
<li>{{users_description}} replied to the post <a href="{{thread_url}}">{{thread_title}}</a> ({{str_time}})</li>
{{/post_reply}}
{{#post_topic}}
<li>{{users_description}} wrote a new post: <a href="{{thread_url}}">{{thread_title}}</a> ({{str_time}})</li>
{{/post_topic}}
{{#at_user_in_comment}}
<li>{{users_description}} mentioned you in the comment to the post <a href="{{comment_url}}">{{thread_title}}</a> ({{str_time}})</li>
{{/at_user_in_comment}}
{{#at_user_in_thread}}
<li>{{users_description}} mentioned you in the post <a href="{{thread_url}}">{{thread_title}}</a> ({{str_time}})</li>
{{/at_user_in_thread}}
{{/notifications}}
</ul>
