/* line 12, ../sass/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

/* line 21, ../sass/_reset.scss */
html, body {
  font-size: 100%; }

/* line 26, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

/* line 31, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block; }

/* line 36, ../sass/_reset.scss */
audio:not([controls]) {
  display: none; }

/* line 41, ../sass/_reset.scss */
[hidden] {
  display: none; }

/* line 47, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 54, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif; }

/* line 60, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
/* line 69, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0; }

/* line 75, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 80, ../sass/_reset.scss */
b, strong {
  font-weight: bold; }

/* line 84, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px; }

/* line 89, ../sass/_reset.scss */
dfn {
  font-style: italic; }

/* line 94, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 101, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* line 108, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 115, ../sass/_reset.scss */
blockquote, q {
  quotes: none; }
  /* line 117, ../sass/_reset.scss */
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

/* line 123, ../sass/_reset.scss */
small {
  font-size: 75%; }

/* line 127, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 134, ../sass/_reset.scss */
sup {
  top: -0.5em; }

/* line 138, ../sass/_reset.scss */
sub {
  bottom: -0.25em; }

/* line 143, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* line 150, ../sass/_reset.scss */
img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

/* line 158, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 163, ../sass/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 169, ../sass/_reset.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal; }

/* line 175, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

/* line 182, ../sass/_reset.scss */
button, input {
  line-height: normal; }

/* line 186, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

/* line 192, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default; }

/* line 196, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 201, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 209, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/* line 215, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 220, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 226, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }
