{% extends 'admin/base.html' %}

{% block content %}
    <div>
        <ul>
            <li><span>Make sure it is in correct format before uploading it.</span></li>
            <li><span>For making sure please download sample file <a href="https://learn.genplus.co.uk/asset-v1:Genplus+mediaandcontent+constant+type@asset+block@sample_import.csv">here</a></span></li>
        </ul>
        <form action="." method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}

                <button type="submit">Upload CSV</button>
        </form>
    </div>
    <br />

{% endblock %}
