// studio - views - unit
// ====================

body.course.unit {

  .main-wrapper {
    margin-top: ($baseline*2);
  }

  //Problem Selector tab menu requirements
  .js .tabs .tab {
   display: none;
  }
  //end problem selector reqs

  .main-column {
    float: left;
    clear: both;
    width: 70%;
  }

  .unit-body.published {
    .components > li {
      border: none;

      .rendered-component {
        padding: 0 $baseline;
      }
    }
  }

  .unit-body {

    .unit-name-input {
      padding: $baseline 2*$baseline;

      label {
        display: block;
      }

      input {
        width: 100%;
        font-size: 20px;
      }
    }

    .breadcrumbs {
      @include linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0) 70%);
      @include box-shadow(0 1px 0 rgba(255, 255, 255, .7) inset);
      border-bottom: 1px solid #cbd1db;
      border-radius: 3px 3px 0 0;
      background-color: #edf1f5;

      li {
        float: left;
      }

      a,
      .current-page {
        display: block;
        padding: 15px 35px 15px 30px;
        background: url(../img/breadcrumb-arrow.png) no-repeat right center;
        font-size: 14px;
      }
      @include clearfix;
    }

    h2 {
      margin: 30px 40px 30px 0;
      color: #646464;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 300;
      font-size: 19px;
    }
    // ====================

    // Component List Meta
    .components {

      > li {
        position: relative;
        z-index: 10;
        margin: $baseline 2*$baseline;

        .title {
          margin: 0 0 15px 0;
          color: $mediumGrey;

          .value {
          }
        }

        // ====================

        // New Components
        &.new-component-item {
          margin: $baseline 0px;
          margin-bottom: 0px;
          padding-bottom: $baseline;
          border-top: 1px solid $mediumGrey;
          background-color: $lightGrey;
          box-shadow: 0 2px 1px rgba(182, 182, 182, 0.75) inset;

          .new-component-button {
            display: block;
            padding: $baseline;
            color: #edf1f5;
            text-align: center;
          }

          h5 {
            margin: $baseline 0px;
            color: #fff;
            font-weight: 600;
            font-size: 18px;
          }

          .rendered-component {
            display: none;
            border-radius: 3px 3px 0 0;
            background: #fff;
          }

          .new-component-type {

            a,
            li {
              display: inline-block;
            }

            a {
              @include box-shadow(0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .4) inset);
              margin-right: 15px;
              margin-bottom: $baseline;
              width: 100px;
              height: 100px;
              border: 1px solid $mediumGrey;
              border-radius: 8px;
              color: #fff;
              text-align: center;
              font-size: 15px;
              line-height: 14px;

              .name {
                @include box-sizing(border-box);
                position: absolute;
                bottom: 5px;
                left: 0;
                padding: $baseline/2;
                width: 100%;
                color: #fff;
              }
            }
          }

          .new-component-templates {
            @include box-shadow(0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .4) inset);
            display: none;
            margin: $baseline 2*$baseline;
            border: 1px solid $mediumGrey;
            border-radius: 3px;
            background-color: #fff;

            .cancel-button {
              @include white-button;
              margin: $baseline 0px $baseline/2 $baseline/2;
            }

            .problem-type-tabs {
              display: none;
            }

            // specific menu types
            &.new-component-problem {
              padding-bottom: $baseline/2;

              [class^="icon-"], .editor-indicator {
                display: inline-block;
              }

              .problem-type-tabs {
                display: inline-block;
              }
            }
            @include clearfix;
          }

          .new-component-type,
          .new-component-template {
            @include clearfix;

            a {
              position: relative;
              border: 1px solid $darkGreen;
              background: tint($green,20%);
              color: #fff;

              &:hover {
                background: $brightGreen;
              }
            }
          }

          .problem-type-tabs {
            @include linear-gradient(top, rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
            @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.2) inset);
            width: 100%;
            border-radius: 0;
            background-color: $lightBluishGrey;
            list-style-type: none;

            li:first-child {
              margin-left: $baseline;
            }

            li {
              @include linear-gradient(top, rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
              @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.2) inset);
              display:inline-block;
              float:left;
              width: auto;
              background-color: tint($lightBluishGrey, 10%);
              text-align:center;
              opacity: 0.8;

              &:hover {
                background-color: tint($lightBluishGrey, 20%);
                opacity: 0.9;
              }

              &.ui-state-active {
                @include active;
                border: 0px;
                opacity: 1.0;
              }
            }

            a {
              display: block;
              padding: 15px 25px;
              color: #3c3c3c;
              text-align: center;
              text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
              font-size: 15px;
              line-height: 16px;
            }
          }

          .new-component-template {

            a {
              @include transition (none);
              border: 0px;
              background: #fff;
              color: #3c3c3c;

              &:hover {
                @include transition(background-color .15s);
                background: tint($green,30%);
                color: #fff;
              }
            }

            li {
                border:none;
                border-bottom: 1px dashed $lightGrey;
                color: #fff;
            }

            li:first-child {
              a {
                border-top: 0px;
              }
            }

            li:nth-child(2) {
              a {
                border-radius: 0px;
              }
            }

            a {
              @include clearfix();
              display: block;
              padding: 7px $baseline;
              border-bottom: none;
              font-weight: 500;

              .name {
                float: left;

                [class^="icon-"] {
                  @include transition(opacity .15s);
                  top: 1px;
                  display: inline-block;
                  margin-right: 5px;
                  width: 17;
                  height: 21px;
                  vertical-align: middle;
                  opacity: 0.5;
                }
              }

              .editor-indicator {
                @include transition(opacity .15s);
                position: relative;
                top: 3px;
                float: right;
                font-size: 12px;
                opacity: 0.3;
              }

              [class^="icon-"], .editor-indicator {
                display: none;
              }

              &:hover {
                color: #fff;

                [class^="icon-"] {
                  opacity: 1.0;
                }

                .editor-indicator {
                  opacity: 1.0;
                }
              }
            }

            // specific editor types
            .empty {

              a {
                background: #fff;
                color: #3c3c3c;
                font-weight: 400;
                line-height: 1.4;


                &:hover {
                background: tint($green,30%);
                color: #fff;
              }
              }
            }
          }

          .new-component {
            text-align: center;

            h5 {
              color: $darkGreen;
            }

          }
        }
      }
    }

    // ====================

    // Component Drag and Drop, Non-Edit Module Rendering, Styling
    .component {
      @include transition(none);
      border: 1px solid $lightBluishGrey2;
      border-radius: 3px;
      background: #fff;

      &:hover {
        border-color: #6696d7;

        .drag-handle {
          border-color: $blue;
          background-color: $blue;
        }
      }

      &.editing {
        z-index: auto;
        border: 1px solid $lightBluishGrey2;

        .drag-handle,
        .component-actions {
          display: none;
        }
      }

      &.component-placeholder {
        border-color: #6696d7;
      }

      .drag-handle {
        @include transition(none);
        position: absolute;
        top: -1px;
        right: -16px;
        z-index: 10;
        display: block;
        width: 15px;
        height: 100%;
        border: 1px solid $lightBluishGrey2;
        border-radius: 0 3px 3px 0;
        background: url(../img/white-drag-handles.png) center no-repeat $lightBluishGrey2;
        cursor: move;
      }
    }

    .xmodule_display {
      overflow-x: auto;
      padding: 2*$baseline $baseline $baseline;

      h1 {
        float: none;
        margin-left: 0;
      }
    }
    // ====================

    // Component Editing
    .wrapper-component-editor {
      position: relative;
      z-index: 9999;
      background: $white;
    }

    .component-editor {
      @include edit-box;
      display: none;
      padding: 0;
      border-radius: 2px 2px 0 0;

      h3 {
        margin-bottom: $baseline/2;
        font-weight: 700;
        font-size: 18px;
      }

      h5 {
        margin-bottom: 8px;
        color: #fff;
        font-weight: 700;
      }

      .row {
        margin-bottom: 0px;
      }

      // Module Actions, also used for Static Pages
      .module-actions {
        @include box-shadow(inset 0 1px 1px $shadow);
        padding: 0 0 $baseline $baseline;
        background-color: $gray-l6;

        .save-button {
        margin: ($baseline/2) 8px 0 0;
        }
      }
      @include box-shadow(none);
    }
  }
}

// Edit Header (Component Name, Mode-Editor, Mode-Settings)
.component-edit-header {
  @include box-sizing(border-box);
  top: 0;
  right: 0;
  padding: 18px 0 18px $baseline;
  border-bottom: 1px solid $blue-d2;
  background-color: $blue;
  color: $white;

  //Component Name
  .component-name {
    @extend .t-copy-sub1;
    width: 50%;
    color: $white;
    font-weight: 600;

    em {
      display: inline-block;
      margin-right: ($baseline/4);
      color: $white;
      font-weight: 400;
    }
  }

  //Nav-Edit Modes
  .nav-edit-modes {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px ($baseline*0.75);
    list-style: none;

    .mode {
      display: inline-block;
      margin-left: 8px;

      &.inactive-mode{
        display: none;
      }

      &.active-mode a {

        @include blue-button;

        &.is-set {
          @include transition(box-shadow 0.5 ease-in-out);
          background-color: $blue-d4;
          box-shadow: inset 0 1px 2px 1px $shadow-l1;
          color: $blue-d1;
          cursor: default;

          &:hover {
            box-shadow: inset 0 1px 2px 1px  $shadow;
          }
          @include linear-gradient($blue, $blue);
        }
      }
    }
  }
}

// Editor Wrapper
.wrapper-comp-editor {
  display: block;

  // Because the editor may be a CodeMirror editor (which must be visible at the time it is created
  // in order for it to properly initialize), we must toggle "is-inactive" instead of the more common "is-active".
  &.is-inactive {
    display: none;
  }
}

// Settings Wrapper
.wrapper-comp-settings {
  display: none;

  &.is-active {
    display: block;
  }

  //settings-list
  .list-input.settings-list {

    overflow: auto;
    margin: 0;
    padding: 0;
    max-height: 400px;
    list-style: none;

    //chrome scrollbar visibility correction
    &::-webkit-scrollbar {
      width: 11px;
      height: 11px;
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar-thumb {
      border: 2px solid $gray-l2;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, .5);
    }

    //component-setting-entry
    .field.comp-setting-entry {
      padding: $baseline;
      border-bottom: 1px solid $gray-l2;
      background-color: $white;
      opacity: 0.7;

      &:last-child {
        //margin-bottom: 0
      }

      //no required component settings currently
      &.required {
        label {
          //font-weight: 600
        }
        label:after {
          //margin-left: ($baseline/4);
          //content: "*"
        }
      }

      &:hover {
        @include transition(opacity 0.25s ease-in-out);
        opacity: 1.0;
      }

      &.is-set {
        background-color: $white;
        opacity: 1.0;

        .setting-input {
          color: $blue-l1;
        }
      }

      .wrapper-comp-setting{
        position: relative;
        top: 0;
        display: inline-block;
        margin-bottom:5px;
        min-width: 300px;
        width: 45%;
        vertical-align: top;
      }

      label.setting-label {
        @extend .t-copy-sub1;
        position: relative;
        left: 0;
        display: inline-block;
        min-width: 100px;
        width: 35%;
        vertical-align: middle;
        font-weight: 400;

        &.is-focused {
          color: $blue;
        }
        @include transition(color, 0.15s, ease-in-out);
      }

      input, select, input[type="number"] {
        @include placeholder($gray-l4);
        @include size(100%,100%);
        padding: ($baseline/2);
        min-width: 100px;
        width: 45%;

        //&.long {
          //
        //}

        //&.short {
        //}

        //&.error {
        // border-color: $red;
        //}

        //&:focus {
        border: 1px solid $gray-l2;
        border-radius: 3px;
        text-overflow: ellipsis;
        //  + .tip {
        //    color: $gray;
        //  }
      }

      input[type="number"] {
        @include box-shadow(0 1px 2px $shadow-l1 inset);

        width: 38.5%;
        //For webkit browsers which render number fields differently, make input wider.
        -moz-column-width: {
          width: 32%;
        }

        &:active {
          background-color: #FFFCF1;
        }
      }

      select {

        &:focus {
          @include box-shadow(0 0 1px $shadow);
          background-color: $yellow;
          @include transition(opacity 0.25s ease-in-out);
        }

        &:active {
          background-color: $yellow;
        }
        //@include box-shadow(0 1px 2px $shadow-l1 inset);
      }

      .action.setting-clear {
        @include font-size(11);
        margin: 0 $baseline/2;
        padding: 5px;
        width: 25px;
        height: 25px;
        border: 1px solid $gray-l1;
        border-radius: 50%;
        background-color: $gray-l4;
        box-shadow: none;
        color: $gray;
        vertical-align: middle;
        text-shadow: none;

        &:hover {
          @include box-shadow(0 1px 1px $shadow);
          border: 1px solid $blue-s3;
          background-color: $blue-s3;
          color: $white;
          @include transition(opacity 0.15s ease-in-out);
        }

        &.inactive {
          visibility: hidden;
        }
      }

      .tip.setting-help {
        @include font-size(12);
        display: inline-block;
        min-width: 260px;
        width: 50%;
        vertical-align: top;
        font-color: $gray-l6;
      }
        @include font-size(16);
    }
  }
}
// ====================

// Editing Units from Courseware
body.unit {

  .component {
    padding-top: 30px;

    .component-actions {
      @include box-sizing(border-box);
      position: absolute;
      top: 0;
      left: 0;
      padding: 15px;
      width: 100%;
      border-bottom: 1px solid $lightBluishGrey2;
      background: $lightGrey;
    }

    &.editing {
      padding-top: 0;
    }
  }
}
// ====================

// Unit Page Sidebar
.unit-settings {
  .window-contents {
    padding: $baseline/2 $baseline;
  }

  .unit-actions {
    padding-bottom: 0;
    border-bottom: none;
  }

  .published-alert {
    display: none;
    padding: $baseline/2;
    border: 1px solid #edbd3c;
    border-radius: 3px;
    background: #fbf6e1;
    font-size: 14px;
    line-height: 1.4;

    div {
      margin-top: 15px;
    }
  }

  input[type="radio"] {
      margin-right: 7px;
  }

  .status {
    font-size: 12px;

    strong {
      font-weight: 700;
    }
  }

  .preview-button, .view-button {
    @include white-button;
    margin-bottom: $baseline/2;
  }

  .publish-button {
    @include orange-button;
  }

  .delete-button {
    @include blue-button;
  }

  .delete-draft {
    display: inline-block;
  }

  .delete-button,
  .preview-button,
  .publish-button,
  .view-button {
    margin-top: $baseline/2;
    padding: 6px 15px 8px;
    font-size: 11px;
  }
}

.unit-history {
  &.collapsed {
    h4 {
      border-bottom: none;
      border-radius: 3px;
    }

    .window-contents {
      display: none;
    }
  }

  ol {
    border: 1px solid #ced2db;

    li {
      display: block;
      padding: 6px 8px 8px $baseline/2;
      background: #edf1f5;
      font-size: 12px;

      &:hover {
        background: #fffcf1;

        .item-actions {
          display: block;
        }
      }

      &.checked {
        background: #d1dae3;
      }

      .item-actions {
        display: none;
      }

      input[type="radio"] {
        margin-right: 7px;
      }
    }
  }
}

.unit-location {
  .url {
    @include box-shadow(none);
    margin-bottom: $baseline/2;
    width: 100%;
  }

  .draft-tag,
  .hidden-tag,
  .private-tag,
  .has-new-draft-tag {
    font-size: 8px;
  }

  .window-contents > ol {
    @include tree-view;

    .section-item {
      @include box-sizing(border-box);
      display: inline-block;
      overflow: hidden;
      padding: 2px 8px 4px;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 11px;
    }

    ol {
      .section-item {
        padding-left: $baseline;
      }

      .new-unit-item {
        margin-left: $baseline;
      }
    }

    ol ol {
      .section-item {
        padding-left: 34px;
      }

      .new-unit-item {
        margin: 0 0 $baseline 41px;
      }
    }
  }
}

.edit-state-draft {
  .visibility,

  .edit-draft-message,
  .view-button {
    display: none;
  }

  .published-alert {
    display: block;
  }
}

.edit-state-public {
  .delete-draft,
  .component-actions,
  .new-component-item,
  .editing-draft-alert,
  .publish-draft-message,
  .preview-button {
    display: none;
  }

  .published-alert {
    display: block;
  }

  .drag-handle {
    display: none !important;
  }
}

.edit-state-private {
  .delete-draft,
  .publish-draft,
  .editing-draft-alert,
  .create-draft,
  .view-button {
    display: none;
  }
}
// ====================

// Latex Compiler
.launch-latex-compiler {
  padding: $baseline/2 0 $baseline/2 $baseline;
  border-bottom: 1px solid $gray-l2;
  background-color: $white;
  opacity: 0.8;


  &:hover {
    @include transition(opacity 0.25s ease-in-out);
    opacity: 1.0s;
  }
}

//  hides latex compiler button if settings mode is-active
div.wrapper-comp-editor.is-inactive ~ div.launch-latex-compiler{
 display: none;
}
