// Should be removed during the implementation new mockups for videoalpha
// transcripts

// Subtitles Preloading animation

@mixin opacityHider {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }
}

@-moz-keyframes anim-opacityHider { @include opacityHider(); }
@-webkit-keyframes anim-opacityHider { @include opacityHider(); }
@-o-keyframes anim-opacityHider { @include opacityHider(); }
@keyframes anim-opacityHider { @include opacityHider(); }

@mixin anim-opacityHider($duration, $timing: ease-in-out, $count: 1, $delay: 0) {
  @include animation-name(anim-opacityHider);
  @include animation-duration($duration);
  @include animation-delay($delay);
  @include animation-timing-function($timing);
  @include animation-iteration-count($count);
  @include animation-fill-mode(both);
}

//==========================

#circle-preloader{
  display: block;
  width:70px;
  padding: 20px 0;
  margin: 0 auto;
}

.circle-preloader{
  display: block;
  background-color:#EDBD45;
  float:left;
  height:15px;
  margin-left:8px;
  width:15px;
  @include anim-opacityHider(1.8s, linear, infinite);
  border-radius:10px;
}

#circle-preloader_1{
  @include animation-delay(0.4s);
}

#circle-preloader_2{
  @include animation-delay(0.7s);
}

#circle-preloader_3{
  @include animation-delay(1.0s);
}

.prompt{
  &.warning{
    .file-name{
      word-break: break-all;
    }
    .progress-bar{
      display: block;
      height: 50px;
      margin: 30px auto 10px;
      border: 1px solid $blue;
      text-align: center;
      font-size: 1.14em;

      &.loaded {
        border-color: #66b93d;

        .progress-fill {
          background: #66b93d;
        }
      }
      .progress-fill {
        display: block;
        width: 0%;
        height: 50px;
        background: $blue;
        color: #fff;
        line-height: 48px;
      }
    }
  }
}