.view-video-upload {

  .file-drop {
    margin-bottom: ($baseline*1.5);
    background: $white;
    border: 2px dashed #ccc;
    border-radius: ($baseline/5);

    .area-file-drop, .action-area {
      display: table-cell;
      float: left;
      padding: ($baseline*1.5) inherit;
      vertical-align: middle;
    }

    .area-file-drop {
      width: flex-grid(6);
      padding-right: $baseline;
      text-align: right;
    }

    .action-area {
      width: flex-grid(6);
      padding: $baseline inherit $baseline $baseline;
    }
  }

  .video-upload-progress-container {
    margin-bottom: ($baseline*2);

    ul {
      @extend %cont-no-list;

      li {
        display: block;
        float: left;
        width: flex-grid(4);
        margin: flex-gutter();

        .video-detail-wrapper {
          min-height: ($baseline*4);
          padding: ($baseline/2);
          border: 1px solid #ccc;
          border-radius: ($baseline/5);

          h4 {
            margin-bottom: ($baseline/2);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 90%;
            font-weight: 600;
          }

          .progress-bar {
            float: left;
            width: flex-grid(10);
            border-radius: ($baseline/5);

            progress { 
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              width: 100%;
              height: 5px;
              border: none;
            }

            progress::-webkit-progress-bar {
              background: $white;
              border-radius: ($baseline/5);
            }

            progress::-webkit-progress-value {
              background: $gray;
            }
          }

          .progress-bar.bar-error {

            progress::-webkit-progress-value {
              background: $color-error;
            }
          }

          .progress-bar.bar-success {

            progress::-webkit-progress-value {
              background: $color-ready;
            }
          }

          .video-actions {
            float: left;
            width: flex-grid(2);
            margin-top: ($baseline/5);
            text-align: right;

            button {
              background: transparent;
              border: 0;

              .icon {
                color: $gray;
              }

              .icon-remove:hover, .icon-remove:focus, 
              .icon-trash:hover, .icon-trash:focus {
                color: $color-error;
              } 

              .icon-rotate-left:hover, .icon-rotate-left:focus {
                color: $blue;
              }
            }
          }

          .status-message {
            line-height: 150%;
            font-size: 80%;

            .error {
              color: $color-error;
            }

            .success {
              color: $color-ready;
            }
          }
        }
      }

      li.is-duplicate {

        h4 {
          margin-bottom: 0;
        }

        .status-message {
          padding-top: 0;
        }

        .progress-bar, 
        .video-actions {
          display: none;
        }
      }

      li:hover, li:focus {

        .video-detail-wrapper {
          @include transition(all $tmg-f3);
          background: $white;

          .progress-bar {

            progress::-webkit-progress-bar {
              background: $gray-l5;
            }
          }
        }
      }
    }
  }

  .assets-wrapper {
    margin-top: ($baseline*2.5);

    .asset-library {

      h3 {
        margin-bottom: ($baseline*2);
        font-weight: 600;
      }

      table {
        font-size: 80%;

        td.title-col {

          a {
            font-weight: 600;
          }
        }

        td.actions-col {
          text-transform: uppercase;
        }
      }
    }
  }

  .button {
    @extend %ui-btn;

    &.primary-green {
      @extend %btn-primary-green;
    }
  }

}