	<h3><a href="#">Using the System</a></h3>
	<div>
	  <ul>
	    <li> Lecture
	      <li> Homework
		<li> Lab
	    </ul>
	</div>

	<h3><a href="#">Basic Circuit Analysis</a></h3>
	<div>
	  <ul>
	    <li> Electronic Text
	    <li> Introduction <br><small>lecture, 50min, due Feb 1</small>
	    <li> KVL, KCL, and Resistive <br><small>lecture, 50min, due Feb 3</small>
	    <li> Nodal analysis <br><small>lecture, 50min, due Feb 5</small>
            <li> <div style="background-color:#aed0ea;">Linearity, Superposition <br><small>lecture, 50min, due Feb 7</small></div>
	    <li> Homework 1 <br><small>due Feb 14</small>
            <li> Lab 0 <br><small>due Feb 7</small>
	  </ul>
	</div>
	<h3><a href="#">Digital Systems</a></h3>
	<div>
	  <!--ul>
	    <li> Lecture
	      <li> Homework
		<li> Lab
	    </ul-->
	</div>
	<h3><a href="#">Nonlinear Elements</a></h3>
	<div>
	  <!--ul>
	    <li> Lecture
	      <li> Homework
		<li> Lab
	    </ul-->
	</div>
	<h3><a href="#">Analog Amplification</a></h3>
	<div>
	  <!--ul>
	    <li> Lecture
	      <li> Homework
		<li> Lab
	    </ul-->
	</div>
	<h3><a href="#">Capacitors and Inductors</a></h3>
	<div>
	  <!--ul>
	    <li> Lecture
	      <li> Homework
		<li> Lab
	    </ul-->
	</div>
	<h3><a href="#">Operational Amplifiers</a></h3>
	<div>
	  <!--ul>
	    <li> Lecture
	      <li> Homework
		<li> Lab
	    </ul-->
	</div>
	<h3><a href="#">Applications</a></h3>
	<div>
	  <!--ul>
	    <li> Lecture
	      <li> Homework
		<li> Lab
	    </ul-->
	</div>

