<%inherit file="main.html" />
<%namespace name="survey_fields" file="survey_fields.html"/>

<%block name="title"><title>Certificate Request - MITx 6.002x</title></%block>

<%block name="headextra">
<script type="text/javascript" src="${ settings.LIB_URL }certificate_survey.js"></script>
</%block>

<%include file="navigation.html" args="active_page=''" />

<%block name="bodyclass">cert-req</%block>

<section class="main-content">
<div id="cert_request">
  <h1>You can request a certificate which verifies that you passed this course. When the certificate has been generated, you will receive an email notification that it can be downloaded from your Profile page.</h1>
  <p>The certificate will indicate that <strong>${name}</strong> has successfully completed the Spring 2012 offering of <strong>Circuits and Electronics 6.002x</strong>. Please ensure that this information is correct.</p>
  
  <form id="cert_request_form">
    <fieldset id="cert_request_fieldset">
      <div id="cert_request_error"> </div>
      <ul>
        <li class="verify">
          <input type="checkbox" id="cert_request_honor_code_verify"/>
          <label> I certify that I have not violated the Honor Code for this course. </label>
        </li>
        <li class="verify">
          <input type="checkbox" id="cert_request_name_verify"/>
          <label> The name shown above is correct. </label>
        </li>
        <li class="verify">
          <input type="checkbox" id="cert_request_id_verify"/>
          <label> I understand that my certificate contains my name and a unique ID which will be visible on the certificate. I will give this ID only to those who I wish to visit the verification page on www.edXOnline.org to confirm that I passed Circuits and Electronics 6.002x. </label>
        </li>
      </ul>
    </fieldset>
    
    
    %if not took_survey:
    <fieldset id="survey_fieldset">
      <h1>Thank you for taking 6.002x! You could help us a lot by filling out this (optional) survey.</h1>
      <p>This survey is collected only for research purposes. It is completely optional and will not affect your grade.</p>
              
      ${survey_fields.body(survey_list)}
      
    </fieldset>
    %endif
    
    
    <input type="submit" id="" value="Generate Certificate" />
    
  </form>
</div>
</section>
