<form class="multiple-choice">
  
  % for choice_id, choice_description in choices.items():
  <label for="input_${id}_${choice_id}">  <input type="${type}" name="input_${id}" id="input_${id}_${choice_id}" value="${choice_id}"
  % if value == choice_id:
	checked="true"
  % endif
  /> ${choice_description} </label>
  % endfor
  <span id="answer_${id}"></span>

  % if state == 'unsubmitted':
  <span class="unanswered" style="display:inline-block;" id="status_${id}"></span>
  % elif state == 'correct': 
  <span class="correct" id="status_${id}"></span>
  % elif state == 'incorrect':
  <span class="incorrect" id="status_${id}"></span>
  % elif state == 'incomplete':
  <span class="incorrect" id="status_${id}"></span>
  % endif
</form>
