<!-- TODO: Add pattern field to username. See HTML5 cookbook, page 84 for details-->
<div name="enroll_form" id="enroll_form">

  <h1>Enroll in 6.002x Circuits &amp; Electronics</h1>
  <!--[if lte IE 8]>
  <p class="ie-warning"> Enrollment requires a modern web browser with JavaScript enabled. You don't have this. You can&rsquo;t enroll without upgrading, since you couldn&rsquo;t take the course without upgrading. Feel free to download the latest version of <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a> or <a href="http://support.google.com/chrome/bin/answer.py?hl=en&answer=95346">Google Chrome</a>, for free, to enroll and take this course.</p>
  <![endif]-->
  <p class="disclaimer">
    Please note that 6.002x has already started. 
    Several assignment due dates for 6.002x have already passed. It is now impossible for newly enrolled students to get 100% of the points in the course, although new students can still earn points for assignments whose due dates have not passed, and students have access to all of the course material that has been released for the course.
  </p>
  <form name="enroll" id="enroll_form"  method="get">
    <fieldset><% if 'error' in locals(): e = error %>

    <div id="enroll_error" name="enroll_error"></div>

    <ol>

      <li class="email">
        <label>E-mail*</label>
        <input name="email" id="ca_email" type="email" />
      </li>

      <li class="password">
        <label>Password*</label>
        <input name="password" id="ca_password" type="password"  />
      </li>

      <li class="username">
        <label>Username (public)* <span class="ui-icon ui-icon-help" id="spinner_nick" style="display:inline-block;"></span></label>
        <input name="username" id="ca_username" type="text"  /> 

        <div id="sregion_nick" class="tip">Nickname you'd like to use on forums.</div>
      </li>

      <li class="full-name">
        <label>Full name*<span class="ui-icon ui-icon-help" id="spinner_name" style="display:inline-block;"></span></label>
        <input name="name" id="ca_name" type="text"  />

        <div class="tip" id="sregion_name">If you successfully complete the course, you will receive an electronic certificate of accomplishment from <i>MITx</i> with this name on it.</div>
      </li>

      <li class="location">
        <label>Location <span class="ui-icon ui-icon-help" id="spinner_location" style="display:inline-block;"></span></label>
        <input name="location" id="ca_location" type="text" />

        <div id="sregion_location" class="tip">Preferred format is city, state, country (so for us, &quot;Cambridge, Massachusetts, USA&quot;).</div>
      </li>

      <li class="language">
        <label>Preferred Language <span class="ui-icon ui-icon-help" id="spinner_language" style="display:inline-block;"></span></label>

        <input name="language" id="ca_language" type="text" />

        <div id="sregion_language" class="tip">Please let us know what language you'd most like to see the content in (even if not your native). We're working on translations and internationalization.</div>
      </li>

      <li class="terms">
        <label> <input name="terms_of_service" id="cb_terms_of_service" type="checkbox" value="terms_of_service"  />I agree to the <a href="/t/tos.html">Terms of Service</a>*</label>
      </li>

      <li class="honor-code">
        <label>
          <input name="honor_code" id="cb_honor_code" type="checkbox" value="honor_code"  />I agree to the <a href="/t/honor.html">Honor Code</a>, summarized as:*</label>
        <ul>
	  <li>Complete all mid-terms and final exams with only my own work.</li>
          <li>Maintain only one account, and not share the username or password.</li>
          <li>Not engage in any activities that would dishonestly improve my results, or improve or hurt those of others.</li>
          <li>Not post answers to problems that are being used to assess student performance.</li>
        </ul>
      </li>

    </ol>
    <input name="create_account_button" id="create_account_button" type="submit" value="Create Account">
  </fieldset>  </form>
</div>
