<%inherit file="main.html" />

<%block name="js_extra">
<script>

$(document).ready(function(){
   //if(!page) {
   //  cookie_page = $.cookie("book_page");
   //  if(cookie_page) {
   //    goto_page(cookie_page);
   //  }
   //}

   $(".handouts ol").treeview({collapsed:true, unique:true/*, cookieId: "treeview-book-nav", persist: "cookie"*/});
});

</script>
</%block>

<%block name="title"><title>MITx Home</title></%block>

<%include file="navigation.html" args="active_page='info'" />

<section class="main-content">
  <div class="info-wrapper">
    <section class="updates">
   <h2>Welcome to MITx</h2>
   <hr width="100%">
   <h3>Courses available:</h3>
    <ul>
      % for coursename, info in courseinfo.items():
          <li><a href=${ MITX_ROOT_URL }/courseware/${coursename}/>${info['title']} (${coursename})</a></li>
      % endfor
  </ul>
  </section>
</div>
</section>
