% if name is not UNDEFINED and name is not None:
  <h1> ${name} </h1>
% endif

<div id="video_${id}" class="video" data-streams="${streams}">
  <div class="tc-wrapper">
    <article class="video-wrapper">
      <section class="video-player">
        <div id="${id}"></div>
      </section>

      <section class="video-controls"></section>
    </article>
  </div>
</div>

<ol class="video-mod">
% for t in annotations:
  <li id="video-${annotations.index(t)}">
    ${t[1]['content']}
  </li>
% endfor
</ol>
