# Ignore .js files in this folder as they are compiled from coffeescript
# For each of the xmodules subdirectories, add a .gitignore file that
# will version any *.js file that is specifically written, not compiled.
*.js


# Video are written in pure JavaScript.
!video/*.js
!video/transcripts/*.js