@import 'edx-bootstrap/sass/open-edx/theme';

$header-bg: theme-color("inverse") !default;

$btn-sign-in-bg: theme-color("primary") !default;
$btn-sign-in-color: theme-color("inverse") !default;
$btn-sign-in-border-color: theme-color("inverse") !default;

$btn-sign-in-hover-bg: theme-color("inverse") !default;
$btn-sign-in-hover-color: theme-color("primary") !default;
$btn-sign-in-hover-border-color: theme-color("primary") !default;

$footer-bg: $body-bg !default;
