.alert {
	padding: 15px 20px;
	margin-bottom: 30px;
	border-radius: 3px;
	border: 1px solid #edbd3c;
	border-radius: 3px;
	background: #fbf6e1;
	// background: #edbd3c;
	font-size: 14px;
	@include clearfix;

	.alert-message {
		float: left;
		margin-top: 4px;
	}

	strong {
		font-weight: 700;
	}

	.alert-action {
		float: right;

		&.secondary {
			@include orange-button;
		}
	}
}

body.error {
	background: $darkGrey;
	color: #3c3c3c;

	.primary-header {
		display: none;
	}

	.error-prompt {
		width: 700px;
		margin: 150px auto;
		padding: 60px 50px 90px;
		border-radius: 3px;
		background: #fff;
		text-align: center;
	}

	h1 {
		float: none;
		margin: 0;
		font-size: 60px;
		font-weight: 300;		
		color: #3c3c3c;
	}

	.description {
		margin-bottom: 50px;
		font-size: 21px;
	}

	.back-button {
		@include blue-button;
		padding: 14px 40px 18px;
		font-size: 18px;
	}
}