// studio alerts and notifications
// ====================

// notifications
.wrapper-notification {
  @include clearfix();
  @include box-sizing(border-box);
  @include transition (bottom 2.0s ease-in-out 5s, opacity 2.0s ease-in-out 5s);
  @include box-shadow(0 -1px 2px rgba(0,0,0,0.1));
  position: fixed;
  bottom: -100px;
  z-index: 1000;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  border-top: 1px solid $gray-d1;
  padding: $baseline ($baseline*2);
  background: $white;

  &.is-shown {
    bottom: 0;
    opacity: 1.0;
  }

  &.wrapper-notification-warning {
    border-color: shade($yellow, 25%);
    background: tint($yellow, 25%);
  }

  &.wrapper-notification-error {
    border-color: shade($red, 50%);
    background: tint($red, 20%);
    color: $white;
  }

  &.wrapper-notification-confirm {
    border-color: shade($green, 30%);
    background: tint($green, 40%);
    color: shade($green, 30%);
  }
}

.notification {
  @include box-sizing(border-box);
  margin: 0 auto;
  width: flex-grid(12);
  max-width: $fg-max-width;
  min-width: $fg-min-width;

  .copy {
    float: left;
    width: flex-grid(9, 12);
    margin-right: flex-gutter();
    margin-top: 5px;
    font-size: 14px;

    .icon {
      display: inline-block;
      vertical-align: top;
      margin-right: 5px;
      font-size: 20px;
    }

    p {
      width: flex-grid(8, 9);
      display: inline-block;
      vertical-align: top;
    }
  }

  .actions {
    float: right;
    width: flex-grid(3, 12);
    margin-top: ($baseline/2);
    text-align: right;

    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    .save-button {
      @include blue-button;
    }

    .cancel-button {
      @include white-button;
    }
  }

  strong {
    font-weight: 700;
  }
}

// ====================

// alerts
.wrapper-alert {
  @include box-sizing(border-box);
  @include transition (opacity 2.0s ease-in-out 5s, border 0.5s ease-in-out);
  @include box-shadow(0 1px 1px $white, inset 0 2px 5px $shadow-d1);
  position: relative;
  top: -($baseline*1.5);
  z-index: 100;
  overflow: hidden;
  width: 100%;
  opacity: 0;
  border-bottom: 4px solid $gray-l1;
  border-top: 1px solid $black;
  padding: $baseline ($baseline*2);
  background: $gray-d3;

  &.is-shown {
    bottom: 0;
    opacity: 1.0;
  }

  &.wrapper-alert-warning {
    border-bottom-color: $orange;

    .icon-warning {
      color: $orange;
    }

    &:hover {
      border-bottom-color: $orange-s2;

      .icon-warning {
        color: $orange-s2;
      }
    }
  }

  &.wrapper-alert-error {
    border-bottom-color: $red-l1;

    .icon-error {
      color: $red-l1;
    }

    &:hover {
      border-bottom-color: $red;

      .icon-error {
        color: $red;
      }
    }
  }

  &.wrapper-alert-confirmation {
    border-bottom-color: $green;

    .icon-confirmation {
      color: $green;
    }

    &:hover {
      border-bottom-color: $green-s2;

      .icon-confirmation {
        color: $green-s2;
      }
    }
  }

  &.wrapper-alert-announcement {
    border-bottom-color: $blue;

    .icon-announcement {
      color: $blue;
    }

    &:hover {
      border-bottom-color: $blue-s2;

      .icon-announcement {
        color: $blue-s2;
      }
    }
  }

  &.wrapper-alert-step-required {
    border-bottom-color: $pink;

    .icon-step-required {
      color: $pink;
    }

    &:hover {
      border-bottom-color: $pink-s2;

      .icon-announcement {
        color: $pink-s2;
      }
    }
  }
}

.alert {
	@include font-size(14);
  @include box-sizing(border-box);
  @include clearfix();
  margin: 0 auto;
  width: flex-grid(12);
  max-width: $fg-max-width;
  min-width: $fg-min-width;
  color: $white;

  strong {
    font-weight: 700;
  }

  .icon, .copy {
    float: left;
  }

  .icon {
    @include transition (color 0.5s ease-in-out);
    @include font-size(28);
    width: flex-grid(1, 12);
    margin-right: flex-gutter();
    text-align: right;
  }

  .copy {
    @include font-size(14);
    width: flex-grid(10, 12);
    color: $gray-l2;

    .title {
      margin-bottom: 0;
      color: $white;
    }
  }

  &.has-actions {
  	
    .icon {
      width: flex-grid(1, 12);
    }

  	.copy {
  		width: flex-grid(7, 12);
  		margin-right: flex-gutter();
  	}

  	.nav-actions {
  	  width: flex-grid(4, 12);
      float: right;
      margin-top: ($baseline/2);
  	  text-align: right;

  	  .nav-item {
  	    display: inline-block;
  	    vertical-align: middle;
  	    margin-right: ($baseline/2);

  	    &:last-child {
  	      margin-right: 0;
  	    }

        .action-primary {
          @include font-size(13);
          font-weight: 600;
        }

        .action-secondary {
          @include font-size(13);
        }
  	  }
  	}
  }

  // alert types
  &.warning {
  	
    .action-primary {
      @include orange-button;
      border-color: $orange-d2;
    }

    a {
      color: $orange;

      &:hover {
        color: $orange-s2;
      }
    }
  }

  &.error {

    .action-primary {
      @include red-button;
      border-color: $red-d2;
    }

    a {
      color: $red-l1;

      &:hover {
        color: $red;
      }
    }
  }

  &.confirmation {

    .action-primary {
      @include green-button;
      border-color: $green-d2;
    }

    a {
      color: $green;

      &:hover {
        color: $green-s2;
      }
    }
  }

  &.announcement {

    .action-primary {
      @include blue-button;
      border-color: $blue-d2;
    }

    a {
      color: $blue;

      &:hover {
        color: $blue-s2;
      }
    }
  }

  &.step-required {

    .action-primary {
      border-color: $pink-d2;
      @include pink-button;
    }

    a {
      color: $pink;

      &:hover {
        color: $pink-s1;
      }
    }
  }
}

// artifact styles
// .alert {
// 	padding: 15px 20px;
// 	margin-bottom: 30px;
// 	border-radius: 3px;
// 	border: 1px solid #edbd3c;
// 	border-radius: 3px;
// 	background: #fbf6e1;
// 	// background: #edbd3c;
// 	font-size: 14px;
// 	@include clearfix;

// 	.alert-message {
// 		float: left;
// 		margin-top: 4px;
// 	}

// 	strong {
// 		font-weight: 700;
// 	}

// 	.alert-action {
// 		float: right;

// 		&.secondary {
// 			@include orange-button;
// 		}
// 	}
// }

// body.error {
// 	background: $darkGrey;
// 	color: #3c3c3c;

// 	.primary-header {
// 		display: none;
// 	}

// 	.error-prompt {
// 		width: 700px;
// 		margin: 150px auto;
// 		padding: 60px 50px 90px;
// 		border-radius: 3px;
// 		background: #fff;
// 		text-align: center;
// 	}

// 	h1 {
// 		float: none;
// 		margin: 0;
// 		font-size: 60px;
// 		font-weight: 300;		
// 		color: #3c3c3c;
// 	}

// 	.description {
// 		margin-bottom: 50px;
// 		font-size: 21px;
// 	}

// 	.back-button {
// 		@include blue-button;
// 		padding: 14px 40px 18px;
// 		font-size: 18px;
// 	}
// }