input.courseware-unit-search-input {
	float: left;
	width: 260px;
	background-color: #fff;
}

.courseware-overview {
	.new-courseware-section-button {
		@include grey-button;
		display: block;
		text-align: center;
		padding: 12px 0;
	}
}

.courseware-section {
	position: relative;
	background: #fff;
	border: 1px solid $darkGrey;
	border-radius: 3px;
	margin: 10px 0;
	padding-bottom: 12px;
	@include box-shadow(0 1px 2px rgba(0, 0, 0, .1));

	&:first-child {
		margin-top: 0;
	}

	&.collapsed {
		padding-bottom: 0;
	}

	label {
		float: left;
		line-height: 29px;
	}

	.datepair {
		float: left;
		margin-left: 10px;
	}

	.section-published-date {
		position: absolute;
		top: 19px;
		right: 90px;
		padding: 4px 10px;
		border-radius: 3px;
		background: $lightGrey;
		text-align: right;

		.published-status {
			font-size: 12px;
			margin-right: 15px;

			strong {
				font-weight: 700;
			}
		}

		.schedule-button {
			@include blue-button;
		}

		.edit-button {
			@include blue-button;
		}

		.schedule-button,
		.edit-button {
			font-size: 11px;
			padding: 3px 15px 5px;
		}
	}

	.datepair .date,
	.datepair .time {
		padding-left: 0;
		padding-right: 0;
		border: none;
		background: none;
		@include box-shadow(none);
		font-size: 13px;
		font-weight: 700;
		color: $blue;
		cursor: pointer;
	}

	.datepair .date {
		width: 80px;
	}

	.datepair .time {
		width: 65px;
	}

	&.collapsed .subsection-list,
	.collapsed .subsection-list,
	.collapsed > ol {
		display: none !important;
	}

	header {
		height: 75px;

		.item-details {
			float: left;
			padding: 21px 0 0;
		}

		.item-actions {			
			margin-top: 21px;
			margin-right: 12px;

			.edit-button,
			.delete-button {
				margin-top: -3px;
			}
		}

		.expand-collapse-icon {
			float: left;
			margin: 29px 6px 16px 16px;
			@include transition(none);
		}

		.drag-handle {
			margin-left: 11px;
		}
	}

	h3 {
		font-size: 19px;
		font-weight: 700;
		color: $blue;
	}

	h4 {
		font-size: 12px;
		color: #878e9d;

		strong {
			font-weight: 700;
		}
	}

	.list-header {
		@include linear-gradient(top, transparent, rgba(0, 0, 0, .1));
		background-color: #ced2db;
		border-radius: 3px 3px 0 0;
	}

	.subsection-list {
		margin: 0 12px;

		> ol {
			@include tree-view;
			border-top-width: 0;
		}
	}

	&.new-section {
		header {
			height: auto;
			@include clearfix;
		}

		.expand-collapse-icon {
			visibility: hidden;
		}
	}
}

.new-section-name,
.new-subsection-name-input {
	width: 515px;
}

.new-section-name-save,
.new-subsection-name-save {
	@include blue-button;
	padding: 2px 20px 5px;
	margin: 0 5px;
	color: #fff !important;
}

.new-section-name-cancel,
.new-subsection-name-cancel {
	@include white-button;
	padding: 2px 20px 5px;
	color: #8891a1 !important;
}

.dummy-calendar {
	display: none;
	position: absolute;
	top: 55px;
	left: 110px;
	z-index: 9999;
	border: 1px solid #3C3C3C;
	@include box-shadow(0 1px 15px rgba(0, 0, 0, .2));
}

.unit-name-input {
	padding: 20px 40px;

	label {
		display: block;
	}

	input {
		width: 100%;
		font-size: 20px;
	}
}

.preview {
	background: url(../img/preview.jpg) center top no-repeat;
}

.edit-subsection-publish-settings {
	display: none;
	position: fixed;
	top: 100px;
	left: 50%;
	z-index: 99999;
	width: 600px;
	margin-left: -300px;
	background: #fff;
	text-align: center;

	.settings {
		padding: 40px;
	}

	h3 {
		font-size: 34px;
		font-weight: 300;
	}

	.picker {
		margin: 30px 0 65px;
	}

	.description {
		margin-top: 30px;
		font-size: 14px;
		line-height: 20px;
	}

	strong {
		font-weight: 700;
	}

	.start-date,
	.start-time {
		font-size: 19px;
	}

	.save-button {
		@include blue-button;
		margin-right: 10px;
	}

	.cancel-button {
		@include white-button;
	}

	.save-button,
	.cancel-button {
		font-size: 16px;
	}
}