// studio - developer
// ====================
// NOTE: use this area for any developer-needed or created styling that needs to be refactored into patterns or visually polished. Please list any template/view that your styles reference when definining them (example below):

// Views: Login, Sign Up
// .crazy-new-feature {
//   background: transparent;
// }

// --------------------

.wrapper-groups.is-inactive {
  padding-top: 20px;
  background-color: yellow;
}

// Don't show delete buttons by default for verticals
.xblock-header-vertical {
  .delete-button {
    display: none;
  }
}

// For inactive groups, we do want to allow the user to delete the associated vertical
.wrapper-groups.is-inactive .xblock-header-vertical {
  .delete-button {
    display: none;
  }
}
