.edge-landing {
  border-top: 5px solid $blue;

  header {
    @include clearfix;
    background: $extraDarkGrey;
    border-bottom: 3px solid $blue;
  }

  .main-wrapper {
    width: 940px;
    margin: auto;

    .content {
      padding: 24px 60px 36px;
      border-radius: 3px;
      background: #fff;
      box-shadow: 0 0 50px rgba(0, 0, 0, .1);
      @include clearfix;
    }

    .log-in-form {
      float: left;
      width: 470px;
      margin-right: 50px;
      padding-right: 49px;
      border-right: 1px solid $lightGrey;

      .row {
        margin-bottom: 20px;
      }

      label {
        font-weight: 700;
      }

      input {
        width: 100%;
        font-size: 21px;
        font-weight: 300;
      }

      .log-in-submit-button {
        @include blue-button;
        width: 130px;
        padding: 8px 20px 10px;
        font-size: 16px;
      }

      .forgot-button {
        font-size: 12px;
        margin-left: 10px;
      }
    }

    .sign-up {
      float: left;
      width: 250px;

      .register-button {
        @include grey-button;
        margin-top: 20px;
      }
    }

    h2 {
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: 300;
    }

    h3 {
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: 300;      
    }
  }

  .edx-edge-logo-large {
    display: block;
    width: 263px;
    height: 72px;
    margin: 150px auto 50px;
    background: url(../img/edge-logo-large.png) no-repeat;
  }
}