// how it works/not signed in index
.index {

  &.not-signedin {

    .wrapper-header {
      margin-bottom: 0;
    }

    .wrapper-footer {

      footer.primary {
        border: none;
        margin-top: 0;
        padding-top: 0;
      }
    }

    .wrapper-content-header, .wrapper-content-features, .wrapper-content-cta {
      margin: 0;
      padding: 0 $baseline;
      position: relative;
      width: 100%;
    }

    .content {
      @include clearfix();
      @include font-size(16);
      max-width: $fg-max-width;
      min-width: $fg-min-width;
      width: flex-grid(12);
      margin: 0 auto;
      color: $gray-d2;
    
      header {

      }

      h2 {

      }

      h3 {

      }

      h4 {

      }
    }

    // welcome content
    .wrapper-content-header {
      padding-bottom: ($baseline*3);
      padding-top: ($baseline*3);
      background: $blue;
    }

    .content-header {
      text-align: center;
      color: $white;

      h1 {
        @include font-size(52);
        float: none;
        margin: 0 0 ($baseline/2) 0;
        border-bottom: 1px solid $blue-l1;
        padding: 0;
        font-weight: 600;
      }

      .tagline {
        @include font-size(24);
        margin: 0;
        color: $white;
      }
    }

    // feature content
    .wrapper-content-features {
      padding-bottom: ($baseline*2);
      padding-top: ($baseline*2);
      background: $white;
    }

    .content-features {

      .list-features {

      }

      // indiv features
      .feature {
        @include clearfix();
        margin: 0 0 ($baseline*2) 0;
        border-bottom: 1px solid $gray-l4;
        padding: 0 0 ($baseline*2) 0;

        .img {
          float: left;
          width: flex-grid(3, 12);
          margin-right: flex-gutter();

          img {
            display: block;
            width: 100%;
            height: 100%;
            background: $black;
          }
        }

        .copy {
          float: left;
          width: flex-grid(8, 12);
          margin-top: -($baseline/4);

          h3 {
            margin: 0 0 ($baseline) 0;
            @include font-size(24);
            font-weight: 600;
          }

          > p {
            @include font-size(18);
          }

          .list-proofpoints {
            @include clearfix();
            @include font-size(14);
            width: flex-grid(8, 8);
            margin: ($baseline*1.5) 0 0 0;

            .proofpoint {
              float: left;
              width: flex-grid(3, 8);
              margin-right: flex-gutter();

              &:last-child {
                margin-right: 0;
              }

              .title {
                @include font-size(16);
                margin: 0 0 ($baseline/4) 0;
                font-weight: 600;
              }
            }
          }
        }

        &:nth-child(even) {

          .img {
            float: right;
            margin-right: 0;
            margin-left: flex-gutter();
          }

          .copy {
            float: right;
            text-align: right;
          }
        }

        &:last-child {
          margin-bottom: 0;
          border: none;
          padding-bottom: 0;
        }
      }
    }

    // call to action content
    .wrapper-content-cta {
      padding-bottom: ($baseline*2);
      padding-top: ($baseline*2);
      background: $white;
    }

    .content-cta {

      .list-actions {

        li {
          width: flex-grid(6, 12); 
          margin: 0 auto;
        }

        .action {
          display: block;
          width: 100%;
          text-align: center;
        }

        .action-primary {
          @include blue-button;
          @include transition(all .15s);
          @include font-size(18);
          padding: ($baseline*0.75) ($baseline/2);
          font-weight: 600;
          text-align: center;
          text-transform: uppercase;
        }

        .action-secondary {
          @include font-size(14);
          margin-top: ($baseline/2);
        }
      }
    }
  }
}
