section.video-new, 
section.video-edit, 
section.problem-new, 
section.problem-edit,
section.html-edit {
  background: #fff;
  border: 1px solid #333;
  border-right: 0;

  > header {
    background: #eee;
    @include clearfix;
    padding: 6px;
    border-bottom: 1px solid #333;
    -webkit-font-smoothing: antialiased;

    h2 {
      float: left;
      font-size: 14px;
    }

    a {
      color: #fff;

      &.save-update {
        float: right;
      }

      &.cancel {
        float: left;
      }
    }

  }

  > section {
    padding: 20px;

    > header {
      h1 {
        font-size: 24px;
        margin: 12px 0;
      }

      section {
        &.status-settings {
          ul {
            list-style: none;
            @include border-radius(2px);
            border: 1px solid #999;
            @include inline-block();

            li {
              @include inline-block();
              border-right: 1px solid #999;
              padding: 6px;

              &:last-child {
                border-right: 0;
              }

              &.current {
                background: #eee;
              }
            }
          }

          a.settings {
            @include inline-block();
            margin: 0 20px;
            border: 1px solid #999;
            padding: 6px;
          }

          select {
            float: right;
          }
        }

        &.meta {
          background: #eee;
          padding: 10px;
          margin: 20px 0;
          @include clearfix();

          div {
            float: left;
            margin-right: 20px;

            h2 {
              font-size: 14px;
              @include inline-block();
            }

            p {
              @include inline-block();
            }
          }
        }
      }
    }

    section.notes {
      margin-top: 20px;
      padding: 6px;
      background: #eee;
      border: 1px solid #ccc;

      textarea {
        @include box-sizing(border-box);
        display: block;
        width: 100%;
      }

      h2 {
        font-size: 14px;
        margin-bottom: 6px;
      }

      input[type="submit"]{
         margin-top: 10px;
      }
    }
  }
}
