section.problem-new, section.problem-edit {
  > section {
    textarea {
      @include box-sizing(border-box);
      display: block;
      width: 100%;
    }

    div.preview {
      background: #eee;
      @include box-sizing(border-box);
      height: 40px;
      padding: 10px;
      width: 100%;
    }

    a.save {
      @extend .button;
      @include inline-block();
      margin-top: 20px;
    }
  }
}

