// Studio - Course Settings
// ====================
body.course.settings {

  .content-primary, .content-supplementary {
    @include box-sizing(border-box);
    float: left;
  }

  .content-primary {
    @extend .window;
    width: flex-grid(9, 12);
    margin-right: flex-gutter();
  }

  .group-settings {
    margin: 0 0 ($baseline*2) 0;

    header {
      @include clearfix();

      .title-2 {
        width: flex-grid(4, 9);
        margin: 0 flex-gutter() 0 0;
        float: left;
      }

      .tip {
        @include font-size(13);
        width: flex-grid(5, 9);
        float: right;
        margin-top: ($baseline/2);
        text-align: right;
        color: $gray-l2;
      }
    }

    // basic layout/elements
    .title-2 {

    }

    .title-3 {

    }

    // form basics
    .list-input {
      margin: 0;
      padding: 0;
      list-style: none;

      .field {
        margin: 0 0 ($baseline*0.75) 0;

        &:last-child {
          margin-bottom: 0;
        }

        &.required {

          label {
            font-weight: 600;
          }

          label:after {
            margin-left: ($baseline/4);
            content: "*";
          }
        }

        label, input, textarea {
          display: block;
        }

        label {
          @include font-size(14);
          @include transition(color, 0.15s, ease-in-out);
          margin: 0 0 ($baseline/4) 0;

          &.is-focused {
            color: $blue;
          }
        }

        input, textarea {
          @include font-size(16);
          height: 100%;
          width: 100%;
          padding: ($baseline/2);       

          &.long {
            width: 100%;
          }

          &.short {
            width: 25%;
          }

          ::-webkit-input-placeholder {
             color: $gray-l4;
          }

          :-moz-placeholder {
             color: $gray-l3; 
          }

          ::-moz-placeholder {
             color: $gray-l3;  
          }

          :-ms-input-placeholder {  
             color: $gray-l3; 
          }
        }

        textarea.long {
          height: ($baseline*5);
        }

        input[type="checkbox"] {
          display: inline-block;
          margin-right: ($baseline/4);
          width: auto;
          height: auto;

          & + label {
            display: inline-block;
          }
        }

        .tip {
          @include font-size(13);
          display: block;
          margin-top: ($baseline/4);
          color: $gray-l3;
        }
      }

      .field-group {
        @include clearfix();
        margin: 0 0 ($baseline/2) 0;

        .field {
          display: block;
          width: 47%;
          border-bottom: none;
          margin: 0 $baseline 0 0;
          padding-bottom: 0;

          &:nth-child(odd) {
            float: left;
          }

          &:nth-child(even) {
            float: right;
            margin-right: 0;
          }

          input, textarea {
            width: 100%;
          }
        }
      }
    }
  }

  .content-supplementary {
    width: flex-grid(3, 12);
  }
}