// Studio - Course Settings
// ====================
body.course.settings {

  .content-primary, .content-supplementary {
    @include box-sizing(border-box);
    float: left;
  }

  .content-primary {
    @extend .window;
    width: flex-grid(9, 12);
    margin-right: flex-gutter();
  }

  .group-settings {
    margin: 0 0 ($baseline*2) 0;

    header {
      @include clearfix();

      .title-2 {
        width: flex-grid(4, 9);
        margin: 0 flex-gutter() 0 0;
        float: left;
      }

      .tip {
        @include font-size(13);
        width: flex-grid(5, 9);
        float: right;
        margin-top: ($baseline/2);
        text-align: right;
        color: $gray-l2;
      }
    }

    // basic layout/elements
    .title-2 {

    }

    .title-3 {

    }

    // UI hints/tips
    .tip {
      @include font-size(13);
      display: block;
      margin-top: ($baseline/4);
      color: $gray-l3;
    }

    // form basics
    .list-input {
      margin: 0;
      padding: 0;
      list-style: none;

      .field {
        margin: 0 0 $baseline 0;

        &:last-child {
          margin-bottom: 0;
        }

        &.required {

          label {
            font-weight: 600;
          }

          label:after {
            margin-left: ($baseline/4);
            content: "*";
          }
        }

        label, input, textarea {
          display: block;
        }

        label {
          @include font-size(14);
          @include transition(color, 0.15s, ease-in-out);
          margin: 0 0 ($baseline/4) 0;
          font-weight: 400;

          &.is-focused {
            color: $blue;
          }
        }

        input, textarea {
          @include placeholder($gray-l4);
          @include font-size(16);
          @include size(100%,100%);
          padding: ($baseline/2);       

          &.long {
          }

          &.short {
          }
        }

        textarea.long {
          height: ($baseline*5);
        }

        input[type="checkbox"] {
          display: inline-block;
          margin-right: ($baseline/4);
          width: auto;
          height: auto;

          & + label {
            display: inline-block;
          }
        }
      }

      .field-group {
        @include clearfix();
        margin: 0 0 ($baseline/2) 0;
      }
    }

    // existing inputs
    .input-existing {
      margin: 0 0 $baseline 0;

      .actions {
        margin: ($baseline/4) 0 0 0;

        .remove-item {
          @include white-button;
          @include font-size(13);
        }
      }
    }

    // not editable fields
    .field.is-not-editable {

      label, .label {
        color: $gray-l3;
      }

      input {
        opacity: 0.25;
      }
    }
     
    // specific fields - basic
    &.basic {

      .list-input {
        @include clearfix();

        .field {
          margin-bottom: 0;
        }
      }

      #field-course-organization {
        float: left;
        width: flex-grid(2, 9);
        margin-right: flex-gutter();
      }

      #field-course-number {
        float: left;
        width: flex-grid(2, 9);
        margin-right: flex-gutter();
      }

      #field-course-name {
        float: left;
        width: flex-grid(5, 9);
      }
    }

    // specific fields - schedule
    &.schedule {

      .list-input {
        margin-bottom: ($baseline*1.5);

        &:last-child {
          margin-bottom: 0;
        }
      }

      .field-group {
        @include clearfix();
        border-bottom: 1px solid $gray-l5;
        padding-bottom: ($baseline/2);

        &:last-child {
          border: none;
          padding-bottom: 0;
        }

        .field {
          float: left;
          width: flex-grid(3, 9);
          margin-bottom: ($baseline/4);
          margin-right: flex-gutter();

        }
      }
    }
    
    // specific fields - overview
    #field-course-overview {

      #course-overview {
        height: ($baseline*20);
      }
    }

    // specific fields - video
    #field-course-introduction-video {

      // current video saved/referenced
      .current {
        @include size(640px,362px);
      }
    }

    // specific fields - requirements
    &.requirements {

      #field-course-effort {
        width: flex-grid(3, 9);
      }
    }
  }

  .content-supplementary {
    width: flex-grid(3, 12);
  }
}