// tender help/support widget
// ====================

#tender_frame, #tender_window {
  background-image: none !important;
}

#tender_frame {
  @include border-radius(3px);
  @include box-shadow(0 2px 3px $shadow);
  border: 1px solid $gray;
  background: $white;
}

#tender_closer {
  color: $blue-l2 !important;
  margin-top: 15px;
  margin-right: 5px;
}

// ====================

// tender style overrides - not rendered through here, but an archive is needed
#tender_frame iframe html {
  font-size: 62.5%;
}

.widget-layout {
  font-family: 'Open Sans', sans-serif;
}

.widget-layout .search, 
.widget-layout .tabs, 
.widget-layout .header h1 a {
  display: none;
}

.widget-layout .header {
  background: rgb(85, 151, 221);
  padding: 20px;
}

.widget-layout h1, .widget-layout h2, .widget-layout h3, .widget-layout h4, .widget-layout h5, .widget-layout h6, .widget-layout label {
  font-weight: 600;
}

.widget-layout .header h1 {
  font-weight: 700;
  font-size: 24px;
  font-size: 2.4rem;
}

.widget-layout .content {
  padding: 20px;
}

.widget-layout label {
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 5px;
  color: rgb(127,127,127) !important;
}

.widget-layout input[type="text"], .widget-layout textarea {
  padding: 10px;
  font-size: 16px;
  font-size: 1.6rem;
  color: rgb(0,0,0) !important;
}

.widget-layout textarea {
  width: 97%;
}

.widget-layout .form-actions {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
}

.widget-layout dl.form {
  margin-bottom: 15px;
}

.widget-layout #brain_buster_captcha {
  display: block;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}