section#unit-wrapper {
  > header {
    border-bottom: 1px solid lighten($dark-blue, 50%);
    @include linear-gradient(#fff, lighten($dark-blue, 62%));
    @include clearfix();
    @include box-shadow( 0 2px 0 $light-blue, inset 0 -1px 0 #fff);
    text-shadow: 0 1px 0 #fff;

    section {
      float: left;
      padding: 10px 20px;

      h1 {
        font-size: 18px;
        @include inline-block();
        color: $dark-blue;
        margin: 0;
      }

      p {
        @include inline-block();
        margin: 0;

        a {
          @include inline-block();
          font-size: 12px;
       }
      }
    }

    div {
      @include clearfix;
      color: #666;
      float: right;
      padding: 6px 20px;

      a {
        @include inline-block;

        &.cancel {
          margin-right: 20px;
          font-style: italic;
          font-size: 12px;
          padding: 6px 0;
        }

        &.save-update {
          padding: 6px 20px;
          @include border-radius(3px);
          border: 1px solid lighten($dark-blue, 40%);
          @include box-shadow(inset 0 0 0 1px #fff);
          color: $dark-blue;
          @include linear-gradient(lighten($dark-blue, 60%), lighten($dark-blue, 55%));

          &:hover, &:focus {
            @include linear-gradient(lighten($dark-blue, 58%), lighten($dark-blue, 53%));
            @include box-shadow(inset 0 0 6px 1px #fff);
          }
        }
      }
    }
  }

  > section {
    padding: 20px;

    section.meta {
      background: $light-blue;
      border-bottom: 1px solid lighten($dark-blue, 40%);
      padding: 10px 20px;
      margin: -20px -20px 10px;
      opacity: .7;
      @include transition;

      &:hover {
        opacity: 1;
        padding: 20px;
        margin: -20px -20px 10px;
      }

      section {
        &.status-settings {
          float: left;
          margin-bottom: 10px;
          color: $dark-blue;
          @include clearfix;

          ul {
            border: 1px solid darken($light-blue, 15%);
            @include clearfix();
            float: left;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
              border-right: 1px solid darken($light-blue, 15%);
              float: left;

              &:last-child {
                border-right: 0;
              }

              a {
                color: $dark-blue;
                padding: 6px;
                display: block;

                &.current {
                  background: darken($light-blue, 5%);
                }

                &:hover {
                  background-color: lighten($yellow, 13%);
                }
              }
            }
          }

          a.settings {
            float: left;
            margin: 0 20px;
            padding: 6px;
            border: 1px solid darken($light-blue, 15%);
            color: $dark-blue;

            &:hover {
              background-color: lighten($yellow, 13%);
            }
          }

          select {
            float: right;
          }
        }

        &.author {
          float: right;
          color: lighten($dark-blue, 6%);

          dl {
            dt {
              font-weight: bold;
            }

            dd, dt {
              @include inline-block();
            }
          }
        }

        &.tags {
          color: lighten($dark-blue, 6%);
          @include clearfix();
          clear: both;

          div {
            float: left;
            margin-right: 20px;

            h2 {
              font-size: 14px;
              @include inline-block();
              margin: 0;
            }

            p {
              @include inline-block();
              margin: 0;
            }
          }
        }
      }
    }

    //general styles for main content
    .preview {
      @include box-sizing(border-box);
      border: 1px solid  lighten($dark-blue, 40%);
      min-height: 40px;
      padding: 10px;
      width: 100%;
      margin-top: 10px;

      h1 {
        font-size: 24px;
        margin-bottom: 1em;
      }

      h2 {
        font-size: 20px;
        margin-bottom: 1em;
      }

      h3 {
        font-size: 18;
        margin-bottom: 1em;
      }

      ul {
        padding-left: 20px;
        margin-bottom: 1em;
      }

      p {
        margin-bottom: 1em;
      }
    }

    //notes
    section.notes {
      margin-top: 40px;
      padding: 40px 0 0;
      border-top: 2px solid lighten( $dark-blue, 60% );

      h2 {
        margin-bottom: 6px;
        font-size: $body-font-size;
        text-transform: uppercase;
        color: $bright-blue;
        letter-spacing: 1px;
      }

      form {
        margin-bottom: 20px;

        input[type="submit"]{
          margin-top: 10px;
        }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin-bottom: 20px;

          p {
            margin-bottom: 10px;

            &.author {
              font-style: italic;
              color: #999;
            }
          }
        }
      }
    }

    div.actions {
      a.save-update {
        @extend .button;
        @include inline-block();
        margin-top: 20px;
      }

      a.cancel {
        float: right;
        font-style: italic;
        margin-top: 20px;
      }
    }
  }
}
