.users {
  .user-overview {
    @extend .window;
    padding: 30px 40px;
  }

  .new-user-button {
    margin-bottom: 15px;
  }

  .new-user-form {
    display: none;
    padding: 15px 20px;
    background: $mediumGrey;

    #result {
      display: none;
      float: left;
      margin-bottom: 15px;
      padding: 3px 15px;
      border-radius: 3px;
      background: $error-red;
      font-size: 14px;
      color: #fff;
    }

    .form-elements {
      clear: both;
    }

    label {
      display: inline-block;
      margin-right: 10px;
    }

    .email-input {
      width: 350px;
      padding: 8px 8px 10px;
      border-color: $darkGrey;
    }

    .add-button {
      @include blue-button;
      padding: 6px 20px 8px;
    }

    .cancel-button {
      @include white-button;
      padding: 6px 20px 8px;
    }
  }

  .user-list {
    border: 1px solid $mediumGrey;
    background: $lightGrey;

    li {
      position: relative;
      padding: 10px 20px;
      border-bottom: 1px solid $mediumGrey;

      &:last-child {
        border-bottom: none;
      }

      span {
        display: inline-block;
      }

      .user-name {
        width: 30%;
        font-weight: 700;
      }

      .item-actions {
        top: 9px;
      }
    }
  }
}