<%page expression_filter="h"/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.
<h1>${_(u"Learn and Change · Change and Progress - Elite MBA.")}</h1>
## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.
<p>${_(u"Worth hundreds of thousands of MBA curriculum system. Minimum ￥99.9 per month for the whole year.")}</p>