<%page expression_filter="h"/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.
<h1>${_(u"Learn to Change · Change to Improve —— EliteMBA")}</h1>
## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.
<p>${_(u"Enjoy high-value MBA curriculum with ￥99.84 monthly payment!")}</p>
