// edX: Certificates - View: Valid Certificate
// ====================
.view-valid-certificate {
  background: $bg-view;

  // layout
  .wrapper-view {
    background: transparent url('../images/bg-paperfibers.png') 0 0 repeat-both;
    padding-bottom: ($baseline-v*3);

    @include media($bp-ds) {
      padding-bottom: $baseline-h;
    }

    @include media($bp-m) {
      padding-bottom: $baseline-h;
    }
  }

  .wrapper-content {
    padding: $baseline-v ($baseline-h*2);

    @include media($bp-ds) {
      padding: $baseline-v $baseline-h;
    }

    @include media($bp-m) {
      padding: $baseline-v $baseline-h;
    }
  }

  .content {
    @include outer-container;

    a {
      @extend %link-copy;
    }
  }

  // status
  .status {
    @include row();
    padding: $baseline-v ($baseline-h*2);
    border-top-radius: ($baseline-v/10);
    box-shadow: inset 0 -2px 2px 0 $shadow-l2;
    background: $gray-l4;
    color: $white-t;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

    @include media($bp-ds) {
      padding: ($baseline-v) ($baseline-h);
    }

    @include media($bp-m) {
      padding: ($baseline-v) ($baseline-h);
    }

    .title {
      @extend %t-title-6;

      @include media($bp-dl) {
        @include span-columns(9 of 12);
      }

      @include media($bp-dm) {
        @include span-columns(9 of 12);
      }

      @include media($bp-ds) {
        @include font-size(14); // can't use %t-title-8 for some reason
        @include lh(14);
      }

      @include media($bp-m) {
        @include font-size(14); // can't use %t-title-8 for some reason
        @include lh(14);
      }
    }
  }

  // accomplishment
  .accomplishment {
    @extend %ui-shadow-subtle-down;
    @extend %trans-size;
    @include clearfix();
    @include pad(($baseline-v*2) ($baseline-h*2) ($baseline-v*3) ($baseline-h*2));
    margin-bottom: ($baseline-v*2);
    border-radius: ($baseline-v/10);
    border: 1px solid $gray-l5;
    background: $white-t;

    @include media($bp-ds) {
      padding: ($baseline-v) ($baseline-h);
    }

    @include media($bp-m) {
      padding: ($baseline-v) ($baseline-h);
    }
  }

  // statement
  .accomplishment-statement {
    @extend %trans-size;
    @include span-columns(8 of 12);
    @include pad(0 $baseline-h 0 0);
    border-right: 1px solid $gray-l5;

    @include media($bp-dm) {
      @include fill-parent;
      @include pad(0);
      border-right: none;
    }

    @include media($bp-ds) {
      @include fill-parent;
      @include pad(0);
      border-right: none;
    }

    @include media($bp-m) {
      @include fill-parent;
      @include pad(0);
      border-right: none;
    }

    [class^="copy-"] {
      display: block;
      margin-bottom: ($baseline-v);
    }

    .copy-name {
      @extend %t-title-2;
      @extend %t-weight3;

      @include media($bp-ds) {
        @include font-size(36); // can't use %t-title-4 for some reason
        @include lh(36);
        margin: ($baseline-v/2) 0 ($baseline-v/4) 0;
      }

      @include media($bp-m) {
        @include font-size(24);
        @include lh(24);
        margin: ($baseline-v/2) 0 ($baseline-v/4) 0;
      }
    }

    .copy-course-org {
      @extend %t-title-5;
      @extend %t-weight2;
      margin-bottom: 0;

      @include media($bp-ds) {
        margin: ($baseline-v/2) 0 0 0;
      }

      @include media($bp-m) {
        margin: ($baseline-v/2) 0 0 0;
      }
    }

    .copy-course {

      @include media($bp-ds) {
        margin-bottom: ($baseline-v/4);
      }

      @include media($bp-m) {
        margin-bottom: ($baseline-v/4);
      }
    }

    .copy-course-name {
      @extend %t-title-2;
      @extend %t-weight3;
      @include lh(36);

      @include media($bp-ds) {
        @include font-size(36); // can't use %t-title-4 for some reason
        @include lh(36);
        margin: 0;
      }

      @include media($bp-m) {
        @include font-size(24); // can't use %t-title-4 for some reason
        @include lh(24);
        margin: 0;
      }
    }

    .copy-recogniton {
      @extend %t-title-2;
    }

    .copy-context {
      @extend %t-copy-lead2;
      color: $gray-l2;

      @include media($bp-ds) {
        @include font-size(16); // can't use %t-copy-base for some reason
        @include lh(16);
      }

      @include media($bp-m) {
        @include font-size(16); // can't use %t-copy-base for some reason
        @include lh(16);
      }
    }
  }

  // metadata around accomplishment
  .accomplishment-details {
    @extend %trans-size;
    @include span-columns(4 of 12);

    @include media($bp-dm) {
      @include fill-parent;
      margin-top: ($baseline-v);
      padding-top: ($baseline-v*2);
      border-top: 1px solid $gray-l5;
    }

    @include media($bp-ds) {
      @include fill-parent;
    }

    @include media($bp-m) {
      @include fill-parent;
    }

    .list-metadata {
      @extend %ui-no-list;

      .item {
        @extend %wipe-last-child;
        margin-bottom: ($baseline-v);
        padding-bottom: ($baseline-v);
        border-bottom: 1px solid $gray-l5;
      }
    }

    .label {
      @extend %t-copy-sub2;
      @extend %t-weight3;
      display: block;
      margin-bottom: ($baseline-v/4);
      text-transform: uppercase;
      color: $gray-l3;
      letter-spacing: 0.1rem;
    }

    .value {
      @extend %t-title-6;
      @extend %t-weight2;
      display: block;
    }

    .explanation {
      @extend %t-copy-sub1;
      display: block;
      margin-top: ($baseline-v/2);
      color: $gray-l3;
    }

    // specific metadata
    .certificate-type {
      text-transform: uppercase;
      letter-spacing: 0.1rem;

      .explanation {
        text-transform: none;
        letter-spacing: 0;
      }
    }

    .certificate-id {

      .value {
        word-wrap: break-word;
      }
    }
  }

  // ====================

  // supplemental content
  .content-supplemental {

    @include media($bp-dm) {
    }

    @include media($bp-ds) {
    }

    @include media($bp-m) {
    }

    .title {
      @extend %t-title-7;
      @extend %t-weight3;
      margin-bottom: ($baseline-v/2);
    }

    .copy {
      @extend %t-copy-sub1;
      color: $gray-l2;
    }

    .list-actions {
      margin-top: ($baseline-v);

      .action {
        @extend %t-copy-sub1;
        @extend %btn-primary;

        @include media($bp-dm) {

        }

        @include media($bp-ds) {
          display: block;
          text-align: center;
        }

        @include media($bp-m) {
          display: block;
          text-align: center;
        }
      }
    }
  }

  .content-supplemental-how {
    @extend %trans-size;
    @include span-columns(3 of 12);

    @include media($bp-dm) {
      @include span-columns(6 of 12);
    }

    @include media($bp-ds) {
      @include fill-parent;
      margin-bottom: ($baseline-v*2);
    }

    @include media($bp-m) {
      @include fill-parent;
      margin-bottom: ($baseline-v*2);
    }
  }

  .content-supplemental-certificates {
    @extend %trans-size;
    @include span-columns(3 of 12);
    @include omega();

    @include media($bp-dm) {
      @include span-columns(6 of 12);
    }

    @include media($bp-ds) {
      @include fill-parent;
    }

    @include media($bp-m) {
      @include fill-parent;
    }
  }

  .content-supplemental-about {
    @extend %trans-size;
    @include span-columns(6 of 12);

    @include media($bp-dm) {
      @include fill-parent;
      margin-bottom: ($baseline-v*2);
    }

    @include media($bp-ds) {
      @include fill-parent;
      margin-bottom: ($baseline-v*2);
    }

    @include media($bp-m) {
      @include fill-parent;
      margin-bottom: ($baseline-v*2);
    }
  }

  // CASE: honor code
  &.is-honorcode {

    .status {
      background: $edx-blue-l2;
    }

    .certificate-type {
      color: $edx-blue-l2;
    }
  }

  // CASE: verified
  &.is-idverified {

    .status {
      background: $edx-blue;
    }

    .accomplishment {
      background: $white-t url("../images/logo-idverified-cropped.png") bottom left no-repeat;
      background-size: 75%;

      @include media($bp-ds) {
        background-size: 75%;
      }

      @include media($bp-m) {
        background-size: 100%;
      }
    }

    .certificate-type {
      color: $edx-blue;


      .wrapper-img {
        width: 200px;
        border-radius: ($baseline-h*10);
        padding: ($baseline-v/2) ($baseline-h/2);
        background: $white-t;
        margin: -($baseline-v*4) auto 0 auto;

        @include media($bp-dm) {
          float: right;
          margin: 0 0 $baseline-h $baseline-h;
        }

        @include media($bp-ds) {
          width: 150px;
          float: right;
          margin: 0 0 $baseline-h $baseline-h;
        }

        @include media($bp-m) {
          width: 100px;
          float: right;
          margin: 0;
        }

        img {
          @include fill-parent();
        }
      }
    }
  }
}
