{% extends "simplewiki_base.html" %}
{% load i18n simplewiki_utils %}
{% block wiki_page_title %}
Oops...
{% endblock %}

{% block wiki_body %}
<div class="wiki_error">
{{ wiki_error|safe }}

{% if wiki_err_notfound %}
{% if wiki_url %}
<p>
The page you requested could not be found.
Click <a href="{% url wiki_create wiki_url %}">here</a> to create it.
</p>
{% else %}
<p>
Or maybe rather: Congratulations! It seems that there's no root
article, which is probably because you just installed simple-wiki
and your installation is working. Now you can create the root article.
Click <a href="{% url wiki_create "" %}">here</a> to create it.
</p>
{% endif %}
{% else %}

{% if wiki_err_noparent %}
<p>
You cannot create this page, because its parent
does not exist. Click <a href="{% url wiki_create wiki_url_parent %}">here</a>
to create it.
</p>
{% else %}

{% if wiki_err_keyword %}
<p>
The page you're trying to create <b>{{wiki_url}}</b> starts with <b>_</b>, which is reserved for internal use.
</p>
{% else %}

{% if wiki_err_locked %}
<p>
The article you are trying to modify is locked.
</p>
{% else %}

{% if wiki_err_noread %}
<p>
You do not have access to read this article.
</p>
{% else %}

{% if wiki_err_nowrite %}
<p>
You do not have access to edit this article.
</p>
{% else %}

{% if wiki_err_noanon %}
<p>
Anonymous attachments are not allowed. Try logging in.
</p>
{% else %}

{% if wiki_err_create %}
<p>
You do not have access to create this article.
</p>
{% else %}

{% if wiki_err_encode %}
<p>
The url you requested could not be handled by the wiki.
Probably you used a bad character in the URL.
Only use digits, English letters, underscore and dash. For instance
/wiki/An_Article-1
</p>


{% else %}
<p>
An error has occured.
</p>


{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}

</div>
{% endblock %}

