<ul class="list-fields contribution-options">
  % for price in suggested_prices:
  <li class="field contribution-option">
    <input type="radio" name="contribution" value="${price|h}" ${'checked' if price == chosen_price else ''} id="contribution-${price|h}" />
    <label for="contribution-${price|h}">
      <span class="deco-denomination">$</span>
      <span class="label-value">${price}</span>
      <span class="denomination-name">${currency}</span>
    </label>
  </li>
  % endfor

  <li class="field contribution-option">
    <ul class="field-group field-group-other">
      <li class="contribution-option contribution-option-other1">
        <input type="radio" id="contribution-other" name="contribution" value="" ${'checked' if (chosen_price and chosen_price not in suggested_prices) else ''} />
        <label for=" contribution-other"><span class="sr">Other</span></label>
      </li>

      <li class="contribution-option contribution-option-other2">
        <label for="contribution-other-amt">
          <span class="sr">Other Amount</span>
        </label>
        <div class="wrapper">
          <span class="deco-denomination">$</span>
          <input type="text" size="9" name="contribution-other-amt" id="contribution-other-amt" value="${chosen_price if (chosen_price and chosen_price not in suggested_prices) else ''}"/>
          <span class="denomination-name">${currency}</span>
        </div>
      </li>
    </ul>
  </li>
</ul>
