<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%inherit file="../main.html" />

<%block name="bodyclass">register verification-process step-select-track</%block>
<%block name="title"><title>${("Register for [Course Name] | Choose Your Track")}</title></%block>

<%block name="js_extra">
<script type="text/javascript">

$(document).ready(function() {
  $('.is-expandable').addClass('is-ready');
  $('.is-expandable .title-expand').click(function(e) {
      e.preventDefault();
      $(this).parent().toggleClass('is-expanded');
  });
});
</script>
</%block>

<%block name="content">

%if error:
<div class="wrapper-msg wrapper-msg-error">
  <div class=" msg msg-error">
    <i class="msg-icon icon-warning-sign"></i>
    <div class="msg-content">
      <h3 class="title">Sorry, there was an error when trying to register you</h3>
      <div class="copy">
        <p>${error}</p>
      </div>
    </div>
  </div>
</div>
%endif

<div class="container">
  <section class="wrapper">

    <header class="page-header">
      <h2 class="title">
        <span class="wrapper-sts">
          <span class="sts">You are registering for</span>
          <span class="sts-course">${course_id} </span>
        </span>
      </h2>
    </header>

    <div class="wrapper-register-choose wrapper-content-main">
      <article class="register-choose content-main">
        <h3 class="title">Select your track:</h3>

        <form class="form-register-choose" method="post" name="enrollment_mode_form" id="enrollment_mode_form">

          % if "audit" in modes:
          <div class="register-choice register-choice-audit">
            <div class="wrapper-copy">
              <h4 class="title">Audit This Course</h4>
              <div class="copy">
                <p>Sign up to audit this course for free and track your own progress.</p>
              </div>
            </div>

            <ul class="list-actions">
              <li class="action action-select">
                <input type="submit" name="mode" value="Select Audit" />
              </li>
            </ul>
          </div>

          <span class="deco-divider">
            <span class="copy">or</span>
          </span>
          % endif

          % if "verified" in modes:
          <div class="register-choice register-choice-certificate">
            <div class="wrapper-copy">
              <span class="deco-ribbon"></span>
              <h4 class="title">Certificate of Achievement &mdash; ID Verified</h4>
              <div class="copy">
                <p>Sign up and work toward a verified Certificate of Achievement.</p>
              </div>
            </div>

            <div class="field field-certificate-contribution">
              <h5 class="label">Select your contribution for this course:</h5>

              %if error:
              <div class="msg msg-error msg-inline">
                <div class="copy">
                  <p><i class="msg-icon icon-warning-sign"></i> ${error}</p>
                </div>
              </div>
              %endif

              <%include file="_contribution.html" args="suggested_prices=suggested_prices, currency=currency, chosen_price=chosen_price"/>

              <div class="help-tip is-expandable">
                <h5 class="title title-expand"><i class="icon-caret-down expandable-icon"></i> Why do I have to pay? What if I don't meet all the requirements?</h5>

                <div class="copy expandable-area">
                  <dl class="list-faq">
                    <dt class="faq-question">Why do I have to pay?</dt>
                    <dd class="faq-answer">
                      <p>Your payment helps cover the costs of verification. As a non-profit, edX  keeps these costs as low as possible, Your payment will also help edX with our mission to provide quality education to anyone.</p>
                    </dd>

                    <dt class="faq-question">I'd like to pay more than the minimum.  Is my contribution tax deductible?</dt>
                    <dd class="faq-answer">
                      <p>Please check with your tax advisor to determine whether your contribution is tax deductible.</p>
                    </dd>

                    % if "honor" in modes:
                    <dt class="faq-question">What if I can't afford it?</dt>
                    <dd class="faq-answer">
                      <p>If you cannot afford the minimum payment, you can always work towards a free  Honor Code Certificate of Achievement for this course.</p>

                      <p>Enter $0 above and explain why you would like the fee waived below. Then click Select Certificate button to move on to the next step.</p>

                      <ul class="fields">
                        <li class="field field-explain">
                          <label for="explain"><span class="sr">Explain your situation: </span>Tell us why you need help paying for this course in 180 characters or more.</label>
                          <textarea name="explain"></textarea>
                        </li>
                      </ul>
                    </dd>

                    <dt class="faq-question">What if I don't meet all of the requirements for financial assistance but I still want to work toward a certificate?</dt>

                    <dd class="faq-answer">
                      <p>If you don't have a webcam, credit or debit card or acceptable ID, you can  opt to simply audit this course, or select to work towards a free Honor Code Certificate of Achievement for this course by checking the box below. Then  click the Select Certificate button to complete registration. We won't ask you to verify your identity.</p>

                      <ul class="fields">
                        <li class="field field-explain">
                          <input type="checkbox" name="honor-code" id="honor-code">
                          <label for="honor-code">Select Honor Code Certificate</label>
                        </li>
                      </ul>
                    </dd>
                    % endif
                  </dl>
                </div>
              </div>
            </div>

            <ul class="list-actions">
              <li class="action action-select">
                <input type="submit" name="mode" value="Select Certificate" />
              </li>
            </ul>
          </div>

          <div class="help help-register">
            <h3 class="title">Verified Registration Requirements</h3>

            <div class="copy">
              <p>To register for a Verified Certificate of Achievement option, you will need a webcam, a credit or debit card, and an ID. <a href="">View requirements</a></p>
            </div>
          </div>
          % endif

          <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
        </form>
      </article>
    </div> <!-- /wrapper-content-main -->

    <div class="wrapper-content-supplementary">
      <aside class="content-supplementary">
        <ul class="list-help">
          <li class="help-item">
            <h3 class="title">What is an ID Verified Certificate?</h3>
            <div class="copy">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            </div>
          </li>

          <li class="help-item">
            <h3 class="title">Have questions?</h3>
            <div class="copy">
              <p>Please read <a href="${marketing_link('WHAT_IS_VERIFIED_CERT')}">our FAQs to view common questions about our certificates</a>.</p>
            </div>
          </li>

          <li class="help-item">
            <h3 class="title">Not the course you wanted?</h3>
            <div class="copy">
                <p><a href="${marketing_link('COURSES')}">Return to our course listings to find another course</a></p>
            </div>
          </li>
        </ul>
      </aside>
    </div> <!-- /wrapper-content-supplementary -->
  </section>
</div>
</%block>
