$color-active: #007ae6;
$color-active-light: #f2f9ff;
$color-hover: #025dae;

$background-color-hover: #eef7ff;
$background-content: #fafbfb;
$background-selected: #f1f2f3;

$color-white: #ffffff;
$color-stroke: #d7d7d7;

$color-disable: #c5c5c5;
$color-text-inactive: #7b7b7b;
$color-text-default: #2c3744;

$color-warning: #ffb934;
$color-warning-light: #fffcf5;

$color-success: #5aa447;
$color-success-light: #f2ffee;

$color-subdued: #576f8a;
$color-subdued-light: rgba(87, 111, 138, 0.05);

$color-critical: #d82c0d;
$color-critical-light: #fff1f1;

$color-leaf: #06aaa5;
$color-leaf-light: #faffff;

$spacing-1: 24px;
$spacing-2: 48px;

$border-radius: 6px;

$fw-medium: 500;
$fw-normal: 400;

$font-family-default: 'Roboto', sans-serif;

$fz-h1: 2.75em;
$fz-h2: 2.38em;
$fz-h3: 1.75em;
$fz-h4: 1.56em;
$fz-h5: 1.31em;
$fz-h6: 1.06em;
$fz-p: 1em;
