<%namespace name='static' file='static_content.html'/>

<%inherit file="main.html" />

<section class="container about">
  <nav>
    <a href="/t/about.html">Vision</a>
    <a href="/t/faq.html">Faq</a>
    <a href="/t/press.html">Press</a>
    <a href="/t/contact.html" class="active">Contact</a>
  </nav>

  <section class="contact">
    <div class="map">
    </div>
    <div class="address">
      Suggest a Feature
      Suggest a Topic
      Report a Problem
      Ask the Community
      Send Thanks
      Submit a Comment
      Mailing Address
    </div>
  </section>
</section>

