<%! from django.utils.translation import ugettext as _ %>

<section class="filter">
  <nav>
    <div class="dropdown university">
      <div class="filter-heading">
        ${_("All Universities")}
      </div>
      <ul>
        <li>
          <a href="#">Harvard</a>
        </li>
        <li>
          <a href="#">MIT</a>
        </li>
      </ul>
    </div>

    <div class="dropdown subject">
      <div class="filter-heading">
        ${_("All Subjects")}
      </div>
      <ul>
        <li>
          <a href="#">${_("Computer Science")}</a>
        </li>
        <li>
          <a href="#">${_("History")}</a>
        </li>
      </ul>
    </div>

    <div class="dropdown featured">
      <div class="filter-heading">
        ${_("Newest")}
      </div>
      <ul>
        <li>
          <a href="#">${_("Top Rated")}</a>
        </li>
        <li>
          <a href="#">${_("Starting soonest")}</a>
        </li>
      </ul>
    </div>

    <form class="search">
      <input type="text" placeholder="${_('Search for courses')}">
      <input type="submit">
    </form>
  </nav>
</section>
