<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
%>
<%page args="course" />
<!--
<article id="${course.id | h}" class="course">
  %if course.is_newish:
    <span class="status">${_("New")}</span>
  %endif
  <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
  <div class="inner-wrapper">
      <header class="course-preview">
        <hgroup>
          <h2><span class="course-number">${course.display_number_with_default | h}</span> ${get_course_about_section(course, 'title')}</h2>
        </hgroup>
        <div class="info-link">&#x2794;</div>
      </header>
      <section class="info">
        <div class="cover-image">
          <img src="${course_image_url(course)}" alt="${course.display_number_with_default | h} ${get_course_about_section(course, 'title')} Cover Image" />
        </div>
        <div class="desc">
          <p>${get_course_about_section(course, 'short_description')}</p>
        </div>
        <div class="bottom">
          <span class="university">${get_course_about_section(course, 'university')}</span>
          % if not course.start_date_is_still_default:
          <span class="start-date">${course.start_datetime_text()}</span>
          % endif
        </div>
      </section>
    </div>
    <div class="meta-info">
      <p class="university">${get_course_about_section(course, 'university')}</p>
    </div>
  </a>
</article>
-->
<div class="course-card">
	<a href="/course/body-matters-mcgillx-body101x" class="course-link">
		<div class="img-wrapper"><img src="/static/images/ximg/img_course04.jpg" alt="The Body Matters"/></div>
	</a>
	<div class="label">김진영 대표</div>
	<div class="course-code">ROA Consultring</div>
	<div class="title"><p>스타트업 기업을 위한 비지니스 전략 개요</p></div>
	<div class="availability">개강예정</div>
	<div class="date">2015년 2월 13일</div>
</div>
<!-- 공식 수료증
<div class="course-card verified">
	<a href="/course/body-matters-mcgillx-body101x" class="course-link">
		<div class="img-wrapper"><img src="/static/images/ximg/img_course02.jpg" alt="The Body Matters"/></div>
		<div class="banner">공식 수료증</div>
	</a>
	<div class="label">김진영 대표</div>
	<div class="course-code">ROA Consultring</div>
	<div class="title"><p>스타트업 기업을 위한 비지니스 전략 개요</p></div>
	<div class="availability">개강예정</div>
	<div class="date">2015년 2월 13일</div>
</div>
-->
<!-- 수강 확인증
<div class="course-card prof-ed">
	<a href="/course/inclusive-leadership-training-becoming-catalystx-ilx1" class="course-link">
		<div class="img-wrapper"><img src="/static/images/ximg/img_course03.jpg" alt="Inclusive Leadership Training: Becoming a Successful Leader"/></div>
		<div class="banner">수강 확인증</div>
	</a>
	<div class="label">김진영 대표</div>
	<div class="course-code">ROA Consultring</div>
	<div class="title"><p>스타트업 기업을 위한 비지니스 전략 개요</p></div>
	<div class="availability">개강예정</div>
	<div class="date">2015년 2월 13일</div>
</div>
-->