<%namespace name='static' file='static_content.html'/>
<%!
    from django.core.urlresolvers import reverse
%>
<%page args="course" />
<article id="${course.id}"class="course">
  <div class="inner-wrapper">
    <header class="course-preview">
        <a href="${reverse('about_course', kwargs={'course_id': course.id})}">
        <hgroup>
          <h2>${course.get_about_section('title')}</h2>
        </hgroup>
        <div class="info-link">&#x2794;</div>
      </a>
    </header>
    <section class="info">
      <div class="meta-info">
        <p class="university">${course.get_about_section('university')}</p>
        <p class="dates"><span class="start">7/23/12</span> &rarr; <span class="end">12/15/12</span></p>
      </div>
      <div class="cover-image">
        <img src="${static.url('images/courses/history.png')}">
      </div>
      <div class="desc">
        <p>An advanced introduction to analog circuits.</p>
      </div>
    </section>
  </div>
</article>
