<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.template import RequestContext
import third_party_auth
from third_party_auth import pipeline
from microsite_configuration import microsite
from django.core.urlresolvers import reverse
from microsite_configuration import microsite
import json
%>

<%
  cert_name_short = settings.CERT_NAME_SHORT
  cert_name_long = settings.CERT_NAME_LONG
%>


<%block name="pagetitle">${_("Dashboard")}</%block>
<%block name="bodyclass">view-dashboard is-authenticated</%block>
<%block name="nav_skip">#my-courses</%block>

<%block name="header_extras">
% for template_name in ["donation"]:
<script type="text/template" id="${template_name}-tpl">
  <%static:include path="dashboard/${template_name}.underscore" />
</script>
% endfor

% for template_name in ["dashboard_search_item", "dashboard_search_results", "search_loading", "search_error"]:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="search/${template_name}.underscore" />
</script>
% endfor
</%block>

<%block name="js_extra">
  <script src="${static.url('js/commerce/credit.js')}"></script>
  <script src="${static.url('js/dashboard/donation.js')}"></script>
  <script src="${static.url('js/dashboard/legacy.js')}"></script>
  <script src="${static.url('js/dashboard/track_events.js')}"></script>

  <script type="text/javascript">
      $(document).ready(function () {
          edx.dashboard.legacy.init();
      });
  </script>
  % if settings.FEATURES.get('ENABLE_DASHBOARD_SEARCH'):
    <%static:require_module module_name="js/search/dashboard/dashboard_search_factory" class_name="DashboardSearchFactory">
        DashboardSearchFactory();
    </%static:require_module>
  % endif
  % if redirect_message:
    <%static:require_module module_name="js/views/message_banner" class_name="MessageBannerView">
        var banner = new MessageBannerView({urgency: 'low', type: 'warning'});
        $('#content').prepend(banner.$el);
        banner.showMessage(${json.dumps(redirect_message)})
    </%static:require_module>
  % endif
    <%static:require_module module_name="js/dashboard/views/dashboard_course_list_factory" class_name="DashboardCourseListFactory">
        DashboardCourseListFactory(${current_courses}, ${archived_courses}, ${template_settings});
    </%static:require_module>
</%block>

<div class="dashboard-notifications" tabindex="-1">
    %if message:
        <section class="dashboard-banner">
            ${message}
        </section>
    %endif

    %if enrollment_message:
        <section class="dashboard-banner">
            ${enrollment_message}
        </section>
    %endif
</div>

<section class="container dashboard" id="dashboard-main">
  <section class="my-courses" id="my-courses" role="main" aria-label="Content">

    <header class="wrapper-header-courses">
      <h2 class="header-courses">${_("My Courses")}</h2>
    </header>

    % if staff_access and len(errored_courses) > 0:
      <div id="course-errors">
        <h2>${_("Course-loading errors")}</h2>

      % for course_dir, errors in errored_courses.items():
         <h3>${course_dir | h}</h3>
             <ul>
           % for (msg, err) in errors:
               <li>${msg}
                 <ul><li><pre>${err}</pre></li></ul>
               </li>
           % endfor
             </ul>
      % endfor
      </div>
    % endif
  </section>

  % if settings.FEATURES.get('ENABLE_DASHBOARD_SEARCH'):
    <div id="dashboard-search-bar" class="search-bar dashboard-search-bar" role="search" aria-label="Dashboard">
      <form>
        <label for="dashboard-search-input">${_('Search Your Courses')}</label>
        <div class="search-field-wrapper">
          <input id="dashboard-search-input" type="text" class="search-field"/>
          <button type="submit" class="search-button" aria-label="${_('Search')}">
            <i class="icon fa fa-search" aria-hidden="true"></i>
          </button>
          <button type="button" class="cancel-button" aria-label="${_('Clear search')}">
            <i class="icon fa fa-remove" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    </div>
  % endif

  % if settings.FEATURES.get('ENABLE_DASHBOARD_SEARCH'):
    <section id="dashboard-search-results" class="search-results dashboard-search-results"></section>
  % endif

  % if settings.FEATURES.get('IS_EDX_DOMAIN') and settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
    <div class="wrapper-find-courses">
      <p class="copy">${_("Check out our recently launched courses and what's new in your favorite subjects")}</p>
      <p><a class="btn-find-courses" href="${marketing_link('COURSES')}">${_("Find New Courses")}</a></p>
    </div>
  % endif

  <section class="profile-sidebar" id="profile-sidebar" role="region" aria-label="Account Status Info">
    <header class="profile">
      <h2 class="account-status-title sr">${_("Account Status Info")}: </h2>
    </header>
    <section class="user-info">
      <ul>

        % if len(order_history_list):
        <li class="order-history">
          <span class="title">${_("Order History")}</span>
          % for order_history_item in order_history_list:
            <span><a href="${order_history_item['receipt_url']}" target="_blank" class="edit-name">${order_history_item['order_date']}</a></span>
          % endfor
        </li>
        % endif

        <%include file="${microsite.get_template_path('dashboard/_dashboard_status_verification.html')}" />

      </ul>
    </section>
  </section>
</section>
