<%!
from django.utils.translation import gettext as _
%>

<div style="z-index: 2000000002; position: fixed; bottom: 100px; right: -25px;" id="funix-feedback">
    <div class="dropdown">
        <!--Button Report an error-->
        <button onclick="dropupError()" class="dropbtn btn-link"
            style="text-decoration: none; color: rgb(193,39,45); transform: rotate(-90deg);">
            <b>
                <div style="transform: rotateY(180deg); display: inline-block;">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                </div>
                ${_("Feedback")}
            </b>
        </button>

        <!-- Content of drop up -->
        <div id="dropupError" class="dropdown-content"
            style="background-color: rgb(193,39,45); color: white; border-radius: 5px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); width: 250px">

            <!--Header of drop up-->
            <div style="display: flex; align-items: center; margin-left: 10px; padding-right:10px;">
                <p style="display: flex; flex: 1; margin: 0;">${_("Feedback")}</p>
                <button onclick="dropupError()" class="dropbtn btn-link"
                    style="text-decoration: none; color: white; display: flex; justify-self: flex-end;">
                    <i class="fa fa-minus" style="padding-bottom: 5px; padding-top:5px"></i>
                </button>
            </div>

            <!--Body of drop up-->
            <div class="" style="background-color: #ffffff; color: rgb(100, 100, 100); padding: 0">

                <!--Technical Error-->
                <div class="hover"
                    style="border-bottom: 1.5px solid rgb(211, 211, 211); padding: 10px;">
                    <button onclick="openTechError()" class="dropbtn btn-link" style="text-decoration: none; color: rgb(88, 88, 88); padding: 0;     display: flex; justify-content: space-between; width: 100%;">
                        <i class="fa fa-angle-left" style='color: rgb(88, 88, 88)'></i>
                        ${_("Technical Error")}
                    </button>
                </div>

                <!--Overall Content Error-->
                <div class="hover"
                    style="border-bottom: 1.5px solid rgb(211, 211, 211); padding: 10px;">
                    <button onclick="openOverallError()" class="dropbtn btn-link" style="text-decoration: none; color: rgb(88, 88, 88); padding: 0;     display: flex; justify-content: space-between; width: 100%;">
                        <i class="fa fa-angle-left" style='color: rgb(88, 88, 88)'></i>
                        ${_("Overall Content Error")}
                    </button>
                </div>

                <!--Quiz Content Error-->
                <div class="hover"
                    style="border-bottom: 1.5px solid rgb(211, 211, 211); padding: 10px;">
                    <button onclick="openQuizError()" class="dropbtn btn-link" style="text-decoration: none; color: rgb(88, 88, 88); padding: 0;     display: flex; justify-content: space-between; width: 100%;">
                        <i class="fa fa-angle-left" style='color: rgb(88, 88, 88)'></i>
                        ${_("Quiz Content Error")}
                    </button>
                </div>

                <!--Ask Mentor Error-->
                <div class="hover"
                    style="border-bottom: 1.5px solid rgb(211, 211, 211); padding: 10px;">
                    <button onclick="openMentorError()" class="dropbtn btn-link" style="text-decoration: none; color: rgb(88, 88, 88); padding: 0;     display: flex; justify-content: space-between; width: 100%;">
                        <i class="fa fa-angle-left" style='color: rgb(88, 88, 88)'></i>
                        ${_("Ask Mentor Error")}
                    </button>
                </div>
            </div>
        </div>

        <!-- Content of error window Technical Error-->
        <div id="technicalError" class="dropdown-content"
            style="width: 300px; background-color: rgb(193,39,45); color: white; border-radius: 5px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">

            <!--Header of error window-->
            <div style="display: flex; align-items: center;">
                <button onclick="openTechError()" class="dropbtn btn btn-link"
                    style="text-decoration: none; color: white; padding-right: 10px; padding-left: 10px; display: flex;">
                    <i class="fa fa-chevron-left" style="size: 6px"></i>
                </button>
                <span style="display: flex; flex: 1;">${_("Technical Error")}</span>
                <button onclick="closeTechError()" class="dropbtn btn btn-link btn-technical"
                    style="text-decoration: none; color: white; display: flex; justify-self: flex-end; padding-right:10px;">
                    <i class="fa fa-minus" style="padding-bottom: 5px; padding-top:5px"></i>
                </button>
            </div>

            <!--Form to submit error-->
            <form method="post" enctype="multipart/form-data" action="/feedback/" id="technical_error_form"
                style='max-width: 300px; background-color: white;  color: rgb(100, 100, 100); padding: 0px 0px 10px 0px; margin-bottom: 0;overflow: hidden;'>

                <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
                <div style="width: 100%; padding: 10px 0 10px 10px;">
                    <p style="margin-bottom: 0"><b>${_("Error explanation")}</b></p>
                    <textarea placeholder="${_("Type Here")}" name="content" style='font-size: 12px; border: 1px solid #e7e7e7;
border-radius: 5px; padding: 5px; margin: 5px 0; width: 90%; resize: none; height: 150px;' required></textarea>
                </div>

                <!--Attach Snapshot-->
                <div style="width: 100%; padding: 10px 0 10px 10px;">
                    <span><b>${_("Error snapshot")}</b></span>
                    <p style="font-size: 10px; margin-bottom: 0;">${_("Image files: jpg, jpeg, png. Maximum size 5MB")}</p>
                    <input type="file" accept=".jpg,.jpeg,.png,.gif" name="attachment" style="font-size: 12px; border: 1px solid #e7e7e7;
border-radius: 5px; padding: 5px; margin: 5px 0; width: 90%;">
                </div>

                <!--Self-identified field-->
                <div>
                    <input type="hidden" name="email" id="email" value="{{email}}">
                    <input type="hidden" name="lesson_url" id="lesson_url" value="">
                    <input type="hidden" name="unit_title" id="unit_title" value="">
                    <input type="hidden" name="instance_code" id="instance_code" value="">
                    <input type="hidden" name="category_id" id="category_id" value="2">
                </div>

                <!--Button to submit-->
                <div style="display: flex; justify-content: center; padding-right: 12px;">
                    <button type="submit" name="submit" class="btnSend">${_("Submit")}</button>
                </div>
            </form>
        </div>

        <!-- Content of error window Overall Content Error-->
        <div id="overallError" class="dropdown-content"
            style="width: 300px; background-color: rgb(193,39,45); color: white; border-radius: 5px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">

            <!--Header of error window-->
            <div style="display: flex; align-items: center;">
                <button onclick="openOverallError()" class="dropbtn btn btn-link"
                    style="text-decoration: none; color: white; padding-right: 10px; padding-left: 10px; display: flex;">
                    <i class="fa fa-chevron-left" style="size: 6px"></i>
                </button>
                <span style="display: flex; flex: 1;">${_("Overall Content Error")}</span>
                <button onclick="closeOverallError()" class="dropbtn btn btn-link btn-content"
                    style="text-decoration: none; color: white; display: flex; justify-self: flex-end; padding-right:10px;">
                    <i class="fa fa-minus" style="padding-bottom: 5px; padding-top:5px"></i>
                </button>
            </div>

            <!--Form to submit error-->
            <form method="post" enctype="multipart/form-data" action="/feedback/" id="content_error_form"
                style='max-width: 300px; background-color: white;  color: rgb(100, 100, 100); padding: 0px 0px 10px 0px; margin-bottom: 0; overflow: hidden;'>

                <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
                <div style="width: 100%; padding: 10px 0 10px 10px;">
                    <p style="margin-bottom: 0"><b>${_("Error explanation")}</b></p>
                    <textarea placeholder="${_("Type Here")}" name="content" style='font-size: 12px; border: 1px solid #e7e7e7;
border-radius: 5px; padding: 5px; margin: 5px 0; width: 90%; resize: none; height: 150px;' required></textarea>
                </div>

                <!--Attach Snapshot-->
                <div style="width: 100%; padding: 10px 0 10px 10px;">
                    <span><b>${_("Error snapshot")}</b></span>
                    <p style="font-size: 10px; margin-bottom: 0;">${_("Image files: jpg, jpeg, png. Maximum size 5MB")}</p>
                    <input type="file" accept=".jpg,.jpeg,.png,.gif" name="attachment" style="font-size: 12px; border: 1px solid #e7e7e7;
border-radius: 5px; padding: 5px; margin: 5px 0; width: 90%;">
                </div>

                <!--Self-identified field-->
                <div>
                    <input type="hidden" name="email" id="email" value="{{email}}">
                    <input type="hidden" name="lesson_url" id="lesson_url" value="">
                    <input type="hidden" name="unit_title" id="unit_title" value="">
                    <input type="hidden" name="instance_code" id="instance_code" value="">
                    <input type="hidden" name="category_id" id="category_id" value="0">
                </div>

                <!--Button to submit-->
                <div style="display: flex; justify-content: center; padding-right: 12px;">
                    <button type="submit" name="submit" class="btnSend">${_("Submit")}</button>
                </div>
            </form>
        </div>

        <!-- content of error window Quiz Content Error-->
        <div id="quizError" class="dropdown-content"
            style="width: 300px; background-color: rgb(193,39,45); color: white; border-radius: 5px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">

            <!--Header of error window-->
            <div style="display: flex; align-items: center;">
                <button onclick="openQuizError()" class="dropbtn btn btn-link"
                    style="text-decoration: none; color: white; padding-right: 10px; padding-left: 10px; display: flex;">
                    <i class="fa fa-chevron-left" style="size: 6px"></i>
                </button>
                <span style="display: flex; flex: 1;">${_("Quiz Content Error")}</span>
                <button onclick="closeQuizError()" class="dropbtn btn btn-link btn-quiz"
                    style="text-decoration: none; color: white; display: flex; justify-self: flex-end; padding-right:10px;">
                    <i class="fa fa-minus" style="padding-bottom: 5px; padding-top:5px"></i>
                </button>
            </div>

            <!--Form to submit error-->
            <!--Form to submit error-->
            <form method="post" enctype="multipart/form-data" action="/feedback/" id="quiz_error_form"
                style='max-width: 300px; background-color: white;  color: rgb(100, 100, 100); padding: 0px 0px 10px 0px; margin-bottom: 0; overflow: hidden;'>

                <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
                <div style="width: 100%; padding: 10px 0 10px 10px;">
                    <p style="margin-bottom: 0"><b>${_("Error explanation")}</b></p>
                    <textarea placeholder="${_("Type Here")}" name="content" style='font-size: 12px; border: 1px solid #e7e7e7;
border-radius: 5px; padding: 5px; margin: 5px 0; width: 90%; resize: none; height: 150px;' required></textarea>
                </div>

                <!--Attach Snapshot-->
                <div style="width: 100%; padding: 10px 0 10px 10px;">
                    <span><b>${_("Error snapshot")}</b></span>
                    <p style="font-size: 10px; margin-bottom: 0;">${_("Image files: jpg, jpeg, png. Maximum size 5MB")}</p>
                    <input type="file" accept=".jpg,.jpeg,.png,.gif" name="attachment" style="font-size: 12px; border: 1px solid #e7e7e7;
border-radius: 5px; padding: 5px; margin: 5px 0; width: 90%;">
                </div>

                <!--Self-identified field-->
                <div>
                    <input type="hidden" name="email" id="email" value="{{email}}">
                    <input type="hidden" name="lesson_url" ilocalhostd="lesson_url" value="">
                    <input type="hidden" name="unit_title" id="unit_title" value="">
                    <input type="hidden" name="instance_code" id="instance_code" value="">
                    <input type="hidden" name="category_id" id="category_id" value="1">
                </div>

                <!--Button to submit-->
                <div style="display: flex; justify-content: center; padding-right: 12px;">
                    <button type="submit" name="submit" class="btnSend">${_("Submit")}</button>
                </div>
            </form>
        </div>

        <!-- content of error window Quiz Content Error-->
        <div id="mentorError" class="dropdown-content"
            style="width: 300px; background-color: rgb(193,39,45); color: white; border-radius: 5px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">

            <!--Header of error window-->
            <div style="display: flex; align-items: center;">
                <button onclick="openMentorError()" class="dropbtn btn btn-link"
                    style="text-decoration: none; color: white; padding-right: 10px; padding-left: 10px; display: flex;">
                    <i class="fa fa-chevron-left" style="size: 6px"></i>
                </button>
                <span style="display: flex; flex: 1;">${_("Ask Mentor Error")}</span>
                <button onclick="closeMentorError()" class="dropbtn btn btn-link btn-quiz"
                    style="text-decoration: none; color: white; display: flex; justify-self: flex-end; padding-right:10px;">
                    <i class="fa fa-minus" style="padding-bottom: 5px; padding-top:5px"></i>
                </button>
            </div>

            <!--Form to submit error-->
            <div style="padding:10px;background-color:#FFF;color: #000; line-height: normal;">
				${_("<p>In case you have problems with the mentor Q&A function, please see the instructions below to handle it:</p> <p><strong>A. In case you sent a question but couldn't find a mentor</strong></p> <ol> <li> Please try again in a few minutes, or try during direct hours from <strong>8h-23h</strong>. If not, go to step 2. </li> <li>Text to hannah in charge for support</li> </ol> <p><strong>B. In case you do not see the Ask Mentors section or do not see the full content of the question input</strong></p> <ol> <li>Please press <strong>F5</strong> after a few minutes. If not, go to step 2</li> <li>Text to hannah in charge for support</li> </ol>")}
            </div>
        </div>
    </div>
</div>
