## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
      <ol>
#          <li class="nav-colophon-01">
#          <a id="about" href="${marketing_link('ABOUT')}">
#              ${_("About")}
#          </a>
#          </li>
#          <li class="nav-colophon-02">
#          <a id="jobs" href="${marketing_link('JOBS')}">
#              ${_("Jobs")}
#          </a>
#          </li>
#          <li class="nav-colophon-03">
#          <a id="press" href="${marketing_link('PRESS')}">
#              ${_("Press")}
#          </a>
#          </li>
#          <li class="nav-colophon-04">
#          <a id="faq" href="${marketing_link('FAQ')}">
#              ${_("FAQ")}
#          </a>
#          </li>-->
#          <li class="nav-colophon-05">
#          <a id="contact" href="${marketing_link('CONTACT')}">
#              ${_("Contact")}
#          </a>
#          </li>
      </ol>
      </nav>
    </div>

    <div class="references">
      <nav class="nav-legal">
        <ul>
<li>
      <a href="http://olimpiada.ru/">Olimpiada.ru</a>
      </li>
      <li>
      <a href="http://vos.olimpiada.ru/">Всероссийская олимпиада в Москве</a>
      </li>
      <li>
      <a href="http://mosolymp.olimpiada.ru/">Московская олимпиада школьников</a>
      </li>
      <li>
      <a href="http://info.olimpiada.ru/calendar">Календарь олимпиад</a>
</li>
        </ul>
      </nav>

      <p class="copyright">© 2013 ГБОУ ЦПМ г. Москва.</p>
      <p class="copyright">Powered by <a href="http://code.edx.org/">edX</a>.</p>
    </div>
  </footer>
</div>
