{# email client support for style sheets is pretty spotty, so we have to inline all of these styles #}
<style>
@media only screen and (max-width: 456px) {
  .goals-banner-div {
    background-image: url('{{image_url}}goalreminder-mobile-hero.png') !important;
  }
}
</style>
{% if image_url %}
<div class="goals-banner-div" style="
    margin-left: -1.25rem;
    margin-top: -1rem;
    width: calc(100% + 20px);
    height: 0;
    padding-top: 41%;
    background-image: url('{{image_url}}goalreminder-desktop-hero.png');
    background-size: contain;
    background-repeat: no-repeat;">
</div>
{% endif %}