<header class="app">
  <nav>
    <a href="/" class="logo">
      <img src="/static/images/logo.png" />
    </a>
    <ol>
      <li><a href="/courses">Courses</a></li>
      <li><a href="#">How It Works</a></li>
    </ol>
    <ol class="user">
      <li><a href="/dashboard">Log In</a></li>
      <li><a href="#">Sign Up</a></li>
    </ol>
    <ol class="secondary">
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Jobs</a>
      </li>
      <li>
        <a href="#">faq</a>
      </li>
    </ol>
  </nav>
</header>
