<%! from django.utils.translation import ugettext as _ %>

<%inherit file="main.html" />

<%namespace name='static' file='static_content.html'/>

<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<div>
    <form role="form" id="login-form" method="post" action="/accounts/import_users" enctype="multipart/form-data">
<input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
      <input type="file" name="file" size="40">
      <div class="form-actions">
        <button name="submit" type="submit" id="submit">Submittttt</button>
      </div>
    </form>
</div>

