<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<section class="home">
  <header>
    <div class="outer-wrapper">
      <div class="inner-wrapper">
        <div class="title">
          <h1>The Future of Online Education</h1>
          <p>Free. Online. World Class.</p>
          <div class="main-cta">
            <a href="${reverse('courses')}" class="find-courses">Find Courses</a>
          </div>

          <div class="social-sharing">
            <div class="sharing-message">Share with friends and family!</div>
            <a href="#" class="share">
              <img src="${static.url('images/twitter-sharing.png')}">
            </a>
            <a href="#" class="share">
              <img src="${static.url('images/facebook-sharing.png')}">
            </a>
            <a href="#" class="share">
              <img src="${static.url('images/email-sharing.png')}">
            </a>
          </div>
        </div>

        <div class="media">
          <div class="hero">
            <img src="${static.url('images/courses/space1.jpg')}" />
            <div class="play-intro"></div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="container">
    <section class="highlighted-courses">
    <h2>Explore courses from <span class="lowercase">edX</span> universities</h2>

      <section class="university-partners">
        <ol class="partners">
          <li class="partner mit">
            <a href="/university_profile">
              <img src="${static.url('images/mit.png')}" />
              <div class="name">
                <span>MITx</span>
              </div>
            </a>
          </li>
          <li class="partner">
            <a href="/university_profile">
              <img src="${static.url('images/harvard.png')}" />
              <div class="name">
                <span>HarvardX</span>
              </div>
            </a>
          </li>
          <li class="partner">
            <a href="/university_profile">
              <img src="${static.url('images/berkeley.png')}" />
              <div class="name">
                <span>BerkeleyX</span>
              </div>
            </a>
          </li>
        </ol>
      </section>

      <section class="courses">
        %for course in courses:
          <%include file="course.html" args="course=course" />
        %endfor
      </section>
    </section>

    <section class="more-info">
      <h2>edX News & Announcements</h2>
      <section class="news">
        <article></article>
        <article></article>
        <article></article>
        <article></article>
      </section>
    </section>
  </section>
</section>
