<%inherit file="main.html" />

<%namespace name='static' file='static_content.html'/>

<section class="container">
  <section class="home">
    <header>
      <section class="video-wrapper">
        <div class="video-player">
          <div class="video-inner">
            <iframe width="560" height="315" src="http://www.youtube.com/embed/SA6ELdIRkRU" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </section>
      <section class="welcome">
        <div class="intro">
          <h1>The Future of Online Education</h1>
          <p>
            EdX is a joint partnership between The Massachusetts Institute of Technology (MIT) and Harvard University to offer online learning to millions of people around the world. EdX will offer Harvard and MIT classes online for free. Through this partnership, the institutions aim to extend their collective reach to build a global community of online learners and to improve education.
          </p>
        </div>
        <div class="signup-wrapper">
          <section class="sign-up">
              <a href="#" class="find-courses">Find Courses</a>
          </section>
        </div>
      </section>
    </header>

    <section class="university-partners">
      <ol class="partners">
        <li class="partner">
          <a href="/university_profile.html">
            <img src="${static.url('images/berkeley_bw.png')}" />
            <div class="name">BerkeleyX</div>
          </a>
        </li>
        <li class="partner mit">
          <a href="/university_profile.html">
            <img src="${static.url('images/mit_bw.png')}" />
            <div class="name">MITx</div>
          </a>
        </li>
        <li class="partner">
          <a href="/university_profile.html">
            <img src="${static.url('images/harvard_bw.png')}" />
            <div class="name">HarvardX</div>
          </a>
        </li>
      </ol>
    </section>

    <section class="highlighted-courses">
      <h2>Explore courses from edX universities</h2>
      <section class="courses">
        <%include file="course.html" />
      </section>
    </section>

    <section class="more-info">
      <h2>edX News & Announcements</h2>
      <section class="news">
        <article></article>
        <article></article>
        <article></article>
        <article></article>
      </section>
    </section>
  </section>
</section>
