<%inherit file="main.html" />
<%include file="course_navigation.html" args="active_page='info'" />

<section class="container">
  <section class="course-content">
    <section class="courseware">
      <div class="info-wrapper">
        % if user.is_authenticated():
        <section class="updates">
          <%include file="updates.html" />
        </section>
        <section aria-label="Handout Navigation" class="handouts">
          <%include file="handouts.html" />
        </section>
        % else:
        <section class="updates">
          <%include file="guest_updates.html" />
        </section>
        <section aria-label="Handout Navigation" class="handouts">
          <%include file="guest_handouts.html" />
        </section>
        % endif
      </div>
    </section>
  </section>
</section>
