<%inherit file="main.html" />
<%! from django.utils.translation import ugettext as _ %>

<section class="container activation">

  <section class="message">
    <h1 class="invalid">${_("Invalid email change key")}</h1>
    <hr class="horizontal-divider">
    <p> ${_("This e-mail key is not valid. Please check:")}</p>
    <ul>
      <li>${_("Was this key already used? Check whether the e-mail change has already happened.")}
      <li>${_("Did your e-mail client break the URL into two lines?")}
      <li>${_("The keys are valid for a limited amount of time. Has the key expired?")}
    </ul>
    <p>${_('Go back to the {link_start}home page{link_end}.').format(link_start='<a href="/">', link_end='</a>')}</p>
  </section>
</section>
