<%! from django.utils.translation import ungettext %>
<div class="wrapper-xblock-message">
    <div class="xblock-message information">
        <p>
            <span class="message-text">
                ${ungettext(
                    'Showing all matching content eligible to be added into {display_name}. Each student will be assigned {max_count} component drawn randomly from this list.',
                    'Showing all matching content eligible to be added into {display_name}. Each student will be assigned {max_count} components drawn randomly from this list.',
                    max_count
                ).format(max_count=max_count, display_name=display_name)}
            </span>
        </p>
    </div>
</div>
