<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='static_content.html'/>

<section id="login-modal" class="modal login-modal">
  <div class="inner-wrapper">
    <header>
      <h2>Log In</h2>
      <hr>
    </header>

    <form id="login_form" class="login_form" method="post" data-remote="true" action="/login">
      <label>E-mail</label>
      <input name="email" type="email" placeholder="E-mail">
      <label>Password</label>
      <input name="password" type="password" placeholder="Password">
      <label class="remember-me">
        <input name="remember" type="checkbox" value="true">
        Remember me
      </label>
      <div class="submit">
        <input name="submit" type="submit" value="Access My Courses">
      </div>
    </form>

    <section class="login-extra">
      <p>
        <span>Not enrolled? <a href="#signup-modal" class="close-login" rel="leanModal">Sign up.</a></span>
        <a href="#forgot-password-modal" rel="leanModal" class="pwd-reset">Forgot password?</a>
      </p>
% if settings.MITX_FEATURES.get('AUTH_USE_OPENID'):
      <p>
      <a href="${MITX_ROOT_URL}/openid/login/">login via openid</a>
      </p>
% endif
    </section>

    <div class="close-modal">
      <div class="inner">
        <p>&#10005;</p>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
(function() {
   $(document).delegate('#login_form', 'ajax:success', function(data, json, xhr) {
     if(json.success) {
       location.href="${reverse('dashboard')}";
     } else {
       if($('#login_error').length == 0) {
         $('#login_form').prepend('<div id="login_error" class="modal-form-error"></div>');
       }
       $('#login_error').html(json.value).stop().css("display", "block");
     }
   });
})(this)
</script>
