<!DOCTYPE html>
{% load compressed %}{% load sekizai_tags i18n microsite %}{% load url from future %}{% load staticfiles %}
<html lang="{{LANGUAGE_CODE}}">
<head>
  <meta charset="UTF-8">
  {% block title %}<title>{% platform_name %}</title>{% endblock %}

 <link rel="icon" type="image/x-icon" href="{% favicon_path %}" />

  {% compressed_css 'style-vendor' %}
  {% compressed_css 'style-app' %}
  {% compressed_css 'style-app-extend1' %}
  {% compressed_css 'style-app-extend2' %}
  {% compressed_css 'style-course-vendor' %}
  {% compressed_css 'style-course' %}

  {% block main_vendor_js %}
  {% compressed_js 'main_vendor' %}
  {% endblock %}
  {% block headextra %}{% endblock %}
  {% render_block "css" %}

  {% microsite_css_overrides_file %}

  <!--[if lt IE 9]>
  <script src="{% static 'js/html5shiv.js' %}"></script>
  <![endif]-->

  <meta name="path_prefix" content="{{EDX_ROOT_URL}}">
</head>

<body class="{% block bodyclass %}{% endblock %} lang_{{LANGUAGE_CODE}}">
  <a class="nav-skip" href="{% block nav_skip %}#content{% endblock %}">{% trans "Skip to this view's content" %}</a>
  {% if ENABLE_NEW_EDX_HEADER %}
    {% include "navigation.html" %}
  {% else %}
    {% include "original_navigation.html" %}
  {% endif %}
  <div class="content-wrapper" id="content">
    {% block body %}{% endblock %}
    {% block bodyextra %}{% endblock %}
  </div>
  {% if IS_REQUEST_IN_MICROSITE %}
  {# For now we don't support overriden Django templates in microsites. Leave footer blank for now which is better than saying Edx.#}
  {% elif IS_EDX_DOMAIN %}
    {% if ENABLE_NEW_EDX_FOOTER %}
        {% include "footer-edx-new.html" %}
    {% else %}
        {% include "footer-edx.html" %}
    {% endif %}
  {% else %}
    {% include "footer.html" %}
  {% endif %}

  {% compressed_js 'application' %}
  {% compressed_js 'module-js' %}

  {% render_block "js" %}
</body>
</html>

{% comment %}
  This is a django template version of our main page from which all
  other pages inherit. This file should be rewritten to reflect any
  changes in main.html! Files used by {% include %} can be written
  as mako templates.

  Inheriting from this file allows us to include apps that use the
  django templating system without rewriting all of their views in
  mako.
{% endcomment %}
