<%page args="active_page" />
<div class="header-wrapper">
  <header aria-label="Global Navigation">
    <hgroup>
      <h1><em>
        % if settings.ENABLE_MULTICOURSE:
            <a href="${ MITX_ROOT_URL }/mitxhome" style="color:black;">MITx</a>
        % else:
            MITx
        % endif
       </em></h1>
      <h2><a href="${ MITX_ROOT_URL }/courseware/">${ settings.COURSE_TITLE }</a></h2>
    </hgroup>

    <nav class="${active_page}">
      <ul class="coursenav">
        <li class="courseware"><a href="${ MITX_ROOT_URL }/courseware/">Courseware</a></li>
        <li class="info"><a href="${ MITX_ROOT_URL }/info">Course Info</a></li>
% if user.is_authenticated():
        <li class="book"><a href="${ MITX_ROOT_URL }/book">Textbook</a></li>
        <li class="discussion"><a href="${ MITX_ROOT_URL }/discussion/questions/">Discussion</a></li>
% endif
        <li class="wiki"><a href="${ MITX_ROOT_URL }/wiki/view/">Wiki</a></li>
% if user.is_authenticated():
        <li class="profile"><a href="${ MITX_ROOT_URL }/profile">Profile</a></li>
% endif
      </ul>
    </nav>
  </header>
</div>
