## TODO: Split this into two files, one for people who are authenticated, and
## one for people who aren't. Assume a Course object is passed to the former,
## instead of using settings.COURSE_TITLE
<%namespace name='static' file='static_content.html'/>
<header class="app" aria-label="Global Navigation">
  <section class="wrapper">
    <a href="${ MITX_ROOT_URL }" class="logo">
      <img src="${static.url('images/logo.png')}" />
    </a>
    <nav class="find-courses">
      <ol>
        <li class="primary">
          <div class="divider"></div>
          <a href="/courses">Find Courses</a>
          <div class="divider"></div>
        </li>
        <li class="secondary">
          <a href="/about">About</a>
          <a href="#">Blog</a>
          <a href="/jobs">Jobs</a>
        </li>
      </ol>
    </nav>

    %if user.is_authenticated():
    <nav class="user">
      <ol>
        <li class="primary">
          <div class="divider"></div>
          <a href="/dashboard" class="user-link">
            <span class="avatar"><img src="${static.url('images/profile.jpg')}" /></span>
            Neil deGrasse Tyson
          </a>
          <div class="divider"></div>
          <a href="#" class="options">&#9662</a>
          <div class="divider"></div>
          <ol class="user-options">
            <li><a href="#">Account Settings</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ol>
        </li>
      </ol>
    </nav>

    %else:
    <nav class="guest">
      <ol>
        <li class="primary">
          <div class="divider"></div>
          <a href="#" id="login">Log In</a>
          <div class="divider"></div>
          <a href="#" id="signup">Sign Up</a>
          <div class="divider"></div>
        </li>
      </ol>
    </nav>
    %endif
  </section>
</header>

%if not user.is_authenticated():
  <%include file="login_modal.html" />
  <%include file="signup_modal.html" />

  <section class="modal-overlay">
  </section>
%endif
