<table class="rubric">
    % for i in range(len(rubric_categories)):
    <% category = rubric_categories[i] %>
    <tr>
        <th>
            ${category['description']}
            % if category['has_score'] == True:
                (Your score: ${category['score']})
            % endif
        </th>
        % for j in range(len(category['options'])):
        <% option = category['options'][j] %>
        <td>
            <div class="view-only">
                ${option['text']}
                % if option.has_key('selected'):
                    % if option['selected'] == True:
                        <div class="selected-grade">[${option['points']} points]</div>
                    %else:
                        <div class="grade">[${option['points']} points]</div>
                    % endif
                % else:
                    <div class="grade">[${option['points']} points]</div>
                %endif
            </div>
        </td>
        % endfor
    </tr>
    % endfor
</table>