{% extends "main_django.html" %}
{% load i18n staticfiles %}

{% block title %}{% trans "Tell us more about you." %} | {{ block.super }}{% endblock %}

{% block body %}
    <h1>{% trans "You have signed out." %}</h1>

    <form action="." method="post">
         {{ form.as_p }}
         {% csrf_token %}
        <p><input type="submit" value="Send"></p>

    </form>

    <script type="text/javascript" src="{% static 'js/jquery.allLoaded.js' %}"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
    </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {

            $("#id_start_month_and_year").datepicker({dateFormat: 'mm/yy', changeMonth: true,
                changeYear: true,
                showButtonPanel: true, onClose: function(dateText, inst) {
                    $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                }});

            /*$.ajax({
                url: "/organizations", success: function (result) {
                    full_result = result
                    orgs = Object.keys(result)
                }
            });*/

        });

    </script>
{% endblock body %}
