<%namespace name='static' file='static_content.html'/>

<%inherit file="main.html" />

<section class="container about">
  <nav>
    <a href="/t/about.html">Vision</a>
    <a href="/t/faq.html">Faq</a>
    <a href="/t/press.html" class="active">Press</a>
    <a href="/t/contact.html">Contact</a>
  </nav>

  <section class="press">
    <article class="press-story">
      <div class="article-cover">
        <img src="${static.url('images/courses/circuits.jpeg')}" />
      </div>
      <div class="press-info">
        <header>
          <h3>Online Classes Cut Costs, But Do They Dilute Brands?</h3>
          <a href="http://www.npr.org/2012/07/02/156122748/online-classes-cut-costs-but-do-they-dilute-brands">http://n.pr/Lt5ydM</a>
        </header>
        <p>"You know this is the Wild West. There's a lot of things we have to figure out," Agarwal says. "And you know if anybody says they know exactly what they're doing, I think that would be a far cry from reality."</p>
      </div>
    </article>

    <article class="press-story">
      <div class="article-cover">
        <img src="${static.url('images/courses/circuits.jpeg')}" />
      </div>
      <div class="press-info">
        <header>
          <h3>Online Classes Cut Costs, But Do They Dilute Brands?</h3>
          <a href="http://www.npr.org/2012/07/02/156122748/online-classes-cut-costs-but-do-they-dilute-brands">http://n.pr/Lt5ydM</a>
        </header>
        <p>"You know this is the Wild West. There's a lot of things we have to figure out," Agarwal says. "And you know if anybody says they know exactly what they're doing, I think that would be a far cry from reality."</p>
      </div>
    </article>

    <article class="press-story">
      <div class="article-cover">
        <img src="${static.url('images/courses/circuits.jpeg')}" />
      </div>
      <div class="press-info">
        <header>
          <h3>Online Classes Cut Costs, But Do They Dilute Brands?</h3>
          <a href="http://www.npr.org/2012/07/02/156122748/online-classes-cut-costs-but-do-they-dilute-brands">http://n.pr/Lt5ydM</a>
        </header>
        <p>"You know this is the Wild West. There's a lot of things we have to figure out," Agarwal says. "And you know if anybody says they know exactly what they're doing, I think that would be a far cry from reality."</p>
      </div>
    </article>

    <article class="press-story">
      <div class="article-cover">
        <img src="${static.url('images/courses/circuits.jpeg')}" />
      </div>
      <div class="press-info">
        <header>
          <h3>Online Classes Cut Costs, But Do They Dilute Brands?</h3>
          <a href="http://www.npr.org/2012/07/02/156122748/online-classes-cut-costs-but-do-they-dilute-brands">http://n.pr/Lt5ydM</a>
        </header>
        <p>"You know this is the Wild West. There's a lot of things we have to figure out," Agarwal says. "And you know if anybody says they know exactly what they're doing, I think that would be a far cry from reality."</p>
      </div>
    </article>
  </section>
</section>

