<%! from django.utils.translation import ugettext as _ %>

<%namespace name='static' file='static_content.html'/>
<h2 class="problem-header">
  ${ problem['name'] }
</h2>

<section class="problem-progress">
</section>

<section class="problem">
  ${ problem['html'] }

  <section class="action">
    <input type="hidden" name="problem_id" value="${ problem['name'] }" />

    % if check_button:
    <input class="check ${ check_button }" type="button" value="${ check_button }" />
    % endif
    % if reset_button:
    <input class="reset" type="button" value="${_('Reset')}" />
    % endif
    % if save_button:
    <input class="save" type="button" value="${_('Save')}" />
    % endif
    % if answer_available:
    <button class="show"><span class="show-label">${_('Show Answer(s)')}</span> <span class="sr">${_("(for question(s) above - adjacent to each field)")}</span></button>
    % endif
    % if attempts_allowed :
    <section class="submission_feedback">
      ${_("You have used {num_used} of {num_total} submissions").format(num_used=attempts_used, num_total=attempts_allowed)}
    </section>
    % endif
  </section>
</section>
