<%page expression_filter="h" args="notification_type, notification_icon, notification_message, hint_notification"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML
%>

<%
notification_type = 'success'
notification_icon = 'check'
notification_message = 'Correct'
%>

<div class="notification ${notification_type} ${'notification-hint' if hint_notification else 'notification-response'}" tabindex="-1">
    <span class="icon fa fa-${notification_icon}" aria-hidden="true"></span>
    <span class="notification-message" aria-describedby="${notification_message}" aria-live="${notification_message}">${notification_message}
    </span>
    <div class="notification-btn-wrapper">
        % if hint_notification:
        <button class="btn btn-default btn-small notification-btn">${_('Next Hint')}</button>
        % endif
        <button class="btn btn-default btn-small notification-btn review-btn sr">${_('Review')}</button>
    </div>
</div>
