<%page expression_filter="h"/>
<%!
from django.utils.translation import ngettext, gettext as _
from openedx.core.djangolib.markup import HTML
%>
<style>
  .container-problem{
    display : flex ;
    gap: 10px;
    padding-bottom : 10px;
  }
  .problem-question-number {
      padding : 4px 10px;
      background-color: #f6f6f7;
      text-align: center;
      color: #8097b1;
      font-size : 14px;
      border-radius: 4px;

  }

  .active-number {
    border-bottom: solid 2px #0086ff !important;
    background-color: rgba(0, 134, 255, 0.16) !important;

    color: #0086ff !important;
  }

  .submitted-question{
    color :#5aa447 ;
    border-bottom: solid 2px #5aa447;
    background-color: rgba(90, 164, 71, 0.16);
    
  }
  .err-number-qusetion {
    border-bottom: solid 2px #d82c0d;
    background-color: rgba(216, 44, 13, 0.16);
    color : #d82c0d
  }


.btn-custom{
  border : none !important;
  background-color :  #007ae6;
  color: #fff;
  background-image: none !important;
  text-shadow : none !important;
  box-shadow: none !important;

}
.btn-custom:hover {
  background : #025dae !important ;
}

.btn-custom[disabled]{
  background-color :  #c5c5c5;
}

.btn-prev {
  border : 1px solid  #007ae6!important;
  background : none ;
  color: #007ae6;
  background-image: none !important;
  text-shadow : none !important;
  box-shadow: none !important;
}
.btn-prev:hover {
  background : #eef7ff !important;
}

.btn-span{
  display: flex;
  align-items : center;

  gap: 5px;
}

.btn-span > i {
  font-size:18px
}

.problem .field  > label {
  border : none !important ;
}



.message{
  border-top : 1px solid #d7d7d7 ;
  padding-top : 20px;
}

.messages-box {
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 10px 14px;
  border-radius: 6px;
  border-left: solid 2px #5aa447;
  background-color: rgba(90, 164, 71, 0.05);
}

.explanation-title{
  align-self: stretch;  
  flex-grow: 0;
  font-size: 1rem;
  font-weight: 500 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;

  padding-bottom: 10px;
}

.wrapper-problem-response  fieldset{
  padding:20px 0px;
}


.success-problem   {
  accent-color: #5aa447 !important;
}

.wrapper-problem-response fieldset {
  font-weight: 600;
}

.error-problem-answer {
  background-color: #FFE4E4  !important;
  border-left: solid 2px #D82C0D !important;
}

.problem-question-number:hover{
  cursor: pointer;
}


</style>

<%namespace name='static' file='static_content.html'/>
<h3 class="hd hd-3 problem-header" id="${ short_id }-problem-title" aria-describedby="${ id }-problem-progress" tabindex="-1">
  
  % if problem['name'] == 'Quiz Problem Custom' :
    Quiz 
  %else :
    ${ problem['name'] }
  %endif
</h3>

<div class="problem-progress" id="${ id }-problem-progress"></div>

<div class="problem" id="${ "-".join(problem['name'].lower().split())}">
  ${ HTML(problem['html']) }
  <div class="action">
    <input type="hidden" name="problem_id" value="${ problem['name'] }" />
    % if demand_hint_possible:
      <div class="problem-hint">
        <%include file="problem_notifications.html" args="
         notification_name='hint',
         notification_type='problem-hint',
         notification_icon='fa-question',
         notification_message=''"
       />
      </div>
    % endif

    <div class="problem-action-buttons-wrapper">
      

      % if problem['name'] == 'Quiz Problem Custom' :
      <div id='problem-buttom' data-problem-name="${problem['name']}" style="padding-top:10px">
        <span style='display:flex; gap: 10px'>
      
          <button id='btn-next' class='btn-custom' style='display:none'> <span class='btn-span'>
  
            Câu hỏi tiếp theo  <i class="bi bi-arrow-right"></i>
          </span></button>
          <button class='btn-submit-qz btn-custom' disabled > Trả lời  </button>
  
        </span>

      </div>
        
      %endif

      % if demand_hint_possible:
        % if problem['name'] != 'Quiz Problem Custom':
            <span class="problem-action-button-wrapper">
              <button type="button" class="hint-button problem-action-btn btn-link btn-small" data-value="${_('Hint')}" ${'' if should_enable_next_hint else 'disabled'}>${_('Hint')}</button>
          </span>
        %endif
   
      % endif
      % if save_button:
      <span class="problem-action-button-wrapper">
          <button type="button" class="save problem-action-btn btn-link btn-small" data-value="${_('Save')}">
              <span aria-hidden="true">${_('Save')}</span>
              <span class="sr">${_("Save your answer")}</span>
          </button>
      </span>
      % endif
      % if reset_button:
      <span class="problem-action-button-wrapper">
          <button type="button" class="reset problem-action-btn btn-link btn-small" data-value="${_('Reset')}"><span aria-hidden="true">${_('Reset')}</span><span class="sr">${_("Reset your answer")}</span></button>
      </span>
      % endif
      % if answer_available and problem['name'] != 'Quiz Problem Custom' :
      <span class="problem-action-button-wrapper">
          <button type="button" class="show problem-action-btn btn-link btn-small" aria-describedby="${ short_id }-problem-title"><span class="show-label">${_('Show answer')}</span></button>
      </span>
      % endif
    </div>
    <div class="submit-attempt-container">

      % if problem['name'] != 'Quiz Problem Custom' :
        <button type="button" class="submit btn-brand" data-submitting="${ submit_button_submitting }" data-value="${ submit_button }" data-should-enable-submit-button="${ should_enable_submit_button }" aria-describedby="submission_feedback_${short_id}" ${'' if should_enable_submit_button else 'disabled'}>
          <span class="submit-label">${ submit_button }</span>
      </button>
      % endif


      % if submit_disabled_cta:
        % if submit_disabled_cta.get('event_data'):
          <button class="submit-cta-link-button btn-link btn-small" onclick="emit_event(${submit_disabled_cta['event_data']})">
            ${submit_disabled_cta['link_name']}
          </button>
          <span class="submit-cta-description" tabindex="0" role="note" aria-label="description">
            <span data-tooltip="${submit_disabled_cta['description']}" data-tooltip-show-on-click="true"
              class="fa fa-info-circle fa-lg" aria-hidden="true">
            </span>
          </span>
          <span class="sr">(${submit_disabled_cta['description']})</span>
        % else:
            <form class="submit-cta" method="post" action="${submit_disabled_cta['link']}">
              <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
              % for form_name, form_value in submit_disabled_cta['form_values'].items():
                  <input type="hidden" name="${form_name}" value="${form_value}">
              % endfor
              <button class="submit-cta-link-button btn-link btn-small">
                ${submit_disabled_cta['link_name']}
              </button>
              <span class="submit-cta-description" tabindex="0" role="note" aria-label="description">
                <span data-tooltip="${submit_disabled_cta['description']}" data-tooltip-show-on-click="true"
                  class="fa fa-info-circle fa-lg" aria-hidden="true">
                </span>
              </span>
              <span class="sr">(${submit_disabled_cta['description']})</span>
            </form>
        % endif
      % endif
      <div class="submission-feedback ${'cta-enabled' if submit_disabled_cta else ''}" id="submission_feedback_${short_id}">
        ## When attempts are not 0, the CTA above will contain a message about the number of used attempts
        % if attempts_allowed and (not submit_disabled_cta or attempts_used == 0):
          ${ngettext("You have used {num_used} of {num_total} attempt", "You have used {num_used} of {num_total} attempts", attempts_allowed).format(num_used=attempts_used, num_total=attempts_allowed)}
        % endif
        <span class="sr">${_("Some problems have options such as save, reset, hints, or show answer. These options follow the Submit button.")}</span>
      </div>
    </div>
  </div>
    <%include file="problem_notifications.html" args="
      notification_type='warning',
      notification_icon='fa-exclamation-circle',
      notification_name='gentle-alert',
      notification_message=''"
    />
    % if answer_notification_type:
        % if 'correct' == answer_notification_type:
            <%include file="problem_notifications.html" args="
                notification_type='success',
                notification_icon='fa-check',
                notification_name='submit',
                is_hidden=False,
                notification_message=answer_notification_message"
            />
        % endif
        % if 'incorrect' == answer_notification_type:
            <%include file="problem_notifications.html" args="
                notification_type='error',
                notification_icon='fa-close',
                notification_name='submit',
                is_hidden=False,
                notification_message=answer_notification_message"
            />
        % endif
        % if 'partially-correct' == answer_notification_type:
            <%include file="problem_notifications.html" args="
                notification_type='success',
                notification_icon='fa-asterisk',
                notification_name='submit',
                is_hidden=False,
                notification_message=answer_notification_message"
            />
        % endif
        % if 'submitted' == answer_notification_type:
            <%include file="problem_notifications.html" args="
                notification_type='general',
                notification_icon='fa-info-circle',
                notification_name='submit',
                is_hidden=False,
                notification_message=answer_notification_message"
            />
        % endif
    % endif
    <%include file="problem_notifications.html" args="
      notification_type='warning',
      notification_icon='fa-save',
      notification_name='save',
      notification_message=save_message,
      is_hidden=not has_saved_answers"
    />
    <%
        notification_message=_('Answers are displayed within the problem')
    %>
    <%include file="problem_notifications.html" args="
      notification_type='general',
      notification_icon='fa-info-circle',
      notification_name='show-answer',
      notification_message=notification_message,
      is_hidden=True"
    />
  </div>
  <script>
      function emit_event(message) {
          parent.postMessage(message, '*');
      }
  </script>
% if problem['name'] == 'Quiz Problem Custom':
<script > 
  const problemElement = document.querySelector('#quiz-problem-custom');
  if (problemElement){
    const problemList = problemElement.querySelectorAll('.wrapper-problem-response');
    const btnSubmit = document.querySelector('.btn-submit-qz')
    const btnNext = document.querySelector('#btn-next')
    const problemBtn = document.querySelector('#problem-buttom')
  
  
    var currentIndex = 0;  
  
  
    if ( btnSubmit && btnNext) {
      const divContainer = document.createElement('div');
      divContainer.classList.add('container-problem');
      
  
      for (var i = 0; i < problemList.length; i++) {  
        if(i > 0){
          problemList[i].style.display = 'none'
        }
        const spanElement = document.createElement('span');
        spanElement.textContent = (i + 1).toString();
        spanElement.classList.add('problem-question-number');
        spanElement.setAttribute('data-problem-number-id', i.toString());
        
        const submittedInput = problemList[i].querySelector('input.submitted');
        const incorrectLabel = problemList[i].querySelector('label.choicegroup_correct');
        const wrongLabel = problemList[i].querySelector('label.choicegroup_incorrect')
        const indicatorError = problemList[i].querySelector('.indicator-container')
        
        indicatorError.style.display = 'none'
        
  
        if (i == 0){
          spanElement.classList.add('active-number')
  
          if (submittedInput && incorrectLabel) {
            btnSubmit.style.display = 'none';
            btnNext.style.display = 'block';
            spanElement.classList.add('submitted-question');
            const inputs = problemList[i].querySelectorAll('input:checked');
            inputs.forEach(input => input.classList.add('success-problem'))
          }
          else if (submittedInput && wrongLabel){
            spanElement.classList.add('err-number-qusetion');
  
          }
            
            
        }else {
          
            if (submittedInput && incorrectLabel) {
          spanElement.classList.add('submitted-question');
          btnSubmit.style.display = 'none';
          btnNext.style.display = 'block';
          const inputs = problemList[i].querySelectorAll('input:checked');
          inputs.forEach(input => input.classList.add('success-problem'))
          }
          else if (submittedInput && wrongLabel){
            spanElement.classList.add('err-number-qusetion');
  
          }
        }
  
        divContainer.appendChild(spanElement);
  
        const checkInput = problemList[i].querySelectorAll('input[type="checkbox"], input[type="radio"]' )
        checkInput.forEach(input => {
          input.addEventListener('change', ()=>{
            const atLeastOneChecked = Array.from(checkInput).some(inp => inp.checked);
            if (atLeastOneChecked) {
              btnSubmit.removeAttribute('disabled');
            } else {
              btnSubmit.setAttribute('disabled', true);
            }
          });
        });
  
        
      }
  
      problemElement.insertBefore(divContainer, problemElement.firstChild);
      if ( problemList.length == 1){
        document.querySelector('.container-problem').style.display= 'none'
      }
      
  
      const elementsError = document.querySelectorAll('.err-number-qusetion');
      elementsError.forEach((elementError) => {
        const numberError = elementError.textContent;
        const indicatorError = problemList[numberError - 1].querySelector('.indicator-container');
        indicatorError.style.display = 'block';
        
        const existingMessgasBox = problemList[numberError - 1].querySelector('.feedback-hint-incorrect');
        
        if (existingMessgasBox) {
          existingMessgasBox.classList.add('error-problem-answer'); 
          const title = problemList[numberError - 1].querySelector('.explanation-title');
          title.textContent = 'Câu trả lời của bạn chưa chính xác';
        } else {
          const newMessgasBox = document.createElement('div');
          newMessgasBox.classList.add('feedback-hint-incorrect', 'error-problem-answer' , "messages-box");
          const title = document.createElement('div');
          title.classList.add('explanation-title');
          title.style.paddingBottom = '0px'
          title.textContent = 'Câu trả lời của bạn chưa chính xác';
          newMessgasBox.appendChild(title);
          problemList[numberError - 1].appendChild(newMessgasBox);
      
        }
      });
    
    const elementsSubmitted = document.querySelectorAll('.submitted-question')
    elementsSubmitted.forEach((element)=>{
      const numberSubmitted = element.textContent;
      const title = problemList[numberSubmitted - 1].querySelector('.explanation-title');
  
      title.textContent = 'Bạn đã trả lời đúng';
  
    })
  
  
      const btnNumber = document.querySelectorAll('.problem-question-number');
  
      btnNumber.forEach(function(element) {
        element.addEventListener('click', function() {
          const numnberId = element.getAttribute('data-problem-number-id');
  
          btnSubmit.setAttribute('disabled', true);
  
          currentIndex = parseInt(numnberId, 10);
          btnNumber.forEach(function(btn) {
            btn.classList.remove('active-number');
          });
        
          problemList.forEach(function(problem) {
            problem.style.display = 'none';
          });
      
          const submittedInput = problemList[currentIndex].querySelector('input.submitted');
          const incorrectLabel = problemList[currentIndex].querySelector('label.choicegroup_correct');
          const wrongLabel = problemList[currentIndex].querySelector('label.choicegroup_incorrect')
  
  
          if (problemList[currentIndex]) {
            problemList[currentIndex].style.display = 'block';
          element.classList.add('active-number')
  
          if (element.classList.contains('err-number-qusetion')) {
            const indicator = problemList[currentIndex].querySelector('.indicator-container')
            indicator.style.display = 'block';
  
            btnNext.style.display = 'none';
            btnSubmit.style.display = 'block';
  
            const messgasBox = problemList[currentIndex].querySelector('.feedback-hint-incorrect');
            messgasBox.classList.add('error-problem-answer'); 
  
            
              const checkedInput = problemList[currentIndex].querySelectorAll('.field input:checked')
          
              checkedInput.forEach(function (element,index) {
                
                const input = element;
                const label = document.querySelector('label[for="' + element.id + '"]');
                input.classList.add('submitted');
                input.classList.remove('success-problem');
                label.classList.remove('choicegroup_correct')
                label.classList.add( 'choicegroup_incorrect');
            });
  
  
          }
          if (incorrectLabel){
            btnNext.style.display = 'block';
            btnSubmit.style.display = 'none';
          }
          else if (!incorrectLabel && !wrongLabel){
            btnNext.style.display = 'none';
            btnSubmit.style.display = 'block';
  
          }
          else if (wrongLabel){
            btnNext.style.display = 'none';
            btnSubmit.style.display = 'block';
  
          
          }
          
          const checkInput = problemList[currentIndex].querySelectorAll('input[type="checkbox"], input[type="radio"]' )
  
          checkInput.forEach(input => {
            input.addEventListener('change', ()=>{
              const atLeastOneChecked = Array.from(checkInput).some(inp => inp.checked);
              if (atLeastOneChecked) {
                btnSubmit.removeAttribute('disabled');
              } else {
                btnSubmit.setAttribute('disabled', true);
              }
            });
          });
  
          }
  
        
        });
  
      });
  
      
  
    }
  
  }
 

</script>
%endif



<div>

