<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='static_content.html'/>

% if is_staff:
<% override_label = "On" if staff_release else "Off" %>
<div aria-hidden="true" class="wrap-instructor-info">
    <a class="instructor-info-action" href="#proctor_admin_${element_id}" id="proctor_admin" rel="leanModal">${_("Proctor Student Admin")}</a>
    <a class="instructor-info-action" href="#proctor_history_${element_id}" id="proctor_history" rel="leanModal">${_("Proctor Submission History")}</a>
    <a class="instructor-info-action" href="#proctor_release_${element_id}" id="proctor_override">${_("Proctor Override")}: <b>${_(override_label)}</b></a>
</div>
<hr/>

<section aria-hidden="true" class="modal history-modal" id="proctor_admin_${element_id}" style="width:80%; left:20%; height:80%; overflow:auto;" >
  <div class="inner-wrapper" style="color:black">
    <header>
      <h2>${_("Proctor Student Admin")}</h2>
    </header>
    <form id="proctor_${element_id}_reset_form">
      <label for="proctor_${element_id}_student_username">${_("User:")}</label>
      <input name="username" id="proctor_${element_id}_student_username" type="text" placeholder=""/>
      <input name="all_problems" id="proctor_${element_id}_all_problems" type="checkbox"/> Reset all problems?<br/>
      <input name="wipe_history" id="proctor_${element_id}_wipe_history" type="checkbox"/> Wipe randomize history?
      <input name="location" type="hidden" id="proctor_${element_id}_reset_location" value="${location}"/>
      <div class="submit">
          <button id="proctor_${element_id}_submit" name="submit" type="submit">${_("Reset Attempts")}</button>
      </div>
    </form>
    <div id="proctor_${element_id}_text" class="staff_info" style="display:block">
    </div>
  </div>
</section>

<section aria-hidden="true" class="modal history-modal" id="proctor_history_${element_id}" style="width:80%; left:20%; height:80%; overflow:auto;" >
  <div class="inner-wrapper" style="color:black">
    <header>
      <h2>${_("Proctor Submission History")}</h2>
    </header>
    <form id="proctor_${element_id}_history_form">
      <label for="proctor_${element_id}_student_username_hist">${_("User:")}</label>
      <input name="username" id="proctor_${element_id}_student_username_hist" type="text" placeholder=""/>
      <input name="location" type="hidden" id="proctor_${element_id}_hist_location" value="${location}"/>
      <div class="submit">
          <button id="proctor_${element_id}_hist_submit" name="submit" type="submit">${_("Fetch Submission History")}</button>
      </div>
    </form>
    <div id="proctor_${element_id}_hist_text" class="staff_info" style="display:block">
    </div>
  </div>
</section>

<script id="sub_history_tmpl" type="text/x-handlebars-template">
<h3>Submission history for <b>{{ user }}</b>:</h3>
<p><b>NOTE</b>: Clicking a row shows/hides the student's answers for that attempt.

<input class="check Check" type="button" onclick="$('.sh_tr_answers').show();" value="${_("Show All")}"/><input class="check Check" type="button" onclick="$('.sh_tr_answers').hide();" value="${_("Hide All")}"/>
<table border="1" id="submission_history_table_${element_id}">
<tr>
<th style='width:70px'>Attempt</th>
<th>Location</th>
<th style='width:50px'>Score</th>
</tr>
{{#each history_entries}}
<tr>
  <td colspan=3>Submissions on {{ @key }}</td>
</tr>
{{#this}}
<tr onclick='$("#sh_tr_{{id}}").toggle();' class="sh_tr" grade={{grade}} max_grade={{max_grade}}>
  <td>{{ attempt }}</td>
  <td>{{ location }}</td>
  <td>{{ grade }}/{{ max_grade }}</td>
</tr>
<tr id="sh_tr_{{id}}" class="sh_tr_answers" grade={{grade}} max_grade={{max_grade}}>
  <td colspan=3><b>Submitted</b>: {{ submission_time }}<br><b>Answers</b>:<ol>{{#each answers}}<li>{{this}}</li>{{/each}}</ol></td>
</tr>
{{/this}}
{{/each}}
</table></p>
</script>

<script type="text/javascript">
proctor_override = function(){
    var data = {enabled: "${not staff_release}"};
    $.post( "${ajax_url}/override", data, function( data ) {
        location.reload();
    });
}
$('#proctor_override').click(proctor_override);

setup_form = function(url, form_el, uname_el, submit_el, text_el, success){
    var submit_text = submit_el.html()

    form_el.submit(function(e) {
        e.preventDefault();
        submit_el.attr("disabled", true);
        submit_el.html('${_("Processing, please wait...")}');
        text_el.html("");
        $.ajax({
            url: url,
            type: 'POST',
            dataType: 'json',
            data: form_el.serialize(),
            success: success,
            error: function(xhr, stat, error){
                console.debug(xhr);
                console.debug(stat);
                console.debug(error);
                text_el.html('FATAL: ' + error);
             },
            complete: function(){
                submit_el.removeAttr("disabled");
                submit_el.html(submit_text);
            },
        });
        return false;
    });
}

reset_success = function(data) {
    var text_el = $('#proctor_${element_id}_text');
    var uname_el = $('#proctor_${element_id}_student_username');
    var msg = '';
    if ('error' in data) {
        msg = "ERROR: " + data['error'];
    } else {
        var uname = uname_el.val();
        msg = "Successfully reset attempts for user: " + uname;
    }
    text_el.html(msg);
}

setup_form('${ajax_url}/reset',
           $('#proctor_${element_id}_reset_form'),
           $('#proctor_${element_id}_student_username'),
           $('#proctor_${element_id}_submit'),
           $('#proctor_${element_id}_text'),
           reset_success);

hist_success = function(data) {
    var text_el = $('#proctor_${element_id}_hist_text');
    var uname_el = $('#proctor_${element_id}_student_username_hist');
    var msg = '';
    if ('error' in data) {
        msg = "ERROR: " + data['error'];
        text_el.html(msg);
    } else {
        var group_by_date = function(el) {
            return $.datepicker.formatDate('yy-mm-dd', el.submission_time);
        }
        var format_history_entries = function(el) {
            //el.answers = JSON.stringify(el.answers, undefined, 2);
            el.answers = _.map(_.sortBy(_.pairs(el.answers), function(el) {
                return el[0];
            }), function(el) { return el[1]; });
            el.submission_time = new Date(el.submission_time);
            $(el).uniqueId();
            return el;
        }
        var colorize = function(index, el){
            var el = $(el);
            var grade = el.attr('grade');
            var max_grade = el.attr('max_grade');
            if (grade != max_grade) {
                el.css('background-color', '#FFD5D1');
            } else {
                el.css('background-color', '#CCFFCC');
            }
        };
        var history_entries = _.map(data, format_history_entries);
        var history_entries = _.groupBy(data, group_by_date);
        var ctx = {
          user: uname_el.val(),
          history_entries: history_entries,
        }
        var raw_template = $('#sub_history_tmpl').html();
        var template = Handlebars.compile(raw_template);
        text_el.html(template(ctx));
        var tbl = $("#submission_history_table_${element_id}");
        tbl.width(tbl.width() + 20);
        var trs = $(".sh_tr");
        trs.each(colorize);
        var tr_answers = $(".sh_tr_answers");
        tr_answers.each(colorize);
        tr_answers.toggle();
    }
}

setup_form('${ajax_url}/submission_history',
           $('#proctor_${element_id}_history_form'),
           $('#proctor_${element_id}_student_username_hist'),
           $('#proctor_${element_id}_hist_submit'),
           $('#proctor_${element_id}_hist_text'),
           hist_success);

</script>

% endif

% if not is_released:

<div>
    <h2>Welcome: <b>${pp.user.profile.name or pp.user}</b></h2>

    <p>
    Access has been requested for <b>${name}</b> but it hasn't been released
    yet.
    </p>
    <p>
    This page will automatically reload once access has been granted.
    </p>
    <p>
    Please see your instructor or TA if access is not granted soon.
    </p>
</div>

<script type="text/javascript">
procrel = (function(){
    var el = $('#proctor_${element_id}');
    var skiperr = false;
    var set_skiperr = function(){ skiperr = true; }
    var check_count = 0;
    var interval = null;

    var _do_pp = function(cmd, type, gfun){
        $.ajax({ url: "${ajax_url}/" + cmd,
                 type: type,
                 success: gfun,
		 dataType: "json",
                 error: function(xhr, status, error) {
		     if (!skiperr){
                         console.log('Error: cannot connect to server ' + status + " error: " + error);
		     }
                 }
        });
    }

    var do_pp_get = function(cmd, gfun){
        return _do_pp(cmd, 'GET', gfun);
    }

    var check_access = function(){
        do_pp_get('status', function(data){
	    console.log(data);
	    if (data.enabled) {
                if (interval != null) {
                    console.log("clearing interval for check_access");
                    clearInterval(interval);
                }
	        console.log("Access Granted!");
		location.reload();
	    }
	});
    }

    var periodic_check = function() {
        if (interval == null) {
            console.log("setting interval for check_access");
            interval = setInterval(check_access, 2000);
        } else {
            console.log("interval already set for check_access");
        }
    }

    periodic_check();
}());
</script>

% elif child_html is not None:

${child_html}

% endif
