<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%block name="headextra">
<style type="text/css">
.openid-login {
    display: block;
    position: relative;
    left: 0;
    margin: 100px auto;
    top: 0;
    z-index: 200;
}

.openid-login input[type=submit] {
    white-space: normal;
    height: auto !important;
}

#lean_overlay {
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100;
  width:100%;
  height:100%;
}
</style>
</%block>

<section id="login-modal" class="modal login-modal openid-login">
  <div class="inner-wrapper">
    <header>
      <h2>${_("Log In")}</h2>
      <hr>
    </header>
    <form id="login_form" class="login_form" method="post" action="/openid/provider/login/">
%if error:
      <div id="login_error" class="modal-form-error" style="display: block;">${_("Email or password is incorrect.")}</div>
%endif
      <p>${_("Your username, email, and full name will be sent to {destination}, where the collection and use of this information will be governed by their terms of service and privacy policy.").format(destination=return_to)}</p>
      <label>${_("E-mail")}</label>
      <input type="text" name="email" placeholder="${_('E-mail')}" autofocus="autofocus" />
      <label>${_("Password")}</label>
      <input type="password" name="password" placeholder="${_('Password')}" />
      <div class="submit">
        <input name="submit" type="submit" value="${_('Return To %s') % return_to}" />
      </div>
    </form>
  </div>
</section>
<div id="lean_overlay"></div>
