<%page expression_filter="h"/>
<%!
from django.utils.translation import gettext as _
%>
<%inherit file="courseware/courseware-chromeless.html"/>

<%block name="header_meta">
<!-- OpenGraph tags  -->
<meta data-rh="true" property="og:site_name" content="edX">
<meta data-rh="true" property="og:title" content="${social_sharing_metadata['video_title']}">
<meta data-rh="true" property="og:description" content="${social_sharing_metadata['video_description']}">
<meta data-rh="true" property="og:image" content="${social_sharing_metadata['video_thumbnail']}">
<meta data-rh="true" property="og:url" content="${social_sharing_metadata['video_url']}">
<meta data-rh="true" property="og:type" content="video.other">
<meta data-rh="true" property="og:video" content="${social_sharing_metadata['video_embed_url']}">
<meta data-rh="true" property="og:video:url" content="${social_sharing_metadata['video_embed_url']}">
<meta data-rh="true" property="og:video:secure_url" content="${social_sharing_metadata['video_embed_url']}">
<meta data-rh="true" property="og:video:width" content="1280">
<meta data-rh="true" property="og:video:height" content="720">
<meta data-rh="true" property="og:video:type" content="text/html">

<!-- Twitter-specific video player tags  -->
<meta data-rh="true" name="twitter:card" content="player">
<meta data-rh="true" name="twitter:site" content="@edxOnline">
<meta data-rh="true" name="twitter:player" content="${social_sharing_metadata['video_embed_url']}">
<meta data-rh="true" name="twitter:player:width" content="1280">
<meta data-rh="true" name="twitter:player:height" content="720">
</%block>

<%block name="bodyclass">view-in-course view-courseware courseware ${course.css_class or ''} public-video-page</%block>

<%block name="body_extra">
<nav class="public-video-share-cta" aria-label="Learn More">
  % if org_logo:
    <img class="org-logo" src="${org_logo}" alt="Organization Logo"/>
  % endif
  <div class="nav-links">
    <a class="btn-learn-more btn" href="${learn_more_url}">
      ${_("Learn more about this course")}
    </a>
    % if is_enrolled_in_course:
        <a class="btn-go-to-course btn" href="${go_to_course_url}">
          ${_("Go to course")}
        </a>
    % else:
        <a class="btn-enroll btn" href="${enroll_url}">
          ${_("Enroll in this course")}
        </a>
    % endif
  </div>
</nav>
</%block>
