## Set up RequireJS so that it can be used by the current page.
##
## There are two schemes available:
##   1. if enable_require_js_optimizer is true then the whole page will
##      be compressed and minified into a single JavaScript file.
##   2. if not, then RequireJS will load each dependency independently.
##      The files will be loaded without the MD5 hash so the Git
##      a separate cache busting
##
## See the wiki for more details about RequireJS handling in the LMS:
##
##   https://openedx.atlassian.net/wiki/display/TNL/RequireJS+in+the+LMS

<script type="text/javascript" src="${static.url("require-config-lms.js")}"></script>

<script>
window.baseUrl = "${settings.STATIC_URL}";
require = require || {};
require.baseUrl = window.baseUrl;
</script>

% if enable_require_js_optimizer:
    ${render_require_js_path_overrides(settings.REQUIRE_JS_PATH_OVERRIDES)}
    <script type="text/javascript" src="${static.url("js/vendor/require.js")}"></script>
% else:
    % if disable_courseware_js:
        <%static:js group='base_vendor'/>
    % else:
        <%static:js group='main_vendor'/>
    % endif

    ## Configure RequireJS to load its files directly from the root static
    ## directory without using the MD5 hash suffix. A query parameter is added
    ## to each URL to ensure that files get reloaded as needed, as otherwise
    ## the file contents are cached forever by the browser.

    <script>
    (function (require) {
        % if settings.DEBUG is True:
            ## Use a fresh number every time for cache-busting in debug mode
            var urlArgs = "bust=" + (new Date()).getTime();
        % else:
            ## Use the plaform revision so that files are reloaded for each release
            var urlArgs = "v=${settings.EDX_PLATFORM_REVISION}";
        % endif
        require.config({
            baseUrl: baseUrl,
            urlArgs: urlArgs
        });
    }).call(this, require || RequireJS.require);
    </script>
% endif

<script type="text/javascript" src="${static.url("require-config-lms-overrides.js")}"></script>
