<div id="sequence_${id}" class="sequence">
  <nav aria-label="Section Navigation" class="sequence-nav">
    <ol id="sequence-list">
    </ol>

    <ul class="sequence-nav-buttons">
      <li class="prev"><a href="#">Previous</a></li>
      <li class="next"><a href="#">Next</a></li>
    </ul>
  </nav>

  <div id="seq_content"></div>

  <nav class="sequence-bottom">
    <ul aria-label="Section Navigation" class="sequence-nav-buttons">
      <li class="prev"><a href="#">Previous</a></li>
      <li class="next"><a href="#">Next</a></li>
    </ul>
  </nav>
</div>

<%block name="js_extra">
<script type="text/javascript">
  $(function(){
      new Sequence('${id}', ${items}, '${tag}', ${position});
  });
</script>
</%block>
