<%! from django.utils.translation import ugettext as _ %>

<%namespace name='static' file='static_content.html'/>
<%! from django.conf import settings %>
<%! from django.core.urlresolvers import reverse %>
<%! from django_countries.countries import COUNTRIES %>
<%! from student.models import UserProfile %>
<%! from datetime import date %>
<%! import calendar %>

<script>
jQuery(function($){
  $("#contact-phone").mask("(999) 999-9999");
});

$(document).ready(function(){
  $('#work-occupation').change(function(){
    $('#work-occupation2')[$(this).val()=='other' ? 'show' : 'hide']();
  });
  $('#work-occupation-other').change(function(){
    $('#work-occupation-other2')[$(this).val()=='other' ? 'show' : 'hide']();
  });
});

</script>

<section id="signup-modal" class="modal signup-modal">
  <div class="inner-wrapper">
    <button class="close-modal">&#10005; <span class="sr">${_('Close Modal')}</span></button>

    <div id="register" class="register">
      <header>
        <h2>${_('Sign Up for {span_start}{platform_name}{span_end}').format(span_start='<span class="edx">', span_end='</span>', platform_name=settings.PLATFORM_NAME)}</h2>
        <hr>
      </header>

      <form id="register_form" class="register_form" method="post" data-remote="true" action="/create_account">
        <div class="notice"></div>
        <div id="register_error" class="modal-form-error" name="register_error"></div>
        <div id="register_error" name="register_error"></div>

        <div class="input-group">
          <span class="field required text" id="field-lastname">
          <label data-field="email" for="signup_email">${_('E-mail')}</label>
	       <input id="signup_email" type="email" name="email" placeholder="${_('e.g. yourname@domain.com')}" required />
          </span>
          <span class="field required text" id="field-password">
          <label data-field="password" for="signup_password">${_('Password')}</label>
	    <input id="signup_password" type="password" name="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" required aria-required="true" />
          </span>
        </div>

        <div class="input-group">
          <span class="field required text" id="field-lastname">
            <label for="lastname">${_('Lastname')}</label>
            <input id="lastname" type="text" name="lastname" value="" required aria-required="true" />
          </span>
            <span class="field required text" id="field-firstname">
            <label for="firstname">${_('Firstname')}</label>
            <input id="firstname" type="text" name="firstname" value="" required aria-required="true" />
          </span>
          <span class="field text" id="field-middlename">
            <label for="middlename">${_('Middlename')}</label>
            <input id="middlename" type="text" name="middlename" value="" />
          </span>
          
        </div>

            <input id="signup_tos" name="terms_of_service" type="hidden" value="true">
            <input id="signup_honor" name="honor_code" type="hidden" value="true">
        
<!--
        <div class="input-group">
          <label data-field="terms_of_service" class="terms-of-service" for="signup_tos">
            <input id="signup_tos" name="terms_of_service" type="checkbox" value="true">
            ${_('I agree to the {link_start}Terms of Service{link_end}*').format(
              link_start='<a href="{url}" target="_blank">'.format(url=reverse('tos')),
              link_end='</a>')}
          </label>

          <label data-field="honor_code" class="honor-code" for="signup_honor">
            <input id="signup_honor" name="honor_code" type="checkbox" value="true">
            ${_('I agree to the {link_start}Honor Code{link_end}*').format(
              link_start='<a href="{url}" target="_blank">'.format(url=reverse('honor')),
              link_end='</a>')}
          </label>
        </div>-->

        <div class="submit">
          <input name="submit" type="submit" value="${_('Create My Account')}">
        </div>
      </form>

      % if has_extauth_info is UNDEFINED:
      <section class="login-extra">
        <p>
          <span>${_("Already have an account?")} <a href="#login-modal" class="close-signup" rel="leanModal">${_("Login.")}</a></span>
        </p>
      </section>
      % endif

    </div>
  </div>
</section>

<script type="text/javascript">
  (function() {
   $(document).delegate('#register_form', 'ajax:success', function(data, json, xhr) {
     if(json.success) {
       location.href="${reverse('dashboard')}";
     } else {
       $(".field-error").removeClass('field-error');
       $('#register_error').html(json.value).stop().css("display", "block");
       $("[data-field='"+json.field+"']").addClass('field-error')
     }
    });

   // removing close link's default behavior
   $('#login-modal .close-modal').click(function(e) {
    e.preventDefault();
   });
  })(this)
</script>
