<%! from django.utils.translation import ugettext as _ %>
<%! from xmodule.split_test_module import ValidationMessageType %>

<%
split_test = context.get('split_test')
user_partition = split_test.descriptor.get_selected_partition()
messages = split_test.descriptor.validation_messages()
%>

% if is_root and not user_partition:
    <div class="no-container-content">
% else:
    <div class="wrapper-xblock-message">
% endif

% if not user_partition:
    <div class="xblock-message error">
        <p>
            <i class="icon-exclamation-sign"></i>
            ${_("You must select a group configuration for this content experiment.")}
            <a href="#" class="button edit-button action-button">
                <i class="icon-pencil"></i> <span class="action-button-text">${_("Select a Group Configuration")}</span>
            </a>
        </p>
    </div>
% else:
    % if is_root or len(messages) == 0:
        <div class="xblock-message information">
            <p>
                <span class="message-text">
                ${_("This content experiment uses group configuration '{experiment_name}'.").format(experiment_name=user_partition.name)}
                </span>
            </p>
        </div>
    % endif
    % if is_root:
        <ul>
        % for message in messages:
            <%
            message_type = message.message_type
            message_type_display_name = ValidationMessageType.display_name(message_type) if message_type else None
            %>
                <li class="xblock-message ${message_type}">
                    % if message_type == 'warning':
                        <i class="icon-warning-sign"></i>
                    % elif message_type == 'error':
                        <i  class="icon-exclamation-sign"></i>
                    % endif
                    <span class="message-text">
                        % if message_type_display_name:
                            <span class="sr">${message_type_display_name}:</span>
                        % endif
                        ${unicode(message)}
                    </span>
                </li>
        % endfor
        </ul>
    % elif len(messages) > 0:
        <%
        error_messages = (message for message in messages if message.message_type==ValidationMessageType.error)
        %>
        % if next(error_messages, False):
            <div class="xblock-message error">
                <i  class="icon-exclamation-sign"></i>
                ${_("This content experiment has errors that should be resolved.")}
            </div>
        % else:
            <div class="xblock-message error">
                <i  class="icon-warning-sign"></i>
                ${_("This content experiment has warnings that might need to be investigated.")}
            </div>
        % endif
    % endif
    % if is_missing_groups:
        <a href="#" class="button add-missing-groups-button action-button">
            <span class="action-button-text">${_("Create Missing Groups")}</span>
        </a>
    % endif
% endif

% if is_root and not user_partition:
    </div>
% else:
    </div>
% endif

% if is_root:
    <div class="wrapper-groups is-active">
        <h3 class="sr">${_("Active Groups")}</h3>
        ${active_groups_preview}
    </div>

    % if inactive_groups_preview:
        <div class="wrapper-groups is-inactive">
            <h3 class="title">${_("Inactive Groups")}</h3>
            ${inactive_groups_preview}
        </div>
    % endif
% endif
