<%! from django.utils.translation import ugettext as _ %>

<div class="split-test-view">
    <select class="split-test-select">
        % for idx, item in enumerate(items):
        ## Translators: The 'Group' here refers to the group of users that has been sorted into group_id
        <option value="${item['group_id']}">${item['group_name']}</option>
        %endfor
    </select>

    % for idx, item in enumerate(items):
    <div class="split-test-child" data-group-id="${item['group_id']}" data-id="${item['id']}">
        ${item['content'] | h}
    </div>
    % endfor

    <div class='split-test-child-container'></div>
</div>
