<%! from django.utils.translation import ugettext as _ %>

<%namespace name='static' file='static_content.html'/>
<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 lte9 lte8 lte7"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8"><![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9"><![endif]-->
<!--[if gt IE 9]><!--><html><!--<![endif]-->
<head>
  ## "edX" should not be translated
  <%block name="title"><title>edX</title></%block>

  <link rel="icon" type="image/x-icon" href="${static.url('images/favicon.ico')}" />

  <%static:css group='style-vendor'/>
  <%static:css group='style-app'/>
  <%static:css group='style-app-extend1'/>
  <%static:css group='style-app-extend2'/>

  <%static:js group='main_vendor'/>
  <%block name="headextra"/>

  <!--[if lt IE 9]>
  <script src="${static.url('js/html5shiv.js')}"></script>
  <![endif]-->

  <meta name="path_prefix" content="${EDX_ROOT_URL}">
</head>

<body class="<%block name='bodyclass'/>">
  ${self.body()}
  <%block name="bodyextra"/>

  <%static:js group='application'/>
  <%static:js group='module-js'/>

  <%block name="js_extra"/>
</body>
</html>
