## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

## This file only exists as an additional layer of indirection to preserve
## backwards compatibility with Stanford theming
## (as much as possible). If you are writing your own theme using the
## "comprehensive theming" system, do NOT override this file. You should
## override "footer.html" instead.

<%include file="${static.get_themed_template_path(relative_path='theme-footer.html', default_path='footer.html')}" />
