<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from django.conf import settings
%>
<%inherit file="main.html" />

<%namespace name='static' file='static_content.html'/>

<section class="container unsubscribe">

  <section class="message">
    <h1>${_("Unsubscribe Successful!")}</h1>
    <hr class="horizontal-divider">
    
    <p>
      ${_("You will no longer receive forum notification emails from {platform_name}. "
          "Click {dashboard_link_start}here{link_end} to return to your dashboard. "
          "If you did not mean to do this, click {undo_link_start}here{link_end} to re-subscribe.").format(
             platform_name=settings.PLATFORM_NAME,
             dashboard_link_start="<a href='{}'>".format(reverse('dashboard')),
             undo_link_start="<a id='resub_link' href='{}'>".format(reverse('resubscribe_forum_update', args=[token])),
             link_end="</a>",)}
    </p>
  </section>
</section>
