{% extends "one_column_body.html" %}
{% import "authopenid/authopenid_macros.html" as login_macros %}
<!--signup.html-->
{% block title %}{% spaceless %}{% trans %}Signup{% endtrans %}{% endspaceless %}{% endblock %}
{% block forestyle %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{"/jquery-openid/openid.css"|media}}"/>
{% endblock %}
{% block content %}
{% if settings.PASSWORD_REGISTER_SHOW_PROVIDER_BUTTONS == True %}
    <h1 class="section-title">{% trans %}Please register by clicking on any of the icons below{% endtrans %}</h1>
    <form id="signin-form" method="post" action="{{ settings.LOGIN_URL }}">{% csrf_token %}
        {# hide_local_login == True because it is password reg form #}
        {{ 
            login_macros.provider_buttons(
                login_form = login_form,
                major_login_providers = major_login_providers,
                minor_login_providers = minor_login_providers,
                hide_local_login = True,
                settings = settings
            )
        }}
    </form>
    <h2>{% trans %}or create a new user name and password here{% endtrans %}</h2>
{% else %}
    <h1>{% trans %}Create login name and password{% endtrans %}</h1>
    <p class="message">{% trans %}Traditional signup info{% endtrans %}</p>
{%endif%}
<form action="{% url user_signup_with_password %}" method="post" accept-charset="utf-8">{% csrf_token %}
    {{form.login_provider}}
    <ul class="form-horizontal-rows">
    <li><label for="usename_id">{{form.username.label}}</label>{{form.username}}{{form.username.errors}}</li>
    <li><label for="email_id">{{form.email.label}}</label>{{form.email}}{{form.email.errors}}</li>
    <li><label for="password1_id">{{form.password1.label}}</label>{{form.password1}}{{form.password1.errors}}</li>
    <li><label for="password2_id">{{form.password2.label}}</label>{{form.password2}}{{form.password2.errors}}</li>
    </ul>
    <p style="margin-top: 10px">{% trans %}receive updates motivational blurb{% endtrans %}</p>
    <div class='simple-subscribe-options'>
    {{email_feeds_form.subscribe}}
    {% if email_feeds_form.errors %}
    <p class="error">{% trans %}please select one of the options above{% endtrans %}</p>
    {% endif %}
    </div>
    {% if settings.USE_RECAPTCHA %}
        <p class="signup_p">{% trans %}Please read and type in the two words below to help us prevent automated account creation.{% endtrans %}</p>
        {{form.recaptcha}}
    {% endif %}
    <div class="submit-row"><input type="submit" class="submit" value="{% trans %}Create Account{% endtrans %}" /> 
    {% if settings.PASSWORD_REGISTER_SHOW_PROVIDER_BUTTONS == False %}
        <strong>{% trans %}or{% endtrans %}
        <a href="{{ settings.LOGIN_URL }}">{% trans %}return to OpenID login{% endtrans %}</a></strong>
    {% endif %}
    </div>
</form>
{% endblock %}
{%block endjs%}
{%include "authopenid/providers_javascript.html" %}
{%endblock%}
<!--end signup.html-->
