@import 'variables';
@import 'reset';
@import 'mixins';

body {
    line-height: 1.5;
    color: $color-text-default;
    font-size: 16px;
    font-family: $font-family-default;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    text-align: left;
    font-family: $font-family-default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $fw-medium;
}

h1 {
    font-size: 33pt;
    font-family: $font-family-title;
}

h2 {
    font-size: 27pt;
}

h3 {
    font-size: 21pt;
}

h4 {
    font-size: 19pt;
}

h5 {
    font-size: 16pt;
}

h6 {
    font-size: 13pt;
}

p {
    font-size: 1rem;
}

strong,
b {
    font-weight: $fw-medium;
}

button,
input,
select,
textarea {
    font-family: inherit;
}