<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<div class="page-heading">
  <h1>${_("Honor Code")}</h1>
</div>
<section class="static-content">
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="row">
        <div class="col col-12">
          <h3><strong>Effective Date:</strong> January 1, 1970</h3>
          <h1 class="honor-code-heading">Curabitur ligula sapien tincidunt non</h1>
        </div>
        <div class="col col-12">
          <h2>Curabitur ligula sapien tincidunt non</h2>
          <p>Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et
            lorem. Fusce ac felis sit amet ligula pharetra condimentum. Fusce a quam. Donec pede justo, fringilla vel,
            aliquet nec, vulputate eget, arcu. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et
            lorem. Fusce ac felis sit amet ligula pharetra condimentum. Fusce a quam. Donec pede justo, fringilla vel,
            aliquet nec, vulputate eget, arcu.Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et
            lorem. Fusce ac felis sit amet ligula pharetra condimentum. Fusce a quam. Donec pede justo, fringilla vel,
            aliquet nec, vulputate eget, arcu.</p>
        </div>
        <div class="col col-12">
          <h2>Curabitur ligula sapien tincidunt non</h2>
          <p>Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et
            lorem. Fusce ac felis sit amet ligula pharetra condimentum. Fusce a quam. Donec pede justo, fringilla vel,
            aliquet nec, vulputate eget, arcu. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et
            lorem. Fusce ac felis sit amet ligula pharetra condimentum. Fusce a quam. Donec pede justo, fringilla vel,
            aliquet nec, vulputate eget, arcu.Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et
            lorem. Fusce ac felis sit amet ligula pharetra condimentum. Fusce a quam. Donec pede justo, fringilla vel,
            aliquet nec, vulputate eget, arcu.</p>
          <ul class="list-bulleted">
              <li>Lorem Ipsum</li>
              <li>Lorem Ipsum</li>
              <li>Lorem Ipsum</li>
          </ul>
        </div>
        <div class="col col-12">
          <h2>Curabitur ligula sapien tincidunt non</h2>
          <p>Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et
            lorem. Fusce ac felis sit amet ligula pharetra condimentum. Fusce a quam. Donec pede justo, fringilla vel,
            aliquet nec, vulputate eget, arcu. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et
            lorem. Fusce ac felis sit amet ligula pharetra condimentum. Fusce a quam. Donec pede justo, fringilla vel,
            aliquet nec, vulputate eget, arcu.Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et
            lorem. Fusce ac felis sit amet ligula pharetra condimentum. Fusce a quam. Donec pede justo, fringilla vel,
            aliquet nec, vulputate eget, arcu.</p>
        </div>
        <div class="col col-12">
          <h3><strong>Effective Date:</strong> January 1, 1970</h3>
        </div>
      </div>
    </div>
  </div>
</section>
