<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<div class="page-heading">
  <h1>${_("Privacy Policy")}</h1>
</div>
<section class="static-content">

<div class="grid-manual grid-container">
  <div class="inner-container">
    <div class="row">
      <div class="col col-12 sm-col-12 md-col-3">
        <ul class="bordered-list">
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
        </ul>
      </div>
      <div class="col col-12 sm-col-12 md-col-9">
        <h2>The standard Lorem Ipsum passage, used since the 1500s</h2>
        <p>Vestibulum non sem ac est cursus facilisis id vel enim. Suspendisse finibus ornare felis et euismod. Curabitur hendrerit justo lectus, sed elementum nisi bibendum vitae. Pellentesque porta maximus leo eu sagittis. In nec orci non magna lacinia scelerisque. Quisque eu quam tempus risus euismod suscipit. Etiam ac erat efficitur, tristique nunc et, suscipit tortor. Aliquam eget orci venenatis, maximus nulla eget, efficitur erat. Morbi ut pellentesque elit. Etiam varius iaculis arcu vel eleifend. Integer placerat nunc eget dolor vehicula, sed tincidunt dui dapibus. Duis volutpat velit eget viverra elementum. Donec accumsan bibendum magna, ut ornare augue eleifend id. Maecenas mi est, molestie ac dui vitae, vehicula laoreet tellus. Sed ante risus, vulputate quis mauris eget, tempus fermentum turpis.</p>
        <a href="#" class="brand-link">Back to top</a>
        <h2>The standard Lorem Ipsum passage, used since the 1500s</h2>
        <p>Vestibulum non sem ac est cursus facilisis id vel enim. Suspendisse finibus ornare felis et euismod. Curabitur hendrerit justo lectus, sed elementum nisi bibendum vitae. Pellentesque porta maximus leo eu sagittis. In nec orci non magna lacinia scelerisque. Quisque eu quam tempus risus euismod suscipit. Etiam ac erat efficitur, tristique nunc et, suscipit tortor. Aliquam eget orci venenatis, maximus nulla eget, efficitur erat. Morbi ut pellentesque elit. Etiam varius iaculis arcu vel eleifend. Integer placerat nunc eget dolor vehicula, sed tincidunt dui dapibus. Duis volutpat velit eget viverra elementum. Donec accumsan bibendum magna, ut ornare augue eleifend id. Maecenas mi est, molestie ac dui vitae, vehicula laoreet tellus. Sed ante risus, vulputate quis mauris eget, tempus fermentum turpis.</p>
        <a href="#" class="brand-link">Back to top</a>
        <h2>The standard Lorem Ipsum passage, used since the 1500s</h2>
        <p>Vestibulum non sem ac est cursus facilisis id vel enim. Suspendisse finibus ornare felis et euismod. Curabitur hendrerit justo lectus, sed elementum nisi bibendum vitae. Pellentesque porta maximus leo eu sagittis. In nec orci non magna lacinia scelerisque. Quisque eu quam tempus risus euismod suscipit. Etiam ac erat efficitur, tristique nunc et, suscipit tortor. Aliquam eget orci venenatis, maximus nulla eget, efficitur erat. Morbi ut pellentesque elit. Etiam varius iaculis arcu vel eleifend. Integer placerat nunc eget dolor vehicula, sed tincidunt dui dapibus. Duis volutpat velit eget viverra elementum. Donec accumsan bibendum magna, ut ornare augue eleifend id. Maecenas mi est, molestie ac dui vitae, vehicula laoreet tellus. Sed ante risus, vulputate quis mauris eget, tempus fermentum turpis.</p>
        <a href="#" class="brand-link">Back to top</a>
      </div>
    </div>
  </div>
</div>
</section>
