// discussion - utilities - variables
// ====================

// base color variables
$forum-color-primary: rgb(0, 117, 180) !default;
$forum-color-copy-light: rgb(65, 65, 65) !default;
$forum-color-background-light: rgb(245, 245, 245) !default;

// contextual color variables
$forum-color-background: var(--white);
$forum-color-active-thread: var(--forum-color-primary) !default;
$forum-color-hover: rgb(6, 86, 131) !default;
$forum-color-active-text: var(--white) !default;
$forum-color-pinned: rgb(152, 44, 98) !default;
$forum-color-reported: rgb(152, 44, 98) !default;
$forum-color-closed: var(--black) !default;
$forum-color-following: var(--forum-color-primary) !default;
$forum-color-staff: var(--forum-color-primary) !default;
$forum-color-community-ta: rgb(0, 129, 0) !default;
$forum-color-marked-answer: rgb(0, 129, 0) !default;
$forum-color-border: rgb(217, 217, 217) !default;
$forum-color-error: rgb(203, 7, 18) !default;
$forum-color-hover-thread: var(--forum-color-background-light) !default;
$forum-color-reading-thread: var(--forum-color-background-light) !default;
$forum-color-read-post: var(--forum-color-copy-light) !default;
$forum-color-never-read-post: var(--forum-color-primary) !default;
$forum-color-editor-preview-label: var(--forum-color-copy-light) !default;
$forum-color-response-count: var(--forum-color-copy-light) !default;
$forum-color-navigation-bar: var(--forum-color-background-light) !default;
$forum-color-count: var(--forum-color-copy-light) !default;
$forum-color-background-label: rgb(65, 65, 65) !default;

// post images
$post-image-dimension: calc(var(--baseline) * 3) !default;  // image size  + margin
$response-image-dimension: calc(var(--baseline) * 2.5) !default; // image size  + margin
$comment-image-dimension: calc(var(--baseline) * 2) !default; // image size  + margin

// action-dropdown
$actions-dropdown-width: 145px; // best estimate in RU
$actions-dropdown-offset: 100px; // actions dropdown expanded more menu

// font sizes
$forum-base-font-size: 14px;
$forum-x-large-font-size: 21px;
$forum-large-font-size: 16px;
$forum-small-font-size: 12px;

// borders
$forum-border-radius: 3px;
