// discussion - utilities - variables
// ====================

// color variables
$forum-color-background: $lms-container-background-color !default;
$forum-color-active-thread: $lms-active-color !default;
$forum-color-active-text: $lms-container-background-color !default;
$forum-color-pinned: $pink !default;
$forum-color-reported: $pink !default;
$forum-color-closed: $black !default;
$forum-color-following: $blue !default;
$forum-color-staff: $blue !default;
$forum-color-community-ta: $green-d1 !default;
$forum-color-marked-answer: $green-d1 !default;
$forum-color-border: palette(grayscale, base) !default;
$forum-color-error: palette(error, accent) !default;

// post images
$post-image-dimension: ($baseline*3) !default;  // image size  + margin
$response-image-dimension: ($baseline*2.5) !default; // image size  + margin
$comment-image-dimension: ($baseline*2) !default; // image size  + margin
