// ------------------------------
// Programs: Modals

// About: styling for modals.
.modal-window-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: palette(grayscale-cool, x-dark);
  opacity: 0.5;
  z-index: 1000;
}

.modal-window {
  position: absolute;
  background-color: palette(grayscale, black);
  width: 80%;
  left: 10%;
  top: 40%;
  z-index: 1001;
}

.modal-content {
  margin: 5px;
  padding: 20px;
  background-color: palette(grayscale-cool, x-dark);
  border-top: 5px solid palette(warning, base);

  .copy {
    color: palette(grayscale, white);
  }

  .emphasized {
    color: palette(grayscale, white-t);
    font-weight: font-weight(bold);
  }
}

.modal-actions {
  padding: 10px 20px;

  .btn {
    color: palette(grayscale, white-t);
  }

  .btn-brand {
    background: palette(warning, base);
    border-color: palette(warning, base);

    &:hover,
    &:focus,
    &:active {
      background: palette(warning, dark);
      border-color: palette(warning, dark);;
    }
  }

  .btn-neutral {
    background: transparent;
    border-color: transparent;
    &:hover,
    &:focus,
    &:active {
      border-color: palette(grayscale-cool, light)
    }
  }
}

@include breakpoint( $bp-screen-sm ) {
  .modal-window {
    width: 440px;
    left: calc( 50% - 220px );
  }
}
