<%page expression_filter="h"/>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from openedx.core.djangolib.markup import HTML, Text
%>

<section class="container activation">

  <section class="message">
    %if not already_active:
      <h1 class="valid">${_("Account Activated")}</h1>
    %else:
      <h1>${_("Account already active")}</h1>
    %endif
    <hr class="horizontal-divider">

    <p>
      %if not already_active:
        ${_("Thanks for activating your account.")}
      %else:
        ${_("This account has already been activated.")}
      %endif

      %if user_logged_in:
        ${Text(_("Visit your {link_start}dashboard{link_end} to see your courses.")).format(
            link_start=HTML('<a href="{url}">').format(url=reverse('dashboard')), link_end=HTML('</a>'))}
      %else:
        ${Text(_("You can now {link_start}sign in{link_end}.")).format(
            link_start=HTML('<a href="{url}">').format(url=reverse('signin_user')), link_end=HTML('</a>'))}
      %endif
    </p>
  </section>
</section>
