{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}You're receiving this e-mail because you requested a password reset for your user account at bigdatauniversity.com.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ site_name }}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}

{% trans "If you didn’t request this change, please ignore this email. No changes will be made to your account." %}

{% blocktrans %}The {{ platform_name }} Team{% endblocktrans %}

{% endautoescape %}
