<%!
    from django.core.urlresolvers import reverse
    from microsite_configuration.middleware import microsite
    from django.utils.translation import ugettext as _
%>
<%inherit file="/emails/html/one_call_to_action.html" />

<%block name="title">
  ${_("Request to change password")}
</%block>

<%block name="msg_header">
  ${_("Password reset")}
<br/>
</%block>

<%block name="msg_content" >
${_("You're receiving this e-mail because you requested a password reset for your user account at edx.org.")}
<br />
${_("If you didn't request this change, you can disregard this email - we have not yet reset your password.")}
</%block>

<%block name="call_to_action_href">http://${ domain }${reverse('student.views.password_reset_confirm_wrapper', kwargs={'uidb36': uid, 'token': token})}</%block>

<%block name="call_to_action_label">${_("Change my password")}</%block>


