<%! from django.utils.translation import ugettext as _ %>
{% load i18n %}
{% load compressed %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

  <title>${_("Your Password Reset is Complete")}</title>

  {% compressed_css 'application' %}

  <!--[if lt IE 9]>
  <script src="{% static 'js/html5shiv.js' %}"></script>
  <![endif]-->

  <script type="text/javascript">
    $(function() {

      var view_name = 'view-passwordreset';

      // adding js class for styling with accessibility in mind
      $('body').addClass('js').addClass(view_name);

      // new window/tab opening
      $('a[rel="external"], a[class="new-vp"]')
      .click( function() {
      window.open( $(this).attr('href') );
      return false;
      });

      // form field label styling on focus
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").parent().addClass("is-focused");
      }).blur(function() {
        $("label").parent().removeClass("is-focused");
      });
    });
  </script>

</head>

<body class="view-passwordreset">

<header class="global">
  <nav>
    <h1 class="logo">
      <a href="{{MKTG_URL_ROOT}}"><img src="/static/images/header-logo.png"></a>
    </h1>
  </nav>
</header>

<section class="content-wrapper">
  <section class="passwordreset container">
    <section class="introduction">
      <header>
        <h1>${_("Your Password Reset is Complete")}</h1>
      </header>
    </section>

    {% block content %}
    <section role="main" class="content">
      <p>${_('Your password has been set.  You may go ahead and {link_start}log in{link_end} now.').format(link_start='<a href="/login">', link_end='</a>')}</p>
    </section>
    {% endblock %}
  </section>
</section>
