{% extends "main_django.html" %}
{% load i18n %}

{% block title %}
<title>{% trans "Your Password Reset is Complete" %}</title>
{% endblock %}

{% block bodyextra %}
    <script type="text/javascript">
        $(function() {
            'use strict';
            // adding js class for styling with accessibility in mind
            $('body').addClass('js');
        });
    </script>
{% endblock %}

{% block bodyclass %}view-passwordreset{% endblock %}

{% block body %}
<div id="password-reset-complete-container" class="login-register">
    <section id="password-reset-complete-anchor" class="form-type">
        <div id="password-reset-complete" class="form-wrapper">
            <div class="status submission-success" aria-live="polite">
                <h4 class="message-title">{% trans "Password Reset Complete" %}</h4>
                <ul class="message-copy">
                {% blocktrans with link_start='<a href="/login">' link_end='</a>' %}
                    Your password has been reset. {{ link_start }}Sign in to your account.{{ link_end }}
                {% endblocktrans %}
                </ul>
            </div>
        </div>
    </section>
</div>
{% endblock %}
