nav.sequence-nav {
  @extend .topbar;
  margin-bottom: $body-line-height;

  ol {
    display: table-row;
    float: left;
    width: flex-grid(7.5,9) + flex-gutter();
    position: relative;

    a {
      @extend .block-link;
    }

    li {
      display: table-cell;

      .inactive {
        background-repeat: no-repeat;

        &:hover {
          background-color: lighten(#F6EFD4, 3%);
        }
      }

      .visited {
        background-color: #DCCDA2;
        background-repeat: no-repeat;
        @include box-shadow(inset 0 0 3px darken(#dccda2, 10%));

        &:hover {
          background-color: #F6EFD4;
          background-position: center center;
        }
      }

      .active {
        // @include box-shadow(inset -1px 0 0 darken(#F6EFD4, 20%), inset 1px 0 0 darken(#F6EFD4, 20%));
        @include box-shadow(0 1px 0 #fff);
        background-color: #fff;
        background-repeat: no-repeat;

        &:hover {
          background-color: #fff;
          background-position: center;
        }
      }

      a {
        @include box-shadow(1px 0 0 #fff);
        background-position: center center;
        border: none;
        border-right: 1px solid darken(#F6EFD4, 10%);
        cursor: pointer;
        padding: 15px 4px 14px;
        width: 28px;
        height: 17px;

        // @media screen and (max-width: 800px) {
          //   padding: 12px 8px;
          // }

          //video
          &.seq_video_inactive {
            @extend .inactive;
            background-image: url('/static/images/sequence-nav/video-icon-normal.png');
            background-position: center;
          }

          &.seq_video_visited {
            @extend .visited;
            background-image: url('/static/images/sequence-nav/video-icon-visited.png');
            background-position: center;
          }

          &.seq_video_active {
            @extend .active;
            background-image: url('/static/images/sequence-nav/video-icon-current.png');
            background-position: center;
          }

          //other
          &.seq_other_inactive {
            @extend .inactive;
            background-image: url('/static/images/sequence-nav/document-icon-normal.png');
            background-position: center;
          }

          &.seq_other_visited {
            @extend .visited;
            background-image: url('/static/images/sequence-nav/document-icon-visited.png');
            background-position: center;
          }

          &.seq_other_active {
            @extend .active;
            background-image: url('/static/images/sequence-nav/document-icon-current.png');
            background-position: center;
          }

          //vertical & problems
          &.seq_vertical_inactive, &.seq_problem_inactive {
            @extend .inactive;
            background-image: url('/static/images/sequence-nav/list-icon-normal.png');
            background-position: center;
          }

          &.seq_vertical_visited, &.seq_problem_visited {
            @extend .visited;
            background-image: url('/static/images/sequence-nav/list-icon-visited.png');
            background-position: center;
          }

          &.seq_vertical_active, &.seq_problem_active {
            @extend .active;
            background-image: url('/static/images/sequence-nav/list-icon-current.png');
            background-position: center;
          }
        }

      p {
        position: absolute;
        display: none;
        background: #333;
        padding: 6px;
        white-space: pre-wrap;
        z-index: 99;
        margin: 4px 0 0 -5px;
        text-shadow: 0 -1px 0 #000;
        color: #fff;
        line-height: lh();

        &:empty {
          background: none;

          &::after {
            display: none;
          }
        }

        &::after {
          background: #333;
          content: " ";
          display: block;
          height: 10px;
          position: absolute;
          top: -5px;
          left: 18px;
          @include transform(rotate(45deg));
          @include transition();
          width: 10px;
        }
      }
    }
  }

  ul {
    float: right;
    margin-right: 1px;
    width: flex-grid(1.5, 9);
    display: table-row;

    li {

      &.prev, &.next {
        // color: darken(#F6EFD4, 80%);
        // letter-spacing: 1px;
        // text-transform: uppercase;
        @include box-shadow(inset 1px 0 0 lighten(#f6efd4, 5%));
        background-color: darken(#F6EFD4, 5%);
        background-position: center center;
        background-repeat: no-repeat;
        border-left: 1px solid darken(#f6efd4, 20%);
        cursor: pointer;
        display: table-cell;
        padding: 0 4px;
        text-indent: -9999px;
        width: 82px;

        &:hover {
          text-decoration: none;
          color: darken(#F6EFD4, 60%);
          text-decoration: none;
          background-color: none;
        }
      }

        &.prev {
          background-image: url('/static/images/sequence-nav/previous-icon.png');

          &:hover {
            background-color: none;
          }
        }

        &.next {
          background-image: url('/static/images/sequence-nav/next-icon.png');

          &:hover {
            background-color: none;
          }
        }
    }
  }
}
