section.course-index {
  @extend .sidebar;
  position: relative;
  @extend .tran;

  div#open_close_accordion {
    @include box-shadow(0 1px 0 #eee);
    border-bottom: 1px solid #d3d3d3;
    padding: 0 lh();

    h2 {
      padding-right: 20px;
    }

    a {
      width: 16px;
      text-indent: -9999px;
      height: 16px;
      position: absolute;
      padding: 8px;
      top: 12px;
      right: -1px;
      border: 1px solid #D3D3D3;
      background: #eee url('/static/images/slide-left-icon.png') center center no-repeat;
      @include border-radius(3px 0 0 3px);

      &:hover {
        background-color: white;
      }
    }
  }

  div#accordion {

    h3 {
      overflow: hidden;
      margin: 0;

      &:last-child {
        @include box-shadow(none);
      }

      &.ui-accordion-header {
        color: #000;

        a {
          font-size: $body-font-size;
          color: lighten($text-color, 10%);
        }

        &.ui-state-hover {
          border: none;
          border-bottom: 1px solid #d3d3d3;
        }

        &.ui-state-active {
          @extend .active;
        }
      }
    }

    ul.ui-accordion-content {
      @include border-radius(0);
      @include box-shadow( inset -1px 0 0 #e6e6e6);
      background: #d6d6d6;
      border: none;
      border-bottom: 1px solid #c3c3c3;
      font-size: 12px;
      margin: 0;
      overflow: hidden;

      li {
        &.active {
          font-weight: bold;
        }

        a {
          text-decoration: none;
          margin-bottom: lh(.5);
          display: block;
          color: #000;

          &:hover {
            color: #666;
          }

          p {
            margin-bottom: 0;

            &.subtitle {
              color: #666;
            }
          }
        }
      }
    }
  }
}
