// 0.0.0.0:18000/courses/course-v1:EliteU+1234567890+2019-01-02/progress 课程进度

body.view-in-course .profile-wrapper{
  border: none;
}
.profile-wrapper .course-info{
  background-image: none;
  box-shadow: 0px 1px 4px 0px $border;
  padding: 0;
  
  .hd-2{
    font-size: 18px;
    color: $title;
    border-bottom: 1px solid #eeeeee;
    padding: 13px 20px;
    font-weight: normal;
  }

  >.chapters {
    border:none;
    width: 95%;
    margin: 0 auto;
    padding: 25px 0;
  }

  >.chapters >section{
    border-top: 1px dashed $border;
    border-bottom: none;
    padding: 30px 0;

    &:nth-of-type(1){
      border-top: 1px solid $border;
    }
    .hd{
      color: #aab2bd;
    }
    .sections>div{
      .hd{
        font-weight: normal;
      }
      .scores{
        margin: 0;
        color: $font;
        font-size: 14px;
      }
      .hd-3{
        padding-left: 20px;
      }
      .hd-4 a{
        color: $title;
        font-size: 16px;
      }
    }
  }

  .grade-detail-graph{
    transform: scale(0.95);
  }
}

@media screen and (max-width:1200px){
  .grade-detail-graph{
    display: none;
  }
  .profile-wrapper .course-info{
    padding-top: 0;
    >.chapters{
      padding: 10px 0 25px;

      >section:nth-of-type(1){
        border-top: none;
        padding-top: 0;
      }
    }
  }
}

@media screen and (max-width:576px){
  .profile-wrapper .course-info{
    .hd-2{
      padding: 12px 10px;
      font-size: 14px;
    }

    >.chapters{
      padding: 0 10px;
      >section{
        padding: 15px 0 0;
        .hd{
          width: 100%;
          display: block;
          margin-bottom: 5px;
          font-size: 14px;
        }
        
        > .hd-3{
          font-size: 16px;
          margin-left: 8px;
          margin-bottom: 10px;
        }

        >div .hd-4{
          font-size: 14px;
        }
        
        .sections{
          width: 100%;
          display: block;
          >div p{
            color: $font;
            font-weight: normal;
          }
        }
      } 
    }
  }
}