//注册
.login-register .submission-error{  
  border-bottom: none;
  border-radius: 3px;
}
.login-register .form-field input,.login-register .form-field select{  
  border-radius: 3px;
  height: 34px;
}


.login-register .action-primary, .financial-assistance-wrapper .financial-assistance-form .action-primary{  
  border-radius: 3px;
}
