## mako

<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>

<%!
import json

from django.conf import settings
from django.utils.translation import ugettext as _
from django.template.defaultfilters import escapejs
from django.urls import reverse

from lms.djangoapps.discussion.django_comment_client.permissions import has_permission
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import Text, HTML
from openedx.features.course_experience import DISABLE_UNIFIED_COURSE_TAB_FLAG
from openedx.features.course_experience.course_tools import HttpMethod
%>

<%block name="header_extras">
  <link rel="stylesheet" type="text/css" href="${static.url('paragon/static/paragon.min.css')}" />
</%block>

<%block name="content">
<div class="course-view page-content-container" id="course-container">
    <header class="page-header has-secondary">
        <div class="page-header-main">
            <nav aria-label="${_('Course Outline')}" class="sr-is-focusable" tabindex="-1">
                <h2 class="hd hd-3 page-title">${course.display_name_with_default}</h2>
            </nav>
        </div>
        <div class="page-header-secondary">
            % if show_search:
                <div class="page-header-search">
                    <form class="search-form input-group" role="search" action="${reverse('openedx.course_search.course_search_results', args=[course_key])}">
                        <label class="field-label sr-only" for="search" id="search-hint">${_('Search the course')}</label>
                        <input
                                class="field-input input-text search-input form-control"
                                type="search"
                                name="query"
                                id="search"
                                placeholder="${_('Search the course')}"
                        />
                        <span class="input-group-btn">
                            <button class="btn btn-outline-primary search-button" type="submit">${_('Search')}</button>
                        </span>
                    </form>
                </div>
            % endif
            <div class="form-actions">
                % if resume_course_url:
                    <a class="btn btn-primary action-resume-course" href="${resume_course_url}">
                        % if has_visited_course:
                            <span data-action-type="resume">${_("Resume Course")}</span>
                        % else:
                            <span data-action-type="start">${_("Start Course")}</span>
                        % endif
                    </a>
                % endif
            </div>
        </div>
    </header>
    <div class="page-content">
        <div class="page-content-main">
            % if offer_banner_fragment:
                ${HTML(offer_banner_fragment.content)}
            % endif
            % if course_expiration_fragment:
                ${HTML(course_expiration_fragment.content)}
            % endif
            % if course_home_message_fragment:
                ${HTML(course_home_message_fragment.body_html())}
            % endif

            % if update_message_fragment and not DISABLE_UNIFIED_COURSE_TAB_FLAG.is_enabled(course.id):
                <div class="section section-update-message">
                    ${HTML(update_message_fragment.body_html())}
                </div>
            % endif

            % if outline_fragment:
                ${HTML(outline_fragment.body_html())}
            % endif
        </div>
        <aside class="page-content-secondary course-sidebar">
            % if has_goal_permission:
                <div class="section section-goals ${'' if current_goal else 'hidden'}">
                    <div class="current-goal-container">
                        <label class="title title-label hd-6" for="goal">
                            <h3 class="hd-6">${_("Goal: ")}</h3>
                        </label>
                        <h3 class="title hd-6">${_("Goal: ")}</h3>
                        <div class="goal">
                            <span class="text">${goal_options[current_goal.goal_key] if current_goal else ""}</span>
                        </div>
                        <select class="edit-goal-select" id="goal">
                            % for goal, goal_text in goal_options.items():
                                <option value="${goal}" ${"selected" if current_goal and current_goal.goal_key == goal else ""}>${goal_text}</option>
                            % endfor
                        </select>
                        <span class="sr sr-update-response-msg" aria-live="polite"></span>
                        <span class="response-icon" aria-hidden="true"></span>
                        <span class="sr">${_("Edit your course goal:")}</span>
                        <button class="edit-icon">
                            <span class="sr">${_("Edit your course goal:")}</span>
                            <span class="fa fa-pencil" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            % endif
            % if course_tools:
                <div class="section section-tools">
                    <h3 class="hd-6 section-title">${_("Course Tools")}</h3>
                    <ul class="list-unstyled">
                        % for course_tool in course_tools:
                            <li class="course-tool">
                                % if course_tool.http_method == HttpMethod.GET:
                                    <a class="course-tool-link" data-analytics-id="${course_tool.analytics_id()}" href="${course_tool.url(course_key)}">
                                        <span class="icon ${course_tool.icon_classes()}" aria-hidden="true"></span>${course_tool.title()}
                                    </a>
                                % elif course_tool.http_method == HttpMethod.POST:
                                    <form class="course-tool-form" action="${course_tool.url(course_key)}" method="post">
                                        <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
                                        <input type="hidden" name="tool_data" value="${course_tool.data()}">
                                        <button class="course-tool-button" data-analytics-id="${course_tool.analytics_id()}" aria-hidden="true">
                                            <span class="icon ${course_tool.icon_classes()}" aria-hidden="true"></span>
                                            ${course_tool.title()}
                                        </button>
                                    </form>
                                % endif
                            </li>
                        % endfor
                    </ul>
                </div>
            % endif
            % if upgrade_url and upgrade_price:
                <div class="section section-upgrade course-home-sidebar-upgrade ${'discount' if has_discount else 'no-discount'}">
                    <h3 class="hd hd-6">${_("Pursue a verified certificate")}</h3>
                        <img src="https://courses.edx.org/static/images/edx-verified-mini-cert.png" alt="">
                        <div class="upgrade-container">
                            <p>
                                <a id="green_upgrade" class="btn-brand btn-upgrade"
                                   href="${upgrade_url}"
                                   data-creative="sidebarupsell"
                                   data-position="sidebar-message"
                                >
                                    ${Text(_("Upgrade ({price})")).format(price=upgrade_price)}
                                </a>
                            </p>
                            <p><button class="btn-link btn-small promo-learn-more">${_('Learn More')}</button></p>
                        </div>
                </div>
            % endif
            % if dates_fragment:
                <div class="section section-dates">
                    ${HTML(dates_fragment.body_html())}
                </div>
            % endif
            % if handouts_html:
                <div class="section section-handouts">
                    <h3 class="hd-6 section-title">${_("Course Handouts")}</h3>
                    ${HTML(handouts_html)}
                </div>
            % endif
        </aside>
    </div>
    % if course_sock_fragment:
        ${HTML(course_sock_fragment.body_html())}
    % endif
</div>
</%block>

<%static:webpack entry="CourseHome">
    new CourseHome({
        courseRunKey: "${course_key | n, js_escaped_string}",
        resumeCourseLink: ".action-resume-course",
        courseToolLink: ".course-tool-link",
        goalApiUrl: "${goal_api_url | n, js_escaped_string}",
        username: "${username | n, js_escaped_string}",
        courseId: "${course.id | n, js_escaped_string}",
    });
</%static:webpack>

<%static:webpack entry="Enrollment">
    new CourseEnrollment('.enroll-btn', '${course_key | n, js_escaped_string}');
</%static:webpack>

<%static:require_module_async module_name="js/commerce/track_ecommerce_events" class_name="TrackECommerceEvents">

  var personalizedLearnerSchedulesLink = $(".personalized_learner_schedules_button");
  var fbeLink = $("#FBE_banner");
  var welcomeLink = $("#welcome");
  var sockLink = $("#sock");
  var upgradeDateLink = $("#course_home_dates");
  var GreenUpgradeLink = $("#green_upgrade");
  var courseToolsUpgradeLink = $(document.querySelectorAll("[data-analytics-id='edx.tool.verified_upgrade']"));
  var GreenUpgradeLink = $("#green_upgrade");
  var certificateUpsellLink = $("#certificate_upsell");

    TrackECommerceEvents.trackUpsellClick(personalizedLearnerSchedulesLink, 'course_home_upgrade_shift_dates', {
      pageName: "course_home",
      linkType: "button",
      linkCategory: "personalized_learner_schedules"
    });

    TrackECommerceEvents.trackUpsellClick(fbeLink, 'course_home_audit_access_expires', {
      pageName: "course_home",
      linkType: "link",
      linkCategory: "FBE_banner"
    });

    TrackECommerceEvents.trackUpsellClick(welcomeLink, 'course_home_welcome', {
      pageName: "course_home",
      linkType: "link",
      linkCategory: "welcome"
    });

    TrackECommerceEvents.trackUpsellClick(sockLink, 'course_home_sock', {
      pageName: "course_home",
      linkType: "button",
      linkCategory: "green_upgrade"
    });

    TrackECommerceEvents.trackUpsellClick(upgradeDateLink, 'course_home_dates', {
      pageName: "course_home",
      linkType: "link",
      linkCategory: "(none)"
    });

    TrackECommerceEvents.trackUpsellClick(GreenUpgradeLink, 'course_home_green', {
      pageName: "course_home",
      linkType: "button",
      linkCategory: "green_upgrade"
    });

    TrackECommerceEvents.trackUpsellClick(courseToolsUpgradeLink, 'course_home_course_tools', {
      pageName: "course_home",
      linkType: "link",
      linkCategory: "(none)"
    });

    TrackECommerceEvents.trackUpsellClick(certificateUpsellLink, 'course_home_certificate', {
        pageName: "course_home",
        linkType: "link",
        linkCategory: "(none)"
      });

</%static:require_module_async>
