## mako

<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>

<%!
from openedx.core.djangolib.js_utils import js_escaped_string
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML
%>

<%block name="content">
<div class="welcome-message">
    <div class="dismiss-message">
        <button type="button" class="btn-link">${_("Dismiss")}</button>
    </div>

    ${HTML(welcome_message_html)}
</div>
</%block>

<%static:webpack entry="WelcomeMessage">
    new WelcomeMessage("${dismiss_url | n, js_escaped_string}");
</%static:webpack>
