## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import gettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%
  show_explore_courses = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
  self.real_user = getattr(user, 'real_user', user)
  enable_help_link = settings.FEATURES.get('ENABLE_HELP_LINK')

  support_link = configuration_helpers.get_value('SUPPORT_SITE_LINK', settings.SUPPORT_SITE_LINK)
  doc_link = get_online_help_info(online_help_token)['doc_url']

  if online_help_token == "instructor":
    help_link = doc_link
  elif support_link:
    help_link = support_link
  else:
    help_link = doc_link
%>

<header style="display: flex; justify-content: space-between; padding: 8px 72px;">
  <img src="https://launchpadedx.s3.us-west-1.amazonaws.com/logo.svg" width="160px"/>
  <div style="display: flex; align-items:center; gap: 20px;">
      <ul style="list-style: none; display: flex; gap: 40px">
          <li style="color: #000; font-size: 20px; font-weight: 900">
            % if show_explore_courses:
            <a class="${'active ' if reverse('dashboard') == request.path else ''}tab-nav-link" href="${reverse('dashboard')}" style='color : #000000'
            aria-current="${'page' if reverse('dashboard') == request.path else 'false'}">
            ${_("Dashboard")}
            </a>
          % endif
          </li>
          <li style="color: #000; font-size: 20px; font-weight: 900">
            <a class="coading-link" href="" style="color: #000"  target="_blank">${_("Coading Lab")}</a> 
          </li>
          <li style="color: #000; font-size: 20px; font-weight: 900">
            % if enable_help_link:
              <div class="mobile-nav-item hidden-mobile nav-item">
                <a class="help-link discover-new-link" style="color: #000000" href="${help_link}" rel="noopener" target="_blank">${_("Learn")}</a>
              </div>
            % endif
          </li>
      </ul>
      <ul style="list-style: none; padding: 0; display: flex; gap: 20px; align-items: center;">
          <li style="display: flex; align-items: center;"><img src="https://launchpadedx.s3.us-west-1.amazonaws.com/icon_coin_back.svg" /> <span style="color: #FFC12D; font-size: 20px; font-weight: 600">3</span> </li>
          <li style="display: flex; align-items: center;"><img src="https://launchpadedx.s3.us-west-1.amazonaws.com/icon.svg" /> <span style="color: #C88E57; margin-left: 6px; display: block; font-size: 20px; font-weight: 600">1</span> </li>
          <%include file="user_dropdown.html"/>
      </ul>
  </div>
</header>


