## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from django.conf import settings
%>

<%
  show_explore_courses = settings.FEATURES.get('COURSES_ARE_BROWSABLE') and not show_program_listing
  show_sysadmin_dashboard = settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff
  self.real_user = getattr(user, 'real_user', user)

  support_link = configuration_helpers.get_value('SUPPORT_SITE_LINK', settings.SUPPORT_SITE_LINK)
  doc_link = get_online_help_info(online_help_token)['doc_url']

  if online_help_token == "instructor":
    help_link = doc_link
  elif support_link:
    help_link = support_link
  else:
    help_link = doc_link
%>

<div class="nav-links">
  <div class="main">
    % if show_dashboard_tabs:
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="${'active ' if reverse('dashboard') == request.path else ''}tab-nav-link" href="${reverse('dashboard')}">
          ${_("Courses")}
        </a>
      </div>
      % if show_program_listing:
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
          <a class="${'active ' if reverse('program_listing_view') in request.path else ''}tab-nav-link" href="${reverse('program_listing_view')}">
            ${_("Programs")}
          </a>
        </div>
      % endif
      % if show_journal_listing:
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
          <a class="${'active ' if reverse('openedx.journals.dashboard') in request.path else ''}tab-nav-link" href="${reverse('openedx.journals.dashboard')}">
            ${_("Journals")}
          </a>
        </div>
      % endif
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="${'active ' if '/u/' in request.path  else ''}tab-nav-link" href="${reverse('learner_profile', args=[self.real_user.username])}">
          ${_("Profile")}
        </a>
      </div>
    % endif
    % if show_explore_courses:
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="tab-nav-link" href="${reverse('all_courses')}">${_('Discover New')}</a>
      </div>
    % endif
    % if show_sysadmin_dashboard:
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        ## Translators: This is short for "System administration".
        <a class="tab-nav-link" href="${reverse('sysadmin')}">${_("Sysadmin")}</a>
      </div>
    % endif
    % if settings.FEATURES.get('ENABLE_MEMBERSHIP_INTEGRATION'):
        <%
        from membership.models import VIPInfo
        %>
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
          <a class="${'active ' if reverse('membership') in request.path else ''}tab-nav-link" href="${reverse('membership_card') if VIPInfo.get_vipinfo_for_user(request.user) else reverse('membership')}">
            ${_("Membership")}
          </a>
        </div>
    % endif
    % if settings.FEATURES.get('ENABLE_PROFESSORS'):
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
          <a class="${'active ' if reverse('professor_index') in request.path else ''}tab-nav-link" href="${reverse('professor_index')}">
            ${_("Professors")}
          </a>
        </div>
    % endif
    % if settings.HMM_ENABLED and hasattr(user, 'hmm_profile') and user.hmm_profile.remaining_days > 0:
         <script>
            // 哈商
            var hmm_url = '${reverse('elitemba:hmm_entry') + '?safari_return=' + reverse('elitemba:hmm')}';
            var hmm_expiry_date = '${user.hmm_profile.expiry_date}';
            if (hmm_url && hmm_expiry_date) {
                var style = document.createElement('style');
                var css = ".nav-tab-harvard .tab-nav-link{text-align:center;position:relative;top:-9px}.nav-tab-harvard .tab-nav-link span{display:block}.nav-tab-harvard .tab-nav-link span:last-child{font-size:12px;color:#999}@media screen and (max-width:992px){.nav-tab-harvard:hover .tab-nav-link span:last-child{color:#fff}.nav-tab-harvard .tab-nav-link{text-align:left;position:static}.nav-tab-harvard .tab-nav-link span{display:inline-block}.nav-tab-harvard .tab-nav-link span:last-child{float:right;font-size:14px}}";
                if(style.styleSheet){
                    style.styleSheet.cssText = css;
                }else{
                    style.appendChild(document.createTextNode(css));
                }
                document.getElementsByTagName('head')[0].appendChild(style);

                var inline_style = "${'active' if reverse('professor_index') in request.path else ''}";
                var a = '<div class="' + inline_style + ' mobile-nav-item hidden-mobile nav-item nav-tab nav-tab-harvard"><a class="tab-nav-link" href="' + hmm_url + '"><span>${_("Harvard ManageMentor")}</span><span>${_("Expiry: ")}' + hmm_expiry_date + '</span></a></div>'
                $('.global-header .main').append(a);
            }
        </script>
    % endif
  </div>
  <div class="secondary">
    % if should_display_shopping_cart_func() and not (course and static.is_request_in_themed_site()): # see shoppingcart.context_processor.user_has_cart_context_processor
      <div class="mobile-nav-item hidden-mobile nav-item">
        <a class="shopping-cart" href="${reverse('shoppingcart.views.show_cart')}">
          <span class="icon fa fa-shopping-cart" aria-hidden="true"></span> ${_("Shopping Cart")}
        </a>
      </div>
    % endif
    <div class="mobile-nav-item hidden-mobile nav-item">
      <a class="help-link" href="${help_link}" target="_blank">${_("Help")}</a>
    </div>
    <%include file="user_dropdown.html"/>
  </div>
</div>
