.wrapper {
  @include box-sizing(border-box);
  margin: 0 auto;
  max-width: $fg-max-width;
  // min-width: $fg-min-width;
  padding: lh();
  width: flex-grid(12);
}

.subpage {
  @extend .clearfix;
  @extend .wrapper;

  > div {
    padding-left: flex-grid(4) + flex-gutter();

    @media screen and (max-width: 940px) {
      padding-left: 0;
    }

    p {
      margin-bottom: lh();
      line-height: lh();
    }

    h1 {
      margin-bottom: lh(.5);
    }

    h2 {
      font: 18px $header-font-family;
      color: #000;
      margin-bottom: lh(.5);
    }

    ul {
      list-style: disc outside none;

      li {
        list-style: disc outside none;
        line-height: lh();
      }
    }

    dl {
      margin-bottom: lh();

      dd {
        margin-bottom: lh(.5);
      }
    }
  }
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.button {
  @include border-radius(3px);
  @include inline-block();
  @include transition();
  background-color: $mit-red;
  border: 1px solid darken($mit-red, 10%);
  color: #fff;
  margin: lh() 0 lh(.5);
  padding: lh(.25) lh(.5);
  text-decoration: none;
  font-style: normal;
  @include box-shadow(inset 0 1px 0 lighten($mit-red, 8%));
  -webkit-font-smoothing: antialiased;

  &:hover {
    background-color: darken($mit-red, 10%);
    border-color: darken($mit-red, 20%);
  }

  span {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-style: italic;
  }
}

