footer {
  @extend .wrapper;
  @extend .clearfix;
  padding-top: 0;

  div.footer-wrapper {
    border-top: 1px solid #e5e5e5;
    padding: lh() 0;
    background: url('/static/images/marketing/mit-logo.png') right center no-repeat;

    a {
      color: #888;
      text-decoration: none;
      @include transition();

      &:hover, &:focus {
        color: #666;
      }
    }

    p {
      @include inline-block();
      margin-right: lh();
    }

    ul {
      @include inline-block();

      li {
        @include inline-block();

        &:after {
          content: ' |';
          display: inline;
          color: #ccc;
        }

        &:last-child {
          &:after {
            content: none;
          }
        }

      }
    }
  }
}
