// http://0.0.0.0:18000/courses/course-v1:edX+E2E-101+course/about
// 课程详情 about页
.window-wrap .content-wrapper .course-info .container{
  margin-top: 30px;
}
.course-info{ 
  /* 课程header */

  header.course-profile{
    height: auto;
    box-sizing: border-box;
    padding: 45px 20px;
    border-bottom: none;
    background: url('/static/normal-theme/images/course_dec.png');
    background-size: cover;

    .intro-inner-wrapper>div.table{
      position: relative;
    }

    .intro-inner-wrapper{
      background: rgba(255,255,255,0.7);
      box-shadow: 0px 2px 4px 0px #aab2bd;
      max-width: 1200px;
      border: none;
    }

    
    /* header 左侧 */
    .intro-inner-wrapper .table .intro{
      border: none; 
      box-shadow: none;
      padding: 50px 40px;
      width: 100%;

      >.heading-group{
        border-bottom: none;
        box-shadow: none;
        padding-bottom: 30px;
      }

      >.heading-group h1{
        font-size: 18px;
        line-height: 2;
      }

      >.heading-group span{
        font-size: 14px;
        color: $primary
      }

    
      .main-cta strong, 
      .main-cta a.add-to-cart,
      .main-cta span.register, 
      .main-cta a.register{
        @extend %btn-my-primary;
        margin-right: 10px;
        line-height: 34px;
      }

      .main-cta span.disabled, 
      .main-cta a.disabled{
        @extend %btn-my-disable;
        margin-right: 10px;
        margin-top: 0;
        line-height: 34px;
      }

      
    }

    /* header 右侧 */
    .intro-inner-wrapper .media{
      position: absolute;
      width: auto;
      right: 0;
    }
    .intro-inner-wrapper .media .hero{
      border: none;
      overflow: visible;
    }
    .intro-inner-wrapper .media .hero img{
      height: 199px;
      width: auto;
    }
  }


  /* 右侧侧栏 */
  .course-sidebar{
    font-size: 14px;

    header{
      padding: 20px 20px 15px;
      margin: 20px 0 0 0;
      box-shadow: 0px 0px 2px 0px $border;
      background: #fff;
      border-radius: $border-radius;
      &:after{
        height: 0;
      }

      .social-sharing{
        text-align: left;
        height: 55px;

        .share{
          opacity: 1;
          margin: 12px 0;
        }
        .sharing-message{
          opacity: 1;
          position: static;
          background-image: none;
          box-shadow: none;
          font-size: 14px;
          border-radius: 0;
          border: 0;
          font-style: normal;
          color: $title;
          margin-bottom: 10px;
          text-align: left;
          float: none;
          margin: 0;
          padding: 0;
          &:hover{
            opacity: 1;
          }
        }
      } 
    }

    .important-dates{
      box-shadow: 0px 0px 2px 0px $border;
      background: #fff;
      border-radius: $border-radius;
      padding: 15px 10px 10px;

      li{
        border-bottom: none;
        padding: 12px 10px;
        margin: 0;
  
        .icon{
          margin: 0 10px 0 0 ;
          position: relative;
          top: -2px;
        }
        .important-dates-item-title{
          width: 40%;
          color: $font;
        }
        .important-dates-item-text{
          font-weight: normal;
          color: $title;
          float: none;
        }
      }
    }
    
    .share{
      position: relative;
      cursor: pointer;
    }

    .qrcode-block{
      width: 190px;
      background: #fff;
      box-shadow: 0px -1px 4px 0px $border;
      position: absolute;
      bottom: 44px;
      left: -90px;
      display: none;
      p+p{
        margin-top: 0;
      }
      p{
        font-size: 14px;
      }
      .qrcode-text{
        background: $primary;
        color: #fff;
        padding: 15px;
        line-height: 1.5;
        text-align: center;
      }
      .qrcode-icon{
        position: absolute;
        left: 85px;
        bottom: -20px;
        font-size: 30px;
        stroke: #fff;
        z-index: -1;
        stroke: #47bfff;
        stroke-width: 5px;
      }
      #wechat-qrcode{
        padding: 25px 30px;
      }
    }

    .share-weixin{
      .qrcode-block{
        display: block;
      }
    }
    .share-weixin.hidden{
      .qrcode-block{
        display: none;
      }
    }
  }
  

  /* 左侧内容 */
  .details{
    box-shadow: 0px 0px 2px 0px $border;
    background: #fff;
    border-radius: $border-radius;

    .wrap-instructor-info{
      display: none;
    }
  }
}


// 课程详情内容
// tab
.course-info .details .about-tabs{
  border-bottom:1px solid #e6e9ed;
  margin: 10px 25px;
  font-size: 14px;

  .about-tab{
    display: inline-block;
    line-height: 38px;
    margin-right: 20px;
    color: $title;
    cursor: pointer;
  }
  .about-tab-active {
    border-bottom: 2px solid $primary;
    color: $primary;
  }
}

.my-theme-course-about{
  font-family: $font-family;
  font-size: 14px;
  color: $font;
  line-height: 1.8;
  padding: 10px 25px 30px;

  p{
    margin-bottom: 20px;
  }

  h3{
    font-size: 14px;
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 25px;
  }

  .about-info div{
    margin-top: 20px;
  }
  .about-staff div{
    margin-top: 10px;
  }
  

  // 1.1 课程详情页 课程简介
  .about-info{
    ul{
      padding: 0 0 0 20px;
      margin: 0;
      list-style: disc;
    }
    h3{
      margin: 10px 0;
    }
    a{
      cursor: pointer;
      line-height: 2.3;
    }
    a span{
      vertical-align: text-bottom;
      margin-left: 10px;
      transform: scale(0.95)
    }
  } 

  .about-video{
    text-align: center;
    position: relative;
    width: 270px;
    margin: 20px auto;
    cursor: pointer;

    &:hover{
      .about-play{
        background: rgba(0, 117, 180, 1);
      }
    }

    img{
      width: 270px;
    }

    .about-play{
      width: 46px;
      height: 46px;
      background: rgba(0, 117, 180, 0.65);
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -23px;
      margin-left: -23px;
      border-radius: 23px;
    }

    .fa-my-play{
      position: relative;
      top: 13px;
      left: 1px;
    }
  }

  .about-language{
    border-top: 1px solid #eeeeee;
    padding-top: 30px;
    margin-top: 30px !important;
    img{
      width: 200px;
      margin-top: 10px;
    }
  }

  // 1.2 课程性情页 授课老师 
  .about-staff-content{
    padding-left: 40px;
  }
  .about-staff-content h3{
    color:$primary;
    border-top: 1px dashed #e6e9ed;
    position: relative;
  }
  .about-staff ul{
    list-style: none;
    padding: 0;
    margin:0;
  }
  .about-staff-block{
    position: relative;
    padding-left: 150px;
    height: auto;
    min-height: 110px;
  }
  .about-staff-img{  
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 3px solid #e6e9ed;
    margin-right: 25px;
  }
  .about-staff-name{ 
    color: $primary;
    font-size: 18px;
    font-weight: bold;
    padding-top:26px;
    display: block;
  }
  


  // 1.3 课程详情页 大纲
  .about-outline{
    padding-left: 35px;

    h3{
      position: relative;
      left: -20px;
      padding-top: 25px;
      font-size: 15px;
      border-top: 2px dashed #eeeeee;
      margin: 30px 0 10px 0;
      line-height: 2;
      &:first-child{
        border-top: none;
        margin: 0;
        padding-top: 10px;
      }
      &:before{
        content: '';
        display: inline-block;
        height: 20px;
        width: 20px;
        background-size: 300px;
        background-image: url("/static/normal-theme/images/iconfont.png");
        background-position: -62px -40px;
        position: relative;
        top: 4px;
        left: -10px;
        transform: scale(0.8);
      }
    }

    p {
      padding-left: 15px;
      border-left: 3px solid #eeeeee;
      margin: 15px 0;
      line-height: 15px;
    }
  }

  .about-outline-indent{
    padding-left: 28px;
  }
  .about-outline-indent p{
    border-left: none;
  }
}


// video
.video-box .video-js{
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -400px;
  width:800px;
  height: 450px;
}
.video-box .video-js.vjs-fullscreen{
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
}	


.about-cover{
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  z-index: 100;

  .fa-my-close{
    position: absolute;
    top: 10%;
    right: 10%;
    transform: scale(2);
    cursor: pointer;
  }
}



// h5
@media screen and (max-width:990px){
  .course-info{
    .container{
      padding-top: 220px;
    }

    header.course-profile{
      padding: 15px 10px;
  
      .intro-inner-wrapper .media{
        display: none;
      }
  
      .intro-inner-wrapper .table .intro{
        padding: 20px 15px;
      }
  
    }
    .details{
      width: 100%;
    }
    .course-sidebar{
      width: 100%;
      margin-top: 10px;
      padding-top: 0;
      header{
        margin-top: 10px;
      }
    }
  }
  #player-container-id{
    width: 100%;
    height: 50%;
    top: 25%;
    left: 0;
    margin-top: 0;
    margin-left: 0;
  }
}

@media screen and (max-width:576px){
  .course-info header.course-profile{
    .main-cta strong, 
    .main-cta a.add-to-cart,
    .main-cta span.register, 
    .main-cta a.register{
      width: 100%;
      margin-top: 0;
    }

  }
  .course-info .container{
    padding-top: 220px;
  }
  .course-container{
    padding-top: 10px;
  }
  .my-theme-course-about{
    .about-staff-block{
      height: auto;
      min-height: unset;
      padding-left: 80px;
      position: relative;
    }
    .about-staff div{
      margin-top: 10px;
    }
    .about-staff-img{
      width: 60px;
      height: 60px;
    }
    .about-staff-name{
      padding-top: 0;
    }
    .about-staff-intro{
      margin-top: 3px;
      display: inline-block;
    }
  }
}

