// course tabs
.content-wrapper .course-tabs{  
  max-width: 1200px;
  margin: 0 auto;
  overflow-x:hidden !important;
  width: 96%;

  .navbar-nav{
    flex-wrap: wrap;
    padding: 10px 0;
  }
  .nav-item .nav-link{
    padding: 10px 15px 10px 10px !important;
    border: none !important;
  }
  .nav-item.active .nav-link{
    border: none;
  }
  .nav-item:hover .nav-link{
    border: none;
  }
}
/*
body.view-in-course .wrapper-course-material{
  overflow: hidden;
  .course-material{
    overflow: hidden;
  }
}
*/
.wrapper-course-material .course-material{
  overflow-x: auto;
}
body.view-in-course .wrapper-course-material .course-tabs{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 !important;
  .tab a{ 
    padding: 10px 15px 10px 10px;
    border: none;
    color: $title;
    &:hover, &:focus, &.active{
      border: 0;
      outline: none;
      color: $primary;
    }
  }
}


// course header
.content-wrapper .page-header{
  height: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid $border-gray;
  line-height: 36px;

  .breadcrumbs{
    line-height: 1.5;
    margin: 5px 0;
    .nav-item{
      vertical-align: middle;
    }
    .nav-item:not(:first-child){
      margin-left: 5px;
    }
  }

  .page-header-search{
    margin-right: 10px;
  }
  
  @media(max-width:767px){
    .form-actions{
      margin-top: 0;
    }
    .page-header-main .page-title{
      font-size: 16px;
    }
    .page-header-secondary{
      display: none;
    }
  }
}

#course-container .page-header .input-group-btn .search-button{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}




// course_course
#course-container{  
  border-radius: 3px;
  box-shadow:0px 1px 4px 0px $border;
  margin-bottom:40px;
  border:none;

  // course_course_header
  .page-header{
    .page-header-main .page-title{  
      font-size: 18px;
      margin: 0;
      line-height: 36px;
      color:$title;
      font-weight: normal;
    }
    .action-resume-course{ 
      @extend %btn-my-primary;
      vertical-align: inherit;
    }
    .input-group .field-input{
      box-sizing: border-box;
      height: 36px;
      font-size: 14px;
      padding: 0 15px;
      color: $font;
      border: 1px solid $primary;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    .btn{
      @extend %btn-my-primary;
    }
  } 

  
  // course_course_content layout
  .page-content{  
    padding: 40px 20px;
  }

  .page-content .page-content-secondary{  
    margin-left:0px;
  }

  .course-outline{ 
    padding-left: 20px;
  }

  #expand-collapse-outline-all-button{  
    @extend %btn-my-white;
    background-color: rgba(182, 220, 254, 0.5);
    span{
      padding: 0;
    }
    &:hover, &:focus{
      background-color: rgba(182, 220, 254, 0.5);
    }
  }
}




// block-tree
.course-outline .block-tree .section {
  border-bottom:none;

  button.accordion-trigger{ 
    outline:none;
    padding: 8px 0;
  }

  .section-name .section-title{  
    color:$title;
    font-size: 16px;
    padding-left: 10px;
  }

  
  ol.outline-item .subsection{ 
    border-top:none;
    margin: 0 0 0 25px;

    .subsection-title{  
      color:$font;
      margin-left:10px;
      font-size: 14px;
    }
    .vertical a.outline-item{ 
      border-top:none;
      padding: 6px 0;
      font-size: 14px;
      margin: 0 0 0 30px;
      &:hover{
        color: $primary;
      }
    }
    .subsection-text .details{  
      color:$font;
      font-size: 14px;
      margin-left: 25px;
      position: relative;
      top: 6px;
    }
  }
}


// sidebar
// course tools
.section.section-tools,.section.section-dates,.section.section-handouts{  
  padding: 15px;
}

.course-sidebar .section h3{  
  font-size: 16px;
  font-weight: normal;
  color:$title;
  margin-bottom: 15px;
}


.section.section-tools{  
  border-radius: 4px;
  border: 1px solid #e6e9ed;
  ul{ margin-bottom: 0 }
  li{ display: inline-block; width: 49%;}
}





// dates
.date-summary-container{
  .date-summary-todays-date{  
    border-left:3px solid #d8d8d8
  }
  .date-summary-verified-upgrade-deadline{  
    border-left:3px solid #d8d8d8
  }

  .date-summary{  
    padding: 6px 10px;
    color: $font;
    .heading,.date,.description{ 
      color: $font;
      font-weight: normal;
      font-size: 14px;
    }
  } 
} 

// handouts
.section.section-handouts{
  ul li a{
    color: $font;
    &:hover{ 
      color: $primary;
    }
  }
}

// welcome message
.welcome-message{
  border-radius: 3px;
  border: none;
  background: rgba(182, 220, 254, 0.1);

  p{
    margin: 0;
    line-height: 2;
    color: $font;
  }
  .dismiss-message{
    cursor: pointer;
  }
  .dismiss-message .btn-link:focus{
    outline: none;
  }
} 

// course-message
.course-message{
  .message-author{
    position: relative;
    top: 5px;
  }
  .message-content{
    color: $font;
    padding: 15px;
    border: 1px solid #e6e9ed;
    font-weight: normal;
    font-size: 16px;
    .message-header{ 
      color: $title;
      margin-bottom: 7px;
      font-weight: normal;
    }
  }
}  

// view this course as 
body.view-in-course .wrapper-preview-menu, .wrapper-preview-menu{
  background-color: rgba(182, 220, 254, 0.1);
  border: solid 1px $border;
  margin-top: 20px;
  padding: 10px 15px;
  .preview-menu{
    padding: 0;
  }
  .preview-actions .action-preview{
    select{
      width: 250px;
    }
    .action-preview-label{
      color: $primary;
      font-size: 14px;
    }
    .action-preview-username-container .action-preview-username{
      @extend %input-my;
    }
  }
  
  
}
@media screen and (max-width:767px){
  .course-sidebar{
    padding-top: 30px;
    margin-top: 30px;
  }
  .content-wrapper .page-header .form-actions{
    margin-top: 10px;
  }
  .page-header .page-header-search .search-form{
    margin-top: 5px;
  }
  .course-outline .block-tree .section{
    margin: 0 0 0 10px;
  }
  #course-container{
    .page-content{
      padding: 20px 10px;
    }
    .course-outline{
      padding-left: 0;
    }
  } 
}

@media screen and (max-width:576px){
  #course-container.page-content{
    padding: 10px;
  }
  #course-container .page-header .page-header-main .page-title{
    font-size: 16px;
    line-height: 1.8;
  }
}

// course bookmarks
.course-bookmarks .search-results .search-count{
  background: #fff;
  font-size: 14px;
  padding: 0 15px;
  font-weight: normal;
  color: $font;
}
.course-bookmarks .bookmarks-results-list{
  .fa-arrow-right{
    display: none;
  }
  .bookmarks-results-list-item:hover{
    opacity: 1;
  }
} 

// course update
.course-updates .all-updates .updates-article{
  margin: 0;
  padding: 0;
}
.courseware-results .pagination .current-page{
  left: 0;
}