body.view-in-course .container .course-wrapper{ 
  box-shadow: 0px 1px 4px 0px $border;
  border-radius: 3px;
  margin-top: 0;
  border: none;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav-button .sequence-nav-button-label{  
  display: none;
}
.xmodule_display.xmodule_SequenceModule{  
  .sequence-nav-button.button-next,.sequence-nav-button.button-previous{  
    height: 42px;
  }
  .sequence-nav ol li button{ 
    height: 43px;
  }
  .sequence-nav-button:hover{ 
    padding-top: 0px;
  }
}

// 去除光标焦点
.xmodule_display.xmodule_VideoModule .video{
  margin: 0;
}
.xmodule_display.xmodule_VideoModule .video .video-wrapper .video-controls .control{  
  outline: none;
}


.xmodule_display.xmodule_VideoModule .video .video-wrapper .closed-captions.is-visible{
  top: unset;
  bottom: 50px;
  cursor: pointer;
  padding: 8px 10px 8px 8px;
}
.xmodule_display.xmodule_VideoModule .video .video-wrapper .closed-captions.is-visible::before{
  content: '',
}
.xmodule_display.xmodule_VideoModule .video .video-wrapper .closed-captions.is-visible:hover{
  cursor: pointer;
  background: rgba(0,0,0,0.75);
}