// http://0.0.0.0:18000/courses/course-v1:edX+E2E-101+course/discussion/forum/ 课程讨论 discussion


.content-wrapper .discussion-board{
  box-shadow: 0px 1px 4px 0px $border;
  border: none;
  max-width: 1200px;
  margin: 0 auto 30px;
}

// header
.content-wrapper .discussion-board >.page-header{
  .has-breadcrumbs .breadcrumbs{
    margin-bottom: 0;
    font-size: 18px;
    margin-left: 4px;
    color: $title;

    .all-topics{
      border: none;
      font-size: 18px;
      cursor: pointer;
      padding: 0;
      &:hover, &:focus{
        color: $primary;
        text-decoration: none;
        outline: none;
      }
    }
    .fa-angle-right{
      margin: 0 5px;
    }

  }


  .forum-search{
    order: -1;
    .search-input{
      height: 36px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 14px;
      border: 1px solid $primary;
    }
    .search-button{
      @extend %btn-my-primary;
      line-height: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: 0;
    }
  }

  .btn-outline-primary{
    @extend %btn-my-primary;
    line-height: 0;
    margin-left: 10px;
    vertical-align: inherit;
  }

}


.content-wrapper .discussion-board .page-content{
  padding: 0;

  // aside
  .forum-nav-browse-menu{
    overflow-y: auto;
  }
  .forum-nav-browse-menu-wrapper{
    border: none; 
    background: none;
    padding: 10px;
  }
  .forum-nav{
    background: rgba(182, 220, 254, 0.1);
    border-right: 1px solid $border;
  }
  .forum-nav-browse-title{
    border-bottom: none;
  }
  .fa-star:before{
    color: #98ccfd;
  }

  .forum-nav-browse-filter{
    border: none;
    padding: 5px;
  }
  .forum-nav-browse-filter-input{
    border: 1px solid $border;
    padding: 8px 10px;
  }
  .forum-nav-browse-filter .icon{
    right: 20px;
  }

  // 介绍 how to use
  .discussion-body .discussion-article{
    padding: 35px 30px;
    color: $font;
  }

  .view-discussion-home{
    display: block;

    section{
      border-bottom: 1px solid #e6e9ed;
    }
    .label{
      line-height: 2;
      font-size: 14px;
      margin-bottom: 0;
    }
    .home-title{
      margin-bottom: 10px;
      color: $title;
    }
    .home-helpgrid{
      border-bottom: 1px solid #e6e9ed;
      box-shadow: none;
      line-height: 1.4;
      .row-title{
        background: none;
        border-right: 1px solid #e6e9ed;
        color: $title;
        font-size: 14px;
      }
      .row-item{
        font-size: 14px;
      }
      .row-item-full{
        .notification-checkbox{
          border: none;
        }
        .row-description{
          font-size: 14px;
        }
        label{
          margin-bottom: 0;
        }
      } 
    }

    
  }

  
  
}

@media screen and (max-width:768px){
  .discussion-column{
    margin-left: 0;
  }
  .content-wrapper .discussion-board .page-content .discussion-body .discussion-article{
    padding: 20px;
  }
}

@media screen and (max-width:576px){
  .content-wrapper{
    .discussion-board{
      .page-content .view-discussion-home{
        display: none;
      }
      .forum-search{
        margin: 10px 10px 0 0;
      }
      .forum-actions{
        margin: 10px 0 0 -10px;
      }
      .discussion-column{
        margin: 0;
      }

    } 
    .page-header{
      padding: 10px;
    }
  } 
}



// discussion other page 
.discussion-board{
  .forum-nav-sort{
    width: 50%;
  }
  .btn-primary{
    @extend %btn-my-primary;
  }
  .btn-outline-primary{
    @extend %btn-my-white;
  }
  .actions-dropdown .action-list-item{
    border: none;
  }
  .new-post-article{
    margin-top: 0;
  }
  .discussion-column{
    margin: 0;
  }
}

.forum-nav-thread-list-wrapper{
  .forum-nav-refine-bar{
    border-bottom: none;
    background: none;
  }
  .forum-nav-thread-list{
    border: none;
    overflow: hidden;
    .forum-nav-thread{
      border: none;
    }
  }
  .forum-nav-thread-wrapper-1{
    max-width: none;
  }
  .search-alert-content{
    text-align: center;
    margin-top: 20px;
  }
  
  .search-alert-controls{
    text-align: center;
  }
  .btn-link{
    border: none;
  }
}
.discussion .post-label, .discussion-article .posted-details, .discussion-post .post-context{
  font-weight: normal;
}
.forum-nav-thread-link .forum-nav-thread-labels .post-label .icon{
  vertical-align: text-top;
}
// add a discussion
.discussion-body .discussion-column .new-post-article{
  margin-top: 0;
  .forum-new-post-form{
    padding: 30px 30px 50px;
  }
}
.new-post-article .forum-new-post-form{
  .post-field .post-topic.field-input{
    height: 36px;
    padding: 0 10px;
    width: 100%;
    border: 1px solid #e6e9ed!important;
  }
  .post-field .field-label{
    width: 100%;
    font-size: 14px;
    .js-post-title{
      width: 100%;
      height: 36px;
      border: 1px solid #e6e9ed;
    }
  }

  .post-field .field-help#field_help_post_type{
    margin: 5px 0;
  }
  .post-options .icon{
    vertical-align: bottom;
  }
  .wmd-preview-label{
    padding: 10px 10px 0;
  }
  .wmd-input{
    border: 1px solid #e6e9ed;
  }
  .wmd-preview-container{
    border: 1px solid #e6e9ed;
    border-top: 0;
  }
} 