// studio animations & keyframes
// ====================

// rotate clockwise
@include keyframes(rotateCW) {
  0% {
    @include transform(rotate(0deg));
  }

  50% {
    @include transform(rotate(180deg));
  }

  100% {
    @include transform(rotate(360deg));
  }
}

// ====================

// canned rotate clockwise animation - use if you want out of the box/non-customized anim
.anim-rotateCW {
  @include animation(rotateCW 1.0s linear inifinte);
}

// rotate counter-clockwise
@include keyframes(rotateCCW) {
  0% {
    @include transform(rotate(0deg));
  }

  50% {
    @include transform(rotate(-180deg));
  }

  100% {
    @include transform(rotate(-360deg));
  }
}

// canned rotate counter-clockwise animation - use if you want out of the box/non-customized anim
.anim-rotateCCW {
  @include animation(rotateCCW 1.0s linear inifinte);
}

// ====================

// notifications slide up
@include keyframes(notificationSlideUp) {
  0% {
    @include transform(translateY(0));
  }

  90% {
    @include transform(translateY(-($notification-height)));
  }

  100% {
    @include transform(translateY(-($notification-height*0.99)));
  }
}

// ====================

// notifications slide down
@include keyframes(notificationSlideDown) {
  0% {
    @include transform(translateY(-($notification-height*0.99)));
  }

  10% {
    @include transform(translateY(-($notification-height)));
  }

  100% {
    @include transform(translateY(0));
  }
}

// ====================

// bounce in
@include keyframes(bounceIn) {
  0% {
    opacity: 0.0;
    @include transform(scale(0.3));
  }

  50% {
    opacity: 1.0;
    @include transform(scale(1.05));
  }

  100% {
    @include transform(scale(1));
  }
}

// canned bounce in animation - use if you want out of the box/non-customized anim
.anim-bounceIn {
  @include animation(bounceIn 0.5s ease-in-out 1);
}

// ====================

// bounce out
@include keyframes(bounceOut) {
  0% {
    @include transform(scale(1));
  }

  50% {
    opacity: 1.0;
    @include transform(scale(1.05));
  }

  100% {
    opacity: 0.0;
    @include transform(scale(0.3));
  }
}

// canned bounce in animation - use if you want out of the box/non-customized anim
.anim-bounceOut {
  @include animation(bounceOut 0.5s ease-in-out 1);
}
