// studio - assets - graphics
// ====================

.drag-handle {
	display: inline-block;
	float: right;
	width: 7px;
	height: 22px;
	margin-left: ($baseline/2);
	background: url(../images/drag-handles.png) no-repeat;
	cursor: move;
}

.large-advanced-icon {
	display: inline-block;
	width: 100px;
	height: 60px;
	margin-right: ($baseline/4);
	background: url(../images/large-advanced-icon.png) center no-repeat;
}

.large-discussion-icon {
	display: inline-block;
	width: 100px;
	height: 60px;
	margin-right: ($baseline/4);
	background: url(../images/large-discussion-icon.png) center no-repeat;
}

.large-html-icon {
	display: inline-block;
	width: 100px;
	height: 60px;
	margin-right: ($baseline/4);
	background: url(../images/large-html-icon.png) center no-repeat;
}

.large-problem-icon {
	display: inline-block;
	width: 100px;
	height: 60px;
	margin-right: ($baseline/4);
	background: url(../images/large-problem-icon.png) center no-repeat;
}

.large-video-icon {
	display: inline-block;
	width: 100px;
	height: 60px;
	margin-right: ($baseline/4);
	background: url(../images/large-video-icon.png) center no-repeat;
}
