.drag-handle {
	display: inline-block;
	float: right;
	width: 7px;
	height: 22px;
	margin-left: 10px;
	background: url(../img/drag-handles.png) no-repeat;
	cursor: move;
}

.large-advanced-icon {
	display: inline-block;
	width: 100px;
	height: 60px;
	margin-right: 5px;
	background: url(../img/large-advanced-icon.png) center no-repeat;
}

.large-discussion-icon {
	display: inline-block;
	width: 100px;
	height: 60px;
	margin-right: 5px;
	background: url(../img/large-discussion-icon.png) center no-repeat;
}

.large-html-icon {
	display: inline-block;
	width: 100px;
	height: 60px;
	margin-right: 5px;
	background: url(../img/large-html-icon.png) center no-repeat;
}

.large-problem-icon {
	display: inline-block;
	width: 100px;
	height: 60px;
	margin-right: 5px;
	background: url(../img/large-problem-icon.png) center no-repeat;
}

.large-video-icon {
	display: inline-block;
	width: 100px;
	height: 60px;
	margin-right: 5px;
	background: url(../img/large-video-icon.png) center no-repeat;
}
