## mako

<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="${static.url('genplus_assessments/assets/css/main.css')}"> -->
  <title></title>
</head>
<body>
  <div class="wrapper">
    <div class="content">
      <div class="container">
        <div class="intro">
          <p>Met restia nimi, officit event aut assiti occae nulpa doluptatur ad est dit quas duntemp oremperios adistium dolupta as dolo ipienis distiat emquas dignatem acerfer rumquatem est eatur, ne voluptatur? Ma culparciis volorit, cuptam fugit provit fuga. Et in nonsenistis antorro cum fuga. Sapieni squideb isimod et la que</p>
        </div>
          <div class="unit-completion">
          <h3>Units completed so far</h3>
          <ul class="completion-badges">
            % for unit in student_data.get('units'):
              % if unit.get('is_complete'):
                <li class="active">
              % else:
                <li>
              % endif
                <div class="image-frame">
                  <img src="${unit.get('unit_image_url')}" alt="${unit.get('display_name')}">
                  % if unit.get('is_complete'):
                  <img class="completed" src="${static.url('genplus_assessments/assets/images/check.png')}" alt="Completed">
                  % endif
                </div>
                <span class="text">${unit.get('display_name')}</span>
              </li>
            % endfor
          </ul>
        </div>
        % if student_data.get('booster_badges'):
        <section class="booster-badges">
          <h2>Booster badges</h2>
          <ul class="badges">
            % for badge in student_data.get('booster_badges'):
              <li>
                <img src="${ badge.get('image_url') }" alt="">
                <span class="date">${ badge.get('created').strftime('%d-%m-%Y') }</span>
              </li>
            % endfor
          </ul>
        </section>
        % endif
        <section class="skills-assessment">
          <div class="assessment-intro">
            <h2>Report Questionnaire Colour Key</h2>
            <div class="year-info start">
              <img src="${static.url('genplus_assessments/assets/images/start.png')}" width="32" alt="" />
              Questions to be filled in at the <strong>start of the year</strong>.
            </div>
            <div class="year-info end">
              <img src="${static.url('genplus_assessments/assets/images/end.png')}" width="32" alt="" />
              Questions to be filled in at the <strong>end of the year</strong>.
            </div>
          </div>
          % for program_skill_assessment in student_data.get('skills_assessment'):
            % for question_id, question in program_skill_assessment.items():
              % if question.get('assessment_type') == 'genz_rating_assessment':
                <div class="rating-assessment">
                  <div class="question-text">
                    <p><strong>Question ${ question_id }: &nbsp;</strong>${ question.get('problem_statement')}</p>
                  </div>
                  % if question.get('total_problem_score'):
                  <div class="year-info start">
                    <img src="${static.url('genplus_assessments/assets/images/start.png')}" width="32" alt="" />
                    <ul class="star-rating">
                      % for i, star in enumerate(range(question.get('total_problem_score', 0))):
                        % if i < question.get('score_start_of_year'):
                          <li><img src="${static.url('genplus_assessments/assets/images/star-fill.png')}" width="25" alt="Favourite" /></li>
                        % else:
                          <li><img src="${static.url('genplus_assessments/assets/images/star-outline.png')}" width="25" alt="Favourite" /></li>
                        % endif
                      % endfor
                    </ul>
                  </div>
                  % endif
                  % if question.get('total_problem_score'):
                  <div class="year-info end">
                    <img src="${static.url('genplus_assessments/assets/images/end.png')}" width="32" alt="" />
                    <ul class="star-rating">
                      % for i, star in enumerate(range(question.get('total_problem_score', 0))):
                        % if i < question.get('score_end_of_year'):
                          <li><img src="${static.url('genplus_assessments/assets/images/star-fill.png')}" width="25" alt="Favourite" /></li>
                        % else:
                          <li><img src="${static.url('genplus_assessments/assets/images/star-outline.png')}" width="25" alt="Favourite" /></li>
                        % endif
                      % endfor
                    </ul>
                  </div>
                  % endif
                </div>
                <hr />
              % elif question.get('assessment_type') == 'genz_text_assessment':
                <div class="text-assessment">
                  <div class="question-text">
                    <p><strong>Question ${ question_id }: &nbsp;</strong>${ question.get('problem_statement')}</p>
                  </div>
                  <div class="answers">
                    % if question.get('response_start_of_year'):
                    <div class="answer-list start-year">
                      <img src="${static.url('genplus_assessments/assets/images/start.png')}" width="32" alt="" />
                      <ul>
                        % for response in question.get('response_start_of_year', []):
                          <li>${ response }</li>
                        % endfor
                      </ul>
                    </div>
                    % endif
                    % if question.get('response_end_of_year'):
                    <div class="answer-list end-year">
                      <img src="${static.url('genplus_assessments/assets/images/end.png')}" width="32" alt="" />
                      <ul>
                        % for response in question.get('response_end_of_year', []):
                          <li>${ response }</li>
                        % endfor
                      </ul>
                    </div>
                    % endif
                  </div>
                </div>
                <hr />
              % endif
            % endfor
          % endfor
        </section>
        <section>
          <div class="unit-completion">
            <h3>Units completed so far</h3>
            <ul class="completion-badges">
              % for unit in student_data.get('units'):
                % if unit.get('is_complete'):
                  <li class="active">
                % else:
                  <li>
                % endif
                  <div class="image-frame">
                    <img src="${unit.get('unit_image_url')}" alt="${unit.get('display_name')}">
                    % if unit.get('is_complete'):
                    <img class="completed" src="${static.url('genplus_assessments/assets/images/check.png')}" alt="Completed">
                    % endif
                  </div>
                  <span class="text">${unit.get('display_name')}</span>
                </li>
              % endfor
            </ul>
          </div>
          <div>
            <p>In each unit, pupils complete a series of questions to assess their knowledge and
              understanding of the skills being taught. They are also asked to reflect on their own
              learning. A selection of their reflections are highlighted below.</p>
          </div>
        </section>
        <hr />

        % for unit in student_data.get('units'):
          % if unit.get('reflections'):
            <div class="section-wrapper">
              <section class="section">
                <div class="heading">
                  <div class="image-frame">
                    <img src="${unit.get('unit_image_url')}" alt="Question">
                  </div>
                  <div class="text-block">
                    <h2>${unit.get('display_name')}</h2>
                  </div>
                </div>
                <div class="content">
                  % for reflection in unit.get('reflections'):
                    % for result in reflection.get('results'):
                  <p>
                    <strong>${ result.get('question') }</strong>
                    <br />
                    ${ result.get('answer') }
                  </p>
                    % endfor
                  % endfor
                </div>
              </section>
            </div>
          % endif
        % endfor

        % if student_data.get('booster_badges'):
        <section class="booster-badges">
          <h2>Booster badges</h2>
          <ul class="badges">
            % for badge in student_data.get('booster_badges'):
              <li>
                <img src="${ badge.get('image_url') }" alt="">
                <span class="date">${ badge.get('created').strftime('%d-%m-%Y') }</span>
              </li>
            % endfor
          </ul>
        </section>
        % endif
        % if student_data.get('teacher_feedbacks'):
        <section class="teacher-feedbacks">
          <div class="section-wrapper">
            <section class="section">
              <div class="heading">
                <div class="image-frame">
                  <img src="${static.url('genplus_assessments/assets/images/Question.png')}" alt="Question">
                </div>
                <div class="text-block">
                  <h2>Teacher Comments</h2>
                </div>
              </div>
              <div class="content">
                % for key, value in student_data.get('teacher_feedbacks').items():
                <h3>Comments from ${ value.get('teacher_name') }:</h3>
                  % for comment in value.get('comments'):
                    <blockquote>
                      <q>${ comment.get('description') }</q>
                      <cite>${ comment.get('datetime').strftime('%d-%m-%Y') }</cite>
                    </blockquote>
                  % endfor
                % endfor
              </div>
            </section>
          </div>
        </section>
        % endif
      </div>
    </div>
  </div>
</body>
</html>
