// forums - inline discussion styling
// ====================

@import '../../edx-pattern-library-shims/form';

.discussion.inline-discussion {
  .inline-threads {
    border: 1px solid var(--forum-color-border);
    border-radius: var(--forum-border-radius);
  }

  .inline-thread {
    border: 1px solid var(--forum-color-border);
    border-radius: var(--forum-border-radius);

    .forum-nav-bar {
      padding: calc(var(--baseline) / 2) calc(var(--baseline) / 4);
      color: var(--forum-color-navigation-bar);
      position: relative;

      .all-posts-btn {
        color: var(--forum-color-primary);

        .icon {
          @include margin-left(calc(var(--baseline) / 2));
        }
      }
    }

    .forum-content {
      padding: calc(var(--baseline) / 2);
      overflow-y: auto;
    }
  }

  .new-post-article {
    position: relative;
    border: 1px solid var(--forum-color-border);

    .add-post-cancel {
      @include right(calc(var(--baseline) / 2));

      top: calc(var(--baseline) / 2);
      position: absolute;
      color: theme-color("primary");

      &:hover,
      &:focus {
        border-color: transparent;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
      }
    }
  }
}
