.forum-search {
  display: flex;
  margin-top: $baseline;

  .search-input {
    width: input-width(short);
  }

  .search-button {
    margin-left: 0;
  }

  @include media-breakpoint-up(sm) {
    @include margin-left($baseline);

    margin-top: 0;
  }
}
