<div class="discussion-content local{{#content.roles}} role-{{name}}{{/content.roles}}">
  <div class="discussion-content-wrapper">
    <div class="discussion-votes">
      <a class="discussion-vote discussion-vote-up" href="javascript:void(0)" value="up">&#9650;</a>
      <div class="discussion-votes-point">{{content.votes.point}}</div>
      <a class="discussion-vote discussion-vote-down" href="javascript:void(0)" value="down">&#9660;</a>
    </div>
    <div class="discussion-right-wrapper">
      <ul class="admin-actions">
        <li style="display: none;"><a href="javascript:void(0)" class="admin-endorse">Endorse</a></li>
        <li style="display: none;"><a href="javascript:void(0)" class="admin-edit">Edit</a></li>
        <li style="display: none;"><a href="javascript:void(0)" class="admin-delete">Delete</a></li>
        {{#thread}}
          <li style="display: none;"><a href="javascript:void(0)" class="admin-openclose">{{close_thread_text}}</a></li>
        {{/thread}}
      </ul>
      {{#thread}}
        <a class="thread-title" name="{{content.id}}" href="javascript:void(0)">{{content.displayed_title}}</a>
      {{/thread}}
      <div class="discussion-content-view">
        <a name="{{content.id}}" style="width: 0; height: 0; padding: 0; border: none;"></a>
        <div class="content-body {{content.type}}-body" id="content-body-{{content.id}}">{{content.displayed_body}}</div>
        {{#thread}}
          <div class="thread-tags">
            {{#content.tags}}
              <a class="thread-tag" href="{{##url_for_tags}}{{.}}{{/url_for_tags}}">{{.}}</a>
            {{/content.tags}}
          </div>
        {{/thread}}
        <div class="info">
          <div class="comment-time">
            <span class="timeago" title="{{content.updated_at}}">sometime</span> by
            {{#content.anonymous}}
              anonymous
            {{/content.anonymous}}
            {{^content.anonymous}}
              <a href="{{##url_for_user}}{{content.user_id}}{{/url_for_user}}" class="{{#content.roles}}author-{{name}} {{/content.roles}}">{{content.username}}</a>
            {{/content.anonymous}}
          </div>
          <div class="show-comments-wrapper">
            {{#thread}}
              {{#partial_comments}}
                <a href="javascript:void(0)" class="discussion-show-comments first-time">Show all comments (<span class="comments-count">{{content.comments_count}}</span> total)</a>
              {{/partial_comments}}
              {{^partial_comments}}
                <a href="javascript:void(0)" class="discussion-show-comments">Show <span class="comments-count">{{content.comments_count}}</span> {{##pluralize}}{{content.comments_count}} comment{{/pluralize}}</a>
              {{/partial_comments}}
            {{/thread}}
          </div>
          <ul class="discussion-actions">
            {{^max_depth}}
              <li><a class="discussion-link discussion-reply discussion-reply-{{content.type}}" href="javascript:void(0)">Reply</a></li>
            {{/max_depth}}
            {{#thread}}
              <li><div class="follow-wrapper"><a class="discussion-link discussion-follow-thread" href="javascript:void(0)">Follow</a></div></li>
            {{/thread}}
            <li><a class="discussion-link discussion-permanent-link" href="{{content.permalink}}">Permanent Link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
