<%! from django.utils.translation import ugettext as _ %>

<article class="discussion-article" data-id="{{id}}">
    <div class="thread-wrapper">
        <div class="thread-content-wrapper"></div>
        <div class="post-extended-content">
          <div class="response-count"/>
          <div class="add-response">
              <button class="button add-response-btn">
                  <i class="icon icon-reply"></i>
                  <span class="add-response-btn-text">${_('Add A Response')}</span>
              </button>
          </div>
          <ol class="responses"/>
          <div class="response-pagination"/>
          {{#ability.can_reply}}
          <form class="local discussion-reply-new"  data-id="{{id}}">
              <h4>${_("Post a response:")}</h4>
              <ul class="discussion-errors"></ul>
              <div class="reply-body" data-id="{{id}}"></div>
              <div class="reply-post-control">
                  <a class="discussion-submit-post control-button" href="#">${_("Submit")}</a>
              </div>
          </form>
          {{/ability.can_reply}}
        </div>
    </div>

    <div class="local post-tools">
        <a href="javascript:void(0)" class="expand-post"><span class="icon icon-plus"/> ${_("Expand discussion")}</a>
        <a href="javascript:void(0)" class="collapse-post"><span class="icon icon-minus"/> ${_("Collapse discussion")}</a>
    </div>

</article>
