<article class="discussion-article" data-id="{{id}}">
    <div class="thread-content-wrapper"></div>

    <ol class="responses post-extended-content">
        <li class="loading"><div class="loading-animation"><span class="sr">Loading content</span></div></li>
    </ol>
    <form class="local discussion-reply-new post-extended-content"  data-id="{{id}}">
        <h4>Post a response:</h4>
        <ul class="discussion-errors"></ul>
        <div class="reply-body" data-id="{{id}}"></div>
        <div class="reply-post-control">
            <a class="discussion-submit-post control-button" href="#">Submit</a>
        </div>
    </form>

    <div class="local post-tools">
        <a href="javascript:void(0)" class="expand-post">View discussion</a>
        <a href="javascript:void(0)" class="collapse-post">Hide discussion</a>
    </div>

</article>