.wrapper-footer {
    width: 100%;
    // padding: 2rem 1rem;
    box-sizing: border-box;
    height: $footer-height;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-top: 1px solid $color-stroke;

    @media only screen and (max-width: $breakpoint-tablet-sm) {
        padding-left: $padding-mobile !important;
        padding-right: $padding-mobile !important;
    }

    @media only screen and (min-width: $breakpoint-tablet-sm) and (max-width: $breakpoint-tablet-lg) {
        padding-left: $padding-tablet-sm !important;
        padding-right: $padding-tablet-sm !important;
    }

    @media only screen and (min-width: $breakpoint-tablet-lg) and (max-width: $breakpoint-desktop) {
        padding-left: $padding-tablet-lg !important;
        padding-right: $padding-tablet-lg !important;
    }

    @media only screen and (min-width: $breakpoint-desktop) {
        padding-left: $padding-desktop !important;
        padding-right: $padding-desktop !important;
    }

    p {
        a {
            img {
                width: auto !important;
                height: 32px !important;
            }
        }
    }
}

.wrapper-footer footer#footer-openedx {
    width: 100%;
    margin: 0 auto;
}

p#footer_copyright {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
}
