// docs.edx.org - Index View
// ====================

.view--index {
  border-top: ($baseline/4) solid $blue-t1;
  background: $white url('../images/bg-subtlepatterns-carbonfiber.png') 0 0 repeat;

  // grid
  .wrapper--view {
    @include pad(($baseline*2) ($baseline*3));

    // BP: mobile
    @include media($bp-m) {
      @include pad(($baseline) ($baseline*1.5));
    }
  }

  // ====================

  // general
  *[class$="__title"] {
    color: $gray;
  }

  *[class$="__copy"]{
    color: $gray-l2;

    p {
      @extend %ui-wipe-last-child;
      margin-bottom: $baseline;
    }
  }

  // ====================

  // elems: info bits
  .info {
    @extend %ui-wipe-last-child;
    margin-bottom: ($baseline*2);
  }

  // elems: docs lists
  .list--docs {

    // audience
    .item-audience {
      margin-bottom: ($baseline/2);
      border-bottom: ($baseline/4) solid $gray-l5;
    }

    .icon-stack {
      @extend %t-icon-l;
      position: absolute;
      top: -($baseline);
      left: -($baseline/4);

      .icon-stack-base {
        @include transition(color $tmg-f1 ease-in-out);
        color: $gray-l5;
      }

      .icon-light {
        @include font-size(20);
        position: relative;
        top: -($baseline/10);
      }
    }

    .item-audience__title {
      @extend %t-title-4;
      @extend %t-weight3;
      margin-bottom: ($baseline/2);
    }

    .item-audience__copy {
      @extend %t-copy-base;
      margin-bottom: $baseline;

      // BP: small desktop
      @include media($bp-ds) {
       // NOTE: drat! typography extends don't work
        @include font-size(14);
        @include lh(14);
      }

      // BP: mobile
      @include media($bp-m) {
        // NOTE: drat! typography extends don't work
        @include font-size(14);
        @include lh(14);
      }
    }


    // audience: link lists
    .list--links {

      .item-link__title {
        @extend %t-title-6;
        color: $blue-u1;
        margin-bottom: ($baseline/4);
      }

      .item-link__copy {
        @include transition(color $tmg-f1 ease-in-out);
        @extend %t-copy-sub1;
        color: $gray-l3;
      }

      .item-link__updated-date {
        @extend %t-copy-sub1;
        @extend %t-weight3;
        margin-bottom: ($baseline/2);
        color: $gray-l3;
      }
    }

    // audience: link lists - ixd
    .item-link__action {
      @include transition(background $tmg-f1 ease-in-out);

      &:hover {
        .item-link__title {
          color: $blue-s1;
        }

        .item-link__copy {
          color: $gray-l1;
        }
      }

      &:visited {
        opacity: 0.9;
      }
    }
  }

  // elems: introduction
  .introduction {
    margin-bottom: ($baseline*2);
  }

  // ====================

  // masthead
  .wrapper--header {
    background: $blue url('../images/bg-subtlepatterns-struckaxiom.png') 0 0 repeat;
    @include outer-container;
    @include pad(0 ($baseline*4));
    border-bottom: ($baseline/4) solid $blue;
    position: relative;

    // BP: medium desktop
    @include media($bp-dm) {
      @include pad(0 ($baseline*4));
    }

    // BP: small desktop
    @include media($bp-ds) {
      @include pad(0 ($baseline*2));
    }

    // BP: mobile
    @include media($bp-m) {
      @include pad(0 ($baseline*2));
    }
  }

  .header--primary {
    @include span-columns(12);
    position: relative;
  }

  // masthead: brand
  .wrapper--logo {
    @include pad(($baseline*0.75) $baseline);
    position: relative;
    top: -($baseline/2);
    display: block;
    width: 15%;
    margin: 0 auto;
    box-shadow: 0 2px 2px 0 $shadow-l1;
    border-top: ($baseline/4) solid $blue-s1;
    background: $white-t;

    // BP: medium desktop
    @include media($bp-dm) {
      width: 20%;
    }

    // BP: small desktop
    @include media($bp-ds) {
      width: 30%;
    }

    // BP: mobile
    @include media($bp-m) {
      width: 40%;
    }

    *[class^="depth"] {
      position: absolute;
      top: -($baseline/4);
    }

    .depth-left {
      @include triangle(($baseline/2), $blue-d3, down-right);
      left: -($baseline/2);
    }

    .depth-right {
      @include triangle(($baseline/2), $blue-d3, down-left);
      right: -($baseline/2);
    }
  }

  .logo-edx {
    width: 100%;
    display: block;
  }

  // masthead: title
  .wrapper--title {
    @include span-columns(12 of 12);
    position: relative;
    top: -($baseline*2);

    // BP: medium desktop
    @include media($bp-dm) {
      top: -($baseline*1.5);
    }

    // BP: small desktop
    @include media($bp-ds) {
      top: -($baseline);
    }

    // BP: mobile
    @include media($bp-m) {
      top: -($baseline/2);
    }
  }

  .logo-docs {
    @extend %t-title-1;
    @extend %t-weight0;
    display: block;
    margin-bottom: ($baseline/2);
    color: $white-t;
    cursor: default ;

    // BP: small desktop
    @include media($bp-ds) {
      // NOTE: drat! typography extends don't work
      @include font-size(48);
      @include lh(48);
    }

    // BP: medium desktop
    @include media($bp-ds) {
      // NOTE: drat! typography extends don't work
      @include font-size(48);
      @include lh(48);
    }

    // BP: mobile
    @include media($bp-m) {
      // NOTE: drat! typography extends don't work
      @include font-size(36);
      @include lh(36);
    }
  }

  .header__tagline {
    @extend %t-title-4;
    @extend %t-weight2;
    position: relative;
    top: -($baseline/2);
    color: $white-t;

    // BP: small desktop
    @include media($bp-ds) {
      // NOTE: drat! typography extends don't work
      @include font-size(20);
      @include lh(20);
    }

    // BP: mobile
    @include media($bp-m) {
      // NOTE: drat! typography extends don't work
      @include font-size(18);
      @include lh(18);
    }
  }

  // ====================

  // content
  .wrapper--content {
    @include outer-container;
  }

  // main content
  .content--view {
    @include pad(($baseline*2));
    box-shadow: 0 2px 2px 0 $shadow-l1;
    background: $white-t;
  }

  .content__main {
    margin-bottom: ($baseline*2);

    .introduction__copy {
      @extend %t-copy-lead1;

      // BP: small desktop
      @include media($bp-ds) {
        // NOTE: drat! typography extends don't work
        @include font-size(16);
        @include lh(16);
      }

      // BP: mobile
      @include media($bp-m) {
        // NOTE: drat! typography extends don't work
        @include font-size(16);
        @include lh(16);
      }
    }

    // elem: audience lists
    .item-audience {
      margin-bottom: ($baseline*2);

      // BP: small desktop
      @include media($bp-ds) {
        margin-bottom: ($baseline*2);
      }

      // NOTE: semi-nasty hack for visual display harmony
      .list--links {
        @include row();
        margin-top: ($baseline*0.75);

        &:first-child {
          margin-top: 0;
        }

        // BP: medium desktop
        @include media($bp-dm) {
          margin-top: 0;
        }

        // BP: small desktop
        @include media($bp-ds) {
          margin-top: 0;
        }

        // BP: mobile
        @include media($bp-m) {
          margin-top: 0;
        }
      }

      .item-link {
        margin-bottom: $baseline;

        // BP: large desktop
        @include media($bp-dl) {
          @include span-columns(4 of 12);
          @include omega(3n);
          min-height: ($baseline*6);
        }

        // BP: medium desktop
        @include media($bp-dm) {
          @include span-columns(6 of 12);
          @include omega(2n);
          min-height: ($baseline*6);
        }

        // BP: small desktop
        @include media($bp-ds) {
          @include fill-parent();
        }

        // BP: mobile
        @include media($bp-m) {
          @include fill-parent();
        }
      }
    }
  }

  .content__supplementary {

    .info__title {
      @extend %t-title-4;
      @extend %t-weight3;
      margin-bottom: ($baseline/2);
    }

    .info__copy {
      @extend %t-copy-base;

      // BP: small desktop
      @include media($bp-ds) {
       // NOTE: drat! typography extends don't work
        @include font-size(14);
        @include lh(14);
      }

      // BP: mobile
      @include media($bp-m) {
        // NOTE: drat! typography extends don't work
        @include font-size(14);
        @include lh(14);
      }
    }
  }
}
