<%! from django.utils.translation import ugettext as _ %>
<%!
  from django.core.urlresolvers import reverse
%>

<%namespace name='static' file='../static_content.html'/>

<section id="change_language" class="modal modal-settings-language" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="change_language_title">
    <button class="close-modal">&#10005; <span class="sr">${_('Close Modal')}</span></button>

    <header>
      <h2><span id="change_language_title">${_("Change Preferred Language")}</span><span class="sr">, ${_("modal open")}</span></h2>
      <hr/>
    </header>
    <div id="change_language_body">
      <form action="/i18n/setlang/" method="post" class="settings-language-form" id="settings-form">
      <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
        <ol class="list-input">
          <li class="field text settings-language-select" id="settings-language-select">
            <label class="label sr" for="settings-language-value">${_("Please choose your preferred language")}</label>
            <select class="input select" id="settings-language-value" name="language">
            % for abbrv in language_options:
              % for language in settings.LANGUAGES:
                % if abbrv == language[0]:
                  % if abbrv == current_language['code']:
                    <option value="${language[0]}" selected="selected">${language[1]}</option>
                  % else:
                    <option value="${language[0]}">${language[1]}</option>
                  % endif
                % endif
              % endfor
            % endfor
            </select>
          </li>
        </ol>

        <div class="submit">
          <input type="submit" id="submit-lang" value="${_('Save Language Settings')}" />
        </div>
      </form>
    </div>
  </div>
</section>
